---
layout: layout-basic.njk
title: Announcement
tags:
  - component
status:
  - coded: true
    repos:
      studio: true
      pfe: false
      drupal: false
      target: false
      others: false
---

{% import 'component/components.njk' as components %}

{% call components.section("Overview") -%}

  <p>An Announcement is a short banner that promotes an important message. It can be used across websites, depending on the relevance of the message and the target audience.</p>

{%- endcall %}

{% call components.section("Sample component") -%}

  {% call components.example(palette='medium') %}
    <div class="">
      <img src="{{ '/assets/announcement/announcement-sample-1.svg' | url }}" alt="Example of an announcement banner">
    </div>
  {% endcall %}

{%- endcall %}

{%- componentStatus -%}{% endcomponentStatus %}

{% call components.section("Style") -%}

  <p>An announcement banner can be used in light, dark, and saturated themes. It can feature elements like text, a button, a call to action, icons, imagery, or a background container.</p>

  {% call components.example(palette='medium') %}
    <div class="centered">
      <img src="{{ '/assets/announcement/announcement-style-1.svg' | url }}" alt="Anatomy of an announcement banner" style="--inline-img-max-width: 872px;">
    </div>
  {%- endcall %}

{%- endcall %}

{% call components.section("Theme") -%}

  {% call components.example(palette='medium') %}
    <div class="margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/announcement/announcement-theme-1.svg' | url }}" alt="Announcement banner on light theme" style="--inline-img-max-width: 872px;">
    </div>
  {%- endcall %}

  {% call components.example(palette='light') %}
    <div class="margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/announcement/announcement-theme-2.svg' | url }}" alt="Announcement banner on dark theme" style="--inline-img-max-width: 872px;">
    </div>
  {%- endcall %}

{%- endcall %}

{% call components.section("Usage") -%}

  <p>An announcement banner can promote a popular event or advertise an important organizational or product announcement.</p>

  <h4>Grid</h4>

  <p>An announcement banner doesn’t fall within the grid. It spans the entire width of a browser window on all screens whereas the content of the banner itself should fall within the standard grid.<p>

  <div class="margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/announcement/announcement-usage-1.svg' | url }}" alt="Announcement banner spanning entire width of browser window">
  </div>

  <h4>Layout</h4>

  <p>An announcement banner should be positioned above the navigation so it becomes the highest layout in hierarchy. It can also be used across different pages to better attract attention from visitors who might be coming from different places.<p>

  {% call components.example(palette='medium') %}
    <div class="">
      <img src="{{ '/assets/announcement/announcement-usage-2.svg' | url }}" alt="Announcement banner positioned above the main menu on Redhat.com">
    </div>
  {%- endcall %}

  <h4>Content</h4>

  <p>Any content within an announcement banner can either be center-aligned or aligned to the left and right sides, depending on the amount of content and what its objective is.</p>

  {% call components.example(palette='medium') %}
    <div class="">
      <img src="{{ '/assets/announcement/announcement-usage-content.svg' | url }}" alt="One announcement banner showing center-aligned content and one showing left and right-aligned content">
    </div>
  {%- endcall %}

{%- endcall %}

{% call components.section("Best practices") -%}

  <p>Do not position the announcement banner below the navigation.</p>

  {% call components.example(palette='wrong') %}
    <div class="">
      <img src="{{ '/assets/announcement/announcement-bestpractice-1.svg' | url }}" alt="Example of an announcement banner below the primary navigation" style="--inline-img-max-width: 872px;">
    </div>
  {%- endcall %}

{%- endcall %}

{% call components.section("Behavior") -%}

  <h4>Persistence</h4>

  <p>An announcement banner sits above the navigation and can be sticky, but should not be visible on scroll if the navigation of the site is also in fixed position.</p>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Responsive design") -%}

  <h4>Breakpoints</h4>

  <p>An announcement banner works well across both large and small screens. The elements inside will stack in one column and become vertically-aligned on small screens.</p>

  <h4>Desktop</h4>

  <div class="margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/announcement/announcement-responsive-1.svg' | url }}" alt="Example of an announcement banner on desktop">
  </div>

  <h4>Tablet</h4>

  <div class="margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/announcement/announcement-responsive-2.svg' | url }}" alt="Example of an announcement banner on tablet" style="--inline-img-max-width: 768px;">
  </div>

  <h4>Mobile</h4>

  <div class="margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/announcement/announcement-responsive-3.svg' | url }}" alt="Example of an announcement banner on mobile" style="--inline-img-max-width: 360px;">
  </div>

  <p class="footnote">Some text styles reduce in size on small screens. Learn more about <a href="../../foundations/typography">typography</a> on mobile</p>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Interaction states") -%}

  <p>Since announcement banners can consist of a variety of elements, refer to the specific interaction states that are assigned to each style and component for more information.</p>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--9">

{% call components.section("Spacing") -%}

  <p>The announcement banner uses <a href="https://www.patternfly.org/v4/guidelines/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

  {% call components.example(palette='medium') %}
    <div class="">
      <img src="{{ '/assets/announcement/announcement-spacing-1.svg' | url }}" alt="Example of an announcement banner with spacers">
    </div>
  {%- endcall %}

{%- endcall %}

<div class="multi-column--min-300-wide">

  {% call components.section("Feedback") -%}
    <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  {%- endcall %}

  {% call components.section("Foundations") -%}
    <p>To learn how to use our other components in your designs, visit the <a href="/components">Components</a> section.</p>
  {%- endcall %}

</div>
