---
layout: layout-basic.njk
title: Card
tags:
  - component
includeComponent:
  - pfe-card
---

{% import 'component/components.njk' as components %}

{% call components.section("Overview") -%}
    <p>Cards are flexible surfaces used to group information in a small layout. They give small previews of information or provide secondary content in relation to the content it's near. Several cards can be used together to group related information.</p>
{%- endcall %}

{% call components.section("Sample component") -%}
    <img src="{{ '/assets/card/card.svg' | url }}" alt="A basic card" style="--inline-img-max-width: 360px;">
{%- endcall %}

{%- componentStatus -%}{% endcomponentStatus %}

{% call components.section("Demo") -%}

  <p>View a live version of this component and see how it can be customized.</p>

  <rh-cta>
    <a href="https://patternflyelements.org/components/card/">View the PatternFly Elements component</a>
  </rh-cta>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Style") -%}

    <p>Cards can be used in light and dark themes. They act as a blank canvas where elements and styles can be placed inside.</p>

    {% call components.example(palette='light') %}
      <div class="inline-flex centered">
        <img src="{{ '/assets/card/card-style.svg' | url }}" alt="A breakdown of the parts of a card" style="--example-img-max-width: 599px;">
      </div>
    {%- endcall %}

{%- endcall %}

{% call components.section("Theme") -%}

    {% call components.example(palette='light') %}
      <div class="inline-flex centered ">
        <img src="{{ '/assets/card/card-theme-light.svg' | url }}" alt="Card in light theme" style="--example-img-max-width: 784px;">
      </div>
    {%- endcall %}

    {% call components.example(palette='darkest') %}
      <div class="inline-flex centered ">
        <img src="{{ '/assets/card/card-theme-dark.svg' | url }}" alt="Card in dark theme" style="--example-img-max-width: 784px;">
      </div>
    {%- endcall %}

    <h4>Color</h4>
    <p>Cards are secondary layouts that shouldn’t command too much attention and blend in with whatever background they’re placed on. The card container is the only required element and it consists of a background color and rounded corners. A thin border is required if the card background is the same color as the background it's placed on.</p>

    <div class="multi-column--min-400-wide margin-top--4">
      <div>
        {% call components.example(palette='light') %}
          <div class="centered">
            <img src="{{ '/assets/card/card-color-light-white.svg' | url }}" alt="White card colors" style="--example-img-max-width: 242px;">
          </div>
        {%- endcall %}
        <p class="footnote">A white card with a light gray border is the most common use case in the light theme</p>
      </div>
      <div>
        {% call components.example(palette='light') %}
          <div class="centered">
            <img src="{{ '/assets/card/card-color-light-gray.svg' | url }}" alt="Gray card colors" style="--inline-img-max-width: 242px;">
          </div>
        {%- endcall %}
        <p class="footnote">A light gray card without a border can also be used as an alternate option</p>
      </div>
      <div>
        {% call components.example(palette='darkest') %}
          <div class="centered">
              <img src="{{ '/assets/card/card-color-dark-black.svg' | url }}" alt="Black card colors" style="--inline-img-max-width: 242px;">
          </div>
        {%- endcall %}
        <p class="footnote">A black card with a dark gray border is the most common use case in the dark theme</p>
      </div>
      <div>
        {% call components.example(palette='darkest') %}
        <div class="centered">
          <img src="{{ '/assets/card/card-color-dark-gray.svg' | url }}" alt="Dark theme gray card colors" style="--inline-img-max-width: 242px;">
        </div>
        {%- endcall %}
        <p class="footnote">A dark gray card without a border can also be used as an alternate option</p>
      </div>
    </div>

  <h4>Layout</h4>
    <p>A card features header, body, and footer sections. Those sections should include a limited amount of content to ensure that the card doesn’t become too tall.</p>

      {% call components.example(palette='light') %}
      <div class="multi-column--min-400-wide">
        <div class="">
          <img src="{{ '/assets/card/card-layout-1.svg' | url }}" alt="Example of a card layout" style="--example-img-max-width: 360px;">
        </div>
        <div class="">
          <img src="{{ '/assets/card/card-layout-2.svg' | url }}" alt="Anatomy of a card layout" style="--example-img-max-width: 360px;">
        </div>
      </div>
      {%- endcall %}
    <h4>Header</h4>
    <p>The header section is required, it introduces what the content is and shouldn’t be hidden.</p>

    <h4>Body</h4>
    <p>The body section can include a headline, text, an icon, or sometimes an image. The body section describes the content in more detail and shouldn’t be hidden.</p>

    <h4>Footer</h4>
    <p>The footer section can include normal links or a call to action. It can be hidden if necessary if there’s content included where a user can take an action.</p>
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Usage") -%}
    <h4>Variants</h4>
    <p>There are several card variants that can be used for a variety of use cases.</p>

    <div class="multi-column--min-400-wide margin-top--4 margin-bottom--8">
        <div>
            <h4>Basic</h4>
            <p>Use to display basic content or long paragraphs of text. Secondary and Default calls to action may be used.</p>
        </div>
        <div>
            <h4>List</h4>
            <p>Use to display a short amount of content using various list styles. Secondary and Default calls to action may be used.</p>
        </div>
        <div>
            <h4>Data</h4>
            <p>Use to display quick facts or short data points under a label. A Secondary call to action may be used or not.</p>
        </div>
        <div>
            <h4>Logo</h4>
            <p>Use to display a customer logo in a variety of arrangements. A call to action is required, otherwise use a logo wall.</p>
        </div>
        <div>
            <h4>Bar</h4>
            <p>Use to add a small icon and a label group to the header section. A larger icon or a logo may be used.</p>
        </div>
        <div>
            <h4>Icon</h4>
            <p>Use to add an icon to the basic style above the text. Secondary and Default calls to action may be used.</p>
        </div>
        <div>
            <h4>Image</h4>
            <p>Use to add an image to the basic style above the text. Secondary and Default calls to action may be used.</p>
        </div>
        <div>
            <h4>Asset</h4>
            <p>Use to display that an asset can be downloaded. An icon and label group or text may be used to describe the asset.</p>
        </div>
        <div>
            <h4>Quote</h4>
            <p>Use to display a short quote with attribution text. Logos, images, and a Secondary call to action may be used or not.</p>
        </div>
        <div>
            <h4>Avatars</h4>
            <p>Use to highlight a group of people who engage in an event. A label should be included, but including text is optional.</p>
        </div>
        <div>
            <h4>Video</h4>
            <p>Use to trigger a video that will play in a <a href="../modal">Modal</a>. Different layout configurations may be used.</p>
        </div>
        <div>
            <h4>Pricing</h4>
            <p>Use to outline the pricing and benefits of something. Elements may be removed or rearranged depending on content needs.</p>
        </div>
        <div>
            <h4>Logo slider</h4>
            <p>Use to display more content about a company when expanded on hover or tap. A title and text should be included.</p>
        </div>
        <div>
            <h4>Name slider</h4>
            <p>Use to display more content about a person when the tray expands. A title and text should be included.</p>
        </div>
    </div>

    <h4>Content</h4>
    <p>Cards have the potential to contain lots of content, like a combination of text, links, images, multimedia, etc. Ensure content serves the use case, but keep things simple at the same time. Don’t use too much content in one card, distribute extra content to other cards or somewhere else on the page. A <a href="../sticky-card">Sticky card</a> is a kind of card that can contain similar content, but it sticks to the side of a page and it’s always present until a user dismisses it.</p>

    <h4>Grouping</h4>
    <p>Different card styles can sometimes be grouped together. They can be arranged in a grid horizontally or vertically, depending on available space or screen size. Be sure to only group cards together that have similar styles or content. For example, grouping a basic card with a pricing card will look bad because they’re not very similar.</p>

  {% call components.example(palette='light') %}
      <div class="inline-flex centered">
        <img src="{{ '/assets/card/card-usage-grouping.svg' | url }}" alt="Grouping of a card" style="--example-img-max-width: 784px;">
      </div>
    {%- endcall %}

    <p class="footnote">These cards can be grouped together because they have similar styles and content</p>

    <h4>Layout</h4>
    <p>Cards are small layouts that should be arranged on a grid and not float randomly in larger layouts. Cards have a minimum width of four columns and a maximum width of six columns.</p>

    <h4>Other components</h4>
    <p>Cards can include complex components if necessary. For example, the <a href="../filter">Filter</a> component requires an Accordion or a <a href="../disclosure">Disclosure</a> to sort a content set. Don't place any other complex components in card layouts.</p>

  {% call components.example(palette='light') %}
      <div class="inline-flex centered">
        <img src="{{ '/assets/card/card-usage-other.svg' | url }}" alt="Alternative card usage" style="--example-img-max-width: 664px;">
      </div>
    {%- endcall %}

{%- endcall %}


{% call components.section("Best practices") -%}

    <p>The minimum width of a card in any layout is four columns and the maximum number of cards that can be used in a row is three.</p>
    {% call components.example(palette='wrong') %}
        <div class="inline-flex centered">
            <img src="{{ '/assets/card/card-bestpractice-1.svg' | url }}" alt="Too many cards" style="--example-img-max-width: 872px;">
        </div>
    {%- endcall %}

    <p>Don’t use a primary call to action in any card unless the primary action of a page is positioned inside of that card.</p>
    {% call components.example(palette='wrong') %}
        <div class="inline-flex centered">
            <img src="{{ '/assets/card/card-bestpractice-2.svg' | url }}" alt="Card width error" style="--example-img-max-width: 360px;">
        </div>
    {%- endcall %}

    <p>Don’t use multiple calls to action in one card. Instead, distribute them to other cards.</p>
    {% call components.example(palette='wrong') %}
        <div class="inline-flex centered">
            <img src="{{ '/assets/card/card-bestpractice-3.svg' | url }}" alt="Multiple calls to action" style="--example-img-max-width: 360px;">
        </div>
    {%- endcall %}

{%- endcall %}


{% call components.section("Behavior") -%}
    <h4>Vertical height</h4>
    <p>The vertical height of cards depends on how much content is placed inside. If there are multiple cards in a row, the vertical height of each of them will be determined by the tallest card. Don’t place inconsistent amounts of content in cards, as this will impact how scannable the group will appear to users.</p>

    {% call components.example(palette='light') %}
      <div class="inline-flex centered">
        <img src="{{ '/assets/card/card-behavior-height.svg' | url }}" alt="Card height behavior" style="--example-img-max-width: 784px;">
      </div>
    {%- endcall %}

    <h4>Interactivity</h4>
    <p>If a card contains only one link destination, the entire container and any elements inside should all be interactive. Otherwise, each interactive element should continue to be interactive, but not the card container.</p>

    {% call components.example(palette='light') %}
      <div class="inline-flex centered">
        <img src="{{ '/assets/card/card-behavior-interaction.svg' | url }}" alt="Card interaction" style="--example-img-max-width: 784px;">
      </div>
    {%- endcall %}

{%- endcall %}


{% call components.section("Responsive design") -%}

    <h4>Breakpoints</h4>
    <p>Cards will get thinner or move below each other on smaller screens.</p>

    <h4>Large screens</h4>
    <img src="{{ '/assets/card/card-layout-desktop.svg' | url }}" alt="Desktop cards" style="--inline-img-max-width: 784px;">

    <h4>Small screens</h4>
    <img src="{{ '/assets/card/card-layout-mobile.svg' | url }}" alt="Mobile cards" style="--inline-img-max-width: 360px;">

{%- endcall %}


{% call components.section("Interaction states") -%}

    <p>Since cards can consist of a variety of elements, refer to the specific interaction states that are assigned to each style and component for more information.</p>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Spacing") -%}

    <p>Cards use <a href="https://www.patternfly.org/v4/guidelines/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

    <h4>Container padding</h4>
    <p>Container padding defines how far away content is from the edges of the component. When cards become wider, the container padding increases. When they become thinner, the container padding decreases. See more examples <a href="https://xd.adobe.com/view/a337ad48-4c5a-4e75-aec1-cc0cfe52098d-f664/">here</a>.</p>

    <h4>Desktop</h4>
    {% call components.example(palette='light') %}
        <div class="inline-flex centered">
            <img src="{{ '/assets/card/card-spacing-desktop.svg' | url }}" alt="Card spacing on desktop" style="--example-img-max-width: 360px;">
        </div>
    {%- endcall %}

    <h4>Mobile</h4>
    {% call components.example(palette='light') %}
        <div class="inline-flex centered">
            <img src="{{ '/assets/card/card-spacing-mobile.svg' | url }}" alt="Card spacing on mobile" style="--example-img-max-width: 360px;">
        </div>
    {%- endcall %}

{%- endcall %}

<div class="multi-column--min-300-wide">

  {% call components.section("Feedback") -%}
    <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  {%- endcall %}

  {% call components.section("Foundations") -%}
    <p>To learn how to use our other components in your designs, visit the <a href="/components">Components</a> section.</p>
  {%- endcall %}

</div>
