---
layout: layout-basic.njk
title: Footer
tags:
  - component
---

<!--

Temporary Default alert until web component release
<p style="background-color: #f2f9f9; border-top: 2px solid #009596; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#003737"><strong>Default</strong></span><br />Text here</p>

Temporary Info alert until web component release
<p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Info</strong></span><br />Text here</p>

Temporary Warning alert until web component release
<p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br />Text here</p>

-->

{% import 'component/components.njk' as components %}

{% call components.section("Overview") -%}
  <p>The footer is a container that displays links and content to visitors who reach the bottom of a page, it also shows them they are using an official Red Hat website.</p>
{%- endcall %}

{% call components.section("Sample component") -%}
  <img src="{{ '/assets/footer/footer-sample.png' | url }}" alt="Footer component sample" style="--inline-img-max-width: 992px;">
{%- endcall %}

<!-- To make a table, component="" must list the exact componenent name from column A here: https://docs.google.com/spreadsheets/d/1OfyP6KZcijXMAX7DvN7KYxlUmp8pqH2WQqQ-ndSc4uc/edit?usp=sharing -->

{%- componentStatus -%}{% endcomponentStatus %}

{% call components.section("Demo") -%}

  <p>View a live version of this component to see how it can be customized.</p>

  <rh-cta>
    <a href="https://github.com/RedHat-UX/rh-footer-demo" target="_blank">View this component in action</a>
  </rh-cta>

{%- endcall %}

<hr class="margin-top--2 margin-bottom--10">

{% call components.section("Anatomy") -%}

  <p>The footer is divided into two parts, the <strong>Modular</strong> footer and <strong>Global</strong> footer. Most of the content in the Modular footer can be customized whereas the content in the Global footer is the same across all websites.</p>

  <div class="margin-bottom--7">
    <img src="{{ '/assets/footer/footer-anatomy.png' | url }}" alt="Footer component anatomy" style="--inline-img-max-width: 992px;">
  </div>

  <div class="multi-column--min-400-wide">
    <div>
      <h4>Website logo</h4>
      <p>A unique logo that corresponds to the website the footer is used on.</p>
    </div>
    <div>
      <h4>Social media links</h4>
      <p>Social media links that direct a visitor to unique social media websites.</p>
    </div>
    <div>
      <h4>Modular navigation</h4>
      <p>A collection of links unique to the website IA (information architecture).</p>
    </div>
    <div>
      <h4>Unique message</h4>
      <p>A unique description that corresponds to the website the footer is used on.</p>
    </div>
    <div>
      <h4>Shared message</h4>
      <p>A message about Red Hat that is the same across all footers and websites.</p>
    </div>
    <div>
      <h4>Unique content or top task</h4>
      <p>Extra content or a top task that is unique and requires its own slot (optional).</p>
    </div>
    <div>
      <h4>Global navigation</h4>
      <p>A collection of important links that are the same across all footers and websites.</p>
    </div>
  </div>

{%- endcall %}

{% call components.section("Style") -%}

  <p>Elements in the Modular and Global footers are high in contrast so they stand out to a visitor and meet accessibility guidelines. The footer looks similar in style to the <a href="../navigation">Primary navigation</a> for a consistent user experience across websites.</p>

  <div class="margin-bottom--7">
    <img src="{{ '/assets/footer/footer-style-main.png' | url }}" alt="Footer component styling" style="--inline-img-max-width: 992px;">
  </div>

  <h4>Color</h4>

  <p>The Modular footer background color is slightly lighter than the Global footer background color. This separation helps to distinguish the footers from each other.</p>

  <div class="margin-bottom--7">
    <img src="{{ '/assets/footer/footer-style-color.png' | url }}" alt="Footer component styling - color" style="--inline-img-max-width: 992px;">
  </div>

  <h4>Layout</h4>

  <p>The footer spans the entire width of the browser window at all screen sizes.</p>

  <div class="margin-bottom--7">
    <img src="{{ '/assets/footer/footer-style-layout.png' | url }}" alt="Footer component styling - layout" style="--inline-img-max-width: 992px;">
  </div>

{%- endcall %}

{% call components.section("Usage") -%}

  <p>The footer should be used to provide a visitor with additional links and content if they did not find what they were looking for, it can also include copyright and legal information.</p>

  <h4>Layout</h4>

  <p>The Modular and Global footers have specific regions for inserting various content types. Do not insert content at random, use the correct regions.</p>

  <ul>
    <li><strong>section header</strong> - Region for inserting a website logo (home page, Customer Portal, etc.) and social media links.</li>
    <li><strong>section main</strong> - Region for inserting modular navigation links, website messaging, top tasks, or other unique content.</li>
    <li><strong>section footer</strong> - Region for inserting global navigation links, legal content, and a link to the Summit website.</li>
  </ul>

  <div class="margin-bottom--7">
    <img src="{{ '/assets/footer/footer-usage-layout.png' | url }}" alt="Footer component usage - layout" style="--inline-img-max-width: 992px;">
  </div>

  <h4>Global footer</h4>

  <p>The Global footer can be used by itself on pages that do not fit a specific IA. Examples include landing pages, minisites, etc.</p>

  <div class="margin-bottom--7">
    <img src="{{ '/assets/footer/footer-usage-global.png' | url }}" alt="Footer component usage - global region" style="--inline-img-max-width: 992px;">
  </div>

{%- endcall %}

{% call components.section("Examples on other websites") -%}

  <p>The footer was designed to be applied to all Red Hat websites. The layout is flexible enough to accommodate various content types and arrangements.</p>

  <h4>Red Hat Customer Portal</h4>

  <div class="margin-top--2 margin-bottom--4">
    <!-- Info alert -->
    <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Status indicator</strong></span><br />The Status indicator (All systems operational) is a feature that will be added to all footers at a later date.</p>
  </div>

  <div class="margin-bottom--7">
    <img src="{{ '/assets/footer/footer-example-cp.png' | url }}" alt="Footer component example - Red Hat Customer Portal" style="--inline-img-max-width: 992px;">
  </div>

  <h4>Red Hat Developer</h4>

  <div class="margin-bottom--7">
    <img src="{{ '/assets/footer/footer-example-developer.png' | url }}" alt="Footer component example - Red Hat Developer" style="--inline-img-max-width: 992px;">
  </div>

  <h4>Red Hat Partner Connect</h4>

  <img src="{{ '/assets/footer/footer-example-pc.png' | url }}" alt="Footer component example - Red Hat Partner Connect" style="--inline-img-max-width: 992px;">

{%- endcall %}

{% call components.section("Behavior") -%}

  <h4>Columns</h4>

  <p>If the Modular footer includes a lot of content, a second row of columns will be added underneath the first row.</p>

  <div class="margin-bottom--7">
    <img src="{{ '/assets/footer/footer-behavior-columns.png' | url }}" alt="Footer component behavior - columns" style="--inline-img-max-width: 992px;">
  </div>

  <p>If the Modular footer includes less content, columns should stretch to fill the negative space.</p>

  <div class="margin-bottom--7">
    <img src="{{ '/assets/footer/footer-behavior-less-columns.png' | url }}" alt="Footer component behavior - less columns" style="--inline-img-max-width: 992px;">
  </div>

  <p>The social media links should remain aligned to the left edge of the last column if the number of columns change.</p>

  <div class="margin-bottom--7">
    <img src="{{ '/assets/footer/footer-behavior-links.png' | url }}" alt="Footer component behavior - social media links" style="--inline-img-max-width: 992px;">
  </div>

  <h4>Left-to-right languages</h4>

  <p>When content is translated to other left-to-right languages, the footer maintains the same layout and text size.</p>

  <div class="margin-bottom--7">
    <img src="{{ '/assets/footer/footer-behavior-japanese.png' | url }}" alt="Footer component behavior - Japanese translation" style="--inline-img-max-width: 992px;">
  </div>

  <h4>Right-to-left languages</h4>

  <p>When content is translated to a right-to-left language like Hebrew, the text size increases to 16px so visual subtleties of unique characters are easier to notice.</p>

  <img src="{{ '/assets/footer/footer-behavior-hebrew.png' | url }}" alt="Footer component behavior - Hebrew translation" style="--inline-img-max-width: 992px;">

{%- endcall %}

{% call components.section("Interaction states") -%}

  <h4>Default</h4>

  <div class="margin-bottom--4">
    <img src="{{ '/assets/footer/footer-interaction-state-default.png' | url }}" alt="Footer component interaction state - default" style="--inline-img-max-width: 992px;">
  </div>

  <!-- Table -->
  <section class="section">
    <table width="100%;">
      <thead>
        <tr>
          <th>Interaction state</th>
          <th>Element</th>
          <th>Text styling</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Default</td>
          <td>Social media link</td>
          <td>#8a8d90</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>Modular nav link</td>
          <td>#fff</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>Call to action</td>
          <td>#73bcf7</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>Red Hat fedora icon</td>
          <td>#8a8d90</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>Global nav and legal link</td>
          <td>#fff</td>
        </tr>
      </tbody>
    </table>
  </section>

  <h4>Hover</h4>

  <div class="margin-bottom--4">
    <img src="{{ '/assets/footer/footer-interaction-state-hover.png' | url }}" alt="Footer component interaction state - hover" style="--inline-img-max-width: 992px;">
  </div>

  <!-- Table -->
  <section class="section">
    <table width="100%;">
      <thead>
        <tr>
          <th>Interaction state</th>
          <th>Element</th>
          <th>Text styling</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hover, Focus, and Active</td>
          <td>Social media link</td>
          <td>#b8bbbe</td>
        </tr>
        <tr>
          <td>Hover, Focus, and Active</td>
          <td>Modular nav link</td>
          <td>#fff / Underline</td>
        </tr>
        <tr>
          <td>Hover, Focus, and Active</td>
          <td>Call to action</td>
          <td>#bee1f4</td>
        </tr>
        <tr>
          <td>Hover, Focus, and Active</td>
          <td>Red Hat fedora icon</td>
          <td>#b8bbbe</td>
        </tr>
        <tr>
          <td>Hover, Focus, and Active</td>
          <td>Global nav and legal link</td>
          <td>#fff / Underline</td>
        </tr>
      </tbody>
    </table>
  </section>

  <h4>Focus</h4>

  <p>Focus styles are the same as hover styles and also include a focus indicator.</p>

  <div class="margin-bottom--7">
    <img src="{{ '/assets/footer/footer-interaction-state-focus.png' | url }}" alt="Footer component interaction state - focus" style="--inline-img-max-width: 992px;">
  </div>

  <h4>Active</h4>

  <img src="{{ '/assets/footer/footer-interaction-state-active.png' | url }}" alt="Footer component interaction state - active" style="--inline-img-max-width: 992px;">

{%- endcall %}

{% call components.section("Accessibility") -%}

  <h4>Focus order</h4>

  <p>A logical focus order helps visitors understand and operate our websites. Elements or components need to receive focus in an order that preserves meaning, therefore the focus order should make sense and not jump around randomly.</p>

  <img src="{{ '/assets/footer/footer-focus-order.png' | url }}" alt="Footer component focus order" style="--inline-img-max-width: 992px;">

{%- endcall %}

{% call components.section("Responsive design") -%}

  <h4>Large screens</h4>

  <p>Footers on large screen sizes include columns and rows of links.</p>

  <div class="margin-bottom--7">
    <img src="{{ '/assets/footer/footer-sample.png' | url }}" alt="Footer component for large screens" style="--inline-img-max-width: 992px;">
  </div>

  <h4>Small screens</h4>

  <p>The Modular footer on small screen sizes includes an accordion instead of columns and rows of links. All accordion panels are collapsed by default when the page loads.</p>

  <div class="margin-top--2 margin-bottom--4">
    <!-- Info alert -->
    <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Horizontal rule</strong></span><br />At small screen sizes, the horizontal rule below the logo and social media icons disappears.</p>
  </div>

  <div class="margin-bottom--7">
    <img src="{{ '/assets/footer/footer-small-screens-1.png' | url }}" alt="Footer component for small screens" style="--inline-img-max-width: 768px;">
  </div>

  <img src="{{ '/assets/footer/footer-small-screens-2.png' | url }}" alt="Footer component for small screens" style="--inline-img-max-width: 360px;">

{%- endcall %}

{% call components.section("Best practices") -%}

  <h4>Changing the stacking order</h4>

  <p>Do not stack the Global footer on top of the Modular footer.</p>

  <div class="margin-bottom--7">
    <img src="{{ '/assets/footer/footer-best-practice-1.png' | url }}" alt="Footer component best practice - changing the stacking order" style="--inline-img-max-width: 1000px;">
  </div>

  <h4>Using an accordion</h4>

  <p>Do not use an accordion inside of a large Modular footer, only Modular footers for small screen sizes include an accordion.</p>

  <div class="margin-bottom--7">
    <img src="{{ '/assets/footer/footer-best-practice-2.png' | url }}" alt="Footer component best practice - using an accordion" style="--inline-img-max-width: 1000px;">
  </div>

  <h4>Removing information</h4>

  <p>Do not remove the copyright text or Summit link from the Global footer.</p>

  <div class="margin-bottom--7">
    <img src="{{ '/assets/footer/footer-best-practice-3.png' | url }}" alt="Footer component best practice - removing information" style="--inline-img-max-width: 1000px;">
  </div>

  <h4>Isolating the Modular footer</h4>

  <p>Do not use the Modular footer on its own without the Global footer.</p>

  <img src="{{ '/assets/footer/footer-best-practice-4.png' | url }}" alt="Footer component best practice - isolating the Modular footer" style="--inline-img-max-width: 1000px;">

{%- endcall %}

{% call components.section("Spacing") -%}

  <p>The Modular and Global footers use <a href="../../foundations/spacing">spacers</a> to define space values between elements.</p>

  <div class="margin-bottom--7">
    <img src="{{ '/assets/footer/footer-spacing-1.png' | url }}" alt="Footer component spacing on large screens" style="--inline-img-max-width: 992px;">
  </div>

  <div class="margin-bottom--7">
    <img src="{{ '/assets/footer/footer-spacing-2.png' | url }}" alt="Footer component spacing on small screens" style="--inline-img-max-width: 768px;">
  </div>

  <img src="{{ '/assets/footer/footer-spacing-3.png' | url }}" alt="Footer component spacing on small screens" style="--inline-img-max-width: 360px;">

{%- endcall %}

<div class="multi-column--min-300-wide">

  {% call components.section("Feedback") -%}
    <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  {%- endcall %}

  {% call components.section("Components") -%}
    <p>To learn how to use our other components in your designs, visit the <a href="/components">Components</a> section.</p>
  {%- endcall %}

</div>
