---
layout: layout-basic.njk
title: Popover
tags:
  - component
includeComponent:
  - pfe-jump-links
---

<!--

Temporary Default alert until web component release
<p style="background-color: #f2f9f9; border-top: 2px solid #009596; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#003737"><strong>Default</strong></span><br />Text here</p>

Temporary Info alert until web component release
<p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Info</strong></span><br />Text here</p>

Temporary Warning alert until web component release
<p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br />Text here</p>

-->

{% import 'component/components.njk' as components %}

{% call components.section("Overview") -%}
  <p>A Popover displays content in a non-modal dialog and adds contextual information or provides resources via text and links.</p>
{%- endcall %}

{% call components.section("Sample component") -%}
  <img src="{{ '/assets/popover/popover-sample-component.svg' | url }}" alt="Popover component sample" style="--inline-img-max-width: 424px;">
{%- endcall %}

<!-- To make the table show below, component="" must list the exact componenent name from column A here: https://docs.google.com/spreadsheets/d/1OfyP6KZcijXMAX7DvN7KYxlUmp8pqH2WQqQ-ndSc4uc/edit?usp=sharing -->

{%- componentStatus -%}{% endcomponentStatus %}

{% call components.section("Style") -%}

  <p>A popover should include text and interactive elements like a close button and links.</p>

  {% call components.example(palette='lightest') %}
    <img src="{{ '/assets/popover/popover-style.svg' | url }}" alt="Popover component blueprint" style="--inline-img-max-width: 538px;">
  {%- endcall %}

  <h4>Variants</h4>

  <p><strong>Black and white</strong> are the two popover variants available for use depending on the content and color of the background.</p>

  <!-- Temporary Warning alert until web component release -->
  <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br />A heading does not need to be included, but if links are not included either, use a <a href="../tooltip" target="_blank">Tooltip</a> component instead.</p>

<div class="margin-top--0 margin-bottom--10">
  <div class="multi-column--min-400-wide">
    <div>
      <h4>Black (light backgrounds)</h4>
      <img src="{{ '/assets/popover/popover-black.svg' | url }}" alt="Popover component, black variant" style="--inline-img-max-width: 392px;">
    </div>
    <div>
      <h4>White (dark backgrounds)</h4>
      <img src="{{ '/assets/popover/popover-white.svg' | url }}" alt="Popover component, white variant" style="--inline-img-max-width: 392px;">
    </div>
    <div>
      <h4>With heading</h4>
      <p>Use for messages that require a heading.</p>
      <img src="{{ '/assets/popover/popover-with-heading.svg' | url }}" alt="Popover component, with heading variant" style="--inline-img-max-width: 392px;">
    </div>
    <div>
      <h4>Without heading</h4>
      <p>Use for messages that do not require a heading.</p>
      <img src="{{ '/assets/popover/popover-without-heading.svg' | url }}" alt="Popover component, without heading variant" style="--inline-img-max-width: 392px;">
    </div>
    <div>
      <h4>With drop shadow</h4>
      <p>A drop shadow gives a popover subtle elevation above light backgrounds.</p>
      <img src="{{ '/assets/popover/popover-with-drop-shadow.svg' | url }}" alt="Popover component, with drop shadow variant" style="--inline-img-max-width: 392px;">
    </div>
    <div>
      <h4>Without drop shadow</h4>
      <p>A drop shadow cannot be seen on dark backgrounds, so it is not included.</p>
      <img src="{{ '/assets/popover/popover-without-drop-shadow.svg' | url }}" alt="Popover component, without drop shadow variant" style="--inline-img-max-width: 392px;">
    </div>
  </div>
</div>

{% call components.section("Theme") -%}

  <p>For popovers and <a href="../tooltip" target="_blank">tooltips</a>, the themes are inverted. For example, light theme popovers are <strong>black</strong> and should be used on light backgrounds; dark theme popovers are <strong>white</strong> and should be used on dark backgrounds.

  <h4>Black (light backgrounds)</h4>

  {% call components.example(palette='lightest') %}
    <img src="{{ '/assets/popover/popover-theme-light.svg' | url }}" alt="Popover component, light theme" style="--inline-img-max-width: 392px;">
  {%- endcall %}

  <h4>White (dark backgrounds)</h4>

  {% call components.example(palette='darkest') %}
    <img src="{{ '/assets/popover/popover-theme-dark.svg' | url }}" alt="Popover component, dark theme" style="--inline-img-max-width: 392px;">
  {%- endcall %}

{%- endcall %}

{% call components.section("Usage") -%}

  <p>Use a popover to answer a question, explain something, or provide a user with guidance to help them complete a task.</p>

  <h4>Popover vs. tooltip</h4>

  <p>Both popovers and <a href="../tooltip" target="_blank">tooltips</a> provide more information in context for a user. However, they are different in a few ways:</p>

  <ul>
    <li>Popovers are used for added description or information in context whereas tooltips are used for identification purposes.</li>
    <li>Popovers contain longer descriptions and optional links whereas tooltips only contain short descriptions or labels.
    <li>On large screens, popovers appear on click whereas tooltips appear on hover.</li>
  </ul>

  <div class="margin-top--8 margin-bottom--0">

    <h4>Content</h4>

    <p>Content in a popover should include text and interactive elements like a close button and links. If more explanation is needed, a heading can be included as well.</p>

    <!-- Temporary Warning alert until web component release -->
    <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br />If content is very short and does not include links, use a <a href="../tooltip" target="_blank">Tooltip</a> component instead.</p>

  </div>

  <div class="margin-top--4 margin-bottom--0">
    {% call components.example(palette='lightest') %}
      <img src="{{ '/assets/popover/popover-usage-content.svg' | url }}" alt=" Popover component usage, content" style="--inline-img-max-width: 832px;">
    {%- endcall %}
  </div>

  <h4>Character count</h4>

  <p>A popover heading and body text can have more characters if the overall message creates a more helpful user experience.</p>

  <!-- Temporary Warning alert until web component release -->
  <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br />Do not write short body text because a user might get stuck or not understand what to do next if the content is too brief.</p>

  <section class="section">
    <table width="100%;">
      <thead>
        <tr>
          <th>Element</th>
          <th>Maximum characters</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Heading</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Body text</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Single link</td>
          <td>35</td>
        </tr>
        <tr>
          <td>Two links</td>
          <td>15 (each)</td>
        </tr>
      </tbody>
    </table>
  </section>

  <h4>Orientation</h4>

  <p>A popover has four orientations depending on where it needs to be located, <strong>top</strong>, <strong>right</strong>, <strong>bottom</strong>, or <strong>left</strong>. If a popover overlaps critical content or is cut off by the edge of the screen when triggered, change the orientation.</p>

  {% call components.example(palette='lightest') %}
    <img src="{{ '/assets/popover/popover-usage-orientation.svg' | url }}" alt=" Popover component usage, orientation" style="--inline-img-max-width: 844px;">
  {%- endcall %}

  <h4>Black on black</h4>

  <p>Avoid using a black popover on dark backgrounds, it will completely disappear into the background.</p>

  {% call components.example(palette='darkest') %}
    <img src="{{ '/assets/popover/popover-usage-black.svg' | url }}" alt=" Popover component usage, black on black" style="--inline-img-max-width: 392px;">
  {%- endcall %}

  <h4>White on white</h4>

  <p>Avoid using a white popover on light backgrounds, there is not enough contrast even with the subtle drop shadow.</p>

  {% call components.example(palette='lightest') %}
    <img src="{{ '/assets/popover/popover-usage-white.svg' | url }}" alt=" Popover component usage, white on white" style="--inline-img-max-width: 392px;">
  {%- endcall %}

{%- endcall %}

{% call components.section("Behavior") -%}

    <h4>Trigger</h4>

    <p>A popover requires a <strong>trigger</strong> to be displayed. A trigger can be an icon, text, or another element that encourages a user to interact with it. To close a popover, a user must select the close button, make a selection outside of the popover, or press the <strong>Escape (esc)</strong> key.</p>

    {% call components.example(palette='lightest') %}
      <img src="{{ '/assets/popover/popover-behavior-trigger.svg' | url }}" alt=" Popover component behavior, trigger" style="--inline-img-max-width: 832px;">
    {%- endcall %}

    <h4>Form</h4>

    <p>If you need to place a popover above a form field, you may use an icon as a trigger. However, an icon is not the only visual element that can trigger a popover.</p>

    {% call components.example(palette='lightest') %}
      <img src="{{ '/assets/popover/popover-behavior-form.svg' | url }}" alt=" Popover component behavior, form" style="--inline-img-max-width: 399px;">
    {%- endcall %}

    <h4>Mobile</h4>

    <p>A popover and tooltip are triggered the same way on mobile, by a tap, but still have different use cases (see <strong>Usage</strong>).</p>

    {% call components.example(palette='lightest') %}
      <img src="{{ '/assets/popover/popover-behavior-mobile.svg' | url }}" alt=" Popover component behavior, mobile" style="--inline-img-max-width: 772px;">
    {%- endcall %}

{%- endcall %}

{% call components.section("Interaction states") -%}

  <p>Both popover variants have interaction states.</p>

  <div class="multi-column--min-400-wide">
    <div>
      <h4>Default/Focus (black)</h4>
      <img src="{{ '/assets/popover/popover-interaction-state-default-focus-black.svg' | url }}" alt="Popover component interaction state, default and focus" style="--inline-img-max-width: 392px;">
    </div>
    <div>
      <h4>Default/Focus (white)</h4>
      <img src="{{ '/assets/popover/popover-interaction-state-default-focus-white.svg' | url }}" alt="Popover component interaction state, default and focus" style="--inline-img-max-width: 392px;">
    </div>
  </div>

  <div style="margin-top: 32px;">
    <section class="section">
      <table width="100%;">
        <thead>
          <tr>
            <th>Variant</th>
            <th>Interaction state</th>
            <th>Element</th>
            <th>Specs</th>
          </tr>
          <tr>
            <td>Black</td>
            <td>Default/Focus</td>
            <td>Close button</td>
            <td>#D2D2D2</td>
          </tr>
          <tr>
            <td>Black</td>
            <td>Default/Focus</td>
            <td>Link</td>
            <td>#73BCF7</td>
          </tr>
          <tr>
            <td>White</td>
            <td>Default/Focus</td>
            <td>Close button</td>
            <td>#6A6E73</td>
          </tr>
          <tr>
            <td>White</td>
            <td>Default/Focus</td>
            <td>Link</td>
            <td>#06C</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

  <div class="multi-column--min-400-wide">
    <div>
      <h4>Hover/Active (black)</h4>
      <img src="{{ '/assets/popover/popover-interaction-state-hover-active-black.svg' | url }}" alt="Popover component interaction state, hover and active" style="--inline-img-max-width: 392px;">
    </div>
    <div>
      <h4>Hover/Active (white)</h4>
      <img src="{{ '/assets/popover/popover-interaction-state-hover-active-white.svg' | url }}" alt="Popover component interaction state, hover and active" style="--inline-img-max-width: 392px;">
    </div>
  </div>

  <div style="margin-top: 32px;">
    <section class="section">
      <table width="100%;">
        <thead>
          <tr>
            <th>Variant</th>
            <th>Interaction state</th>
            <th>Element</th>
            <th>Specs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Black</td>
            <td>Hover/Active</td>
            <td>Close button</td>
            <td>#FFF</td>
          </tr>
          <tr>
            <td>Black</td>
            <td>Hover/Active</td>
            <td>Link</td>
            <td>#BEE1F4</td>
          </tr>
          <tr>
            <td>White</td>
            <td>Hover/Active</td>
            <td>Close button</td>
            <td>#151515</td>
          </tr>
          <tr>
            <td>White</td>
            <td>Hover/Active</td>
            <td>Link</td>
            <td>#004080</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

{%- endcall %}

{% call components.section("Accessibility") -%}

  <p>When a popover is triggered by a user pressing the <strong>Enter</strong> key, the close button must have focus in order for a user to have control over the popover and be able to interact with the links or close it.</p>

  {% call components.example(palette='lightest') %}
    <img src="{{ '/assets/popover/popover-accessibility.svg' | url }}" alt=" Popover component accesssibility" style="--inline-img-max-width: 392px;">
  {%- endcall %}

  <table style="width:100%; margin-top:-20px;">
    <tbody>
      <tr>
        <th>Key</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>Tab</td>
        <td>Moves the focus away from the close button.</td>
      </tr>
      <tr>
        <td>Shift + Tab</td>
        <td>Moves the focus to the previous link or to the close button.</td>
      </tr>
      <tr>
        <td>Enter</td>
        <td>Closes a popover or selects a link within a popover.</td>
      </tr>
      <tr>
        <td>Escape (esc)</td>
        <td>Closes a popover.</td>
      </tr>
    </tbody>
  </table>

{%- endcall %}

{%- endcall %}

{% call components.section("Responsive design") -%}

  <p>A popover has the same proportions and spacing on both large and small screens.</p>

  <h4>Large screens</h4>

  <img src="{{ '/assets/popover/popover-responsive-design-lg.svg' | url }}" alt="Popover component responsive design, large screens" style="--inline-img-max-width: 1000px;">

  <h4>Small screens</h4>

  <img src="{{ '/assets/popover/popover-responsive-design-sm.svg' | url }}" alt="Popover component responsive design, small screens" style="--inline-img-max-width: 360px;">

{%- endcall %}

{% call components.section("Best practices") -%}

  <h4>Embedding</h4>

  <p>Do not embed a popover or tooltip within another popover.</p>

  {% call components.example(palette='wrong') %}
    <img src="{{ '/assets/popover/popover-best-practice-1.svg' | url }}" alt="Popover component best practice 1" style="--inline-img-max-width: 479px;">
  {%- endcall %}

  <h4>Too much content</h4>

  <p>Do not overload a popover with too much content.</p>

  {% call components.example(palette='wrong') %}
    <img src="{{ '/assets/popover/popover-best-practice-2.svg' | url }}" alt="Popover component best practice 2" style="--inline-img-max-width: 432px;">
  {%- endcall %}

  <h4>No close button</h4>

  <p>Do not remove the close button from a popover.</p>

  {% call components.example(palette='wrong') %}
    <img src="{{ '/assets/popover/popover-best-practice-3.svg' | url }}" alt="Popover component best practice 3" style="--inline-img-max-width: 392px;">
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Spacing") -%}

  <p>A popover uses <a href="https://www.patternfly.org/v4/guidelines/spacers">PatternFly 4 spacers</a> to define spacing values between elements. Each popover orientation contains the same amount of spacing in between the component and icon.</p>

  {% call components.example(palette='lightest') %}
    <img src="{{ '/assets/popover/popover-spacing.svg' | url }}" alt="Popover component spacing" style="--inline-img-max-width: 392px;">
  {%- endcall %}

{%- endcall %}

<div class="multi-column--min-300-wide">

  {% call components.section("Feedback") -%}
    <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  {%- endcall %}

  {% call components.section("Foundations") -%}
    <p>To learn how to use our other components in your designs, visit the <a href="/components">Components</a> section.</p>
  {%- endcall %}

</div>
