---
layout: layout-basic.njk
title: Search bar
tags:
  - component
---

<!--

Temporary Default alert until web component release
<p style="background-color: #f2f9f9; border-top: 2px solid #009596; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#003737"><strong>Default</strong></span><br />Text here</p>

Temporary Info alert until web component release
<p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Info</strong></span><br />Text here</p>

Temporary Warning alert until web component release
<p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br />Text here</p>

-->

{% import 'component/components.njk' as components %}

{% call components.section("Overview") -%}
  <p>A Search bar is a horizontal grouping of a form field with placeholder text and a button. It allows a user to input text and then perform a search.</p>
{%- endcall %}

{% call components.section("Sample component") -%}
  <img src="{{ '/assets/search-bar/search-bar-sample.svg' | url }}" alt="Search bar component sample">
{%- endcall %}

<!-- To make a table, component="" must list the exact componenent name from column A here: https://docs.google.com/spreadsheets/d/1OfyP6KZcijXMAX7DvN7KYxlUmp8pqH2WQqQ-ndSc4uc/edit?usp=sharing -->

{%- componentStatus -%}{% endcomponentStatus %}

{% call components.section("Style") -%}

  <p>A search bar includes a narrow but wide form field with placeholder text and a red button that is placed on the right.</p>

  {% call components.example(palette='lightest') %}
    <img src="{{ '/assets/search-bar/search-bar-blueprint.svg' | url }}" alt="Search bar component blueprint" style="--inline-img-max-width: 872px;">
  {%- endcall %}

  <h4>Button</h4>

  <p>A search bar includes a <strong>button</strong> so a user can perform a search. A call to action link would only direct a user to a results page without actually performing a search, so a button must be used instead.</p>

  <!-- Temporary Default alert until web component release -->
  <p style="background-color: #f2f9f9; border-top: 2px solid #009596; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#003737"><strong>Learn more</strong></span><br />Visit the <a href="https://ux.redhat.com/components/button/" target="_blank">Button</a> or <a href="https://ux.redhat.com/components/call-to-action/" target="_blank">Call to action</a> component pages to learn more about how to use buttons and calls to action.</p>

  {% call components.example(palette='lightest') %}
    <img src="{{ '/assets/search-bar/search-bar-button-vs-cta.svg' | url }}" alt="Search bar component button vs. CTA" style="--inline-img-max-width: 262px;">
  {%- endcall %}

  {%- endcall %}

{% call components.section("Theme") -%}

  <h4>Light theme</h4>

  <p>The light theme search bar includes a light theme form field and red button.</p>

  {% call components.example(palette='lightest') %}
    <img src="{{ '/assets/search-bar/search-bar-light-theme.svg' | url }}" alt="Search bar component, light theme" style="--inline-img-max-width: 872px;">
  {%- endcall %}

  <h4>Dark theme</h4>

  <p>For now, the light theme search bar can also be used in the dark theme.</p>

  {% call components.example(palette='darkest') %}
    <img src="{{ '/assets/search-bar/search-bar-dark-theme.svg' | url }}" alt="Search bar component, dark theme" style="--inline-img-max-width: 872px;">
  {%- endcall %}

{%- endcall %}

{% call components.section("Usage") -%}

  <p>A search bar is best used to give a user the ability to search for something and then display any relevant search results.</p>

  <h4>Layout</h4>

  <p>A search bar can be used in most layouts. It has no set width other than the boundaries of whatever container or grid it is placed in.</p>

  {% call components.example(palette='medium') %}
    <img src="{{ '/assets/search-bar/search-bar-layout.svg' | url }}" alt="Search bar component usage" style="--inline-img-max-width: 872px;">
  {%- endcall %}

  <h4>Content</h4>

  <p>The text within a search bar indicates how wide or narrow a search will be. If the text is <strong>generic</strong> (Enter your search term), a user might expect to search through an entire website. If the text is <strong>specific</strong> (Search all resources), a user might expect to search through an individual page.</p>

  {% call components.example(palette='lightest') %}
    <img src="{{ '/assets/search-bar/search-bar-placeholder-text.svg' | url }}" alt="Search bar component placeholder text options" style="--inline-img-max-width: 872px;">
  {%- endcall %}

{%- endcall %}

{% call components.section("Behavior") -%}

  <h4>Form field</h4>

  <p>When a user selects the form field to input text via cursor or keyboard, the placeholder text will disappear, the form field will have focus, and a blinking cursor will take its place. When a user starts typing, the text styling will change.</p>

  <!-- Temporary Default alert until web component release -->
  <p style="background-color: #f2f9f9; border-top: 2px solid #009596; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#003737"><strong>Learn more</strong></span><br />Visit the <a href="https://ux.redhat.com/components/form/" target="_blank">Form</a> component page to learn more about form fields.</p>

  {% call components.example(palette='lightest') %}
    <img src="{{ '/assets/search-bar/search-bar-form-field.svg' | url }}" alt="Search bar component styling changes" style="--inline-img-max-width: 872px;">
  {%- endcall %}

  <h4>Typeahead</h4>

  <p>Typeahead allows a user to narrow down a displayed list of options when they input text within a form field, it is recommended for lists with more than 10 options.</p>

  {% call components.example(palette='lightest') %}
    <img src="{{ '/assets/search-bar/search-bar-typeahead.svg' | url }}" alt="Search bar component typeahead" style="--inline-img-max-width: 872px;">
  {%- endcall %}

  <h4>Errors</h4>

  <p>If focus is moved from the form field to the button, an error will not be displayed. However, if a user tries to perform a search without any text in the form field, an error will be displayed.</p>

  <!-- Temporary Default alert until web component release -->
  <p style="background-color: #f2f9f9; border-top: 2px solid #009596; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#003737"><strong>Learn more</strong></span><br />Visit the <a href="https://ux.redhat.com/components/form/" target="_blank">Form</a> component page to learn more about form field errors.</p>

  {% call components.example(palette='lightest') %}
    <img src="{{ '/assets/search-bar/search-bar-errors.svg' | url }}" alt="Search bar component form field errors" style="--inline-img-max-width: 872px;">
  {%- endcall %}

{%- endcall %}

{% call components.section("Interaction states") -%}

  <!-- Temporary Default alert until web component release -->
  <p style="background-color: #f2f9f9; border-top: 2px solid #009596; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#003737"><strong>Learn more</strong></span><br />Visit the <a href="https://ux.redhat.com/components/form/" target="_blank">Form</a> or <a href="https://ux.redhat.com/components/button/" target="_blank">Button</a> component pages to learn more about interaction states.</p>

  <h4>Link</h4>

  {% call components.example(palette='lightest') %}
    <img src="{{ '/assets/search-bar/search-bar-interaction-states-link.svg' | url }}" alt="Search bar component interaction state, link" style="--inline-img-max-width: 872px;">
  {%- endcall %}

  <h4>Hover</h4>

  <p>A blue line appears at the bottom of the form field indicating it is selectable.</p>

  {% call components.example(palette='lightest') %}
    <img src="{{ '/assets/search-bar/search-bar-interaction-states-hover.svg' | url }}" alt="Search bar component interaction state, hover" style="--inline-img-max-width: 872px;">
  {%- endcall %}

  <h4>Focus</h4>

  <p>When the focus is moved to the form field via keyboard, the placeholder text will disappear and a blinking cursor will take its place. When the focus is moved away, the placeholder text will be visible again.</p>

  {% call components.example(palette='lightest') %}
    <img src="{{ '/assets/search-bar/search-bar-interaction-states-focus.svg' | url }}" alt="Search bar component interaction state, focus" style="--inline-img-max-width: 872px;">
  {%- endcall %}

  <h4>Active</h4>

  <p>When the focus is moved to the form field via cursor, the placeholder text will disappear and a blinking cursor will take its place. When the focus is moved away, the placeholder text will be visible again.</p>

  {% call components.example(palette='lightest') %}
    <img src="{{ '/assets/search-bar/search-bar-interaction-states-active.svg' | url }}" alt="Search bar component interaction state, active" style="--inline-img-max-width: 872px;">
  {%- endcall %}

  <h4>Tab order</h4>

  <p>When the Tab key is pressed repeatedly, the focus will highlight the form field first and then the button. A user can move the focus from the form field to the button without an error being displayed.</p>

  {% call components.example(palette='lightest') %}
    <img src="{{ '/assets/search-bar/search-bar-tab-order.svg' | url }}" alt="Search bar component tab order" style="--inline-img-max-width: 872px;">
  {%- endcall %}

{%- endcall %}

{% call components.section("Accessibility") -%}

  <table style="width:100%;">
    <tbody>
      <tr>
        <th>Key</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>Tab</td>
        <td>Moves the focus to the button.</td>
      </tr>
      <tr>
        <td>Shift + Tab</td>
        <td>Moves the focus to the form field.</td>
      </tr>
      <tr>
        <td>Enter (if text)</td>
        <td>Triggers a search.</td>
      </tr>
      <tr>
        <td>Enter (if no text)</td>
        <td>Displays an error icon and text requiring a user to input text in the form field.</td>
      </tr>
    </tbody>
  </table>

{%- endcall %}

{% call components.section("Responsive design") -%}

  <p>A search bar mostly remains the same on large and small screens. While it can stretch horizontally to fit any container or grid, only the form field stretches whereas the button always stays the same size.</p>

  <h4>Desktop</h4>

  <div class="margin-top--0 margin-bottom--7">
    <img src="{{ '/assets/search-bar/search-bar-responsive-desktop.svg' | url }}" alt="Search bar component responsive design, desktop" style="--inline-img-max-width: 1000px;">
  </div>

  <h4>Tablet</h4>

  <div class="margin-top--0 margin-bottom--7">
    <img src="{{ '/assets/search-bar/search-bar-responsive-tablet.svg' | url }}" alt="Search bar component responsive design, tablet" style="--inline-img-max-width: 768px;">
  </div>

  <h4>Mobile</h4>

  <div class="margin-top--0 margin-bottom--7">
    <img src="{{ '/assets/search-bar/search-bar-responsive-mobile.svg' | url }}" alt="Search bar component responsive design, mobile" style="--inline-img-max-width: 360px;">
  </div>

{%- endcall %}

{% call components.section("Best practices") -%}

  <h4>Long placeholder text</h4>

  <p>Do not write placeholder text too long, it should be short and to the point (maximum 30 characters).</p>

  {% call components.example(palette='wrong') %}
    <img src="{{ '/assets/search-bar/search-bar-best-practice-1.svg' | url }}" alt="Search component best practice 1" style="--inline-img-max-width: 872px;">
  {%- endcall %}

  <h4>Call to action as button</h4>

  <p>Do not replace the button with a call to action.</p>

  {% call components.example(palette='wrong') %}
    <img src="{{ '/assets/search-bar/search-bar-best-practice-2.svg' | url }}" alt="Search component best practice 2" style="--inline-img-max-width: 872px;">
  {%- endcall %}

  <h4>Different style or color</h4>

  <p>Do not use a different button color or style when using a search bar on Red Hat <strong>marketing</strong> websites.</p>

  {% call components.example(palette='wrong') %}
    <img src="{{ '/assets/search-bar/search-bar-best-practice-3.svg' | url }}" alt="Search component best practice 3" style="--inline-img-max-width: 872px;">
  {%- endcall %}

  <h4>Disabled</h4>

  <p>Do not disable the button until a user inputs text in the form field. The button should always be active and if a user tries to perform a search without any text in the form field, an error should be displayed instead.</p>

  {% call components.example(palette='wrong') %}
    <img src="{{ '/assets/search-bar/search-bar-best-practice-4.svg' | url }}" alt="Search component best practice 4" style="--inline-img-max-width: 872px;">
  {%- endcall %}

  <h4>Solo button</h4>

  <p>Avoid using the search button on its own without a form field.</p>

  <!-- Temporary Default alert until web component release -->
  <p style="background-color: #f2f9f9; border-top: 2px solid #009596; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#003737"><strong>Learn more</strong></span><br />Visit the <a href="https://ux.redhat.com/components/button/" target="_blank">Button</a> component page to learn more about how to use buttons.</p>

  {% call components.example(palette='wrong') %}
    <img src="{{ '/assets/search-bar/search-bar-best-practice-5.svg' | url }}" alt="Search component best practice 5" style="--inline-img-max-width: 81px;">
  {%- endcall %}

  <h4>Rearranging the component</h4>

  <p>Do not rearrange a search bar by placing the button below the form field or changing its width.</p>

  {% call components.example(palette='wrong') %}
    <img src="{{ '/assets/search-bar/search-bar-best-practice-6.svg' | url }}" alt="Search component best practice 6" style="--inline-img-max-width: 360px;">
  {%- endcall %}

{%- endcall %}

{% call components.section("Spacing") -%}

  <p>A Search bar uses <a href="https://www.patternfly.org/v4/guidelines/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

  {% call components.example(palette='light') %}
    <img src="{{ '/assets/search-bar/search-bar-spacing.svg' | url }}" alt="Search bar spacing" style="--inline-img-max-width: 872px;">
  {%- endcall %}

{%- endcall %}

<div class="multi-column--min-300-wide">

  {% call components.section("Feedback") -%}
    <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  {%- endcall %}

  {% call components.section("Foundations") -%}
    <p>To learn how to use our other components in your designs, visit the <a href="/components">Components</a> section.</p>
  {%- endcall %}

</div>
