---
layout: layout-basic.njk
title: Skip navigation
tags:
  - component
---

{% section headline="Component Demo" -%}

<div>
    <h2 slot="header">Spinner</h2>

    <h3>Default/Large</h3>
    <rh-spinner>Loading...</rh-spinner>

    <h3>Medium</h3>
    <rh-spinner size="md">Loading...</rh-spinner>

    <h3>Small</h3>
    <rh-spinner size="sm">Loading...</rh-spinner>
</div>

{%- endsection %}




