---
layout: layout-basic.njk
title: Statistic
tags:
- component
---

{% import 'component/components.njk' as components %}

{% call components.section("Overview") -%}
<p>A Statistic showcases a data point or quick fact in a way that visually stands out. It consists of a number/percentage and body text in its simplest form. It can also include an icon, title, and a call to action.</p>
{%- endcall %}

{% call components.section("Sample component") -%}
<div style="max-width: 344px;">
    <rh-stat>
        <span slot="statistic">80%</span>
        <span>of Fortune Global 500 telecom companies<sup>1</sup></span>
    </rh-stat>
</div>
{%- endcall %}


<!--
{%- componentStatus -%}{% endcomponentStatus %}
-->

<hr class="margin-top--2 margin-bottom--10">

{% call components.section("Anatomy") -%}
<p>Each stat is composed of a number or percentage and body text. A title, icon, or call to action are optional elements that can provide additional information.</p>

<div class="margin-bottom--7 centered">
    <img src="{{ '/assets/statistic/stat-anatomy.svg' | url }}"
        alt="A stat's anatomy consists of an icon, title, number, body text, and call to action, in that order."
        style="--inline-img-max-width: 590px;">
</div>

<div class="multi-column--min-400-wide">
    <div>
        <h4>Title</h4>
        <p>If there's supporting text for the number, the words can be added as a title. For example, in the phrase “more than 90%,” the words "more than” are added as a title.</p>
    </div>
    <div>
        <h4>Number</h4>
        <p>This slot should include only digits, a percentage symbol, periods, or commas.</p>
    </div>
    <div>
        <h4>Body text</h4>
        <p>Every stat should have body text that explains the context around the number.</p>
    </div>
    <div>
        <h4>Additional elements</h4>
        <p>A stat can contain a relevant icon and/or call to action.</p>
    </div>
</div>
{%- endcall %}

{% call components.section("Style") -%}

<h4 style="margin-top: -4px;">Theme</h4>

{% call components.example(palette='light') %}
    <div class="centered">
        <rh-stat>
            <span slot="statistic">80%</span>
            <span>of Fortune Global 500 telecom companies<sup>1</sup></span>
        </rh-stat>
    </div>
{%- endcall %}
<!---UPDATE IMAGE: DOES DARK THEME NEED TO BE ADDED THROUGH PFE-BAND?-->
<rh-context-provider color-palette="darkest" style="border-radius: var(--rh-border-radius-default, 3px);">
    <div class="centered">
        <rh-stat>
            <span slot="statistic">80%</span>
            <span>of Fortune Global 500 telecom companies<sup>1</sup></span>
        </rh-stat>
    </div>
</rh-context-provider>

<h4>Color</h4>
{% call components.example(palette='light') %}
    <div class="centered">
        <img src="{{ '/assets/statistic/stat-colors.svg' | url }}" alt="Statistic component styling - color"
            style="--inline-img-max-width: 590px;">
    </div>
{%- endcall %}

<h4>Sizes</h4>
<p>The default size uses 36pt for the number and 40px for an icon. A large stat uses 48pt for the number and 64px for an icon. Both size variations use 18pt for body text and 20pt for titles.</p>
{% call components.example(palette='light') %}
    <div class="centered">
        <img src="{{ '/assets/statistic/stat-sizes.svg' | url }}" alt="Examples of stat in the default and large sizes"
            style="--inline-img-max-width: 752px;">
    </div>
{%- endcall %}

<h4>Configurations/variants</h4>
<p>An icon can be added as the first element in a statistic.</p>
<p><rh-cta>
    <a href="/get-started/icon-library/">Learn more about using icons</a> 
</rh-cta>
</p>
{% call components.example(palette='light') %}
    <div class="centered">
        <rh-stat icon="rh-telecom-vertical">
            <span slot="statistic">80%</span>
            <span>of Fortune Global 500 telecom companies<sup>1</sup></span>
        </rh-stat>
    </div>
{%- endcall %}
<p>A call to action can be added as the last element in a statistic.</p>
{% call components.example(palette='light') %}
    <div class="centered">
        <rh-stat>
            <span slot="statistic">80%</span>
            <span>of Fortune Global 500 telecom companies<sup>1</sup></span>
            <rh-cta slot="cta">
                <a href="#">Learn more</a>
            </rh-cta>
        </rh-stat>
    </div>
{%- endcall %}
<p>A stat can be placed inside a card.</p>
{% call components.example(palette='medium') %}
    <div class="centered">
        <img src="{{ '/assets/statistic/stat-config-in-card.svg' | url }}" alt="Example of a stat centered in a card"
            style="--inline-img-max-width: 406px;">
    </div>
{%- endcall %}

<h4>Alignment</h4>
<p>All content in a stat should use the same alignment. Currently all stat content is centered.</p>
{% call components.example(palette='light') %}
    <div class="centered">
        <rh-stat>
            <span slot="title">More than</span>
            <span slot="statistic">90%</span>
            <span>of Fortune 500 companies rely on Red Hat<sup>1</sup></span>
        </rh-stat>
    </div>
{%- endcall %}

{%- endcall %}


{% call components.section("Usage") -%}

<h4 style="margin-top: -4px;">Layout</h4>

<p>The minimum width of a stat is three columns and the maximum number of cards that can be used in a row is four.</p>
<div class="centered">
        <img src="{{ '/assets/statistic/stat-usage-layout.svg' | url }}" alt="Example of four stats in one row"
            style="--inline-img-max-width: 1000px;">
    </div>

<h4>Pairing statistics with footnotes</h4>

<p>Include a footnote on the same page if you're making a claim, especially if the statistic comes from an external source. This can increase the credibility of the statistic and can better integrate the data with the page content.</p>
{% call components.example(palette='light') %}
    <div class="centered">
        <img src="{{ '/assets/statistic/stat-usage-with-footnote.svg' | url }}" alt="Example of a stat paired with a footnote that explains where the stat came from"
            style="--inline-img-max-width: 555px;">
    </div>
{%- endcall %}

{%- endcall %}

{% call components.section("Behavior") -%}

<h4 style="margin-top: -4px;">Vertical height</h4>
<p>If there are multiple stats in a row, the height of the row will be determined by the tallest stat.</p>

{% call components.example(palette='light') %}
    <div class="centered">
        <img src="{{ '/assets/statistic/stat-behavior-vertical-height.svg' | url }}" alt="A group of five stats arranged in two rows"
            style="--inline-img-max-width: 789px;">
    </div>
{%- endcall %}

{%- endcall %}

{% call components.section("Accessibility") -%}

<h4 style="margin-top: -4px;">Color contrast</h4>

<p>A stat's colors may change based on the theme. This is done to ensure that the color contrast meets WCAG AA standards.</p>

<h4>Light theme - primary background</h4>
{% call components.example(palette='light') %}
    <div class="centered">
        <img src="{{ '/assets/statistic/stat-accessibility-light-theme-primary-bg.svg' | url }}" alt="A stat against a white background has a red title and number, black body text, and a blue CTA."
            style="--inline-img-max-width: 590px;">
    </div>
{%- endcall %}

<h4>Dark theme - primary background</h4>
{% call components.example(palette='darkest') %}
    <div class="centered">
        <img src="{{ '/assets/statistic/stat-accessibility-dark-theme-primary-bg.svg' | url }}" alt="A stat against a black background has a white title, white number, white body text, and a light blue CTA."
            style="--inline-img-max-width: 590px;">
    </div>
{%- endcall %}

<h4>Light theme - secondary background</h4>
<div class="example" style="background: var(--rh-color-surface-light, #f0f0f0); border-radius: var(--rh-border-radius-default, 3px);">
    <div class="centered">
        <img src="{{ '/assets/statistic/stat-accessibility-light-theme-secondary-bg.svg' | url }}" alt="A stat against a white background has a red title and number, black body text, and a blue CTA."
            style="--inline-img-max-width: 590px;">
    </div>
</div>

<h4>Dark theme - secondary background</h4>
<div class="example" style="background: var(--rh-color-surface-darker, #212427); border-radius: var(--rh-border-radius-default, 3px);">
    <div class="centered">
        <img src="{{ '/assets/statistic/stat-accessibility-dark-theme-secondary-bg.svg' | url }}" alt="A stat against a dark grey background has a white title and number, very light grey body text, and a light blue CTA."
            style="--inline-img-max-width: 590px;">
    </div>
</div>

{%- endcall %}


{% call components.section("Responsive design") -%}

<h4 style="margin-top: -4px;">Large screens</h4>

<p>A single stat will span a maximum of 6 columns.</p>

    <div class="margin-bottom--7">
        <img src="{{ '/assets/statistic/stat-responsive-desktop.svg' | url }}" alt="Example of a stat centered in a card"
            style="--inline-img-max-width: 1000px;">
    </div>

<h4>Small screens</h4>

<p>Stats in a row on large screens will stack on smaller screens. Font sizes will adjust based on the <a href="/foundations/typography/">mobile typography scale</a>.</p>

    <div class="margin-bottom--7">
        <img src="{{ '/assets/statistic/stat-responsive-mobile.svg' | url }}" alt="Three stats stacked in a 328px container with 16px margins on either side"
            style="--inline-img-max-width: 360px;">
    </div>

{%- endcall %}


{% call components.section("Best practices") -%}

<h4 style="margin-top: -4px;">Including additional elements</h4>

<p>Don't use inconsistent amounts of content in stats that are grouped together.</p>

  <div class="margin-bottom--3">
    <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Helpful tip</strong></span><br />A call to action does not have to appear under every stat in a group. Since it appears at the end, omitting it does not disrupt the visual flow of elements in the other stats.</p>
  </div>

{% call components.example(palette='wrong') %}
    <div class="centered">
        <img src="{{ '/assets/statistic/stat-best-practice-inconsistent-content.svg' | url }}" alt="Group containing a stat with icon only, stat without icon or title, and stat with title only"
            style="--inline-img-max-width: 789px;" class="margin-top--2">
    </div>
{%- endcall %}


<h4>Choosing icons</h4>

<p>Don't use an icon that is unrelated to the body text.</p>

{% call components.example(palette='wrong') %}
    <div class="centered">
        <img src="{{ '/assets/statistic/stat-best-practice-unrelated-icon.svg' | url }}" alt="Stat about telecom companies paired with a crab icon"
            style="--inline-img-max-width: 360px;">
    </div>
{%- endcall %}

<h4>Title</h4>

<p>Avoid character counts that cause the title to break into two lines at any screen size.</p>

{% call components.example(palette='wrong') %}
    <div class="centered">
        <img src="{{ '/assets/statistic/stat-best-practice-long-title.svg' | url }}" alt="Stat with a title that wraps to two lines"
            style="--inline-img-max-width: 381px;">
    </div>
{%- endcall %}

<p>If a title is used for one stat in a group, write a title for each stat. Ensure the title appears in the same slot for each grouped stat to keep formatting consistent.</p>

{% call components.example(palette='wrong') %}
    <div class="centered">
        <img src="{{ '/assets/statistic/stat-best-practice-title-placement.svg' | url }}" alt="One row containing a stat with a title above the number, stat with no title, and stat with a title below number"
            style="--inline-img-max-width: 789px;">
    </div>
{%- endcall %}

<h4>Number</h4>
<p>Avoid character counts that cause the number to break into two lines at any screen size. If the number is a percentage, round up to avoid using decimals that would increase the character count.</p>

{% call components.example(palette='wrong') %}
    <div class="centered">
        <img src="{{ '/assets/statistic/stat-best-practice-long-number.svg' | url }}" alt="Stat with a number that wraps to two lines"
            style="--inline-img-max-width: 320px;">
    </div>
{%- endcall %}

<p>Avoid using 100% for more than one statistic in a group or on a page, unless you are able to cite a source and include footnotes.</p>

{% call components.example(palette='wrong') %}
    <div class="centered">
        <img src="{{ '/assets/statistic/stat-best-practice-100-percent-no-footnote.svg' | url }}" alt="Three stats with 100% and no footnote"
            style="--inline-img-max-width: 789px;">
    </div>
{%- endcall %}

<h4>Body text</h4>

<p>Keep the body text as short and consumable as possible. Be mindful of lengthy character counts, especially when stats are grouped. In general, it is not recommended to have the stat's body text span more than 5 lines on small screens.</p>

{% call components.example(palette='wrong') %}
    <div class="centered">
        <img src="{{ '/assets/statistic/stat-best-practice-long-body-text.svg' | url }}" alt="Stat with body text that is six lines long at mobile screen sizes"
            style="--inline-img-max-width: 328px;">
    </div>
{%- endcall %}



{%- endcall %}



{% call components.section("Spacing") -%}

<h4 style="margin-top: -4px;">Within the component</h4>

<p>The Statistic component uses <a href="/foundations/spacing">spacers</a> to define space values between elements. The default and large variations use the same spacing.</p>

{% call components.example(palette='light') %}
    <div class="centered">
        <img src="{{ '/assets/statistic/stat-spacing.svg' | url }}" alt="Stat uses 8px of space below icon, 8px of space below number, and 24px of space below body text."
            style="--inline-img-max-width: 348px;">
    </div>
{%- endcall %}

<h4>Within groups of stats</h4>

<p>Spacing between vertically stacked stats should be 48px.</p>

{% call components.example(palette='light') %}
    <div class="centered">
        <img src="{{ '/assets/statistic/stat-vertical-spacing.svg' | url }}" alt="Example of two stats stacked with a 48px spacer in between."
            style="--inline-img-max-width: 360px;">
    </div>
{%- endcall %}


{%- endcall %}

<div class="multi-column--min-300-wide">

  {% call components.section("Feedback") -%}
    <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  {%- endcall %}

  {% call components.section("Components") -%}
    <p>To learn how to use our other components in your designs, visit the <a href="/components">Components</a> section.</p>
  {%- endcall %}

</div>
