:host {
  display: block;
}

#container {
  border-inline-start: var(--rh-border-width-lg, 3px) solid transparent;
  border-inline-end: var(--rh-border-width-sm, 1px) solid transparent;
  display: block;
  height: 100%;
}

#container.expanded {
  border-inline-start-color: var(--rh-color-text-brand-on-light, #ee0000);
  border-inline-end-color: var(--rh-color-border-subtle-on-light, #c7c7c7);
  box-shadow: var(--rh-box-shadow-sm, 0 2px 4px 0 rgba(21, 21, 21, 0.2));
}

::slotted([slot='link']) {
  --_chevron-color: var(--rh-color-text-primary);

  justify-content: space-between;
  position: relative;
  gap: calc(var(--rh-font-size-body-text-md, 1rem) / 2);
  background-color: var(--rh-color-surface);
}

#container.highlight ::slotted([slot='link']),
::slotted([slot='link'][aria-current='page']) {
  border-block-start-color: var(--_current-active-child-border-color, #ee0000) !important;
}

::slotted([slot='link']):after {
  box-sizing: content-box !important;
  content: '';
  display: block;
  width: var(--_chevron-size);
  height: var(--_chevron-size);
  border-inline-end: var(--_chevron-thickness) solid var(--_chevron-color);
  border-block-end: var(--_chevron-thickness) solid var(--_chevron-color);
  transform: var(--_chevron-transform-collapsed);
}

#container.expanded ::slotted([slot='link']):after {
  transform: var(--_chevron-transform-expanded);
}

@media screen and (min-width: 992px) {
  #container {
    border-inline-start: none;
    border-inline-end: none;
  }

  #container.expanded {
    box-shadow: none;
  }

  ::slotted([slot='link'][aria-expanded='true']) {
    border-block-start-color: var(--rh-color-text-brand-on-light, #ee0000);
    background: var(--rh-color-surface-lightest, #ffffff) !important;
  }

  ::slotted([slot='link'][aria-expanded='true']):after {
    --_chevron-color: var(--rh-color-text-primary-on-light, #151515) !important;
  }
}
