.visually-hidden-class {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

section,
rh-context-provider {
  padding: var(--rh-space-xl, 24px) var(--rh-space-4xl, 64px);
}
