body {
  padding-top: 60px;

  @include breakpoint(bravo) {
    padding-top: 72px; // Move content down to dodge fixed header
  }
}

// .l-header {
// }

.l-header__logo-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  height: map-get($header-height, default);
  padding: 0 24px;
  color: #fff;
  background: #000;
  @include breakpoint(bravo) {
    position: fixed;
  }
  @each $breakpoint, $height in $header-height {
    @if $breakpoint != 'default' {
      @include breakpoint($breakpoint) {
        height: $height;
      }
    }
  }
}

.l-header__logo {
  max-width: 136px;
}

.l-main {
  position: relative;
  @include breakpoint($nav-break) {
    // padding-bottom: 40px;
    padding-left: $fixed-sidebar-width;
  }
}

.l-main__header--palette-lighter {
  background: #f5f5f5;
  margin-bottom: 80px;
}

.l-main__content {
  // overflow: hidden;
}

.main-footer {
  background-color: #151515;
  padding: 24px 32px;
  margin-top: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    display: block;
    margin: 0 24px 0;
  }

  p {
    font-size: 12px;
    color: #D2D2D2;
    margin: 0 16px 0;
    padding: 0;
    line-height: 12px;
  }

  &--list {
    
    ul {
      display: flex;
      margin: 0;
      list-style: none;
      padding: 0;

      li {
        padding: 0 8px;
        line-height: 12px;
      }

      a {
        line-height: 12px;
        font-size: 12px;
        color: #d2d2d2;
       
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
