body {
  padding-top: 72px; // Move content down to dodge fixed header
}

// .l-header {
// }

.l-header__logo-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  height: map-get($header-height, default);
  padding: 0 24px;
  color: #fff;
  background: #000;
  @each $breakpoint, $height in $header-height {
    @if $breakpoint != 'default' {
      @include breakpoint($breakpoint) {
        height: $height;
      }
    }
  }
}

.l-header__logo {
  max-width: 136px;
}

.l-main {
  @include breakpoint($nav-break) {
    padding-bottom: 40px;
    padding-left: $fixed-sidebar-width;
  }
}

.l-main__header--palette-lighter {
  background: #f0f0f0;
  margin-bottom: 64px;
}

.l-main__content {
  overflow: hidden;
}
