//
// !! Utility classes should never be extended with other styles
// !! e.g. .l-sidebar .headline {color: blue;}
// !! Instead another class should be added to the element for custom styles
//

:root {
  --width: auto;
}

.element-invisible {
  @include visually-hidden;
  grid-gap: 1rem;
}

.header,
.section,
.container {
  max-width: 65em;
  padding-left: 32px;
  padding-right: 32px;
  @include breakpoint(tango) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.section {
  h3 {
    margin-top: 64px;
  }

  p {
    max-width: 750px;

    a {
      text-decoration: none;
      color: #06c;

      &:hover {
        text-decoration: underline;
        color: #004080;
      }
    }

  }

}

.multi-column--150-wide,
.multi-column--200-wide,
.multi-column--300-wide,
.multi-column--400-wide,
.multi-column--500-wide,
.multi-column--600-wide,
.multi-column--min-150-wide,
.multi-column--min-200-wide,
.multi-column--min-300-wide,
.multi-column--min-400-wide,
.multi-column--min-500-wide,
.multi-column--min-600-wide {
  grid-template-columns: 1fr;
  width: 100%;
  display: grid;
  grid-gap: 2rem 64px;

  .section + .section {
    margin: 0;
  }

  @include breakpoint(lima) {
    width: calc(100vw - #{$fixed-sidebar-width + 240px});
    max-width: 100%;
  }
}

.multi-column--200-wide {
  grid-template-columns: 1fr;
  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
  }
}

.multi-column--300-wide {
  grid-template-columns: 1fr;
  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  }
}

.multi-column--400-wide {
  grid-template-columns: 1fr;
  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
  }
}

.multi-column--500-wide {
  grid-template-columns: 1fr;
  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 500px));
  }
}

.multi-column--600-wide {
  grid-template-columns: 1fr;
  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fit, minmax(500px, 600px));
  }
}

.multi-column--min-150-wide {
  grid-template-columns: 1fr;
  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}

.multi-column--min-200-wide {
  grid-template-columns: 1fr;
  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.multi-column--min-300-wide {
  grid-template-columns: 1fr;
  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.multi-column--min-400-wide {
  grid-template-columns: 1fr;
  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

.multi-column--min-500-wide {
  grid-template-columns: 1fr;
  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}

.multi-column--min-600-wide {
  grid-template-columns: 1fr;
  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
}

.margin-top--1[class] {
  margin-top: 8px;
}

.margin-top--2[class] {
  margin-top: 16px;
}

.margin-top--3[class] {
  margin-top: 24px;
}

.margin-top--4[class] {
  margin-top: 32px;
}

.margin-top--5[class] {
  margin-top: 40px;
}

.margin-top--6[class] {
  margin-top: 48px;
}

.margin-top--7[class] {
  margin-top: 56px;
}

.margin-top--8[class] {
  margin-top: 64px;
}

.margin-top--9[class] {
  margin-top: 72px;
}

.margin-top--10[class] {
  margin-top: 80px;
}

.margin-bottom--1[class] {
  margin-bottom: 8px;
}

.margin-bottom--2[class] {
  margin-bottom: 16px;
}

.margin-bottom--3[class] {
  margin-bottom: 24px;
}

.margin-bottom--4[class] {
  margin-bottom: 32px;
}

.margin-bottom--5[class] {
  margin-bottom: 40px;
}

.margin-bottom--6[class] {
  margin-bottom: 48px;
}

.margin-bottom--7[class] {
  margin-bottom: 56px;
}

.margin-bottom--8[class] {
  margin-bottom: 64px;
}

.margin-bottom--9[class] {
  margin-bottom: 72px;
}

.margin-bottom--10[class] {
  margin-bottom: 80px;
}

.centered {
  margin: 0 auto;
  text-align: center;
  align-items: center;

  p {
    max-width: 750px;
    margin: 0 auto 48px;
  }
}

.footnote {
  font-size: 14px;
  color: #6a6e73;
  line-height: 18px;
  // Not ideal negative margins, need to dynamically
  // ask if there is a footnote below example
  margin-top: -32px;
  margin-bottom: 64px;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid #d2d2d2;
}

.pfe-headline-xxxl {
  font-size: 48px;
  margin-top: 16px;
  line-height: 54px;
  // could we override existing variables for headline
  @include breakpoint(lima) {
    font-size: 64px;
    line-height: 72px;
  }
}

.section-headline {
  color: #ee0000;
  text-transform: uppercase;
  font-family: 'RedHatDisplay', 'Overpass', Overpass, Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  line-height: 26px;
  font-size: 20px;
  font-weight: 500;
}

.multi-column--4-2-1-narrow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
  @include breakpoint(tango) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
  }
}

.multi-column--4-2-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  justify-content: center;
  @include breakpoint(tango) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 64px;
  }
}

.multi-column--3-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  justify-content: center;
  @include breakpoint(tango) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 64px;
  }
}

.multi-column--2-1-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 64px;
  justify-content: center;
  align-items: center;
  @include breakpoint(tango) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
  }

  > * {
    justify-self: center;
  }
}

.inline-flex {
  display: block;
  justify-content: center;
  flex: 1;
  @include breakpoint(lima) {
    flex: 2;
    display: flex;
  }

  div {
    padding: 0 16px;
    margin-bottom: 20px;
    @include breakpoint(tango) {
      margin-bottom: 0;
    }
  }
}

.inline-flex-left {
  display: block;
  justify-content: left;
  flex: 1;
  align-items: center;
  @include breakpoint(lima) {
    display: inline-flex;
  }
  
  > * {
    margin-bottom: 20px;
    margin-right: 32px;
    @include breakpoint(tango) {
      margin-bottom: 0;
    }
  }
}
