---
layout: layout-basic.njk
title: Designers
order: 2
tags:
  - getstarted
bodyClasses: element-docs
---

{% import 'component/get-started.njk' as getstarted %}

{% call getstarted.section("Introduction") -%}

<p>Welcome to the <strong>Red Hat Design System</strong> (RHDS) for digital experiences. If you need to design something using our design system, you have come to the right place.</p>

<p>Follow these steps to get started and <a href="mailto:design-system@redhat.com">send us an e-mail</a> or connect with us on Slack if you have any questions along the way.</p>

{%- endcall %}

{% call getstarted.section("Explore brand standards") -%}

<p>Our <a href="https://www.redhat.com/en/about/brand/standards">Brand standards</a> are the source code of the Red Hat brand. Using brand standards as the starting point for every project ensures that every interaction with Red Hat reflects our brand personality, brand strategy, and consistent visual language. Consistency is how we create authentic relationships and credibility with our customers, partners, and contributors.</p>

{%- endcall %}

{% call getstarted.section("Learn about our design system") -%}

<p>Our design system libraries and the documentation website offer assets and guidance needed to create digital experiences. Please read through each section to have a better understanding of how to use our design system.</p>

<div class="multi-column--min-400-wide">
    <div>
        <h3>Foundations</h3>
        <p><a href="foundations">Foundations</a> are how we express our brand through color, space, typography, etc.</p>
    </div>
    <div>
        <h3>Design tokens</h3>
        <p><a href="tokens">Design tokens</a> are how we translate our design language decisions into code.</p>
    </div>
    <div>
        <h3>Elements and patterns</h3>
        <p>Our libraries include <a href="elements">elements</a> and <a href="patterns">patterns</a> you can use to create digital experiences.</p>
    </div>
</div>

{%- endcall %}

{% call getstarted.section("Access Figma") -%}

<p>You need a Figma license to access our libraries. When you are granted a license, use your Red Hat e-mail address to log in to Figma via SSO authentication. When you are logged in, you should be able to access our libraries and add them to all of your <a href="https://help.figma.com/hc/en-us/articles/360038743434-Manage-libraries-for-your-drafts">drafts</a> or <a href="https://help.figma.com/hc/en-us/articles/1500008731201-Manage-libraries-in-design-files">individual files</a>.</p>

<h3>Agency access</h3>

<p>If you work with an agency and do not have a Red Hat e-mail address, <a href="mailto:design-system@redhat.com">send us an e-mail</a> and we will invite you to view our libraries.</p>

{%- endcall %}

{% call getstarted.section("Use libraries") -%}

<p>Our libraries are built and maintained in Figma, our primary design tool. By using our libraries, you will automatically receive notifications as we make updates to our foundational styles, elements, and patterns (as long as you do not detach them). This ensures that your designs are current and representative of the latest design system release.</p>

<rh-alert state="warning">
    <h3 slot="header">Warning</h3>
    <p>We no longer support Adobe XD. You need to migrate to Figma in order to access and use our most up-to-date libraries. Do not continue to use Adobe XD for any kind of design work. If you need assistance migrating XD files to Figma, <a href="mailto:design-system@redhat.com">send us an e-mail</a>.</p>
  </rh-alert>

<h3>Core and subsystem libraries</h3>

<p>The RHDS library is our core library that includes our foundational styles, elements, and patterns needed to create digital experiences. We also offer access to subsystem libraries that include project- or team- specific patterns that pull from the RHDS library.</p>

<rh-table>
  <table>
    <tr>
        <th>Library name</th>
        <th>Use case</th>
    </tr>
    <tr>
        <td>RHDS</td>
        <td>Our core library for creating Red Hat digital experiences.</td>
    </tr>
    <tr>
        <td><a href="https://www.patternfly.org/">PatternFly</a></td>
        <td>A library for creating application interfaces.</td>
    </tr>
  </table>
</rh-table>

{%- endcall %}

{% call getstarted.section("Work in Figma") -%}

<h3>Brand assets</h3>

<p>If your project requires brand assets, the <a href="https://www.redhat.com/en/about/brand/standards">Brand standards</a> website has links to assets including icons, fonts, photography, etc. Icons will be accessible via a subsystem Figma library very soon.</p>

<h3>Inserting elements and patterns</h3>

<p>To use an element or pattern in your design, select the <stron>Assets</strong> tab. Find your desired asset and drag it onto the canvas or frame. You can also preview an asset by selecting it. When you are satisfied with the preview, select the <strong>Insert instance</strong> button and the asset will appear on the canvas or frame. If you have questions about how to use an element or pattern correctly, review the documentation or connect with us on Slack.</p>

<h3>Properties</h3>

<p>Properties are changeable aspects of an element or pattern and you can see them in the right sidebar when the asset is selected. Properties change the appearance of an element or pattern so they can be used for different use cases. Some examples of properties include state, theme, variant, etc.</p>

<h3>Responsive resize</h3>

<p>Most elements and patterns can be resized to fit different viewport sizes. You can change the height or width of an asset by dragging an edge or corner.</p>

<p>You can also use <a href="https://help.figma.com/hc/en-us/articles/360039957734-Apply-constraints-to-define-how-layers-resizeh">Constraints</a> to tell Figma how layers should respond when their frames are resized.</p>

<h3>Instance swap</h3>

<p>To speed up your design process, you can swap elements or patterns instead of dragging and dropping over and over again. Use the <strong>Instance</strong> menu to swap one element for another from any enabled library. Changing a property will not replace an element, but instance swapping will.</p>

{%- endcall %}

{% call getstarted.section("Get familiar with GitHub") -%}

<p>GitHub is how we maintain the design system. We also use it to track changes, update the documentation website, store design tokens, and more in our <a href="https://github.com/RedHat-UX
">GitHub repo. To contribute to the design system, you will need to familiarize yourself with creating an <a href="https://github.com/RedHat-UX/red-hat-design-system/issues">issue</a> using one of our templates, creating a <a href="https://github.com/RedHat-UX/red-hat-design-system/discussions">discussion</a>, and reviewing work in <a href="https://github.com/RedHat-UX/red-hat-design-system/pulls">pull requests</a>.</p>

<p>The <a href="https://github.com/RedHat-UX/red-hat-design-system/wiki">GitHub Wiki</a> can help you get started and you can always chat with us for additional help.</p>

{%- endcall %}

{% call getstarted.section("Best practices") -%}

<h3>Detaching an instance</h3>

<p>Currently, you <strong>cannot</strong> add new items to an element or pattern instance that you pull from a library. You need to detach it if you want to add new assets, more slots, etc. If you believe that an element or pattern in any library needs more slots for new items, <a href="https://github.com/RedHat-UX/red-hat-design-system/issues">create an issue</a> and we will try and prioritize building them in.</p>

<rh-alert state="warning">
    <h3 slot="header">Warning</h3>
    <p>Detached instances will not receive style or other updates from any of the libraries if that element or pattern is updated.</p>
  </rh-alert>

<h3>Alignment resources</h3>

<p>Use these resources to help you stay aligned to our brand and design system while working.</p>

<ul>
    <li><a href="https://www.redhat.com/en/about/brand/standards">Brand standards</a></li>
    <li><a href="foundations">Foundations</a>, <a href="elements">elements</a>, and <a href="patterns">patterns</a></li>
    <li>Reference existing pages so you can see how brand and design system assets are being used</li>
        <ul>
            <li><a href="https://redhat.com/">redhat.com home page</a></li>
            <li><a href="https://www.redhat.com/en/technologies/cloud-computing/openshift">Product page</a></li>
            <li><a href="https://www.redhat.com/en/topics/cloud-computing/what-are-cloud-services">Resource article page</a></li>
            <li><a href="https://catalog.redhat.com/software/search?functionalCategories=AI%20%26%20machine%20learning">SERP</a></li>
            <li><a href="https://www.redhat.com/en/technologies/linux-platforms/enterprise-linux/server/trial">Product trial page</a></li>
        </ul>
</ul>

{%- endcall %}

{% call getstarted.section("Frequently asked questions") -%}

<p>
    <strong>How can I get better at Figma?</strong>
    <br />
    Check out these resources if you want to improve your Figma skills.
</p>
<ul>
    <li>YouTube channels like <a href="https://www.youtube.com/channel/UCQsVmhSa4X-G3lHlUtejzLA">Figma</a> and <a href="https://www.youtube.com/@UICollectiveDesign">UI Collective</a> have lots of free videos</li>
    <li>The <a href="https://www.figma.com/resource-library/">Figma Resource Library</a> has helpful content</li>
    <li>If all else fails, find answers in the <a href="https://help.figma.com/hc/en-us">Figma Help Center</a></li>
</ul>

<p>
    <strong>How do foundational styles, elements, and patterns get updated?</strong>
    <br>
    The design system team meets regularly to discuss work in progress and new issues. Updates are assigned a priority in our GitHub backlog. Once a priority is set and a schedule is agreed upon, design or development work begins. When the work is completed, the Figma libraries, documentation website, and repos are all updated. All updates are tracked in our <a href="https://github.com/RedHat-UX/red-hat-design-system/releases">changelog</a> and listed on the <a href="https://ux.redhat.com/release-notes/">Release notes</a> page. Larger updates are sometimes communicated via a quarterly newsletter e-mail.
</p>

<p>
    <strong>What if an element or pattern I need is missing?</strong>
    <br>
    If you think something is missing or you cannot find something, connect with us on Slack or <a href="https://github.com/RedHat-UX/red-hat-design-system/discussions">create a discussion</a>.
</p>

<p>
    <strong>How can I contribute an idea?</strong>
    <br>
    If you have feedback or you would like to contribute an idea, <a href="https://github.com/RedHat-UX/red-hat-design-system/discussions">create a discussion</a>.
</p>

<p>
    <strong>How can I report a bug?</strong>
    <br>
    If you find a bug, <a href="https://github.com/RedHat-UX/red-hat-design-system/issues/new/choose">create an issue</a> and describe it as thoroughly as possible. If something is broken, <a href="mailto:design-system@redhat.com">send us an e-mail</a> or connect with us on Slack and we will investigate.
</p>

{%- endcall %}

{% call getstarted.section("Roadmap") -%}

<p>You can learn about our current release or future plans by going to the <a href="https://ux.redhat.com/about/roadmap/">Roadmap</a> page. If you need something created sooner rather than later, <a href="https://github.com/RedHat-UX/red-hat-design-system/issues/new/choose">create an issue</a> or <a href="mailto:design-system@redhat.com">send us an e-mail</a> and we will discuss the priority and timeline.</p>

{%- endcall %}

{% call getstarted.section("Connect with us") -%}

<p>For questions, additional support, or training, <a href="mailto:design-system@redhat.com">send us an e-mail</a> or connect with us on Slack.</p>

{%- endcall %}

{% call getstarted.section("Connect with us") -%}

<ul>
    <li>Brand standards</li>
    <li>Fonts</li>
    <li>GitHub repo</li>
    <li>RHa11y Resource Hub</li>
</ul>

{%- endcall %}


{% feedback %}
  <h2>Developers</h2>
  <p>To get started using our design system as a developer, go to the <a href="get-started/developers">Developers</a> page.</p>
{% endfeedback %}

