---
layout: layout-basic.njk
title: FTS starter kit
order: 2
tags:
  - getstarted
includeComponent:
  - pfe-modal
---

{% import 'component/get-started.njk' as getstarted %}

{% call getstarted.section("Flexible Template System") -%}

  <p>The <strong>Flexible Template System</strong> (FTS) is a pattern system within Drupal that allows <a href="https://www.redhat.com/en" target="_blank">redhat.com</a> web properties to scale, it also serves as a powerful development tool and a comprehensive library of our patterns. Users can customize patterns within <strong>Patternkit</strong>, a prototyping tool, and they can also design and build pages within Drupal while staying aligned to our brand standards and design system.</p>

  <rh-cta variant="secondary">
    <a href="https://source.redhat.com/departments/marketing/digitalmarketingstrategy/flexibletemplatingsystem" target="_blank">Learn how to use FTS</a>
  </rh-cta>

  <rh-cta style="margin-left:32px;">
    <a href="https://webrh-demo.apps.int.spoke.preprod.us-west-2.aws.paas.redhat.com/schema/pattern_page" target="_blank">Browse Patternkit patterns</a>
  </rh-cta>

{%- endcall %}

{% call getstarted.section("Drupal") -%}

  <p>Red Hat uses <strong>Drupal</strong>, the content management system. Over 30,000 pages are maintained in Drupal including support for eight different languages. As our web properties scale, it is vital to have a modern content management system that designers and developers can use to build or iterate pages quickly. A one-time three-hour training session is offered to all new Drupal users and you are automatically enrolled in this session when you are granted Drupal access.</p>

  <rh-cta variant="secondary">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScKW_9M93PMmhm1ys4_7nG56mDhixrGfBEV15-exfePOzSOAQ/viewform" target="_blank">Request Drupal access</a>
  </rh-cta>

{%- endcall %}

{% call getstarted.section("FTS starter kit") -%}

  <p>The <strong>FTS starter kit</strong> is the bridge between Adobe XD and the page building experience within Drupal. Sometimes designers are unsure of what FTS patterns are available or they are concerned about consistency when moving from a design to development environment. The FTS starter kit aims to eliminate inconsistencies by providing designers with customizable FTS patterns that are 1:1 when using the same patterns to build pages in Drupal.</p>

  <rh-cta variant="secondary">
    <a href="https://xd.adobe.com/view/404ce962-da2d-444b-aa93-490a774e361c-151f/" target="_blank">Browse FTS starter kit patterns</a>
  </rh-cta>

{%- endcall %}

{% call getstarted.section("Adobe XD") -%}

  <p>The FTS starter kit is maintained in <strong>Adobe XD</strong>  and <strong>Adobe Creative Cloud</strong>. They need to be installed if you want access to FTS patterns. Once a license is granted, Associates can install their desired app(s) from within Adobe Creative Cloud. Contact your manager for further assistance if necessary.</p>

  <rh-cta variant="secondary">
    <a href="https://url.corp.redhat.com/adobecc" target="_blank">Request a Creative Cloud license</a>
  </rh-cta>

  <rh-cta style="margin-left:32px;">
    <a href="https://www.adobe.com/products/xd/learn/get-started.html" target="_blank">Learn how to use Adobe XD</a>
  </rh-cta>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call getstarted.section("Get started") -%}

  <p>If necessary, complete any Drupal or XD trainings <strong>before</strong> requesting an invite to access the FTS starter kit.</p>

  <div class="list-box">
    <div class="list-box--item">
      <div class="list-box--item-number">
        <span>1</span>
      </div>
      <div class="list-box--item-description">
        <h4>Request an invite</h4>
        <p><a href="mailto:digital-design-system@redhat.com">Contact us</a> and tell us about you and what you are working on in relation to FTS and Drupal.</p>
      </div>
    </div>
    <div class="list-box--item">
      <div class="list-box--item-number">
        <span>2</span>
      </div>
      <div class="list-box--item-description">
        <h4>Sync the library</h4>
        <p>When you accept the invite, the library will sync in XD. There are a lot of FTS patterns, so it might take some time.</p>
      </div>
    </div>

    <div class="list-box--item">
      <div class="list-box--item-number">
        <span>3</span>
      </div>
      <div class="list-box--item-description">

        <!-- Start modal content -->

        <pfe-modal id="connect-kit">
          <h3 slot="pfe-modal--header">Load the library</h3>
          <p>When the FTS starter kit library is done syncing, it should appear in the <strong>Libraries</strong> panel in XD. You can view the Libraries panel by pressing <strong>Shift + Command + Y</strong> (or <strong>Shift + Control + Y</strong> on Windows). Clicking on the library will load the FTS patterns for you to start working with.</p>
          <div style="text-align:center;">
            <img src="{{ '/assets/getstarted/fts-starter-kit/fts-starter-kit-modal-image-1.svg' | url }}" alt="Library name" style="padding-top:32px; padding-bottom:24px; max-width:246px; text-align:center; margin: 0 auto;">
          </div>
          <p>If you do not see the library, click on the <strong>Manage libraries</strong> link in the Libraries panel. The library may need to be enabled by turning on the switch. It takes some time for XD to sync our libraries, so be patient. Remember that your Adobe account needs to be on the Adobe for Teams plan if you want to use this library.</p>
          <div style="text-align:center;">
            <img src="{{ '/assets/getstarted/fts-starter-kit/fts-starter-kit-modal-image-2.svg' | url }}" alt="Activate library" style="padding-top:32px; padding-bottom:24px; max-width:305px; text-align:center; margin: 0 auto;">
          </div>
          <p>Still not working? For further assistance, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
        </pfe-modal>

        <!-- End modal content -->

        <h4>Load the library</h4>
        <p>When fully synced, the library will appear in the <a class="modal-launch" onclick="document.getElementById('connect-kit').open()">Libraries</a> panel in XD. Clicking on the library will load the FTS patterns.</p>
      </div>
    </div>

    <div class="list-box--item">
      <div class="list-box--item-number">
        <span>4</span>
      </div>
      <div class="list-box--item-description">
        <h4>Create pages</h4>
        <p>Use the FTS patterns in XD to build patterns or create pages that will be 1:1 when moving to Drupal.</p>
      </div>
    </div>
  </div>

{%- endcall %}

{% call getstarted.section("Working in Adobe XD") -%}

  <h4>Using patterns</h4>

  <p>Find your desired FTS pattern in the Libraries panel and add it to your design by dragging and dropping. To replace a pattern, switch to the Layers panel by pressing <strong>Command + Y</strong> (or <strong>Control + Y</strong> on Windows). Highlight the layer with a chain icon to the left, switch back to the Libraries panel, and drag and drop a different pattern on top of it. To reset a pattern back to the default, right-click on the layer with a chain icon to the left and select Reset to Main State.</p>

  {% call getstarted.example(palette='lightest') %}
    <img src="{{ '/assets/getstarted/fts-starter-kit/fts-starter-kit-using-patterns.svg' | url }}" alt="Using FTS starter kit patterns" style="--example-img-max-width: 872px;">
  {%- endcall %}

  <h4>Component states</h4>

  <p>Each FTS pattern in XD features <strong>Component States</strong> or options you can toggle to show different kinds of specs or states. Toggling each component state is a good way to learn about FTS patterns and how you can customize them in Drupal.</p>

  <ul>
    <li><strong>Default State</strong> - The default appearance of a pattern</li>
    <li><strong>Blueprint</strong> - Overlays a skeleton of element labels which correspond to the fields in Drupal</li>
    <li><strong>Layout options</strong> - Displays examples of layout configurations, additional options are available in Drupal</li>
    <li><strong>Alignment</strong> - Displays alignment options for certain elements like calls to action or text</li>
    <li><strong>Spacing</strong> - Overlays the correct <a href="../../foundations/spacing">spacers</a> in between each element according to the design system</li>
    <li><strong>Available themes</strong> - Changes the appearance of elements according to the available themes</li>
    <li><strong>Pattern builder demo link</strong> - Provides a link to customize each pattern further using Patternkit</li>
  </ul>

  {% call getstarted.example(palette='lightest') %}
    <img src="{{ '/assets/getstarted/fts-starter-kit/fts-starter-kit-component-states.svg' | url }}" alt="FTS starter kit component states" style="--example-img-max-width: 872px;">
  {%- endcall %}

  <h4>Element labeling</h4>

  <p>In the Blueprint component state in XD, the element labels are the same as the field names in Patternkit or Drupal. If you want to add, change, or remove an element in a pattern, look for the corresponding field that matches the label. There are a lot of fields even for simple FTS patterns, but following the blueprint will make it easy to find the correct fields in Drupal.</p>

  {% call getstarted.example(palette='lightest') %}
    <img src="{{ '/assets/getstarted/fts-starter-kit/fts-starter-kit-element-labeling.svg' | url }}" alt="Labeling FTS starter kit elements" style="--example-img-max-width: 872px;">
  {%- endcall %}

{%- endcall %}

{% call getstarted.section("Working in Drupal") -%}

  <h4>Pattern options</h4>

  <p>The patterns available in the FTS starter kit are the same as the patterns in Patternkit or Drupal which makes it easy to recreate your design when building a page.</p>

  {% call getstarted.example(palette='lightest') %}
    <img src="{{ '/assets/getstarted/fts-starter-kit/fts-starter-kit-pattern-options.svg' | url }}" alt="FTS starter kit pattern options" style="--example-img-max-width: 698px;">
  {%- endcall %}

  <h4>Adding patterns</h4>

  <p>When you add a new FTS pattern in Drupal, refer back to the element labels in the Blueprint component state in XD to know exactly which fields are available to customize.</p>

  {% call getstarted.example(palette='lightest') %}
    <img src="{{ '/assets/getstarted/fts-starter-kit/fts-starter-kit-adding-patterns.svg' | url }}" alt="Adding FTS starter kit patterns" style="--example-img-max-width: 872px;">
  {%- endcall %}

  <h4>Customizing patterns</h4>

  <p>A new FTS pattern can be customized with just a few clicks. Element labels in XD make it easy to find the corresponding fields in Drupal you can work with. To change something, select each dropdown to see what options are available. When you change something like the background color, elements inside the pattern will also change to fit the new theme. To add or remove a component like a call to action, there are buttons nearby. This continuous loop of working with FTS patterns in XD and then building them in Drupal takes practice, but it can reduce working time by a lot once you get the process right.</p>

  {% call getstarted.example(palette='lightest') %}
    <img src="{{ '/assets/getstarted/fts-starter-kit/fts-starter-kit-customizing-patterns.svg' | url }}" alt="Customizing FTS starter kit patterns" style="--example-img-max-width: 872px;">
  {%- endcall %}

{%- endcall %}

{% call getstarted.section("Best practices") -%}

  <p>Our goal with the FTS starter kit and Drupal is to give users the tools they need to design and develop pages by themselves. There are endless ways to customize FTS patterns or build pages in Drupal or XD. However, there are also endless ways to create things that do <strong>not</strong> align to our brand standards and design system. When customizing FTS patterns or building pages in Drupal or XD, these resources will help you stay aligned.</p>

  <ul>
    <li>Design system <a href="../../foundations/">Foundations</a> or common FTS layouts like <a href="../../components/card">Cards</a></li>
    <li><a href="https://www.redhat.com/en/about/brand/standards" target="_blank">Brand standards</a> like icons, illustrations, photography, etc.</li>
    <li>FTS <a href="https://www.redhat.com/en/demo-fts-patterns" target="_blank">patterns</a> or <a href="https://www.redhat.com/en/demo-fts-layouts" target="_blank">layout</a> demo pages so you can see what already exists in the wild</li>
  </ul>

  <img src="{{ '/assets/getstarted/fts-starter-kit/fts-starter-kit-best-practices.svg' | url }}" alt="FTS starter kit best practices" style="--example-img-max-width: 1000px;">

  <p style="font-size: 14px; letter-spacing: 0.2px; color:#6a6e73">Example of an FTS pattern that can be created in Drupal or XD, but does <strong>not</strong> align to the design system</p>

{%- endcall %}

{% call getstarted.section("Contributing") -%}

  <p>We welcome feedback about the FTS starter kit and want <strong>you</strong> to contribute to its growth. Feel free to <a href="mailto:digital-design-system@redhat.com">contact us</a> about any of the following.</p>

  <ul>
    <li>If you need a new pattern, describe the pattern you want created and why</li>
    <li>If you need an existing pattern to be added, tell us which pattern</li>
    <li>If you feel a pattern <strong>you created or built</strong> should be added, send us an XD file or screenshot and we will review it</li>
    <li>If you think updates need to be made, describe the pattern and the specific updates</li>
  </ul>

  <!-- Temporary Warning alert until web component release -->
  <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br />When changes to an FTS pattern are made in XD, you must update that pattern manually or drag and drop a new one to see the changes.</p>

{%- endcall %}

{% call getstarted.section("Frequently asked questions") -%}

  <p><strong>How does a pattern in Drupal get updated?</strong><br />Design and development teams meet weekly to review new FTS pattern requests or updates. If you submit a new request or update, it is assigned a priority in our backlog. Once the priority is set and a schedule is agreed upon, design or development work begins. When the work is complete, the new request or update is implemented and you will be notified.</p>

  <hr class="margin-top--4 margin-bottom--4">

  <p><strong>How do I request a new pattern be added or updated in Drupal?</strong><br />To request a new pattern or request updates, fill out <a href="https://red.ht/system-ux" target="_blank">this form</a>.</p>

  <hr class="margin-top--4 margin-bottom--4">

  <p><strong>How can I get more Drupal or XD training?</strong><br />For Drupal, use the tasks in <a href="https://docs.google.com/document/d/1YoADWZSf-liN8rv8QE7RDN1YPNSKBe4nskg9-ndh9L8/edit" target="_blank">this practice document</a> to get acquainted with changing out images, adding links, adding new patterns, and more. For XD, visit <a href="https://www.adobe.com/products/xd/learn/get-started-xd-components-libraries.html" target="_blank">this page</a> to learn how to use libraries and components.</p>

  <hr class="margin-top--4 margin-bottom--4">

  <p><strong>What if I want to report a bug?</strong><br />For reporting bugs, use <a href="https://red.ht/system-ux" target="_blank">this form</a> and include screenshots or a detailed explanation. If something is broken or if the bug is high priority, contact us on <a href="https://chat.google.com/room/AAAAXFEmecI" target="_blank">Google Chat</a>.</p>

  <hr class="margin-top--4 margin-bottom--4">

  <p><strong>How can we contact you about something else?</strong><br />For other questions or additional support, <a href="mailto:digital-design-system@redhat.com">contact us</a> or chat with us in the <a href="https://chat.google.com/room/AAAAXFEmecI" target="_blank">CMS Help | redhat.com</a> Google Chat group.</p>

{%- endcall %}

<div class="multi-column--min-300-wide">
  <div>
    {% call getstarted.section("Feedback") -%}
      <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
    {%- endcall %}
  </div>
  <div>
    {% call getstarted.section("Other libraries") -%}
      <p>To learn more about our other libraries, visit <a href="../../overview">this page</a>.</p>
    {%- endcall %}
  </div>
</div>
