---
layout: layout-basic.njk
title: Icon libraries
order: 3
tags:
  - getstarted
---

<!-- Body -->

{% import 'component/get-started.njk' as getstarted %}

{% call getstarted.section("Introduction") -%}

  <p>Icons are small visual representations that help us depict a variety of ideas and technologies. Our icons are open and straightforward, just like our brand. To see our repo of icons, visit <a href="https://docs.google.com/presentation/d/1SRhy8-bYBgaA3Jsi1t_Fxz-Yo9ORgdRy5Kec9hg_wSM/edit#slide=id.gb24fcfdda7_14_0">this page</a>.</p>

{%- endcall %}

{% call getstarted.section("Using libraries") -%}

  <p>Our libraries require access to Adobe Creative Cloud through a Red Hat account. These libraries are intended for designers who regularly use Adobe CC apps as part of their role at Red Hat. Access will not be granted to accounts that are not part of the Red Hat domain.</p>

  <rh-cta variant="secondary">
    <a href="https://url.corp.redhat.com/adobecc">Request a Creative Cloud license</a>
  </rh-cta>

{%- endcall %}

{% call getstarted.section("Request access") -%}

  <p>To request access to the Adobe CC libraries containing brand assets, fill out the <strong>Brand CC libraries</strong> <a href="https://docs.google.com/forms/d/e/1FAIpQLSeZbyEh0CGJrujIocHuR4ZMWh_uew-IeUNWewBOb3GBnUHTrA/viewform?usp=sf_link">request form</a>. Please allow a week or less to receive access.<br /><br />When your request is accepted, you will be invited to join the <strong>Logo and color palette</strong> library, the <strong>Product logos and icons</strong> library, and the <strong>Standard and UI icons</strong> library. These libraries will then sync to your Adobe CC design programs and you can view the assets in the <em>Libraries</em> panel.</p>

  <img src="{{ '/assets/get-started/icon-libraries/get-started-request-access-alt.png' | url }}" alt="Request access to our libraries" style="--example-img-max-width: 1000px;">

{%- endcall %}

{% call getstarted.section("Types of icons") -%}

  <p>We have three types of icons in our library and each has a specific purpose. Make sure you are using the icon best suited for your project or application.</p>

  <div class="multi-column--min-400-wide">
    <div>
      <h4>Standard icons</h4>
      <p>Use standard icons to represent general and technical concepts in marketing materials, presentations, etc.</p>
      {% call getstarted.example(palette='lightest') %}
        <img src="{{ '/assets/get-started/icon-libraries/icon-types-standard.png' | url }}" alt="Standard icons" style="--example-img-max-width: 304px;">
      {%- endcall %}
      <rh-cta style="margin-top: 24px;">
        <a href="https://www.redhat.com/en/about/brand/standards/icons/standard-icons">Learn more about using standard icons</a>
      </rh-cta>
    </div>
    <div>
      <h4>UI icons</h4>
      <p>Use UI icons for concepts that need to be immediately understood and remain clear at very small sizes.</p>
      {% call getstarted.example(palette='lightest') %}
        <img src="{{ '/assets/get-started/icon-libraries/icon-types-ui.png' | url }}" alt="UI icons" style="--example-img-max-width: 224px;">
      {%- endcall %}
      <rh-cta style="margin-top: 24px;">
        <a href="https://www.redhat.com/en/about/brand/standards/icons/ui-icons">Learn more about using UI icons</a>
      </rh-cta>
    </div>
    <div>
      <h4>Product icons</h4>
      <p>Use product icons to represent specific products, services, and technologies in marketplaces and catalogs.</p>
      {% call getstarted.example(palette='lightest') %}
        <img src="{{ '/assets/get-started/icon-libraries/icon-types-product.png' | url }}" alt="UI icons" style="--example-img-max-width: 304px;">
      {%- endcall %}
      <rh-cta style="margin-top: 24px;">
        <a href="https://www.redhat.com/en/about/brand/standards/icons/product-icons">Learn more about using product icons</a>
      </rh-cta>
    </div>
  </div>

{%- endcall %}

{% call getstarted.section("Icon sizing") -%}

  <p>The recommended size of icons depends on how they are used. Do not make icons smaller than 24px or larger than 96px.</p>

  {% call getstarted.example(palette='lightest') %}
    <img src="{{ '/assets/get-started/icon-libraries/icon-sizing.png' | url }}" alt="Sizing icons" style="--example-img-max-width: 480px;">
  {%- endcall %}

{%- endcall %}

{% call getstarted.section("Best practices") -%}

  <h4>Incorrect sizing</h4>

  <p>Do not use UI icons at large sizes and do not use standard or product icons at small sizes.</p>

  {% call getstarted.example(palette='wrong2') %}
    <img src="{{ '/assets/get-started/icon-libraries/best-practice-1.png' | url }}" alt="Icons best practice 1" style="--example-img-max-width: 480px;">
  {%- endcall %}

  <h4>Inconsistent sizing</h4>

  <p>Do not use icons at different sizes in close proximity to each other.</p>

  {% call getstarted.example(palette='wrong2') %}
    <img src="{{ '/assets/get-started/icon-libraries/best-practice-2.png' | url }}" alt="Icons best practice 2" style="--example-img-max-width: 480px;">
  {%- endcall %}

  <h4>Inconsistent colors</h4>

  <p>Do not use icons with different colors in close proximity to each other.</p>

  {% call getstarted.example(palette='wrong2') %}
    <img src="{{ '/assets/get-started/icon-libraries/best-practice-3.png' | url }}" alt="Icons best practice 3" style="--example-img-max-width: 624px;">
  {%- endcall %}

{%- endcall %}

{% call getstarted.section("Learn more") -%}

  <p>To learn more about what assets are available in each library and how to find them in your Adobe CC apps, visit <a href="https://docs.google.com/presentation/d/11iqtI1ew6lAiUHXHY8u7nxUWOppg0n9W51Kj1CCFhBA/edit?usp=sharing&urp=gmail_link">this page</a>.</p>

{%- endcall %}

{% call getstarted.section("Frequently asked questions") -%}

  <p><strong>When are the libraries updated with new icons?</strong>
  <br />
  New assets are added about once per month, however, sometimes icons are not included in that release. Updates to our libraries are communicated over e-mail and if you want to be added to the distribution list, <a href="mailto:brand@redhat.com">contact</a> the Brand team.</p>

  <hr class="margin-top--4 margin-bottom--4">

  <p><strong>Can I request a new icon?</strong>
  <br />
  To request a new icon, fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSeZbyEh0CGJrujIocHuR4ZMWh_uew-IeUNWewBOb3GBnUHTrA/viewform?usp=sf_link">this form</a>. For all other asset requests, <a href="mailto:brand@redhat.com">contact</a> the Brand team.</p>

  <hr class="margin-top--4 margin-bottom--4">

  <p><strong>I do not see my desired icon in the libraries, how do I find it?</strong>
  <br />
  If you are having trouble locating an icon in the libraries, <a href="mailto:brand@redhat.com">contact</a> the Brand team.</p>

{%- endcall %}

<!-- Cross links -->

<div class="multi-column--min-300-wide">
  <div>
    {% call getstarted.section("Feedback") -%}
      <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
    {%- endcall %}
  </div>
  <div>
    {% call getstarted.section("Icons") -%}
      <p>To learn more about using icons, visit <a href="https://www.redhat.com/en/about/brand/standards/icons">this page</a>.</p>
    {%- endcall %}
  </div>
</div>
