---
layout: layout-basic.njk
title: Brand icon library
order: 3
tags:
  - getstarted
---

{% import 'component/get-started.njk' as getstarted %}

{% call getstarted.section("Overview") -%}

  <p>Icons are small visual representations that help us depict a variety of ideas, technologies, and interactions. Our icons are open and straightforward, just like our brand. To see the entire repo of icons, visit <a href="https://docs.google.com/presentation/d/1SRhy8-bYBgaA3Jsi1t_Fxz-Yo9ORgdRy5Kec9hg_wSM/edit?usp=sharing" target="_blank">this page</a>.</p>

{%- endcall %}

{% call getstarted.section("Get started") -%}

  <p>Available icons can be accessed in the Libraries panel in Adobe XD. You can search for an icon by name or by expanding any corresponding section.</p>

{%- endcall %}

{% call getstarted.section("Adobe XD") -%}

  <p>This library is maintained in <strong>Adobe XD</strong> and <strong>Adobe Creative Cloud</strong>. They need to be installed if you want access to icons. Once a license is granted, Associates can install their desired app(s) from within Adobe Creative Cloud. Contact your manager for further assistance if necessary.</p>

  <pfe-cta priority="secondary">
    <a href="https://url.corp.redhat.com/adobecc" target="_blank">Request a Creative Cloud license</a>
  </pfe-cta>

  <pfe-cta style="margin-left:32px;">
    <a href="../../get-started">Learn how to use libraries</a>
  </pfe-cta>

{%- endcall %}

{% call getstarted.section("Usage") -%}

  <p>Use icons to represent general and technical concepts, their recommended size is between 32px and 96px.</p>

  {% call getstarted.example(palette='lightest') %}
    <img src="{{ '/assets/getstarted/icon-library/icon-library-icon-examples-brand.svg' | url }}" alt="Brand icon examples" style="--example-img-max-width: 872px;">
  {%- endcall %}

  <h4>Component states</h4>

  <p>Use Component States in XD to toggle between different colors.</p>

  <!-- Temporary Warning alert until web component release -->
  <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br />Resizing an icon and switching component states will revert the icon to the default size. Select a component state and then resize.</p>

  {% call getstarted.example(palette='lightest') %}
    <img src="{{ '/assets/getstarted/icon-library/icon-library-component-states.png' | url }}" alt="Brand/UI icon component states" style="--example-img-max-width: 345px;">
  {%- endcall %}

  <h4>Icon sizing</h4>

  <p>This library is set up so that all icons have a height or width of 64px. When using icons in your designs, some of them will appear smaller or larger than others. You might need to <strong>visually</strong> adjust them so they have similar proportions when used in close proximity to each other.</p>

  {% call getstarted.example(palette='lightest') %}
    <img src="{{ '/assets/getstarted/icon-library/icon-library-icon-sizing-brand.svg' | url }}" alt="Brand icon sizing" style="--example-img-max-width: 344px;">
  {%- endcall %}

{%- endcall %}

{% call getstarted.section("Best practices") -%}

  <h4>Inconsistent sizing</h4>

  <p>Do not use icons at different sizes in close proximity to each other.</p>

  {% call getstarted.example(palette='wrong') %}
    <img src="{{ '/assets/getstarted/icon-library/icon-library-best-practice-1.svg' | url }}" alt="Brand/UI icon library best practice 1" style="--example-img-max-width: 468px;">
  {%- endcall %}

  <h4>Inconsistent colors</h4>

  <p>Do not use icons with different colors in close proximity to each other.</p>

  {% call getstarted.example(palette='wrong') %}
    <img src="{{ '/assets/getstarted/icon-library/icon-library-best-practice-2.png' | url }}" alt="Brand/UI icon library best practice 2" style="--example-img-max-width: 344px;">
  {%- endcall %}

  <h4>More information</h4>

  <p>For more information about general icon best practices, visit <a href="https://www.redhat.com/en/about/brand/standards/icons" target="_blank">this page</a>.</p>

{%- endcall %}

{% call getstarted.section("Request an invite") -%}

  <p>Ensure that you have XD installed and your Adobe account is in order before requesting an invite. When ready, <a href="mailto:digital-design-system@redhat.com">contact us</a> and tell us about you and what you are working on in relation to this library.</p>

{%- endcall %}

{% call getstarted.section("Frequently asked questions") -%}

  <p><strong>When are new icons added to this library?</strong><br />New brand assets are released every month, so any new icons will be added within one day.</p>

  <hr class="margin-top--4 margin-bottom--4">

  <p><strong>How do I request a new icon?</strong><br />To request a new icon be created, contact the <a href="mailto:brand@redhat.com">Brand team</a>.</p>

  <hr class="margin-top--4 margin-bottom--4">

  <p><strong>How do I request an existing icon be added to this library?</strong><br />If your desired icon is <strong>not</strong> found in this library, check if it exists in the <a href="https://docs.google.com/presentation/d/1SRhy8-bYBgaA3Jsi1t_Fxz-Yo9ORgdRy5Kec9hg_wSM/edit?usp=sharing" target="_blank">icon repo</a> first. If the icon does exist in the repo but not in the library, contact the <a href="mailto:digital-design-system@redhat.com">Design system team</a> and it will be added within one day.</p>

  <hr class="margin-top--4 margin-bottom--4">

  <p><strong>Why is an icon no longer available?</strong><br />It might have been removed if brand assets were deprecated. To find out more, contact the <a href="mailto:brand@redhat.com">Brand team</a> for missing icons.</p>

{%- endcall %}

<div class="multi-column--min-300-wide">
  <div>
    {% call getstarted.section("Feedback") -%}
      <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
    {%- endcall %}
  </div>
  <div>
    {% call getstarted.section("Product logos") -%}
      <p>To request an invite to access the Product logo library, visit <a href="../logo-library">this page</a>.</p>
    {%- endcall %}
  </div>
</div>
