uxdot-repo-status-list > dl > div {
  display: flex;
  column-gap: var(--rh-space-md);
  align-items: center;
}

uxdot-repo-status-list > dl > div > dt {
  font-family: var(--rh-font-family-body-text);
  font-size: var(--rh-font-size-body-text-md);
}
