uxdot-sidenav-dropdown > details > summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-inline-start:
    var(--rh-border-width-lg, 3px)
    solid
    transparent;
  text-decoration: none;
  color: var(--rh-color-text-primary-on-light);
  font-size: var(--rh-font-size-body-text-lg);
  padding: var(--rh-space-lg) var(--rh-space-2xl);
}

uxdot-sidenav-dropdown > details > summary::-webkit-details-marker {
  display: none;
}

uxdot-sidenav-dropdown > details > summary:hover,
uxdot-sidenav-dropdown > details[open] > summary:focus,
uxdot-sidenav-dropdown > details[open] > summary:hover {
  background: var(--rh-color-surface-lighter);
  border-inline-start-color: var(--rh-color-border-subtle-on-light);
}

uxdot-sidenav-dropdown > details > summary:after {
  content: '';
  color: var(--rh-color-text-primary-on-light);
  width: 9px;
  height: 9px;
  transform: rotate(45deg);
  border-right: var(--rh-border-width-lg) solid var(--rh-color-border-strong-on-light);
  border-top: var(--rh-border-width-lg) solid var(--rh-color-border-strong-on-light);
}

uxdot-sidenav-dropdown > details[open] > summary:after {
  transform: rotate(135deg);
}
