:host {
  display: block;
  container-type: inline-size;
  container-name: host;
  margin-block-end: var(--rh-space-2xl);
}

:host([transparent]) {
  --rh-color-surface: transparent;
}

#container {
  padding: var(--rh-space-2xl);
  display: flex;
  flex-direction: column;
  align-items: var(--_alignment, center);
  justify-content: center;
  border-width: var(--rh-border-width-sm);
  border-style: solid;
  border-color: var(--rh-color-border-subtle);
  border-radius: var(--rh-border-radius-default);
  background-color: var(--rh-color-surface);
  color: var(--rh-color-text-primary);
}

::slotted(*) {
  display: flex;
  flex-direction: column;
  align-items: var(--_alignment, center);
  justify-content: center;
  max-width: 100%;
  height: auto;
}

.widthAdjustment ::slotted(*) {
  width: var(--_width)
}

:host([variant='full']) #container {
  padding: 0;
}

:host([danger]) #container {
  --rh-color-border-subtle: var(--rh-color-border-destructive);

  background-image: url('/assets/best-practices-danger-icon.svg');
  background-position-x: 8px;
  background-position-y: 8px;
  background-repeat: no-repeat;
}

:host([no-border]:not([danger])) #container {
  border: none;
}

@container host (min-width: 576px) {
  #container {
    padding: var(--rh-space-3xl);
  }
}

@container host (min-width: 768px) {
  #container {
    padding: var(--rh-space-4xl);
  }
}
