uxdot-repo-status-list > dl > div {
  display: flex;
  column-gap: var(--rh-space-md, 8px);
  align-items: center;
}

uxdot-repo-status-list > dl > div > dt {
  font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif);
  font-size: var(--rh-font-size-body-text-md, 1rem);
}
