
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Default avatar with text - NJK | Red Hat Design System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/js/global.js"></script>

  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link type="text/css" rel="stylesheet" href="//static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css" media="all" />
  
  <script type="module" src="/node_modules/@patternfly/pfe-cta/dist/pfe-cta.min.js"></script>
</head>




  


<body class="page page--default-avatar-with-text-njk" unresolved>
  <div class="body-inner">

    


<header class="l-header">
  <div class="l-header__logo-bar">
    <img class="l-header__logo" src="/assets/logo-redhat--reversed.png" alt="Red Hat" />
  </div>
  <input id="mobile-menu-toggle" class="menu-toggle element-invisible" type="checkbox" aria-controls="mobile-menu-menu-container">
  <label class="menu-toggle__button" for="mobile-menu-toggle" data-controls="mobile-menu-menu-container">
    Menu
    <span class="menu-toggle-assistive-text element-invisible">, Toggle visibility</span>
  </label>
  <div class="menu-toggle__toggleable">
    <nav class="l-header__site-navigation site-navigation menu-toggle__toggleable-content-wrapper">
      <ul class="site-navigation__wrapper">
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/">
    Home
  </a>

        </li>
        <li class="site-navigation__item">
          
          
            
          
          <details  open>
            <summary class="site-navigation__heading">Components</summary>
            <ul class="site-navigation__sub-menu"><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/cta-njk/">
    Call to Action - NJK
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
    
  
  <a class="site-navigation__sub-menu__link site-navigation__sub-menu__link--active" href="/components/avatar-njk/">
    Default avatar with text - NJK
  </a>

                </li></ul>
          </details>
        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/example/">
    Example Nunjucks Page
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/documentation/example/">
    Example Markdown Page
  </a>

        </li>
      </ul>
    </nav>
  </div>
</header>


<main class="l-main">
  <article class="l-main__inner">
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 class="page-title">Default avatar with text - NJK</h1>
      </div>
    </header>
    <div class="l-main__content">
      <div class="container">
        <!-- see XD for reference: https://xd.adobe.com/view/c3387de7-c738-43be-aed2-d631e283dde4-966b -->




  <section class="section section--palette-default container">
    <h2 class="section-title">Overview</h2>
    <p>A Default avatar is a placeholder graphic for a photo or an image that’s placed to the left or on top of text.</p>
  </section>



  <section class="section section--palette-default container">
    <h2 class="section-title">Sample components</h2>
    <img src="/assets/avatar/avatar-sample-light.png" alt="Example of an avatar with attribution">
  </section>



  <section class="section section--palette-default container">
    <h2 class="section-title">Component status</h2>
    <rhds-component-status component="Avatar"></rhds-component-status>
  </section>



  <section class="section section--palette-default container">
    <h2 class="section-title">Demo</h2>
    <p>View a live version of this component and see how it can be customized.</p>
<p><a href="https://patternfly.github.io/patternfly-elements/demo/?path=/story/avatar--pfe-avatar]">View component -> </a></p>
<!-- "View a component" should be default button style -->
  </section>


<hr>


  <section class="section section--palette-default container">
    <h2 class="section-title">Style</h2>
    <p>
      Default avatars can be used in light and dark themes. They feature a circular silhouette icon and are always grouped with text, like Attribution or some kind of descriptor.
  </p>
  <!-- This will be a Light theme | Dark theme dropdown as shown in XD (https://xd.adobe.com/view/c3387de7-c738-43be-aed2-d631e283dde4-966b). Light theme will use #fafafa as its background color and show "avatar-style-light.png" and Dark theme will use #151515 as its background color and show "avatar-style-dark.png". -->

  <img src="/assets/avatar/avatar-sample-light.png" alt="Examples of light avatar appearance">
  <img src="/assets/avatar/avatar-sample-dark.png" alt="Examples of dark avatar appearance">

<h3>Size</h3>
<p>The size of Default avatars and text depends on where they’re used and how much information needs to be included.</p>

<p>For example, the size of Default avatars and text used in the navigation needs to be smaller than Default avatars and text used in layouts with more space. The maximum size of a Default avatar is 64px, so be mindful of the amount of text that’s included next to it.</p>

<h3>Text positioning</h3>
<p>Text options are positioned to the right or centered below a Default avatar.</p>
<div class="multi-column--400-wide margin-top--3">
    <img src="/assets/avatar/avatar-horizontal-line.png">
    <img src="/assets/avatar/avatar-vertical-line.png">
</div>
<p class="footnote">Attribution or descriptor text is vertically-aligned vs horizontally-aligned.</p>
  </section>


<hr>


  <section class="section section--palette-default container">
    <h2 class="section-title">Usage</h2>
    <p>
      Default avatars are subtle placeholder graphics used in the absence of photos or images. When a user doesn’t provide their own photo or image, a Default avatar is used instead.
  </p>

  <h3>Text</h3>

  <p>Text options can be placed under or to the right of a Default avatar.<p>

  <p>For example, someone’s name can be placed on one line and their job information on the second line. Always group a Default avatar with Attribution or some kind of descriptor text. Never use it by itself.</p>

  <div class="multi-column--400-wide margin-top--3">
      <img src="/assets/avatar/avatar-text-option1.png">
      <img src="/assets/avatar/avatar-text-option2.png">
  </div>


  <h3>Layout</h3>

  <p>
      Default avatars with text can be used in containers or layouts. They can be stacked horizontally or vertically depending on the amount of people and the container size.
  </p>
  </section>


<hr>


  <section class="section section--palette-default container">
    <h2 class="section-title">Best practices</h2>
    <p>Default avatars shouldn’t be used without text.</p>


<p>Don’t use a dark theme Default avatar in the light theme.</p>


<p>Don’t include someone’s job information on the same line as their name, break it to the second line.</p>
  </section>


<hr>


  <section class="section section--palette-default container">
    <h2 class="section-title">Behavior</h2>
    <h3>Vertical vs. top alignment</h3>
<p>If the height of text exceeds the height of a Default avatar, it becomes aligned to the top edge instead.</p>

<p class="footnote">Attribution or descriptor text vertically-aligned vs. aligned to the top edge.

<h3>Responsive design</h3>
<p>Default avatars with text can be used on desktop and mobile. If text that’s positioned on the right becomes too compressed, it will flow under and its alignment will change to centered. On mobile, Default avatars with text always stack vertically.</p>
  </section>




  <section class="section section--palette-default container">
    <h2 class="section-title">Spacing</h2>
    <p>Default avatars and text use <a href="https://www.patternfly.org/v4/design-guidelines/styles/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>
  </section>


<hr>


  <section class="section section--palette-default container">
    <h2 class="section-title">Related components</h2>
    <p><a href="#">Typography</a></p> <!-- future link -->
<p><a href="#">Navigation</a></p> <!-- future link -->
  </section>


      </div>
    </div>
  </article>
</main>


  </div>
</body>

</html>
