<!DOCTYPE html><html class="no-js" lang=""><head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Navigation (secondary) | Red Hat design system</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://www.redhat.com/misc/favicon.ico" type="image/x-icon">

  <meta property="og:title" content="Red Hat design system">
  <meta property="og:site_name" content="Red Hat design system">
  <meta property="og:url" content="ux.redhat.com">
  <meta property="og:description" content="This is Red Hat's design system. Using Red Hat brand standards and PatternFly as our foundational design language, we enable designers and developers to concurrently build branded experiences across redhat.com, Red Hat Customer Portal, and beyond.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://ux.redhat.com/assets/opengraph.png">

  <meta name="pfe-auto-reveal" content="true">

  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css" media="all">

  <link rel="stylesheet" href="/assets/prism.css">
  <link rel="stylesheet" href="/assets/pfe.min.css">
  <link rel="stylesheet" href="/assets/rhds.min.css">

  <link rel="stylesheet" href="/assets/css/style.css" id="">

  

  <noscript>
    <link type="text/css" href="/assets/pfe--noscript.min.css">
  </noscript>

  <script type="module">
    import '/assets/rhds.min.js'
    const PfIcon = await customElements.whenDefined('pf-icon')
    PfIcon.getIconUrl = (set, icon) =>
      new URL(`/assets/packages/@patternfly/elements/pf-icon/icons/${set}/${icon}.js`, location.origin);
  </script>

</head>




  


<body class="page  page--navigation-(secondary)" id="top" unresolved="">

  <div class="body-inner">

    


<script>
  window.onUsersnapCXLoad = function(api) {
    api.init();
  }
  var script = document.createElement('script');
  script.async = 1;
  script.src = 'https://widget.usersnap.com/load/64471a95-72fe-4239-b16d-ebcf8b1219f7?onload=onUsersnapCXLoad';
  document.getElementsByTagName('head')[0].appendChild(script);
</script>

<header class="l-header">

  <div class="l-header__logo-bar">
    <a href="/"><img class="l-header__logo" src="/assets/red-hat-design-system.svg" alt="Red Hat design system logo" style="max-width: 188px; min-width: 42px;"></a>
  </div>

  <input id="mobile-menu-toggle" class="menu-toggle element-invisible" type="checkbox" aria-controls="mobile-menu-menu-container">

  <label class="menu-toggle__button l-header__mobile-menu-toggle" for="mobile-menu-toggle" data-controls="mobile-menu-menu-container">
    <span class="l-header__burger-icon"></span>
    <span class="menu-toggle-assistive-text element-invisible">Toggle menu visibility</span>
  </label>

  <div class="menu-toggle__toggleable site-navigation__outer-wrapper">
    <nav class="l-header__site-navigation site-navigation menu-toggle__toggleable-content-wrapper">
      <ul class="site-navigation__wrapper">
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/">
    Home
  </a>

        </li>

        <!-- About

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/about/">
    About this website
  </a>

        </li> -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">About</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/about/">
    About this website
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/about/how-we-build/">
    How we build
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Get started -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Get started</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/">
    Overview
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/design-system-kit/">
    Design system kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/fts-starter-kit/">
    FTS starter kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/icon-libraries/">
    Icon libraries
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/product-logo-library/">
    Product logo library
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Foundations -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Foundations</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/">
    Overview
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

              </li>
              <!--<li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

                </li>-->
            </ul>
          </details>
        </li>

        <!-- Elements -->

        <li class="site-navigation__item">
          <details>
            <summary class="site-navigation__heading">Elements</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/">
    All elements
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/accordion/">
    Accordion
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/alert/">
    Alert
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/avatar/">
    Avatar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/blockquote/">
    Blockquote
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/button/">
    Button
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/call-to-action/">
    Call to action
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/dialog/">
    Dialog
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/footer/">
    Footer
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/navigation-secondary/">
    Navigation secondary
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/statistic/">
    Statistic
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/tabs/">
    Tabs
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/tooltip/">
    Tooltip
  </a>

                </li></ul>
          </details>
        </li>
        <!-- Components -->

        <li class="site-navigation__item">
          
          
            
          
          <details open="">
            <summary class="site-navigation__heading">Components</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/components/">
    All components
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/announcement/">
    Announcement
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/audio-player/">
    Audio player
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/card/">
    Card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/disclosure/">
    Disclosure
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/filter/">
    Filter
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/form/">
    Form
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/jump-links/">
    Jump links
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link/">
    Link
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link-with-icon/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/navigation-primary/">
    Navigation (primary)
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
    
  
  <a class="site-navigation__sub-menu__link site-navigation__sub-menu__link--active" href="/components/navigation-secondary/">
    Navigation (secondary)
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/popover/">
    Popover
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/progress-steps/">
    Progress steps
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/promo/">
    Promo
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/search-bar/">
    Search bar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/skip-navigation/">
    Skip navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-banner/">
    Sticky banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-card/">
    Sticky card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/video-thumbnail/">
    Video thumbnail
  </a>

                </li></ul>
          </details>
        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/design-code-status/">
    Design/code status
  </a>

        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/release-notes/">
    Release notes
  </a>

        </li>

        <!--

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/get-started/">
    Get started
  </a>

        </li>

        -->

      </ul>
    </nav>
  </div>
</header>


<main class="l-main">
  <article class="l-main__inner">
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 id="navigation-(secondary)" class="page-title">Navigation (secondary)</h1>
      </div>
    </header>
    <div class="l-main__content">
      <div class="container">
        
        



  <section class="section section--palette-default container">
    <a id="Overview"></a>
    <h2 id="overview" class="section-title pfe-jump-links-panel__section">Overview</h2>
    <p>The Secondary navigation is used to connect a series of pages together. It displays wayfinding content and links relevant to the page it is placed on. It should be used in conjunction with the <a href="../navigation-primary">Primary navigation</a>.</p>
  </section>



  <section class="section section--palette-default container">
    <a id="Sample%20component"></a>
    <h2 id="sample-component" class="section-title pfe-jump-links-panel__section">Sample component</h2>
    <img src="/assets/navigation-secondary/secondary-nav-example.png" alt="Secondary navigation component sample" style="--inline-img-max-width: 1000px;">
  </section>



  <section class="section section--palette-default container">
    <a id="Demo"></a>
    <h2 id="demo" class="section-title pfe-jump-links-panel__section">Demo</h2>
    <p>View a live version of this component to see how it can be customized.</p>

  <rh-cta>
     <a href="./demo/" target="_blank">View this component in action</a>
  </rh-cta>
  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <a id="Anatomy"></a>
    <h2 id="anatomy" class="section-title pfe-jump-links-panel__section">Anatomy</h2>
    <h4 style="margin-top: -4px;" id="introduction-to-zones">Introduction to zones</h4>

  <p>The secondary navigation is divided into <strong>three zones</strong> where content can be placed. Each zone may include custom content and elements in certain zones will collapse or become hidden completely as breakpoints get smaller. <strong>It is not required to use all three zones.</strong></p>

  <ul>
    <li>Zone 1 - Includes <strong>primary elements</strong> that are representative of the experience or series of pages</li>
    <li>Zone 2 - Includes <strong>navigation elements</strong> like menus and links</li>
    <li>Zone 3 - Includes <strong>secondary elements</strong> that provide additional actions</li>
  </ul>

  <div class="margin-bottom--4">
    <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Helpful tip</strong></span><br>Content in Zone 1 should be linked and direct visitors to the main page of the experience when selected.</p>
  </div>

  <img src="/assets/navigation-secondary/zones-intro.png" alt="Secondary navigation - introduction to zones" style="--inline-img-max-width: 1000px;">

  <h4 id="zones-on-small-breakpoints">Zones on small breakpoints</h4>

  <p>On small breakpoints, navigation elements in Zone 2 will collapse into an accordion within a menu. Content in Zone 3 will either be positioned below the accordion or be hidden completely.</p>

  <img src="/assets/navigation-secondary/zones-small-breakpoints.png" alt="Secondary navigation - introduction to zones (small breakpoints)" style="--inline-img-max-width: 576px;">
  </section>



  <section class="section section--palette-default container">
    <a id="Style"></a>
    <h2 id="style" class="section-title pfe-jump-links-panel__section">Style</h2>
    <h4 style="margin-top: -4px;" id="themes">Themes</h4>

  <p>The secondary navigation is used on a variety of pages so it requires a variety of themes. The goal for the secondary navigation is to blend in with its surroundings in order to avoid clashing or competing with other important components.</p>

  <h4 id="choosing-a-theme">Choosing a theme</h4>

  <p>When thinking about choosing a theme, consider the goal of the page as well as what the design is or will be. Ideally, the chosen theme matches the rest of the page design while providing a seamless browsing experience.</p>

  <h4 id="theme-options">Theme options</h4>

  <p>The <strong>light theme</strong> features a light gray background and a drop shadow, it is best used on pages with a lighter look and feel. The drop shadow is always visible unless covered by an expandable tray.</p>

  <div class="margin-bottom--4">
    <img src="/assets/navigation-secondary/theme-option-light.png" alt="Secondary navigation - light theme option" style="--inline-img-max-width: 1000px;">
  </div>

  <p style="padding-top: 8px;">The <strong>dark theme</strong> features a dark gray background and a thin gray line, it is best used on pages with a darker look and feel. The thin gray line is always visible unless covered by an expandable tray.</p>

  <img src="/assets/navigation-secondary/theme-option-dark.png" alt="Secondary navigation - dark theme option" style="--inline-img-max-width: 1000px;">

  <h4 id="product-name-text-styling">Product name text styling</h4>

  <p>If the secondary navigation is used to connect product-like pages, Zone 1 should display the product name in the form of <strong>linked text</strong> instead of the logo.</p>

  <div class="margin-bottom--3">
    <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br>Various styling treatments were explored for the product name text, do not deviate from any of these styles.</p>
  </div>

  <div class="margin-bottom--2">
    <img src="/assets/navigation-secondary/product-name-text-styling.png" alt="Secondary navigation - product name text styling" style="--inline-img-max-width: 1000px;">
  </div>

  <section class="section">
    <table width="100%;">
      <thead>
        <tr>
          <th>Breakpoint</th>
          <th>Style</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Large breakpoints</td>
          <td>Red Hat Display, Medium / 18px, 27 (1.5 line height)</td>
        </tr>
        <tr>
          <td>Small breakpoints</td>
          <td>Red Hat Display, Medium / 16px, 24 (1.5 line height)</td>
        </tr>
      </tbody>
    </table>
  </section>

  <h4 id="navigation-text-styles">Navigation text styles</h4>

  <p>Navigation text styles have the same styling across all themes like font family, size, and line height. However, the color will change between black and white depending on the chosen theme.</p>

  <img src="/assets/navigation-secondary/navigation-text-styles.png" alt="Secondary navigation - navigation text styles" style="--inline-img-max-width: 1000px;">

  <h4 id="expandable-tray">Expandable tray</h4>

  <p>If content in Zone 2 includes a menu and when that menu text is selected, an <strong>expandable tray</strong> will appear. It is divided into three parts and is styled the same across all themes.</p>

  <ol>
    <li><strong>Tab</strong> - Visually indicates what menu is expanded</li>
    <li><strong>Tray</strong> - The area where content or other components can be placed</li>
    <li><strong>Overlay</strong> - A transparent background that helps elevate the component above the page underneath</li>
  </ol>

  <div class="margin-bottom--3">
    <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Helpful tip</strong></span><br>When a menu is expanded, the arrow icon next to the menu text will flip to point up.</p>
  </div>

  <div class="margin-bottom--5">
    <img src="/assets/navigation-secondary/expandable-tray-desktop.png" alt="Secondary navigation - expandable tray (desktop)" style="--inline-img-max-width: 1000px;">
  </div>

  <img src="/assets/navigation-secondary/expandable-tray-mobile.png" alt="Secondary navigation - expandable tray (mobile)" style="--inline-img-max-width: 376px;">

  <h4 id="layout">Layout</h4>

  <p>The secondary navigation spans the entire width of the browser window on all breakpoints.</p>

  <div class="margin-bottom--4">
    <img src="/assets/navigation-secondary/layout-desktop.png" alt="Secondary navigation - layout (desktop)" style="--inline-img-max-width: 1000px;">
  </div>

  <img src="/assets/navigation-secondary/layout-mobile.png" alt="Secondary navigation - layout (mobile)" style="--inline-img-max-width: 376px;">

  <h4 id="left-to-right-languages">Left-to-right languages</h4>

  <p>When content is translated to other left-to-right languages, the layout and text size remains the same.</p>

  <img src="/assets/navigation-secondary/left-to-right-languages.png" alt="Secondary navigation - left-to-right languages" style="--inline-img-max-width: 1000px;">

  <h4 id="right-to-left-languages">Right-to-left languages</h4>

  <p>When content is translated to a right-to-left language like Hebrew, the text size will increase which makes it easier to understand visual subtleties of unique characters.</p>

  <img src="/assets/navigation-secondary/right-to-left-languages.png" alt="Secondary navigation - right-to-left languages" style="--inline-img-max-width: 1000px;">
  </section>



  <section class="section section--palette-default container">
    <a id="Usage"></a>
    <h2 id="usage" class="section-title pfe-jump-links-panel__section">Usage</h2>
    <h4 style="margin-top: -4px;" id="secondary-navigation">Secondary navigation</h4>

  <p>The Secondary navigation is used to connect a series of pages together. It should be used as a supporting navigation component and not on its own.</p>

  <div class="margin-bottom--4">
    <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Helpful tip</strong></span><br>Websites that require only one navigation should use the primary navigation.</p>
  </div>

  <img src="/assets/navigation-secondary/secondary-nav-usage.png" alt="Secondary navigation - usage" style="--inline-img-max-width: 1000px;">

  <h4 id="product-name-text-stacking">Product name text stacking</h4>

  <p>If the secondary navigation is used to connect product-like pages, Zone 1 should display the product name in the form of linked text. If this text is short enough and there are fewer menus and links, it can remain on one line.</p>

  <div class="margin-bottom--3">
    <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br>Do not truncate product name text or break it to three lines except in extreme cases on small breakpoints.</p>
  </div>

  <img src="/assets/navigation-secondary/product-name-text-stacking-1-lines.png" alt="Secondary navigation - product name text stacking (one line)" style="--inline-img-max-width: 1000px;">

  <p style="padding-top: 24px;">Product name text should break to two lines where it makes sense, otherwise more space will be occupied than necessary.</p>

  <div class="margin-bottom--4">
    <img src="/assets/navigation-secondary/product-name-text-stacking-2-lines.png" alt="Secondary navigation - product name text stacking (two lines)" style="--inline-img-max-width: 1000px;">
  </div>

  <p style="padding-top: 8px;">In some rare cases, if product name text is extremely long, it will naturally break to three lines on small breakpoints.</p>

  <img src="/assets/navigation-secondary/product-name-text-stacking-3-lines.png" alt="Secondary navigation - product name text stacking (three lines)" style="--inline-img-max-width: 1000px;">

  <p style="font-size: 14px; letter-spacing: 0.2px; color: #6a6e73;">This extremely small breakpoint example is 320px</p>

  <h4 id="navigation-slots">Navigation slots</h4>

  <p>Use Zone 2 to place navigation elements like menus and links. Typically, they are positioned on the left side next to Zone 1. The specific order of menus and links is up to content strategists.</p>

  <img src="/assets/navigation-secondary/navigation-slots.png" alt="Secondary navigation - navigation slots" style="--inline-img-max-width: 1000px;">

  <h4 id="writing-navigation-content">Writing navigation content</h4>

  <p>Navigation elements provide options for visitors to browse through relevant content. Be aware of the following when writing content for Zone 2:</p>

  <ul>
    <li><strong>At least one</strong> menu or link should be included</li>
    <li><strong>A maximum of five</strong> menus and links can be included if the text is short</li>
    <li>It is best to write all text as short as possible</li>
    <li>If product name text or a call to action is included, they can sometimes have lots of characters</li>
    <li>If a call to action is included, it will not stack to make room for more text</li>
    <li>Text will more than likely expand when translated to other languages</li>
  </ul>

  <div class="margin-bottom--3">
    <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br>Featuring too many menus and links can lead to visual crowding and <a href="https://www.shopify.com/partners/blog/choice-paralysis" target="_blank">choice paralysis</a> for visitors.</p>
  </div>

  <div class="margin-bottom--2">
    <img src="/assets/navigation-secondary/navigation-content.png" alt="Secondary navigation - navigation content" style="--inline-img-max-width: 1000px;">
  </div>

  <section class="section">
    <table width="100%;">
      <thead>
        <tr>
          <th>Element</th>
          <th>Maximum slots</th>
          <th>Maximum characters</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Product name text</td>
          <td>1</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td>Menus and links</td>
          <td>5</td>
          <td>25*</td>
        </tr>
        <tr>
          <td>Call to action</td>
          <td>1</td>
          <td>20</td>
        </tr>
      </tbody>
    </table>
  </section>

  <p style="font-size: 14px; letter-spacing: 0.2px; color: #6a6e73; margin-top: -56px;">* If there are fewer menus and links in Zone 2, more characters can be written; if there are more menus and links, fewer characters can be written</p>

  <h4 id="expandable-tray">Expandable tray</h4>

  <p>Use the expandable tray to organize content in two, three, or four columns. Positioning a call to action under a column of text will ensure that both elements will remain in the same arrangement when stacked on small breakpoints.</p>

  <div class="margin-bottom--3">
    <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br>Do not use more than four columns in the expandable tray, consider reducing the amount of content instead.</p>
  </div>

  <div class="margin-bottom--4">
    <img src="/assets/navigation-secondary/expandable-tray-4-columns.png" alt="Secondary navigation - expandable tray (four columns)" style="--inline-img-max-width: 1000px;">
  </div>

  <p style="padding-top: 8px;">If content is organized in fewer than four columns, the containers will stretch to fill the empty space.</p>

  <div class="margin-bottom--3">
    <img src="/assets/navigation-secondary/expandable-tray-3-columns.png" alt="Secondary navigation - expandable tray (three columns)" style="--inline-img-max-width: 1000px;">
  </div>

  <img src="/assets/navigation-secondary/expandable-tray-2-columns.png" alt="Secondary navigation - expandable tray (two columns)" style="--inline-img-max-width: 1000px;">

  <h4 id="writing-expandable-tray-content">Writing expandable tray content</h4>

  <p>The expandable tray allows visitors to see a larger amount of relevant content. Elements that may be used include text, links, calls to action, and horizontal rules. Be aware of the following when writing content for the expandable tray:</p>

  <ul>
    <li>It is best to write all text as short as possible</li>
    <li>Do not stack lots of links in the same column</li>
    <li>Do not use too many different call to action variants</li>
    <li>Text will more than likely expand when translated to other languages</li>
    <li>All text will stack on small breakpoints, so content positioned towards the left will be on top</li>
  </ul>

  <div class="margin-bottom--3">
    <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br>Featuring too much content can lead to <a href="https://www.shopify.com/partners/blog/choice-paralysis" target="_blank">choice paralysis</a> and visitors not seeing key information because they have to scroll.</p>
  </div>

  <div class="margin-bottom--3">
    <img src="/assets/navigation-secondary/expandable-tray-content-desktop.png" alt="Secondary navigation - expandable tray content (desktop)" style="--inline-img-max-width: 1000px;">
  </div>

  <img src="/assets/navigation-secondary/expandable-tray-content-mobile.png" alt="Secondary navigation - expandable tray content (mobile)" style="--inline-img-max-width: 376px;">
  </section>



  <section class="section section--palette-default container">
    <a id="Behavior"></a>
    <h2 id="behavior" class="section-title pfe-jump-links-panel__section">Behavior</h2>
    <h4 style="margin-top: -4px;" id="current-page-indicator">Current page indicator</h4>

  <p>When a visitor is viewing a page that is part of the secondary navigation IA, a red bar will appear above the corresponding menu or link. External links will not display the top red bar (except on hover) because they direct visitors to a new tab or window when selected.</p>

  <img src="/assets/navigation-secondary/current-page-indicator.png" alt="Secondary navigation - current page indicator" style="--inline-img-max-width: 1000px;">

  <h4 id="scrolling-with-primary-navigation">Scrolling with primary navigation</h4>

  <p>When the secondary navigation is used in conjunction with the primary navigation, it is positioned underneath. When a visitor scrolls down, the primary navigation will disappear and the secondary navigation will remain sticky.</p>

  <img src="/assets/navigation-secondary/scrolling-with-primary-down.png" alt="Secondary navigation - scrolling with primary navigation (down)" style="--inline-img-max-width: 1000px;">

  <p style="padding-top: 24px;">When a visitor scrolls to the top of the page, the secondary navigation will reset underneath the primary navigation.</p>

  <img src="/assets/navigation-secondary/scrolling-with-primary-up.png" alt="Secondary navigation - scrolling with primary navigation (up)" style="--inline-img-max-width: 1000px;">

  <h4 id="scrolling-with-expandable-tray">Scrolling with expandable tray</h4>

  <p>If the height of the expandable tray is shorter than the viewport, content will scroll underneath.</p>

  <img src="/assets/navigation-secondary/scrolling-with-tray-1.png" alt="Secondary navigation - scrolling with expandable tray" style="--inline-img-max-width: 1000px;">

  <p style="padding-top: 24px;">If the height of the expandable tray is taller than the viewport, the tray will scroll instead.</p>

  <img src="/assets/navigation-secondary/scrolling-with-tray-2.png" alt="Secondary navigation - scrolling with expandable tray" style="--inline-img-max-width: 1000px;">

  <h4 id="navigating-between-expandable-trays">Navigating between expandable trays</h4>

  <p>Only one expandable tray can be expanded at a time and there is no animation when navigating from one tray to the next.</p>

  <img src="/assets/navigation-secondary/navigating-between-trays.png" alt="Secondary navigation - navigating between trays" style="--inline-img-max-width: 1000px;">

  <h4 id="collapsing-the-expandable-tray">Collapsing the expandable tray</h4>

  <p>Clicking or tapping anywhere outside of the expandable tray should collapse it. Pressing the esc key should collapse the expandable tray as well.</p>

  <img src="/assets/navigation-secondary/collapsing-tray.png" alt="Secondary navigation - collapsing the expandable tray" style="--inline-img-max-width: 1000px;">

  <h4 id="additional-behaviors">Additional behaviors</h4>

  <p>Keep in mind the following additional behaviors:</p>

  <ul>
    <li>The expandable tray should not collapse or expand without user input by mouse or keyboard</li>
    <li>Scrolling while the expandable tray is visible should not close the tray</li>
  </ul>
  </section>



  <section class="section section--palette-default container">
    <a id="Interaction%20states"></a>
    <h2 id="interaction-states" class="section-title pfe-jump-links-panel__section">Interaction states</h2>
    <h4 style="margin-top: -4px;" id="default">Default</h4>

  <div class="margin-bottom--2">
    <img src="/assets/navigation-secondary/interaction-state-default.png" alt="Secondary navigation - default interaction state" style="--inline-img-max-width: 1000px;">
  </div>

  <section class="section">
    <table width="100%;">
      <thead>
        <tr>
          <th>State</th>
          <th>Element</th>
          <th>Styling</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Default (light theme)</td>
          <td>Product name text</td>
          <td>RH Display, Medium / 18px, 27 (1.5) / #151515</td>
        </tr>
        <tr>
          <td>Default (light theme)</td>
          <td>Menu/link text and icons</td>
          <td>RH Text, Regular / 16px, 24 (1.5) / #151515</td>
        </tr>
        <tr>
          <td>Default (dark theme)</td>
          <td>Product name text</td>
          <td>RH Display, Medium / 18px, 27 (1.5) / #fff</td>
        </tr>
        <tr>
          <td>Default (dark theme)</td>
          <td>Menu/link text and icons</td>
          <td>RH Text, Regular / 16px, 24 (1.5) / #fff</td>
        </tr>
        <tr>
          <td>Default (all themes)</td>
          <td>Call to action text</td>
          <td>See the <a href="../call-to-action">Call to action</a> page for specs</td>
        </tr>
      </tbody>
    </table>
  </section>

  <h4 id="hover">Hover</h4>

  <div class="margin-bottom--2">
    <img src="/assets/navigation-secondary/interaction-state-hover.png" alt="Secondary navigation - hover interaction state" style="--inline-img-max-width: 1000px;">
  </div>

  <section class="section">
    <table width="100%;">
      <thead>
        <tr>
          <th>State</th>
          <th>Element</th>
          <th>Styling</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hover (light theme)</td>
          <td>Product name text</td>
          <td>#6a6e73</td>
        </tr>
        <tr>
          <td>Hover (dark theme)</td>
          <td>Product name text</td>
          <td>#d2d2d2</td>
        </tr>
        <tr>
          <td>Hover (all themes)</td>
          <td>Menu and link top bar</td>
          <td>#e00 / 3px thickness</td>
        </tr>
        <tr>
          <td>Hover (all themes)</td>
          <td>Call to action text</td>
          <td>See the <a href="../call-to-action">Call to action</a> page for specs</td>
        </tr>
      </tbody>
    </table>
  </section>

  <h4 id="focus">Focus</h4>

  <div class="margin-bottom--2">
    <img src="/assets/navigation-secondary/interaction-state-focus.png" alt="Secondary navigation - focus interaction state" style="--inline-img-max-width: 1000px;">
  </div>

  <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Helpful tip</strong></span><br>The focus state carries over styles from the hover state and also adds a focus indicator.</p>

  <section class="section">
    <table width="100%;">
      <thead>
        <tr>
          <th>State</th>
          <th>Element</th>
          <th>Styling</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Focus (light theme)</td>
          <td>Zone 1</td>
          <td>#6a6e73, dashed, 1px border width</td>
        </tr>
        <tr>
          <td>Focus (light theme)</td>
          <td>Zone 2</td>
          <td>#151515, dashed, 1px border width</td>
        </tr>
        <tr>
          <td>Focus (dark theme)</td>
          <td>Zone 1</td>
          <td>#d2d2d2, dashed, 1px border width</td>
        </tr>
        <tr>
          <td>Focus (dark theme)</td>
          <td>Zone 2</td>
          <td>#fff, dashed, 1px border width</td>
        </tr>
        <tr>
          <td>Focus (all themes)</td>
          <td>Zone 3 (call to action)</td>
          <td>See the <a href="../call-to-action">Call to action</a> page for specs</td>
        </tr>
      </tbody>
    </table>
  </section>

  <h4 id="active">Active</h4>

  <div class="margin-bottom--2">
    <img src="/assets/navigation-secondary/interaction-state-active.png" alt="Secondary navigation - active interaction state" style="--inline-img-max-width: 1000px;">
  </div>

  <section class="section">
    <table width="100%;">
      <thead>
        <tr>
          <th>State</th>
          <th>Element</th>
          <th>Styling</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Active (all themes)</td>
          <td>Tab top bar</td>
          <td>#e00 / 3px thickness</td>
        </tr>
        <tr>
          <td>Active (all themes)</td>
          <td>Tab background</td>
          <td>#fff</td>
        </tr>
        <tr>
          <td>Active (all themes)</td>
          <td>Menu text and icon</td>
          <td>RH Text, Regular / 16px, 24 (1.5) / #151515</td>
        </tr>
      </tbody>
    </table>
  </section>
  </section>



  <section class="section section--palette-default container">
    <a id="Accessibility"></a>
    <h2 id="accessibility" class="section-title pfe-jump-links-panel__section">Accessibility</h2>
    <h4 style="margin-top: -4px;" id="tab-order">Tab order</h4>

  <p>A logical focus order helps visitors understand and operate Red Hat web properties. Elements need to receive focus in an order that preserves meaning, therefore the focus order should make sense and not jump around randomly.</p>

  <img src="/assets/navigation-secondary/accessibility-tab-order.png" alt="Secondary navigation - accessibility tab order" style="--inline-img-max-width: 1000px;">

  <h4 id="keyboard-events">Keyboard events</h4>

  <section class="section">
    <table width="100%;">
      <thead>
        <tr>
          <th>Action</th>
          <th>Event</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tab</td>
          <td>Moves the focus forward or to the right</td>
        </tr>
        <tr>
          <td>Shift + Tab</td>
          <td>Moves the focus backwards or to the left</td>
        </tr>
        <tr>
          <td>Enter or Return</td>
          <td>Expands or collapses the expandable tray or selects a link</td>
        </tr>
        <tr>
          <td>Esc</td>
          <td>Collapses the expandable tray</td>
        </tr>
      </tbody>
    </table>
  </section>

  <h4 id="click-or-tap-events">Click or tap events</h4>

  <section class="section">
    <table width="100%;">
      <thead>
        <tr>
          <th>Action</th>
          <th>Location</th>
          <th>Event</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Click or tap</td>
          <td>Anywhere outside of expandable tray</td>
          <td>Collapses expandable tray</td>
        </tr>
      </tbody>
    </table>
  </section>
  </section>



  <section class="section section--palette-default container">
    <a id="Responsive%20design"></a>
    <h2 id="responsive-design" class="section-title pfe-jump-links-panel__section">Responsive design</h2>
    <h4 style="margin-top: -4px;" id="large-breakpoints">Large breakpoints</h4>

  <p>The secondary navigation includes Zones 1, 2, and 3 on large breakpoints. The content in the expandable tray is also visible.</p>

  <img src="/assets/navigation-secondary/breakpoints-large.png" alt="Secondary navigation - large breakpoints" style="--inline-img-max-width: 1000px;">

  <h4 id="small-breakpoints">Small breakpoints</h4>

  <p>Navigation elements in Zone 2 will collapse into an accordion within a menu. Content in Zone 3 will either be positioned below the accordion or be hidden completely.</p>

  <img src="/assets/navigation-secondary/breakpoints-small.png" alt="Secondary navigation - small breakpoints" style="--inline-img-max-width: 1000px;">
  </section>



  <section class="section section--palette-default container">
    <a id="Best%20practices"></a>
    <h2 id="best-practices" class="section-title pfe-jump-links-panel__section">Best practices</h2>
    <h4 style="margin-top: -4px;" id="incorrect-ordering">Incorrect ordering</h4>

  <p>Do not position the secondary navigation above the primary navigation.</p>

  <img src="/assets/navigation-secondary/best-practice-1.png" alt="Secondary navigation - best practice 1" style="--inline-img-max-width: 1000px;">

  <h4 id="theme-mismatch">Theme mismatch</h4>

  <p>Do not use the dark theme secondary navigation in environments with light elements and vice versa.</p>

  <img src="/assets/navigation-secondary/best-practice-2.png" alt="Secondary navigation - best practice 2" style="--inline-img-max-width: 1000px;">

  <h4 id="content-overload">Content overload</h4>

  <p>Do not place too many navigation elements in Zone 2.</p>

  <img src="/assets/navigation-secondary/best-practice-3.png" alt="Secondary navigation - best practice 3" style="--inline-img-max-width: 1000px;">

  <h4 id="adding-or-removing-zones">Adding or removing zones</h4>

  <p>Do not add more zones than provided.</p>

  <img src="/assets/navigation-secondary/best-practice-4.png" alt="Secondary navigation - best practice 4" style="--inline-img-max-width: 1000px;">

  <h4 id="product-name-text-on-three-lines">Product name text on three lines</h4>

  <p>Do not allow product name text to break to three lines on large breakpoints.</p>

  <img src="/assets/navigation-secondary/best-practice-5.png" alt="Secondary navigation - best practice 5" style="--inline-img-max-width: 1000px;">
  </section>



  <section class="section section--palette-default container">
    <a id="Spacing"></a>
    <h2 id="spacing" class="section-title pfe-jump-links-panel__section">Spacing</h2>
    <p>The secondary navigation uses <a href="../../foundations/spacing">spacers</a> to define space values between elements.</p>

  <h4 id="extra-large-breakpoints">Extra large breakpoints</h4>

  <img src="/assets/navigation-secondary/spacing-extra-large.png" alt="Secondary navigation - spacing (extra large breakpoints)" style="--inline-img-max-width: 1000px;">

  <h4 id="large-breakpoints">Large breakpoints</h4>

  <img src="/assets/navigation-secondary/spacing-large.png" alt="Secondary navigation - spacing (large breakpoints)" style="--inline-img-max-width: 1000px;">

  <h4 id="small-breakpoints">Small breakpoints</h4>

  <img src="/assets/navigation-secondary/spacing-small.png" alt="Secondary navigation - spacing (small)" style="--inline-img-max-width: 592px;">
  </section>


<div class="multi-column--min-300-wide">

  
  <section class="section section--palette-default container">
    <a id="Feedback"></a>
    <h2 id="feedback" class="section-title pfe-jump-links-panel__section">Feedback</h2>
    <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  </section>


  
  <section class="section section--palette-default container">
    <a id="Foundations"></a>
    <h2 id="foundations" class="section-title pfe-jump-links-panel__section">Foundations</h2>
    <p>To learn how to use our other components in your designs, visit the <a href="/components">Components</a> section.</p>
  </section>


</div>

      </div>
    </div>
  </article>
    

  <footer class="main-footer">
    <img style="max-width: 135px;" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark.svg" alt="Red Hat">
    <p>Copyright © 2021-2023 Red Hat, Inc.</p>
    <div class="main-footer--list">
      <ul>
        <li><a href="https://www.redhat.com/en/about/privacy-policy">Privacy statement</a></li>
        <li><a href="https://www.redhat.com/en/about/terms-use">Terms of use</a></li>
        <li><a href="https://www.redhat.com/en/about/all-policies-guidelines">All policies and guidelines</a></li>
      </ul>
    </div>

    <a id="netlify-badge" href="https://www.netlify.com" target="_blank" rel="noreferrer noopener">
      <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" alt="Deploys by Netlify">
    </a>
  </footer>

<div class="back-to-top">
    <a href="#top" class="back-to-top-link">
        <img src="/assets/back-to-top.svg" alt="Scroll back to the top">
    </a>
</div>

</main>


  </div>
  <script src="/js/global.js"></script>



</body></html>