section {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  padding: var(--rh-space-lg, 1.5rem)
}

section > h2 {
  grid-column: -1/1;
}

dl {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  gap: var(--rh-space-md, 1rem);
  margin-inline: var(--rh-space-lg, 1.5rem);
}

[data-demo] :is(dt, dd) { 
  margin-block: 0;
}
