---
layout: layout-base.njk
importElements:
  - rh-cta
  - rh-footer
---

{% include 'component/header.njk' %}

<main class="l-main">
  <div class="l-main__content">
    {{ content | safe }}
  </div>

  {% include 'component/footer.njk' %}
</main>
