
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ data.title or title }} | Red Hat design system</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://www.redhat.com/misc/favicon.ico" type="image/x-icon" />

  <script src="{{ '/js/global.js' | url }}"></script>

  <meta property="og:title" content="Red Hat design system">
  <meta property="og:site_name" content="Red Hat design system">
  <meta property="og:url" content="ux.redhat.com">
  <meta property="og:description" content="This is Red Hat's design system. Using Red Hat brand standards and PatternFly as our foundational design language, we enable designers and developers to concurrently build branded experiences across redhat.com, Red Hat Customer Portal, and beyond.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://ux.redhat.com/assets/opengraph.png">

  <meta name="pfe-auto-reveal" content="true">

  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css" media="all">

  <link rel="stylesheet" href="{{ '/assets/prism.css' | url }}" >
  <link rel="stylesheet" href="{{ '/assets/pfe.min.css' | url }}">
  <link rel="stylesheet" href="{{ '/assets/rhds.min.css' | url }}">

  {% sassFile false %}

  <noscript>
    <link type="text/css" href="{{ '/assets/pfe--noscript.min.css' | url }}">
  </noscript>

  <script type="module" src="{{ '/assets/rhds.min.js' | url }}"></script>
</head>

{% set extraPageClasses = '' %}

{% if title %}
  {% set extraPageClasses = extraPageClasses + ' page--' + title | slug %}
{% endif %}

<body class="page{{extraPageClasses}}" id="top" unresolved>

  <div class="body-inner">

    {{ content | safe }}

  </div>
</body>

</html>
