---
layout: layout-base.njk
---

{% include 'component/header.njk' %}

<main class="l-main">
  <article class="l-main__inner" data-pagefind-body>
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 id="{{ title | slug }}" class="page-title">{{ title }}</h1>
      </div>
    </header>
    <div class="l-main__content">
      <div class="container">
        {% if hasToc %}
          {{ content | toc | safe }}
        {% endif %}
        {{ content | safe }}
      </div>
    </div>
  </article>
  {% include 'component/footer.njk' %}
</main>
