
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ data.title or title }} | Red Hat design system</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/svg+xml" sizes="any" href="{{ '/assets/logo-red-hat.svg' | url }}">

  <meta property="og:title" content="Red Hat design system">
  <meta property="og:site_name" content="Red Hat design system">
  <meta property="og:url" content="ux.redhat.com">
  <meta property="og:description" content="This is Red Hat's design system. Using Red Hat brand standards and PatternFly as our foundational design language, we enable designers and developers to concurrently build branded experiences across redhat.com, Red Hat Customer Portal, and beyond.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://ux.redhat.com/assets/opengraph.png">

  <meta name="pfe-auto-reveal" content="true">

  <link rel="stylesheet" href="{{' /assets/redhat/redhat-theme/4/advanced-theme.css' | url }}">
  <link rel="stylesheet" href="{{ '/assets/redhat/redhat-font/2/webfonts/red-hat-font.css' | url }}" media="all">

  <link rel="stylesheet" href="{{ '/assets/prism.css' | url }}" >
  <link rel="stylesheet" href="{{ '/assets/pfe.min.css' | url }}">
  <link rel="stylesheet" href="{{ '/assets/rhds.min.css' | url }}">
  <link rel="stylesheet" href="{{ '/assets/packages/@rhds/elements/elements/rh-footer/rh-footer-lightdom.css' | url }}">

  {% sassFile false %}
  {% for stylesheet in stylesheets %}
  <link rel="stylesheet" href="{{ stylesheet | url }}">
  {% endfor %}

  <noscript>
    <link type="text/css" href="{{ '/assets/pfe--noscript.min.css' | url }}">
  </noscript>

  <script type="importmap">{{ importMap | dump | safe }}</script>
  <script async src="https://ga.jspm.io/npm:es-module-shims@1.7.1/dist/es-module-shims.js"></script>
  {% for tag in importElements %}
  <script type="module">
    import '@rhds/elements/{{tag}}/{{tag}}.js';
  </script>
  {% endfor %}
  <script type="module">
    import { PfIcon } from '@patternfly/elements/pf-icon/pf-icon.js';
    PfIcon.getIconUrl = (set, icon) =>
      new URL(`/assets/packages/@patternfly/elements/pf-icon/icons/${set}/${icon}.js`, location.origin);
  </script>

</head>

{% set extraPageClasses = bodyClasses or "" %}

{% if title %}
  {% set extraPageClasses = extraPageClasses + ' page--' + title | slug %}
{% endif %}

<body class="page {{extraPageClasses}}" id="top" unresolved>

  <div class="body-inner">

    {{ content | safe }}

  </div>
  <script src="{{ '/js/global.js' | url }}"></script>
</body>

</html>
