---
layout: layout-base.njk
---

<style>
  .l-main__header .container.header {
    display: flex;
    align-items: normal;
    justify-content: space-between;
    column-gap: var(--rh-space-2xl);
    flex-wrap: wrap;
  }

  #search-tokens {
    flex-basis: 50%;
    align-items: center;
    display: flex;
    margin-top: 0.5rem;
  }

  #search-input {
    flex: 1 0 auto;
  }

  .results-section {
    margin-block-end: var(--rh-space-4xl) !important;
  }

  #results-list {
    margin-left: 0;
    padding: 0 0 0 1.5rem;
  }

  #results-list li {
    margin-bottom: 1rem;
    padding-left: 1rem;
    list-style-position: outside;
  }

  #results-list li::marker {
    color: var(--rh-color-gray-50);
  }

  #collections {
    display: grid;
    gap: var(--rh-space-lg);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .token-category::part(container) {
    text-transform: capitalize;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  rh-cta.token-category:not([hidden]) {
    display: flex;
    width: 100%;
    max-width: 100%;
  }

  @media (min-width: 768px) {
    .l-main__header .container.header {
      flex-wrap: nowrap;
    }
  }
</style>

{% include 'component/header.njk' %}

<main class="l-main">
  <article class="l-main__inner">
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 id="{{ title | slugify }}" class="page-title">{{ title }}</h1>
        <form id="search-tokens" action="/tokens/search">
          <uxdot-search id="search-input"
                        name="search"
                        aria-label="Search for tokens"
                        placeholder="Enter a token name"></uxdot-search>
        </form>
      </div>
    </header>
    <section class="l-main__content">
      <div class="container">{{ content | safe }}</div>
    </section>
    {% include 'component/footer.njk' %}
  </article>
</main>

<script type="module" src="/assets/tokens/tokens.js"></script>

