<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/logo-red-hat.svg">
    <title>{{ demo.title or demo.tagName }} | Red Hat Design System</title>
    <link rel="preconnect" href="https://ga.jspm.io">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://static.redhat.com">
    <link rel="stylesheet" href="{{ '/assets/base.css' | url }}">
    <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/6/advanced-theme.css">
    <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-font/4/webfonts/red-hat-font.min.css">
    <script type="importmap">{{ importMap | dump | safe }}</script>
    <script async src="https://ga.jspm.io/npm:es-module-shims@1.7.2/dist/es-module-shims.js"></script>
    <script type="module">import 'element-internals-polyfill';</script>
    <style>
      html, body, main, [data-demo] { height: 100%; }
      main { display: grid; }
    </style>
  </head>
  <body unresolved>{% if demo.filePath %}
    <main>
      <div data-demo="{{ demo.tagName }}">
        {%- include demo.filePath -%}
      </div>
    </main> {%- else -%}
    <p>No Demo. <a href="https://github.com/redhat-ux/red-hat-design-system/issues/new">Open an issue!</a></p>{%- endif -%}
  </body>
</html>

