<nav id="collections">
  {% for category in collections.token %}
  <rh-cta variant="brick" class="token-category" data-category="{{ category.slug }}">
    {{- (category.docs.summary or '') | safe -}}
    <a href="{{ category.url }}">{{ category.title }}</a>
  </rh-cta>
  {% endfor %}
</nav>
