:host {
  display: block;
}

details {
  /* stylelint-disable-next-line rhds/token-values */
  border: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle, #c7c7c7);
  font-family: var(--rh-font-family-body-text);
}

summary {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: var(--rh-font-size-body-text-md, 1rem);
  font-weight: var(--rh-font-weight-body-text-medium, 500);
  gap: var(--rh-space-md, 8px);
  list-style: none;
  padding: var(--rh-space-lg, 16px) var(--rh-space-xl, 24px);

  &::-webkit-details-marker,
  &::marker {
    display: none;
  }

  & ::slotted([slot='summary-label']) {
    font-family: var(--rh-font-family-body-text);
    font-size: var(--rh-font-size-body-text-md, 1rem) !important;
    font-weight: var(--rh-font-weight-body-text-medium, 500);
  }
}

#caret {
  inline-size: var(--rh-space-lg, 16px);
  block-size: var(--rh-space-lg, 16px);
  transition: 0.2s;
  will-change: rotate;
}

#details-content {
  font-size: var(--rh-font-size-body-text-md, 1rem);
  line-height: var(--rh-line-height-body-text, 1.5);
  padding: var(--rh-space-xl, 24px);
  padding-block-start: var(--rh-space-lg, 16px);
}

::slotted(:is(p, h1, h2, h3, h4, h5, h6):first-of-type) {
  margin-block-start: 0;
}

details[open] {
  box-shadow: var(--rh-box-shadow-sm, 0 2px 4px 0 rgba(21, 21, 21, 0.2));
  position: relative;

  &:before {
    content: '';
    border-inline-start: 3px solid var(--rh-color-brand-red-on-light, #ee0000);
    position: absolute;
    z-index: 1;
    inset-inline-start: -1px;
    inset-block: -1px;
  }

  #caret {
    transform: rotate(-180deg);
  }
}
