:host {
  display: block;
}

summary {
  cursor: pointer;
  font-size: var(--rh-font-size-body-text-md, 1rem);
  font-weight: var(--rh-font-weight-body-text-medium, 500);
  list-style: none;
  padding-block: var(--rh-space-lg, 16px);
  padding-inline: var(--rh-space-xl, 24px);

  &::-webkit-details-marker,
  &::marker {
    display: none;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: var(--rh-color-surface-lighter);
  }

  &:active,
  &:focus {
    outline: var(--rh-border-width-md, 2px) solid var(--rh-color-interactive-primary-default);
    outline-offset: -2px;
    position: relative;
    z-index: 2;
  }

  & ::slotted([slot='summary']) {
    font-family: var(--rh-font-family-body-text);
    font-size: var(--rh-font-size-body-text-md, 1rem) !important;
    font-weight: var(--rh-font-weight-body-text-medium, 500);
  }
}

.dark summary {
  &:hover,
  &:active,
  &:focus {
    background-color: var(--rh-color-surface-dark-alt);
  }
}

#caret {
  inline-size: var(--rh-space-lg, 16px);
  block-size: var(--rh-space-lg, 16px);
  transition: 0.2s;
  will-change: rotate;
  position: relative;
  inset-block-start: 3px;
  margin-inline-end: var(--rh-space-md, 8px);
}

#details-content {
  font-size: var(--rh-font-size-body-text-md, 1rem);
  line-height: var(--rh-line-height-body-text, 1.5);
  padding-block: var(--rh-space-lg, 16px) var(--rh-space-xl, 24px);
  padding-inline: var(--rh-space-xl, 24px);
}

::slotted(:is(p, h1, h2, h3, h4, h5, h6):first-of-type) {
  margin-block-start: 0;
}

:host:has(details[open]) {
  box-shadow: var(--rh-box-shadow-sm, 0 2px 4px 0 rgba(21, 21, 21, 0.2));
  position: relative;

  &:before {
    content: '';
    border-inline-start: 3px solid var(--rh-color-brand-red);
    position: absolute;
    z-index: 1;
    inset-inline-start: -1px;
    inset-block: -1px;
  }
}

details[open] {
  #caret {
    transform: rotate(-180deg);
  }
}
