:host {
  display: inline;
}

#container {
  display: inline-flex;
  position: relative;
  max-width: 100%;

  /* WARNING: properties containing `__`are deprecated and will be removed */
  --_floating-arrow-size:
    var(--rh-tooltip-arrow-size,
      var(--rh-tooltip__arrow--Width, 11px));
}

#tooltip,
#tooltip:after {
  position: absolute;
}

#tooltip {
  display: none;
  opacity: 0;
  pointer-events: none;
  z-index: 10000;
  transition: opacity 300ms cubic-bezier(0.54, 1.5, 0.38, 1.11) 0s;
  text-align: var(--_text-alignment, center);
  word-break: break-word;
  translate: var(--_floating-content-translate);
  width: max-content;
  inset-block-start: 0;
  inset-inline-start: 0;
  will-change: opacity;
  line-height: var(--rh-line-height-body-text, 1.5);
  box-shadow: var(--rh-box-shadow-sm, 0 2px 4px 0 rgba(21, 21, 21, 0.2));
  max-width: var(--rh-tooltip-max-width, var(--rh-tooltip--MaxWidth, 18.75rem));
  border-radius: var(--rh-border-radius-default, 3px);

  /* WARNING: properties containing `__`are deprecated and will be removed */
  padding:
    var(--rh-tooltip-content-padding-block-start,
      var(--rh-tooltip__content--PaddingTop, var(--rh-space-lg, 16px)))
    var(--rh-tooltip-content-padding-inline-end,
      var(--rh-tooltip__content--PaddingRight, var(--rh-space-lg, 16px)))
    var(--rh-tooltip-content-padding-block-end,
      var(--rh-tooltip__content--PaddingBottom, var(--rh-space-lg, 16px)))
    var(--rh-tooltip-content-padding-inline-start,
      var(--rh-tooltip__content--PaddingLeft, var(--rh-space-lg, 16px)));

  /* WARNING: properties containing `__`are deprecated and will be removed */
  font-size:
    var(--rh-tooltip-content-font-size,
      var(--rh-tooltip__content--FontSize, var(--rh-font-size-body-text-sm, 0.875rem)));

  /* WARNING: properties containing `__`are deprecated and will be removed */
  color:
    var(--rh-tooltip-content-color,
      var(--rh-tooltip__content--Color, var(--rh-color-text-primary-on-dark, #ffffff)));
  background-color:
    var(--rh-tooltip-content-background-color,
      var(--rh-tooltip__content--BackgroundColor, var(--rh-color-surface-darkest, #151515)));
}

.initialized #tooltip {
  display: block;
}

#tooltip:after {
  display: block;
  content: '';
  rotate: 45deg;
  width: var(--_floating-arrow-size);
  height: var(--_floating-arrow-size);
  will-change: left top right bottom;
  background-color:
    var(--rh-tooltip-content-background-color,
      var(--rh-tooltip__content--BackgroundColor, var(--rh-color-surface-darkest, #151515)));
}

.display-c {
  display: contents;
}

.open #tooltip {
  opacity: 1;
}

.visually-hidden {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  block-size: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  inline-size: 1px !important;
}

/* PLAIN */
.left #tooltip:after { inset-inline-start: calc(-0.5 * var(--_floating-arrow-size)); }
.top #tooltip:after { inset-block-start: calc(100% - 0.5 * var(--_floating-arrow-size)); }
.right #tooltip:after { inset-inline-end: calc(100% - 0.5 * var(--_floating-arrow-size)); }
.bottom #tooltip:after { inset-block-end: calc(100% - 0.5 * var(--_floating-arrow-size)); }

/* CENTER */
.left.center #tooltip:after { inset-block-start: calc(50% - 0.5 * var(--_floating-arrow-size)); }
.top.center #tooltip:after { inset-inline-end: calc(50% - 0.5 * var(--_floating-arrow-size)); }
.right.center #tooltip:after { inset-block-start: calc(50% - 0.5 * var(--_floating-arrow-size)); }
.bottom.center #tooltip:after { inset-inline-end: calc(50% - 0.5 * var(--_floating-arrow-size)); }

/* START */
.left.start #tooltip:after { inset-block-start: var(--_floating-arrow-size); }
.top.start #tooltip:after { inset-inline-start: var(--_floating-arrow-size); }
.right.start #tooltip:after { inset-block-start: var(--_floating-arrow-size); }
.bottom.start #tooltip:after { inset-inline-start: var(--_floating-arrow-size); }

/* END */
.left.end #tooltip:after { inset-block-end: var(--_floating-arrow-size); }
.top.end #tooltip:after { inset-inline-end: var(--_floating-arrow-size); }
.right.end #tooltip:after { inset-block-end: var(--_floating-arrow-size); }
.bottom.end #tooltip:after { inset-inline-end: var(--_floating-arrow-size); }

:host([position='left']),
:host([position='right']) {
  --_text-alignment: 'start';
}

.dark {
  --rh-tooltip-content-background-color: var(--rh-color-surface-lightest, #ffffff);
  --rh-tooltip-content-color: var(--rh-color-text-primary-on-light, #151515);
}
