:host {
  display: inline;
}

#container {
  display: inline-flex;
  position: relative;
  max-width: 100%;

  --_floating-arrow-size:
    var(--rh-tooltip-arrow-size,
      /** @deprecated use --rh-tooltip-arrow-size */
      var(--rh-tooltip__arrow--Width, 11px));
}

#tooltip,
#tooltip:after {
  position: absolute;
}

#tooltip {
  display: none;
  opacity: 0;
  pointer-events: none;
  z-index: 10000;
  transition: opacity 300ms cubic-bezier(0.54, 1.5, 0.38, 1.11) 0s;
  text-align: var(--_text-alignment, center);
  word-break: break-word;
  translate: var(--_floating-content-translate);
  transform: translateX(var(--_rh-tooltip-shake-x, 0));
  width: max-content;
  inset-block-start: 0;
  inset-inline-start: 0;
  will-change: opacity;
  line-height: var(--rh-line-height-body-text, 1.5);
  box-shadow: var(--rh-box-shadow-sm, 0 2px 4px 0 rgba(21, 21, 21, 0.2));
  max-width:
    var(--rh-tooltip-max-width,
      /** @deprecated use --rh-tooltip-max-width */
      var(--rh-tooltip--MaxWidth, 18.75rem)
    );
  border-radius: var(--rh-border-radius-default, 3px);
  padding-block:
    var(--rh-tooltip-content-padding-block-start,
      /** @deprecated use --rh-tooltip-content-padding-block-start */
      var(--rh-tooltip__content--PaddingTop, var(--rh-space-lg, 16px)))
    var(--rh-tooltip-content-padding-block-end,
      /** @deprecated use --rh-tooltip-content-padding-block-end */
      var(--rh-tooltip__content--PaddingBottom, var(--rh-space-lg, 16px)));
  padding-inline:
    var(--rh-tooltip-content-padding-inline-start,
      /** @deprecated use --rh-tooltip-content-padding-inline-start */
      var(--rh-tooltip__content--PaddingLeft, var(--rh-space-lg, 16px)))
    var(--rh-tooltip-content-padding-inline-end,
      /** @deprecated use --rh-tooltip-content-padding-inline-end */
      var(--rh-tooltip__content--PaddingRight, var(--rh-space-lg, 16px)));
  font-size:
    /** Font size */
    var(--rh-tooltip-content-font-size,
      /** @deprecated use --rh-tooltip-content-font-size */
      var(--rh-tooltip__content--FontSize, var(--rh-font-size-body-text-sm, 0.875rem)));
  color:
    /** Color */
    light-dark(var(--rh-tooltip-content-color,
      /** @deprecated use --rh-tooltip-content-color */
      var(--rh-tooltip__content--Color, var(--rh-color-text-primary-on-light, #151515))),
      var(--rh-tooltip-content-color, var(--rh-color-text-primary-on-dark, #ffffff)));
  background-color:
    /** Background color */
    light-dark(var(--rh-tooltip-content-background-color,
      /** @deprecated use --rh-tooltip-content-background-color */
      var(--rh-tooltip__content--BackgroundColor, var(--rh-color-surface-lightest, #ffffff))),
      var(--rh-tooltip-content-background-color, var(--rh-color-surface-darkest, #151515)));

  &.dark { color-scheme: dark; }
  &.light { color-scheme: light; }
}

.initialized #tooltip {
  display: block;
}

#tooltip:after {
  display: block;
  content: '';
  rotate: 45deg;
  width: var(--_floating-arrow-size);
  height: var(--_floating-arrow-size);
  will-change: left top right bottom;
  background-color:
    light-dark(var(--rh-tooltip-content-background-color,
      var(--rh-tooltip__content--BackgroundColor, var(--rh-color-surface-lightest, #ffffff))),
      var(--rh-tooltip-content-background-color,
      var(--rh-tooltip__content--BackgroundColor, var(--rh-color-surface-darkest, #151515))));
}

.open #tooltip {
  opacity: 1;
}

/* PLAIN */
.left #tooltip:after { inset-inline-end: calc(-0.5 * var(--_floating-arrow-size)); }
.top #tooltip:after { inset-block-end: calc(-0.5 * var(--_floating-arrow-size)); }
.right #tooltip:after { inset-inline-start: calc(-0.5 * var(--_floating-arrow-size)); }
.bottom #tooltip:after { inset-block-start: calc(-0.5 * var(--_floating-arrow-size)); }

/* CENTER */
.left.center #tooltip:after { inset-block-start: calc(50% - 0.5 * var(--_floating-arrow-size)); }
.top.center #tooltip:after { inset-inline-end: calc(50% - 0.5 * var(--_floating-arrow-size)); }
.right.center #tooltip:after { inset-block-start: calc(50% - 0.5 * var(--_floating-arrow-size)); }
.bottom.center #tooltip:after { inset-inline-end: calc(50% - 0.5 * var(--_floating-arrow-size)); }

/* START */
.left.start #tooltip:after { inset-block-start: var(--_floating-arrow-size); }
.top.start #tooltip:after { inset-inline-start: var(--_floating-arrow-size); }
.right.start #tooltip:after { inset-block-start: var(--_floating-arrow-size); }
.bottom.start #tooltip:after { inset-inline-start: var(--_floating-arrow-size); }

/* END */
.left.end #tooltip:after { inset-block-end: var(--_floating-arrow-size); }
.top.end #tooltip:after { inset-inline-end: var(--_floating-arrow-size); }
.right.end #tooltip:after { inset-block-end: var(--_floating-arrow-size); }
.bottom.end #tooltip:after { inset-inline-end: var(--_floating-arrow-size); }

:host([position='left']),
:host([position='right']) {
  --_text-alignment: 'start';
}
