:host([on="dark"]) {
  --pf-c-tooltip__content--BackgroundColor: #ffffff;
  --pf-c-tooltip__content--Color: #151515;
}

:host {
  --pf-c-tooltip--BoxShadow: 0 0.125rem 0.25rem 0 rgb(21 21 21 / 20%);
  --pf-c-tooltip__content--PaddingTop: var(--rh-space-lg, 16px);
  --pf-c-tooltip__content--PaddingRight: var(--rh-space-lg, 16px);
  --pf-c-tooltip__content--PaddingBottom: var(--rh-space-lg, 16px);
  --pf-c-tooltip__content--PaddingLeft: var(--rh-space-lg, 16px);
  --pf-c-tooltip__arrow--Width: 11px;
  --pf-c-tooltip__arrow--Height: 11px;
}
