:root {
  --rh-color-surface:
    light-dark(var(--rh-color-surface-lightest),
      var(--rh-color-surface-darkest));
  --rh-color-accent-base:
    light-dark(var(--rh-color-accent-base-on-light),
      var(--rh-color-accent-base-on-dark));
  --rh-color-accent-brand:
    light-dark(var(--rh-color-accent-brand-on-light),
      var(--rh-color-accent-brand-on-dark));
  --rh-color-border-strong:
    light-dark(var(--rh-color-border-strong-on-light),
      var(--rh-color-border-strong-on-dark));
  --rh-color-border-subtle:
    light-dark(var(--rh-color-border-subtle-on-light),
      var(--rh-color-border-subtle-on-dark));
  --rh-color-border-interactive:
    light-dark(var(--rh-color-border-interactive-on-light),
      var(--rh-color-border-interactive-on-dark));
  --rh-color-border-destructive:
    light-dark(var(--rh-color-border-destructive-on-light),
      var(--rh-color-border-destructive-on-dark));
  --rh-color-border-status-danger:
    light-dark(var(--rh-color-border-status-danger-on-light),
      var(--rh-color-border-status-danger-on-dark));
  --rh-color-border-status-caution:
    light-dark(var(--rh-color-border-status-caution-on-light),
      var(--rh-color-border-status-caution-on-dark));
  --rh-color-border-status-warning:
    light-dark(var(--rh-color-border-status-warning-on-light),
      var(--rh-color-border-status-warning-on-dark));
  --rh-color-border-status-neutral:
    light-dark(var(--rh-color-border-status-neutral-on-light),
      var(--rh-color-border-status-neutral-on-dark));
  --rh-color-border-status-info:
    light-dark(var(--rh-color-border-status-info-on-light),
      var(--rh-color-border-status-info-on-dark));
  --rh-color-border-status-success:
    light-dark(var(--rh-color-border-status-success-on-light),
      var(--rh-color-border-status-success-on-dark));
  --rh-color-brand-red:
    light-dark(var(--rh-color-brand-red-on-light),
      var(--rh-color-brand-red-on-dark));
  --rh-color-icon-primary:
    light-dark(var(--rh-color-icon-primary-on-light),
      var(--rh-color-icon-primary-on-dark));
  --rh-color-icon-secondary:
    light-dark(var(--rh-color-icon-secondary-on-light),
      var(--rh-color-icon-secondary-on-dark));
  --rh-color-icon-status-danger:
    light-dark(var(--rh-color-icon-status-danger-on-light),
      var(--rh-color-icon-status-danger-on-dark));
  --rh-color-icon-status-caution:
    light-dark(var(--rh-color-icon-status-caution-on-light),
      var(--rh-color-icon-status-caution-on-dark));
  --rh-color-icon-status-warning:
    light-dark(var(--rh-color-icon-status-warning-on-light),
      var(--rh-color-icon-status-warning-on-dark));
  --rh-color-icon-status-default:
    light-dark(var(--rh-color-icon-status-default-on-light),
      var(--rh-color-icon-status-default-on-dark));
  --rh-color-icon-status-neutral:
    light-dark(var(--rh-color-icon-status-neutral-on-light),
      var(--rh-color-icon-status-neutral-on-dark));
  --rh-color-icon-status-info:
    light-dark(var(--rh-color-icon-status-info-on-light),
      var(--rh-color-icon-status-info-on-dark));
  --rh-color-icon-status-success:
    light-dark(var(--rh-color-icon-status-success-on-light),
      var(--rh-color-icon-status-success-on-dark));
  --rh-color-interactive-primary-default:
    light-dark(var(--rh-color-interactive-primary-default-on-light),
      var(--rh-color-interactive-primary-default-on-dark));
  --rh-color-interactive-primary-hover:
    light-dark(var(--rh-color-interactive-primary-hover-on-light),
      var(--rh-color-interactive-primary-hover-on-dark));
  --rh-color-interactive-primary-active:
    light-dark(var(--rh-color-interactive-primary-active-on-light),
      var(--rh-color-interactive-primary-active-on-dark));
  --rh-color-interactive-primary-focus:
    light-dark(var(--rh-color-interactive-primary-focus-on-light),
      var(--rh-color-interactive-primary-focus-on-dark));
  --rh-color-interactive-primary-visited-default:
    light-dark(var(--rh-color-interactive-primary-visited-default-on-light),
      var(--rh-color-interactive-primary-visited-default-on-dark));
  --rh-color-interactive-primary-visited-hover:
    light-dark(var(--rh-color-interactive-primary-visited-hover-on-light),
      var(--rh-color-interactive-primary-visited-hover-on-dark));
  --rh-color-interactive-primary-visited-active:
    light-dark(var(--rh-color-interactive-primary-visited-active-on-light),
      var(--rh-color-interactive-primary-visited-active-on-dark));
  --rh-color-interactive-primary-visited-focus:
    light-dark(var(--rh-color-interactive-primary-visited-focus-on-light),
      var(--rh-color-interactive-primary-visited-focus-on-dark));
  --rh-color-interactive-secondary-default:
    light-dark(var(--rh-color-interactive-secondary-default-on-light),
      var(--rh-color-interactive-secondary-default-on-dark));
  --rh-color-interactive-secondary-hover:
    light-dark(var(--rh-color-interactive-secondary-hover-on-light),
      var(--rh-color-interactive-secondary-hover-on-dark));
  --rh-color-interactive-secondary-active:
    light-dark(var(--rh-color-interactive-secondary-active-on-light),
      var(--rh-color-interactive-secondary-active-on-dark));
  --rh-color-interactive-secondary-focus:
    light-dark(var(--rh-color-interactive-secondary-focus-on-light),
      var(--rh-color-interactive-secondary-focus-on-dark));
  --rh-color-interactive-secondary-visited-default:
    light-dark(var(--rh-color-interactive-secondary-visited-default-on-light),
      var(--rh-color-interactive-secondary-visited-default-on-dark));
  --rh-color-interactive-secondary-visited-hover:
    light-dark(var(--rh-color-interactive-secondary-visited-hover-on-light),
      var(--rh-color-interactive-secondary-visited-hover-on-dark));
  --rh-color-interactive-secondary-visited-active:
    light-dark(var(--rh-color-interactive-secondary-visited-active-on-light),
      var(--rh-color-interactive-secondary-visited-active-on-dark));
  --rh-color-interactive-secondary-visited-focus:
    light-dark(var(--rh-color-interactive-secondary-visited-focus-on-light),
      var(--rh-color-interactive-secondary-visited-focus-on-dark));
  --rh-color-status-danger:
    light-dark(var(--rh-color-status-danger-on-light),
      var(--rh-color-status-danger-on-dark));
  --rh-color-status-caution:
    light-dark(var(--rh-color-status-caution-on-light),
      var(--rh-color-status-caution-on-dark));
  --rh-color-status-warning:
    light-dark(var(--rh-color-status-warning-on-light),
      var(--rh-color-status-warning-on-dark));
  --rh-color-status-neutral:
    light-dark(var(--rh-color-status-neutral-on-light),
      var(--rh-color-status-neutral-on-dark));
  --rh-color-status-note:
    light-dark(var(--rh-color-status-note-on-light),
      var(--rh-color-status-note-on-dark));
  --rh-color-status-info:
    light-dark(var(--rh-color-status-info-on-light),
      var(--rh-color-status-info-on-dark));
  --rh-color-status-success:
    light-dark(var(--rh-color-status-success-on-light),
      var(--rh-color-status-success-on-dark));
  --rh-color-surface-status-danger:
    light-dark(var(--rh-color-surface-status-danger-on-light),
      var(--rh-color-surface-status-danger-on-dark));
  --rh-color-surface-status-caution:
    light-dark(var(--rh-color-surface-status-caution-on-light),
      var(--rh-color-surface-status-caution-on-dark));
  --rh-color-surface-status-warning:
    light-dark(var(--rh-color-surface-status-warning-on-light),
      var(--rh-color-surface-status-warning-on-dark));
  --rh-color-surface-status-default:
    light-dark(var(--rh-color-surface-status-default-on-light),
      var(--rh-color-surface-status-default-on-dark));
  --rh-color-surface-status-neutral:
    light-dark(var(--rh-color-surface-status-neutral-on-light),
      var(--rh-color-surface-status-neutral-on-dark));
  --rh-color-surface-status-info:
    light-dark(var(--rh-color-surface-status-info-on-light),
      var(--rh-color-surface-status-info-on-dark));
  --rh-color-surface-status-success:
    light-dark(var(--rh-color-surface-status-success-on-light),
      var(--rh-color-surface-status-success-on-dark));
  --rh-color-text-primary:
    light-dark(var(--rh-color-text-primary-on-light),
      var(--rh-color-text-primary-on-dark));
  --rh-color-text-secondary:
    light-dark(var(--rh-color-text-secondary-on-light),
      var(--rh-color-text-secondary-on-dark));
  --rh-color-text-brand:
    light-dark(var(--rh-color-text-brand-on-light),
      var(--rh-color-text-brand-on-dark));
}
