@font-face {
  font-family: RedHatDisplay;
  src: url('../assets/fonts/RedHatDisplay/RedHatDisplay-VF.woff2') format(woff2) tech(variations);
  font-weight: 300 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: RedHatDisplay;
  src: url('../assets/fonts/RedHatDisplay/RedHatDisplay-Italic-VF.woff2') format(woff2) tech(variations);
  font-weight: 300 900;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: RedHatText;
  src: url('../assets/fonts/RedHatText/RedHatText-VF.woff2') format(woff2) tech(variations);
  font-weight: 300 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: RedHatText;
  src: url('../assets/fonts/RedHatText/RedHatText-Italic-VF.woff2') format(woff2) tech(variations);
  font-weight: 300 700;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: RedHatMono;
  src: url('../assets/fonts/RedHatMono/RedHatMono-VF.woff2') format(woff2) tech(variations);
  font-weight: 300 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: RedHatMono;
  src: url('../assets/fonts/RedHatMono/RedHatMono-Italic-VF.woff2') format(woff2) tech(variations);
  font-weight: 300 700;
  font-style: italic;
  font-display: fallback;
}
