/* Decrease CLS  */
uxdot-hero:not(:defined) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

uxdot-hero:not(:defined) [slot="header"] {
  color: var(--rh-color-text-brand-on-light, #ee0000);
  margin-block-end: 0;
  text-transform: uppercase;
  font-weight: var(--rh-font-weight-code-medium, 500);
  font-size: var(--rh-font-size-code-lg, 1.125rem) !important;
}

uxdot-hero:not(:defined) [slot="tagline"] {
  font-size: var(--rh-font-size-heading-2xl, 3rem) !important;
  margin-block: var(--rh-space-lg, 16px) !important;
  text-align: center;
}

uxdot-hero:not(:defined) [slot="image"] {
  width: 100%;
  margin-block-start: var(--rh-space-4xl, 64px);
}

uxdot-example:not(:defined) img {
  max-width: 100%;
}

rh-subnav:not(:defined) {
  display: flex;
  flex-direction: row;
  gap: var(--rh-space-md, 8px);
  margin-block-start: var(--rh-space-2xl, 32px);
  max-width: 100%;
  overflow-x: scroll;
}

rh-subnav:not(:defined) a {
  display: block;
  white-space: nowrap;
  padding: var(--rh-space-lg, 16px) var(--rh-space-2xl, 32px);
  text-decoration: none;
  color: var(--rh-color-text-secondary-on-light, #4d4d4d);
  position: relative;
}
