/* Spacers */
samp.space {
  width: var(--samp-space-size);
  aspect-ratio: 1/1;
  outline:
    var(--rh-border-width-sm)
    dashed
    var(--samp-space-color, var(--rh-color-surface-darkest));
  color: var(--samp-space-color, var(--rh-color-text-primary-on-light));
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: var(--rh-font-size-body-text-xs);
}

samp.space span {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1rem;
  min-height: 100%;
}

samp.space:before {
  content: "";
  width: var(--samp-space-size);
  aspect-ratio: 1/1;
  background-color: var(--samp-space-color, var(--rh-color-surface-darkest));
  opacity: 0.125;
  z-index: -1;
  position: absolute;
}

samp.space span.offset {
  position: absolute;
  left: calc(var(--samp-space-size) + 2px);
}

samp.space.size-4:before {
  opacity: 1;
}

samp.space.sm,
samp.space.size-6 {
  color: #c58c00;
}

samp.space.size-6:before {
  opacity: 1;
}

samp.space.md,
samp.space.size-8 {
  color: #51a549;
}

/* Lengths */
samp.length {
  width: var(--samp-length-size);
  background-color: var(--rh-color-surface-darkest);

  /* Linting rule issue */
  /* stylelint-disable-next-line rhds/token-values */
  opacity: var(--rh-opacity-60);
  display: block;
  border-bottom: 2px solid var(--rh-color-border-strong-on-light);
  position: relative;
}

samp.length:before,
samp.length:after {
  content: " ";
  position: absolute;
  display: block;
  height: var(--rh-length-xs);
  width: 0;
  inset-block: calc(-1 * var(--rh-length-xs));
  border-style: solid;
  border-inline-width: var(--rh-border-width-md) 0;
  border-color: var(--rh-color-border-interactive-on-light);
}

samp.length:before {
  inset-inline: -2px 100%;
}

samp.length:after {
  inset-inline: 100% 2px;
}

/* Icons */
samp.icon {
  aspect-ratio: 1;
  display: block;
  width: var(--samp-icon-size);
  border: var(--rh-border-width-md);
}

/* Fonts */
samp.font {
  font-size: var(--samp-font-size, var(--rh-font-size-body-text-md));
  font-family: var(--samp-font-family, var(--rh-font-family-body-text));
  font-weight: var(--samp-font-weight, var(--rh-font-weight-body-text-regular));
}

samp.font.heading {
  font-size: var(--samp-font-size, var(--rh-font-size-heading-md));
  font-family: var(--rh-font-family-heading);
}

samp.font.code {
  font-family: var(--rh-font-family-code);
}

/* Colors */
samp.color {
  color: var(--samp-color);
}

samp.color:not(.border, .text) {
  aspect-ratio: 1;
  height: var(--rh-length-xl);
  display: block;
  border-radius: 100%;
  border: 1px solid transparent;
  background: var(--samp-color);
}

samp.color:not(.border, .text, .dark) {
  border-color: var(--rh-color-border-strong-on-light);
}

/* Line height */
samp.line-height {
  line-height: var(--samp-line-height);
}

/* Box shadow */
samp.box-shadow {
  height: var(--rh-length-2xl);
  aspect-ratio: 1;
  border-radius: var(--rh-border-radius-default);
  box-shadow: var(--samp-box-shadow);
  display: block;
}

/* Border */
samp.border {
  width: var(--rh-length-2xl);
  aspect-ratio: 2;
  display: block;
  border-style: solid;
  border-width: var(--samp-space-size, var(--rh-border-width-md));
  border-color: var(--samp-color, var(--rh-color-border-strong-on-light));
  border-radius: var(--samp-radius, var(--rh-border-radius-default));
}

samp.border.sm {
  border-width: var(--samp-space-size, var(--rh-border-width-sm));
}

samp.border.md {
  border-width: var(--samp-space-size, var(--rh-border-width-md));
}

samp.border.lg {
  border-width: var(--samp-space-size, var(--rh-border-width-lg));
}

/* Opacity */
samp.opacity {
  opacity: var(--samp-opacity);
  background-color: black;
  display: block;
  width: var(--rh-length-xl);
  aspect-ratio: 1;
}

/* Breakpoints */
samp.breakpoint img {
  max-height: var(--rh-length-3xl);
}
