---
layout: _templates/layout-basic.njk
title: Navigation
tags:
  - foundationsnotaddedyet
includeComponent:
  - pfe-jump-links
  - pfe-alert
---

{% import '_templates/component/foundations.njk' as foundations %}


{% call foundations.section("Introduction") -%}

  <p>Navigation helps a user orient themselves and enables them to browse through content or complete a task.</p>

{%- endcall %}


{% call foundations.section("Navigation patterns") -%}

    <p>There are several patterns available, each was designed to serve a specific purpose or solve a user need.</p>

{%- endcall %}

{% call foundations.section("Using navigation") -%}

    <p>When thinking about how to use navigation, consider how a user would interact with each pattern.</p>
    <ul>
        <li><strong>Primary</strong> and <strong>Secondary navigation</strong> allow a user to navigate between pages</li>
        <li><strong>Jump links</strong> allow a user to navigate through an entire page of content</li>
        <li><strong>Tabs</strong> and an <strong>Accordion</strong> allow a user to navigate through a fixed area of content</li>
    </ul>

{%- endcall %}

{% call foundations.section("Primary navigation") -%}

    <h3>Component</h3>
    <p><strong>Primary navigation</strong> contains a slot for a logo, menus or links, and slots for utilities that are placed on a black background.</p>

    [alert goes here]

    <div class="margin-top--4">
        <img src="{{ '/assets/navigation-foundations/nav-foundations-1.svg' | url }}" alt="Navigation bar" style="--example-img-max-width: 1000px;">
    </div>

    <h3>Usage</h3>
    <p>Primary navigation allows a user to move between the most important pages of a website. It is positioned at the top of a page and contains links to the most important content. It is persistent in all environments, meaning that it sticks to the top of a window as a user scrolls. The <strong>only exception</strong> is when Secondary navigation is positioned below it. It is not mandatory to use Primary navigation on every page, but there must be <em>some form of navigation</em> visible to a user at all times, even a logo that lives on its own.</p>

    [alert goes here]

    <div class="margin-top--4">
        <img src="{{ '/assets/navigation-foundations/nav-foundations-2.svg' | url }}" alt="Navigation usage" style="--example-img-max-width: 1000px;">
    </div>

{%- endcall %}    

<hr class="margin-top--10 margin-bottom--10">

{% call foundations.section("Theme") -%}

    <div class="margin-top--4">
        {% call foundations.example(palette='darkest') %}
            <div class="centered">
                <img src="{{ '/assets/navigation-foundations/nav-foundations-1.svg' | url }}" alt="Dark color theme" style="--example-img-max-width: 872px;">
            </div>
        {%- endcall %}
    </div>

{%- endcall %}



<div class="multi-column--min-300-wide">

  <div>
  {% call foundations.section("Feedback") -%}
    <p>To give feedback about this page, <a href="https://ux.redhat.com/get-started/#contact-info">contact us</a>.</p>
  {%- endcall %}
  </div>
  <div>
  {% call foundations.section("Foundations") -%}
    <p>To learn more about color, grid, typography, etc., visit the <a href="../foundations">Foundations section</a>.</p>
  {%- endcall %}
  </div>
</div>
