fieldset {
  align-items: center;
  border: 0;
  display: flex;
  flex-flow: row nowrap;
  gap: var(--rh-space-lg);
  margin-block-end: var(--rh-space-4xl);
  padding: 0;

  legend {
    float: inline-start;
  }

  #button-group {
    --rh-icon-size: var(--rh-size-icon-01);

    display: flex;
  }

  label {
    align-items: center;
    background-color: initial;
    border: var(--rh-border-width-sm) solid var(--rh-color-border-subtle);
    color: var(--rh-color-text-primary);
    display: flex;
    height: var(--rh-space-2xl);
    justify-content: center;
    position: relative;
    width: var(--rh-space-3xl);

    &:not(:first-of-type) {
      margin-inline-start: -1px;
    }

    &:first-of-type {
      border-end-start-radius: var(--rh-border-radius-default);
      border-start-start-radius: var(--rh-border-radius-default);
    }

    &:last-of-type {
      border-end-end-radius: var(--rh-border-radius-default);
      border-start-end-radius: var(--rh-border-radius-default);
    }

    &:focus-within,
    &:hover {
      background-color: var(--rh-color-interactive-secondary-focus);
      color:
        light-dark(var(--rh-color-text-primary-on-dark, #ffffff),
          var(--rh-color-text-primary-on-light, #151515));
    }

    rh-icon {
      z-index: 2;
    }

    input {
      appearance: none;
      inset: 0;
      margin: 0;
      outline-offset: 2px;
      padding: 0;
      position: absolute;

      &:focus-visible {
        outline: 1px solid var(--rh-color-interactive-primary-focus);
      }
    }

    &:has(input:checked) {
      background-color: var(--rh-color-interactive-primary-active);
      border-color: var(--rh-color-border-interactive);
      color:
        light-dark(var(--rh-color-text-primary-on-dark, #ffffff),
          var(--rh-color-text-primary-on-light, #151515));

      &:focus-within,
      &:hover {
        background-color: var(--rh-color-interactive-primary-focus);
      }
    }
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  block-size: 1px;
  inline-size: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}
