:host {
  display: block;
}

fieldset {
  align-items: center;
  border: 0;
  display: flex;
  flex-flow: row nowrap;

  /** Fieldset legend-to-group gap */
  gap: var(--rh-space-lg, 16px);
  margin: 0;
  padding: 0;

  legend {
    float: inline-start;
  }

  #button-group {
    /** Scheme button icon size */
    --rh-icon-size: var(--rh-size-icon-01, 16px);

    display: flex;
  }
}

label {
  align-items: center;
  background-color: initial;

  /** Toggle button border width */
  border-width: var(--rh-border-width-sm, 1px);
  border-style: solid;

  /** Toggle button border color */
  border-color: var(--rh-color-border-subtle);
  display: flex;

  /** Toggle button height */
  height: var(--rh-space-2xl, 32px);
  justify-content: center;
  position: relative;

  /** Toggle button width */
  width: var(--rh-space-3xl, 48px);

  &:not(:first-of-type) {
    margin-inline-start: -1px;
  }

  &:first-of-type {
    /** Button group start-start corner radius */
    border-start-start-radius: var(--rh-border-radius-default, 3px);

    /** Button group end-start corner radius */
    border-end-start-radius: var(--rh-border-radius-default, 3px);
  }

  &:last-of-type {
    /** Button group start-end corner radius */
    border-start-end-radius: var(--rh-border-radius-default, 3px);

    /** Button group end-end corner radius */
    border-end-end-radius: var(--rh-border-radius-default, 3px);
  }

  &:focus-within,
  &:hover {
    /** Toggle button hover/focus background */
    background-color:
      light-dark(
          var(--rh-color-surface-light, #e0e0e0),
          var(--rh-color-surface-dark, #383838)
        );
  }

  &:has(input:checked) {
    /** Selected toggle button background */
    background-color: var(--rh-color-interactive-primary-default);

    /** Selected toggle button border color */
    border-color: var(--rh-color-border-interactive);
    color:
      light-dark(
          /** Selected toggle button icon color in light mode */
          var(--rh-color-text-primary-on-dark, #ffffff),
          /** Selected toggle button icon color in dark mode */
          var(--rh-color-text-primary-on-light, #151515)
        );
    z-index: 1;
  }
}

input {
  appearance: none;
  border-radius: inherit;
  inset: 0;
  margin: 0;
  outline-offset: 3px;
  padding: 0;
  position: absolute;

  &:focus-visible {
    outline:
      /** Focus outline width */
      var(--rh-border-width-md, 2px)
      solid
      /** Focus outline color */
      var(--rh-color-border-interactive);
    transition: none;
  }
}

rh-icon {
  z-index: 2;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  block-size: 1px;
  inline-size: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}
