@layer
  reset,
  fonts,
  tokens,
  typography,
  base,
  layout;

@import url('/node_modules/@rhds/tokens/css/global.css') layer(tokens);
@import url('/node_modules/@rhds/tokens/css/default-theme.css') layer(tokens);
@import url('../reset.css') layer(reset);
@import url('../fonts.css') layer(fonts);
@import url('../typography.css') layer(typography);

@layer base {
  /**
     * PFE based styles as we do not have control over the
     * html layout that is upstream with no current override
     */
  #main-header {
    --pf-theme--color--surface--accent: black;
    --pf-theme--color--accent: black;
  }
}

@layer layout {
  rh-surface,
  [data-demo] {
    display: block;
    height: calc(100dvh - var(--pf-demo-header-height, 4.375rem));
  }

  #sidebar {
    height: calc(100dvh - var(--pf-demo-header-height, 4.375rem));
  }

  #main-header rh-context-picker {
    margin-inline-start: auto;
  }

  #main-header a img {
    margin-inline-end: 0;
  }
}

#source-control {
  margin-inline-start: unset;
}
