:host,
a {
  display: block;
}

a {
  padding: var(--rh-space-lg) var(--rh-space-2xl);
  font-size: var(--rh-font-size-body-text-lg);
  text-decoration: none !important;
  color: var(--rh-color-text-primary) !important;
  border-inline-start: var(--rh-border-width-lg) solid transparent;
}

a:hover {
  background: light-dark(var(--rh-color-surface-lighter), var(--rh-color-surface-darker));
  border-inline-start-color: var(--rh-color-border-subtle);
}

a.active {
  background: light-dark(var(--rh-color-surface-lighter), var(--rh-color-surface-darker));
  border-inline-start-color: var(--rh-color-accent-brand);
}
