@import url('/assets/packages/@rhds/elements/elements/rh-code-block/rh-code-block.css');

:host {
  container: host / inline-size;
  display: block;
  margin-block-start: var(--rh-space-2xl);
  max-width: 56rem; /* warning: magic number */
}

#container {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: 'heading' 'controls' 'content' 'code';
  gap: var(--rh-space-2xl) var(--rh-space-4xl);

  @container host (width >= 530px) {
    grid-template-columns: auto auto;
    grid-template-areas:
      'heading controls'
      'content content'
      'code code';
  }

  @container host (width >= 992px) {
    grid-template-areas:
      'heading heading'
      'controls controls'
      'content content'
      'code code';
  }
}

#heading {
  grid-area: heading;
  display: flex;
  align-items: center;
}

#description { grid-area: content; }

h3,
::slotted(h2),
::slotted(h3),
::slotted(h4),
::slotted(h5),
::slotted(h6) {
  margin-block: 0 !important;
  font-size: var(--rh-font-size-body-text-lg) !important;
}

#content {
  display: block;
  resize: vertical;
  overflow: auto;
  grid-area: content;
  padding: var(--rh-space-lg);
  border: var(--rh-border-width-sm) solid var(--rh-color-border-subtle);
  border-radius: var(--rh-border-radius-default);
  background-color: var(--rh-color-surface);
  color: var(--rh-color-text-primary);
  border-color: var(--rh-color-border-subtle);

  @container host (width > 300px) { padding: var(--rh-space-xl); }

  @container host (width > 540px) { padding: var(--rh-space-4xl); }

  & > * {
    margin-inline: auto;
  }
}

#color-picker {
  grid-area: controls;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  gap: var(--rh-space-lg, 16px);
}

rh-tabs {
  border: var(--rh-border-width-sm) solid var(--rh-color-border-subtle);
  border-radius: var(--rh-border-radius-default);
  overflow: hidden;
  grid-area: code;

  & rh-tab-panel {
    padding: 0;
    border-radius: 0;
  }

  & rh-code-block {
    --rh-border-radius-default: 0;
    --rh-border-width-sm: 0px;

    border-width: 0;
  }
}
