#demo {
  height: 825px;

  &:fullscreen {
    height: 100vh;
    iframe { height: 100%; }

    rh-card {
      height: 100%;
      &::part(body) { flex: auto; }
    }
  }
  &:not(:defined) { opacity: 0; }

  display: flex;
  flex-flow: column;
  gap: var(--rh-space-sm);

  rh-card {
    &::part(header),
    &::part(body) {
      margin: 0;
      border-block-end: var(--rh-border-width-sm) solid var(--rh-color-border-subtle-on-light);
    }

    &::part(footer) {
      margin-block: var(--rh-space-lg);
      justify-content: end;
    }

    & rh-button[slot='footer'] {
      display: inline-block;
      margin-inline-end: auto;
    }
  }

  .code-tabs {
    border: var(--rh-border-width-sm) solid var(--rh-color-border-subtle);
    border-radius: var(--rh-border-radius-default);

    &::part(tabs-container) {
      background: light-dark(var(--rh-color-surface-lightest), var(--rh-color-surface-darker));
    }

    & rh-tab-panel {
      padding: 0;
      border-radius: 0;
    }

    & rh-code-block {
      --rh-border-radius-default: 0;
      --rh-border-width-sm: 0px;

      max-width: 100%;
      border-width: 0;
    }
  }
}
