:host {
  display: block;
  margin-block: var(--rh-space-2xl);
}

#container {
  display: flex;
  flex-direction: column;
  gap: var(--rh-space-2xl);
  margin-block: var(--rh-space-2xl);
}

span {
  font-family: var(--rh-font-family-heading);
  font-size: var(--rh-font-size-heading-xs);
  font-weight: var(--rh-font-weight-heading-medium);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--rh-space-md);
}

#do span {
  color: var(--rh-color-status-success);
}

#dont span {
  color: var(--rh-color-status-danger);
}

#caution span {
  color: var(--rh-color-status-warning);
}

::slotted(uxdot-example) {
  margin: 0 !important;
}

figure {
  margin: 0 !important;
}
