:host {
  display: block;
  container-type: inline-size;
  container-name: host;
  margin-block-start: var(--rh-space-5xl);
}

#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--rh-space-3xl);
  margin-block-end: var(--rh-space-3xl);

  :is(*, :hover):focus-visible {
    border-radius: var(--rh-border-radius-default);
    outline-color:
      light-dark(
          --rh-color-border-interactive-on-light,
          --rh-color-border-interactive-on-dark);
    outline-offset: var(--rh-border-width-lg, 3px);
    outline-style: solid;
    outline-width: var(--rh-border-width-lg, 3px);
    transition: none;
  }

  :focus:not(:focus-visible) {
    outline: none;
  }
}

h2,
::slotted(h2) {
  font-family: var(--rh-font-family-heading);
  font-size: var(--rh-font-size-heading-md) !important;
  font-weight: var(--rh-font-weight-heading-medium);
  line-height: var(--rh-line-height-heading);
  margin: var(--rh-space-2xl) 0 !important;
}

p {
  font-size: var(--rh-font-size-body-text-lg);
}

a {
  color:
    light-dark(var(--rh-color-interactive-primary-default-on-light, #0066cc),
      var(--rh-color-interactive-primary-default-on-dark, #92c5f9));
  text-decoration: underline dashed 1px;
  text-decoration-color: light-dark(var(--rh-color-gray-50), var(--rh-color-gray-40));
  text-underline-offset: max(5px, 0.28em);
  transition: ease all 0.3s;

  &:hover {
    text-decoration-color: inherit;
    text-underline-offset: max(6px, 0.33em);
  }

  &:focus-within {
    text-decoration-color: inherit;
    text-underline-offset: max(6px, 0.33em);
  }
}

@container host (min-width: 576px) {
  #container {
    grid-template-columns: 1fr 1fr;
  }
}
