button {
  color: inherit;
  border-radius: var(--rh-border-radius-default);
  border-width: 0;
  background: none;
  display: inline-flex;
  align-items: center;
  gap: var(--rh-space-xs);
  padding-inline: var(--rh-space-xs);
}

code {
  padding: var(--rh-space-xs) var(--rh-space-md);
  background: var(--rh-color-surface-light);
  font-size: var(--rh-font-size-code-md);
  font-weight: var(--rh-font-weight-code-regular);
  font-family: var(--rh-font-family-code);
  line-height: var(--rh-line-height-code);
}

:host(:empty) code {
  display: none;
}

:is(rh-icon, #caption) {
  display: none;
}

:host(:state(--rendered)) button:is(:focus, :active, :hover),
:host(:state(--rendered)) button:is(:focus, :active, :hover) code {
  background: var(--rh-color-interactive-primary-hover-on-dark);
  opacity: 1;
}

:host(:state(--rendered)) :is(rh-icon, #caption) {
  display: initial;
}
