:host {
  color-scheme: only dark;
  display: block;
  background-color: var(--rh-color-surface-darkest);
  color: var(--rh-color-text-primary-on-dark);
  height: max-content;
  container-type: inline-size;
  container-name: uxdot-masthead;
}

#container {
  display: grid;
  column-gap: var(--rh-space-lg);
  grid-template-columns: max-content 1fr 1fr;
  max-height: var(--uxdot-masthead-max-height, 72px);
  margin-inline: var(--rh-space-md);
  margin-block: var(--rh-space-lg);
  #scheme { display: none; }

  @container (min-width: 576px) {
    gap: var(--rh-space-2xl);
    margin: var(--rh-space-lg);
  }

  @container (min-width: 992px) {
    grid-template-columns: 1fr max-content max-content;
    #scheme { display: contents; }
  }

  :is(*, :hover):focus-visible {
    border-radius: var(--rh-border-radius-default);
    outline-color: light-dark(--rh-color-border-interactive-on-light, --rh-color-border-interactive-on-dark);
    outline-offset: var(--rh-border-width-lg, 3px);
    outline-style: solid;
    outline-width: var(--rh-border-width-lg, 3px);
    transition: none;
  }

  :focus:not(:focus-visible) {
    outline: none;
  }
}

#hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--rh-space-md);
  justify-content: center;

  @container (min-width: 992px) {
    display: none;
  }

  &::slotted(button) {
    color: var(--rh-color-text-primary-on-dark);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: var(--rh-space-md);
    line-height: 0 !important;
  }

  &:hover::slotted(button),
  &::slotted(button:hover),
  &::slotted(button:active),
  &::slotted(button:focus) {
    color: var(--rh-color-icon-subtle-hover);
  }

  &::slotted(button:focus) {
    outline: var(--rh-border-width-md) solid var(--rh-color-border-interactive-on-dark);
    border-radius: var(--rh-border-radius-default);
  }
}

#logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: flex-start;
  gap: var(--rh-space-md);

  @container (min-width: 992px) {
    margin-inline-start: var(--rh-space-lg);
  }
}

#links {
  --rh-icon-size: 24px;

  display: flex;
  flex-direction: row;
  justify-self: end;
  column-gap: var(--rh-space-lg);

  a {
    display: flex;
    flex-direction: row;
    gap: var(--rh-space-lg);
    align-items: center;
    color: var(--rh-color-text-primary-on-dark, #ffffff) !important;
    text-decoration: underline dashed 1px;
    text-decoration-color: light-dark(var(--rh-color-gray-50), var(--rh-color-gray-40));
    text-underline-offset: max(5px, 0.28em);
    transition: ease all 0.3s;

    &:is(:hover, :focus) {
      color: var(--rh-color-icon-subtle-hover, #a3a3a3) !important;
      text-decoration-color: inherit;
      text-underline-offset: max(6px, 0.33em);
    }

    &:focus-within {
      text-decoration-color: inherit;
      text-underline-offset: max(6px, 0.33em);
    }
  }

  #github {
    display: none;

    @container (min-width: 768px) {
      display: inherit;
    }
  }

  #version {
    margin-inline-end: var(--rh-space-md, 8px);
  }

  span.display-xs {
    display: none;

    @container uxdot-masthead (min-width: 576px) {
      display: inline;
    }
  }
}
