:host {
  display: flex;
  margin-block-end: var(--rh-space-lg);
  align-items: center;
}

#signifier {
  display: var(--perma-signifier-display, none);
}

#button {
  height: 1.75rem;
  background: none;
  border: none;
  border-radius: var(--rh-border-radius-default);
  display: none;
  align-items: center;
}

#button:is(:hover, :focus) {
  background: light-dark(var(--rh-color-surface-light), var(--rh-color-surface-darker));
  color: var(--rh-color-text-primary);
}

:host(:state(--rendered)) #button {
  display: flex;
}

::slotted(:is(h1, h2, h3, h4, h5, h6)) {
  display: flex;
  margin-block-end: 0 !important;
  align-items: center;
  color: inherit;
  text-decoration: inherit;
}
