:host {
  display: block;

  /**
   * position masthead as fixed
   * z-index: to float above scroll page content
   */
  position: fixed;
  inset-inline: 0;
  z-index: var(--uxdot-masthead-z-index);
}

#container {
  display: grid;
  column-gap: var(--rh-space-lg);
  grid-template-areas: 'hamburger logo color links';
  grid-template-columns: max-content 1fr max-content max-content;
  max-height: var(--uxdot-masthead-max-height, 72px);
  padding-inline: var(--rh-space-md);
  padding-block: var(--rh-space-lg);
  background-color: var(--rh-color-surface);

  @container (width >= 576px) {
    gap: var(--rh-space-lg);
    padding: var(--rh-space-lg);
  }
}

#hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--rh-space-md);
  justify-content: center;

  &::slotted(button) {
    color: var(--rh-color-text-primary-on-dark);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: var(--rh-space-md);
    line-height: 0 !important;
  }

  &:hover::slotted(button),
  &::slotted(button:hover),
  &::slotted(button:active),
  &::slotted(button:focus) {
    color: var(--rh-color-icon-subtle-hover);
  }

  &::slotted(button:focus) {
    outline: var(--rh-border-width-md) solid var(--rh-color-border-interactive-on-dark);
    border-radius: var(--rh-border-radius-default);
  }
}

#logo::slotted(a) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: flex-start;
  gap: var(--rh-space-md);
}

#color {
  display: flex;
  align-items: center;
  gap: 1em;
}

#links {
  --rh-icon-size: 24px;

  display: flex;
  flex-direction: row;
  column-gap: var(--rh-space-lg);

  &::slotted(a) {
    display: flex;
    flex-direction: row;
    gap: var(--rh-space-lg);
    align-items: center;
  }
}

@container (width >= 992px) {
  #container {
    grid-template-areas: 'logo color links';
    grid-template-columns: 1fr max-content max-content;
  }

  #hamburger {
    display: none;
  }

  #logo::slotted(a) {
    margin-inline-start: var(--rh-space-lg);
  }
}
