button {
  color: inherit;
  border-radius: var(--rh-border-radius-default, 3px);
  border-width: 0;
  background: none;
  display: inline-flex;
  align-items: center;
  gap: var(--rh-space-xs, 4px);
  padding-inline: var(--rh-space-xs, 4px);
}

code {
  padding: var(--rh-space-xs, 4px) var(--rh-space-md, 8px);
  background:
    light-dark(
        var(--rh-color-surface-light, #e0e0e0),
        var(--rh-color-surface-dark, #383838));
  font-size: var(--rh-font-size-code-md, 1rem);
  font-weight: var(--rh-font-weight-code-regular, 400);
  font-family: var(--rh-font-family-code, RedHatMono, 'Red Hat Mono', 'Courier New', Courier, monospace);
  line-height: var(--rh-line-height-code, 1.5);
}

:host(.icon-only) code,
:host(:empty) code {
  display: none;
}

:is(rh-icon, #caption) {
  display: none;
}

:host(:state(--rendered)) button:is(:focus, :active, :hover),
:host(:state(--rendered)) button:is(:focus, :active, :hover) code {
  color: var(--rh-color-text-primary);
  background: light-dark(var(--rh-color-blue-20, #b9dafc), var(--rh-color-blue-70, #003366));
  opacity: 1;
}

:host(:state(--rendered)) :is(rh-icon, #caption) {
  display: initial;
}
