:host {
  --_padding-start: var(--uxdot-sidenav-padding-start, var(--rh-space-2xl));
  --_padding-end: var(--uxdot-sidenav-padding-end, var(--rh-space-2xl));
  --_max-height: 100dvh;
  --_sidenav_width: var(--uxdot-sidenav-width, 320px);

  display: block;
  inline-size: 100%;
  block-size: var(--_max-height);
  top: 0;
  z-index: var(--uxdot-sidenav-z-index, 5);
}

:host([open]) {
  display: block !important;
  position: fixed !important;
}

:host(:not([open])) {
  display: none;
}

[part='close-button'] {
  color: var(--rh-color-text-primary);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: var(--rh-space-md);
  line-height: 0 !important;
}

#content {
  padding: var(--rh-space-lg);
}

#container {
  position: relative;
  background-color: var(--rh-color-surface);
  overflow-y: auto;
  scrollbar-gutter: stable;
  inline-size: auto;
  block-size: 100%;
}

#close-button-container {
  padding-inline: var(--rh-space-md);
  padding-block: var(--rh-space-lg);
  max-block-size: var(--uxdot-masthead-max-height, 72px);
}

#close-button:focus {
  outline: var(--rh-border-width-md) solid var(--rh-color-border-interactive);
  border-radius: var(--rh-border-radius-default, 3px);
}

.visually-hidden {
  block-size: 1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  inline-size: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

[part='overlay'] {
  display: none;
  background-color: rgb(from var(---rh-color-gray-90) / var(--rh-opacity-60));
  position: fixed;
  inset-block-start: 0;
  block-size: 100dvh;
  inline-size: 100dvw;
  z-index: -1;
}

:host([open]) [part='overlay'] {
  display: block;
}

@media (min-width: 320px) {
  :host {
    inline-size: var(--_sidenav_width);
    box-shadow: var(--rh-box-shadow-lg);
  }
}

@media (min-width: 576px) {
  #close-button-container {
    padding-block: calc(var(--rh-space-lg) + var(--rh-space-xs)) var(--rh-space-lg);
    padding-inline: var(--rh-space-lg);
  }
}

@media (min-width: 992px) {
  :host {
    --uxdot-sidenav-z-index: 1;

    position: fixed;
    inset-block-start: var(--uxdot-masthead-max-height, 72px);
    block-size: calc(var(--_max-height) - var(--uxdot-masthead-max-height, 72px));
    border-inline-end: var(--rh-border-width-sm) solid var(--rh-color-border-subtle);
    box-shadow: unset;
  }

  :host(:not([open])) {
    display: block;
  }

  #close-button-container {
    display: none;
  }

  :host([open]) [part='overlay'] {
    display: none;
  }
}
