:host {
  display: contents;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--rh-space-lg);

  legend {
    float: inline-start;
  }

  #button-group {
    display: flex;

    --rh-icon-size: var(--rh-size-icon-01);
  }

  label {
    position: relative;
    background-color: none;
    color: var(--rh-color-text-primary);
    border: var(--rh-border-width-sm) solid var(--rh-color-border-subtle);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--rh-space-3xl);
    height: var(--rh-space-2xl);

    &:hover,
    &:has(:checked) {
      border-color: var(--rh-color-border-interactive);
    }

    &:first-of-type {
      border-start-start-radius: var(--rh-border-radius-default);
      border-end-start-radius: var(--rh-border-radius-default);
    }

    &:last-of-type {
      border-end-end-radius: var(--rh-border-radius-default);
      border-start-end-radius: var(--rh-border-radius-default);
    }

    &:hover,
    &:focus-within {
      background-color:
        light-dark(var(--rh-color-interactive-secondary-focus),
          var(--rh-color-gray-70));
    }

    &:has(:checked) {
      color: var(--rh-color-text-primary-on-light);
      background-color: var(--rh-color-interactive-primary-active);

      &:hover,
      &:focus-within {
        background-color: var(--rh-color-interactive-primary-focus);
      }
    }

    rh-icon { z-index: 2; }

    input {
      appearance: none;
      margin: 0;
      padding: 0;
      position: absolute;
      inset: 0;
      outline-offset: 2px;

      &:focus-visible {
        outline: 1px solid var(--rh-color-interactive-primary-focus);
      }
    }
  }
}
