:host {
  display: block;
  padding-block-end: var(--rh-space-lg);
  break-inside: avoid;
}

:host(:first-of-type) {
  /* TODO: This style is specific to the implementation on ux.redhat.com,
   * not ideal for the component lightdom files, maybe this is a
   * pattern level style that should be in the pattern layer.
   */
  @container main (min-width: 1440px) {
    padding-block-start: var(--rh-space-md);
  }
}

a {
  position: relative;
  outline: none;
  padding: 2px;
  text-decoration: none;
  color: var(--rh-color-interactive-primary-default);
  font-size: var(--rh-font-size-body-text-lg);
  display: inline-flex;
  gap: var(--rh-space-lg);
  align-items: first baseline;
  svg { min-width: 16px; }
  &:hover { color: var(--rh-color-interactive-primary-hover); }
  &:focus-within { color: var(--rh-color-interactive-primary-focus); }
  &:active { color: var(--rh-color-interactive-primary-active); }

  &:focus-visible:after {
    content: '';
    position: absolute;
    inset: 0;
    border: var(--rh-border-width-md, 2px) solid var(--rh-color-interactive-primary-default);
    border-radius: var(--rh-border-radius-default, 3px);
    pointer-events: none;
  }

  &:visited {
    color: var(--rh-color-interactive-primary-visited-default);
    &:hover { color: var(--rh-color-interactive-primary-visited-hover); }
    &:focus-within { color: var(--rh-color-interactive-primary-visited-focus); }
    &:active { color: var(--rh-color-interactive-primary-visited-active); }
  }
}
