:host {
  display: inline-block;
  text-align: center;
}

svg {
  aspect-ratio: 1 / 1;
  width: var(--rh-length-4xl, 64px);
  /*height: var(--rh-spinner-height, var(--rh-spinner-diameter, var(--rh-length-4xl, 64px)));*/
  stroke-width: var(--rh-length-sm, 6px);
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

circle {
  width: 100%;
  height: 100%;
  stroke-linecap: round;
}

circle.dash {
  transform-origin: 50% 50%;
  animation: rh-spinner-animation-dash 1.4s ease-out infinite;
  stroke: var(--rh-color-blue-400, #0066cc);
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  transform: rotate(-90deg);
}

circle.track {
  stroke: var(--rh-color-black-300, #d2d2d2);
  stroke-opacity: var(--rh-opacity-50, 50%);
  animation-duration: 0;
}

:host([size="lg"]) svg {
  width: var(--rh-size-icon-06, 64px);
  stroke-width: var(--rh-length-sm, 6px);
}

:host([size="md"]) svg {
  width: var(--rh-size-icon-04, 40px);
  stroke-width: var(--rh-length-xs, 4px);
}

:host([size="sm"]) svg {
  width: var(--rh-size-icon-01, 16px);
  stroke-width: var(--rh-length-2xs, 3px);
}

:host([size="sm"]) circle.dash {
  animation-name: rh-spinner-small-animation-dash;
  stroke-dasharray: 71;
  stroke-dashoffset: 71;
}



:host([on="dark"]) circle.dash {
  stroke: var(--rh-color-blue-200, #73bcf7);
}

:host([on="dark"]) circle.track {
  stroke: var(--rh-color-black-700, #3c3f42);
}



@keyframes rh-spinner-animation-dash {
  50% {
    stroke-dashoffset: 0;
  }
  75% {
    transform: rotate(280deg);
  }
  100% {
    stroke-dashoffset: -283;
  }
}

@keyframes rh-spinner-small-animation-dash {
  50% {
    stroke-dashoffset: 0;
  }
  75% {
    transform: rotate(280deg);
  }
  100% {
    stroke-dashoffset: -71;
  }
}


