:host {
    display: flex;
    --accent-color: var(--rh-theme--color--ui-accent, #e00);
    --red-hat-text:  var(--rh-theme--font-family, "Red Hat Text", "Overpass", Helvetica, Arial, sans-serif);
    --red-hat-text-display: var(--rh-theme--font-family--heading, "Red Hat Display", "Overpass", Helvetica, Arial, sans-serif);
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    gap: 8px;
}


slot{
    display: block;
    text-align: center;
}

::slotted([slot="icon"]){
    order: 1;
    color: black;
    padding-bottom: 8px;
}

slot[name="icon"] > pfe-icon {
    padding-bottom: 8px;
}

::slotted([slot="title"]) {
    order: 1;
    color: var(--accent-color);
    font-size: var(--pf-global--spacer--xl, 20px);
    font-family: var(--red-hat-text-display);
    text-transform: uppercase;
}

slot[name="statistic"] {
    order: 2;
    color: var(--accent-color);
    font-size: var(--pf-global--spacer--xl, 36px);
    font-family: var(--red-hat-text-display);
}

slot[name="description"] {
    order: 3;
    font-size: var(--pf-global--spacer--lg, 18px);
    font-family: var(--red-hat-text);
}

:host([size='large']) slot[name="statistic"] {
    font-size: var(--pf-global--spacer--xl, 48px);
}

:host([is-mobile]) slot[name='description'] {
    font-size: var(--pf-global--spacer--lg, 16px);
}

:host([is-mobile]) slot[name='statistic'] {
    font-size: var(--pf-global--spacer--lg, 32px);
}

:host([top='statistic']) slot[name="statistic"] {
    order: 1;
}

:host([top='statistic']) slot[name="title"] {
    order: 2;
}

