:host([on='dark']) {
    --_accent-color: var(--rh-color-brand-red-on-dark, #ff3333);
}

:host {
    display: flex;
    --_accent-color: var(--rh-color-brand-red, #ee0000);
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

::slotted(*),
slot:not(:empty){
    display: block;
    text-align: center;
}

slot[name="icon"] {
    display: none;
}

.hasIcon slot[name="icon"] {
    order: 1;
    display: block;
    color: black;
    margin-bottom: 16px;
}

:not(.hasStatistic) ::slotted([slot=statistic]) { display: none; }
:not(.hasTitle) ::slotted([slot=title]) { display: none; }
:not(.hasCta) ::slotted([slot=cta]) { display: none; }


pfe-icon[size="md"],
::slotted(pfe-icon[size="md"]) {
    --pfe-icon--size: var(--rh-font-size-heading-xl, 2.5rem);
    display: contents;
}

::slotted([slot="title"]) {
    order: 1;
    color: var(--_accent-color);
    font-size: var(--rh-font-size-body-text-xl, 1.25rem);
    font-family: var(--rh-font-family-heading, "RedHatDisplay", "Overpass", Helvetica, Arial, sans-serif);
    font-weight: var(--rh-font-weight-regular, 400);
    text-transform: uppercase;
}

slot[name="statistic"] {
    order: 2;
    color: var(--_accent-color);
    font-size: var(--rh-font-size-heading-lg, 2.25rem);
    font-weight: var(--rh-font-weight-regular, 300);
    font-family: var(--rh-font-family-heading, "RedHatDisplay", "Overpass", Helvetica, Arial, sans-serif);
}

slot:not([name]) {
    order: 3;
    font-size: var(--rh-font-size-body-text-lg, 1.125rem);
    font-family: var(--rh-font-family-text, "RedHatText", "Overpass", Helvetica, Arial, sans-serif);
    margin-top: var(--rh-space-sm, 0.5rem);
}


::slotted([slot="cta"]) {
    order: 4;
    font-size: var(--rh-font-size-body-text-lg, 1.125rem);
    font-family: var(--rh-font-family-heading, "RedHatDisplay", "Overpass", Helvetica, Arial, sans-serif);
    margin-top: var(--rh-space-lg, 1.5rem);
}

:host([size='large']) slot[name="statistic"],
:host([size='large']) ::slotted([slot="statistic"]) {
    font-size: var(--rh-font-size-heading-2xl, 3rem);
}

.isMobile slot:not([name]),
.isMobile ::slotted(:not([slot])) {
    font-size: var(--rh-font-size-body-text-lg, 1.125rem);
}

.isMobile slot[name='statistic'],
.isMobile ::slotted([slot="statistic"]) {
    font-size: 32px;
}

:host([top='statistic']) slot[name="statistic"],
:host([top='statistic']) ::slotted([slot="statistic"]) {
    order: 1;
}

:host([top='statistic']) ::slotted([slot="title"]) {
    order: 2;
}

