<header id="main-header">
  <div class="logo-bar">
    <a href="/">
      <img class="logo"
           alt="Red Hat design system logo"
           src="{{ '/assets/red-hat-design-system.svg' | url }}"
           style="max-width: 188px; min-width: 42px;">
    </a>
  </div>

  <input id="mobile-menu-toggle"
         class="menu-toggle element-invisible"
         type="checkbox"
         aria-controls="mobile-menu-menu-container">

  <label class="menu-toggle-button mobile-menu-toggle"
         for="mobile-menu-toggle"
         data-controls="mobile-menu-menu-container">
    <span class="burger-icon"></span>
    <span class="menu-toggle-assistive-text element-invisible">Toggle menu visibility</span>
  </label>

  <div class="menu-toggle-toggleable site-navigation-outer-wrapper">
    <nav class="site-navigation site-navigation menu-toggle-toggleable-content-wrapper">
      <ul class="wrapper">
        <li class="item">
          <a class="link {{ 'active' if page.url === '/' }}"
             href="{{ '/' | url }}">Home</a>
        </li>

        <!-- About -->

        <li class="item">
          <details {{ 'open' if 'about/' in page.url }}>
            <summary class="heading">About</summary>
            <ul class="sub-menu">
              <li class="item">
                <a class="link {{ 'active' if page.url === '/about/' }}"
                   href="{{ '/about/' | url }}">About this website</a>
              </li>
              {%- for link in collections.about -%}
              <li class="item">
                <a class="link {{ 'active' if page.url === link.url }}"
                   href="{{ link.url | url }}">{{ link.data.title }}</a>
              </li>
              {%- endfor -%}
            </ul>
          </details>
        </li>

        <!-- Get started -->

        <li class="item">
          <details {{ 'open' if 'get-started/' in page.url }}>
            <summary class="heading">Get started</summary>
            <ul class="sub-menu">
              <li class="item">
                <a class="link {{ 'active' if page.url === '/get-started/' }}"
                   href="{{ '/get-started/' | url }}">Overview</a>
              </li>
              {%- for link in collections.getstarted -%}
              <li class="item">
                <a class="link {{ 'active' if page.url === link.url }}"
                   href="{{ link.url | url }}">{{ link.data.title }}</a>
              </li>
              {%- endfor -%}
            </ul>
          </details>
        </li>

        <!-- Foundations -->

        <li class="item">
          <details {{ 'open' if 'foundations/' in page.url }}>
            <summary class="heading">Foundations</summary>
            <ul class="sub-menu">
              <li class="item">
                {%- set foundationsLinks = [
                  [ 'Overview', '/foundations/' ],
                  [ 'Color', '/foundations/color/' ],
                  [ 'Grid', '/foundations/grid/' ],
                  [ 'Personalization patterns', '/foundations/personalization/' ],
                  [ 'Spacing', '/foundations/spacing/' ],
                  [ 'Typography', '/foundations/typography/' ]
                ] -%}
                {%- for text, link in foundationsLinks -%}
                  {% if page.url.includes('/foundations/color/') and link.includes('/foundations/color') %}
                    <a class="link active" href="{{ link | url }}">{{ text }}</a>
                  {% else %}
                    <a class="link {{ 'active' if page.url === link }}"
                      href="{{ link | url }}">{{ text }}</a>
                  {% endif %}
                {%- endfor -%}
              </li>
            </ul>
          </details>
        </li>

        <!-- Tokens -->

        <li class="item">
          <details {{ 'open' if 'tokens/' in page.url }}>
            <summary class="heading">Tokens</summary>
            <ul class="sub-menu">
              <li class="item">
                <a class="link {{ 'active' if page.url === '/tokens/' }}"
                   href="{{ '/tokens/' | url }}">Overview</a>
              </li>
              {%- for link in collections.token -%}
              <li class="item">
                <a class="link {{ 'active' if page.url === link.url }}"
                   href="{{ link.url | url }}">{{ link.title | capitalize }}</a>
              </li>
              {%- endfor -%}
            </ul>
          </details>
        </li>

        <!-- Elements -->

        <li class="item">
          <details {{ 'open' if 'elements/' in page.url }}>
            <summary class="heading">Elements</summary>
            <ul class="sub-menu">
              <li class="item">
                <a class="link {{ 'active' if page.url === '/elements/' }}"
                   href="{{ '/elements/' | url }}">All elements</a>
              </li>
              {%- for tagName, docs in collections.elementDocs | groupby('tagName') -%}
                {%- set fst = docs[0] -%}
                {%- set slug = fst.slug -%}
                {%- set href = '/elements/' + slug + '/' -%}
                {% if not (tagName in comingSoonItems) %}
                  <li class="item">
                    <a class="link {{ 'active' if page.url.startsWith(href) }}"
                       href="{{ href | url }}">{{ (fst.alias) or (slug | deslugify) }}</a>
                  </li>
                {% endif %}
              {%- endfor -%}
            </ul>
          </details>
        </li>

        <!-- Patterns -->

        <li class="item">
          <details {{ 'open' if 'patterns/' in page.url }}>
            <summary class="heading">Patterns</summary>
            <ul class="sub-menu">
              <li class="item">
                <a class="link {{ 'active' if page.url === '/patterns/' }}"
                   href="{{ '/patterns/' | url }}">All patterns</a>
              </li>
              {%- for link in collections.pattern -%}
              <li class="item">
                <a class="link {{ 'active' if page.url === link.url }}"
                   href="{{ link.url | url }}">{{ link.data.title }}</a>
              </li>
              {%- endfor -%}
            </ul>
          </details>
        </li>

        <li class="item">
          <a class="link {{ 'active' if page.url ===  '/design-code-status/' }}"
             href="{{  '/design-code-status/' | url }}">Design/code status</a>
        </li>

        <li class="item">
          <a class="link {{ 'active' if page.url ===  '/release-notes/' }}"
             href="{{ '/release-notes/' | url }}">Release notes</a>
        </li>

        {%- if runMode == 'watch' -%}
          <li class="item">
            <a href="/cheatsheet" class="link">Cheat sheet!</a>
          </li>
        {%- endif -%}
      </ul>
    </nav>
  </div>
</header>

<script type="module">
  window.onUsersnapCXLoad = function(api) {
    api.init();
  }
  var script = document.createElement('script');
  script.async = 1;
  script.src = 'https://widget.usersnap.com/load/64471a95-72fe-4239-b16d-ebcf8b1219f7?onload=onUsersnapCXLoad';
  document.head.appendChild(script);
</script>

