<uxdot-masthead role="header">
  <pf-button slot="hamburger" id="hamburger" plain aria-controls="sidebar" label="Expand Main Navigation">
    <pf-icon icon="bars" size="lg"></pf-icon>
  </pf-button>
  <a href="/" slot="logo">
    <img src="{{ '/assets/red-hat-design-system.svg' | url }}" alt="Red Hat Design System logo">
  </a>
  <a href="https://github.com/RedHat-UX/red-hat-design-system" slot="links">
    <pf-icon set="fab" icon="github" size="lg"></pf-icon>
  </a>
</uxdot-masthead>
