<uxdot-sidenav>
  <ul>
    <li>
      <uxdot-sidenav-item {{ 'active' if page.url ===  '/'}}>
        <a href="{{ '/' | url }}">Home</a>
      </uxdot-sidenav-item>
    </li>

    {# 
      Loop through nav dropdowns 
      This uses data passed in via the eleventy.config.cjs file in the root
      TODO: more this data to a global data, ideally this data would be normalized 
      prior to getting to the component template level.
    #}
    {%- for link in sideNavDropdowns -%}
      {%- set active = link.url === page.url -%}
      {%- set open = link.url in page.url -%}
      <li>
        <uxdot-sidenav-dropdown {{ 'open' if open }}>
          <details {{ 'open' if open }}>
            <summary>{{ link.title }}</summary>
            <uxdot-sidenav-dropdown-menu>
              <ul>
                {% if link.collection === "elementDocs" %}
                  <li>
                    <uxdot-sidenav-dropdown-menu-item {{ 'active' if active }}>
                      <a href="{{ '/elements/' | url }}">All elements</a>
                    </uxdot-sidenav-dropdown-menu-item>
                  </li>
                  {%- for tagName, docs in collections.elementDocs | groupby('tagName') -%}
                    {%- set fst = docs[0] -%}
                    {%- set slug = fst.slug -%}
                    {%- set href = '/elements/' + slug + '/' -%}
                    {%- set active = href === page.url -%}
                    {% if not (tagName in comingSoonItems) %}
                      <li>
                        <uxdot-sidenav-dropdown-menu-item {{ 'active' if active }}>
                          <a href="{{ href | url }}">{{ (fst.alias ) or (slug | deslugify) }}</a>
                        </uxdot-sidenav-dropdown-menu-item>
                      </li>
                    {% endif %}
                  {%- endfor -%}
                {% else %}
                  {% if link.collection === 'token' %}
                    {%- set active = link.url === "/tokens" %}
                    <li>
                      <uxdot-sidenav-dropdown-menu-item {{ 'active' if active }}>
                        <a href="/tokens/">Overview</a>
                      </uxdot-sidenav-dropdown-menu-item>
                    </li>
                  {% endif %}
                  {%- for sublink in collections[link.collection] -%}
                    {%- set active = sublink.url === page.url -%}
                    <li>
                      <uxdot-sidenav-dropdown-menu-item {{ 'active' if active }}>
                        <a href="{{ sublink.url | url }}">{{ (sublink.data.heading) or (sublink.data.title | capitalize) or (sublink.title | capitalize) }}</a>
                      </uxdot-sidenav-dropdown-menu-item>
                    </li>
                  {%- endfor -%}
                {% endif %}
              </ul>
            </uxdot-sidenav-dropdown-menu>
          </details>
        </uxdog-sidenav-dropdown>
      </li>
    {% endfor %}

    <li>
      <uxdot-sidenav-item>
        <a  href="{{ '/design-code-status/' | url }}">Design/code status</a>
      </uxdot-sidenav-item>
    </li>

    <li>
      <uxdot-sidenav-item>
        <a href="{{ '/release-notes/' | url }}">Release notes</a>
      </uxdot-sidenav-item>
    </li>

    {%- if runMode == 'watch' -%}
      <li>
        <uxdot-sidenav-item>
          <a href="/cheatsheet" class="link">Cheat sheet!</a>
        </uxdot-sidenav-item>
      </li>
    {%- endif -%}
  </ul>
</uxdot-sidenav>
