:host {
  position: relative;
  display: inline-block;
}
#menu-list {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  padding: 8px 0px;
  margin: 0.25rem 0;
  display: none;
  z-index: 1000;
  min-width: 150px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #C7C7C7;
  background: #FFF;
  box-shadow: 0 4px 6px 1px rgba(21, 21, 21, 0.25);
}

:host([open]) #menu-list {
  display: block;
}

#menu-toggle {
  color: #151515;
  font-family: "Red Hat Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  width: 100%;
  padding: 6px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-height: 36px;
  border-radius: 3px;
  border: 1px solid #C7C7C7;
  background: #FFF;

  rh-icon {
    --rh-icon-size: 10px;
  }
}

.menu-dropdown-container {
  width: 100%;
}

::slotted(hr)  {
  border: 0;
  border-top: 1px solid #C7C7C7;
}

rh-menu::part(menu) {
  width: 100%;
}