section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2, p {
  margin-top: var(--rh-space-5xl, 80px);
  text-align: center;
}

rh-table {
  max-width: 50%;
}