<!DOCTYPE html><html class="no-js" lang=""><head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Card | Red Hat design system</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://www.redhat.com/misc/favicon.ico" type="image/x-icon">

  <meta property="og:title" content="Red Hat design system">
  <meta property="og:site_name" content="Red Hat design system">
  <meta property="og:url" content="ux.redhat.com">
  <meta property="og:description" content="This is Red Hat's design system. Using Red Hat brand standards and PatternFly as our foundational design language, we enable designers and developers to concurrently build branded experiences across redhat.com, Red Hat Customer Portal, and beyond.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://ux.redhat.com/assets/opengraph.png">

  <meta name="pfe-auto-reveal" content="true">

  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css" media="all">

  <link rel="stylesheet" href="/assets/prism.css">
  <link rel="stylesheet" href="/assets/pfe.min.css">
  <link rel="stylesheet" href="/assets/rhds.min.css">

  <link rel="stylesheet" href="/assets/css/style.css" id="">

  

  <noscript>
    <link type="text/css" href="/assets/pfe--noscript.min.css">
  </noscript>

  <script type="module">
    import '/assets/rhds.min.js'
    const PfIcon = await customElements.whenDefined('pf-icon')
    PfIcon.getIconUrl = (set, icon) =>
      new URL(`/assets/packages/@patternfly/elements/pf-icon/icons/${set}/${icon}.js`, location.origin);
  </script>

</head>




  


<body class="page  page--card" id="top" unresolved="">

  <div class="body-inner">

    


<script>
  window.onUsersnapCXLoad = function(api) {
    api.init();
  }
  var script = document.createElement('script');
  script.async = 1;
  script.src = 'https://widget.usersnap.com/load/64471a95-72fe-4239-b16d-ebcf8b1219f7?onload=onUsersnapCXLoad';
  document.getElementsByTagName('head')[0].appendChild(script);
</script>

<header class="l-header">

  <div class="l-header__logo-bar">
    <a href="/"><img class="l-header__logo" src="/assets/red-hat-design-system.svg" alt="Red Hat design system logo" style="max-width: 188px; min-width: 42px;"></a>
  </div>

  <input id="mobile-menu-toggle" class="menu-toggle element-invisible" type="checkbox" aria-controls="mobile-menu-menu-container">

  <label class="menu-toggle__button l-header__mobile-menu-toggle" for="mobile-menu-toggle" data-controls="mobile-menu-menu-container">
    <span class="l-header__burger-icon"></span>
    <span class="menu-toggle-assistive-text element-invisible">Toggle menu visibility</span>
  </label>

  <div class="menu-toggle__toggleable site-navigation__outer-wrapper">
    <nav class="l-header__site-navigation site-navigation menu-toggle__toggleable-content-wrapper">
      <ul class="site-navigation__wrapper">
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/">
    Home
  </a>

        </li>

        <!-- About

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/about/">
    About this website
  </a>

        </li> -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">About</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/about/">
    About this website
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/about/how-we-build/">
    How we build
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Get started -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Get started</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/">
    Overview
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/design-system-kit/">
    Design system kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/fts-starter-kit/">
    FTS starter kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/icon-libraries/">
    Icon libraries
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/product-logo-library/">
    Product logo library
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Foundations -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Foundations</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/">
    Overview
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

              </li>
              <!--<li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

                </li>-->
            </ul>
          </details>
        </li>

        <!-- Elements -->

        <li class="site-navigation__item">
          <details>
            <summary class="site-navigation__heading">Elements</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/">
    All elements
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/accordion/">
    Accordion
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/alert/">
    Alert
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/avatar/">
    Avatar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/call-to-action/">
    Call to action
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/footer/">
    Footer
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/navigation-secondary/">
    Navigation secondary
  </a>

                </li></ul>
          </details>
        </li>
        <!-- Components -->

        <li class="site-navigation__item">
          
          
            
          
          <details open="">
            <summary class="site-navigation__heading">Components</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/components/">
    All components
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/announcement/">
    Announcement
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/audio-player/">
    Audio player
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/blockquote/">
    Blockquote
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/button/">
    Button
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
    
  
  <a class="site-navigation__sub-menu__link site-navigation__sub-menu__link--active" href="/components/card/">
    Card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/dialog/">
    Dialog
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/disclosure/">
    Disclosure
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/filter/">
    Filter
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/form/">
    Form
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/jump-links/">
    Jump links
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link/">
    Link
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link-with-icon/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/navigation-primary/">
    Navigation (primary)
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/navigation-secondary/">
    Navigation (secondary)
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/popover/">
    Popover
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/progress-steps/">
    Progress steps
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/promo/">
    Promo
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/search-bar/">
    Search bar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/skip-navigation/">
    Skip navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/statistic/">
    Statistic
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-banner/">
    Sticky banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-card/">
    Sticky card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tabs/">
    Tabs
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tooltip/">
    Tooltip
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/video-thumbnail/">
    Video thumbnail
  </a>

                </li></ul>
          </details>
        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/design-code-status/">
    Design/code status
  </a>

        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/release-notes/">
    Release notes
  </a>

        </li>

        <!--

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/get-started/">
    Get started
  </a>

        </li>

        -->

      </ul>
    </nav>
  </div>
</header>


<main class="l-main">
  <article class="l-main__inner">
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 id="card" class="page-title">Card</h1>
      </div>
    </header>
    <div class="l-main__content">
      <div class="container">
        
        



  <section class="section section--palette-default container">
    <a id="Overview"></a>
    <h2 id="overview" class="section-title pfe-jump-links-panel__section">Overview</h2>
    <p>Cards are flexible surfaces used to group information in a small layout. They give small previews of information or provide secondary content in relation to the content it's near. Several cards can be used together to group related information.</p>
  </section>



  <section class="section section--palette-default container">
    <a id="Sample%20component"></a>
    <h2 id="sample-component" class="section-title pfe-jump-links-panel__section">Sample component</h2>
    <img src="/assets/card/card.svg" alt="A basic card" style="--inline-img-max-width: 360px;">
  </section>



  <section class="section section--palette-default container">
    <a id="Demo"></a>
    <h2 id="demo" class="section-title pfe-jump-links-panel__section">Demo</h2>
    <p>View a live version of this component and see how it can be customized.</p>

  <rh-cta>
    <a href="https://patternflyelements.org/components/card/">View the PatternFly Elements component</a>
  </rh-cta>
  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <a id="Style"></a>
    <h2 id="style" class="section-title pfe-jump-links-panel__section">Style</h2>
    <p>Cards can be used in light and dark themes. They act as a blank canvas where elements and styles can be placed inside.</p>

    
  <div class="example example--palette-light">
    
    
      <div class="inline-flex centered">
        <img src="/assets/card/card-style.svg" alt="A breakdown of the parts of a card" style="--example-img-max-width: 599px;">
      </div>
  </div>

  </section>



  <section class="section section--palette-default container">
    <a id="Theme"></a>
    <h2 id="theme" class="section-title pfe-jump-links-panel__section">Theme</h2>
    
  <div class="example example--palette-light">
    
    
      <div class="inline-flex centered ">
        <img src="/assets/card/card-theme-light.svg" alt="Card in light theme" style="--example-img-max-width: 784px;">
      </div>
  </div>


    
  <div class="example example--palette-darkest">
    
    
      <div class="inline-flex centered ">
        <img src="/assets/card/card-theme-dark.svg" alt="Card in dark theme" style="--example-img-max-width: 784px;">
      </div>
  </div>


    <h4 id="color">Color</h4>
    <p>Cards are secondary layouts that shouldn’t command too much attention and blend in with whatever background they’re placed on. The card container is the only required element and it consists of a background color and rounded corners. A thin border is required if the card background is the same color as the background it's placed on.</p>

    <div class="multi-column--min-400-wide margin-top--4">
      <div>
        
  <div class="example example--palette-light">
    
    
          <div class="centered">
            <img src="/assets/card/card-color-light-white.svg" alt="White card colors" style="--example-img-max-width: 242px;">
          </div>
  </div>

        <p class="footnote">A white card with a light gray border is the most common use case in the light theme</p>
      </div>
      <div>
        
  <div class="example example--palette-light">
    
    
          <div class="centered">
            <img src="/assets/card/card-color-light-gray.svg" alt="Gray card colors" style="--inline-img-max-width: 242px;">
          </div>
  </div>

        <p class="footnote">A light gray card without a border can also be used as an alternate option</p>
      </div>
      <div>
        
  <div class="example example--palette-darkest">
    
    
          <div class="centered">
              <img src="/assets/card/card-color-dark-black.svg" alt="Black card colors" style="--inline-img-max-width: 242px;">
          </div>
  </div>

        <p class="footnote">A black card with a dark gray border is the most common use case in the dark theme</p>
      </div>
      <div>
        
  <div class="example example--palette-darkest">
    
    
        <div class="centered">
          <img src="/assets/card/card-color-dark-gray.svg" alt="Dark theme gray card colors" style="--inline-img-max-width: 242px;">
        </div>
  </div>

        <p class="footnote">A dark gray card without a border can also be used as an alternate option</p>
      </div>
    </div>

  <h4 id="layout">Layout</h4>
    <p>A card features header, body, and footer sections. Those sections should include a limited amount of content to ensure that the card doesn’t become too tall.</p>

      
  <div class="example example--palette-light">
    
    
      <div class="multi-column--min-400-wide">
        <div class="">
          <img src="/assets/card/card-layout-1.svg" alt="Example of a card layout" style="--example-img-max-width: 360px;">
        </div>
        <div class="">
          <img src="/assets/card/card-layout-2.svg" alt="Anatomy of a card layout" style="--example-img-max-width: 360px;">
        </div>
      </div>
  </div>

    <h4 id="header">Header</h4>
    <p>The header section is required, it introduces what the content is and shouldn’t be hidden.</p>

    <h4 id="body">Body</h4>
    <p>The body section can include a headline, text, an icon, or sometimes an image. The body section describes the content in more detail and shouldn’t be hidden.</p>

    <h4 id="footer">Footer</h4>
    <p>The footer section can include normal links or a call to action. It can be hidden if necessary if there’s content included where a user can take an action.</p>
  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <a id="Usage"></a>
    <h2 id="usage" class="section-title pfe-jump-links-panel__section">Usage</h2>
    <h4 id="variants">Variants</h4>
    <p>There are several card variants that can be used for a variety of use cases.</p>

    <div class="multi-column--min-400-wide margin-top--4 margin-bottom--8">
        <div>
            <h4 id="basic">Basic</h4>
            <p>Use to display basic content or long paragraphs of text. Secondary and Default calls to action may be used.</p>
        </div>
        <div>
            <h4 id="list">List</h4>
            <p>Use to display a short amount of content using various list styles. Secondary and Default calls to action may be used.</p>
        </div>
        <div>
            <h4 id="data">Data</h4>
            <p>Use to display quick facts or short data points under a label. A Secondary call to action may be used or not.</p>
        </div>
        <div>
            <h4 id="logo">Logo</h4>
            <p>Use to display a customer logo in a variety of arrangements. A call to action is required, otherwise use a logo wall.</p>
        </div>
        <div>
            <h4 id="bar">Bar</h4>
            <p>Use to add a small icon and a label group to the header section. A larger icon or a logo may be used.</p>
        </div>
        <div>
            <h4 id="icon">Icon</h4>
            <p>Use to add an icon to the basic style above the text. Secondary and Default calls to action may be used.</p>
        </div>
        <div>
            <h4 id="image">Image</h4>
            <p>Use to add an image to the basic style above the text. Secondary and Default calls to action may be used.</p>
        </div>
        <div>
            <h4 id="asset">Asset</h4>
            <p>Use to display that an asset can be downloaded. An icon and label group or text may be used to describe the asset.</p>
        </div>
        <div>
            <h4 id="quote">Quote</h4>
            <p>Use to display a short quote with attribution text. Logos, images, and a Secondary call to action may be used or not.</p>
        </div>
        <div>
            <h4 id="avatars">Avatars</h4>
            <p>Use to highlight a group of people who engage in an event. A label should be included, but including text is optional.</p>
        </div>
        <div>
            <h4 id="video">Video</h4>
            <p>Use to trigger a video that will play in a <a href="../modal">Modal</a>. Different layout configurations may be used.</p>
        </div>
        <div>
            <h4 id="pricing">Pricing</h4>
            <p>Use to outline the pricing and benefits of something. Elements may be removed or rearranged depending on content needs.</p>
        </div>
        <div>
            <h4 id="logo-slider">Logo slider</h4>
            <p>Use to display more content about a company when expanded on hover or tap. A title and text should be included.</p>
        </div>
        <div>
            <h4 id="name-slider">Name slider</h4>
            <p>Use to display more content about a person when the tray expands. A title and text should be included.</p>
        </div>
    </div>

    <h4 id="content">Content</h4>
    <p>Cards have the potential to contain lots of content, like a combination of text, links, images, multimedia, etc. Ensure content serves the use case, but keep things simple at the same time. Don’t use too much content in one card, distribute extra content to other cards or somewhere else on the page. A <a href="../sticky-card">Sticky card</a> is a kind of card that can contain similar content, but it sticks to the side of a page and it’s always present until a user dismisses it.</p>

    <h4 id="grouping">Grouping</h4>
    <p>Different card styles can sometimes be grouped together. They can be arranged in a grid horizontally or vertically, depending on available space or screen size. Be sure to only group cards together that have similar styles or content. For example, grouping a basic card with a pricing card will look bad because they’re not very similar.</p>

  
  <div class="example example--palette-light">
    
    
      <div class="inline-flex centered">
        <img src="/assets/card/card-usage-grouping.svg" alt="Grouping of a card" style="--example-img-max-width: 784px;">
      </div>
  </div>


    <p class="footnote">These cards can be grouped together because they have similar styles and content</p>

    <h4 id="layout">Layout</h4>
    <p>Cards are small layouts that should be arranged on a grid and not float randomly in larger layouts. Cards have a minimum width of four columns and a maximum width of six columns.</p>

    <h4 id="other-components">Other components</h4>
    <p>Cards can include complex components if necessary. For example, the <a href="../filter">Filter</a> component requires an Accordion or a <a href="../disclosure">Disclosure</a> to sort a content set. Don't place any other complex components in card layouts.</p>

  
  <div class="example example--palette-light">
    
    
      <div class="inline-flex centered">
        <img src="/assets/card/card-usage-other.svg" alt="Alternative card usage" style="--example-img-max-width: 664px;">
      </div>
  </div>

  </section>




  <section class="section section--palette-default container">
    <a id="Best%20practices"></a>
    <h2 id="best-practices" class="section-title pfe-jump-links-panel__section">Best practices</h2>
    <p>The minimum width of a card in any layout is four columns and the maximum number of cards that can be used in a row is three.</p>
    
  <div class="example example--palette-wrong">
    
    
        <div class="inline-flex centered">
            <img src="/assets/card/card-bestpractice-1.svg" alt="Too many cards" style="--example-img-max-width: 872px;">
        </div>
  </div>


    <p>Don’t use a primary call to action in any card unless the primary action of a page is positioned inside of that card.</p>
    
  <div class="example example--palette-wrong">
    
    
        <div class="inline-flex centered">
            <img src="/assets/card/card-bestpractice-2.svg" alt="Card width error" style="--example-img-max-width: 360px;">
        </div>
  </div>


    <p>Don’t use multiple calls to action in one card. Instead, distribute them to other cards.</p>
    
  <div class="example example--palette-wrong">
    
    
        <div class="inline-flex centered">
            <img src="/assets/card/card-bestpractice-3.svg" alt="Multiple calls to action" style="--example-img-max-width: 360px;">
        </div>
  </div>

  </section>




  <section class="section section--palette-default container">
    <a id="Behavior"></a>
    <h2 id="behavior" class="section-title pfe-jump-links-panel__section">Behavior</h2>
    <h4 id="vertical-height">Vertical height</h4>
    <p>The vertical height of cards depends on how much content is placed inside. If there are multiple cards in a row, the vertical height of each of them will be determined by the tallest card. Don’t place inconsistent amounts of content in cards, as this will impact how scannable the group will appear to users.</p>

    
  <div class="example example--palette-light">
    
    
      <div class="inline-flex centered">
        <img src="/assets/card/card-behavior-height.svg" alt="Card height behavior" style="--example-img-max-width: 784px;">
      </div>
  </div>


    <h4 id="interactivity">Interactivity</h4>
    <p>If a card contains only one link destination, the entire container and any elements inside should all be interactive. Otherwise, each interactive element should continue to be interactive, but not the card container.</p>

    
  <div class="example example--palette-light">
    
    
      <div class="inline-flex centered">
        <img src="/assets/card/card-behavior-interaction.svg" alt="Card interaction" style="--example-img-max-width: 784px;">
      </div>
  </div>

  </section>




  <section class="section section--palette-default container">
    <a id="Responsive%20design"></a>
    <h2 id="responsive-design" class="section-title pfe-jump-links-panel__section">Responsive design</h2>
    <h4 id="breakpoints">Breakpoints</h4>
    <p>Cards will get thinner or move below each other on smaller screens.</p>

    <h4 id="large-screens">Large screens</h4>
    <img src="/assets/card/card-layout-desktop.svg" alt="Desktop cards" style="--inline-img-max-width: 784px;">

    <h4 id="small-screens">Small screens</h4>
    <img src="/assets/card/card-layout-mobile.svg" alt="Mobile cards" style="--inline-img-max-width: 360px;">
  </section>




  <section class="section section--palette-default container">
    <a id="Interaction%20states"></a>
    <h2 id="interaction-states" class="section-title pfe-jump-links-panel__section">Interaction states</h2>
    <p>Since cards can consist of a variety of elements, refer to the specific interaction states that are assigned to each style and component for more information.</p>
  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <a id="Spacing"></a>
    <h2 id="spacing" class="section-title pfe-jump-links-panel__section">Spacing</h2>
    <p>Cards use <a href="https://www.patternfly.org/v4/guidelines/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

    <h4 id="container-padding">Container padding</h4>
    <p>Container padding defines how far away content is from the edges of the component. When cards become wider, the container padding increases. When they become thinner, the container padding decreases. See more examples <a href="https://xd.adobe.com/view/a337ad48-4c5a-4e75-aec1-cc0cfe52098d-f664/">here</a>.</p>

    <h4 id="desktop">Desktop</h4>
    
  <div class="example example--palette-light">
    
    
        <div class="inline-flex centered">
            <img src="/assets/card/card-spacing-desktop.svg" alt="Card spacing on desktop" style="--example-img-max-width: 360px;">
        </div>
  </div>


    <h4 id="mobile">Mobile</h4>
    
  <div class="example example--palette-light">
    
    
        <div class="inline-flex centered">
            <img src="/assets/card/card-spacing-mobile.svg" alt="Card spacing on mobile" style="--example-img-max-width: 360px;">
        </div>
  </div>

  </section>


<div class="multi-column--min-300-wide">

  
  <section class="section section--palette-default container">
    <a id="Feedback"></a>
    <h2 id="feedback" class="section-title pfe-jump-links-panel__section">Feedback</h2>
    <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  </section>


  
  <section class="section section--palette-default container">
    <a id="Foundations"></a>
    <h2 id="foundations" class="section-title pfe-jump-links-panel__section">Foundations</h2>
    <p>To learn how to use our other components in your designs, visit the <a href="/components">Components</a> section.</p>
  </section>


</div>

      </div>
    </div>
  </article>
    

  <footer class="main-footer">
    <img style="max-width: 135px;" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark.svg" alt="Red Hat">
    <p>Copyright © 2021-2023 Red Hat, Inc.</p>
    <div class="main-footer--list">
      <ul>
        <li><a href="https://www.redhat.com/en/about/privacy-policy">Privacy statement</a></li>
        <li><a href="https://www.redhat.com/en/about/terms-use">Terms of use</a></li>
        <li><a href="https://www.redhat.com/en/about/all-policies-guidelines">All policies and guidelines</a></li>
      </ul>
    </div>

    <a id="netlify-badge" href="https://www.netlify.com" target="_blank" rel="noreferrer noopener">
      <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" alt="Deploys by Netlify">
    </a>
  </footer>

<div class="back-to-top">
    <a href="#top" class="back-to-top-link">
        <img src="/assets/back-to-top.svg" alt="Scroll back to the top">
    </a>
</div>

</main>


  </div>
  <script src="/js/global.js"></script>



</body></html>