{%- set extraPageClasses = bodyClasses or "" -%}
{%- if title -%}
  {% set extraPageClasses = extraPageClasses + ' page-' + title | slug -%}
{%- endif -%}

<!doctype html>
<html lang="en" dir="ltr">
  <head>
    {% include "../partials/meta.html" %}

    <link rel="stylesheet" href="{{ '/styles/styles.css' | url }}">

    {% include "../partials/javascript/global.html" %}
  </head>

  <body class="{{ extraPageClasses }}">
    {{ content | safe }}
  </body>
</html>
