{%- set extraPageClasses = bodyClasses or "" -%}
{%- if title -%}
  {% set extraPageClasses = extraPageClasses + ' page-' + title | slug -%}
{%- endif -%}

<!doctype html>
<html lang="en" dir="ltr">
  <head>
    {% include "../partials/meta.html" %}

    <link rel="stylesheet" href="/styles/styles.css">

   {# On browsers that don't yet support native declarative shadow DOM, a
      paint can occur after some or åall pre-rendered HTML has been parsed,
      but before the declarative shadow DOM polyfill has taken effect. This
      paint is undesirable because it won't include any component shadow DOM.
      To prevent layout shifts that can result from this render, we use a
      "dsd-pending" attribute to ensure we only paint after we know
      shadow DOM is active. #}
    <style>
      body[dsd-pending] {
        display: none;
      }
    </style>
    {# if javascript is turned off we want to ensure the page renders #}
    <noscript>
      <style type="text/css">
        body[dsd-pending] {
          display: grid;
        }
      </style>
    </noscript>

    {% include "../partials/javascript/global.html" %}
  </head>

  <body dsd-pending class="{{ extraPageClasses }}">
    <rh-skip-link href="#main">Skip to main content</rh-skip-link>
    {{ content | safe }}
  </body>
</html>
