<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/logo-red-hat.svg">
    <title>{{ demo.title or demo.tagName }} | Red Hat Design System</title>

    <link rel="preconnect" href="https://ga.jspm.io">

    <link rel="stylesheet" href="{{ '/styles/dev-server/styles.css' | url }}" media="all">

    <script type="importmap">{{ importMap | dump(2) | safe }}</script>
    <script async src="https://ga.jspm.io/npm:es-module-shims@1.8.1/dist/es-module-shims.js"></script>
    <script type="module">
      import 'element-internals-polyfill';
    </script>
    <style>
      html, body, main { height: 100%; }
      main { display: grid; }
    </style>
  </head>
  <body unresolved>{% if demo.filePath %}
    <main>
      {%- include demo.filePath -%}
    </main>{%- else -%}
    <p>No Demo. <a href="https://github.com/redhat-ux/red-hat-design-system/issues/new">Open an issue!</a></p>{%- endif -%}
  </body>
</html>

