<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/logo-red-hat.svg">
    <title>{{ title | default("Pattern") }} | Red Hat Design System</title>
    <link rel="stylesheet" href="/styles/demo/styles.css" media="all">
    <script type="importmap">{{ importMap | dump(2) | safe }}</script>
    {% include 'partials/javascript/dsd-init.html' %}
    <script async src="https://ga.jspm.io/npm:es-module-shims@1.8.1/dist/es-module-shims.js"></script>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
