rh-footer :is([slot^=links]) a {
  gap: var(--rh-footer-links-gap, 10px);
}

:is(rh-footer, rh-global-footer) :is([slot^=links], [slot=global-links-primary], [slot=global-links-secondary]) li {
  margin: 0;
  padding: 0;
  display: contents;
}

:is(rh-footer, rh-global-footer) :is([slot^=links], [slot=global-links-primary], [slot=global-links-secondary]) a {
  --_color: var(--link-color, #fff);
  --_font-size: var(--link-font-size, 0.875em);
  display: block;
  color: var(--_color) !important;
  font-size: var(--_font-size);
  text-decoration: none;
}

:is(rh-footer, rh-global-footer) :is([slot^=links], [slot=global-links-primary], [slot=global-links-secondary]) a:is(:hover, :focus-within) {
  text-decoration: underline;
}

/* Via pfe-base.css */
:is(rh-footer, rh-global-footer) a {
  color: var(--rh-color-link-inline-on-dark, var(--rh-color-blue-200, #73bcf7));
  text-decoration: none;
}
:is(rh-footer, rh-global-footer) a:hover {
  color: var(--rh-color-link-inline-hover-on-dark, var(--rh-color-blue-100, #bee1f4));
  text-decoration: underline;
}
:is(rh-footer, rh-global-footer) a:focus {
  color: var(--rh-color-link-inline-focus-on-dark, var(--rh-color-blue-100, #bee1f4));
  text-decoration: underline;
}
:is(rh-footer, rh-global-footer) a:visited {
  color: var(--rh-color-link-inline-visited-on-dark, var(--rh-color-blue-100, #bee1f4));
  text-decoration: none;
}
