:host {
  display: block;
  position: relative;
}

/** Add margin to blocks that aren't first in the sidebar. */
/** Add the separator to blocks in the middle */
:host(:not(:last-of-type, :first-of-type))::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  margin-block-start: var(--pf-global--spacer--xl, 32px);
  background: var(--_border-color);
}

::slotted(*) {
  color: #fff;
  font-size: 0.875em;
  text-decoration: none;
  max-width: 650px;
}

::slotted(:is(h1, h2, h3, h4, h5)) {
  font-weight: 500 !important;
  font-size: 0.875em !important;
  margin-block-start: 0px !important;
  margin-block-end: 1em !important;
}

::slotted(:last-child) {
  margin-block-end: 0px !important;
}

.content ::slotted(*) {
  color: #d2d2d2;
  font-family: 'Red Hat Text', 'RedHatText', 'Overpass', Overpass, Arial, sans-serif;
  font-weight: 400;
}
