:host {
  display: block;
}

div {
  padding: 20px;
}

*[hidden] {
  display: none;
}

label {
    display: flex;
    align-items: center;
}
label > *:last-child {
    margin-left: 0.5em;
}
label > *:last-child:not([type=checkbox]) {
    flex: 1 0 auto;
}
rh-audio-player.purple {
    --rh-audio-player-range-thumb-color: #633EC5;
    --rh-audio-player-range-progress-color: #633EC5;
    --rh-audio-player-outline-color: #633EC5;
}
rh-audio-player[on="dark"].purple {
    --rh-audio-player-background-color: #633EC5;
    --rh-audio-player-focus-background-color: #7a59d5;
    --rh-audio-player-range-thumb-color: #F56D6D;
    --rh-audio-player-range-progress-color: #F56D6D;
}
