:host {
  display: block;
}

div {
  padding: 20px;
}

*[hidden] {
  display: none;
}

label {
  display: flex;
  align-items: center;
}
label > *:last-child {
  margin-left: 0.5em;
}
label > *:last-child:not([type=checkbox]) {
  flex: 1 0 auto;
}

rh-audio-player.purple {
  --rh-audio-player-background-color: #633EC5;
  --rh-audio-player-focus-background-color: #7a59d5;
  --rh-audio-player-border-color: #7c5ed1;
  --rh-audio-player-range-thumb-color: #F56D6D;
  --rh-audio-player-range-progress-color: #F56D6D;
}

rh-audio-player.purple,
rh-audio-player.purple-img {
  --rh-audio-player-range-thumb-color: #F56D6D;
  --rh-audio-player-range-progress-color: #F56D6D;
}

rh-audio-player.purple-img {
  --rh-audio-player-background-color: #000;
  --rh-audio-player-focus-background-color: var(--rh-color-surface-darkest, #151515);

}

rh-audio-player.purple-img::part(toolbar) {
  background-image: url(https://www.redhat.com/cms/managed-files/episode-1-art-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

rh-audio-player.cyan {
  --rh-audio-player-background-color: #00AEE9;
  --rh-audio-player-focus-background-color: #16acda;
  --rh-audio-player-border-color: #3393b3;
  --rh-audio-player-range-thumb-color: #FFE953;
  --rh-audio-player-range-progress-color: #FFE953;
}
