/* Masthead */
uxdot-masthead {
  container-type: inline-size;
  container-name: masthead;
  display: block;
  background-color: var(--rh-color-surface-darkest, #151515);
  color: var(--rh-color-text-primary-on-dark, #ffffff);
  position: fixed;
  inset: 0;
  height: max-content;
  z-index: 3;
}

uxdot-masthead:not(:defined) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--rh-space-lg, 16px);
  max-height: var(--uxdot-masthead-max-height, 72px);
  padding-inline: var(--rh-space-md, 8px);
  padding-block: var(--rh-space-lg, 16px);
}

uxdot-masthead:not(:defined) a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--rh-space-md, 8px);
  color: var(--rh-color-text-primary-on-dark, #ffffff);
  text-decoration: none;
}

uxdot-masthead:not(:defined) [slot="logo"] {
  margin-inline-start: var(--rh-space-xl, 24px);
}

uxdot-masthead:not(:defined) [slot="hamburger"] {
  display: none;
}

@container masthead (max-width: 567px) {
  uxdot-masthead a[slot="links"] > span {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

@container masthead (min-width: 992px) {
  uxdot-masthead:not(:defined) [slot="logo"] {
    margin-inline-start: var(--rh-space-xl, 24px);
  }

  uxdot-masthead:not(:defined) [slot="links"] {
    margin-inline-end: var(--rh-space-xl, 24px);
  }
}
