:host([on="dark"]) {
  --rh-card--BackgroundColor: var(--rh-color-surface-darkest, #151515);
  --rh-card--Color: var(--rh-color-white, #ffffff);
}

:host([on="dark"][alt]) {
  --rh-card--BackgroundColor: var(--rh-color-surface-dark, #3c3f42);
}

:host {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-self: stretch;
  border: var(--rh-card--Border, var(--rh-card--BorderWidth, 0) var(--rh-card--BorderStyle, solid) var(--rh-card--BorderColor, var(--pfe-theme--color--surface--border, #d2d2d2)));
  border: 1px dotted red;
  border-radius: var(--rh-card--BorderRadius, var(--pfe-theme--surface--border-radius, 3px));
  overflow: hidden;
  color: var(--rh-card--Color, var(--rh-color-surface-darkest, #151515));
  background-color: var(--rh-card--BackgroundColor, var(--pfe-context-background-color));
  background-position: var(--rh-card--BackgroundPosition, center center);
  background-image: var(--rh-card--BackgroundImage, none);
  --rh-card-header--BackgroundColor: var(--rh-color-surface-light, #f0f0f0);
}

:host([alt]) {
  --rh-card--BackgroundColor: var(--rh-color-surface-light, #f0f0f0);
  --rh-card-card--Color: var(--rh-color-surface-darkest, #151515);
}

:host([on="dark"]) {
  --rh-card-header--BackgroundColor: var(--rh-color-black-800, #212427);
  --rh-card-card--Color: var(--rh-color-white, #ffffff);
}

#header ::slotted(:is(h1, h2, h3, h4, h5, h6)) {
  font-weight: var(--rh-card-header-font-weight, 500);
  margin: unset;
}

:host([bar]) #header{
  background-color: var(--rh-card-header--BackgroundColor);
  text-transform: uppercase;
  color: var(--rh-card-card--Color, var(--rh-color-white, #ffffff));
  font-weight: var(--rh-font-weight-heading-regular, 300);
  padding-inline: var(--rh-space-xl, 24px);
  padding-block: var(--rh-space-lg, 16px);
  font-size: var(--rh-font-size-body-text-md, 1rem);
}
