:host {
  display: block;
  container-type: inline-size;
  height: max-content;
  width: 100%;
}

::slotted(*) {
  line-height: inherit;
}

::slotted(a) { color: var(--rh-color-interactive-primary-default); }
::slotted(a:hover) { color: var(--rh-color-interactive-primary-hover); }
::slotted(a:focus-within) { color: var(--rh-color-interactive-primary-focus); }
::slotted(a:active) { color: var(--rh-color-interactive-primary-active); }
::slotted(a:visited) { color: var(--rh-color-interactive-primary-visited-default); }
::slotted(a:visited:hover) { color: var(--rh-color-interactive-primary-visited-hover); }
::slotted(a:visited:focus-within) { color: var(--rh-color-interactive-primary-visited-focus); }
::slotted(a:visited:active) { color: var(--rh-color-interactive-primary-visited-active); }

#header,
#body,
#footer {
  margin-inline: var(--rh-space-xl, 24px);

  @container (min-width: 768px) { 
    margin-inline: var(--rh-space-2xl, 32px);
  }
}

#header,
#body {
  @container (min-width: 768px) {
    margin-block-start: var(--rh-space-2xl, 32px);
  }
}

#header {
  display: flex;
  flex-direction: column;
  gap: var(--rh-space-lg, 16px);
  box-sizing: border-box;
  font-family: var(--rh-card-heading-font-family, var(--rh-font-family-heading, RedHatDisplay, 'Red Hat Display', 'Noto Sans Arabic', 'Noto Sans Hebrew', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans Malayalam', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans Thai', Helvetica, Arial, sans-serif)) !important;
  font-size: var(--rh-card-heading-font-size, var(--rh-font-size-heading-sm, 1.5rem));
  font-weight:
    var(--rh-card-heading-font-weight,
      var(--rh-font-weight-body-text-medium, 500)) !important;
  margin-block-start: var(--rh-space-lg, 16px);
  background-color: var(--_header-bg, transparent);
}

#header ::slotted(:is(h1, h2, h3, h4, h5, h6)),
#body ::slotted(:is(h1, h2, h3, h4, h5, h6)) {
  font-family: var(--rh-font-family-heading, RedHatDisplay, 'Red Hat Display', 'Noto Sans Arabic', 'Noto Sans Hebrew', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans Malayalam', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans Thai', Helvetica, Arial, sans-serif);
  font-weight: inherit !important;
  line-height: var(--rh-line-height-heading, 1.3) !important;
}

#header.empty,
#image.empty,
#footer.empty,
#body.empty {
  display: none !important;
}

#header ::slotted(:is(h1, h2, h3, h4, h5, h6)) {
  font-size: inherit !important;
  margin: unset !important;
}

#body ::slotted(:is(h1, h2, h3, h4, h5, h6)) {
  font-size: var(--rh-card-heading-font-size, var(--rh-font-size-heading-sm, 1.5rem)) !important;
}

#image ::slotted(*) {
  display: block;
  max-width: 100%;
}

#body {
  margin-block: var(--rh-space-2xl, 32px) var(--rh-space-xl, 24px);

  &:has(+ .empty) {
    margin-block-end: var(--rh-space-2xl, 32px);
  }

  ::slotted(:not([slot]):first-child) {
    margin-block-start: 0;
  }

  ::slotted(:not([slot]):last-child) {
    margin-block-end: 0;
  }
}

#footer {
  display: flex;
  gap: 0.5em;
  margin-block: auto var(--rh-space-xl, 24px);

  @container (min-width: 768px) {
    margin-block-end: var(--rh-space-2xl, 32px);
  }
}

#container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  overflow: hidden;
  border-radius: var(--_border-radius, var(--rh-border-width-lg, 3px));
  font-family: var(--rh-font-family-body-text, RedHatText, 'Red Hat Text', 'Noto Sans Arabic', 'Noto Sans Hebrew', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans Malayalam', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans Thai', Helvetica, Arial, sans-serif) !important;
  line-height: var(--rh-line-height-body-text, 1.5);
  border-style: solid;
  border-width: var(--rh-border-width-sm, 1px);
  border-color: var(--rh-color-border-subtle);
  width: 100%;
  height: 100%;
  background-color: var(--rh-color-surface);
  color: var(--rh-color-text-primary);

  &.on {
    &:is(.light, .lighter, .lightest) {
      --_header-bg: var(--rh-card-header-background-on-light, transparent);
    }

    &:is(.dark, .darker, .darkest) {
      --_header-bg: var(--rh-card-header-background-on-dark, transparent);
    }

    &:is(.light, .palette-lightest) {
      --rh-color-surface: var(--rh-color-surface-lightest, #ffffff);
    }

    &:is(.dark, .palette-darkest) {
      --rh-color-surface: var(--rh-color-surface-darkest, #151515);
    }

    &.palette-light {
      --rh-color-surface: var(--rh-color-surface-light, #e0e0e0);
    }

    &.palette-lighter {
      --rh-color-surface: var(--rh-color-surface-lighter, #f2f2f2);
    }

    &.palette-dark {
      --rh-color-surface: var(--rh-color-surface-dark, #383838);
    }

    &.palette-darker {
      --rh-color-surface: var(--rh-color-surface-darker, #1f1f1f);
    }
  }

  &.promo {
    --_promo-heading-font-weight:
      var(--rh-card-heading-font-weight,
        var(--rh-font-weight-body-text-medium, 500));
    --_promo-heading-size: var(--rh-card-heading-font-size, var(--rh-font-size-heading-xs, 1.25rem));
    --_promo-paragraph-font-size: var(--rh-font-size-body-text-lg, 1.125rem);
    --_promo-paragraph-margin-block-end: var(--rh-space-lg, 16px);
    --_promo-standard-inline-padding: var(--rh-space-2xl, 32px);

    height: auto;

    @container (min-width: 768px) {
      align-items: center;
      display: grid;
      grid-template-columns: 2fr 1fr;
      min-height: 250px;
    }

    &:not(.standard, .has-image) {
      grid-template-columns: auto;
    }

    #body {
      margin: var(--rh-space-2xl, 32px);

      @container (min-width: 768px) {
        margin: var(--rh-space-3xl, 48px);
        max-width: 70ch;
      }
    }

    #header {
      & ::slotted(*) {
        font-family: var(--rh-card-heading-font-family, var(--rh-font-family-heading, RedHatDisplay, 'Red Hat Display', 'Noto Sans Arabic', 'Noto Sans Hebrew', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans Malayalam', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans Thai', Helvetica, Arial, sans-serif)) !important;
        font-size: var(--_promo-heading-size) !important;
        font-weight: var(--_promo-heading-font-weight) !important;
        margin-block: 0 var(--_promo-heading-margin-block-end) !important;
      }

      @container (min-width: 768px) {
        & ::slotted(*) {
          --_promo-heading-size: var(--rh-card-heading-font-size, var(--rh-font-size-heading-sm, 1.5rem));
        }
      }
    }

    #image {
      @container (min-width: 768px) {
        justify-self: end;
      }
    }

    &.has-image {
      #body {
        order: -5;
      }
    }

    &.has-header {
      #header {
        margin: 0;
        margin-block-end: var(--rh-space-lg, 16px);
      }
    }

    &.has-footer {
      #footer {
        margin-block: var(--rh-space-xl, 24px) 0;
        margin-inline: 0;
      }
    }

    &:is(.has-image, .has-header) {
      #body {
        & ::slotted(p) {
          font-size: var(--_promo-paragraph-font-size) !important;
          margin-block-end: var(--_promo-paragraph-margin-block-end) !important;
        }
      }
    }

    &.standard {
      display: flex;
      padding: var(--_promo-standard-inline-padding);
      width: auto;

      #body {
        display: contents;

        & ::slotted(:not([slot])) {
          font-family: var(--rh-card-heading-font-family, var(--rh-font-family-heading, RedHatDisplay, 'Red Hat Display', 'Noto Sans Arabic', 'Noto Sans Hebrew', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans Malayalam', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans Thai', Helvetica, Arial, sans-serif)) !important;
          font-size: var(--rh-font-size-body-text-xl, 1.25rem) !important;
          font-weight: var(--rh-font-weight-body-text-medium, 500);
          line-height: var(--rh-line-height-heading, 1.3) !important;
        }
      }

      &.dark {
        background-color: var(--rh-color-surface-darker, #1f1f1f);
      }

      @container (min-width: 768px) {
        --_promo-standard-inline-padding: var(--rh-space-3xl, 48px);

        column-gap: var(--rh-space-xl, 24px);
        flex-direction: row;
        justify-content: space-between;
        min-height: auto;

        #footer {
          flex: 0 0 auto;
          margin-block: 0;
        }
      }
    }

    &.full-width {
      border-color: transparent;
      padding-block: var(--rh-space-4xl, 64px);
      padding-inline: var(--rh-space-lg, 16px);
      width: auto;

      #body {
        margin: 0;

        & ::slotted(p) {
          --_promo-paragraph-font-size: var(--rh-font-size-body-text-md, 1rem);

          @container (min-width: 768px) {
            --_promo-paragraph-font-size: var(--rh-font-size-body-text-lg, 1.125rem);
          }
        }
      }

      #header {
        & ::slotted(*) {
          --_promo-heading-size:
            var(--rh-card-heading-font-size,
              var(--rh-font-size-body-text-2xl, 1.5rem));

          @container (min-width: 768px) {
            --_promo-heading-size:
              var(--rh-card-heading-font-size,
                var(--rh-font-size-heading-md, 1.75rem));
          }
        }
      }

      &.has-image {
        #footer {
          margin-block-end: var(--rh-space-2xl, 32px);

          @container (min-width: 768px) {
            margin-block-end: 0;
          }
        }
      }

      @container (min-width: 768px) {
        column-gap: var(--rh-space-2xl, 32px);
        min-height: auto;
        padding-inline: var(--rh-space-4xl, 64px);
      }

      @container (min-width: 1200px) {
        padding-inline: var(--rh-space-7xl, 128px);
      }
    }
  }
}
