#container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  overflow: hidden;
  
  border:
    var(
      --_rh-card--Border,
      var(--_rh-card--BorderWidth, 1px)
      var(--_rh-card--BorderStyle, solid)
      var(
        --_rh-card--BorderColor,
        var(--rh-color-border-subtle-on-light, #d2d2d2)
      )
    );
  background-color: var(--_rh-card--BackgroundColor, var(--rh-color-white, #ffffff));
  background-image: var(--_rh-card--BackgroundImage, none);
  background-position: var(--_rh-card--BackgroundPosition, center center);
  border-radius: var(--_rh-card--BorderRadius, var(--rh-border-width-lg, 3px));
  color: var(--_rh-card--Color, var(--rh-color-surface-darkest, #151515));
  font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif);

  --_rh-card--header--BackgroundColor: var(--rh-color-surface-light, #f0f0f0);
}

#container.dark {
  --_rh-card--BackgroundColor: var(--rh-color-surface-darkest, #151515);
  --_rh-card--Color: var(--rh-color-white, #ffffff);
  --_rh-card--header--BackgroundColor: var(--rh-color-black-800, #212427);
  --_rh-card--card--Color: var(--rh-color-white, #ffffff);
  --_rh-card--BorderColor: var(--rh-color-border-subtle-on-dark, #6a6e73);
}

:host([alt]) #container.dark {
  --_rh-card--BackgroundColor: var(--rh-color-surface-dark, #3c3f42);
}

:host([alt]) {
  --_rh-card--BackgroundColor: var(--rh-color-surface-light, #f0f0f0);
  --_rh-card--card--Color: var(--rh-color-surface-darkest, #151515);
}

:host([bar]) #header {
  background-color: var(--_rh-card--header--BackgroundColor);
  text-transform: uppercase;
  font-weight: var(--rh-font-weight-heading-regular, 300);
  padding-inline: var(--rh-space-xl, 24px);
  padding-block: var(--rh-space-lg, 16px);
  font-size: var(--rh-font-size-body-text-md, 1rem);
}

:host([bar]) #container.dark #header {
  color: var(--_rh-card--card--Color, var(--rh-color-white, #ffffff));
}

#body {
  padding: var(--rh-space-2xl, 32px);
}

#footer {
  padding: var(--rh-space-2xl, 32px);
}

.center #body,
.center #footer {
  text-align: center;
  justify-content: center;
}

.end #body,
.end #footer {
  text-align: end;
  justify-content: flex-end;
}

#header ::slotted(:is(h1, h2, h3, h4, h5, h6)) {
  margin: unset;
  font-weight: var(--_rh-card--header-font-weight, 500);
}
