:host {
  --context: var(--rh-card--context, var(--pfe-theme--color--surface--base--context, light));
  --pfe-theme--color--surface--lightest: #ffffff;
  --pfe-theme--color--surface--lighter: #ececec;
  --pfe-theme--color--surface--base: #f0f0f0;
  --pfe-theme--color--surface--darker: #3c3f42;
  --pfe-theme--color--surface--darkest: #151515;
  --pfe-theme--color--surface--accent: #004080;
  --pfe-theme--color--surface--complement: #002952;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-self: stretch;
  padding: var(--rh-card--Padding, var(--rh-card--PaddingTop, calc(var(--pfe-theme--container-spacer, 1rem) * 2)) var(--rh-card--PaddingRight, calc(var(--pfe-theme--container-spacer, 1rem) * 2)) var(--rh-card--PaddingBottom, calc(var(--pfe-theme--container-spacer, 1rem) * 2)) var(--rh-card--PaddingLeft, calc(var(--pfe-theme--container-spacer, 1rem) * 2)));
  border: var(--rh-card--Border, var(--rh-card--BorderWidth, 0) var(--rh-card--BorderStyle, solid) var(--rh-card--BorderColor, var(--pfe-theme--color--surface--border, #d2d2d2)));
  border-radius: var(--rh-card--BorderRadius, var(--pfe-theme--surface--border-radius, 3px));
  overflow: hidden;
  background-color: var(--rh-card--BackgroundColor, var(--pfe-context-background-color));
  background-position: var(--rh-card--BackgroundPosition, center center);
  background-image: var(--rh-card--BackgroundImage, none);
  color: var(--pfe-broadcasted--text, #3c3f42);
}
@media print {
  :host {
    background-color: white !important;
    background-image: none !important;
    box-shadow: none !important;
  }
}
@media print {
  :host {
    border-radius: 3px;
    border: 1px solid #d2d2d2;
  }
}

/* @deprecated */
:host([color]),
:host([color-palette]),
:host([on]) {
  background-color: var(--rh-card--BackgroundColor, var(--pfe-context-background-color));
}

:host([size=small]) {
  --rh-card--PaddingTop: var(--pfe-theme--container-spacer, 1rem);
  --rh-card--PaddingRight: var(--pfe-theme--container-spacer, 1rem);
  --rh-card--PaddingBottom: var(--pfe-theme--container-spacer, 1rem);
  --rh-card--PaddingLeft: var(--pfe-theme--container-spacer, 1rem);
}

:host([border]:not([border=false])) {
  --rh-card--BorderWidth: 1px;
}

.pfe-card__header ::slotted([overflow~=top]), .pfe-card__body ::slotted([overflow~=top]), .pfe-card__footer ::slotted([overflow~=top]) {
  z-index: 1;
  margin-top: -2rem;
  margin-top: calc(-1 * var(--rh-card--PaddingTop, calc(var(--pfe-theme--container-spacer, 1rem) * 2))) !important;
}
:host(.has-header) .pfe-card__header ::slotted([overflow~=top]), :host(.has-header) .pfe-card__body ::slotted([overflow~=top]), :host(.has-header) .pfe-card__footer ::slotted([overflow~=top]) {
  padding-top: var(--rh-card--spacing, var(--pfe-theme--container-spacer, 1rem));
}
.pfe-card__header ::slotted([overflow~=right]), .pfe-card__body ::slotted([overflow~=right]), .pfe-card__footer ::slotted([overflow~=right]) {
  margin-right: -2rem;
  margin-right: calc(-1 * var(--rh-card--PaddingRight, calc(var(--pfe-theme--container-spacer, 1rem) * 2)));
}
.pfe-card__header ::slotted([overflow~=bottom]), .pfe-card__body ::slotted([overflow~=bottom]), .pfe-card__footer ::slotted([overflow~=bottom]) {
  margin-bottom: -2rem;
  margin-bottom: calc(-1 * (var(--rh-card--PaddingBottom, calc(var(--pfe-theme--container-spacer, 1rem) * 2)) + var(--rh-card--BorderRadius, var(--pfe-theme--surface--border-radius, 3px))));
  align-self: flex-end;
}
.pfe-card__header ::slotted([overflow~=left]), .pfe-card__body ::slotted([overflow~=left]), .pfe-card__footer ::slotted([overflow~=left]) {
  margin-left: -2rem;
  margin-left: calc(-1 * var(--rh-card--PaddingLeft, calc(var(--pfe-theme--container-spacer, 1rem) * 2)));
}
.pfe-card__header ::slotted(img), .pfe-card__body ::slotted(img), .pfe-card__footer ::slotted(img) {
  max-width: 100% !important;
  align-self: flex-start;
  object-fit: cover;
}
.pfe-card__header ::slotted(img:not[overflow]), .pfe-card__body ::slotted(img:not[overflow]), .pfe-card__footer ::slotted(img:not[overflow]) {
  align-self: flex-start;
}
.pfe-card__header ::slotted(img[overflow]), .pfe-card__body ::slotted(img[overflow]), .pfe-card__footer ::slotted(img[overflow]) {
  max-width: unset !important;
}
.pfe-card__header ::slotted(img[overflow~=right]), .pfe-card__body ::slotted(img[overflow~=right]), .pfe-card__footer ::slotted(img[overflow~=right]) {
  width: calc(100% + 2rem) !important;
  width: calc(100% + var(--rh-card--PaddingRight, calc(var(--pfe-theme--container-spacer, 1rem) * 2))) !important;
}
.pfe-card__header ::slotted(img[overflow~=left]), .pfe-card__body ::slotted(img[overflow~=left]), .pfe-card__footer ::slotted(img[overflow~=left]) {
  width: calc(100% + 2rem) !important;
  width: calc(100% + var(--rh-card--PaddingLeft, calc(var(--pfe-theme--container-spacer, 1rem) * 2))) !important;
}
.pfe-card__header ::slotted(img[overflow~=right][overflow~=left]), .pfe-card__body ::slotted(img[overflow~=right][overflow~=left]), .pfe-card__footer ::slotted(img[overflow~=right][overflow~=left]) {
  width: calc(100% + 4rem) !important;
  width: calc(100% + var(--rh-card--PaddingRight, calc(var(--pfe-theme--container-spacer, 1rem) * 2)) + var(--rh-card--PaddingLeft, calc(var(--pfe-theme--container-spacer, 1rem) * 2))) !important;
}
.pfe-card__header {
  z-index: 2;
  background-color: var(--pfe-card__header--BackgroundColor, rgba(0, 0, 0, var(--pfe-theme--opacity, 0.09)));
  color: var(--pfe-card__header--Color, var(--pfe-broadcasted--text, #3c3f42));
  margin-top: calc(var(--rh-card--PaddingTop, calc(var(--pfe-theme--container-spacer, 1rem) * 2)) * -1) !important;
  margin-right: calc(var(--rh-card--PaddingRight, calc(var(--pfe-theme--container-spacer, 1rem) * 2)) * -1);
  margin-bottom: var(--rh-card--spacing--vertical, var(--rh-card--spacing, var(--pfe-theme--container-spacer, 1rem)));
  margin-left: calc(var(--rh-card--PaddingLeft, calc(var(--pfe-theme--container-spacer, 1rem) * 2)) * -1);
  padding-top: var(--rh-card--spacing--vertical, var(--rh-card--spacing, var(--pfe-theme--container-spacer, 1rem)));
  padding-right: var(--rh-card--PaddingRight, calc(var(--pfe-theme--container-spacer, 1rem) * 2));
  padding-left: var(--rh-card--PaddingLeft, calc(var(--pfe-theme--container-spacer, 1rem) * 2));
  padding-bottom: var(--rh-card--spacing--vertical, var(--rh-card--spacing, var(--pfe-theme--container-spacer, 1rem)));
}
:host([color-palette^=dark]) .pfe-card__header {
  background-color: var(--pfe-card__header--BackgroundColor--dark, rgba(255, 255, 255, var(--pfe-theme--opacity, 0.09)));
}
.pfe-card__header:not(.has-body, .has-footer) {
  margin-bottom: var(--rh-card--PaddingBottom, calc(var(--pfe-theme--container-spacer, 1rem) * 2));
}
.pfe-card__header ::slotted([overflow~=top]) {
  --rh-card__overflow--MarginTop: calc(var(--rh-card--PaddingTop, calc(var(--pfe-theme--container-spacer, 1rem) * 2)) * -1);
}
.pfe-card__header:not(.has-header) {
  display: none;
}
.pfe-card__header.has-body, .pfe-card__header.has-footer ::slotted([overflow~=bottom]) {
  --rh-card__overflow--MarginBottom: calc(var(--rh-card--spacing--vertical, var(--rh-card--spacing, var(--pfe-theme--container-spacer, 1rem))) * -1);
}
.pfe-card__header ::slotted([overflow~=bottom]) {
  --rh-card__overflow--MarginBottom: calc(var(--rh-card--PaddingBottom, calc(var(--pfe-theme--container-spacer, 1rem) * 2)) * -1);
}
.pfe-card__header ::slotted(h1) {
  margin-bottom: 0;
}
.pfe-card__header ::slotted(h2) {
  margin-bottom: 0;
}
.pfe-card__header ::slotted(h3) {
  margin-bottom: 0;
}
.pfe-card__header ::slotted(h4) {
  margin-bottom: 0;
}
.pfe-card__header ::slotted(h5) {
  margin-bottom: 0;
}
.pfe-card__header ::slotted(h6) {
  margin-bottom: 0;
}
.pfe-card__body:not(.has-header) ::slotted([overflow~=top]) {
  --rh-card__overflow--MarginTop: calc(var(--rh-card--PaddingTop, calc(var(--pfe-theme--container-spacer, 1rem) * 2)) * -1);
}
.pfe-card__body ::slotted([overflow~=top]) {
  z-index: 1;
  --rh-card__overflow--MarginTop: calc(var(--rh-card--spacing--vertical, var(--rh-card--spacing, var(--pfe-theme--container-spacer, 1rem))) * -1);
}
.pfe-card__body ::slotted([overflow~=bottom]) {
  --rh-card__overflow--MarginBottom: calc(var(--rh-card--PaddingBottom, calc(var(--pfe-theme--container-spacer, 1rem) * 2)) * -1);
}
.pfe-card__body.has-footer ::slotted([overflow~=bottom]) {
  --rh-card__overflow--MarginBottom: calc(var(--rh-card--spacing--vertical, var(--rh-card--spacing, var(--pfe-theme--container-spacer, 1rem))) * -1);
}
.pfe-card__body:is(.has-header) ::slotted(img[overflow~=top]) {
  padding-top: var(--rh-card--spacing, var(--pfe-theme--container-spacer, 1rem));
}
.pfe-card__body:not(.has-footer) {
  margin-bottom: 0;
}
.pfe-card__footer {
  margin-top: auto;
  display: flex;
  flex-direction: var(--pfe-card__footer--Row, row);
  flex-wrap: var(--pfe-card__footer--Wrap, wrap);
  align-items: var(--pfe-card__footer--AlignItems, baseline);
}
.pfe-card__footer ::slotted([overflow~=bottom]) {
  --rh-card__overflow--MarginBottom: calc(var(--rh-card--PaddingBottom, calc(var(--pfe-theme--container-spacer, 1rem) * 2)) * -1);
}
.pfe-card__footer:not(.has-footer) {
  display: none;
}
.pfe-card__header, .pfe-card__body {
  margin-bottom: var(--rh-card--spacing--vertical, var(--rh-card--spacing, var(--pfe-theme--container-spacer, 1rem)));
}
.pfe-card__header ::slotted(p:first-child), .pfe-card__body ::slotted(p:first-child) {
  margin-top: 0;
}
.pfe-card__header ::slotted(h1:first-child), .pfe-card__body ::slotted(h1:first-child) {
  margin-top: 0;
}
.pfe-card__header ::slotted(h2:first-child), .pfe-card__body ::slotted(h2:first-child) {
  margin-top: 0;
}
.pfe-card__header ::slotted(h3:first-child), .pfe-card__body ::slotted(h3:first-child) {
  margin-top: 0;
}
.pfe-card__header ::slotted(h4:first-child), .pfe-card__body ::slotted(h4:first-child) {
  margin-top: 0;
}
.pfe-card__header ::slotted(h5:first-child), .pfe-card__body ::slotted(h5:first-child) {
  margin-top: 0;
}
.pfe-card__header ::slotted(h6:first-child), .pfe-card__body ::slotted(h6:first-child) {
  margin-top: 0;
}

#header ::slotted(:is(h1, h2, h3, h4, h5, h6)) {
  font-weight: var(--rh-card-header-font-weight, 500);
}