:root {
  display: flex;
  flex-direction: column;
}

article {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

[part="header"] {
  display: flex;
  flex-direction: row;
  align-items: center;
}

[part="body"] ::slotted(:not([slot]):first-of-type) {
  margin-block-start: 0;
}

[part="body"] ::slotted(:not([slot]):last-of-type) {
  margin-block-end: 0;
}

[part="footer"] {
  display: flex;
  gap: 0.5em;
  inset-block-end: 0;
}

.empty {
  display: none;
}

::slotted(*) {
  font-family: inherit !important;
  line-height: inherit !important;
}

::slotted(:is(h1, h2, h3, h4, h5, h6)) {
  font-size: inherit !important;
}

#container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  overflow: hidden;
  border:
    var(
      --_border,
      var(--_border-width, 1px)
      var(--_border-style, solid)
      var(
        --_border-color,
        var(--rh-color-border-subtle-on-light, #c7c7c7)
      )
    );
  background-color: var(--_background-color, var(--rh-color-surface-lightest, #ffffff));
  background-image: var(--_background-image, none);
  background-position: var(--_background-position, center center);
  border-radius: var(--_border-radius, var(--rh-border-width-lg, 3px));
  color: var(--_color, var(--rh-color-text-primary-on-light, #151515));
  font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif);
  line-height: var(--rh-line-height-body-text, 1.5);

  --_header-background-color: var(--rh-color-surface-light, #e0e0e0);
}

#container.dark {
  --_background-color: var(--rh-color-surface-darkest, #151515);
  --_color: var(--rh-color-text-primary-on-dark, #ffffff);
  --_header-background-color: var(--rh-color-surface-dark, #383838);
  --_header-color: var(--rh-color-white, #ffffff);
  --_border-color: var(--rh-color-border-subtle-on-dark, #707070);
}

#header {
  box-sizing: border-box;
  max-height: 200px;
  overflow: hidden;
  font-size: var(--header-font-size, var(--rh-font-size-heading-sm, 1.5rem));
  padding-block: var(--rh-space-lg, 16px);
  padding-inline: var(--rh-space-xl, 24px);
}

:host([color-palette~="dark"]) #container.dark {
  --_background-color: var(--rh-color-surface-dark, #383838);
}

:host([color-palette~="light"]) {
  --_background-color: var(--rh-color-surface-light, #e0e0e0);
  --_header-color: var(--rh-color-text-primary-on-light, #151515);
}

#body {
  padding: var(--rh-space-xl, 24px);
}

#footer {
  padding: var(--rh-space-xl, 24px);
}

/* (min-width: --rh-breakpoint-sm) */
@media screen and (min-width: 768px) { 
  #body {
    padding: var(--rh-space-2xl, 32px);
  }
  
  #footer {
    padding: var(--rh-space-2xl, 32px);
  }
}

.center #body,
.center #footer {
  text-align: center;
  justify-content: center;
}

.end #body,
.end #footer {
  text-align: end;
  justify-content: flex-end;
}

#header ::slotted(:is(h1, h2, h3, h4, h5, h6)) {
  margin: unset;
  font-weight: var(--rh-font-weight-body-text-medium, 500);
}
