---
layout: layouts/base.njk
importElements:
  - rh-cta
  - rh-footer
  - rh-alert
  - rh-subnav
---

<link rel="stylesheet" href="{{ '/styles/page.css' | url }}">

<script type="module" src="{{ '/assets/elements/uxdot-feedback.js' | url }}"></script>
{% if tokenSearch %}
<script type="module" src="{{ '/assets/elements/uxdot-search.js' | url }}"></script>
<script type="module" src="{{ '/assets/tokens/tokens.js' | url }}"></script>
{% endif %}


{% include 'component/masthead.njk' %}
{% include 'component/sidenav.njk' %}
<main>
  <article>
    <uxdot-header>
      <h1 id="{{ title | slug }}" class="page-title">{{ title }}</h1>

      {% if tokenSearch %}
        <form slot="search" id="search-tokens" action="/tokens/search">
          <uxdot-search id="search-input"
            name="search"
            aria-label="Search for tokens"
            placeholder="Enter a token name"></uxdot-search>
        </form>
      {% endif %}

      {% if subnav.collection %}
        <rh-subnav slot="subnav">{% for tab in collections[subnav.collection] %}
          <a {{ 'active' if tab.url == page.url }} href="{{ tab.url }}">
            {{ tab.data.title }}
          </a>{% endfor %}
        </rh-subnav>
      {% endif %}
    </uxdot-header>
    
    {% if hasToc %}
      <aside>
        {{ content | toc | safe }}
      </aside>
    {% endif %}
    
    <div class="container">
      {{ content | safe }}
    </div>

  </article>
  {% include "component/back-to-top.njk" %}
</main>
{% include 'component/footer.njk' %}
