---
layout: layouts/base.njk
importElements:
  - rh-cta
  - rh-footer
  - rh-alert
  - rh-subnav
---

<script type="module" src="{{ '/assets/elements/uxdot-feedback.js' | url }}"></script>

<style>
  main {
    container-type: inline-size;
    container-name: main;
  }

  article {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header" 
      "toc"
      "content";
  }

  uxdot-header {
    grid-area: header;
  }
  
  .container {
    grid-area: content;
    container-type: inline-size;
    container-name: container;
  }

  .container h2,
  uxdot-copy-permalink h2 {
    font-size: var(--rh-font-size-heading-md, 1.75rem) !important;
  }

  .container h3,
  uxdot-copy-permalink h3 {
    font-size: var(--rh-font-size-heading-sm, 1.5rem) !important;
  }

  .container h4,
  uxdot-copy-permalink h4 {
    font-size: var(--rh-font-size-heading-xs, 1.25rem) !important;
  }

  .container h5,
  uxdot-copy-permalink h5 {
    font-size: var(--rh-font-size-heading-xs, 1.125rem) !important;
  }

  .container h6,
  uxdot-copy-permalink h6 {
    font-size: var(--rh-font-size-heading-xs, 1rem) !important;
  }  

  .container :is(h2, h3, h3, h4, h5, h6) {
    font-weight: var(--rh-font-weight-heading-medium, 500);
    margin-block: 1em;
  }

  aside {
    grid-area: toc;
    padding-inline: var(--rh-space-lg, 16px);
  }

  @media (min-width: 567px) {
    aside {
      padding-inline: var(--rh-space-2xl, 32px);
    }
  }

  @media (min-width: 768px) {
    aside {
      padding-inline: var(--rh-space-3xl, 48px);
    }
  }

  @media (min-width: 992px) {
    aside {
      padding-inline: var(--rh-space-5xl, 80px);
    }
  }  

  /* this follows the @media queries so that it can override the aside */
  @container main (min-width: 1200px) {
    article {
      grid-template-columns: minmax(992px, 1300px) minmax(300px, 1fr);
      grid-template-areas: 
        "header header" 
        "content toc";
    }

    aside {
      padding-inline: 0;
    }
  }
</style>

{% include 'component/masthead.njk' %}
{% include 'component/sidenav.njk' %}
<main>
  <article>
    <uxdot-header>
      <h1 id="{{ title | slug }}" class="page-title">{{ title }}</h1>

      {% if tokenSearch %}
        <form slot="search" id="search-tokens" action="/tokens/search">
          <uxdot-search id="search-input"
            name="search"
            aria-label="Search for tokens"
            placeholder="Enter a token name"></uxdot-search>
        </form>
      {% endif %}

      {% if subnav.collection %}
        <rh-subnav slot="subnav">{% for tab in collections[subnav.collection] %}
          <a {{ 'active' if tab.url == page.url }} href="{{ tab.url }}">
            {{ tab.data.title }}
          </a>{% endfor %}
        </rh-subnav>
      {% endif %}
    </uxdot-header>
    
    {% if hasToc %}
      <aside>
        {{ content | toc | safe }}
      </aside>
    {% endif %}
    
    <div class="container">
      {{ content | safe }}
    </div>

  </article>
  {% include "component/back-to-top.njk" %}
</main>
{% include 'component/footer.njk' %}
