---
layout: layouts/base.njk
---
{%- set tagsForThisPageToc = tocTags or ['h2'] -%}
{%- set table = content | toc(tags=tagsForThisPageToc) -%}
<link rel="stylesheet"
      href="/styles/pages/backpage.css"
      data-helmet>

<link rel="stylesheet"
      href="/assets/packages/@uxdot/elements/uxdot-toc-lightdom.css"
      data-helmet>

<script type="module" data-helmet>
  // although we load these ssr support modules elsewhere, we still
  // need them here to ensure no double-rendering on webkit
  import '/assets/javascript/ssr-support.js';
  import '@uxdot/elements/uxdot-toc.js';
</script>

{% include 'partials/component/masthead.njk' %}
{% include 'partials/component/sidenav.njk' %}
<rh-surface id="main"
            role="main"
            color-palette="lightest">
  <article class="has-toc">
  {% include 'partials/component/header.njk' %}
  {% if table.length > 0 %}
  <div class="aside">
    <uxdot-toc summary="On this page">
      {{ table | safe }}
    </uxdot-toc>
  </div>
  {% endif %}
  <div class="container">
    {{ content | safe }}
    {% include "partials/component/edit-this-page.njk" %}
  </div>
  </article>
  {% include "partials/component/back-to-top.njk" %}
</rh-surface>
{% include 'partials/component/footer.njk' %}
