---
layout: layouts/base.njk
---

<script type="module" data-helmet>
  import '@rhds/elements/rh-tag/rh-tag.js';
  import '@uxdot/elements/uxdot-header.js';
</script>

<style data-helmet>
  #search-tokens {
    flex-basis: 50%;
    align-items: center;
    display: flex;
    margin-top: 0.5rem;
  }

  #search-input {
    flex: 1 0 auto;
  }

  .results-section {
    margin-block-end: var(--rh-space-4xl) !important;
  }

  #results-list {
    margin-left: 0;
    padding: 0 0 0 1.5rem;
  }

  #results-list li {
    margin-bottom: 1rem;
    padding-left: 1rem;
    list-style-position: outside;
  }

  #results-list li::marker {
    color: var(--rh-color-gray-50);
  }

  #collections {
    display: grid;
    gap: var(--rh-space-lg);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .token-category::part(container) {
    text-transform: capitalize;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  rh-cta.token-category:not([hidden]) {
    display: flex;
    width: 100%;
    max-width: 100%;
  }
</style>

{% include 'partials/component/masthead.njk' %}
{% include 'partials/component/sidenav.njk' %}

<rh-surface id="main"
            role="main"
            color-palette="lightest">
  <uxdot-header>
    <h1 id="{{ title | slugify }}" class="page-title">{{ title }}</h1>
    <form id="search-tokens" action="/tokens/search">
      <uxdot-search id="search-input"
        name="search"
        aria-label="Search for tokens"
        placeholder="Enter a token name"></uxdot-search>
    </form>
  </uxdot-header>

  <div class="container">
    {{ content | safe }}
  </div>

  {% include "partials/component/back-to-top.njk" %}
</rh-surface>

{% include 'partials/component/footer.njk' %}

<script type="module" src="/assets/javascript/tokens.js"></script>
