*,
*:after,
*:before {
  box-sizing: border-box;
}

:host {
  --_color-stop-start: var(--rh-color-brand-red-light, #f56e6e);
  --_color-stop-middle: var(--rh-color-purple-40, #876fd4);
  --_color-stop-end: var(--rh-color-purple-60, #3d2785);
  --_linear-gradient:
    var(--_color-stop-start),
    var(--_color-stop-middle),
    var(--_color-stop-end);
  --_conic-gradient:
    var(--_linear-gradient),
    var(--_color-stop-middle),
    var(--_color-stop-start);
  --_gradient-direction: -90deg;
  --_gradient-ring:
    linear-gradient(light-dark(var(--rh-color-surface-lighter, #f2f2f2),
      var(--rh-color-surface-darker, #1f1f1f)) 0 0) padding-box,
    conic-gradient(from var(--_gradient-direction), var(--_conic-gradient)) border-box;
  --_navbar-height: 83px;
  --_nav-container-z-index: -1;

  display: block;
  container: navigation-primary / inline-size;
  position: relative;

  /** The initial z-index for the primary navigation element, default is 102. */
  /* stylelint-disable-next-line rhds/no-unknown-token-name */
  z-index: var(--rh-navigation-primary-z-index, 102);
  font-family: var(--rh-font-family-body-text, RedHatText, 'Red Hat Text', Helvetica, Arial, sans-serif) !important;
}

:host([color-palette^='light']) {
  color-scheme: only light;
}

:host([color-palette^='dark']) {
  color-scheme: only dark;
}

[hidden] {
  display: none !important;
}

.visually-hidden {
  position: absolute !important;
  block-size: 1px;
  inline-size: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
  padding: 0 !important;
  margin: -1px !important;
}

#bar {
  position: relative;
  display: grid;
  grid-template-areas: 'logo hamburger secondary-links';
  grid-template-columns: auto auto 1fr;
  grid-template-rows: var(--_navbar-height);
  background-color:
    light-dark(var(--rh-color-surface-lightest, #ffffff),
      var(--rh-color-surface-darkest, #151515));
  color: var(--rh-color-text-primary);
  inline-size: 100%;
  max-block-size: var(--_navbar-height);
  box-shadow: 0 2px 4px 0 var(--_box-shadow-color);
  padding-inline: var(--rh-space-lg, 16px) var(--rh-space-md, 8px);

  @container navigation-primary (min-width: 576px) {
    padding-inline: var(--rh-space-2xl, 32px) var(--rh-space-lg, 16px);
  }
}

#logo {
  grid-area: logo;
  display: flex;
  flex-direction: column;
  margin-inline-end: var(--rh-space-md, 8px);
  border-block-end: none;

  @container navigation-primary (min-width: 576px) {
    margin-inline-end: var(--rh-space-lg, 16px);
    border-block-end-color: transparent;
  }

  & svg {
    block-size: 18px;
    inline-size: 24px;

    @container navigation-primary (min-width: 576px) {
      block-size: 24px;
      inline-size: 32px;
    }

    @container navigation-primary (min-width: 1440px) {
      block-size: 30px;
      inline-size: 127px;
    }
  }

  & ::slotted(a),
  & a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    block-size: -webkit-fill-available;
    block-size: -moz-available;
    block-size: fill-available;
    block-size: 100%;
    line-height: 0;
  }

  & ::slotted(a:focus-visible),
  & ::slotted(:hover:focus-visible),
  & a:is(:focus-visible, :hover:focus-visible) {
    outline-offset: -2px;
    outline:
      var(--rh-border-width-md, 2px)
      solid
      var(--rh-color-interactive-primary-default);
    border-radius: var(--rh-border-radius-default, 3px);
  }
}

#sub-domain {
  display: none;
}

#hamburger {
  display: flex;
  grid-area: hamburger;
  block-size: 100%;
  place-items: center;
  align-content: center;

  @container navigation-primary (min-width: 1200px) {
    grid-area: unset;
  }

  & summary {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: var(--rh-space-md, 8px);
    block-size: 100%;
    inline-size: max-content;
    align-items: center;
    padding: var(--rh-space-md, 8px) var(--rh-space-lg, 16px);
    border: var(--rh-border-width-sm, 1px) solid transparent;
    border-radius: 5px; /* non-standard value for border radius */
    margin-inline-start: 0;
    z-index: 1;

    @container navigation-primary (min-width: 1200px) {
      display: none;
    }

    &:after {
      content: '';
      position: absolute;
      inset: 0;
      border-block-end: 4px solid transparent;
    }

    &:is(:hover, :focus-visible) {
      &:after {
        border-block-end-color: var(--rh-color-border-subtle);
      }
    }

    &:is(:active) {
      &:after {
        border-block-end-color: var(--rh-color-accent-brand);
      }
    }

    &:is(:focus-visible, :hover:focus-visible) {
      outline:
        var(--rh-border-width-md, 2px)
        solid
        var(--rh-color-interactive-primary-default);
      outline-offset: 3px;
    }

    &::marker,
    &::-webkit-details-marker {
      display: none;
    }

    & rh-icon[icon='menu-bars'] {
      --rh-icon-size: 18px; /* non standard value icons-size falls between rh-size-icon-01 and 02 */

      margin-block: var(--rh-space-xs, 4px);
      color: var(--rh-color-icon-secondary);
    }
  }

  & #details-content {
    display: none;
  }

  &[open] {
    & summary {
      &:after {
        border-block-end-color: var(--rh-color-accent-brand);
      }
    }
  }

  &:not([open]) {
    & #details-content {
      /* ensures the content is not visible to cmd+f unless the details are open */
      visibility: hidden;
    }
  }

  & ::slotted(rh-navigation-link) {
    --_navigation-link-container-align-items: start;
    --_navigation-link-container-display: flex;
    --_navigation-link-container-block-size: 100%;
    --_navigation-link-padding: var(--rh-space-lg, 16px) var(--rh-space-xl, 24px);
    --_navigation-link-display: flex;
    --_navigation-link-inline-size: 100%;
  }
}

#secondary {
  grid-area: secondary-links;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  block-size: 100%;
  gap: 0;

  @container navigation-primary (min-width: 1200px) {
    gap: var(--rh-space-xl, 24px);
  }

  #event {
    display: none;

    @container navigation-primary (min-width: 576px) {
      display: flex;
      flex-direction: row;
      margin-inline-end: var(--rh-space-xl, 24px);
    }

    @container navigation-primary (min-width: 1200px) {
      margin-inline-end: 0;
    }

    & ::slotted(rh-navigation-primary-item) {
      block-size: fit-content;
      line-height: 0;
    }

    & ::slotted(a) {
      display: block;
      line-height: 0;
    }
  }

  #links-menu {
    display: none;
    align-items: center;
    block-size: 100%;

    @container navigation-primary (min-width: 456px) {
      display: flex;
    }

    & summary {
      position: relative;
      cursor: pointer;
      list-style: none;
      display: flex;
      align-items: center;
      padding: var(--rh-space-lg, 16px);
      border-radius: var(--rh-border-radius-default, 3px);
      block-size: 100%;

      @container navigation-primary (min-width: 1200px) {
        display: none;
      }

      &::marker,
      &::-webkit-details-marker {
        display: none;
      }

      &:after {
        content: '';
        position: absolute;
        inset: 0;
        border-block-end: 4px solid transparent;
      }

      &:is(:hover, :focus-visible) {
        &:after {
          border-block-end-color: var(--rh-color-border-subtle);
        }
      }

      &:is(:active) {
        &:after {
          border-block-end-color: var(--rh-color-accent-brand);
        }
      }

      &:is(:focus-visible, :hover:focus-visible) {
        outline:
          var(--rh-border-width-md, 2px)
          solid
          var(--rh-color-interactive-primary-default);
        outline-offset: 2px;
      }

      & rh-icon {
        --rh-icon-size: 18px;

        color: var(--rh-color-icon-secondary);
      }
    }

    & #links-menu-content {
      display: none;
    }

    &[open] {
      & summary {
        &:after {
          border-block-end-color: var(--rh-color-accent-brand);
        }
      }

      & #links-menu-content {
        position: absolute;
        z-index: var(--_nav-container-z-index);
        inset-block-start: 100%;
        inset-inline-end: 0;
        display: flex;
        flex-direction: column;
        gap: var(--rh-space-lg, 16px);
        background-color: var(--rh-color-surface);
        box-shadow: var(--rh-box-shadow-sm, 0 2px 4px 0 rgba(21, 21, 21, 0.2));
        padding-block: var(--rh-space-2xl, 32px) var(--rh-space-3xl, 48px);
        padding-inline: var(--rh-space-2xl, 32px);
        border-end-start-radius: var(--rh-border-radius-default, 3px);
        border-end-end-radius: var(--rh-border-radius-default, 3px);

        & ::slotted(rh-navigation-primary-item),
        & ::slotted(rh-navigation-link) {
          --_navigation-link-padding: var(--rh-space-md, 8px) var(--rh-space-lg, 16px);
        }

        @container navigation-primary (min-width: 1200px) {
          position: static;
          z-index: unset;
          display: grid;
          grid-auto-flow: column;
          gap: var(--rh-space-xl, 24px);
          align-items: center;
          flex-direction: unset;
          background-color: transparent;
          box-shadow: none;
          padding: 0;
          border-radius: 0;
          min-inline-size: unset;

          & ::slotted(rh-navigation-primary-item),
          & ::slotted(rh-navigation-link) {
            --_navigation-link-padding: var(--rh-space-md, 8px);
            --_navigation-link-font-size: var(--rh-font-size-body-text-sm, 0.875rem);
          }
        }
      }
    }

    &:not([open]) {
      & #links-menu-content {
        visibility: hidden;
      }
    }
  }

  #dropdowns {
    display: flex;
    flex-direction: row;
    block-size: 100%;
  }
}

#container {
  --_box-shadow-color: light-dark(rgba(21, 21, 21, 0.2), rgba(0, 0, 0, 0.6));

  display: block;
  position: relative;
  inline-size: 100%;
  block-size: var(--_navbar-height);
  z-index: 2;

  &.subdomain {
    & #bar {
      grid-template-areas: 'logo sub-domain hamburger secondary-links';
      grid-template-columns: auto auto auto 1fr;
    }

    & #sub-domain {
      display: flex;
      position: relative;
      grid-area: sub-domain;
      block-size: 100%;
      place-items: center;
      font-family: var(--rh-font-family-heading, RedHatDisplay, 'Red Hat Display', Helvetica, Arial, sans-serif) !important;
      font-size: 1rem !important;
      font-weight: var(--rh-font-weight-heading-bold, 700) !important;
      line-height: 1.5 !important;
      color: var(--rh-color-text-primary) !important;
      white-space: break-spaces !important;

      @container navigation-primary (min-width: 576px) {
        margin-inline-end: var(--rh-space-2xl, 32px);
        font-size: var(--rh-font-size-heading-xs, 1.25rem) !important;
      }

      &:after {
        content: '';
        position: absolute;
        inset: 0;
        border-block-end: 4px solid transparent;
        pointer-events: none;
      }

      &:is(:hover, :focus-visible) {
        &:after {
          border-block-end-color: var(--rh-color-border-subtle);
        }
      }

      &:is(:active) {
        &:after {
          border-block-end-color: var(--rh-color-accent-brand);
        }
      }

      & ::slotted(a) {
        text-decoration: none;
        color: var(--rh-color-text-primary) !important;
      }
    }

    & #logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--rh-space-xl, 24px);

      & svg {
        block-size: 18px;
        inline-size: 24px;
        transition: transform 0.3s ease-in-out;

        @container navigation-primary (min-width: 576px) {
          block-size: 24px;
          inline-size: 32px;
        }

        @container navigation-primary (min-width: 1440px) {
          block-size: 30px;
          inline-size: 40px;
        }
      }

      & a {
        &:hover {
          & svg {
            transform: rotate(15deg);
          }
        }
      }
    }
  }

  &:not(.compact) {
    & #hamburger {
      @container navigation-primary (min-width: 1200px) {
        display: block;

        & > * {
          box-sizing: border-box;
        }

        /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
        &::details-content {
          display: contents;

          & > * {
            box-sizing: border-box;
          }
        }

        & ::slotted(rh-navigation-link) {
          --_navigation-link-container-align-items: center;
          --_navigation-link-container-display: flex;
          --_navigation-link-container-block-size: 100%;
          --_navigation-link-container-position: relative;
          --_navigation-link-align-items: center;
          --_navigation-link-block-size: 100%;
          --_navigation-link-inline-size: fit-content;

          /* something weird happens here editor isn't satisfied
           *  with the line breaks and value of the token
           */
          /* stylelint-disable-next-line rhds/token-values */
          --_navigation-link-color-hover:
            var(--rh-color-text-primary,
              light-dark(
                var(--rh-color-text-primary-on-light, #151515),
                var(--rh-color-text-primary-on-dark, #ffffff))
              );
          --_navigation-link-padding: 0 var(--rh-space-lg, 16px);
        }
      }

      #details-content {
        @container navigation-primary (min-width: 1200px) {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          block-size: 100%;

          & ::slotted(rh-navigation-primary-item) {
            block-size: var(--_navbar-height);
          }
        }
      }
    }

    & #hamburger[open] {
      @container navigation-primary (min-width: 1200px) {
        position: static;
        display: flex;
        block-size: 100%;
        place-items: center;
        align-content: center;
        box-shadow: none;
        background-color: transparent;
        padding: 0;

        & ::slotted(rh-navigation-primary-item) {
          border-block-start: none;
        }

        & ::slotted(rh-navigation-primary-item:nth-last-child(1 of :not([slot]))) {
          border-block-end: none;
        }
      }
    }
  }

  &.compact {
    #hamburger {
      /* stylelint-disable-next-line no-descending-specificity */
      & summary {
        display: flex;
        list-style-type: none;
      }

      &[open] {
        & #details-content {
          --_border-color: var(--rh-color-border-subtle);

          position: absolute;
          inset-block-start: 100%;
          inset-inline-start: 0;
          z-index: var(--_nav-container-z-index);
          display: flex;
          flex-direction: column;
          background-color: var(--rh-color-surface);
          inline-size: 100%;
          block-size: auto;
          place-items: initial;
          padding: var(--rh-space-lg, 16px);
          box-shadow: var(--rh-box-shadow-sm, 0 2px 4px 0 rgba(21, 21, 21, 0.2));
          max-block-size: calc(100dvh - var(--_navbar-height));
          overflow-y: auto;

          & ::slotted(rh-navigation-primary-item) {
            border-block-start: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle);
          }

          & ::slotted(rh-navigation-primary-item:nth-last-child(1 of :not([slot]))) {
            border-block-end: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle);
          }

          @container navigation-primary (min-width: 320px) {
            padding: var(--rh-space-2xl, 32px);
          }

          @container navigation-primary (min-width: 1200px) {
            & ::slotted(rh-navigation-primary-item) {
              border-block-start:
                var(--rh-border-width-sm, 1px)
                solid
                var(--rh-color-border-subtle);
            }

            & ::slotted(rh-navigation-primary-item:nth-last-child(1 of :not([slot]))) {
              border-block-end: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle);
            }
          }
        }
      }
    }
  }
}
