*,
*:after,
*:before {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

:host {
  display: block;
  block-size: 100%;
  justify-items: center;
  align-content: center;
}

:host([hide-at]) {
  display: none;
}

@container (min-width: 320px) {
  :host([hide-at='xs']) {
    display: block;
  }
}

@container (min-width: 567px) {
  :host([hide-at='sm']) {
    display: block;
  }
}

@container (min-width: 768px) {
  :host([hide-at='md']) {
    display: block;
  }
}

@container (min-width: 992px) {
  :host([hide-at='lg']) {
    display: block;
  }
}

@container (min-width: 1200px) {
  :host([hide-at='xl']) {
    display: block;
  }
}

:host(:is(:focus, :focus-visible)) {
  outline: none;
  outline-style: none;
}

#container {
  --_box-shadow-color: light-dark(rgba(21, 21, 21, 0.2), rgba(0, 0, 0, 0.6));

  display: block;
  block-size: 100%;
  inline-size: 100%;
  justify-items: center;
  align-content: center;

  & details {
    inline-size: 100%;
    block-size: 100%;
    justify-items: center;
    align-content: center;

    & summary {
      --rh-icon-size: 18px /* non standard value */;

      /** Toggle Avatar size  */
      --rh-avatar-size: var(--rh-size-icon-02, 24px);

      display: flex;
      list-style: none;

      /** Toggle gap */
      gap: var(--rh-space-md, 8px);

      &::marker,
      &::-webkit-details-marker {
        display: none;
      }

      & ::slotted(rh-icon) {
        /** Toggle slotted icon min-height */
        min-block-size: var(--rh-size-icon-02, 24px);
      }

      & rh-icon {
        aspect-ratio: unset;

        &[icon='caret-down'] {
          /* non standard, this wont take effect though as microns hard stops at 12px */
          --rh-icon-size: 10px;

          /** Toggle caret color */
          color: light-dark(var(--rh-color-gray-40, #a3a3a3), var(--rh-color-icon-subtle));
          transition: rotate 0.2s;
        }
      }
    }

    & #details-content {
      inline-size: 100%;
    }

    &[open] {
      &::details-content {
        display: contents;

        & > * {
          box-sizing: border-box;
        }
      }

      @container (min-width: 1200px) {
        /** Dropdown variant open state active color at containers >= 1200px */
        border-block-start-color: var(--rh-color-accent-brand);
      }

      & summary rh-icon[icon='caret-down'] {
        rotate: 180deg;
      }
    }

    &:not([open]) {
      & #details-content {
        /* ensures the content is not visible to cmd+f unless the details are open */
        visibility: hidden;
      }
    }
  }

  /* Variant States */
  &.hamburger {
    &:not(.compact) {
      @container (min-width: 1200px) {
        border-block-end: 4px solid transparent; /* Non standard border width */

        &:hover {
          /** Item when slotted in hamburger menu and not compact state
              hover indicator color when container >= 1200px */
          border-block-end-color: var(--rh-color-border-subtle);
        }

        &:is(:active, :focus-within, :has(details[open])) {
          /** Item when slotted in hamburger menu and not compact state
              active, focus-within, and open state indicator color when container >= 1200px */
          border-block-end-color: var(--rh-color-accent-brand);
        }
      }
    }
  }

  &.dropdown {
    &.hamburger {
      & details {
        /** Dropdown variant when slotted in hamburger menu inline border start width */
        border-inline-start: var(--rh-border-width-lg, 3px) solid transparent;

        /** Dropdown variant when slotted in hamburger menu inline border end width */
        border-inline-end: var(--rh-border-width-sm, 1px) solid transparent;

        & summary {
          list-style: none;

          /** Dropdown variant when slotted in hamburger text color */
          color: var(--rh-color-text-primary) !important;
          text-decoration: none !important;
          text-align: center;
          text-wrap: nowrap;
          place-items: center;
          inline-size: 100%;
          block-size: 100%;

          /** Dropdown variant when slotted in hamburger padding */
          padding: var(--rh-space-lg, 16px) var(--rh-space-xl, 24px);
          cursor: pointer;

          &:focus-visible,
          &:hover:focus-visible {
            outline-offset: -2px;
            outline:
              /** Dropdown variant when slotted in hamburger focus ring width */
              var(--rh-border-width-md, 2px)
              solid
              /** Dropdown variant when slotted in hamburger focus ring color */
              var(--rh-color-interactive-primary-default);

            /** Dropdown variant when slotted in hamburger rounded corners */
            border-radius: var(--rh-border-radius-default, 3px);
          }
        }

        &[open] {
          /** Dropdown variant when slotted in hamburger menu open
              state border inline start color */
          border-inline-start-color: var(--rh-color-accent-brand);

          /** Dropdown variant when slotted in hamburger menu open
              state border inline end color */
          border-inline-end-color: var(--rh-color-border-subtle);

          & summary {
            & rh-icon[icon='caret-down'] {
              rotate: 180deg;
            }
          }
        }
      }

      &:where(:not(.compact)) {
        & details {
          @container (min-width: 1200px) {
            border-inline: unset;
          }

          & summary {
            @container (min-width: 1200px) {
              block-size: calc(100% + 4px);
              padding: 0 var(--rh-space-lg, 16px);
            }
          }

          & #details-content {
            @container (min-width: 1200px) {
              position: absolute;
              z-index: -1;
              background-color:
                light-dark(
                    /** Dropdown variant when slotted in hamburger menu and when not compact
                        content background color at containers >= 1200px under light color scheme */
                    var(--rh-color-surface-lightest, #ffffff),
                    /** Dropdown variant when slotted in hamburger menu and when not compact
                        content background color at containers >= 1200px under dark color scheme */
                    var(--rh-color-surface-darkest, #151515)
                  );
              box-shadow: 0 2px 4px 0 var(--_box-shadow-color);
              inset-block-start: 100%;
              inset-inline-start: 0;
              inline-size: 100%;
            }
          }
        }
      }
    }

    &.standalone {
      & details {
        block-size: 100%;

        & summary {
          position: relative;
          z-index: 1;
          block-size: 100%;
          inline-size: max-content;
          align-items: center;

          /** Secondary area slotted item toggle padding */
          padding: var(--rh-space-md, 8px);

          /** Secondary area  slotted item toggle border radius */
          border-radius: var(--rh-border-radius-default, 3px);

          /** Secondary area slotted item font size */
          font-size: var(--rh-font-size-body-text-sm, 0.875rem);
          cursor: pointer;

          @container navigation-primary (min-width: 480px) {
            padding: var(--rh-space-lg, 16px);
          }

          &:after {
            content: '';
            position: absolute;
            inset: 0;
            border-block-end: 4px solid transparent;
          }

          &:is(:hover, :focus-visible) {
            &:after {
              /** Secondary area slotted item hover indicator color */
              border-block-end-color: var(--rh-color-border-subtle);
            }
          }

          &:is(:active, :focus-within) {
            &:after {
              /** Secondary area slotted item active indicator color */
              border-block-end-color: var(--rh-color-accent-brand);
            }
          }

          &:is(:focus-visible, :hover:focus-visible) {
            outline:
              /** Secondary area slotted item focus ring width */
              var(--rh-border-width-md, 2px)
              solid
              /** Secondary area slotted item focus ring color */
              var(--rh-color-interactive-primary-default);
            outline-offset: 2px;
          }

          & #summary-text {
            clip-path: inset(50%);
            overflow: hidden;
            position: absolute;
            block-size: 1px;
            inline-size: 1px;
            white-space: nowrap;
          }
        }

        & #details-content {
          position: absolute;
          z-index: -1;
          background-color:
            light-dark(
                /** Dropdown variant content background color at
                    containers >= 1200px under light color scheme */
                var(--rh-color-surface-lightest, #ffffff),
                /** Dropdown variant content background color at
                    containers >= 1200px under dark color scheme */
                var(--rh-color-surface-darkest, #151515)
              );
          box-shadow: 0 2px 4px 0 var(--_box-shadow-color);
          inset-block-start: 100%;
          inset-inline-end: 0;
          inline-size: 100%;
          max-block-size: calc(100dvh - var(--_navbar-height));
          overflow-y: auto;

          @container (min-width: 1200px) {
            inline-size: fit-content;

            /** Dropdown variant content rounded corners at containers >= 1200px */
            border-end-end-radius: calc(var(--rh-border-radius-default, 3px) * 2);
            border-end-start-radius: calc(var(--rh-border-radius-default, 3px) * 2);
          }
        }

        &[open] {
          & summary {
            &:after {
              /** Dropdown variant open state indicator color */
              border-block-end-color: var(--rh-color-accent-brand);
            }
          }
        }
      }
    }
  }

  &.link {
    display: inline-block;
    block-size: fit-content;
    border-block-start: none;

    & ::slotted(a) {
      /** Link variant slotted link text color */
      color: var(--rh-color-text-primary) !important;
    }

    & ::slotted(:is(a:hover, a:focus-visible, :active)) {
      text-underline-offset: 4px !important;

      /** Link variant slotted link hover, focus, active text decoration color */
      text-decoration-color:
        light-dark(var(--rh-color-gray-50, #707070),
          var(--rh-color-gray-40, #a3a3a3)) !important;
      text-decoration-line: underline !important;
      text-decoration-style: dashed !important;
      text-decoration-skip-ink: auto !important;

      /** Link variant slotted link hover, focus, active text color */
      color: var(--rh-color-interactive-primary-hover) !important;
    }

    &.hamburger {
      block-size: 100%;

      &:is(:hover, :focus-visible, :hover:focus-visible, :active) {
        border-block-end-color: transparent;
      }

      & ::slotted(a) {
        display: flex;
        align-items: center;
        block-size: calc(100% + 4px);

        /** Link variant when slotted in hamburger menu font size */
        font-size: var(--rh-font-size-body-text-md, 1rem);

        /** Link variant when slotted in hamburger padding */
        padding: var(--rh-space-lg, 16px) var(--rh-space-xl, 24px);
      }

      & ::slotted(a:is(:focus-visible, :hover:focus-visible, :active)) {
        outline-offset: 0;
        outline:
          /** Link variant slotted link focus ring width */
          var(--rh-border-width-md, 2px)
          solid
          /** Link variant slotted link focus ring color */
          var(--rh-color-interactive-primary-default);

        /** Link variant slotted link border radius */
        border-radius: var(--rh-border-radius-default, 3px);
      }

      @container (min-width: 1200px) {
        & ::slotted(a) {
          padding: 0 var(--rh-space-lg, 16px);
        }

        &:is(:active, :focus-within, :has(details[open])) {
          border-image: unset;
          border-block-end-color: transparent;
        }
      }
    }

    &.standalone {
      & ::slotted(a) {
        /** Secondary area slotted item font size */
        font-size: var(--rh-font-size-body-text-sm, 0.875rem) !important;
        display: inline-flex;
        block-size: auto;
        align-items: center;
      }

      & ::slotted(a:is(:focus-visible, :hover:focus-visible, :active)) {
        outline-offset: -2px;
        outline:
          /** Secondary area slotted item with slotted link focus ring width */
          var(--rh-border-width-md, 2px)
          solid
          /** Secondary area slotted item with slotted link focus ring color */
          var(--rh-color-interactive-primary-default);
        border-radius: var(--rh-border-radius-default, 3px);
      }
    }
  }
}

:host([slot='links']) {
  & #container {
    &.compact {
      min-inline-size: 188px;

      /** Links slot when compact padding inline end */
      padding-inline-end: var(--rh-space-xl, 24px);
    }

    @container navigation-primary (min-width: 1200px) {
      min-inline-size: unset;
      padding-inline-end: 0;
    }
  }
}
