rh-navigation-primary {
  & :is(rh-navigation-primary-item, rh-navigation-link) {
    color: var(--rh-color-text-primary) !important;

    & a {
      color: var(--rh-color-interactive-primary-default) !important;
      text-decoration: none;
      inline-size: 100%;

      &:hover {
        color: var(--rh-color-interactive-primary-hover) !important;
      }
    }

    &[slot='links'] {
      display: flex;
      align-items: center;
    }
  }

  & rh-navigation-link {
    &:not([slot]) {
      --_navigation-link-container-inline-size: 100%;
      --_navigation-link-inline-size: 100%;

      display: flex;
      block-size: 100%;
      inline-size: 100%;
      border-block-start: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle);

      @container (min-width: 1200px) {
        --_navigation-link-container-inline-size: fit-content;
        --_navigation-link-container-display: inline-block;
        --_navigation-link-inline-size: fit-content;

        display: block;
        inline-size: fit-content;
        border-block-start: none;
      }
    }

    &:nth-last-child(1 of rh-navigation-link:not([slot])) {
      border-block-end: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle);

      @container (min-width: 1200px) {
        border-block-end: none;
      }
    }
  }
}
