:host {
  display: block;
}

#container {
  color: var(--rh-color-text-primary);
  background-color: var(--rh-color-surface);
  padding:
    var(--rh-space-lg, 16px)
    var(--rh-space-lg, 16px)
    var(--rh-navigation-primary-item-menu-padding-block-end, var(--rh-space-2xl, 32px))
    var(--rh-space-lg, 16px);

  @container (min-width: 768px) {
    padding:
      var(--rh-space-lg, 16px)
      var(--rh-space-lg, 16px)
      var(--rh-navigation-primary-item-menu-padding-block-end, var(--rh-space-2xl, 32px))
      var(--rh-space-lg, 16px);
  }

  &:not(.compact) {
    @container (min-width: 1200px) {
      margin: 0 auto;
      max-width: 1440px;
    }
  }
}
