rh-navigation-primary {
  /* workaround for apparent regression in Safari 26.2 for containers defined on :host */
  container: navigation-primary / inline-size;

  & :is(rh-navigation-primary-item, rh-navigation-link) {
    color: var(--rh-color-text-primary) !important;

    & a {
      color: var(--rh-color-interactive-primary-default) !important;
      text-decoration: none;
      inline-size: 100%;

      &:hover {
        color: var(--rh-color-interactive-primary-hover) !important;
      }
    }

    &[slot='links'] {
      display: flex;
      align-items: center;
    }

    &[slot='event'] {
      &:hover {
        animation: rh-navigation-event-bounce 1s infinite;
      }
    }
  }

  & rh-navigation-link {
    &:not([slot]) {
      --_navigation-link-container-inline-size: 100%;
      --_navigation-link-inline-size: 100%;

      display: flex;
      block-size: 100%;
      inline-size: 100%;
      border-block-start: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle);

      @container (min-width: 1200px) {
        --_navigation-link-container-inline-size: fit-content;
        --_navigation-link-container-display: inline-block;
        --_navigation-link-inline-size: fit-content;

        display: block;
        inline-size: fit-content;
        border-block-start: none;
      }
    }

    &:nth-last-child(1 of rh-navigation-link:not([slot])) {
      border-block-end: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle);

      @container (min-width: 1200px) {
        border-block-end: none;
      }
    }
  }
}

@keyframes rh-navigation-event-bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); /* Element is at its original position */
  }

  40% {
    transform: translateY(-10px); /* Element moves up 20px */
  }

  60% {
    transform: translateY(-5px); /* Element moves up 10px from original */
  }
}
