:host {
  position: fixed;
  background-color: rgb(var(--rh-color-gray-90-rgb) / 0.8);
  inset: 0;
  width: 100dvw;
  height: 100dvh;
  /* stylelint-disable-next-line rhds/no-unknown-token-name */
  z-index: var(--rh-overlay-z-index, 1);
}

:host([open]) {
  display: block;
}

:host(:not([open])) {
  display: none;
}
