*,
*:after,
*:before {
  box-sizing: border-box;
}

:host {
  /* stylelint-disable-next-line rhds/no-unknown-token-name */
  --_active-item-color:
    var(--rh-navigation-active-item-color,
      linear-gradient(to right,
      var(--rh-color-brand-red-light),
      var(--rh-color-purple-40),
      var(--rh-color-purple-60)));
  --_navbar-height: 78px;
  --_nav-container-z-index: 3;

  display: block;
  container: navigation-primary / inline-size;
  position: relative;
  /* stylelint-disable-next-line rhds/no-unknown-token-name */
  z-index: var(--rh-navigation-primary-z-index, 102);
}

#container {
  display: block;
  position: relative;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  height: var(--_navbar-height);

  &.on {
    &.light {
      --_menu-background: var(--rh-color-surface-lighter);
    }

    &.dark {
      --_menu-background: var(--rh-color-surface-darker);
    }
  }
}

#bar {
  display: grid;
  grid-template-areas: 'logo hamburger secondary-links';
  grid-template-columns: max-content max-content 1fr;
  grid-template-rows: var(--_navbar-height);
  background-color: var(--rh-color-surface);
  color: var(--rh-color-text-primary);
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  max-height: var(--_navbar-height);
  border-block-end: var(--rh-border-width-sm) solid var(--rh-color-border-subtle);
}

.dark {
  & #bar {
    border-block-end-color: transparent;
    box-shadow: var(--rh-box-shadow-sm, 0 2px 4px 0 rgba(21, 21, 21, 0.2));
  }
}

#logo {
  grid-area: logo;
  display: flex;
  flex-direction: column;
  margin-inline: var(--rh-space-lg) var(--rh-space-xl);
  border-block-end: none;

  & ::slotted(a),
  & a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available;
    height: 100%;
    line-height: 0;
  }

  & ::slotted(a:focus-visible),
  & ::slotted(:hover:focus-visible),
  & a:is(:focus-visible, :hover:focus-visible) {
    outline-offset: -2px;
    outline:
      var(--rh-border-width-md)
      solid
      var(--rh-color-interactive-primary-default);
    border-radius: var(--rh-border-radius-default);
  }

  @container navigation-primary (min-width: 576px) {
    border-block-end-color: transparent;
  }

  @container navigation-primary (min-width: 768px) {
    margin-inline-start: var(--rh-space-2xl);
  }
}

#hamburger {
  display: flex;
  grid-area: hamburger;
  height: 100%;
  place-items: center;
  align-content: center;

  & summary {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: var(--rh-space-lg);
    height: max-content;
    width: max-content;
    align-items: center;
    padding: var(--rh-space-md) var(--rh-space-lg);
    border: var(--rh-border-width-sm) solid var(--rh-color-border-subtle);
    border-radius: var(--rh-border-radius-pill);
    margin-inline-start: 0;

    &:is(:focus-visible, :hover:focus-visible) {
      outline-offset: 0;
      outline:
        var(--rh-border-width-md)
        solid
        var(--rh-color-interactive-primary-default);
      border-radius: var(--rh-border-radius-pill);
    }

    &:before {
      --_mask: conic-gradient(transparent 0 0);

      content: '';
      position: absolute;
      inset: -1px;
      border-radius: inherit;
      padding: var(--rh-border-width-md);
      background: var(--_active-item-color);
      mask: var(--_mask) content-box exclude, var(--_mask);
      z-index: 1;
    }

    rh-icon[icon='caret-down'] {
      color: var(--rh-color-icon-subtle);
    }
  }

  &::marker,
  &::-webkit-details-marker {
    display: none;
  }

  & #details-content {
    display: none;
  }
}

#secondary {
  grid-area: secondary-links;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-inline-end: var(--rh-space-lg);
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
  height: 100%;
  gap: var(--rh-space-xs);

  slot[name='event'] {
    display: none;
  }

  #links {
    display: none;
  }

  :is(#event, #dropdowns) {
    display: inline flex;
  }

  #dropdowns {
    gap: var(--rh-space-md);
  }

  @container navigation-primary (min-width: 768px) {
    gap: var(--rh-space-2xl);

    slot[name='event'] {
      display: contents;
    }
  }
}

.compact {
  #hamburger {
    &[open] {
      & summary {
        &:before {
          --_mask: conic-gradient(#000000 0 0);
        }

        rh-icon {
          rotate: 180deg;
        }
      }

      & #details-content {
        position: absolute;
        inset-block-start: 100%;
        inset-inline-start: 0;
        z-index: var(--_nav-container-z-index);
        display: flex;
        flex-direction: column;
        background-color: var(--_menu-background);
        width: -webkit-fill-available;
        width: -moz-available;
        width: fill-available;
        padding: var(--rh-space-lg);
        box-shadow: var(--rh-box-shadow-sm);
        border-end-end-radius: calc(var(--rh-border-radius-default) * 2);
        border-end-start-radius: calc(var(--rh-border-radius-default) * 2);

        & ::slotted(rh-navigation-item) {
          border-block-start: var(--rh-border-width-sm) solid var(--rh-color-border-subtle);
        }

        & ::slotted(rh-navigation-item:nth-last-child(1 of :not([slot]))) {
          border-block-end: var(--rh-border-width-sm) solid var(--rh-color-border-subtle);
        }

        @container navigation-primary (min-width: 320px) {
          padding: var(--rh-space-2xl);
        }
      }
    }
  }
}

/* &:not(.compact)  */
@container navigation-primary (min-width: 1200px) {
  #hamburger {
    grid-area: nav;
    display: contents;

    & > * {
      box-sizing: border-box;
    }

    & summary {
      display: none;
    }

    #details-content {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
    }
  }
}

@container navigation-primary (min-width: 1680px) {
  #secondary {
    #links {
      display: block;
      height: 100%;
      justify-items: center;
      align-content: center;
    }

    slot[name='links']::slotted(a) {
      padding-inline: var(--rh-space-lg);
      color: var(--rh-color-text-primary) !important;
      text-decoration: none !important;
    }

    slot[name='links']::slotted(a:hover) {
      text-decoration: underline !important;
    }

    slot[name='links']::slotted(a:nth-child(1 of a)) {
      padding-inline-start: 0;
    }

    slot[name='links']::slotted(a:nth-last-child(1 of a)) {
      padding-inline-end: 0;
    }

    slot[name='links']::slotted(a:focus-visible) {
      outline-offset: 2px;
      outline:
        var(--rh-border-width-md)
        solid
        var(--rh-color-interactive-primary-default);
      border-radius: var(--rh-border-radius-default);
    }

    slot[name='links']::slotted(a:hover) {
      /* styles here */
    }

    slot[name='links']::slotted(a:not(:last-of-type)) {
      border-inline-end: var(--rh-border-width-sm) solid var(--rh-color-border-subtle);
    }
  }
}
