*,
*:after,
*:before {
  box-sizing: border-box;
}

:host {
  --_gradient:
    linear-gradient(to right,
      var(--rh-color-brand-red-light, #f56e6e),
      var(--rh-color-purple-40, #876fd4),
      var(--rh-color-purple-60, #3d2785));
  /* stylelint-disable-next-line rhds/no-unknown-token-name */
  --_active-item-color: var(--rh-navigation-active-item-color, var(--_gradient));
  --_navbar-height: 78px;
  --_nav-container-z-index: -1;

  display: block;
  container: navigation-primary / inline-size;
  position: relative;
  /* stylelint-disable-next-line rhds/no-unknown-token-name */
  z-index: var(--rh-navigation-primary-z-index, 102);
  font-family: var(--rh-font-family-body-text, RedHatText, 'Red Hat Text', Helvetica, Arial, sans-serif) !important;
}

:host([color-palette^='light']) {
  color-scheme: only light;
}

:host([color-palette^='dark']) {
  color-scheme: only dark;
}

#container {
  --_box-shadow-color: light-dark(rgba(21, 21, 21, 0.2), rgba(0, 0, 0, 0.6));

  display: block;
  position: relative;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  height: var(--_navbar-height);
  z-index: 2;

  & #bar {
    position: relative;
    display: grid;
    grid-template-areas: 'logo hamburger secondary-links';
    grid-template-columns: auto auto 1fr;
    grid-template-rows: var(--_navbar-height);
    background-color:
      light-dark(var(--rh-color-surface-lightest, #ffffff),
        var(--rh-color-surface-darkest, #151515));
    color: var(--rh-color-text-primary);
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    max-height: var(--_navbar-height);
    box-shadow: 0 2px 4px 0 var(--_box-shadow-color);
  }

  & #logo {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    margin-inline: var(--rh-space-lg, 16px) var(--rh-space-xl, 24px);
    border-block-end: none;

    @container navigation-primary (min-width: 576px) {
      border-block-end-color: transparent;
    }

    @container navigation-primary (min-width: 768px) {
      margin-inline-start: var(--rh-space-2xl, 32px);
    }

    & ::slotted(a),
    & a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: -webkit-fill-available;
      height: -moz-available;
      height: fill-available;
      height: 100%;
      line-height: 0;
    }

    & ::slotted(a:focus-visible),
    & ::slotted(:hover:focus-visible),
    & a:is(:focus-visible, :hover:focus-visible) {
      outline-offset: -2px;
      outline:
        var(--rh-border-width-md, 2px)
        solid
        var(--rh-color-interactive-primary-default);
      border-radius: var(--rh-border-radius-default, 3px);
    }
  }

  & #hamburger {
    grid-area: hamburger;
    align-self: center;

    @container navigation-primary (min-width: 1200px) {
      position: static;
      padding: /*var(--rh-space-lg, 16px)*/ 0;
      height: 100%;
      place-items: center;
      align-content: center;
      box-shadow: none;
      background-color: transparent;
      gap: var(--rh-space-xs, 4px);

      & ::slotted(rh-navigation-primary-item) {
        border-block-start: none;
        height: 100%;
      }

      & ::slotted(rh-navigation-primary-item:nth-last-child(1 of :not([slot]))) {
        border-block-end: none;
      }
    }
  }

  & #secondary {
    grid-area: secondary-links;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-inline-end: var(--rh-space-lg, 16px);
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available;
    height: 100%;
    gap: var(--rh-space-xs, 4px);

    @container navigation-primary (min-width: 768px) {
      gap: var(--rh-space-md, 8px);
      margin-inline-end: var(--rh-space-2xl, 32px);
    }

    slot[name='event'] {
      display: none;

      @container navigation-primary (min-width: 768px) {
        display: contents;
      }
    }

    #links {
      display: none;

      @container navigation-primary (min-width: 1440px) {
        display: inline-flex;
      }
    }

    :is(#event, #dropdowns) {
      display: inline flex;
    }

    #dropdowns {
      gap: var(--rh-space-md, 8px);

      @container navigation-primary (min-width: 1200px) {
        padding-inline-start: var(--rh-space-md, 8px);
      }
    }
  }
}
