rh-navigation-primary {
  & rh-navigation-item {
    color: var(--rh-color-text-primary) !important;

    & a {
      color: var(--rh-color-interactive-primary-default) !important;
      text-decoration: none;
      padding: 0 var(--rh-space-lg);

      &:hover {
        color: var(--rh-color-interactive-primary-hover) !important;
      }
    }

    &[slot='links'] {
      & a {
        padding-inline: var(--rh-space-md);
        margin-inline: var(--rh-space-md);
      }

      &:after {
        content: '';
        height: 100%;
        border-inline-end: var(--rh-border-width-sm) solid var(--rh-color-border-subtle);
      }

      &:nth-child(1 of rh-navigation-item[slot='links']) {
        & a {
          margin-inline-start: 0;
        }
      }

      &:nth-last-child(1 of rh-navigation-item[slot='links']) {
        &:after {
          border-inline-end-color: transparent;
        }

        & a {
          margin-inline-end: 0;
        }
      }
    }
  }
}
