:host {
  display: flex;
}

details {
  display: contents;
  flex-direction: row;
  place-content: center flex-start;
  align-items: center;
  height: 100%;

  @container navigation-primary (min-width: 1200px) {
    display: contents;

    & > * {
      box-sizing: border-box;
    }

    &::details-content {
      display: contents;

      & > * {
        box-sizing: border-box;
      }
    }
  }
}

summary {
  position: relative;
  cursor: pointer;
  display: flex;

  @container navigation-primary (min-width: 1200px) {
    display: none;
  }

  gap: var(--rh-space-md);
  height: max-content;
  width: max-content;
  align-items: center;
  padding: var(--rh-space-md) var(--rh-space-lg);
  border: var(--rh-border-width-sm) solid var(--rh-color-border-subtle);
  border-radius: var(--rh-border-radius-pill);
  margin-inline-start: 0;

  &:is(:focus-visible, :hover:focus-visible) {
    outline-offset: 0;
    outline:
      var(--rh-border-width-md)
      solid
      var(--rh-color-interactive-primary-default);
    border-radius: var(--rh-border-radius-pill);
  }

  &:before {
    --_mask: conic-gradient(transparent 0 0);

    content: '';
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    padding: var(--rh-border-width-md);
    background: var(--_active-item-color);
    mask: var(--_mask) content-box exclude, var(--_mask);
    z-index: 1;
  }

  &::marker,
  &::-webkit-details-marker {
    display: none;
  }

  & rh-icon {
    &[icon='caret-down'] {
      color: var(--rh-color-icon-subtle);
      transition: rotate 0.2s;
    }

    &[icon='menu-bars'] {
      margin-block: var(--rh-space-xs);
    }
  }

  & #summary {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

    @container (min-width: 992px) {
      clip: unset;
      clip-path: unset;
      height: auto;
      overflow: auto;
      position: static;
      white-space: normal;
      width: auto;
    }
  }

  &.open {
    &:before {
      --_mask: conic-gradient(#000000 0 0);
    }

    & rh-icon[icon='caret-down'] {
      rotate: 180deg;
    }
  }
}

#details-content {
  display: none;

  @container navigation-primary (min-width: 1200px) {
    display: contents;
  }

  &.open {
    position: absolute;
    inset-block-start: 100%;
    inset-inline-start: 0;
    z-index: var(--_nav-container-z-index);
    flex-direction: column;
    background-color: var(--rh-color-surface);
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    padding: var(--rh-space-lg);
    box-shadow: var(--rh-box-shadow-sm);
    border-end-end-radius: calc(var(--rh-border-radius-default) * 2);
    border-end-start-radius: calc(var(--rh-border-radius-default) * 2);

    & ::slotted(rh-navigation-primary-item) {
      border-block-start: var(--rh-border-width-sm) solid var(--rh-color-border-subtle);
    }

    & ::slotted(rh-navigation-primary-item:nth-last-child(1 of :not([slot]))) {
      border-block-end: var(--rh-border-width-sm) solid var(--rh-color-border-subtle);
    }

    @container navigation-primary (min-width: 320px) {
      padding: var(--rh-space-2xl);
    }

    &.compact {
      --_border-color: var(--rh-color-border-subtle);

      position: absolute;
      inset-block-start: 100%;
      inset-inline-start: 0;
      z-index: var(--_nav-container-z-index);
      display: flex;
      flex-direction: column;
      background-color: var(--rh-color-surface);
      width: -webkit-fill-available;
      width: -moz-available;
      width: fill-available;
      height: auto;
      place-items: initial;
      padding: var(--rh-space-lg, 16px);
      box-shadow: var(--rh-box-shadow-sm, 0 2px 4px 0 rgba(21, 21, 21, 0.2));
      border-end-end-radius: calc(var(--rh-border-radius-default, 3px) * 2);
      border-end-start-radius: calc(var(--rh-border-radius-default, 3px) * 2);

      @container navigation-primary (min-width: 320px) {
        padding: var(--rh-space-2xl, 32px);
      }

      @container navigation-primary (min-width: 1200px) {
        & ::slotted(rh-navigation-primary-item) {
          border-block-start:
            var(--rh-border-width-sm, 1px)
            solid
            var(--rh-color-border-subtle);
        }

        & ::slotted(rh-navigation-primary-item:nth-last-child(1 of :not([slot]))) {
          border-block-end: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle);
        }
      }
    }
  }
}
