rh-skeleton {
  background: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  block-size: var(--rh-length-lg, 16px);
  border-radius: var(--rh-border-radius-default, 3px);
  display: block;
  inline-size: 100%;
  margin-block-end: var(--rh-space-xs, 4px);
  overflow: hidden;
  position: relative;

  &:after {
    --_placeholder-color:
      light-dark(var(--rh-color-black, #000000),
        var(--rh-color-white, #ffffff));

    animation: shimmer 2s infinite;
    background:
      linear-gradient(to right,
        hsla(from var(--_placeholder-color) h s l / 0) var(--rh-opacity-0, 0%),
        hsla(from var(--_placeholder-color) h s l / 0.05) calc(var(--rh-opacity-20, 20%) + 5%),
        hsla(from var(--_placeholder-color) h s l / 0.1) var(--rh-opacity-50, 50%),
        hsla(from var(--_placeholder-color) h s l / 0.05) calc(var(--rh-opacity-70, 70%) + 5%),
        hsla(from var(--_placeholder-color) h s l / 0) var(--rh-opacity-100, 100%));
    content: '';
    inset: 0;
    position: absolute;
    transform: translateX(-100%);
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

rh-skeleton[size='xs']:not([type='circle'], [type='square'], [type='rectangle']) {
  block-size: 18px;
}

rh-skeleton[size='sm']:not([type='circle'], [type='square'], [type='rectangle']) {
  block-size: 21px;
}

rh-skeleton[size='md']:not([type='circle'], [type='square'], [type='rectangle']) {
  block-size: var(--rh-length-xl, 24px);
}

rh-skeleton[size='lg']:not([type='circle'], [type='square'], [type='rectangle']) {
  block-size: 27px;
}

rh-skeleton[size='xl']:not([type='circle'], [type='square'], [type='rectangle']) {
  block-size: 26px;
}

rh-skeleton[size='2xl']:not([type='circle'], [type='square'], [type='rectangle']) {
  block-size: 31px;
}

rh-skeleton[size='3xl']:not([type='circle'], [type='square'], [type='rectangle']) {
  block-size: 37px;
}

rh-skeleton[size='4xl']:not([type='circle'], [type='square'], [type='rectangle']) {
  block-size: 47px;
}

rh-skeleton[size='5xl']:not([type='circle'], [type='square'], [type='rectangle']) {
  block-size: 52px;
}

rh-skeleton[size='6xl']:not([type='circle'], [type='square'], [type='rectangle']) {
  block-size: 62px;
}

rh-skeleton[type='circle'] {
  border-radius: 50%;
  block-size: var(--rh-length-4xl, 64px);
  inline-size: var(--rh-length-4xl, 64px);
}

rh-skeleton[type='square'] {
  border-radius: var(--rh-border-radius-default, 3px);
  block-size: var(--rh-length-4xl, 64px);
  inline-size: var(--rh-length-4xl, 64px);
}

rh-skeleton[type='rectangle'] {
  block-size: var(--rh-length-4xl, 64px);
  inline-size: var(--rh-length-7xl, 128px);
}
