:host {
  /* stylelint-disable-next-line max-line-length */
  --_breadcrumb-caret-image-default: var(--rh-breadcrumb-caret-image, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='15' viewBox='0 0 10 15' fill='none'%3E%3Cg clip-path='url(%23clip0_232_19576)'%3E%3Cpath d='M2.5 14.5L0.5 12.5L5.5 7.5L0.5 2.5L2.5 0.5L9.5 7.5L2.5 14.5Z' fill='%23000000'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_232_19576'%3E%3Crect width='10' height='14' fill='white' transform='matrix(-1 0 0 1 10 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E"));
  /* stylelint-disable-next-line max-line-length */
  --_breadcrumb-caret-image-subtle: var(--rh-breadcrumb-caret-image-subtle, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='15' viewBox='0 0 10 15' fill='none'%3E%3Cg clip-path='url(%23clip0_232_19576)'%3E%3Cpath d='M2.5 14.5L0.5 12.5L5.5 7.5L0.5 2.5L2.5 0.5L9.5 7.5L2.5 14.5Z' fill='%23707070'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_232_19576'%3E%3Crect width='10' height='14' fill='white' transform='matrix(-1 0 0 1 10 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E"));
  --_breadcrumb-link-color:
    var(--rh-breadcrumb-link-color,
      var(--rh-color-interactive-primary-default));
  --_breadcrumb-link-color-current-page:
    var(--rh-breadcrumb-link-color-current-page,
      var(--rh-color-text-primary));
  --_breadcrumb-link-color-current-page-subtle:
    var(--rh-breadcrumb-link-color-current-page-subtle,
      var(--rh-color-text-secondary));
  --_breadcrumb-link-color-hover:
    var(--rh-breadcrumb-link-color-hover,
      var(--rh-color-interactive-primary-hover));
  --_breadcrumb-link-color-visited:
    var(--rh-breadcrumb-link-color-visited,
      var(--rh-color-interactive-primary-visited-default));
  --_breadcrumb-link-color-visited-hover:
    var(--rh-breadcrumb-link-color-visited-hover,
      var(--rh-color-interactive-primary-visited-hover));
  --_breadcrumb-link-focus-outline-color:
    var(--rh-breadcrumb-link-focus-outline-color,
      var(--rh-color-border-interactive));

  display: block;
}

#container.dark {
  /* stylelint-disable-next-line max-line-length */
  --_breadcrumb-caret-image-default: var(--rh-breadcrumb-caret-image, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='15' viewBox='0 0 10 15' fill='none'%3E%3Cg clip-path='url(%23clip0_232_19576)'%3E%3Cpath d='M2.5 14.5L0.5 12.5L5.5 7.5L0.5 2.5L2.5 0.5L9.5 7.5L2.5 14.5Z' fill='%23ffffff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_232_19576'%3E%3Crect width='10' height='14' fill='white' transform='matrix(-1 0 0 1 10 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E"));
  /* stylelint-disable-next-line max-line-length */
  --_breadcrumb-caret-image-subtle: var(--rh-breadcrumb-caret-image-subtle, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='15' viewBox='0 0 10 15' fill='none'%3E%3Cg clip-path='url(%23clip0_232_19576)'%3E%3Cpath d='M2.5 14.5L0.5 12.5L5.5 7.5L0.5 2.5L2.5 0.5L9.5 7.5L2.5 14.5Z' fill='%23a3a3a3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_232_19576'%3E%3Crect width='10' height='14' fill='white' transform='matrix(-1 0 0 1 10 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E"));
  --_breadcrumb-link-color:
    var(--rh-breadcrumb-link-color,
      var(--rh-color-interactive-primary-default));
  --_breadcrumb-link-color-current-page:
    var(--rh-breadcrumb-link-color-current-page,
      var(--rh-color-text-primary));
  --_breadcrumb-link-color-current-page-subtle:
    var(--rh-breadcrumb-link-color-current-page-subtle,
      var(--rh-color-text-secondary));
  --_breadcrumb-link-color-hover:
    var(--rh-breadcrumb-link-color-hover,
      var(--rh-color-interactive-primary-hover));
  --_breadcrumb-link-color-visited:
    var(--rh-breadcrumb-link-color-visited,
      var(--rh-color-interactive-primary-visited-default));
  --_breadcrumb-link-color-visited-hover:
    var(--rh-breadcrumb-link-color-visited-hover,
      var(--rh-color-interactive-primary-visited-hover));
  --_breadcrumb-link-focus-outline-color:
    var(--rh-breadcrumb-link-focus-outline-color,
      var(--rh-color-border-interactive));
}
