rh-breadcrumb {
  display: block;
}

rh-breadcrumb ol {
  container-type: inline-size;
  container-name: breadcrumbs-list;
  font-size: var(--rh-font-size-body-text-sm, 0.875rem);
  line-height: var(--rh-line-height-body-text, 1.5);
  margin-block: 0;
  padding-inline-start: 0;
}

rh-breadcrumb > ol > li {
  background-image: var(--_breadcrumb-caret-image-default);
  background-position: calc(100% - 14px) center;
  background-repeat: no-repeat;
  background-size: 10px;
  display: inline-block;
  margin-block-end: var(--rh-space-md, 8px);
  padding-inline-end: var(--rh-breadcrumb-li-padding-inline-end, 42px);
  vertical-align: bottom;
}

rh-breadcrumb[variant='subtle'] > ol > li {
  background-image: var(--_breadcrumb-caret-image-subtle);
}

rh-breadcrumb > ol > li:first-child {
  padding-inline-start: 0;
}

rh-breadcrumb > ol > li:last-child {
  background-image: none;
}

rh-breadcrumb > ol > li,
rh-breadcrumb > ol > li > a {
  color: var(--_breadcrumb-link-color);
}

rh-breadcrumb > ol > li > a {
  text-decoration: underline;
}

rh-breadcrumb > ol > li > a:is(:hover, :focus, :active) {
  color: var(--_breadcrumb-link-color-hover);
}

rh-breadcrumb > ol > li > a:is(:focus, :focus-visible) {
  border-radius: var(--rh-border-radius-default, 3px);
  outline: 2px solid var(--_breadcrumb-link-focus-outline-color);
}

rh-breadcrumb > ol > li:first-child > a {
  margin-inline-start: 0;
}

rh-breadcrumb > ol > li > a:visited {
  color: var(--_breadcrumb-link-color-visited);
}

rh-breadcrumb > ol > li > a:visited:hover {
  color: var(--_breadcrumb-link-color-visited-hover);
}

rh-breadcrumb > ol > li:last-child,
rh-breadcrumb > ol > li > a[aria-current='page'] {
  color: var(--_breadcrumb-link-color-current-page);
  text-decoration: none;
}

rh-breadcrumb > ol > li > a[aria-current='page'] {
  cursor: default;
  pointer-events: none;
}

rh-breadcrumb[variant='subtle'] > ol > li:last-child,
rh-breadcrumb[variant='subtle'] > ol > li > a[aria-current='page'] {
  color: var(--_breadcrumb-link-color-current-page-subtle);
}
