:host {
  display: block;
}

#container {
  color: var(--rh-color-text-primary-on-light, #151515);
  background-color: var(--rh-color-surface-lightest, #ffffff);

  &:not(.visible) {
    display: none;
  }
}

#sections {
  padding: var(--rh-space-xl, 24px);
}

:host(:defined) {
  #container {
    &.visible {
      @container (min-width: 992px) {
        position: absolute;
        inset-inline: 0;
        padding:
          var(--rh-space-4xl, 64px)
          var(--rh-space-2xl, 32px)
          var(--rh-space-3xl, 48px);
        box-shadow: var(--rh-box-shadow-sm, 0 2px 4px 0 rgba(21, 21, 21, 0.2));
        z-index: -1;
        max-height: calc(100vh - (var(--rh-space-4xl, 64px)) - var(--_nav-min-height));
        overflow-y: scroll;
      }

      @container (min-width: 1200px) {
        padding: var(--rh-space-3xl, 48px) var(--rh-space-2xl, 32px);
      }

      @container (min-width: 1440px) {
        padding: var(--rh-space-3xl, 48px) var(--rh-space-4xl, 64px);
      }
    }
  }

  #sections {
    @container (min-width: 992px) {
      padding: 0;
      max-width: var(--rh-navigation-secondary-menu-content-max-width, 1136px);
      margin: auto;
    }
  }

  #full-width {
    @container (min-width: 1600px) {
      margin: auto;
    }
  }
}

:host([layout='fixed-width']) {
  #sections {
    padding: var(--rh-space-2xl, 32px);
  }
}

:host([layout='fixed-width']:defined) {
  #container {
    @container (min-width: 992px) {
      position: absolute;
      inset: var(--_nav-height) auto auto auto;
      margin-top: 0;
      padding: 0;
    }
  }
}

:host(:not([type='fixed-width'])) {
  #sections {
    display: grid;
    grid-template-columns:
      var(--rh-navigation-secondary-menu-section-grid,
        repeat(auto-fit,
        minmax(15.5rem, 1fr)));
    grid-template-rows: auto;
    gap: var(--rh-navigation-secondary-menu-section-grid-gap, var(--rh-space-2xl, 32px));
  }
}

::slotted(:is(ul, ol)) {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--rh-font-size-body-text-md, 1rem);
}
