:host {
  --_max-height: max-content;
  --_min-height: 80px;
  --_nav-max-height: var(--_max-height, max-content);
  --_nav-min-height: var(--_min-height, 80px);
  --_inline-padding: var(--rh-space-lg);

  display: block;
  position: sticky;
  inset-block-start: 0;
  container: navigation-secondary / inline-size;
  border-block-end: var(--rh-border-width-sm, 1px) solid transparent;
  box-shadow: var(--rh-box-shadow-sm, 0 2px 4px 0 rgba(21, 21, 21, 0.2));
  width: 100%;
  min-height: var(--_min-height);
  height: var(--_max-height);
}

#container {
  display: block;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;

  @container navigation-secondary (min-width: 567px) {
    --_inline-padding: var(--rh-space-xl);
  }

  @container navigation-secondary (min-width: 567px) {
    --_inline-padding: var(--rh-space-2xl);
  }
}

#bar {
  position: absolute;
  display: grid;
  /* stylelint-disable-next-line rhds/no-unknown-token-name */
  z-index: var(--rh-navigation-secondary-z-index, 102);
  grid-template-areas:
    'logo hamburger'
    'nav nav';
  grid-template-columns: 1fr min-content;
  grid-template-rows:
    minmax(var(--_nav-min-height), var(--_nav-max-height))
    max-content
    max-content;
  background-color: var(--rh-color-surface-lighter);
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}

#logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  font-family: var(--rh-font-family-heading, RedHatDisplay, 'Red Hat Display', 'Noto Sans Arabic', 'Noto Sans Hebrew', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans Malayalam', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans Thai', Helvetica, Arial, sans-serif);
  font-weight: var(--rh-font-weight-heading-medium);
  line-height: var(--rh-line-height-heading);
  padding-inline-start: var(--_inline-padding);
  /* stylelint-disable-next-line rhds/no-unknown-token-name */
  max-width: var(--rh-navigation-secondary-logo-max-width, 10em);

  & slot[name='logo']::slotted(*) {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--rh-color-text-primary) !important;
    padding-block: var(--rh-space-lg, 16px);
  }

  @container (min-width: 567px) {
    padding-inline-start: var(--_inline-padding);
  }
}

#nav-container {
  grid-area: nav;
}

#cta {
  grid-area: cta;
  display: flex;
  gap: var(--rh-space-sm);
  height: 100%;
  align-items: center;

  @container navigation-secondary (min-width: 992px) {
    padding-block: 0;
    padding-inline: 0 var(--_inline-padding);
  }
}

#hamburger {
  display: contents;

  & summary {
    --rh-icon-size: 12px;

    cursor: pointer;
    grid-area: hamburger;
    display: flex;
    gap: var(--rh-space-sm);
    height: 100%;
    align-items: center;
    margin-inline-end: var(--_inline-padding);
    padding-inline: 16px;

    &::marker {
      display: none;
    }
  }

  & #nav-container {
    display: flex;
    flex-direction: column;
    gap: var(--rh-space-2xl);
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;

    /* the color-surface token has a fallback for no JS scenarios */
    /* stylelint-disable-next-line rhds/token-values */
    background-color: var(--rh-color-surface, var(--rh-color-surface-lightest, #ffffff));

    & slot[name='nav']::slotted(ul) {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  &[open] {
    & summary {
      background-color: var(--rh-color-surface-lightest);

      rh-icon {
        rotate: 180deg;
      }
    }

    & #nav-container {
      padding-block: var(--rh-space-2xl);
      padding-inline: var(--_inline-padding);
      box-shadow: var(--rh-box-shadow-sm);
    }
  }
}

/* loads when JS isn't loaded and wide viewport */
#container:not(.compact) {
  #bar {
    @container navigation-secondary (min-width: 992px) {
      grid-template-areas: 'logo nav cta';
      grid-template-columns: max-content 1fr max-content;
      grid-template-rows: minmax(var(--_min-height), var(--_max-height)) max-content max-content;
    }
  }

  #nav-container {
    padding-inline: var(--rh-space-md) 0;

    & > slot[name='nav']::slotted(ul) {
      display: flex;
      flex-direction: row;
      gap: 0;
      height: 100%;
      align-items: center;
      margin: 0;
      padding: 0;
    }
  }

  #hamburger {
    & rh-surface {
      & > slot[name='nav']::slotted(ul) {
        gap: 0;
        flex-direction: row;
        align-items: center;
        margin-block: 0;
        margin-inline: var(--rh-space-md) 0;
      }
    }
  }
}
