:host {
  display: inline-flex;
  position: relative;
  z-index: 0;
  align-items: center;
  max-width: var(--rh-cta-max-width, max-content);
  background-color: var(--rh-cta-background-color, transparent);
  border-radius: var(--rh-border-radius-default, 0.1875rem);
  border: var(--rh-border-width-md, 0.125rem) solid var(--rh-cta-border-color, transparent);
  cursor: pointer;
  --rh-context-background-color: var(--rh-cta-background-color, transparent) !important;
}

::slotted(*) {
  white-space: normal;
  display: inline;
  padding: var(--rh-cta-padding, 0.6rem, 0) !important;
  color: inherit !important;
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  text-decoration: inherit !important;
}

:host(:is(:focus, :focus-within)),
:host(:is(:focus, :focus-within)) ::slotted(*),
::slotted(:focus) {
  outline: none !important;
}

::slotted(button),
::slotted(input) {
  background-color: transparent;
  border: medium none;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

#container {
  display: block;
  white-space: nowrap;
  min-width: 100%;
  color: var(--rh-cta-color, var(--rh-color-interactive-blue, #0066cc));
  font-family: var(--rh-cta-font-family, var(--rh-font-family-heading, "RedHatDisplay", "Overpass", Helvetica, Arial, sans-serif));
  font-size: var(--rh-cta-font-size, var(--rh-font-size-text-xl, 1.125rem));
  font-weight: var(--rh-cta-font-weight, var(--rh-font-weight-bold, 600));
  line-height: var(--rh-cta-line-height, var(--rh-line-height-lg, 1.5));
  text-decoration: var(--rh-cta-text-decoration, none);
}

#container.rtl svg {
  rotate: 180deg;
}

/** Inner border */
#container::after {
  content: '';
  display: block;
  height: calc(100% - 4px);
  width: calc(100% - 4px);

  box-sizing: border-box;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: -1;

  border: var(--rh-border-width-md, 0.125rem) solid var(--rh-cta-inner-border-color, transparent);
  border-radius: 2px;
  outline: none;
}

/* Default CTA arrow wrap fix for Firefox */
@media all and (min-moz-device-pixel-ratio:0) {
  :host(:not([variant])) #container {
    max-width: calc(100% - 1ch - var(--rh-cta-arrow-size, 13px));
  }
}

/** Default variant arrow icon */
svg {
  display: inline;
  translate: var(--rh-cta-arrow-translate, 0 0);
  padding-inline: 3px;
  fill: var(--rh-cta-color, var(--rh-color-interactive-blue, #0066cc));
  width: var(--rh-cta-arrow-size, 13px);
  height: var(--rh-cta-arrow-size, 13px);
  transition: translate
    var(--rh-animation-speed, 0.3s)
    var(--rh-animation-timing, cubic-bezier(0.465, 0.183, 0.153, 0.946));
  margin-bottom: -1px;
}

/*****************************************************************************
 * FOCUS STATE                                                               *
 *****************************************************************************/

:host(:is(:focus, :focus-within)) {
  background-color: var(--rh-cta-focus-background-color, transparent);
  border-color: var(--rh-cta-focus-border-color, transparent);
  --rh-cta-inner-border-color: var(--rh-cta-focus-inner-border-color, transparent);
}

:host(:is(:focus, :focus-within)) #container {
  color: var(--rh-cta-focus-color, var(--rh-context-color-link-focus, #004080));
  text-decoration: var(--rh-cta-text-decoration-focus, none);
}

/*****************************************************************************
 * HOVER STATE                                                               *
 *****************************************************************************/

:host(:hover) {
  background-color: var(--rh-cta-hover-background-color, transparent);
  border-color: var(--rh-cta-hover-border-color, transparent);
  --rh-cta-inner-border-color: var(--rh-cta-hover-inner-border-color, transparent);
  --rh-cta-arrow-translate: 3px 0;
}

:host(:hover) #container {
  color: var(--rh-cta-hover-color, var(--rh-context-color-link-hover, #004080));
  text-decoration: var(--rh-cta-text-decoration-hover, none);
}

:host(:hover) #container.rtl {
  --rh-cta-arrow-translate: -3px 0;
}

/*****************************************************************************
 * ACTIVE STATE                                                              *
 *****************************************************************************/

:host(:active) {
  background-color: var(--rh-cta-active-background-color, transparent);
  --rh-cta-inner-border-color: var(--rh-cta-active-inner-border-color, #ffffff) !important;
}

/*****************************************************************************
 * VARIANTS                                                                  *
 *****************************************************************************/

:host([variant]) #container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
}

:host([variant$=ary]) ::slotted(*) {
  font-size: var(--rh-cta-font-size-priority, var(--rh-font-size-text-lg, 1rem));
  text-align: center;
}

:host([variant]) {
  --rh-cta-padding: var(--rh-cta-priority-padding, var(--rh-space-md, 1rem) calc(var(--rh-space-md, 1rem) * 2)) !important;
}

:host([variant]) svg {
  display: none;
}

/*****************************************************************************
 * PRIMARY
 *****************************************************************************/

:host([variant=primary]) {
  --rh-cta-background-color: var(--rh-color-brand-red-on-light, #ee0000);
  --rh-cta-border-color: var(--rh-color-brand-red-on-light, #ee0000);
  --rh-cta-color: var(--rh-color-text-primary-on-dark, #ffffff);
  --rh-cta-hover-background-color: var(--rh-color-brand-red-dark, #be0000);
  --rh-cta-hover-border-color: var(--rh-color-brand-red-on-light, var(--rh-color-brand-red-dark, #be0000));
  --rh-cta-hover-color: var(--rh-color-text-primary-on-dark, #ffffff);
  --rh-cta-focus-background-color: var(--rh-color-brand-red-on-light, #ee0000);
  --rh-cta-focus-border-color: var(--rh-color-brand-red-on-light, #ee0000);
  --rh-cta-focus-color: var(--rh-color-text-primary-on-dark, #ffffff);
  --rh-cta-focus-inner-border-color: var(--rh-color-text-primary-on-dark, #ffffff);
  --rh-cta-active-background-color: var(--rh-color-brand-red-darker, #8F0000);
}

:host([variant=primary][on=dark]),
:host([variant=primary][on=saturated]) {
  --rh-cta-background-color: var(--rh-color-surface-lightest, #ffffff);
  --rh-cta-border-color: var(--rh-color-surface-lightest, #ffffff);
  --rh-cta-color: var(--rh-color-text-primary-on-light, #151515);
  --rh-cta-hover-background-color: var(--rh-color-surface-light, #f0f0f0);
  --rh-cta-hover-border-color: var(--rh-cta-secondary-color, #3c3f42);
  --rh-cta-hover-color: var(--rh-color-surface-lightest, #ffffff);
  --rh-cta-focus-background-color: var(--rh-color-surface-light, #f0f0f0);
  --rh-cta-focus-border-color: var(--rh-cta-secondary-border-color, #6a6e73);
  --rh-cta-focus-color: var(--rh-cta-secondary-border-color, #6a6e73);
  --rh-cta-focus-inner-border-color: var(--rh-cta-secondary-border-color, #6a6e73);
}

/*****************************************************************************
 * SECONDARY
 *****************************************************************************/

:host([variant=secondary]) {
  --rh-cta-background-color: transparent;
  --rh-cta-border-color: var(--rh-color-surface-darkest, #151515);
  --rh-cta-color: var(--rh-color-surface-darkest, #151515);
  --rh-cta-hover-background-color: var(--rh-color-surface-darkest, #151515);
  --rh-cta-hover-border-color: var(--rh-color-surface-darkest, #151515);
  --rh-cta-hover-color: var(--rh-color-primary-on-dark, #ffffff);
  --rh-cta-focus-background-color: var(--rh-color-surface-light, #f0f0f0);
  --rh-cta-focus-border-color: var(--rh-color-surface-darkest, #151515);
  --rh-cta-focus-color: var(--rh-color-surface-darkest, #151515);
  --rh-cta-focus-inner-border-color: var(--rh-color-surface-darkest, #151515);
  --rh-cta-active-color: var(--rh-color-surface-lightest, #ffffff);
  --rh-cta-active-background-color: var(--rh-color-surface-darkest, #151515);
  --rh-cta-active-inner-border-color: var(--rh-color-surface-light, #f0f0f0);
}

:host([variant=secondary][on=dark]),
:host([variant=secondary][on=saturated]) {
  --rh-cta-background-color: transparent;
  --rh-cta-border-color: var(--rh-color-surface-lightest, #ffffff);
  --rh-cta-color: var(--rh-color-surface-lightest, #ffffff);
  --rh-cta-hover-background-color: var(--rh-color-surface-light, #f0f0f0);
  --rh-cta-hover-border-color: var(--rh-color-surface-light, #f0f0f0);
  --rh-cta-hover-color: var(--rh-color-text-primary-on-light, #151515);
  --rh-cta-focus-background-color: var(--rh-color-surface-lightest, #ffffff);
  --rh-cta-focus-border-color: var(--rh-color-surface-lightest, #ffffff);
  --rh-cta-focus-color: var(--rh-color-text-primary-on-light, #151515);
  --rh-cta-focus-inner-border-color: var(--rh-color-text-primary-on-light, #151515);
}

/**
 * ===========================================================================
 * COLOR-PALETTE=ACCENT
 * ===========================================================================
 */


/* Primary omitted because it already uses the accent color */

:host([on^=light][color-palette=accent]),
:host([on^=dark][color-palette=accent]),
:host([on=saturated][color-palette=accent]) {
  --rh-context-color-text: var(--rh-color-text-primary-on-dark, #ffffff) !important;
  --rh-context-color-link: var(--rh-color-interactive-blue, #0066cc);
  --rh-context-color-link-hover: var(--rh-color-interactive-blue-darker, #004080);
  --rh-context-color-link-focus: var(--rh-color-interactive-blue-darker, #004080);
}

:host([variant=secondary][color-palette=accent]) {
  --rh-cta-background-color: transparent;
  --rh-cta-border-color: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-color: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-hover-background-color: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-hover-border-color: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-hover-color: var(--rh-color-text-primary-on-dark, #ffffff);
  --rh-cta-focus-background-color: var(--rh-color-surface-light, #f0f0f0);
  --rh-cta-focus-border-color: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-focus-color: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-focus-inner-border-color: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
}

/**
 * ===========================================================================
 * COLOR-PALETTE=BASE
 * ===========================================================================
 */

:host([on^=dark]) {
  --rh-context-color-text: var(--rh-color-text-primary-on-dark, #ffffff) !important;
  --rh-context-color-text-muted: var(--rh-color-black-300, #c9c9c9) !important;
  --rh-context-color-link: var(--rh-color-interactive-blue-lighter, #73bdf7) !important;
  --rh-context-color-link-hover: var(--rh-theme-color-link-hover-on-dark, #bee1f4) !important;
  --rh-context-color-link-focus: var(--rh-theme-color-link-focus-on-dark, #bee1f4) !important;
  --rh-context-color-link-visited: var(--rh-theme-color-link-visited-on-dark, #bee1f4) !important;
  --rh-context-color-link-decoration: var(--rh-theme-link-decoration-on-dark, none);
  --rh-context-link-decoration-hover: var(--rh-theme-link-decoration-hover-on-dark, underline) !important;
  --rh-context-link-decoration-focus: var(--rh-theme-link-decoration-focus-on-dark, underline) !important;
  --rh-context-link-decoration-visited: var(--rh-theme-link-decoration-visited-on-dark, none) !important;
}

:host([on=saturated]) {
  --rh-context-color-text: var(--rh-theme-color-text-on-saturated, #fff) !important;
  --rh-context-color-text-muted: var(--rh-theme-color-text-muted-on-saturated, #d2d2d2) !important;
  --rh-context-color-link: var(--rh-theme-color-link-on-saturated, #fff) !important;
  --rh-context-color-link-hover: var(--rh-theme-color-link-hover-on-saturated, #fafafa) !important;
  --rh-context-color-link-focus: var(--rh-theme-color-link-focus-on-saturated, #fafafa) !important;
  --rh-context-color-link-visited: var(--rh-theme-color-link-visited-on-saturated, #d2d2d2) !important;
  --rh-context-color-link-decoration: var(--rh-theme-link-decoration-on-saturated, underline) !important;
  --rh-context-color-link-decoration-hover: var(--rh-theme-link-decoration-hover-on-saturated, underline) !important;
  --rh-context-color-link-decoration-focus: var(--rh-theme-link-decoration-focus-on-saturated, underline) !important;
  --rh-context-color-link-decoration-visited: var(--rh-theme-link-decoration-visited-on-saturated, underline) !important;
}

:host([variant=primary][color-palette=base]) {
  --rh-cta-background-color: var(--rh-theme-color-ui-base, #6a6e73);
  --rh-cta-border-color: var(--rh-theme-color-ui-base, #6a6e73);
  --rh-cta-color: var(--rh-theme-color-ui-base-text, #fff);
  --rh-cta-hover-background-color: var(--rh-theme-color-ui-base-hover, #151515);
  --rh-cta-hover-border-color: var(--rh-theme-color-ui-base-hover, #151515);
  --rh-cta-hover-color: var(--rh-theme-color-ui-base-text, #fff);
  --rh-cta-focus-background-color: var(--rh-theme-color-ui-base, #6a6e73);
  --rh-cta-focus-border-color: var(--rh-theme-color-surface-darker, #3c3f42);
  --rh-cta-focus-color: var(--rh-theme-color-ui-base-text, #fff);
  --rh-cta-focus-inner-border-color: var(--rh-theme-color-ui-base-text, #fff);
}

:host([variant=secondary][color-palette=base]) {
  --rh-cta-background-color: transparent;
  --rh-cta-border-color: var(--rh-theme-color-ui-base, #6a6e73);
  --rh-cta-color: var(--rh-theme-color-ui-base, #6a6e73);
  --rh-cta-hover-background-color: var(--rh-theme-color-ui-base-hover, #151515);
  --rh-cta-hover-border-color: var(--rh-theme-color-ui-base-hover, #151515);
  --rh-cta-hover-color: var(--rh-theme-color-ui-base-text, #fff);
  --rh-cta-focus-background-color: rgba(40, 151, 240, 0.2);
  --rh-cta-focus-border-color: var(--rh-theme-color-ui-base, #6a6e73);
  --rh-cta-focus-color: var(--rh-theme-color-ui-base, #6a6e73);
  --rh-cta-focus-inner-border-color: var(--rh-theme-color-ui-base, #6a6e73);
}

/**
 * ===========================================================================
 * BRICK VARIANT
 * ===========================================================================
 */

:host([variant=brick]) {
  --rh-cta-background-color: transparent;
  --rh-cta-border-color: var(--rh-theme-color-surface-border, #d2d2d2);
  --rh-cta-color: var(--rh-context-color-link, #06c);
  --rh-cta-font-weight: var(--rh-theme-font-weight-normal, 400);
  --rh-cta-hover-background-color: var(--rh-theme-color-surface-border-lightest, #f5f5f5);
  --rh-cta-hover-border-color: var(--rh-theme-color-surface-border, #d2d2d2);
  --rh-cta-hover-color: var(--rh-color-interactive-blue-darker, #004080);
  --rh-cta-text-decoration-hover: var(--rh-theme-link-decoration-hover, underline);
  --rh-cta-focus-color: var(--rh-color-interactive-blue-darker, #004080);
  --rh-cta-focus-border-color: var(--rh-theme-color-surface-border, #d2d2d2);
  --rh-cta-focus-inner-border-color: var(--rh---border-color-focus);
  --rh-cta-active-background-color: var(--rh-theme-color-surface-border-lightest, #f5f5f5);
}

