:host {
  display: inline-block;
  position: relative;
  z-index: 0;
  vertical-align: middle;
  max-width: var(--rh-cta-max-width, max-content);
  background-color: var(--rh-cta-background-color, transparent);
  border-radius: var(--rh-cta-border-radius, var(--rh-border-radius-sharp, 0));
  border: var(--rh-border-width-md, 0.125rem) solid var(--rh-cta-border-color, transparent);
  cursor: pointer;
  --rh-context-background-color: var(--rh-cta-background-color, transparent) !important;
}

::slotted(*) {
  white-space: normal;
  display: inline;
  padding: var(--rh-cta-padding, 0.6rem, 0) !important;
  color: var(--rh-cta-color, var(--rh-color-interactive-blue, #0066cc)) !important;
  font-family: var(--rh-cta-font-family, var(--rh-font-family-heading, "RedHatDisplay", "Overpass", Helvetica, Arial, sans-serif));
  font-size: var(--rh-cta-font-size, var(--rh-font-size-text-xl, 1.125rem));
  font-weight: var(--rh-cta-font-weight, var(--rh-font-weight-bold, 600));
  line-height: var(--rh-cta-line-height, var(--rh-line-height-lg, 1.5));
  text-decoration: var(--rh-cta-text-decoration, none) !important;
}

:host([priority]) ::slotted(*) {
  font-size: var(--rh-cta-font-size-priority, var(--rh-font-size-text-lg, 1rem));
  text-align: center;
}

:host([aria-disabled=true]) ::slotted(*) {
  cursor: default !important;
  font-size: var(--rh-cta-font-size, var(--rh-font-size-text-lg, 1rem)) !important;
}

:host([priority]),
:host([aria-disabled=true]) {
  --rh-cta-padding: var(--rh-cta-priority-padding, var(--rh-space-md, 1rem) calc(var(--rh-space-md, 1rem) * 2)) !important;
}

:host([aria-disabled=true]) {
  pointer-events: none;
}

:host(:not([aria-disabled=true]):is(:focus, :focus-within)),
:host(:not([aria-disabled=true]):is(:focus, :focus-within)) ::slotted(*),
:host(:not([aria-disabled=true])) ::slotted(:focus) {
  outline: none !important;
}

::slotted(button),
::slotted(input) {
  background-color: transparent;
  border: medium none;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

#container {
  display: block;
  white-space: nowrap;
  min-width: 100%;
}

#container.rtl svg {
  rotate: 180deg;
}

/** Inner border */
#container::after {
  content: '';
  display: block;
  height: calc(100% - 4px);
  width: calc(100% - 4px);

  box-sizing: border-box;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: -1;

  border: var(--rh-border-width-md, 0.125rem) solid var(--rh-cta-inner-border-color, transparent);
  border-radius: 2px;
  outline: none;
}

:host([priority]) #container,
:host([aria-disabled=true]) #container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
}

/* Default CTA arrow wrap fix for Firefox */
@media all and (min-moz-device-pixel-ratio:0) {
  :host(:not([priority]):not([aria-disabled=true])) #container {
    max-width: calc(100% - 1ch - var(--rh-cta-arrow-size, 13px));
  }
}

svg {
  display: inline;
  translate: var(--rh-cta-arrow-translate, 0 0);
  padding-inline: 3px;
  fill: var(--rh-cta-color, var(--rh-color-interactive-blue, #0066cc));
  width: var(--rh-cta-arrow-size, 13px);
  height: var(--rh-cta-arrow-size, 13px);
  /* TODO: use translate property to leverage compositor */
  transition: translate
    var(--rh-animation-speed, 0.3s)
    var(--rh-animation-timing, cubic-bezier(0.465, 0.183, 0.153, 0.946));
  margin-bottom: -1px;
}

:host([priority]) svg {
  display: none;
}

/**
 * ===========================================================================
 * PRIORITY CTA VARIANTS
 * ===========================================================================
 */

:host([priority]) {
  --rh-cta-border-radius: var(--rh-border-radius-default, 0.1875rem);
}

:host([priority=primary]) {
  --rh-cta-background-color: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-border-color: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-color: var(--rh-color-text-primary-on-dark, #ffffff);
  --rh-cta-background-color-hover: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-border-color-hover: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-color-hover: var(--rh-color-text-primary-on-dark, #ffffff);
  --rh-cta-background-color-focus: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-border-color-focus: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-color-focus: var(--rh-color-text-primary-on-dark, #ffffff);
  --rh-cta-inner-border-color-focus: var(--rh-color-text-primary-on-dark, #ffffff);
}

:host([priority=secondary]) {
  --rh-cta-background-color: transparent;
  --rh-cta-border-color: var(--rh-cta-secondary-color, #3c3f42);
  --rh-cta-color: var(--rh-cta-secondary-color, #3c3f42);
  --rh-cta-background-color-hover: var(--rh-cta-secondary-color, #3c3f42);
  --rh-cta-border-color-hover: var(--rh-cta-secondary-color, #3c3f42);
  --rh-cta-color-hover: var(--rh-color-primary-on-dark, #ffffff);
  --rh-cta-background-color-focus: var(--rh-color-surface-light, #f0f0f0);
  --rh-cta-border-color-focus: var(--rh-cta-secondary-border-color, #6a6e73);
  --rh-cta-color-focus: var(--rh-cta-secondary-border-color, #6a6e73);
  --rh-cta-inner-border-color-focus: var(--rh-cta-secondary-border-color, #6a6e73);
}

/**
 * ===========================================================================
 * CONTEXT CTA VARIANTS
 * ===========================================================================
 */

:host([priority=primary][on=dark]),
:host([priority=primary][on=saturated]) {
  --rh-cta-background-color: var(--rh-color-surface-lightest, #ffffff);
  --rh-cta-border-color: var(--rh-color-surface-lightest, #ffffff);
  --rh-cta-color: var(--rh-color-text-primary-on-light, #151515);
  --rh-cta-background-color-hover: var(--rh-color-surface-light, #f0f0f0);
  --rh-cta-border-color-hover: var(--rh-cta-secondary-color, #3c3f42);
  --rh-cta-color-hover: var(--rh-color-surface-lightest, #ffffff);
  --rh-cta-background-color-focus: var(--rh-color-surface-light, #f0f0f0);
  --rh-cta-border-color-focus: var(--rh-cta-secondary-border-color, #6a6e73);
  --rh-cta-color-focus: var(--rh-cta-secondary-border-color, #6a6e73);
  --rh-cta-inner-border-color-focus: var(--rh-cta-secondary-border-color, #6a6e73);
}

:host([priority=secondary][on=dark]),
:host([priority=secondary][on=saturated]) {
  --rh-cta-background-color: transparent;
  --rh-cta-border-color: var(--rh-color-surface-lightest, #ffffff);
  --rh-cta-color: var(--rh-color-surface-lightest, #ffffff);
  --rh-cta-background-color-hover: var(--rh-color-surface-light, #f0f0f0);
  --rh-cta-border-color-hover: var(--rh-color-surface-light, #f0f0f0);
  --rh-cta-color-hover: var(--rh-color-text-primary-on-light, #151515);
  --rh-cta-background-color-focus: var(--rh-color-surface-lightest, #ffffff);
  --rh-cta-border-color-focus: var(--rh-color-surface-lightest, #ffffff);
  --rh-cta-color-focus: var(--rh-color-text-primary-on-light, #151515);
  --rh-cta-inner-border-color-focus: var(--rh-color-text-primary-on-light, #151515);
}

/**
 * ===========================================================================
 * COLOR ATTRIBUTE OVERRIDES
 * Default & Wind variant CTAs are ommitted because they use the link color, not UI colors
 * ===========================================================================
 */

/**
 * ===========================================================================
 * COLOR-PALETTE=ACCENT
 * ===========================================================================
 */


/* Primary omitted because it already uses the accent color */

:host([on^=light][color-palette=accent]),
:host([on^=dark][color-palette=accent]),
:host([on=saturated][color-palette=accent]) {
  --rh-context-color-text: var(--rh-color-text-primary-on-dark, #ffffff) !important;
  --rh-context-color-link: var(--rh-color-interactive-blue, #0066cc);
  --rh-context-color-link-hover: var(--rh-color-interactive-blue-darker, #004080);
  --rh-context-color-link-focus: var(--rh-color-interactive-blue-darker, #004080);
}

:host([priority=secondary][color-palette=accent]) {
  --rh-cta-background-color: transparent;
  --rh-cta-border-color: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-color: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-background-color-hover: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-border-color-hover: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-color-hover: var(--rh-color-text-primary-on-dark, #ffffff);
  --rh-cta-background-color-focus: var(--rh-color-surface-light, #f0f0f0);
  --rh-cta-border-color-focus: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-color-focus: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-inner-border-color-focus: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
}

/**
 * ===========================================================================
 * COLOR-PALETTE=BASE
 * ===========================================================================
 */

:host([on^=dark]) {
  --rh-context-color-text: var(--rh-color-text-primary-on-dark, #ffffff) !important;
  --rh-context-color-text-muted: var(--rh-color-black-300, #c9c9c9) !important;
  --rh-context-color-link: var(--rh-color-interactive-blue-lighter, #73bdf7) !important;
  --rh-context-color-link-hover: var(--rh-theme-color-link-hover-on-dark, #bee1f4) !important;
  --rh-context-color-link-focus: var(--rh-theme-color-link-focus-on-dark, #bee1f4) !important;
  --rh-context-color-link-visited: var(--rh-theme-color-link-visited-on-dark, #bee1f4) !important;
  --rh-context-color-link-decoration: var(--rh-theme-link-decoration-on-dark, none);
  --rh-context-link-decoration-hover: var(--rh-theme-link-decoration-hover-on-dark, underline) !important;
  --rh-context-link-decoration-focus: var(--rh-theme-link-decoration-focus-on-dark, underline) !important;
  --rh-context-link-decoration-visited: var(--rh-theme-link-decoration-visited-on-dark, none) !important;
}

:host([on=saturated]) {
  --rh-context-color-text: var(--rh-theme-color-text-on-saturated, #fff) !important;
  --rh-context-color-text-muted: var(--rh-theme-color-text-muted-on-saturated, #d2d2d2) !important;
  --rh-context-color-link: var(--rh-theme-color-link-on-saturated, #fff) !important;
  --rh-context-color-link-hover: var(--rh-theme-color-link-hover-on-saturated, #fafafa) !important;
  --rh-context-color-link-focus: var(--rh-theme-color-link-focus-on-saturated, #fafafa) !important;
  --rh-context-color-link-visited: var(--rh-theme-color-link-visited-on-saturated, #d2d2d2) !important;
  --rh-context-color-link-decoration: var(--rh-theme-link-decoration-on-saturated, underline) !important;
  --rh-context-color-link-decoration-hover: var(--rh-theme-link-decoration-hover-on-saturated, underline) !important;
  --rh-context-color-link-decoration-focus: var(--rh-theme-link-decoration-focus-on-saturated, underline) !important;
  --rh-context-color-link-decoration-visited: var(--rh-theme-link-decoration-visited-on-saturated, underline) !important;
}

:host([priority=primary][color-palette=base]) {
  --rh-cta-background-color: var(--rh-theme-color-ui-base, #6a6e73);
  --rh-cta-border-color: var(--rh-theme-color-ui-base, #6a6e73);
  --rh-cta-Color: var(--rh-theme-color-ui-base-text, #fff);
  --rh-cta-background-color-hover: var(--rh-theme-color-ui-base-hover, #151515);
  --rh-cta-border-color-hover: var(--rh-theme-color-ui-base-hover, #151515);
  --rh-cta-Color-hover: var(--rh-theme-color-ui-base-text, #fff);
  --rh-cta-background-color-focus: var(--rh-theme-color-ui-base, #6a6e73);
  --rh-cta-border-color-focus: var(--rh-theme-color-surface-darker, #3c3f42);
  --rh-cta-Color-focus: var(--rh-theme-color-ui-base-text, #fff);
  --rh-cta-inner-border-color-focus: var(--rh-theme-color-ui-base-text, #fff);

  --rh-cta-background-color: var(--rh-cta-secondary-border-color, #6a6e73);
  --rh-cta-border-color: var(--rh-cta-secondary-border-color, #6a6e73);
  --rh-cta-color: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-background-color-hover: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-border-color-hover: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-color-hover: var(--rh-color-text-primary-on-dark, #ffffff);
  --rh-cta-background-color-focus: var(--rh-color-surface-light, #f0f0f0);
  --rh-cta-border-color-focus: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-color-focus: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
  --rh-cta-inner-border-color-focus: var(--rh-theme-color-link, var(--rh-color-interactive-blue, #0066cc));
}

:host([priority=secondary][color-palette=base]) {
  --rh-cta-background-color: transparent;
  --rh-cta-border-color: var(--rh-theme-color-ui-base, #6a6e73);
  --rh-cta-Color: var(--rh-theme-color-ui-base, #6a6e73);
  --rh-cta-background-color-hover: var(--rh-theme-color-ui-base-hover, #151515);
  --rh-cta-border-color-hover: var(--rh-theme-color-ui-base-hover, #151515);
  --rh-cta-Color-hover: var(--rh-theme-color-ui-base-text, #fff);
  --rh-cta-background-color-focus: rgba(40, 151, 240, 0.2);
  --rh-cta-border-color-focus: var(--rh-theme-color-ui-base, #6a6e73);
  --rh-cta-Color-focus: var(--rh-theme-color-ui-base, #6a6e73);
  --rh-cta-inner-border-color-focus: var(--rh-theme-color-ui-base, #6a6e73);
}

/**
 * ===========================================================================
 * WIND CTA VARIANTS
 * ===========================================================================
 */

:host([priority=secondary][variant=wind]) {
  --rh-cta-background-color: transparent;
  --rh-cta-border-color: var(--rh-theme-color-surface-border, #d2d2d2);
  --rh-cta-Color: var(--rh-context-color-link, #06c);
  --rh-cta-FontWeight: var(--rh-theme-font-weight-normal, 400);
  --rh-cta-background-color-hover: var(--rh-theme-color-surface-border-lightest, #f5f5f5);
  --rh-cta-border-color-hover: var(--rh-theme-color-surface-border, #d2d2d2);
  --rh-cta-Color-hover: var(--rh-color-interactive-blue-darker, #004080);
  --rh-cta-text-decoration-hover: var(--rh-theme-link-decoration-hover, underline);
  --rh-cta-Color-focus: var(--rh-color-interactive-blue-darker, #004080);
  --rh-cta-border-color-focus: var(--rh-theme-color-surface-border, #d2d2d2);
  --rh-cta-inner-border-color-focus: var(--rh---border-color-focus);
}

/**
 * @TODO: Deprecated
 * ===========================================================================
 * DISABLED CTA VARIANTS
 * ===========================================================================
 */

:host([aria-disabled=true]) {
  --rh-cta__arrow-Display: none;
  --rh-cta-background-color: var(--rh-theme-color-ui-disabled, #d2d2d2);
  --rh-cta-border-color: var(--rh-theme-color-ui-disabled, #d2d2d2);
  --rh-cta-Color: var(--rh-theme-color-ui-disabled-text, #6a6e73);
}

/**
 * ===========================================================================
 * CTA STATES: HOVER, FOCUS
 * ===========================================================================
 */

/* Note: Focus states need to be defined before hover states */
:host(:not([aria-disabled=true]):is(:focus, :focus-within)) {
  --rh-cta-background-color: var(--rh-cta-background-color-focus, rgba(40, 151, 240, 0.2));
  --rh-cta-border-color: var(--rh-cta-border-color-focus, transparent);
  --rh-cta-Color: var(--rh-cta-Color-focus, var(--rh-context-color-link-focus, #004080));
  --rh-cta-text-decoration: var(--rh-cta-text-decoration-focus, none);
  --rh-cta-inner-border-color: var(--rh-cta-inner-border-color-focus, transparent);
}

/* Note: Hover states need to be defined after focus states */
:host(:not([aria-disabled=true]):hover),
:host(:not([aria-disabled=true])) ::slotted(:hover) {
  --rh-cta-background-color: var(--rh-cta-background-color-hover, transparent);
  --rh-cta-border-color: var(--rh-cta-border-color-hover, transparent);
  --rh-cta-Color: var(--rh-cta-Color-hover, var(--rh-context-color-link-hover, #004080));
  --rh-cta-text-decoration: var(--rh-cta-text-decoration-hover, none);
  --rh-cta-inner-border-color: var(--rh-cta-inner-border-color-hover, transparent);
}

:host(:not([aria-disabled=true]):hover) #container {
  --rh-cta-arrow-translate: 6px 0;
}

:host(:not([aria-disabled=true]):hover) #container.rtl {
  --rh-cta-arrow-translate: -6px 0;
}


