:host {
  line-height: 0;
  aspect-ratio: 1/1;
  display: inline-flex;
  place-content: center;
}

#container {
  display: contents;
}

svg {
  /** Override default icon size */
  width: var(--rh-icon-size, var(--rh-size-icon-01, 16px));

  /** color of the icon */
  fill: var(--rh-icon-fill, currentcolor);
  aspect-ratio: 1/1;
}

.standard svg {
  width: var(--rh-icon-size, var(--rh-size-icon-04, 40px));
}

.microns svg {
  min-width: 8px;
  max-width: 12px;
  width: var(--rh-icon-size, 12px);
}

.gradient-fill {
  --rh-icon-fill: url('#svg-gradient');
}

#svg-gradients {
  position: absolute;
  width: 0;
  height: 0;
}

#svg-gradient {
  --_icon-gradient-color-stop-1:
    /** color of the gradient's 1st stop */
    var(--rh-icon-gradient-color-stop-1,
      var(--rh-color-red-50, #ee0000)
    );
  --_icon-gradient-color-stop-2:
    /** color of the gradient's 2nd stop */
    var(--rh-icon-gradient-color-stop-2,
      var(--rh-color-purple-50, #5e40be)
    );
}
