:host {
  display: block;
}

#container {
  color: var(--rh-color-text-primary);
  padding: var(--rh-space-lg) var(--rh-space-3xl);

  @container (min-width: 992px) {
    margin: 0 auto;
    max-width: 1440px;
  }
}
