<!DOCTYPE html><html class="no-js" lang=""><head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Navigation (primary) | Red Hat design system</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://www.redhat.com/misc/favicon.ico" type="image/x-icon">

  <meta property="og:title" content="Red Hat design system">
  <meta property="og:site_name" content="Red Hat design system">
  <meta property="og:url" content="ux.redhat.com">
  <meta property="og:description" content="This is Red Hat's design system. Using Red Hat brand standards and PatternFly as our foundational design language, we enable designers and developers to concurrently build branded experiences across redhat.com, Red Hat Customer Portal, and beyond.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://ux.redhat.com/assets/opengraph.png">

  <meta name="pfe-auto-reveal" content="true">

  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css" media="all">

  <link rel="stylesheet" href="/assets/prism.css">
  <link rel="stylesheet" href="/assets/pfe.min.css">
  <link rel="stylesheet" href="/assets/rhds.min.css">

  <link rel="stylesheet" href="/assets/css/style.css" id="">

  

  <noscript>
    <link type="text/css" href="/assets/pfe--noscript.min.css">
  </noscript>

  <script type="module">
    import '/assets/rhds.min.js'
    const PfIcon = await customElements.whenDefined('pf-icon')
    PfIcon.getIconUrl = (set, icon) =>
      new URL(`/assets/packages/@patternfly/elements/pf-icon/icons/${set}/${icon}.js`, location.origin);
  </script>

</head>




  


<body class="page  page--navigation-(primary)" id="top" unresolved="">

  <div class="body-inner">

    


<script>
  window.onUsersnapCXLoad = function(api) {
    api.init();
  }
  var script = document.createElement('script');
  script.async = 1;
  script.src = 'https://widget.usersnap.com/load/64471a95-72fe-4239-b16d-ebcf8b1219f7?onload=onUsersnapCXLoad';
  document.getElementsByTagName('head')[0].appendChild(script);
</script>

<header class="l-header">

  <div class="l-header__logo-bar">
    <a href="/"><img class="l-header__logo" src="/assets/red-hat-design-system.svg" alt="Red Hat design system logo" style="max-width: 188px; min-width: 42px;"></a>
  </div>

  <input id="mobile-menu-toggle" class="menu-toggle element-invisible" type="checkbox" aria-controls="mobile-menu-menu-container">

  <label class="menu-toggle__button l-header__mobile-menu-toggle" for="mobile-menu-toggle" data-controls="mobile-menu-menu-container">
    <span class="l-header__burger-icon"></span>
    <span class="menu-toggle-assistive-text element-invisible">Toggle menu visibility</span>
  </label>

  <div class="menu-toggle__toggleable site-navigation__outer-wrapper">
    <nav class="l-header__site-navigation site-navigation menu-toggle__toggleable-content-wrapper">
      <ul class="site-navigation__wrapper">
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/">
    Home
  </a>

        </li>

        <!-- About

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/about/">
    About this website
  </a>

        </li> -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">About</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/about/">
    About this website
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/about/how-we-build/">
    How we build
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Get started -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Get started</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/">
    Overview
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/design-system-kit/">
    Design system kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/fts-starter-kit/">
    FTS starter kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/icon-libraries/">
    Icon libraries
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/product-logo-library/">
    Product logo library
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Foundations -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Foundations</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/">
    Overview
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

              </li>
              <!--<li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

                </li>-->
            </ul>
          </details>
        </li>

        <!-- Elements -->

        <li class="site-navigation__item">
          <details>
            <summary class="site-navigation__heading">Elements</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/">
    All elements
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/accordion/">
    Accordion
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/alert/">
    Alert
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/avatar/">
    Avatar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/blockquote/">
    Blockquote
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/call-to-action/">
    Call to action
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/footer/">
    Footer
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/navigation-secondary/">
    Navigation secondary
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/statistic/">
    Statistic
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/tooltip/">
    Tooltip
  </a>

                </li></ul>
          </details>
        </li>
        <!-- Components -->

        <li class="site-navigation__item">
          
          
            
          
          <details open="">
            <summary class="site-navigation__heading">Components</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/components/">
    All components
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/announcement/">
    Announcement
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/audio-player/">
    Audio player
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/button/">
    Button
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/card/">
    Card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/dialog/">
    Dialog
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/disclosure/">
    Disclosure
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/filter/">
    Filter
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/form/">
    Form
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/jump-links/">
    Jump links
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link/">
    Link
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link-with-icon/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
    
  
  <a class="site-navigation__sub-menu__link site-navigation__sub-menu__link--active" href="/components/navigation-primary/">
    Navigation (primary)
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/navigation-secondary/">
    Navigation (secondary)
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/popover/">
    Popover
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/progress-steps/">
    Progress steps
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/promo/">
    Promo
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/search-bar/">
    Search bar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/skip-navigation/">
    Skip navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-banner/">
    Sticky banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-card/">
    Sticky card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tabs/">
    Tabs
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/video-thumbnail/">
    Video thumbnail
  </a>

                </li></ul>
          </details>
        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/design-code-status/">
    Design/code status
  </a>

        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/release-notes/">
    Release notes
  </a>

        </li>

        <!--

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/get-started/">
    Get started
  </a>

        </li>

        -->

      </ul>
    </nav>
  </div>
</header>


<main class="l-main">
  <article class="l-main__inner">
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 id="navigation-(primary)" class="page-title">Navigation (primary)</h1>
      </div>
    </header>
    <div class="l-main__content">
      <div class="container">
        
        



  <section class="section section--palette-default container">
    <a id="Overview"></a>
    <h2 id="overview" class="section-title pfe-jump-links-panel__section">Overview</h2>
    <p>The Primary navigation is a container of menus and utilities, it allows visitors to orient themselves and move through a website. It is persistent on every page to ensure a consistent user experience across websites.</p>
  </section>



  <section class="section section--palette-default container">
    <a id="Sample%20component"></a>
    <h2 id="sample-component" class="section-title pfe-jump-links-panel__section">Sample component</h2>
    <img src="/assets/navigation-primary/primary-nav-example.png" alt="Primary navigation component sample" style="--inline-img-max-width: 1000px;">
  </section>



  <section class="section section--palette-default container">
    <a id="Demo"></a>
    <h2 id="demo" class="section-title pfe-jump-links-panel__section">Demo</h2>
    <p>View a live version of this component to see how it can be customized.</p>

  <rh-cta>
    <a href="https://codepen.io/heyMP/pen/gOoYXov" target="_blank">View this component in action</a>
  </rh-cta>
  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <a id="Anatomy"></a>
    <h2 id="anatomy" class="section-title pfe-jump-links-panel__section">Anatomy</h2>
    <p>The primary navigation is divided into <strong>three zones</strong> where content can be placed. Each zone may include custom content and elements in certain zones will collapse or become hidden completely as breakpoints get smaller. <strong>It is required to use all three zones.</strong></p>

  <ul>
    <li><strong>Zone 1</strong> - Website logo</li>
    <li><strong>Zone 2</strong> - Menus</li>
    <li><strong>Zone 3</strong> - Utilities</li>
  </ul>

  <div class="margin-bottom--4">
    <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Helpful tip</strong></span><br>The website logo in Zone 1 should direct visitors to a home page when selected.</p>
  </div>

  <img src="/assets/navigation-primary/primary-nav-anatomy.png" alt="Primary navigation - anatomy" style="--inline-img-max-width: 1000px;">

  <div class="multi-column--min-400-wide">
    <div>
      <h4 id="website-logo">Website logo</h4>
      <p>A branded logo corresponding to the website in which the primary navigation is used. It will direct a visitor to the website home page when selected.</p>
    </div>
    <div>
      <h4 id="menus">Menus</h4>
      <p>Text that triggers an expandable tray when selected. The content within is specific to one website and does not appear in the same format on other websites.</p>
    </div>
    <div>
      <h4 id="utilities">Utilities</h4>
      <p>Actions or tools that display content within an expandable tray when triggered or function as links. They can be unique to one website or global across many websites.</p>
    </div>
  </div>
  </section>



  <section class="section section--palette-default container">
    <a id="Style"></a>
    <h2 id="style" class="section-title pfe-jump-links-panel__section">Style</h2>
    <p>Elements in the primary navigation are high in contrast so they stand out to visitors and meet accessibility guidelines. The primary navigation looks similar in style to the <a href="../footer">Footer</a> for a consistent user experience across websites.</p>

  <img src="/assets/navigation-primary/primary-nav-style-intro.png" alt="Primary navigation - style" style="--inline-img-max-width: 1000px;">

  <h4 id="expandable-tray">Expandable tray</h4>

  <p>When menu text in Zone 2 is selected, an <strong>expandable tray</strong> will appear. It is divided into three parts and is styled the same across all primary navigation instances.</p>

  <ol>
    <li><strong>Tab</strong> - visually informs a visitor of what menu they selected</li>
    <li><strong>Tray</strong> - the area to place content, links, etc.</li>
    <li><strong>Overlay</strong> - separates tray content from website content underneath</li>
  </ol>

  <img src="/assets/navigation-primary/expandable-tray.png" alt="Primary navigation - expandable tray" style="--inline-img-max-width: 1000px;">

  <h4 id="expandable-tray-tab">Expandable tray tab</h4>

  <p>When the expandable tray tab appears, text and icon colors are reversed. A tab with a white background and red bar will also appear behind content.</p>

  <div class="margin-bottom--4">
    <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Helpful tip</strong></span><br>Menu text displays a gray arrow on hover to indicate that an expandable tray will appear when triggered.</p>
  </div>

  <img src="/assets/navigation-primary/expandable-tray-tab.png" alt="Primary navigation - expandable tray tab" style="--inline-img-max-width: 1000px;">

  <h4 id="layout">Layout</h4>

  <p>The primary navigation spans the entire width of the browser window on all breakpoints.</p>

  <img src="/assets/navigation-primary/layout-desktop.png" alt="Primary navigation - layout (desktop)" style="--inline-img-max-width: 1000px;">

  <img src="/assets/navigation-primary/layout-mobile.png" alt="Primary navigation - layout (mobile)" style="--inline-img-max-width: 360px;">

  <h4 id="left-to-right-languages">Left-to-right languages</h4>

  <p>When content is translated to other left-to-right languages, the primary navigation maintains the same layout and text size.</p>

  <img src="/assets/navigation-primary/languages-left-to-right.png" alt="Primary navigation - left-to-right languages" style="--inline-img-max-width: 1000px;">

  <h4 id="right-to-left-languages">Right-to-left languages</h4>

  <p>When content is translated to a right-to-left language like Hebrew, the text size increases so visual subtleties of unique characters are easier to notice.</p>

  <img src="/assets/navigation-primary/languages-right-to-left.png" alt="Primary navigation - right-to-left languages" style="--inline-img-max-width: 1000px;">
  </section>



  <section class="section section--palette-default container">
    <a id="Usage"></a>
    <h2 id="usage" class="section-title pfe-jump-links-panel__section">Usage</h2>
    <h4 style="margin-top: -4px;" id="primary-navigation">Primary navigation</h4>

  <p>The primary navigation is used for wayfinding on all Red Hat web properties. It should include the most important content a visitor needs or might be looking for.</p>

  <img src="/assets/navigation-primary/primary-nav-usage-intro.png" alt="Primary navigation - usage" style="--inline-img-max-width: 1000px;">

  <h4 id="full-width-expandable-tray">Full-width expandable tray</h4>

  <p>Menus will trigger an expandable tray when selected and include content or tasks that are specific to the website in which it is used. Use the expandable tray to organize a large amount of content in two, three, or four columns.</p>

  <div class="margin-bottom--3">
    <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br>Do not use more than 4 columns in a full-width expandable tray, consider using a component like <a href="../tabs">Tabs</a> instead for more organization options.</p>
  </div>

  <img src="/assets/navigation-primary/full-width-tray-4-columns.png" alt="Primary navigation - full-width expandable tray (four columns)" style="--inline-img-max-width: 1000px;">

  <p style="padding-top: 24px;">If content is organized in less than four columns, containers will stretch to fill the columns.</p>

  <div class="margin-bottom--5">
    <img src="/assets/navigation-primary/full-width-tray-3-columns.png" alt="Primary navigation - full-width expandable tray (three columns)" style="--inline-img-max-width: 1000px;">
  </div>

  <img src="/assets/navigation-primary/full-width-tray-2-columns.png" alt="Primary navigation - full-width expandable tray (two columns)" style="--inline-img-max-width: 1000px;">

  <h4 id="fixed-width-expandable-tray">Fixed-width expandable tray</h4>

  <p>Sometimes a small amount of content can be placed in a fixed-width expandable tray and the size of this expandable tray depends on the amount of content. Utilities are not able to leverage fixed-width expandable trays at this time.</p>

  <div class="margin-bottom--3">
    <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br>Do not use more than 2 columns to organize content in a fixed-width expandable tray, consider using a full-width expandable tray instead.</p>
  </div>

  <img src="/assets/navigation-primary/fixed-width-tray.png" alt="Primary navigation - fixed-width expandable tray" style="--inline-img-max-width: 1000px;">

  <h4 id="menu-slots">Menu slots</h4>

  <p>There is no maximum number of menu slots, but be conscious of space when adding menus especially when the text is translated to other languages.</p>

  <img src="/assets/navigation-primary/menu-slots.png" alt="Primary navigation - menu slots" style="--inline-img-max-width: 1000px;">

  <h4 id="components-in-an-expandable-tray">Components in an expandable tray</h4>

  <p>Use a component like <a href="../tabs">Tabs</a> to organize a very large amount of content that would exceed four columns. If the Tabs component is used, it will change to a nested <a href="../accordion">Accordion</a> on small breakpoints.</p>

  <div class="margin-bottom--4">
    <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Helpful tip</strong></span><br>Red Hat data analysis has shown that displaying 3 tabs performs better than displaying 5 tabs.</p>
  </div>

  <div class="margin-bottom--3">
    <img src="/assets/navigation-primary/components-in-tray-desktop.png" alt="Primary navigation - components in an expandable tray (desktop)" style="--inline-img-max-width: 1000px;">
  </div>

  <img src="/assets/navigation-primary/components-in-tray-mobile.png" alt="Primary navigation - components in an expandable tray (mobile)" style="--inline-img-max-width: 360px;">

  <h4 id="utilities">Utilities</h4>

  <p>The primary navigation includes utilities which are slots for actions or tools for global navigation (search for something, change the language, log in to your account, etc.). They may trigger an expandable tray when selected, but not all do. They are also customizable depending on specific audience needs or goals.</p>

  <div class="margin-bottom--4">
    <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Helpful tip</strong></span><br>The maximum number of utilities is 4 with the option of adding a fifth when included as part of a personalized experience.</p>
  </div>

  <img src="/assets/navigation-primary/primary-nav-utilities.png" alt="Primary navigation - utilities" style="--inline-img-max-width: 1000px;">

  <h4 id="utility-ordering">Utility ordering</h4>

  <p>The order of some utilities can be customized or even removed, but not all.</p>

  <ul>
    <li>The Account utility should always be visible on both large and small breakpoints</li>
    <li>The Search and Account utilities should always be visible on large breakpoints</li>
    <li>If a new utility is included as a part of a personalized experience, it should be first</li>
    <li>If no personalized experiences are active, the Search utility should be first and the Account utility should be last</li>
    <li>If a new utility requires a custom-designed icon, contact the <a href="mailto:brand@redhat.com">Brand team</a></li>
  </ul>

  <img src="/assets/navigation-primary/utility-ordering.png" alt="Primary navigation - utility ordering" style="--inline-img-max-width: 1000px;">

  <h4 id="utilities-with-an-expandable-tray">Utilities with an expandable tray</h4>

  <p>Similar to menus, utilities can also display a full-width expandable tray when triggered.</p>

  <img src="/assets/navigation-primary/utilities-expandable-tray.png" alt="Primary navigation - utilities with an expandable tray" style="--inline-img-max-width: 1000px;">

  <h4 id="menus-and-utilities-on-small-breakpoints">Menus and utilities on small breakpoints</h4>

  <p>When breakpoints become smaller, menus and most utilities will become hidden to reduce visual crowding. The Account utility should always be visible on any breakpoint.</p>

  <img src="/assets/navigation-primary/menus-utilities-small-breakpoints.png" alt="Primary navigation - menus and utilities on small breakpoints" style="--inline-img-max-width: 1000px;">
  </section>



  <section class="section section--palette-default container">
    <a id="Website%20examples"></a>
    <h2 id="website-examples" class="section-title pfe-jump-links-panel__section">Website examples</h2>
    <h4 style="margin-top: -4px;" id="redhatcom">redhat.com</h4>

  <img src="/assets/navigation-primary/example-rhdc.png" alt="Primary navigation - redhat.com example" style="--inline-img-max-width: 1000px;">

  <h4 id="customer-portal">Customer Portal</h4>

  <img src="/assets/navigation-primary/example-customer-portal.png" alt="Primary navigation - Customer Portal example" style="--inline-img-max-width: 1000px;">

  <h4 id="developer">Developer</h4>

  <img src="/assets/navigation-primary/example-developer.png" alt="Primary navigation - Developer example" style="--inline-img-max-width: 1000px;">

  <h4 id="hybrid-cloud">Hybrid Cloud</h4>

  <img src="/assets/navigation-primary/example-hybrid-cloud.png" alt="Primary navigation - Hybrid Cloud example" style="--inline-img-max-width: 1000px;">

  <h4 id="partner-connect">Partner Connect</h4>

  <img src="/assets/navigation-primary/example-partner-connect.png" alt="Primary navigation - Partner Connect example" style="--inline-img-max-width: 1000px;">
  </section>



  <section class="section section--palette-default container">
    <a id="Behavior"></a>
    <h2 id="behavior" class="section-title pfe-jump-links-panel__section">Behavior</h2>
    <h4 style="margin-top: -4px;" id="scrolling">Scrolling</h4>

  <p>The primary navigation is always sticky when scrolling on all devices and breakpoints.</p>

  <h4 id="menus">Menus</h4>

  <p>On hover, menu text will display a red bar and gray arrow indicating an expandable tray will be triggered if selected.</p>

  <img src="/assets/navigation-primary/primary-nav-menus.png" alt="Primary navigation - menus" style="--inline-img-max-width: 1000px;">

  <h4 id="utility-menus-vs-links">Utility menus vs. links</h4>

  <p>Some utilities leverage the expandable tray pattern or function as links.</p>

  <img src="/assets/navigation-primary/utility-menus-vs-links.png" alt="Primary navigation - utility menus vs. links" style="--inline-img-max-width: 1000px;">

  <h4 id="stacking">Stacking</h4>

  <p>When an <a href="../announcement">Announcement</a> component is used, the primary navigation is positioned below it.</p>

  <img src="/assets/navigation-primary/primary-nav-stacking.png" alt="Primary navigation - stacking" style="--inline-img-max-width: 1000px;">

  <h4 id="scrolling-with-expandable-tray">Scrolling with expandable tray</h4>

  <p>If the height of the expandable tray is shorter than the viewport, content will scroll underneath.</p>

  <img src="/assets/navigation-primary/scrolling-with-tray-1.png" alt="Primary navigation - scrolling with expandable tray" style="--inline-img-max-width: 1000px;">

  <p style="padding-top: 24px;">If the height of the expandable tray is taller than the viewport, the tray will scroll instead.</p>

  <div class="margin-bottom--3">
    <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br>Be careful with featuring too much content because visitors may not see key information if they have to scroll.</p>
  </div>

  <img src="/assets/navigation-primary/scrolling-with-tray-2.png" alt="Primary navigation - scrolling with expandable tray" style="--inline-img-max-width: 1000px;">

  <h4 id="navigating-between-expandable-trays">Navigating between expandable trays</h4>

  <p>Only one expandable tray can be visible at a time and there is no animation when navigating from one tray to the next.</p>

  <img src="/assets/navigation-primary/navigating-between-trays.png" alt="Primary navigation - navigating between expandable trays" style="--inline-img-max-width: 1000px;">

  <h4 id="collapsing-the-expandable-tray">Collapsing the expandable tray</h4>

  <p>Clicking or tapping anywhere outside of the expandable tray should collapse it. Pressing the <strong>esc</strong> key should collapse the expandable tray as well.</p>

  <img src="/assets/navigation-primary/collapsing-expandable-tray.png" alt="Primary navigation - collapsing the expandable tray" style="--inline-img-max-width: 1000px;">

  <h4 id="additional-behaviors">Additional behaviors</h4>

  <p>Keep in mind the following additional behaviors:</p>

  <ul>
    <li>The expandable tray should not collapse or expand without user input by mouse or keyboard</li>
    <li>Scrolling while the expandable tray is visible should not close the tray</li>
  </ul>
  </section>



  <section class="section section--palette-default container">
    <a id="Interaction%20states"></a>
    <h2 id="interaction-states" class="section-title pfe-jump-links-panel__section">Interaction states</h2>
    <h4 style="margin-top: -4px;" id="default">Default</h4>

  <div class="margin-bottom--2">
    <img src="/assets/navigation-primary/interaction-state-default.png" alt="Primary navigation - default interaction state" style="--inline-img-max-width: 1000px;">
  </div>

  <section class="section">
    <table width="100%;">
      <thead>
        <tr>
          <th>State</th>
          <th>Element</th>
          <th>Styling</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Default</td>
          <td>Menu text</td>
          <td>RH Text Regular, 16pt / 24 (1.5) / #fff</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>Utility icon</td>
          <td>#fff</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>Utility text</td>
          <td>RH Text Regular, 12pt / 18 (1.5) / #fff</td>
        </tr>
      </tbody>
    </table>
  </section>

  <h4 id="hover">Hover</h4>

  <div class="margin-bottom--2">
    <img src="/assets/navigation-primary/interaction-state-hover.png" alt="Primary navigation - hover interaction state" style="--inline-img-max-width: 1000px;">
  </div>

  <section class="section">
    <table width="100%;">
      <thead>
        <tr>
          <th>State</th>
          <th>Element</th>
          <th>Styling</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hover</td>
          <td>Menu and utility top bar</td>
          <td>#e00, 3px thickness</td>
        </tr>
        <tr>
          <td>Hover</td>
          <td>Arrow below menu text</td>
          <td>#6a6e73</td>
        </tr>
      </tbody>
    </table>
  </section>

  <h4 id="focus">Focus</h4>

  <div class="margin-bottom--2">
    <img src="/assets/navigation-primary/interaction-state-focus.png" alt="Primary navigation - focus interaction state" style="--inline-img-max-width: 1000px;">
  </div>

  <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Helpful tip</strong></span><br>The focus state carries over styles from the hover state and also adds a focus indicator.</p>

  <section class="section">
    <table width="100%;">
      <thead>
        <tr>
          <th>State</th>
          <th>Element</th>
          <th>Styling</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Focus</td>
          <td>Logo, menu, and utility focus indicator</td>
          <td>#fff, dashed, 1px border width</td>
        </tr>
        <tr>
          <td>Focus</td>
          <td>Menu and utility top bar</td>
          <td>#e00, 3px thickness</td>
        </tr>
      </tbody>
    </table>
  </section>

  <h4 id="active">Active</h4>

  <div class="margin-bottom--2">
    <img src="/assets/navigation-primary/interaction-state-active.png" alt="Primary navigation - active interaction state" style="--inline-img-max-width: 1000px;">
  </div>

  <section class="section">
    <table width="100%;">
      <thead>
        <tr>
          <th>State</th>
          <th>Element</th>
          <th>Styling</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Active</td>
          <td>Tab top bar</td>
          <td>#e00, 3px thickness</td>
        </tr>
        <tr>
          <td>Active</td>
          <td>Tab background</td>
          <td>#fff</td>
        </tr>
        <tr>
          <td>Active</td>
          <td>Menu text</td>
          <td>RH Text Regular, 16pt / 24 (1.5) / #151515</td>
        </tr>
        <tr>
          <td>Active</td>
          <td>Arrow below menu text</td>
          <td>#6a6e73</td>
        </tr>
      </tbody>
    </table>
  </section>
  </section>



  <section class="section section--palette-default container">
    <a id="Accessibility"></a>
    <h2 id="accessibility" class="section-title pfe-jump-links-panel__section">Accessibility</h2>
    <h4 style="margin-top: -4px;" id="focus-order">Focus order</h4>

  <p>A logical focus order helps visitors <strong>understand and operate</strong> Red Hat web properties. Elements need to receive focus in an order that preserves meaning, therefore the focus order should make sense and not jump around randomly.</p>

  <img src="/assets/navigation-primary/focus-order.png" alt="Primary navigation - focus order" style="--inline-img-max-width: 1000px;">
  </section>



  <section class="section section--palette-default container">
    <a id="Responsive%20design"></a>
    <h2 id="responsive-design" class="section-title pfe-jump-links-panel__section">Responsive design</h2>
    <h4 style="margin-top: -4px;" id="large-breakpoints">Large breakpoints</h4>

  <p>Both menus and utilities are visible in the primary navigation on large breakpoints.</p>

  <img src="/assets/navigation-primary/breakpoints-large.png" alt="Primary navigation - large breakpoints" style="--inline-img-max-width: 1000px;">

  <h4 id="medium-breakpoints">Medium breakpoints</h4>

  <p>As breakpoints become smaller, menus will collapse into a utility and accordion. <strong>This includes full-width and fixed-width expandable trays.</strong> On tablet breakpoints, a menu utility replaces the horizontal list of menus and maintains the same position for a smoother transition from large to small breakpoints.</p>

  <img src="/assets/navigation-primary/breakpoints-medium.png" alt="Primary navigation - medium breakpoints" style="--inline-img-max-width: 768px;">

  <h4 id="small-breakpoints">Small breakpoints</h4>

  <p>On small breakpoints, the menus and most of the utilities collapse into a menu and accordion.</p>

  <img src="/assets/navigation-primary/breakpoints-small.png" alt="Primary navigation - small breakpoints" style="--inline-img-max-width: 576px;">
  </section>



  <section class="section section--palette-default container">
    <a id="Best%20practices"></a>
    <h2 id="best-practices" class="section-title pfe-jump-links-panel__section">Best practices</h2>
    <h4 style="margin-top: -4px;" id="content-overload">Content overload</h4>

  <p>Do not overload the primary navigation with too many menus and utilities.</p>

  <img src="/assets/navigation-primary/best-practice-1.png" alt="Primary navigation - best practice 1" style="--inline-img-max-width: 1000px;">

  <h4 id="using-icons-alone">Using icons alone</h4>

  <p>Do not rely on icons alone to accurately represent content or actions, ambiguity will not help visitors find what they need.</p>

  <img src="/assets/navigation-primary/best-practice-2.png" alt="Primary navigation - best practice 2" style="--inline-img-max-width: 1000px;">

  <h4 id="change-spacing">Change spacing</h4>

  <p>Do not change the spacing between menus and utilities.</p>

  <img src="/assets/navigation-primary/best-practice-3.png" alt="Primary navigation - best practice 3" style="--inline-img-max-width: 1000px;">

  <h4 id="hiding-menus-and-utilities">Hiding menus and utilities</h4>

  <p>Do not hide menus and utilities on large breakpoints.</p>

  <img src="/assets/navigation-primary/best-practice-4.png" alt="Primary navigation - best practice 4" style="--inline-img-max-width: 1000px;">

  <h4 id="mixing-expandable-trays">Mixing expandable trays</h4>

  <p>Do not mix the full-width and fixed-width expandable trays within the same menu group.</p>

  <img src="/assets/navigation-primary/best-practice-5.png" alt="Primary navigation - best practice 5" style="--inline-img-max-width: 1000px;">
  </section>



  <section class="section section--palette-default container">
    <a id="Spacing"></a>
    <h2 id="spacing" class="section-title pfe-jump-links-panel__section">Spacing</h2>
    <p>The primary navigation uses <a href="../../foundations/spacing">spacers</a> to define space values between elements.</p>

  <h4 id="extra-large-breakpoints">Extra large breakpoints</h4>

  <img src="/assets/navigation-primary/spacing-extra-large.png" alt="Primary navigation - Spacing for extra large breakpoints" style="--inline-img-max-width: 1000px;">

  <h4 id="large-breakpoints">Large breakpoints</h4>

  <img src="/assets/navigation-primary/spacing-large.png" alt="Primary navigation - Spacing for large breakpoints" style="--inline-img-max-width: 1000px;">

  <h4 id="medium-breakpoints">Medium breakpoints</h4>

  <img src="/assets/navigation-primary/spacing-medium.png" alt="Primary navigation - Spacing for medium breakpoints" style="--inline-img-max-width: 768px;">

  <h4 id="small-breakpoints">Small breakpoints</h4>

  <img src="/assets/navigation-primary/spacing-small.png" alt="Primary navigation - Spacing for small breakpoints" style="--inline-img-max-width: 360px;">

  <h4 id="fixed-width-expandable-tray">Fixed-width expandable tray</h4>

  <img src="/assets/navigation-primary/spacing-fixed-width-tray.png" alt="Primary navigation - Spacing for the fixed-width expandable tray" style="--inline-img-max-width: 1000px;">
  </section>


<div class="multi-column--min-300-wide">

  
  <section class="section section--palette-default container">
    <a id="Feedback"></a>
    <h2 id="feedback" class="section-title pfe-jump-links-panel__section">Feedback</h2>
    <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  </section>


  
  <section class="section section--palette-default container">
    <a id="Foundations"></a>
    <h2 id="foundations" class="section-title pfe-jump-links-panel__section">Foundations</h2>
    <p>To learn how to use our other components in your designs, visit the <a href="/components">Components</a> section.</p>
  </section>


</div>

      </div>
    </div>
  </article>
    

  <footer class="main-footer">
    <img style="max-width: 135px;" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark.svg" alt="Red Hat">
    <p>Copyright © 2021-2023 Red Hat, Inc.</p>
    <div class="main-footer--list">
      <ul>
        <li><a href="https://www.redhat.com/en/about/privacy-policy">Privacy statement</a></li>
        <li><a href="https://www.redhat.com/en/about/terms-use">Terms of use</a></li>
        <li><a href="https://www.redhat.com/en/about/all-policies-guidelines">All policies and guidelines</a></li>
      </ul>
    </div>

    <a id="netlify-badge" href="https://www.netlify.com" target="_blank" rel="noreferrer noopener">
      <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" alt="Deploys by Netlify">
    </a>
  </footer>

<div class="back-to-top">
    <a href="#top" class="back-to-top-link">
        <img src="/assets/back-to-top.svg" alt="Scroll back to the top">
    </a>
</div>

</main>


  </div>
  <script src="/js/global.js"></script>



</body></html>