
rh-context-provider,
#demo-container {
  padding: 0.5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 1em;
  grid-auto-columns: 1fr;
}

rh-context-provider > div,
#demo-container > div {
  height: fit-content;
}

rh-avatar,
rh-cta  {
  margin-block-start: 0.5em;
}

h2:not([slot="header"]) {
  margin-block-end: 0.5em;
}

rh-card {
  max-width: 360px; 
  height:fit-content;
}

.logo {
  max-width: 100%;
}

rh-card.bar::part(header) {
  background-color: var(--_background-color, #f0f0f0);
  text-transform: uppercase;
  font-weight: var(--rh-font-weight-heading-regular, 300);
  font-size: var(--rh-font-size-body-text-md, 1rem);
}

rh-card.full::part(header) {
  padding-inline: 0;
}

rh-card.full img {
  display: block;
  min-width: 100%;
  height: auto;
}

rh-card.alt,
rh-context-provider[color-palette^="light"] rh-card.alt {
  --rh-background-color: #f0f0f0;
}

rh-context-provider[color-palette^="dark"] rh-card.alt {
  --rh-background-color: #3c3f42;
}

rh-card.center::part(body),
rh-card.center::part(footer) {
  justify-content: center;
  text-align: center;
}

rh-card.end::part(body),
rh-card.end::part(footer) {
  justify-content: end;
  text-align: end;
}