
rh-context-provider,
#demo-container {
  padding: 0.5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 1em;
  grid-auto-columns: 1fr;
}

rh-context-provider > div,
#demo-container > div {
  min-height: 500px;
}

rh-avatar,
rh-cta  {
  margin-block-start: 0.5em;
}

h2:not([slot="header"]) {
  margin-block-end: 0.5em;
}

rh-card {
  max-width: 360px; 
}

.logo {
  max-width: 100%;
}

rh-card.bar::part(header) {
  background-color: var(--_header-background-color);
  text-transform: uppercase;
  font-weight: var(--rh-font-weight-heading-regular, 300);
  font-size: var(--rh-font-size-body-text-md, 1rem);
}

rh-card.full::part(header) {
  padding-inline: 0;
}

rh-card.full img {
  display: block;
  min-width: 100%;
  height: auto;
}