:host {
  display: block;
  max-width: 1000px;
  max-height: 640px;
}

[hidden] {
  display: none !important;
}

#container,
#content-lines,
#content,
#sizers {
  max-width: 100%;
}

#container {
  --_code_bg: var(--rh-color-surface-lighter, #f2f2f2);

  display: grid;
  place-items: center;
  grid-template-columns: auto min-content;
  grid-template-areas:
    "code actions"
    "expand expand";
  column-gap: var(--rh-space-xl, 24px);
  padding-inline-start: var(--rh-space-xl, 24px);
  padding-block-end: var(--rh-space-xl, 24px);
  border-radius: var(--rh-border-radius-default, 3px);
  background-color: var(--_code_bg);
  border: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle-on-light, #c7c7c7);
  border-block-start-width:
    var(
        --rh-code-block-border-block-start-width,
        var(--rh-border-width-sm, 1px)
      );
}

#container.expandable {
  padding-block-end: 0;
}

#sizers,
#content {
  display: block;
  font-family: var(--rh-font-family-code, RedHatMono, "Red Hat Mono", "Courier New", Courier, monospace);
  color: var(--rh-color-text-primary-on-light, #151515);
  z-index: 1;
  place-self: start;
  grid-area: code;
}

#sizers,
#content::slotted(:is(script, pre)) {
  display: inline;
  white-space: pre;
  color: inherit;
}

#content::slotted(rh-tag) {
  width: var(--rh-size-icon-06, 64px);
}

.truncated :is(#content-lines) {
  max-height: calc(8 * var(--rh-font-size-code-md, 1rem));
}

.truncated #content-lines:after {
  content: "";
  display: block;
  position: sticky;
  z-index: 2;
  inset-block-end: var(--rh-border-width-sm, 1px);
  inset-inline: calc(-1 * var(--rh-border-width-sm, 1px));
  height: calc(2 * var(--rh-font-size-code-md, 1rem));

  /* background: linear-gradient(0deg, var(--_code_bg), transparent); */
  background: linear-gradient(0deg, #f2f2f2 0%, rgba(242, 242, 242, 0) 100%);
  pointer-events: none;
}

#expand {
  display: inline-flex;
  gap: var(--rh-space-md, 8px);
  align-items: center;
  border: 0;
  background: transparent;
  inset-block-end: var(--rh-space-md, 8px);
  grid-area: expand;
  margin-block: var(--rh-space-md, 8px);
  color: var(--rh-color-text-primary-on-light, #151515);
  font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif);
  font-size: var(--rh-font-size-body-text-sm, 0.875rem);
  font-weight: var(--rh-font-weight-body-text-regular, 400);
  line-height: var(--rh-line-height-body-text, 1.5);
}

#expand svg {
  width: 11px;
  height: 7px;
  rotate: 180deg;
  transform: rotate 0.2s ease-in-out;
  color: var(--rh-color-icon-secondary-on-light, #151515);
}

.fullHeight #expand svg {
  rotate: 0deg;
}

#actions {
  display: flex;
  grid-area: actions;
  gap: var(--rh-space-md, 8px);
  flex-flow: column;
  margin-block-start: var(--rh-space-lg, 16px);
  margin-inline-end: var(--rh-space-lg, 16px);
  z-index: 2;
  place-self: start center;
}

::slotted(pre) {
  margin: 0 !important;
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
}

.dark #content {
  --_code-bg: var(--rh-color-surface-darker, #1f1f1f);

  border-color: var(--rh-color-border-subtle-on-dark, #707070);
  color: var(--rh-color-text-secondary-on-dark, #c7c7c7);
}

.dark #expand {
  background: var(--rh-color-surface-darkest, #151515);
  color: var(--rh-color-text-primary-on-dark, #ffffff);
}

.dark #expand svg {
  color: var(--rh-color-icon-secondary-on-dark, #ffffff);
}

:host([compact]) #sizers,
:host([compact]) #content {
  padding: var(--rh-space-lg, 16px);
  height: calc(100% - 2 * var(--rh-space-lg, 16px));
}

.wrap #sizers,
.wrap #content::slotted(:is(script, pre)) {
  white-space: pre-wrap;
  word-wrap: break-word;
}

:host([full-height]) #sizers,
:host([full-height]) #content {
  max-height: initial;
}

#content-lines {
  display: grid;
  column-gap: var(--rh-space-lg, 16px);
  grid-area: code;
  grid-template-areas: "lines code";
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
  position: relative;
  overflow-y: auto;
  margin-block-start: var(--rh-space-xl, 24px);
}

#line-numbers {
  pointer-events: none;
  overflow-y: hidden;
  margin: 0;
  grid-area: lines;
  list-style-type: none;
  padding-inline: 0 var(--rh-space-md, 8px);
  text-align: end;
  font-family: var(--rh-font-family-code, RedHatMono, "Red Hat Mono", "Courier New", Courier, monospace);
  color: var(--rh-color-gray-60, #4d4d4d);
  font-weight: var(--rh-font-weight-code-regular, 400);
  border-inline-end:
    var(--rh-border-width-sm, 1px) solid
    var(--rh-color-border-subtle-on-light, #c7c7c7);
}

.dark #line-numbers {
  border-inline-end-color: var(--rh-color-border-subtle-on-dark, #707070);
}

:host([resizable]) #content-lines {
  resize: vertical;
  overflow-x: scroll;
}

#sizers {
  position: absolute;
  min-width: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  z-index: -10000;
}
