:host {
  display: block;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: var(--rh-space-md, 8px);
  border-radius: var(--rh-border-radius-default, 3px);
  background: transparent;
  color: var(--rh-color-text-primary-on-light, #151515);
  width: var(--rh-length-3xl, 48px);
  height: var(--rh-length-3xl, 48px);
}

button:is(:hover, :focus, :active) {
  background: var(--rh-color-surface-light, #e0e0e0);
}

.dark {
  color: var(--rh-color-text-primary-on-light, #151515);
}

.dark button:is(:hover, :focus, :active) {
  background: var(--rh-color-surface-dark, #383838);
}

svg {
  width: var(--rh-size-icon-02, 24px);
  height: var(--rh-size-icon-02, 24px);
}
