:host {
  display: block;
  background-color: #f5f5f5;
  border: 1px solid #d2d2d2;
  padding: var(--rh-space-xl, 24px);
}

::slotted(script) {
  display: inline;
  white-space: pre;
  font-family: var(--rh-font-family-code, RedHatMono, "Red Hat Mono", "Courier New", Courier, monospace);
  color: var(--rh-color-text-primary-on-light, #151515);
}
