.best-practices-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--rh-space-4xl, 64px);
  padding-block-start: var(--rh-space-2xl, 32px);
}

.correct {
  color: #3d7317;
}

.correct:before {
  content: url("../best-practices-success-icon.svg");
  display: inline-block;
  width: var(--rh-length-xl, 24px);
  height: var(--rh-length-xl, 24px);
  vertical-align: text-top;
  margin-inline-end: var(--rh-space-xs, 4px);
}

.wrong {
  color: #b1380b;
}

.wrong:before {
  content: url("../best-practices-danger-icon-red-orange.svg");
  display: inline-block;
  width: var(--rh-length-xl, 24px);
  height: var(--rh-length-xl, 24px);
  vertical-align: text-top;
  margin-inline-end: var(--rh-space-xs, 4px);
}

.best-practices-grid img {
  margin-inline: auto;
  border-radius: 8px;
}
