.component-status-list-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.component-status-list-container {
  border: 1px solid #c7c7c7;
  border-radius: 8px;

  dl {
    display: flex;
    align-items: flex-start;
    column-gap: 32px;
    margin-block: 16px 16px;
    margin-inline: 24px 24px;
  }

  dl div {
    display: flex;
    column-gap: 8px;
    align-items: center;
  }

  dl dd {
    text-transform: capitalize;
  }

  dl dt {
    font-size: var(--rh-font-size-body-text-md);
    &:after {
      content: ": ";
    }
  }

  dl dt,
  dl dd {
    margin: 0;
    padding: 0;
  }
  
}

.component-status-table {
  table tbody td:first-child {
    text-transform:  capitalize;
  }
}

@media only screen and (max-width: 991px) {
  .component-status-list-container {
    dl {
      flex-direction: column;
      row-gap: 16px;
    }
  }

  .component-status-list-heading {
    flex-direction: column;
    align-items: flex-start;
  }

  .component-status-table {
    table thead ~ tbody tr:nth-child(even) {
      background: none;
    }
    table thead ~ tbody tr:first-child {
      border-top: none;
    }
    table thead ~ tbody tr:last-child {
      border-bottom: none;
    }
    table tr td {
      border: none;
    }
  }
}
