@use "sass:map";
@use "../__core/variables" as *;
@use "../__core/mixins" as *;

rh-alert + .example {
  margin-top: 32px;
}

.example {
  display: flex;
  align-items: center;
  padding: 32px;

  @include breakpoint(tango) {
    width: calc(100vw - #{$fixed-sidebar-width + 240px});
    padding: 64px;
    margin-bottom: 64px;
    max-width: 100%;
  }

  + .example {
    margin-top: 32px;

    @include breakpoint(tango) {
      margin-top: -32px;
    }
  }

  + .footnote {
    display: inline-block;
    margin-top: 16px;
  }

  + .footnote-alignment {
    display: inline-block;
    margin-top: 16px;

    @include breakpoint(tango) {
      margin-top: -48px;
    }
  }

  + table {
    margin-top: 16px;

    @include breakpoint(tango) {
      margin-top: -48px;
    }
  }

  img:only-child {
    display: block;
    margin: 0 auto;
  }

  &--descriptor {
    font-size: 16px;
    align-items: center;
    justify-content: center;
    text-align: left;

    img {
      display: block;
      margin-bottom: 16px;
      flex-shrink: 0;
    }
  }

  rh-cta {
    margin-bottom: 16px;
  }
}

// .footnote + .example {
//   margin-bottom: 0;
// }

.example--palette-light {
  background: #ffffff;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
}

.example--palette-lightest {
  background: transparent;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
}

.example--palette-darkest {
  background: #151515;
  border-radius: 8px;
}

.example--palette-wrong {
  background-color: transparent;
  background-image: url(../best-practices-danger-icon.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position-x: 8px;
  background-position-y: 8px;
  border: 1px solid #ee0000;
  border-radius: 8px;
}

.example--palette-medium {
  background: #f0f0f0;
  border-radius: 8px;
}

.example--palette-dark {
  background: #15151580;
  border-radius: 8px;
}

.example--palette-descriptive {
  background: transparent;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 24px;

  img {
    width: auto;
    max-width: var(--inline-img-max-width, 100%);
    max-height: var(--inline-img-max-height, auto);
  }

}

.example--palette-descriptive-blue {
  background: #0066cc;

  /* border: 1px solid #d2d2d2; */
  border-radius: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 24px;

  img {
    width: auto;
    max-width: var(--inline-img-max-width, 100%);
    max-height: var(--inline-img-max-height, auto);
  }
}

.example--palette-descriptive-dark-gray {
  background: rgba(0, 0, 0, 0.65);

  /* border: 1px solid #d2d2d2; */
  border-radius: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 24px;

  img {
    width: auto;
    max-width: var(--inline-img-max-width, 100%);
    max-height: var(--inline-img-max-height, auto);
  }
}

.example--palette-descriptive-gray {
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 24px;

  img {
    width: auto;
    max-width: var(--inline-img-max-width, 100%);
    max-height: var(--inline-img-max-height, auto);
  }
}

.example--palette-descriptive-light-gray {
  background: #f0f0f0;
  border-radius: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 24px;

  img {
    width: auto;
    max-width: var(--inline-img-max-width, 100%);
    max-height: var(--inline-img-max-height, auto);
  }
}

.example--palette-descriptive {
  &.gray-bg {
    background-color: rgb(var(--rh-color-gray-90-rgb, 21 21 21) / var(--rh-opacity-60, 60%));
    border: none;
  }
}

.example--typography {
  .example & {
    padding: 32px;

    p {
      margin: 0;
    }
  }

}

.section {
  .example {
    img {
      max-width: var(--example-img-max-width, 100%);
      max-height: var(--example-img-max-height, auto);
      object-fit: contain;
      overflow: hidden;
    }
  }
}