@use "sass:map";
@use "../__core/variables" as *;
@use "../__core/mixins" as *;

.menu-toggle {
  @include visually-hidden;

  @include breakpoint($nav-break) {
    display: none;
  }
}

.menu-toggle-button {
  display: block;
  cursor: pointer;
  border: 0;
  overflow: hidden;
  background: transparent;
  appearance: none;
  user-select: none;

  @include breakpoint($nav-break) {
    display: none;
  }
}

// NOTE: the JS solution is more accessible

#mobile-menu-toggle ~ .menu-toggle-toggleable,
.menu-toggle-toggleable.js {
  width: 0;
  overflow: hidden;
  background: #ffffff;
  visibility: var(--toggle-visibility, hidden);
  transition:
    visibility 0s    var(--visibility-delay, 0.4s),
    width      0.25s ease-in-out;

  @include breakpoint($nav-break) {
    overflow: visible;
    visibility: visible;
  }
}

#mobile-menu-toggle:checked ~ .menu-toggle-toggleable,
.menu-toggle-toggleable.js.open {
  --toggle-visibility: visible;
  --visibility-delay: 0s;

  width: $fixed-sidebar-width;
}
