.sample-element {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  padding: var(--rh-space-4xl);
  border-radius: var(--rh-border-radius-default);
  border: var(--rh-border-width-sm) solid var(--rh-color-border-subtle-on-light);
  gap: var(--rh-space-md);

  &.stacked {
    grid-template: repeat(auto-fill, minmax(1px, 1fr)) / 1fr;
  }

  @media (min-width: 992px) {
    padding: var(--rh-space-7xl);
    gap: var(--rh-space-lg);
  }
}
