@use "sass:map";
@use "../__core/variables" as *;
@use "../__core/mixins" as *;

.section {
  + .section {
    @include breakpoint(tango) {
      margin-block-start: var(--rh-space-5xl, 80px);
    }
  }

  .container &,
  .section & {
    margin-block-end: var(--rh-space-4xl, 64px);
    padding-left: 0;
    padding-right: 0;

    @include breakpoint(tango) {
      margin-block-end: var(--rh-space-5xl, 80px);
    }
  }

  h2 {
    font-size: 24px;
    line-height: 31px;

    @include breakpoint(romeo) {
      font-size: 28px;
      line-height: 37px;
    }
  }

  h3 {
    margin-top: 16px;
    font-size: 20px;
    margin-bottom: 16px;

    @include breakpoint(romeo) {
      font-size: 24px;
      margin-top: var(--rh-space-4xl);
    }
  }

  h2 + h3,
  h2 + h4 {
    margin-top: 32px;
  }

  h4 {
    font-weight: 500;
    margin: 32px 0 16px;
    font-size: 18px;
    line-height: 25px;

    @include breakpoint(lima) {
      font-size: 20px;
      line-height: 26px;
    }

    a {
      text-decoration: none;
    }
  }

  p {
    max-width: 1000px;
    margin-top: 16px;
    margin-bottom: 16px;

    a {
      text-decoration: none;
      color: #0066cc;

      &:hover {
        text-decoration: underline;
        color: #004080;
      }
    }

    + .example {
      margin-top: 32px;
    }
  }

  p + ul {
    margin-bottom: 24px;
    margin-top: 0;
  }

  img {
    width: auto;
    max-width: var(--inline-img-max-width, 100%);
    max-height: var(--inline-img-max-height, auto);
  }

  table {
    border: 0;

    tbody {
      border: 0;
    }

    th {
      text-align: left;
      font-size: 14px;
    }

    tr {
      border: 1px solid #d2d2d2;
      border-top: 0;
      border-left: 0;
      border-right: 0;

      td {
        border: 1px solid #d2d2d2;
        border-right: 0;
        border-left: 0;
        font-size: 16px;

        a {
          text-decoration: none;
        }

        img {
          width: auto;
        }
      }

      &:first-child {
        td {
          border-top: 0;
        }
      }

      &.font-scale-altered {
        td:nth-child(2) {
          color: #b8bbbe;
        }

        td:nth-child(3) {
          color: #ee0000;
        }
      }

      &.font-scale-same {
        td:nth-child(3) {
          color: #51a549;
        }
      }
    }
  }

  ul {
    li {
      line-height: 40px;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  ol {
    li {
      line-height: 40px;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
