@use 'sass:map';
@use '../__core/variables' as *;
@use '../__core/mixins' as *;

.section {
  + .section {
    @include breakpoint(tango) {
      margin-block-start: var(--rh-space-5xl, 80px);
    }
  }

  .container &,
  .section & {
    margin-block-end: var(--rh-space-4xl, 64px);
    padding-left: 0;
    padding-right: 0;
    @include breakpoint(tango) {
      margin-block-end: var(--rh-space-5xl, 80px);
    }
  }
}

