@use 'sass:map';
@use '../__core/variables' as *;
@use '../__core/mixins' as *;

.site-navigation__outer-wrapper {
  $current-header-height: map.get($header-height, default);
  position: fixed;
  top: map.get($header-height, default);
  left: 0;
  z-index: 10;
  height: calc(100vh - #{$current-header-height});
  @include breakpoint($nav-break) {
    $current-header-height: map.get($header-height, $nav-break);
    position: fixed;
    top: $current-header-height;
    bottom: 0;
    left: 0;
    height: calc(100vh - #{$current-header-height});
  }
}

.site-navigation {
  $current-header-height: map.get($header-height, default);
  width: $fixed-sidebar-width;
  padding-top: 30px;
  height: calc(100vh - #{$current-header-height});
  overflow-y: auto;
  color: #151515;
  background: #fff;
  border-right: 1px solid #d2d2d2;
  @include breakpoint($nav-break) {
    $current-header-height: map.get($header-height, $nav-break);
    width: $fixed-sidebar-width;
    height: calc(100vh - #{$current-header-height});
    padding-bottom: 40px;
    visibility: visible;
  }

  &:before {
    // content: 'Navigation';
    display: block;
    margin: 0 1em 1em;
    padding: 0.5em 32px 1em;
    border-bottom: 1px solid #dbdbdb;
    text-transform: uppercase;
    color: #999;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  .site-navigation__link,
  .site-navigation__heading,
  .site-navigation__sub-menu__link {
    display: block;
    text-decoration: none;
    transition: background-color 0.25s;
    font-size: 18px;
    padding: 0.5em 32px;
    color: #151515;

    &:hover,
    &:focus {
      color: #151515;
      background: var(--rh-color-surface-lighter, #f2f2f2);
      box-shadow: inset 3px 0 0 0 #d2d2d2;
    }
  }

  .site-navigation__heading {
    &:after {
      content: '';
      color: #151515;
      width: 9px;
      height: 9px;
      transform: rotate(45deg);
      border-right: 3px solid #151515;
      border-top: 3px solid #151515;
      display: flex;
      float: right;
      top: 13px;
      position: relative;
    }
  }

  details[open] { /* stylelint-disable-line */
    .site-navigation__heading { /* stylelint-disable-line */
      &:after {
        transform: rotate(135deg);
      }
    }
  }

  .site-navigation__item {
    line-height: 36px;
  }

  // had to add additional selector to
  // override the base.css
  .site-navigation__link--active,
  .site-navigation__sub-menu__link--active {
    background: var(--rh-color-surface-lighter, #f2f2f2);
    box-shadow: inset 3px 0 0 0 #e00;
    color: #151515;
  }

  .site-navigation__sub-menu__link {
    font-size: 16px;
    line-height: 24px;
    padding-left: 16px;

    &:hover {
      color: #151515;
    }
  }
}

.site-navigation__wrapper,
.site-navigation__sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}


.site-navigation__sub-menu {
  padding-left: 32px;
}
