@use "sass:map";
@use "../__core/variables" as *;
@use "../__core/mixins" as *;

.site-navigation-outer-wrapper {
  $current-header-height: map.get($header-height, default);

  position: fixed;
  top: map.get($header-height, default);
  left: 0;
  z-index: 10;
  height: calc(100vh - #{$current-header-height});

  @include breakpoint($nav-break) {
    $current-header-height: map.get($header-height, $nav-break);

    position: fixed;
    top: $current-header-height;
    bottom: 0;
    left: 0;
    height: calc(100vh - #{$current-header-height});
  }
}

.site-navigation {
  $current-header-height: map.get($header-height, default);

  width: $fixed-sidebar-width;
  padding-top: 30px;
  height: calc(100vh - #{$current-header-height});
  overflow-y: auto;
  color: #151515;
  background: #ffffff;
  border-right: 1px solid #d2d2d2;

  @include breakpoint($nav-break) {
    $current-header-height: map.get($header-height, $nav-break);

    width: $fixed-sidebar-width;
    height: calc(100vh - #{$current-header-height});
    padding-bottom: 40px;
    visibility: visible;
  }

  &:before {
    // content: 'Navigation';
    display: block;
    margin: 0 1em 1em;
    padding: 0.5em 32px 1em;
    border-bottom: 1px solid #dbdbdb;
    text-transform: uppercase;
    color: #999999;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  & .link,
  & .heading,
  & .sub-menu .link {
    display: block;
    text-decoration: none;
    transition: background-color 0.25s;
    font-size: 18px;
    padding: 0.5em 32px;
    color: #151515;

    &:hover,
    &:focus {
      color: #151515;
      background: var(--rh-color-surface-lighter, #f2f2f2);
      box-shadow: inset 3px 0 0 0 #d2d2d2;
    }
  }

  & .heading {
    &:after {
      content: "";
      color: #151515;
      width: 9px;
      height: 9px;
      transform: rotate(45deg);
      border-right: 3px solid #151515;
      border-top: 3px solid #151515;
      display: flex;
      float: right;
      top: 13px;
      position: relative;
    }
  }

  details[open] { /* stylelint-disable-line */
    & .heading { /* stylelint-disable-line */
      &:after {
        transform: rotate(135deg);
      }
    }
  }

  & .item {
    line-height: 36px;
  }

  // had to add additional selector to
  // override the base.css
  & .link.active,
  & .sub-menu .link.active {
    background: var(--rh-color-surface-lighter, #f2f2f2);
    box-shadow: inset 3px 0 0 0 var(--rh-color-icon-primary-on-light, #ee0000);
    color: var(--rh-color-text-primary-on-light, #151515);
  }

  & .wrapper,
  & .sub-menu {
    margin: 0;
    list-style: none;
  }

  & .wrapper {
    padding: 0;
  }

  & .sub-menu {
    padding-left: 32px;

    & .link {
      font-size: 16px;
      line-height: 24px;
      padding-left: 16px;

      &:hover {
        color: #151515;
      }
    }
  }
}
