rh-subnav {
  font-size: initial; /* body is 18px, so we reset here */
}

rh-subnav:not(:defined) {
  display: flex;
  background-color: var(--rh-context-background-color, #f5f5f5);
}

rh-subnav:not(:defined) a {
  display: block !important;
  white-space: nowrap !important;
  padding: var(--rh-space-lg, 16px) var(--rh-space-2xl, 32px) !important;
  text-decoration: none !important;
  color: var(--_subnav-link-text-color, #6a6e73) !important;
  position: relative !important;
}

rh-subnav:not(:defined) a:after {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  border-block-end: var(--rh-border-width-lg, 3px) solid transparent !important;
}

rh-subnav:not(:defined) a[active]:after {
  border-block-end-color: var(--_subnav-link-active-border-end-color, #ee0000) !important;
}
