@use '../__core/mixins' as *;

.table-of-contents {
  background: #f5f5f5;
  padding: 16px 24px;
  @include breakpoint(tango) {
    margin-bottom: 80px;
  }
}

.table-of-contents h2 {
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.table-of-contents ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.table-of-contents > ol {
  margin: 1em 0;
}

.table-of-contents li {
  padding: 0;
}

.table-of-contents li a {
  display: inline-block;
  margin: 0 0 0.5em;
}

.table-of-contents > ol li li {
  padding-left: 1em;
}

.table-of-contents > ol li li li {
  padding-left: 2em;
}

.table-of-contents > ol li li li li {
  padding-left: 3em;
}

.table-of-contents > ol li li li li li {
  padding-left: 4em;
}
