/* Main step container styling */
:host {
  --_step-line-color: var(--rh-color-text-primary);

  display: grid;
  grid-template-columns: var(--_step-template-columns, 24px auto);
  grid-template-rows: var(--_step-template-rows, 24px auto);
  grid-template-areas: var(--_step-template-areas);
  gap: var(--_step-row-gap, 16px) var(--_step-column-gap, 16px);
  justify-self: var(--_step-justify-self, start);
  place-items: start baseline;
  padding-block-end: var(--_step-compact-vertical-padding, var(--rh-length-2xl, 32px));
  padding-inline-end: var(--_step-compact-horizontal-padding, var(--rh-length-5xl, 80px));
  width: 100%;
  height: 100%;
  background:
    var(--_step-line-style,
      linear-gradient(var(--_step-line-angle),
      transparent 13px,
      var(--_step-line-color) 13px,
      var(--_step-line-color) 15px,
      transparent 15px));
  color: var(--rh-color-text-secondary);

  /* Body text/md */
  font-family: var(--rh-font-family-body-text, RedHatText, 'Red Hat Text', Helvetica, Arial, sans-serif);
  font-size: var(--rh-font-size-body-text-md, 1rem);
  font-style: normal;
  font-weight: var(--rh-font-weight-body-text-regular, 400);
  line-height: 1.5; /* 150% */

  &:has(+ [state='inactive']) {
    --_step-line-color: var(--rh-color-border-subtle) !important;
  }

  &:has(> :focus-visible) {
    border: 1px solid blue;
  }
}

#container {
  display: contents;
}

/* Icon styling */
:is(rh-icon, .no-icon) {
  grid-area: icon;
  justify-self: var(--_step-icon-justify-self);
  height: var(--rh-size-icon-02, 24px);
  width: var(--rh-size-icon-02, 24px);
  border: var(--rh-border-width-md) solid var(--rh-color-text-primary);
  border-radius: 50%;
  color: var(--_step-color);
  background-color: var(--rh-color-surface);
}

#label {
  display: grid;
  grid-area: label;
  align-self: center;
  padding-block-start: 4px;
  color: var(--rh-color-text-primary);
}

#description {
  grid-area: description;
  display: grid;
  margin: 0;
  grid-column: var(--_step-description-grid-column, 1);
  font-weight: var(--rh-font-weight-body-text-regular, 400);
  font-size: var(--rh-font-size-body-text-xs, 0.75rem);
}

/* Compact view - hide text content */
.compact {
  & :is(#label, #description) {
    /* Visually Hiding */
    block-size: 1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
    inline-size: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;

    /* End Visually Showing */
  }
}

/* Inactive state styling */
:host([state='inactive']) {
  color: var(--_color-text-disabled, #6a6e73);
  font-weight: var(--rh-font-weight-body-text-regular, 400);

  :is(rh-icon, .no-icon) {
    border-color: var(--rh-color-border-subtle);
  }
}

/* Active state styling */
:host([state='active']) {
  --_step-color: var(--rh-color-status-note);
}

/* Complete state styling */
:host([state='complete']) {
  --_step-color: var(--rh-color-status-success);

  #label {
    font-weight: var(--rh-font-weight-body-text-regular, 400);
  }
}

/* Warning state styling */
:host([state='warn']) {
  --_step-color: light-dark(var(--rh-color-yellow-50), var(--rh-color-yellow-30));

  #label {
    color: var(--_step-color);
  }
}

/* Fail state styling */
:host([state='fail']) {
  --_step-color: var(--rh-color-status-danger);

  #label {
    color: var(--_step-color);
  }
}
