:host {
  width: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
  height: 100%;    
  padding-bottom: var(--stepCompactVPadding, var(--rh-length-2xl, 32px));
  padding-right: var(--stepCompactHPadding, var(--rh-length-5xl, 80px));
  display: grid;
  background: var(--stepLineStyle, linear-gradient(
    var(--stepLineAngle),
    transparent 12px, 
    var(--rh-color-border-subtle) 14px,
    transparent 16px
=======
=======
>>>>>>> 50061e12d9d18651a6825147430c1778b71ad546
  height: 100%;
  margin-bottom: var(--stepCompactMargin, var(--rh-space-2xl, 32px));
  display: grid;
  background: var(--stepLineStyle, linear-gradient(
    var(--stepLineAngle),
    transparent 14px, 
    var(--rh-color-border-subtle) 16px,
    transparent 18px
<<<<<<< HEAD
>>>>>>> 50061e12 (Restructured Stepper)
=======
>>>>>>> 50061e12d9d18651a6825147430c1778b71ad546
  ));
  align-items: start;
  justify-items: baseline ;
  color: var(--rh-color-text-secondary, #4d4d4d);
<<<<<<< HEAD
<<<<<<< HEAD
  grid-template-columns: var(--stepTemplateColumns, 24px auto);
  grid-template-rows: var(--stepTemplateRows, 24px auto);
=======
  grid-template-columns: var(--stepTemplateColumns, 32px auto);
  grid-template-rows: var(--stepTemplateRows, 32px auto);
>>>>>>> 50061e12 (Restructured Stepper)
=======
  grid-template-columns: var(--stepTemplateColumns, 32px auto);
  grid-template-rows: var(--stepTemplateRows, 32px auto);
>>>>>>> 50061e12d9d18651a6825147430c1778b71ad546
  justify-self: var(--stepJustifySelf, start);
  /* Body text/md */
  font-family: var(--rh-font-family-body-text, "Red Hat Text");
  font-size: var(--rh-font-size-body-text-md, 16px);
  font-style: normal;
  font-weight: var(--rh-font-weight-body-text-regular, 400);
  line-height: 1.5; /* 150% */
<<<<<<< HEAD
<<<<<<< HEAD
  column-gap: var(--stepColGap, 16px);
  row-gap: var(--stepRowGap, 16px);
=======
>>>>>>> 50061e12 (Restructured Stepper)
=======
>>>>>>> 50061e12d9d18651a6825147430c1778b71ad546
  
  & input[type="checkbox"] { 
    grid-column: 1; 
    grid-row: 1;
  } 

  & rh-icon {
<<<<<<< HEAD
<<<<<<< HEAD
    color: var(--stepColor);
=======
    color: var(--stepIconColor);
>>>>>>> 50061e12 (Restructured Stepper)
=======
    color: var(--stepIconColor);
>>>>>>> 50061e12d9d18651a6825147430c1778b71ad546
    background-color: var(--rh-color-surface);
    grid-column: 1;
    grid-row: 1;
    height: var(--rh-size-icon-02, 24px);
    width: var(--rh-size-icon-02, 24px);
    border: var(--rh-border-width-md) solid var(--rh-color-border-subtle);
    border-radius: 50%;
    justify-self: var(--stepIconJustifySelf);
  }
<<<<<<< HEAD
<<<<<<< HEAD

  & strong { align-self: center; }
  & p { font-size: var(--rh-font-size-body-text-xs, 12px); }
=======
>>>>>>> 50061e12 (Restructured Stepper)
=======
>>>>>>> 50061e12d9d18651a6825147430c1778b71ad546
}

:host([state="inactive"]) {
  & strong, & p {
    color: var(--rh-color-text-disabled, #6a6e73);
    font-weight: var(--rh-font-weight-body-text-regular, 400);
  }
}

<<<<<<< HEAD
<<<<<<< HEAD
:host([state="active"]) {
  --stepColor: var(--rh-color-status-note);
}

:host([state="complete"]) {
  --stepColor: var(--rh-color-status-success);
  & strong { 
    font-weight: var(--rh-font-weight-body-text-regular, 400);
  }
}

:host([state="warn"]) {
  --stepColor: light-dark(var(--rh-color-yellow-50),var(--rh-color-yellow-30));
  
  & strong {
    color: var(--stepColor);  
  }
}

:host([state="fail"]) {
  --stepColor: var(--rh-color-status-danger);

  & strong {
    color: var(--stepColor);
  }
}

=======
>>>>>>> 50061e12 (Restructured Stepper)
=======
>>>>>>> 50061e12d9d18651a6825147430c1778b71ad546
p { 
  margin: 0;
  grid-column: var(--stepDescriptionGridColumn, 1); 
  font-weight: var(--rh-font-weight-body-text-regular, 400);
}

strong, p {
  display: var(--stepCompactDisplay, auto);
}

:host(:not([state="inactive"])) {
  background: var(--stepLineStyle, linear-gradient(
    var(--stepLineAngle),
<<<<<<< HEAD
<<<<<<< HEAD
    transparent 12px, 
    var(--rh-color-text-primary) 14px,
    transparent 16px
  ));
  
  
  & rh-icon { border-color: var(--rh-color-text-primary); }
  & strong {
    /* color: var(--rh-color-text-secondary, #151515); */

    /* Body text/md - Medium weight */
    font-weight: var(--rh-font-weight-body-text-medium, 500);
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: none;
    text-decoration-color: var(--rh-color-text-secondary, #707070);
    text-decoration-thickness: 1.5px; /* 9.375% */
    text-underline-offset: 30%; /* 4.8px */
    text-underline-position: from-font;
    }
=======
=======
>>>>>>> 50061e12d9d18651a6825147430c1778b71ad546
    transparent 14px, 
    var(--rh-color-text-primary) 16px,
    transparent 18px
  ));
  
  & div {
    & rh-icon { border-color: var(--rh-color-text-primary); }
    & span {
      color: var(--rh-color-text-secondary, #151515);

      /* Body text/md - Medium weight */
      font-weight: var(--rh-font-weight-body-text-medium, 500);
      text-decoration-line: underline;
      text-decoration-style: dotted;
      text-decoration-skip-ink: none;
      text-decoration-color: var(--rh-color-text-secondary, #707070);
      text-decoration-thickness: 1.5px; /* 9.375% */
      text-underline-offset: 30%; /* 4.8px */
      text-underline-position: from-font;
      }
  }  
<<<<<<< HEAD
>>>>>>> 50061e12 (Restructured Stepper)
=======
>>>>>>> 50061e12d9d18651a6825147430c1778b71ad546
}