:host {
  display: contents;
}

slot {
  display: inline-flex;
  align-items: stretch;
  flex-direction: column;
  width: max-content;
}

::slotted(a) {
  padding: 5px !important; /* WARNING: not a token value */
}

.dark::slotted(a) {
  color: var(--rh-color-interactive-primary-hover-on-dark, #b9dafc) !important;
}

.dark::slotted(a:hover) {
  color: var(--rh-color-interactive-primary-default-on-dark, #92c5f9);
}

.dark::slotted(a:visited) {
  color: var(--rh-color-interactive-primary-visited-default-on-dark, #b6a6e9) !important;
}

.dark::slotted(a:visited:hover) {
  color: var(--rh-color-interactive-primary-visited-default-on-dark, #b6a6e9) !important;
}
