:host {
  display: block;
  padding: var(--rh-space-md, 8px) var(--rh-space-lg, 16px);
  cursor: pointer;
  font-family: var(--rh-font-family-body-text, RedHatText, 'Red Hat Text', Helvetica, Arial, sans-serif);
  font-size: var(--rh-font-size-body-text-md, 1rem);
  font-style: normal;
  font-weight: var(--rh-font-weight-body-text-regular, 400);
  line-height: var(--rh-line-height-code, 1.5);

  a {
    text-decoration: none;
    color: var(--rh-color-text-primary);

    &:focus {
      outline: none;
    }
  }
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  ::slotted([slot='icon']) {
    padding-inline-end: var(--rh-space-md, 8px);
  }
}

:host(:hover) {
  background:
    light-dark(var(--rh-color-surface-lighter, #f2f2f2),
      var(--rh-color-surface-darker, #1f1f1f));
}

:host(:focus) {
  background:
    light-dark(var(--rh-color-surface-lighter, #f2f2f2),
      var(--rh-color-surface-darker, #1f1f1f));
  position: relative;
  box-sizing: border-box;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    width: calc(100% - 8px);
    height: calc(100% - 6px);
    background-color: transparent;
    border:
      var(--rh-border-width-md, 2px) solid light-dark(var(--rh-color-accent-base-on-light, #0066cc),
        var(--rh-color-accent-base-on-dark, #92c5f9));
    border-radius: var(--rh-border-radius-default, 3px);
  }

  .menu-item {
    outline: none;
  }
}

:host([disabled]) {
  color:
    light-dark(var(--rh-color-gray-50, #707070),
      var(--rh-color-gray-60, #4d4d4d));
  cursor: default;
  pointer-events: none;
}

::slotted([slot='description']) {
  font-family: var(--rh-font-family-body-text, RedHatText, 'Red Hat Text', Helvetica, Arial, sans-serif);
  font-size: var(--rh-font-size-body-text-sm, 0.875rem) !important;
  font-style: normal;
  font-weight: var(--rh-font-weight-heading-regular, 400);
  line-height: 21px;
}

.menu-item-content:focus-visible {
  outline: none;
}
