<style>
  /* TODO: Replace back-to-top with RHDS component */
  #back-to-top {
    display: none;
    pointer-events: none;
    position: sticky;
    float: right;
    bottom: 32px;
    margin-block-start: -64px;
    padding-inline-end: 32px;
  }

  #back-to-top .link {
    pointer-events: all;
  }
</style>

<!-- Replace with <pf-back-to-top></pf-back-to-top> -->
<div id="back-to-top">
  <a href="#top" class="link" aria-hidden="true">
    <img src="{{ '/assets/back-to-top.svg' | url }}" alt="Scroll back to the top">
  </a>
</div>

<script type="module">
  const section = document.querySelectorAll("main");
  const sections = {};
  const i = 0;

  section.forEach( e => {
    sections[e.id] = e.offsetTop; 
  })

  window.addEventListener('scroll', function() {
    const scrollPosition = document.documentElement.scrollTop || document.body.scrollTop;

    if (scrollPosition > (window.innerWidth / 2)) {
      document.getElementById("back-to-top").style.display = "flex";
    } else {
      document.getElementById("back-to-top").style.display = "none";
    }
  });
</script>