<div id="edit-this-page">
  {% set inputPath = "" %}
  {# if the page is an element doc page #}
  {% if doc %}
    {% for tab in doc.tabs %}
      {% set trimmedPageUrl = page.url  | replace('_site/', '') + 'index.html' %}
      {% if trimmedPageUrl === tab.permalink %}
        {% set inputPath = tab.filePath %}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% set editPath = ('/' + (inputPath or page.inputPath)) | replace(r/^(\.)?\//, '') %}
  <a href="https://github.com/RedHat-UX/red-hat-design-system/blob/main/{{ editPath }}?plain=1">Edit this page on GitHub</a>
</div>
