<script data-helmet>{ let scheme; if (scheme = localStorage['RHDS-color-scheme']) document.body.style.setProperty('color-scheme', scheme); }</script>
<script type="module" data-helmet>import '@uxdot/elements/uxdot-masthead.js';</script>
<uxdot-masthead role="banner" version="{{ pkg.version }}">
  <button id="hamburger"
          slot="hamburger"
          aria-controls="sidebar"
          aria-expanded="false"
          aria-label="Expand Main Navigation">
    <rh-icon set="ui" icon="menu-bars" size="lg"></rh-icon>
  </button>
</uxdot-masthead>
