{%- if pathfinder and subnav and subnav.collection -%}
{%- set links = collections[subnav.collection] | pathfinderLinks(page.url) -%}
{%- if links.prev or links.next -%}
<uxdot-pathfinder>
  {%- if links.prev %}
  <a href="{{ links.prev.url }}" slot="previous">{{ links.prev.data.title }}</a>
  {%- endif %}
  {%- if links.next %}
  <a href="{{ links.next.url }}" slot="next">{{ links.next.data.title }}</a>
  {%- endif %}
</uxdot-pathfinder>
{%- endif -%}
{%- endif -%}
