<uxdot-sidenav trigger="hamburger">
  <rh-navigation-vertical>
    <rh-navigation-link href="/" {{ 'current-page' if page.url ===  '/'}}>Home</rh-navigation-link>
    {#
    Loop through nav dropdowns
    This uses data passed in via the eleventy.config.cjs file in the root
    TODO: more this data to a global data, ideally this data would be normalized
    prior to getting to the component template level.
    #}
    {%- for link in sideNavDropdowns -%}
    {%- set active = link.url === page.url -%}
    {%- set open = page.url and link.url in page.url -%}
    <rh-navigation-vertical-list summary="{{ link.title }}" {{ 'open' if open }}>
          {% if link.collection === "elementDocs" %}
          {%- set active = '/elements/' === page.url -%}
          <rh-navigation-link href="/elements/" {{ 'current-page' if active }}>All elements</rh-navigation-link>
          {%- for tagName, docs in collections.elementDocs | groupby('tagName') -%}
          {%- set doc = docs[0] -%}
          {%- set slug = doc.slug -%}
          {%- set href = '/elements/' + doc.slug + '/' -%}
          {%- set active = page.url.startsWith(href) -%}
          {%- set name = (doc.alias) or (doc.slug | deslugify) %}
          {%- set comingSoon = (tagName in comingSoonItems) -%}
          {%- set hiddenComponent = doc.hidden -%}
          {% if not comingSoon and not hiddenComponent %}
          <rh-navigation-link data-slug="{{ slug }}"
                              data-doc-slug="{{ doc.slug }}"
                              data-page-url="{{ page.url }}"
                              href="{{ href }}"
                              {{ 'current-page' if active }}>
            {{- doc.alias or (doc.slug | deslugify) -}}
            {%- if doc.planned -%}<rh-tag icon="notification-fill" color="purple" size="compact">Planned</rh-tag>{%- endif -%}
          </rh-navigation-link>
          {% endif %}
          {%- endfor -%}
          {% else %}
          {% if link.collection == 'tokenCategory' %}
          {%- set active = page.url == "/tokens/" %}
          <rh-navigation-link href="/tokens/" {{ 'current-page' if active }}>Overview</rh-navigation-link>
          {% endif -%}

          {%- if (link.collection !== 'elementDocs') and (link.collection !== 'tokenCategory') -%}
          {%- set sortedOn = "data.order" %}
          {%- set sideNavCollection = collections[link.collection] | sort(attribute=sortedOn, case_sensitive=true) %}
          {% else %}
          {%- set sideNavCollection = collections[link.collection] %}
          {%- endif -%}

          {%- for sublink in sideNavCollection -%}
          {%- set active = sublink.url === page.url -%}
          <rh-navigation-link href="{{ sublink.url }}" {{ 'current-page' if active }}>
            {{- (sublink.data.sidenavTitle or sublink.data.title or sublink.title) -}}
          </rh-navigation-link>
          {%- endfor -%}
          {% endif %}
    </rh-navigation-vertical-list>

    {% endfor %}

    <rh-navigation-link {{ 'current-page' if page.url == '/design-code-status/' }} href="/design-code-status/">Design/code status</rh-navigation-link>
    <rh-navigation-link {{ 'current-page' if page.url == '/release-notes/' }} href="/release-notes/">Release notes</rh-navigation-link>
    <rh-navigation-link {{ 'current-page' if page.url == '/support/' }} href="/support/">Get support</rh-navigation-link>
    {%- if runMode == 'watch' -%}
    <rh-navigation-link href="/cheatsheet">Cheat sheet!</rh-navigation-link>
    {%- endif -%}
  </rh-navigation-vertical>
</uxdot-sidenav>
