[data-demo] {
  padding: 1em 2em;
}

section {
  --pfe-band--Padding--horizontal: 60px;
  --pfe-band--Width: 100%;
}

section[color-palette="lightest"] pfe-card[color-palette="lightest"],
section[color-palette="lightest"] pfe-card[color-palette="lightest"] {
  --pfe-card--Border: 1px solid rgba(45, 45, 45, 0.3);
}

section, #dark {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
}

#dark {
  padding: 1em 2em;
  margin-inline: -2em;
  margin-block: 1em;
}

#dark h2 {
  width: 100%;
}

section :is(p, h2,h3,h4,h5,h6) {
  width: 100%;
}

section.grid {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin-top: 0;
  margin-left: 0;
}

section.grid :is(h2,h3,h4,h5,h6) {
  grid-column: 1/-1;
}

.resize {
  resize: horizontal;
  overflow: auto;
  display: flex;
  width: 180px;
  flex-flow: row nowrap;
  border: 1px solid #ddd;
  padding: 10px;
}
