[data-demo] {
  padding: 1em 2em;
}

section {
  --pfe-band--Padding--horizontal: 60px;
  --pfe-band--Width: 100%;
}

section[color-palette="lightest"] pfe-card[color-palette="lightest"],
section[color-palette="lightest"] pfe-card[color-palette="lightest"] {
  --pfe-card--Border: 1px solid rgba(45, 45, 45, 0.3);
}

section {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
}

section  :is(p, h2,h3,h4,h5,h6) {
  width: 100%;
}

section.grid {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin-top: 0;
  margin-left: 0;
}

section.grid :is(h2,h3,h4,h5,h6) {
  grid-column: 1/-1;
}

pfe-card::part(body) {
  display: grid;
  gap: 10px;
}

pfe-card h4 {
  grid-column: -1/1;
}

output {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: var(--pfe-theme--font-size--zeta, 14px);
}

output span {
  display: inline-block;
  padding: 5px 10px;
}

output pfe-icon {
  --pfe-icon--Color: #444;
  float: left;
}

output pfe-icon:not([on="light"]) {
  --pfe-icon--Color: #fff;
  float: left;
}

#resize {
  resize: horizontal;
  overflow: auto;
  display: flex;
  width: 180px;
  flex-flow: row nowrap;
  border: 1px solid #ddd;
  padding: 10px;
}
