<!DOCTYPE html><html class="no-js" lang=""><head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Form | Red Hat digital design system</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://www.redhat.com/misc/favicon.ico" type="image/x-icon">

  <script src="/js/global.js"></script>

  <meta property="og:title" content="Red Hat digital design system">
  <meta property="og:site_name" content="Red Hat digital design system">
  <meta property="og:url" content="ux.redhat.com">
  <meta property="og:description" content="This is Red Hat's digital design system. Using Red Hat brand standards and PatternFly as our foundational design language, we enable designers and developers to concurrently build branded experiences across redhat.com, Red Hat Customer Portal, and beyond.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://ux.redhat.com/assets/opengraph.png">

  <meta name="pfe-auto-reveal" content="true">

  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css" media="all">

  <link rel="stylesheet" href="/assets/prism.css">
  <link rel="stylesheet" href="/assets/pfe.min.css">
  <link rel="stylesheet" href="/assets/rhds.min.css">

  <link rel="stylesheet" href="/assets/css/style.css" id="">


  <noscript>
    <link type="text/css" href="/assets/pfe--noscript.min.css">
  </noscript>

  <script type="module" src="/assets/rhds.min.js"></script>
</head>




  


<body class="page page--form" id="top" unresolved="">

  <div class="body-inner">

    


<script>
  window.onUsersnapCXLoad = function(api) {
    api.init();
  }
  var script = document.createElement('script');
  script.async = 1;
  script.src = 'https://widget.usersnap.com/load/64471a95-72fe-4239-b16d-ebcf8b1219f7?onload=onUsersnapCXLoad';
  document.getElementsByTagName('head')[0].appendChild(script);
</script>

<header class="l-header">

  <div class="l-header__logo-bar">
    <a href="/"><img class="l-header__logo" src="/assets/red-hat-digital-design-system.svg" alt="Red Hat digital design system" style="max-width:240px;min-width:240px;"></a>
  </div>

  <input id="mobile-menu-toggle" class="menu-toggle element-invisible" type="checkbox" aria-controls="mobile-menu-menu-container">

  <label class="menu-toggle__button l-header__mobile-menu-toggle" for="mobile-menu-toggle" data-controls="mobile-menu-menu-container">
    <span class="l-header__burger-icon"></span>
    <span class="menu-toggle-assistive-text element-invisible">Toggle menu visibility</span>
  </label>

  <div class="menu-toggle__toggleable site-navigation__outer-wrapper">
    <nav class="l-header__site-navigation site-navigation menu-toggle__toggleable-content-wrapper">
      <ul class="site-navigation__wrapper">
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/">
    Home
  </a>

        </li>

        <!-- About

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/about/">
    About this website
  </a>

        </li> -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">About</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/about/">
    About this website
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/about/how-we-build/">
    How we build
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Get started -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Get started</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/">
    Overview
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/design-system-kit/">
    Design system kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/fts-starter-kit/">
    FTS starter kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/icon-library/">
    Brand icon library
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/logo-library/">
    Product logo library
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Foundations -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Foundations</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/">
    Overview
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

              </li>
              <!--<li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

                </li>-->
            </ul>
          </details>
        </li>

        <!-- Components -->

        <li class="site-navigation__item">
          
          
            
          
          <details open="">
            <summary class="site-navigation__heading">Components</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/components/">
    All components
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/accordion/">
    Accordion
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/alert/">
    Alert
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/announcement/">
    Announcement
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/audio-player/">
    Audio player
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/avatar/">
    Avatar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/button/">
    Button
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/call-to-action/">
    Call to action
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/card/">
    Card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/dialog/">
    Dialog
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/disclosure/">
    Disclosure
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/filter/">
    Filter
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/footer/">
    Footer
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
    
  
  <a class="site-navigation__sub-menu__link site-navigation__sub-menu__link--active" href="/components/form/">
    Form
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/jump-links/">
    Jump links
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link/">
    Link
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link-with-icon/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/navigation/">
    Navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/popover/">
    Popover
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/progress-steps/">
    Progress steps
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/promo/">
    Promo
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/quote/">
    Quote
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/search-bar/">
    Search bar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/skip-navigation/">
    Skip navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-banner/">
    Sticky banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-card/">
    Sticky card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tabs/">
    Tabs
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tooltip/">
    Tooltip
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/video-thumbnail/">
    Video thumbnail
  </a>

                </li></ul>
          </details>
        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/design-code-status/">
    Design/code status
  </a>

        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/release-notes/">
    Release notes
  </a>

        </li>

        <!--

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/get-started/">
    Get started
  </a>

        </li>

        -->

      </ul>
    </nav>
  </div>
</header>


<main class="l-main">
  <article class="l-main__inner">
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 id="form" class="page-title">Form</h1>
      </div>
    </header>
    <div class="l-main__content">
      <div class="container">
        
        
<!--

Temporary Default alert until web component release
<p style="background-color: #f2f9f9; border-top: 2px solid #009596; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#003737"><strong>Default</strong></span><br />Text here</p>

Temporary Info alert until web component release
<p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Info</strong></span><br />Text here</p>

Temporary Warning alert until web component release
<p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br />Text here</p>

-->




  <section class="section section--palette-default container">
    <a id="Overview"></a>
    <h2 id="overview" class="section-title pfe-jump-links-panel__section">Overview</h2>
    <p>A Form is a group of elements used to collect information from a user. It can include a combination of text, fields, select lists, data inputs, buttons, and more.</p>
  </section>



  <section class="section section--palette-default container">
    <a id="Sample%20component"></a>
    <h2 id="sample-component" class="section-title pfe-jump-links-panel__section">Sample component</h2>
    <img src="/assets/form/form-samples.svg" alt="Form component samples" style="--inline-img-max-width: 736px;">
  </section>


<!-- To make a table, component="" must list the exact componenent name from column A here: https://docs.google.com/spreadsheets/d/1OfyP6KZcijXMAX7DvN7KYxlUmp8pqH2WQqQ-ndSc4uc/edit?usp=sharing -->


<section class="section section--palette-default container component-status-table-container">
  <a id="Component status"></a>
  <h2 id="component-status" class="section-title pfe-jump-links-panel__section">Component status</h2>
  <table class="component-status-table">
    <thead>
      <tr><th>Component name</th>
<th>Not coded yet</th>
<th>Studio repo</th>
<th>PFE repo</th>
<th>Drupal/FTS repo</th>
<th>Adobe Target repo</th>
<th>Other repo</th>
<th>Row last updated</th>
<th>Notes/pattern/usage</th>
<th>Component doc</th>
      </tr>
    </thead>
    <tbody><tr>
        <th>Form - full</th><td></td>
<td></td>
<td></td>
<td>x</td>
<td></td>
<td></td>
<td>6/10/20</td>
<td></td>
<td></td>
      </tr>
<tr>
        <th>Form - input group - money</th><td>x</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>6/10/20</td>
<td></td>
<td></td>
      </tr>
<tr>
        <th>Form - input group - email</th><td>x</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>6/10/20</td>
<td></td>
<td></td>
      </tr>
<tr>
        <th>Form - input group - username</th><td>x</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>6/10/20</td>
<td></td>
<td></td>
      </tr>
<tr>
        <th>Form - input group - date</th><td>x</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>6/10/20</td>
<td></td>
<td></td>
      </tr>
<tr>
        <th>Form - input group - search</th><td>x</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>6/10/20</td>
<td></td>
<td></td>
      </tr>
<tr>
        <th>Form - input group - help</th><td>x</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>6/10/20</td>
<td></td>
<td></td>
      </tr>
    </tbody>
  </table>
  <small>Last updated: 6/10/2020</small>
</section>





  <section class="section section--palette-default container">
    <a id="Style"></a>
    <h2 id="style" class="section-title pfe-jump-links-panel__section">Style</h2>
    
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/form/form-blueprint.svg" alt="Form component blueprint" style="--inline-img-max-width: 660px;">
  </div>


  <h4 id="visual-elements">Visual elements</h4>

  <p>There are a variety of form elements available for use depending on what information needs to be collected from or displayed to a user.</p>

  <ul>
    <li><strong>Title and body text</strong> - Title and body text styles explaining why a user should fill out a form.</li>
    <li><strong>Text label</strong> - Small text describing what a user needs to input into a form element.</li>
    <li><strong>Popover</strong> - Small card with helpful content that appears near a popover icon when triggered.</li>
    <li><strong>Form field or Select list</strong> - Text box or dropdown allowing a user to input text or make a selection.</li>
    <li><strong>Data inputs</strong> - Alternate components allowing a user to input other kinds of information.</li>
    <li><strong>Buttons</strong> - Actions used to submit or clear a form.</li>
    <li><strong>Privacy link</strong> - Text linking to privacy documentation (included when a form is used on marketing websites).</li>
  </ul>

  <div class="margin-top--4 margin-bottom--4">
    <!-- Temporary Default alert until web component release -->
    <p style="background-color: #f2f9f9; border-top: 2px solid #009596; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#003737"><strong>Learn more</strong></span><br>Visit the <a href="https://ux.redhat.com/components/popover/" target="_blank">Popover</a> component page to learn more about how to use a popover.</p>
  </div>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/form/form-visual-elements.svg" alt="Form component visual elements" style="--inline-img-max-width: 824px;">
  </div>


  <h4 id="variants">Variants</h4>

  <p>There are two form variants available for use.</p>

  <ul>
    <li><strong>Container</strong> - Form elements are contained in a card and the title and body text sizes are slightly smaller.</li>
    <li><strong>Floating</strong> - Form elements float in a group and the title and body text sizes are slightly larger.</li>
  </ul>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/form/form-variants.svg" alt="Form component variants" style="--inline-img-max-width: 736px;">
  </div>

  </section>



  <section class="section section--palette-default container">
    <a id="Theme"></a>
    <h2 id="theme" class="section-title pfe-jump-links-panel__section">Theme</h2>
    <h4 id="light-theme">Light theme</h4>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/form/form-theme-light.svg" alt="Form component, light theme" style="--inline-img-max-width: 360px;">
  </div>


  <h4 id="dark-theme">Dark theme</h4>

  <div class="margin-top--4 margin-bottom--4">
    <!-- Temporary Default alert until web component release -->
    <p style="background-color: #f2f9f9; border-top: 2px solid #009596; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#003737"><strong>Coming soon</strong></span><br>More details and specs surrounding dark theme are coming soon.</p>
  </div>

  
  <div class="example example--palette-darkest">
    
    
    <img src="/assets/form/form-theme-dark.svg" alt="Form component, dark theme" style="--inline-img-max-width: 360px;">
  </div>

  </section>



  <section class="section section--palette-default container">
    <a id="Orientation"></a>
    <h2 id="orientation" class="section-title pfe-jump-links-panel__section">Orientation</h2>
    <h4 id="default">Default</h4>

  <p>In the Default orientation, form elements are organized vertically and the text labels are positioned <strong>on top</strong>. All form elements and groups are aligned to the left edge and some elements span the width of the form, like a field.</p>

  <!-- Temporary Warning alert until web component release -->
  <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br>Do not write text labels with <strong>more than a few words</strong> as they might break to two lines or make the form hard to scan.</p>

  <div class="margin-top--4 margin-bottom--7">
    <img src="/assets/form/form-container-floating-orientation-default.svg" alt="Form components (Container and Floating), default orientaton" style="--inline-img-max-width: 736px;">
  </div>

  <h4 id="horizontal">Horizontal</h4>

  <p>In the Horizontal orientation, form elements are still organized vertically, but the text labels are positioned <strong>to the left</strong>. Form elements without a text label, like the button group or privacy link, should be aligned to the left edge of other form elements with text labels.</p>

  <div class="margin-top--4 margin-bottom--4">
    <!-- Temporary Info alert until web component release -->
    <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Helpful tip</strong></span><br>Form variants in the Horizontal orientaton span more grid columns, so only use them if there is ample space or enough padding near content.</p>
  </div>

  <!-- Temporary Warning alert until web component release -->
  <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br>Do not write text labels with <strong>more than a few words</strong> as they might break to two lines or make the form hard to scan.</p>

  <div class="margin-top--4 margin-bottom--4">
    <img src="/assets/form/form-container-orientation-horizontal.svg" alt="Form component (Container), horizontal orientaton" style="--inline-img-max-width: 750px;">
  </div>

  <div class="margin-top--4 margin-bottom--9">
    <img src="/assets/form/form-floating-orientation-horizontal.svg" alt="Form component (Floating), horizontal orientaton" style="--inline-img-max-width: 750px;">
  </div>

  <h4 id="text-label-alignment">Text label alignment</h4>

  <p>In the Horizontal orientation, text labels should be <strong>left justified</strong> making it easy for a user to scan.</p>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/form/form-text-label-alignment.svg" alt="Form component text label alignment" style="--inline-img-max-width: 872px;">
  </div>

  </section>



  <section class="section section--palette-default container">
    <a id="Usage"></a>
    <h2 id="usage" class="section-title pfe-jump-links-panel__section">Usage</h2>
    <p>A form is best used to guide a user through a task while gathering information from them.</p>

  <h4 id="container-variant">Container variant</h4>

  <p>When the Container variant is positioned on the grid, it may span between four and eight columns, and be oriented on the left, center, or right side of the page.</p>

  <div class="margin-top--4 margin-bottom--4">
    <!-- Temporary Info alert until web component release -->
    <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Helpful tip</strong></span><br>When the Container variant is positioned near content, there should be <strong>at least one</strong> grid column of padding in between.</p>
  </div>

  <div class="margin-top--4 margin-bottom--4">
    <img src="/assets/form/form-in-use-container-default-orientation.svg" alt="Form (Container), default orientaton" style="--inline-img-max-width: 1000px;">
  </div>

  <div class="margin-top--4 margin-bottom--7">
    <img src="/assets/form/form-in-use-container-horizontal-orientation.svg" alt="Form (Container), horizontal orientaton" style="--inline-img-max-width: 1000px;">
  </div>

  <h4 id="floating-variant">Floating variant</h4>

  <p>When the Floating variant is positioned on the grid, it may span between four and eight columns, and be oriented on the left, center, or right side of the page.</p>

  <div class="margin-top--4 margin-bottom--4">
    <!-- Temporary Info alert until web component release -->
    <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Helpful tip</strong></span><br>When the Floating variant is positioned near content, there should be <strong>at least one</strong> grid column of padding in between.</p>
  </div>

  <div class="margin-top--4 margin-bottom--4">
    <img src="/assets/form/form-in-use-floating-default-orientation.svg" alt="Form (Floating), default orientaton" style="--inline-img-max-width: 1000px;">
  </div>

  <div class="margin-top--4 margin-bottom--7">
    <img src="/assets/form/form-in-use-floating-horizontal-orientation.svg" alt="Form (Floating), horizontal orientaton" style="--inline-img-max-width: 1000px;">
  </div>

  <h4 id="form-content">Form content</h4>

  <p>A user will have a better experience with submitting a form if the elements are easy for them to identify and move between.</p>

  <ul>
    <li><strong>Text label</strong> - Use to identify form elements that are required or recommended.</li>
    <li><strong>Popover</strong> - Use to display helpful information near form elements that may need more explanation beyond text labels.</li>
    <li><strong>Form field or Select list</strong> - Use to write text or make a selection from a list.</li>
    <li><strong>Placeholder text</strong> - Use within a form field or select list as an example of how to correctly provide an input.</li>
    <li><strong>Helper text</strong> - Use underneath a form element as an example of how to correctly provide an input.</li>
  </ul>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/form/form-content.svg" alt="Form component content" style="--inline-img-max-width: 296px;">
  </div>


  <h4 id="required-fields">Required fields</h4>

  <p>If a user is required to input information when submitting a form, indicate exactly where by adding a required asterisk (<span style="color: #c9190b;">*</span>) to the right of a text label. If all inputs are required, <strong>do not</strong> add an asterisk next to every text label. Instead, add text below the title stating <strong>All fields are required</strong>. If all inputs are optional, the text should state <strong>All fields are optional</strong> instead.</p>

  <div class="margin-top--4 margin-bottom--7">
    <img src="/assets/form/form-required-fields.svg" alt="Form component required fields" style="--inline-img-max-width: 736px;">
  </div>

  <h4 id="data-inputs">Data inputs</h4>

  <p>Data inputs provide additional ways for a user to submit information. Each data input has a specific use case and different data input groups can be used in the same form.</p>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/form/form-data-inputs.svg" alt="Form component data inputs" style="--inline-img-max-width: 576px;">
  </div>


  <h4 id="using-data-inputs">Using data inputs</h4>

  <p>A variety of data inputs can be used in the same form to allow a user to submit more information.</p>

  <div class="margin-top--0 margin-bottom--8">
    <table style="width:100%;">
      <tbody>
        <tr>
          <th>Data input name</th>
          <th>Usage</th>
        </tr>
        <tr>
          <td>Radio button</td>
          <td>Use when only one option can be chosen from a list of no more than five options.</td>
        </tr>
        <tr>
          <td>Checkbox</td>
          <td>Use when either several or no options can be chosen from a list of no more than five options.</td>
        </tr>
        <tr>
          <td>Select list</td>
          <td>Use to select one or more options from a list of more than five options.</td>
        </tr>
        <tr>
          <td>Switch</td>
          <td>Use to toggle between two different states.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h4 id="arranging-data-inputs">Arranging data inputs</h4>

  <p>Radio buttons and checkboxes can be stacked horizontally or vertically depending on the amount of characters and space.</p>

  <ul>
    <li>If there are fewer than three options, arrange data inputs horizontally.</li>
    <li>If there are more than three options, arrange data inputs vertically.</li>
  </ul>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/form/form-arranging-data-inputs.svg" alt="Form component arranging data inputs" style="--inline-img-max-width: 462px;">
  </div>


  <h4 id="popover">Popover</h4>

  <p>If a form element requires more explanation beyond text labels, use a popover to help a user better understand what they need to input. The content in a popover can include text or links to help documents or other websites. When adding a popover to a form, a small icon should be added next to a text label which acts as a trigger to display the popover.</p>

  <div class="margin-top--4 margin-bottom--4">
    <!-- Temporary Default alert until web component release -->
    <p style="background-color: #f2f9f9; border-top: 2px solid #009596; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#003737"><strong>Learn more</strong></span><br>Visit the <a href="https://ux.redhat.com/components/button/" target="_blank">Popover</a> component page to learn more about how to use a popover.</p>
  </div>

  <div class="margin-top--4 margin-bottom--4">
    <!-- Temporary Warning alert until web component release -->
    <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br>Avoid using a popover for critical information, a user will have a hard time finding what they need if they have to trigger something first.</p>
  </div>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/form/form-popover.svg" alt="Form component popover" style="--inline-img-max-width: 399px;">
  </div>


  <h4 id="placement">Placement</h4>

  <p>A form can span various grid columns when used on a page. To preserve readability, it should span at least four grid columns but not exceed eight grid columns (or 750px).</p>

  <div class="margin-top--4 margin-bottom--4">
    <img src="/assets/form/form-placement-default-orientation.svg" alt="Form component placement, default orientaton" style="--inline-img-max-width: 1000px;">
  </div>

  <div class="margin-top--4 margin-bottom--9">
    <img src="/assets/form/form-placement-horizontal-orientation.svg" alt="Form component placement, horizontal orientaton" style="--inline-img-max-width: 1000px;">
  </div>


  <section class="section section--palette-default container">
    <a id="Behavior"></a>
    <h2 id="behavior" class="section-title pfe-jump-links-panel__section">Behavior</h2>
    <h4 id="disabled-state">Disabled state</h4>

  <p>In some cases, a form element can be disabled if a user needs to make an input somewhere else first. In this example, a user is <strong>required</strong> to select their department first and then optionally select their job role afterwards. A user can still submit a form successfully if they skip an optional form element.</p>

  <div class="margin-top--4 margin-bottom--4">
    <!-- Temporary Warning alert until web component release -->
    <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br>Do not disable form elements that <strong>require</strong> input as a user might skip over them leading to errors when the form is submitted.</p>
  </div>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/form/form-disabled-state.svg" alt="Form component disabled state" style="--inline-img-max-width: 720px;">
  </div>


  <div class="margin-top--0 margin-bottom--7">

    <h4 id="error-states">Error states</h4>

    <p>When a user submits a form that results in errors, it is important to explain what the errors are and how to resolve them. There are <strong>two error states</strong> that can be displayed depending on how a user moves through the form.</p>

  </div>

  <h4 id="error-validation-on-loss-of-focus">Error validation on loss of focus</h4>

  <p>An error will be displayed after a user moves the focus away from a required form element. This can also happen when a user inputs something with an invalid format or leaves a required form element blank or incomplete. The error text and icons will disappear when the errors are resolved and the focus is moved away once again.</p>

  <div class="margin-top--4 margin-bottom--7">
    <img src="/assets/form/form-error-loss-of-focus.svg" alt="Form component, error validation on loss of focus" style="--inline-img-max-width: 360px;">
  </div>

  <h4 id="error-validation-on-submission">Error validation on submission</h4>

  <p>Errors will be displayed if a user tries to submit a completed form with invalid information or not filled out completely. When this happens, a <a href="https://ux.redhat.com/components/alert/" target="_blank">Danger severity alert</a> is displayed stating there are errors that need to be resolved. The alert is positioned below the title and body text, and has the same width as the widest form element. The alert will disappear when the errors are resolved and the form is submitted again.</p>

  <div class="margin-top--4 margin-bottom--4">
    <img src="/assets/form/form-error-submission.svg" alt="Form component, error validation on submission" style="--inline-img-max-width: 360px;">
  </div>
  </section>



  <section class="section section--palette-default container">
    <a id="Interaction%20states"></a>
    <h2 id="interaction-states" class="section-title pfe-jump-links-panel__section">Interaction states</h2>
    <!-- Temporary Default alert until web component release -->
  <p style="background-color: #f2f9f9; border-top: 2px solid #009596; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#003737"><strong>See more</strong></span><br>Visit the <a href="https://ux.redhat.com/components/button/" target="_blank">Button</a> and <a href="https://ux.redhat.com/components/link/" target="_blank">Link</a> component pages to see available interaction states.</p>

  <h4 id="link">Link</h4>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/form/form-interaction-states-link.svg" alt="Form component interaction state, link" style="--inline-img-max-width: 300px;">
  </div>


  <h4 id="hover">Hover</h4>

  <p>Form fields and select lists share the same hover state.</p>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/form/form-interaction-states-hover.svg" alt="Form component interaction state, hover" style="--inline-img-max-width: 300px;">
  </div>


  <h4 id="focus">Focus</h4>

  <p>When the focus is moved to a form field with placeholder text, the text will disappear and a blinking cursor will be visible.</p>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/form/form-interaction-states-focus.svg" alt="Form component interaction state, focus" style="--inline-img-max-width: 300px;">
  </div>


  <h4 id="active">Active</h4>

  <p>Form fields and select lists share the same active state.</p>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/form/form-interaction-states-active.svg" alt="Form component interaction state, active" style="--inline-img-max-width: 300px;">
  </div>


  <h4 id="tab-order">Tab order</h4>

  <p>When the Tab key is pressed repeatedly, the focus highlights each form element in order, from top to bottom or left to right.</p>

  <div class="margin-top--4 margin-bottom--4">
    <img src="/assets/form/form-tab-order.svg" alt="Form component tab order" style="--inline-img-max-width: 1000px;">
  </div>
  </section>



  <section class="section section--palette-default container">
    <a id="Accessibility"></a>
    <h2 id="accessibility" class="section-title pfe-jump-links-panel__section">Accessibility</h2>
    <table style="width:100%;">
    <tbody>
      <tr>
        <th>Key</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>Tab</td>
        <td>Moves the focus to the next form element.</td>
      </tr>
      <tr>
        <td>Shift + Tab</td>
        <td>Moves the focus to the previous form element.</td>
      </tr>
      <tr>
        <td>Space</td>
        <td>Opens/closes a popover, opens/closes a select list, or selects/toggles a data input.</td>
      </tr>
      <tr>
        <td>Enter</td>
        <td>Opens/closes a popover or submits/clears the form.</td>
      </tr>
    </tbody>
  </table>
  </section>



  <section class="section section--palette-default container">
    <a id="Responsive%20design"></a>
    <h2 id="responsive-design" class="section-title pfe-jump-links-panel__section">Responsive design</h2>
    <p>The Default variant mostly remains the same on large and small screens, but the Horizontal variant will switch to the Default variant as screens get smaller.</p>

  <h4 id="desktop">Desktop</h4>

  <div class="margin-top--4 margin-bottom--4">
    <img src="/assets/form/form-responsive-default-desktop.svg" alt="Form component (Default) responsive design, desktop" style="--inline-img-max-width: 1000px;">
  </div>

  <div class="margin-top--4 margin-bottom--7">
    <img src="/assets/form/form-responsive-horizontal-desktop.svg" alt="Form component (Horizontal) responsive design, desktop" style="--inline-img-max-width: 1000px;">
  </div>

  <h4 id="tablet">Tablet</h4>

  <p>As screens get smaller, the Horizontal variant will switch to the Default variant to reduce crowding.</p>

  <div class="margin-top--4 margin-bottom--7">
    <img src="/assets/form/form-responsive-tablet.svg" alt="Form component responsive design, tablet" style="--inline-img-max-width: 768px;">
  </div>

  <h4 id="mobile">Mobile</h4>

  <div class="margin-top--4 margin-bottom--7">
    <img src="/assets/form/form-responsive-mobile.svg" alt="Form component responsive design, mobile" style="--inline-img-max-width: 360px;">
  </div>
  </section>



  <section class="section section--palette-default container">
    <a id="Best%20practices"></a>
    <h2 id="best-practices" class="section-title pfe-jump-links-panel__section">Best practices</h2>
    <h4 id="form-elements-aligned-to-the-right">Form elements aligned to the right</h4>

  <p>Do not align the button group and privacy link to the <strong>right edge</strong> of other form elements.</p>

  
  <div class="example example--palette-wrong">
    
    
    <img src="/assets/form/form-best-practice-1.svg" alt="Form component, best practice 1" style="--inline-img-max-width: 360px;">
  </div>


  <h4 id="two-primary-buttons">Two Primary buttons</h4>

  <p>Do not include two Primary buttons, use a combination of Primary and Link buttons instead in that order.</p>

  <!-- Temporary Default alert until web component release -->
  <p style="background-color: #f2f9f9; border-top: 2px solid #009596; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#003737"><strong>Learn more</strong></span><br>Visit the <a href="https://ux.redhat.com/components/button/" target="_blank">Button</a> component page to learn more about how to use buttons.</p>

  
  <div class="example example--palette-wrong">
    
    
    <img src="/assets/form/form-best-practice-2.svg" alt="Form component, best practice 2" style="--inline-img-max-width: 360px;">
  </div>


  <h4 id="too-many-required-fields">Too many required fields</h4>

  <p>If all inputs are required, <strong>do not</strong> add an asterisk next to every text label. Instead, add text below the title stating <strong>All fields are required</strong>. If all inputs are optional, the text should state <strong>All fields are optional</strong> instead.</p>

  
  <div class="example example--palette-wrong">
    
    
    <img src="/assets/form/form-best-practice-3.svg" alt="Form component, best practice 3" style="--inline-img-max-width: 360px;">
  </div>


  <h4 id="12-columns">12 columns</h4>

  <p>The Container and Floating variants in both orientations should only span a maxium of 8 grid columns.</p>

  <!-- Temporary Default alert until web component release -->
  <p style="background-color: #f2f9f9; border-top: 2px solid #009596; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#003737"><strong>Learn more</strong></span><br>Visit the <a href="https://ux.redhat.com/foundations/grid/" target="_blank">Grid</a> foundation page to learn more about how to use the grid.</p>

  
  <div class="example example--palette-wrong">
    
    
    <img src="/assets/form/form-best-practice-4.svg" alt="Form component, best practice 4" style="--inline-img-max-width: 872px;">
  </div>


  <h4 id="rearranging-data-inputs-and-button-groups">Rearranging data inputs and button groups</h4>

  <p>Do not change the stacking order of data inputs and button groups, except in rare cases.</p>

  
  <div class="example example--palette-wrong">
    
    
    <img src="/assets/form/form-best-practice-5.svg" alt="Form component, best practice 5" style="--inline-img-max-width: 360px;">
  </div>

  </section>



  <section class="section section--palette-default container">
    <a id="Spacing"></a>
    <h2 id="spacing" class="section-title pfe-jump-links-panel__section">Spacing</h2>
    <p>A Form uses <a href="https://www.patternfly.org/v4/guidelines/spacers" target="_blank">PatternFly 4 spacers</a> to define spacing values between elements.</p>

  <h4 id="default">Default</h4>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/form/form-spacing-default.svg" alt="Form component spacing, default" style="--inline-img-max-width: 360px;">
  </div>


  <h4 id="horizontal">Horizontal</h4>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/form/form-spacing-horizontal.svg" alt="Form component spacing, horizontal" style="--inline-img-max-width: 750px;">
  </div>

  </section>


<div class="multi-column--min-300-wide">

  
  <section class="section section--palette-default container">
    <a id="Feedback"></a>
    <h2 id="feedback" class="section-title pfe-jump-links-panel__section">Feedback</h2>
    <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  </section>


  
  <section class="section section--palette-default container">
    <a id="Foundations"></a>
    <h2 id="foundations" class="section-title pfe-jump-links-panel__section">Foundations</h2>
    <p>To learn how to use our other components in your designs, visit the <a href="/components">Components</a> section.</p>
  </section>


</div>

<!-- Junk code that can't be deleted for some reason.
  </section>


  <section class="section section--palette-default container">
    <a id="Spacing"></a>
    <h2 id="spacing" class="section-title pfe-jump-links-panel__section">Spacing</h2>
    
  </section>


-->

      </section></div>
    </div>
  </article>
    

  <footer class="main-footer">
    <img style="max-width: 135px;" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark.svg" alt="Red Hat">
    <p>Copyright © 2021-2022 Red Hat, Inc.</p>
    <div class="main-footer--list">
      <ul>
        <li><a href="https://www.redhat.com/en/about/privacy-policy">Privacy statement</a></li>
        <li><a href="https://www.redhat.com/en/about/terms-use">Terms of use</a></li>
        <li><a href="https://www.redhat.com/en/about/all-policies-guidelines">All policies and guidelines</a></li>
      </ul>
    </div>

    <a id="netlify-badge" href="https://www.netlify.com" target="_blank" rel="noreferrer noopener">
      <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" alt="Deploys by Netlify">
    </a>
  </footer>

<div class="back-to-top">
    <a href="#top" class="back-to-top-link">
        <img src="/assets/back-to-top.svg" alt="Scroll back to the top">
    </a>
</div>

</main>


  </div>



</body></html>