:host {
  display: inline-block;
  overflow: hidden;
  width: var(--rh-size-icon-09, 128px);
  aspect-ratio: 1;

  --rh-avatar-colors: var(--rh-color-blue-200, #73bcf7) var(--rh-color-cyan-300, #009596) var(--rh-color-green-500, #3e8635) var(--rh-color-red-300, #f56d6d) var(--rh-color-purple-500, #6753ac);
}

canvas,
img {
  max-width: 100%;
  aspect-ratio: 1;
}

[hidden] {
  display: none !important;
}

:host([shape="rounded"]) {
  border-radius: var(--rh-border-radius-default, 3px);
}

:host([shape="circle"]) {
  border-radius: var(--rh-border-radius-pill, 64px);
}
