/* :host is the html-include element hosting this demo */
:host {
  display: block;
}

.space-holder {
  min-height: 250vh;
}

.mock-nav {
  height: 72px;
  background-color: black;
}

rh-secondary-nav-menu#custom-grid::part(sections) {
  display: block;
  grid: unset;
}