:root {
  --pfe-theme--font-family: "Red Hat Text", "Overpass", helvetica, arial, sans-serif;
  --pfe-theme--font-family--heading: "Red Hat Display", "Overpass", helvetica, arial, sans-serif;
}

html,
body {
  margin: 0;
  font-family: "Red Hat Text", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* :host is the html-include element hosting this demo */
:host {
  display: block;
}

.space-holder {
  min-height: 250vh;
}

.mock-nav {
  height: 72px;
  background-color: black;
}

rh-secondary-nav-menu#custom-grid::part(sections) {
  display: block;
  grid: unset;
}
