:root {
  --pfe-theme--font-family: RedHatText, "Red Hat Text", "Noto Sans Hebrew", "Noto Sans Japanese", "Noto Sans Korean", "Noto Sans Traditional Chinese", "Noto Sans Simplified Chinese", "Noto Sans Arabic", Overpass, Helvetica, Arial, sans-serif;
  --pfe-theme--font-family--heading: RedHatDisplay, "Red Hat Display", "Noto Sans Arabic", "Noto Sans Devanagari", "Noto Sans Hebrew", "Noto Sans Japanese", "Noto Sans Korean", "Noto Sans Malayalam", "Noto Sans Simplified Chinese", "Noto Sans Tamil", "Noto Sans Thai", "Noto Sans Traditional Chinese", Overpass, Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0;
  font-family: RedHatText, "Red Hat Text", "Noto Sans Hebrew", "Noto Sans Japanese", "Noto Sans Korean", "Noto Sans Traditional Chinese", "Noto Sans Simplified Chinese", "Noto Sans Arabic", Overpass, Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* :host is the html-include element hosting this demo */
:host {
  display: block;
}

.space-holder {
  min-height: 250vh;
}

.mock-nav {
  height: 72px;
  background-color: black;
}

rh-secondary-nav-menu#custom-grid::part(sections) {
  display: block;
  grid: unset;
}