/* Adapted from https://codepen.io/ShadowShahriar/pen/zYPPYrQ?editors=0100 */
:host {
  display: inline;
  margin: 0;
  height: min-content;
}

#container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--_thumb-size) + 4px);

  --_box-fill-color: var(--_progress-color);
  --_clip-bottom: calc(var(--_thumb-size) - var(--_clip-top));
  --_clip-edges: 0.125em;
  --_clip-further: calc(100% + 1px);
  --_clip-top: calc((var(--_thumb-size) - var(--_track-height)) * 0.5 - 0.5px);
  --_outline:
    var(--rh-border-width-md, 2px)
    solid
    var(--rh-color-border-interactive-on-light, #0066cc);
  --_progress-color: var(--rh-range-progress-color, var(--rh-color-brand-red-on-light, #ee0000));
  --_thumb-color: var(--rh-range-thumb-color, var(--rh-color-accent-brand-on-light, #ee0000));
  --_thumb-disabled-color: rgb(0 0 0 / 0.5);
  --_thumb-size: var(--rh-length-lg, 16px);
  --_track-color: var(--rh-range-track-color, var(--rh-color-border-subtle-on-light, #d2d2d2));
  --_track-fill-color: var(--_track-color);
  --_track-height: var(--rh-length-xs, 4px);
}

#container, #track {
  width: 100%;
  position: relative;
}

#track {
  color: var(--_thumb-color);
  margin: 0;
  padding: 0;
  margin-inline: calc(var(--_thumb-size) / 2);
  background: var(--_track-color);
  height: calc(var(--_track-height) + 1px);
  border-radius: var(--_track-height);
  overflow: hidden;
}

#thumb {
  width: var(--_thumb-size);
  aspect-ratio: 1;
  position: absolute;
  inset-inline: var(--_thumb-inline, 0 auto);
  background: var(--_thumb-color);
  border-radius: 100%;
  display: block;
  border: 0;
  translate: var(--_thumb-translate, 0);
}

#track:after,
#track:before {
  content: "";
  background: var(--_thumb-color);
  width: calc(var(--_track-inner, 0%) + var(--_thumb-size) / 2.1 + .5px);
  height: 100%;
}

#track:before {
  display: block;
}

#container.rtl {
  --_box-fill-color: var(--_track-color);
  --_track-fill-color: var(--_progress-color);
  --_thumb-inline: 0 auto;
  --_thumb-flip: 1;
}

#container.rtl #track:before {
  display: none;
}

#container.rtl #track:after {
  display: block;
}

#container.dark {
  --_thumb-disabled-color: rgb(255 255 255 / 0.5);
  --_track-color: var(--rh-range-track-color, var(--rh-color-border-subtle-on-dark, #6a6e73));
  --_outline:
    var(--rh-border-width-md, 2px)
    solid
    var(--rh-color-border-interactive-on-dark, #73bcf7);
  --_thumb-color: var(--rh-range-thumb-color, var(--rh-color-brand-red-on-dark, #ff442b));
  --_progress-color: var(--rh-range-progress-color, var(--rh-color-brand-red-on-dark, #ff442b));
}

#thumb:focus {
  outline: var(--_outline);
}

:host([disabled]) #track {
  filter: grayscale(1);
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

