:host {
  /* light context */
  --_breadcrumb-link-color-on-light:
    var(--rh-breadcrumb-link-color,
      var(--rh-color-interactive-primary-default));
  --_breadcrumb-link-color-current-page-on-light:
    var(--rh-breadcrumb-link-color-current-page,
      var(--rh-color-text-primary));
  --_breadcrumb-link-color-current-page-subtle-on-light:
    var(--rh-breadcrumb-link-color-current-page-subtle,
      var(--rh-color-text-secondary));
  --_breadcrumb-link-color-hover-on-light:
    var(--rh-breadcrumb-link-color-hover,
      var(--rh-color-interactive-primary-hover));
  --_breadcrumb-link-color-visited-on-light:
    var(--rh-breadcrumb-link-color-visited,
      var(--rh-color-interactive-primary-visited-default));
  --_breadcrumb-link-color-visited-hover-on-light:
    var(--rh-breadcrumb-link-color-visited-hover,
      var(--rh-color-interactive-primary-visited-hover));
  --_breadcrumb-link-focus-outline-color-on-light:
    var(--rh-breadcrumb-link-focus-outline-color,
      var(--rh-color-border-interactive));

  /* dark context */
  --_breadcrumb-link-color-on-dark:
    var(--rh-breadcrumb-link-color,
      var(--rh-color-interactive-primary-default));
  --_breadcrumb-link-color-current-page-on-dark:
    var(--rh-breadcrumb-link-color-current-page,
      var(--rh-color-text-primary));
  --_breadcrumb-link-color-current-page-subtle-on-dark:
    var(--rh-breadcrumb-link-color-current-page-subtle,
      var(--rh-color-text-secondary));
  --_breadcrumb-link-color-hover-on-dark:
    var(--rh-breadcrumb-link-color-hover,
      var(--rh-color-interactive-primary-hover));
  --_breadcrumb-link-color-visited-on-dark:
    var(--rh-breadcrumb-link-color-visited,
      var(--rh-color-interactive-primary-visited-default));
  --_breadcrumb-link-color-visited-hover-on-dark:
    var(--rh-breadcrumb-link-color-visited-hover,
      var(--rh-color-interactive-primary-visited-hover));
  --_breadcrumb-link-focus-outline-color-on-dark:
    var(--rh-breadcrumb-link-focus-outline-color,
      var(--rh-color-border-interactive));

  /* computed context */
  --_breadcrumb-caret-image-default: var(--rh-breadcrumb-caret-image, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='15' viewBox='0 0 10 15' fill='none'%3E%3Cg clip-path='url(%23clip0_232_19576)'%3E%3Cpath d='M2.5 14.5L0.5 12.5L5.5 7.5L0.5 2.5L2.5 0.5L9.5 7.5L2.5 14.5Z'  fill='red' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_232_19576'%3E%3Crect width='10' height='14' fill='white' transform='matrix(-1 0 0 1 10 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E"));
  --_breadcrumb-caret-image-subtle:
    light-dark(var(--_breadcrumb-caret-image-subtle-on-light),
      var(--_breadcrumb-caret-image-subtle-on-dark));
  --_breadcrumb-link-color:
    light-dark(var(--_breadcrumb-link-color-on-light),
      var(--_breadcrumb-link-color-on-dark));
  --_breadcrumb-link-color-current-page:
    light-dark(var(--_breadcrumb-link-color-current-page-on-light),
      var(--_breadcrumb-link-color-current-page-on-dark));
  --_breadcrumb-link-color-current-page-subtle:
    light-dark(var(--_breadcrumb-link-color-current-page-subtle-on-light),
      var(--_breadcrumb-link-color-current-page-subtle-on-dark));
  --_breadcrumb-link-color-hover:
    light-dark(var(--_breadcrumb-link-color-hover-on-light),
      var(--_breadcrumb-link-color-hover-on-dark));
  --_breadcrumb-link-color-visited:
    light-dark(var(--_breadcrumb-link-color-visited-on-light),
      var(--_breadcrumb-link-color-visited-on-dark));
  --_breadcrumb-link-color-visited-hover:
    light-dark(var(--_breadcrumb-link-color-visited-hover-on-light),
      var(--_breadcrumb-link-color-visited-hover-on-dark));
  --_breadcrumb-link-focus-outline-color:
    light-dark(var(--_breadcrumb-link-focus-outline-color-on-light),
      var(--_breadcrumb-link-focus-outline-color-on-dark));

  display: block;
}
