h2 {
  grid-column: 1/-1;
}

rh-context-provider {
  padding: var(--rh-space-xl, 24px) var(--rh-space-4xl, 64px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max(40vh, 40%)));
  gap: var(--rh-space-lg, 16px);
}
