:host {
  outline: none;
  display: inline-block;
}

[hidden] {
  display: none !important;
}

:host(:disabled:is(:focus,:focus-within)) {
  outline: none;
}

#container {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 40px;
  height: 24px;
  background-color: var(--_switch-unchecked, var(--rh-color-gray-60, #4d4d4d));
  border-radius: var(--rh-border-radius-pill, 64px);
}

#container:before {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  width: 14px;
  height: 14px;
  background-color: var(--rh-color-surface-lightest, #ffffff);
  border-radius: var(--rh-border-radius-pill, 64px);
  transition: translate 0.25s ease 0s;
}

:host(:is(:focus, :focus-within)) #container {
  outline:
    var(--rh-border-width-md, 2px)
    solid
    var(--rh-color-border-interactive-on-light, #0066cc);
  outline-offset: var(--rh-space-sm, 6px);
}

:host([checked]) #container {
  background-color: var(--_switch-checked, var(--rh-color-accent-base-on-light, #0066cc));
}

:host([checked]) #container:before {
  translate: calc(100% + calc(var(--rh-space-xs, 4px) / 2));
}

:host(:disabled) #container {
  pointer-events: none;
  cursor: not-allowed;

  /* TODO: replace with semantic disabled token */
  background-color: var(--rh-switch-disabled, var(--rh-color-gray-30, #c7c7c7));
}

svg {
  fill: currentcolor;
  margin-inline: var(--rh-space-sm, 6px);
  font-size: var(--rh-font-size-body-text-xs, 0.75rem);
  color: var(--rh-color-icon-secondary-on-dark, #ffffff);
}

.dark {
  background-color: var(--_switch-unchecked, #707070); /* no disabled token yet */
}

#container.dark {
  background-color: var(--_switch-unchecked, var(--rh-color-gray-40, #a3a3a3));
}

:host(:is(:focus, :focus-within)) #container.dark {
  outline-color: var(--rh-color-border-interactive-on-dark, #92c5f9);
}

:host([checked]) #container.dark {
  background-color: var(--_switch-checked, var(--rh-color-accent-base-on-dark, #92c5f9));
}

:host(:disabled) #container.dark {
  /* TODO: replace with semantic disabled token */
  background-color: var(--rh-switch-disabled, var(--rh-color-gray-60, #4d4d4d));
}

#container.dark:before {
  background-color: #292929; /* --rh-color-surface-status-default-on-dark */
  box-shadow: var(--rh-box-shadow-sm, 0 2px 4px 0 rgba(21, 21, 21, 0.2));
}

#container.dark svg {
  color: var(--rh-color-surface-dark-alt, #292929);
}
