<!DOCTYPE html><html class="no-js" lang=""><head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Promo | Red Hat design system</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://www.redhat.com/misc/favicon.ico" type="image/x-icon">

  <meta property="og:title" content="Red Hat design system">
  <meta property="og:site_name" content="Red Hat design system">
  <meta property="og:url" content="ux.redhat.com">
  <meta property="og:description" content="This is Red Hat's design system. Using Red Hat brand standards and PatternFly as our foundational design language, we enable designers and developers to concurrently build branded experiences across redhat.com, Red Hat Customer Portal, and beyond.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://ux.redhat.com/assets/opengraph.png">

  <meta name="pfe-auto-reveal" content="true">

  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css" media="all">

  <link rel="stylesheet" href="/assets/prism.css">
  <link rel="stylesheet" href="/assets/pfe.min.css">
  <link rel="stylesheet" href="/assets/rhds.min.css">

  <link rel="stylesheet" href="/assets/css/style.css" id="">

  

  <noscript>
    <link type="text/css" href="/assets/pfe--noscript.min.css">
  </noscript>

  <script type="module">
    import '/assets/rhds.min.js'
    const PfIcon = await customElements.whenDefined('pf-icon')
    PfIcon.getIconUrl = (set, icon) =>
      new URL(`/assets/packages/@patternfly/elements/pf-icon/icons/${set}/${icon}.js`, location.origin);
  </script>

</head>




  


<body class="page  page--promo" id="top" unresolved="">

  <div class="body-inner">

    


<script>
  window.onUsersnapCXLoad = function(api) {
    api.init();
  }
  var script = document.createElement('script');
  script.async = 1;
  script.src = 'https://widget.usersnap.com/load/64471a95-72fe-4239-b16d-ebcf8b1219f7?onload=onUsersnapCXLoad';
  document.getElementsByTagName('head')[0].appendChild(script);
</script>

<header class="l-header">

  <div class="l-header__logo-bar">
    <a href="/"><img class="l-header__logo" src="/assets/red-hat-design-system.svg" alt="Red Hat design system logo" style="max-width: 188px; min-width: 42px;"></a>
  </div>

  <input id="mobile-menu-toggle" class="menu-toggle element-invisible" type="checkbox" aria-controls="mobile-menu-menu-container">

  <label class="menu-toggle__button l-header__mobile-menu-toggle" for="mobile-menu-toggle" data-controls="mobile-menu-menu-container">
    <span class="l-header__burger-icon"></span>
    <span class="menu-toggle-assistive-text element-invisible">Toggle menu visibility</span>
  </label>

  <div class="menu-toggle__toggleable site-navigation__outer-wrapper">
    <nav class="l-header__site-navigation site-navigation menu-toggle__toggleable-content-wrapper">
      <ul class="site-navigation__wrapper">
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/">
    Home
  </a>

        </li>

        <!-- About

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/about/">
    About this website
  </a>

        </li> -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">About</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/about/">
    About this website
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/about/how-we-build/">
    How we build
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Get started -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Get started</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/">
    Overview
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/design-system-kit/">
    Design system kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/fts-starter-kit/">
    FTS starter kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/icon-libraries/">
    Icon libraries
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/product-logo-library/">
    Product logo library
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Foundations -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Foundations</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/">
    Overview
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

              </li>
              <!--<li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

                </li>-->
            </ul>
          </details>
        </li>

        <!-- Elements -->

        <li class="site-navigation__item">
          <details>
            <summary class="site-navigation__heading">Elements</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/">
    All elements
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/accordion/">
    Accordion
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/alert/">
    Alert
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/call-to-action/">
    Call to action
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/footer/">
    Footer
  </a>

                </li></ul>
          </details>
        </li>
        <!-- Components -->

        <li class="site-navigation__item">
          
          
            
          
          <details open="">
            <summary class="site-navigation__heading">Components</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/components/">
    All components
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/announcement/">
    Announcement
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/audio-player/">
    Audio player
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/avatar/">
    Avatar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/blockquote/">
    Blockquote
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/button/">
    Button
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/card/">
    Card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/dialog/">
    Dialog
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/disclosure/">
    Disclosure
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/filter/">
    Filter
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/form/">
    Form
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/jump-links/">
    Jump links
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link/">
    Link
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link-with-icon/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/navigation-primary/">
    Navigation (primary)
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/navigation-secondary/">
    Navigation (secondary)
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/popover/">
    Popover
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/progress-steps/">
    Progress steps
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
    
  
  <a class="site-navigation__sub-menu__link site-navigation__sub-menu__link--active" href="/components/promo/">
    Promo
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/search-bar/">
    Search bar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/skip-navigation/">
    Skip navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/statistic/">
    Statistic
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-banner/">
    Sticky banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-card/">
    Sticky card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tabs/">
    Tabs
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tooltip/">
    Tooltip
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/video-thumbnail/">
    Video thumbnail
  </a>

                </li></ul>
          </details>
        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/design-code-status/">
    Design/code status
  </a>

        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/release-notes/">
    Release notes
  </a>

        </li>

        <!--

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/get-started/">
    Get started
  </a>

        </li>

        -->

      </ul>
    </nav>
  </div>
</header>


<main class="l-main">
  <article class="l-main__inner">
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 id="promo" class="page-title">Promo</h1>
      </div>
    </header>
    <div class="l-main__content">
      <div class="container">
        
        



  <section class="section section--palette-default container">
    <a id="Overview"></a>
    <h2 id="overview" class="section-title pfe-jump-links-panel__section">Overview</h2>
    <p>A Promo is a full-width site banner used to promote or advertise an announcement like a product, feature, or event.</p>
  </section>



  <section class="section section--palette-default container">
    <a id="Sample%20component"></a>
    <h2 id="sample-component" class="section-title pfe-jump-links-panel__section">Sample component</h2>
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="/assets/promo-banner/promo-banner.svg" alt="Promo banner" style="">
    </div>
  </section>



  <section class="section section--palette-default container">
    <a id="Style"></a>
    <h2 id="style" class="section-title pfe-jump-links-panel__section">Style</h2>
    <p>A promo banner has light, dark, saturated, and photo background options. It contains a headline, text, and a call to action that can be arranged differently depending on the variant and breakpoint.</p>

    
  <div class="example example--palette-light">
    
    
        <div class="inline-flex centered margin-top--1 margin-bottom--1">
            <img src="/assets/promo-banner/promo-banner-style.svg" alt="Promo banner specs" style="--inline-img-max-width: 872px;">
        </div>
  </div>


    <h4 id="theme">Theme</h4>

    
  <div class="example example--palette-light">
    
    
        <div class="inline-flex centered margin-top--1 margin-bottom--1">
            <img src="/assets/promo-banner/promo-banner-theme.svg" alt="Promo banner color theme" style="--inline-img-max-width: 872px;">
        </div>
  </div>


    
  <div class="example example--palette-light">
    
    
        <div class="inline-flex centered margin-top--1 margin-bottom--1">
            <img src="/assets/promo-banner/promo-banner-theme-gray.svg" alt="Promo banner gray theme" style="--inline-img-max-width: 872px;">
        </div>
  </div>


    
  <div class="example example--palette-light">
    
    
        <div class="inline-flex centered margin-top--1 margin-bottom--1">
            <img src="/assets/promo-banner/promo-banner-theme-black.svg" alt="Promo banner dark theme" style="--inline-img-max-width: 872px;">
        </div>
  </div>


    
  <div class="example example--palette-light">
    
    
        <div class="inline-flex centered margin-top--1 margin-bottom--1">
            <img src="/assets/promo-banner/promo-banner-theme-imaged.svg" alt="Promo banner imaged theme" style="--inline-img-max-width: 872px;">
        </div>
  </div>



    <h4 id="call-to-action">Call to action</h4>

    <p>A promo banner features a Secondary call to action. Don’t change it to the Primary or Default style, even if other Secondary styles are used in the same area.</p>
  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <a id="Usage"></a>
    <h2 id="usage" class="section-title pfe-jump-links-panel__section">Usage</h2>
    <h4 id="layout">Layout</h4>
    <p>A promo banner always has three elements, a headline, text, and a call to action. These elements are arranged differently depending on the variant and breakpoint. On large screens, the promo banner background spans the width of a browser window. The content inside falls within a 12-column grid on large screens and a one-column grid on small screens.</p>

    <div class="inline-stacked">
        <div class="inline-flex centered margin-top--4">
            <img src="/assets/promo-banner/promo-banner-layout-desktop.svg" alt="Promo banner desktop layout" style="">
        </div>

        <div class="margin-bottom--4">
            <img src="/assets/promo-banner/promo-banner-layout-mobile.svg" alt="Promo banner mobile layout" style="--inline-img-max-width: 360px;">
        </div>
    </div>

    <h4 id="placement">Placement</h4>
    <p>A promo banner can be placed anywhere on a page below the hero and the fold, but be mindful of hierarchy. If content in a promo banner is less important or relevant than other content, it may  be positioned lower on the page.</p>

    <div class="inline-flex centered margin-top--4 margin-bottom--4">
        <img src="/assets/promo-banner/promo-banner-placement.svg" alt="Promo banner placement" style="">
    </div>

    <h4 id="color-backgrounds">Color backgrounds</h4>
    <p>The promo banner default background color is blue. If other layouts nearby use a similar color or if they have the same visual weight, the page will become too heavy. Switch the background color to light gray so a user’s eye can rest. Alternatively, if there’s a lot of blue on the page, use the black background instead if it works in the layout.</p>

    <h4 id="photo-background">Photo background</h4>
    <p>Use a photo background in a promo banner sparingly, as it can feel heavy. Always ensure that accessibility standards are being met when placing text and calls to action on a photo background (reversing the text and call to action colors or adding an overlay will help).</p>

    <ul>
        <li>If a page already contains lots of photos or graphics, avoid using a promo banner with a photo background because the page will become heavier.</li>
        <li>If a page is short or lacks visual interest, consider using a promo banner with a photo background.</li>
    </ul>

    <div class="inline-stacked">
        <div class="inline-flex centered margin-top--4">
            <img src="/assets/promo-banner/promo-banner-imaged-wrong.svg" alt="Promo banner imaged wrong style" style="">
        </div>

        <div class="inline-flex centered margin-bottom--4">
            <img src="/assets/promo-banner/promo-banner-imaged-right.svg" alt="Promo banner imaged right style" style="">
        </div>
    </div>

    <h4 id="content">Content</h4>
    <p>The content or offer being advertised in a promo banner should be secondary or even tertiary to the main message of the page so it doesn’t distract from the intended user experience.</p>
  </section>


<hr class="margin-top--2 margin-bottom--10">


  <section class="section section--palette-default container">
    <a id="Best%20practices"></a>
    <h2 id="best-practices" class="section-title pfe-jump-links-panel__section">Best practices</h2>
    <p>Don't place a promo banner near another layout with equal or more visual weight.</p>

  
  <div class="example example--palette-wrong">
    
    
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
        <img src="/assets/promo-banner/promo-banner-best-practices-1.svg" alt="Promo banner placement issue" style="--inline-img-max-width: 872px;">
    </div>
  </div>


  <p>Be mindful of using the black promo banner in a light environment because the contrast can be harsh.</p>

    
  <div class="example example--palette-wrong">
    
    
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
        <img src="/assets/promo-banner/promo-banner-best-practices-2.svg" alt="Promo banner contrast issue" style="--inline-img-max-width: 872px;">
    </div>
  </div>


    <p>For better accessibility, don’t use light text on a light photo background without a dark overlay underneath.</p>
    
  <div class="example example--palette-wrong">
    
    
        <div class="inline-flex centered margin-top--4 margin-bottom--4">
            <img src="/assets/promo-banner/promo-banner-best-practices-3.svg" alt="Promo banner placement issue" style="--inline-img-max-width: 872px;">
        </div>
  </div>


    <p>Don't omit any of the three elements or change the call to action style.</p>
    
  <div class="example example--palette-wrong">
    
    
        <div class="inline-flex centered margin-top--4 margin-bottom--4">
            <img src="/assets/promo-banner/promo-banner-best-practices-4.svg" alt="Promo banner omitted elements issue" style="--inline-img-max-width: 872px;">
        </div>
  </div>


    <p>Don't include links in the text, the only link that should be featured is the call to action.</p>
    
  <div class="example example--palette-wrong">
    
    
        <div class="inline-flex centered margin-top--4 margin-bottom--4">
            <img src="/assets/promo-banner/promo-banner-best-practices-5.svg" alt="Promo banner link text issue" style="--inline-img-max-width: 872px;">
        </div>
  </div>

  </section>




  <section class="section section--palette-default container">
    <a id="Responsive%20design"></a>
    <h2 id="responsive-design" class="section-title pfe-jump-links-panel__section">Responsive design</h2>
    <h4 id="breakpoints">Breakpoints</h4>
    <p>A promo banner works well across both large and small screens. The elements in both variants will stack in one column and become vertically-aligned on small screens.</p>

    <h4 id="desktop">Desktop</h4>

    <div class="inline-flex centered margin-top--4 margin-bottom--4">
        <img src="/assets/promo-banner/promo-banner-responsive-desktop.svg" alt="Promo banner responsive desktop" style="">
    </div>

    <h4 id="tablet">Tablet</h4>

    <div class="margin-top--4 margin-bottom--4">
        <img src="/assets/promo-banner/promo-banner-responsive-tablet.svg" alt="Promo banner responsive tablet" style="--inline-img-max-width: 768px;">
    </div>

    <h4 id="mobile">Mobile</h4>

    <div class="margin-top--4 margin-bottom--4">
        <img src="/assets/promo-banner/promo-banner-responsive-mobile.svg" alt="Promo banner responsive mobile" style="--inline-img-max-width: 360px;">
    </div>

    <p class="footnote">Some text styles reduce in size on small screens. Learn more about <a href="../../foundations/typography">typography on mobile</a></p>
  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <a id="Interaction%20states"></a>
    <h2 id="interaction-states" class="section-title pfe-jump-links-panel__section">Interaction states</h2>
    <p>The only interactive element in a promo banner is the call to action.</p>

    
  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <a id="Spacing"></a>
    <h2 id="spacing" class="section-title pfe-jump-links-panel__section">Spacing</h2>
    <p>Both promo banner variants use <a href="https://www.patternfly.org/v4/guidelines/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

  
  <div class="example example--palette-light">
    
    
    <div class="inline-flex margin-top--4 margin-bottom--4">
        <img src="/assets/promo-banner/promo-banner-spacing-large.svg" alt="Promo banner spec spacing" style="--inline-img-max-width: 872px;">
    </div>
  </div>


    
  <div class="example example--palette-light">
    
    
    <div class="inline-flex centered">
        <img src="/assets/promo-banner/promo-banner-spacing-small.svg" alt="Promo banner spec spacing small" style="--inline-img-max-width: 360px;">
    </div>
  </div>

  </section>


<div class="multi-column--min-300-wide">

  
  <section class="section section--palette-default container">
    <a id="Feedback"></a>
    <h2 id="feedback" class="section-title pfe-jump-links-panel__section">Feedback</h2>
    <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  </section>


  
  <section class="section section--palette-default container">
    <a id="Foundations"></a>
    <h2 id="foundations" class="section-title pfe-jump-links-panel__section">Foundations</h2>
    <p>To learn how to use our other components in your designs, visit the <a href="/components">Components</a> section.</p>
  </section>


</div>

      </div>
    </div>
  </article>
    

  <footer class="main-footer">
    <img style="max-width: 135px;" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark.svg" alt="Red Hat">
    <p>Copyright © 2021-2023 Red Hat, Inc.</p>
    <div class="main-footer--list">
      <ul>
        <li><a href="https://www.redhat.com/en/about/privacy-policy">Privacy statement</a></li>
        <li><a href="https://www.redhat.com/en/about/terms-use">Terms of use</a></li>
        <li><a href="https://www.redhat.com/en/about/all-policies-guidelines">All policies and guidelines</a></li>
      </ul>
    </div>

    <a id="netlify-badge" href="https://www.netlify.com" target="_blank" rel="noreferrer noopener">
      <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" alt="Deploys by Netlify">
    </a>
  </footer>

<div class="back-to-top">
    <a href="#top" class="back-to-top-link">
        <img src="/assets/back-to-top.svg" alt="Scroll back to the top">
    </a>
</div>

</main>


  </div>
  <script src="/js/global.js"></script>



</body></html>