#sort-button {
  background-color: transparent;
  border: 0;
  color: var(--rh-color-text-primary);
}
=

#sort-button:after {
  content: '';
  position: absolute;
  inset: 0;
  cursor: pointer;
}

#sort-button #sort-indicator {
  color: currentcolor;
}

.visually-hidden {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
