@use 'sass:map';
@use '__core/mixins' as *;
@use '__core/variables' as *;

body {
  padding-top: 60px;

  @include breakpoint(bravo) {
    padding-top: 72px; // Move content down to dodge fixed header
  }
}

// .l-header {
// }

.l-header__logo-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  height: map.get($header-height, default);
  padding: 0 24px;
  color: #fff;
  background: #000;
  @include breakpoint(bravo) {
    position: fixed;
  }

  .feedback-button {
    align-self: center;
    justify-content: center;
    position: absolute;
    right: 64px;
    @include breakpoint(bravo) {
      right: 48px;
    }
  }

  @each $breakpoint, $height in $header-height {
    @if $breakpoint != 'default' {
      @include breakpoint($breakpoint) {
        height: $height;
      }
    }
  }
}

.l-header__logo {
  max-width: 136px;
}

.l-main {
  position: relative;
  @include breakpoint($nav-break) {
    // padding-bottom: 40px;
    padding-left: $fixed-sidebar-width;
  }
}

.l-main__header--palette-lighter {
  background: #f5f5f5;
  margin-bottom: 80px;
}

.l-main__content {
  padding-block-end: var(--rh-space-4xl, 64px);
}

.main-footer {
  background-color: #151515;
  padding: 24px 32px;
  margin-top: 80px;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-flow: column nowrap;

  @include breakpoint(bravo) {
    flex-flow: row wrap;
    text-align: left;
    gap: 0;

    #netlify-badge {
      margin-inline-start: auto;
    }
  }

  img {
    display: block;
    margin: 0 auto 24px;
    text-align: center;
    @include breakpoint(bravo) {
      text-align: left;
      margin: 0 24px;
    }
  }

  p {
    font-size: 12px;
    color: #d2d2d2;
    margin: 0 16px;
    padding: 0;
    line-height: 12px;
  }

  &--list { 
    ul {
      display: block;
      margin: 0;
      list-style: none;
      padding: 0;
      @include breakpoint(bravo) {
        display: flex;
      }

      li {
        padding: 0 8px;
        line-height: 24px;
        @include breakpoint(bravo) {
          line-height: 12px;
        }
      }

      a {
        line-height: 12px;
        font-size: 12px;
        color: #d2d2d2;
       
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.layout-wrapper--jumplinks {
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-gap: 64px;
  max-width: 800px;
}

.jump-links--layout {
  position: relative;
  min-width: 200px;

  pfe-jump-links-nav {
    position: sticky;
    top: 100px;
  }
}
