@use "sass:map";
@use "__core/mixins" as *;
@use "__core/variables" as *;

// !! Utility classes should never be extended with other styles
// !! e.g. .l-sidebar .headline {color: blue;}
// !! Instead another class should be added to the element for custom styles

:root {
  --width: auto;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.visually-hidden {
  @include visually-hidden;

  gap: 1rem;
}

.element-invisible {
  @include visually-hidden;

  gap: 1rem;
}

.header,
.section,
.container {
  max-width: 1160px;
  padding-inline: var(--rh-space-2xl);

  @include breakpoint(tango) {
    padding-left: var(--rh-space-5xl);
    padding-right: var(--rh-space-5xl);
  }
}

.multi-column--150-wide,
.multi-column--200-wide,
.multi-column--300-wide,
.multi-column--400-wide,
.multi-column--500-wide,
.multi-column--600-wide,
.multi-column--min-150-wide,
.multi-column--min-200-wide,
.multi-column--min-300-wide,
.multi-column--min-400-wide,
.multi-column--min-500-wide,
.multi-column--min-600-wide {
  grid-template-columns: 1fr;
  width: 100%;
  display: grid;
  gap: 32px;
  margin-bottom: var(--rh-space-4xl);

  @include breakpoint(lima) {
    gap: 2rem var(--rh-space-4xl);
    width: calc(100vw - #{$fixed-sidebar-width + 240px});
    max-width: 100%;
    margin-bottom: auto;
  }

  .section + .section {
    margin: 0;
  }

  + h3 {
    margin-top: 0;
  }

  .example {
    margin-bottom: 0;
  }

  .example + .example {
    margin-top: 0;
  }
}

.multi-column--200-wide {
  grid-template-columns: 1fr;

  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
  }
}

.multi-column--300-wide {
  grid-template-columns: 1fr;

  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  }
}

.multi-column--400-wide {
  grid-template-columns: 1fr;

  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
  }
}

.multi-column--500-wide {
  grid-template-columns: 1fr;

  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 500px));
  }
}

.multi-column--600-wide {
  grid-template-columns: 1fr;

  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fit, minmax(500px, 600px));
  }
}

.multi-column--min-150-wide {
  grid-template-columns: 1fr;
  width: 100%;

  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}

.multi-column--min-200-wide {
  grid-template-columns: 1fr;
  width: 100%;

  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.multi-column--min-300-wide {
  grid-template-columns: 1fr;
  width: 100%;

  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.multi-column--min-400-wide {
  grid-template-columns: 1fr;
  width: 100%;

  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

.multi-column--min-500-wide {
  grid-template-columns: 1fr;
  width: 100%;

  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}

.multi-column--min-600-wide {
  grid-template-columns: 1fr;
  width: 100%;

  @include breakpoint(lima) {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
}

.margin-top--1[class] {
  margin-top: var(--rh-space-md);
}

.margin-top--2[class] {
  margin-top: var(--rh-space-lg);
}

.margin-top--3[class] {
  margin-top: var(--rh-space-xl);
}

.margin-top--4[class] {
  margin-top: var(--rh-space-2xl);
}

.margin-top--5[class] {
  margin-top: 40px; // WARNING: not a token
}

.margin-top--6[class] {
  margin-top: var(--rh-space-3xl);
}

.margin-top--7[class] {
  margin-top: 56px; // WARNING: not a token
}

.margin-top--8[class] {
  margin-top: var(--rh-space-4xl);
}

.margin-top--9[class] {
  margin-top: 72px; // WARNING: not a token
}

.margin-top--10[class] {
  margin-top: var(--rh-space-5xl);
}

.margin-top--12[class] {
  margin-top: var(--rh-space-6xl);
}

.margin-bottom--1[class] {
  margin-bottom: var(--rh-space-md);
}

.margin-bottom--2[class] {
  margin-bottom: var(--rh-space-lg);
}

.margin-bottom--3[class] {
  margin-bottom: var(--rh-space-xl);
}

.margin-bottom--4[class] {
  margin-bottom: var(--rh-space-2xl);
}

.margin-bottom--5[class] {
  margin-bottom: 40px;
}

.margin-bottom--6[class] {
  margin-bottom: var(--rh-space-3xl);
}

.margin-bottom--7[class] {
  margin-bottom: 56px;
}

.margin-bottom--8[class] {
  margin-bottom: var(--rh-space-4xl);
}

.margin-bottom--9[class] {
  margin-bottom: 72px; // WARNING: not a token
}

.margin-bottom--10[class] {
  margin-bottom: var(--rh-space-5xl);
}

.centered {
  margin: 0 auto;
  text-align: center;
  align-items: center;

  p {
    max-width: 1000px;
    margin: 0 auto var(--rh-space-3xl);
  }
}

.footnote {
  font-size: 14px;
  color: #6a6e73;
  line-height: 18px;

  // Not ideal negative margins, need to dynamically
  // ask if there is a footnote below example
  margin-top: 16px;
  margin-bottom: var(--rh-space-4xl);

  @include breakpoint(tango) {
    margin-top: -16px;
  }
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid #d2d2d2;
}

.section-headline {
  color: #ee0000;
  text-transform: uppercase;
  font-family: var(--rh-font-family-heading, RedHatDisplay, "Red Hat Display", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif);
  margin-bottom: 0;
  line-height: 26px;
  font-size: 20px;
  font-weight: 500;
}

.multi-column--4-2-1-narrow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  justify-content: center;

  @include breakpoint(tango) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
  }
}

.multi-column--4-2-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--rh-space-2xl);
  justify-content: center;

  @include breakpoint(tango) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--rh-space-4xl);
  }
}

.multi-column--3-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--rh-space-2xl);
  justify-content: center;

  @include breakpoint(tango) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--rh-space-4xl);
  }
}

.multi-column--2-1-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--rh-space-4xl);
  justify-content: center;
  align-items: top;

  @include breakpoint(tango) {
    grid-template-columns: 1fr 1fr;
    gap: var(--rh-space-4xl);
  }
}

.inline-flex {
  display: block;
  justify-content: center;
  flex: 1;

  @include breakpoint(lima) {
    flex: 2;
    display: flex;
  }

  div {
    padding: 0 16px;
    margin-bottom: 20px;

    @include breakpoint(tango) {
      margin-bottom: 0;
    }
  }
}

.inline-flex-left {
  display: block;
  justify-content: left;
  flex: 1;
  align-items: center;

  @include breakpoint(lima) {
    display: inline-flex;
  }

  > * {
    margin-bottom: 20px;
    margin-right: var(--rh-space-2xl);

    @include breakpoint(tango) {
      margin-bottom: 0;
    }
  }
}

.inline-stacked {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--rh-space-4xl);
}

.inline-stack-mobile {
  > * {
    margin-bottom: 20px;
    margin-right: var(--rh-space-2xl);

    @include breakpoint(tango) {
      margin-bottom: 0;
    }
  }
}

.description-box {
  h4 {
    a {
      color: #151515;
      text-decoration: none;
      font-size: 24px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.padding-stacked {
  margin-bottom: 40px;

  .example {
    margin-bottom: 16px;
  }

  h3 {
    margin-bottom: 0;
    padding-bottom: 8px;
    margin-top: 0;
    font-size: 24px;
  }

  p {
    margin-top: 0;
    padding-top: 0;
  }

  a {
    text-decoration: none;
    color: #151515;

    p {
      color: #151515;
    }

    h4 {
      text-decoration: none;
      color: #151515;

      &:visited,
      &:hover {
        color: #151515;
      }
    }
  }
}

.label {
  display: inline-block;

  &.outlined {
    border: 1px solid #d2d2d2;
    border-radius: 15px;
    padding: 4px 8px;
    font-size: 14px;

    &.green {
      border-color: #bde5b8;
    }

    &.red {
      border-color: #c9190b;
    }

    &.purple {
      border-color: #cbc1ff;
    }

    &.light-blue {
      border-color: #bee1f4;
    }

    &.light-teal {
      border-color: #a2d9d9;
    }

    &.yellow {
      border-color: #f9e0a2;
    }
  }

  + .label {
    margin-left: 8px;
  }
}

.back-to-top {
  position: absolute;
  top: 100vh;
  right: 32px;
  bottom: 32px;
  width: 3em;
  pointer-events: none;
  z-index: 1;
}

.back-to-top-link {
  position: fixed;
  position: sticky;
  top: calc(100vh - 100px);
  display: inline-block;
  transition: transform 80ms ease-in;
  z-index: 1;
  pointer-events: all;

  img {
    transition: 0.3s ease all;
  }

  img:hover,
  img:focus {
    filter: saturate(80%);
  }
}

// Adding sticky styles
.sticky {
  position: sticky;
  top: 0;
}

.page-jump-links {
  // right: 48px;
  // top: 320px;
  position: sticky;
  z-index: 9999;
  display: none;
  top: 0;

  @include breakpoint(zeta) {
    display: block;
  }

  @media screen and (max-height: 850px) {
    display: none;
  }
}

pfe-jump-links-nav {
  position: sticky;
  top: 0;
  padding: 0;
}

// Status table styles
.status-table {
  .success {
    color: #51a549;
  }

  .deemphasized {
    color: #6a6e73;
  }

  .blocked {
    color: #ee0000;
  }
}

.stacked-group {
  margin-top: 32px;

  h3 {
    margin-top: 16px;

    a {
      text-decoration: none;
      color: #151515;

      &:visited,
      &:hover {
        color: #151515;
        text-decoration: underline;
      }
    }
  }
}

.inline-list {
  li {
    display: inline-block;
    margin: 0 4px;

    &:after {
      content: "/";
      padding-left: 12px;
    }

    &:last-child:after {
      content: "";
    }
  }
}

.related {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      line-height: 40px;

      a { /* stylelint-disable-line */
        text-decoration: none;
      }
    }
  }
}

// Alternating layout

.alternating {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: var(--rh-space-4xl);
  align-items: center;

  @include breakpoint(tango) {
    grid-template-columns: 1fr 1fr;
  }

  &--item {
    margin: 40px 0;
    flex-direction: column;
    flex: 1;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(3) {
      order: 4;
    }

    &:nth-child(4) {
      order: 3;
    }

    &:nth-child(5) {
      order: 5;
    }

    &:nth-child(6) {
      order: 6;
    }

    &:nth-child(7) {
      order: 8;
    }

    &:nth-child(8) {
      order: 7;
    }

    @include breakpoint(tango) { /* stylelint-disable-line */
      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 2;
      }

      &:nth-child(3) {
        order: 3;
      }

      &:nth-child(4) {
        order: 4;
      }

      &:nth-child(5) {
        order: 5;
      }

      &:nth-child(6) {
        order: 6;
      }

      &:nth-child(7) {
        order: 7;
      }

      &:nth-child(8) {
        order: 8;
      }
    }

    h3 {
      margin-top: 0;
    }
  }
}

// Alert styles

rh-alert {
  margin-top: 32px;
  margin-bottom: 32px;
}

.asset-header {
  background-color: #f5f5f5;
  padding: var(--rh-space-4xl) var(--rh-space-5xl);
  text-align: center;
}

// Step boxes

.card-grid {
  --number-size: 56px;

  display: grid;
  grid-template-columns: 1fr;
  gap: var(--rh-space-4xl);
  margin-block-start: var(--rh-space-2xl);

  @include breakpoint(papa) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  & rh-card {
    & [slot="header"] {
      &:is(h2, h3, h4, h5, h6) {
        margin: var(--rh-space-xl) 0;
      }

      &.number {
        justify-content: center;
        text-align: center;
        margin-bottom: var(--rh-space-lg);
        background-color: var(--rh-color-surface-lighter);
        border-radius: 50%;
        width: var(--number-size);
        height: var(--number-size);
        font-size: 28px;
        display: block;
        padding: 10px;
        color: var(--rh-color-brand-red-on-light);
        font-weight: var(--rh-font-weight-heading-bold);
        line-height: 37px;
        margin-inline-end: var(--rh-space-4xl);
      }
    }
  }
}

// Adding style for modal launch

.modal-launch {
  cursor: pointer;
}

// PFE modal headline styles

.section rh-dialog {
  h3 {
    margin-top: 32px;
  }
}

.multi-column--min-300-wide:last-of-type {
  .section {
    margin-bottom: 0;
  }
}

// Notes below example containers

ol.example-notes,
.example-note {
  font-size: var(--rh-font-size-body-text-sm, 0.875rem);
  color: var(--rh-color-text-secondary-on-light, #4d4d4d);
  line-height: var(--rh-line-height-body-text, 1.5);
}

ol.example-notes {
  padding-inline-start: 0;
  margin-block-start: var(--rh-space-lg, 16px);
  counter-reset: list;

  @include breakpoint(tango) {
    margin-top: -48px;
  }

  & > li {
    list-style: none;
    line-height: var(--rh-line-height-body-text, 1.5);
  }

  & > li:before {
    content: counter(list) ") ";
    counter-increment: list;
  }
}

.full-width {
  width: 100%;
}

.col-211 th { width: 25%; }
.col-211 th:first-of-type { width: 50%; }
.col-111 th { width: 33%; }
.col-11 th { width: 50%; }
.col-13 th { width: 25%; }
.col-13 th:last-of-type { width: 75%; }
