@use "__core/css-properties";
@use "__core/variables";
@use "__core/mixins";
@use "_base/normalize";
@use "_base/base";
@use "components/site-navigation";
@use "components/menu-toggle";
@use "components/header";
@use "components/section";
@use "components/example";
@use "components/feedback";
@use "components/table-of-contents";
@use "components/component-status-table";
@use "components/spacer-tokens-table";
@use "components/related-elements-or-patterns";
@use "foundations/colorswatch";
@use "layout";
@use "utility";

body.element-docs rh-subnav img {
  --inline-img-max-width: 992px;
}

.header.container.has-subnav {
  padding-bottom: 0;
}

section.api.band {
  margin-block-end: var(--rh-space-4xl);
  padding-inline: 0;
}

.section.feedback {
  margin-block-end: 0;
}

.section table {
  width: 100%;
}

copy-permalink {
  display: flex;
  margin-block-end: var(--rh-space-lg);
}

copy-permalink:focus-within {
  --perma-signifier-display: initial;
}

a.heading-anchor {
  position: relative;
  text-decoration: inherit;
}

a.heading-anchor,
a.heading-anchor:visited {
  color: inherit;
}

a.heading-anchor:hover:before {
  content: "#";
  display: block;
  position: absolute;
  inset-inline-start: -1em;
}

copy-permalink > :is(h1, h2, h3, h4, h5, h6) {
  margin-block: 0;
}

body.element-docs copy-permalink.h2,
body.element-docs copy-permalink.h3,
body.page-docs copy-permalink.h2,
body.page-docs copy-permalink.h3,
body.token-docs copy-permalink.h2,
body.token-docs copy-permalink.h3 {
  margin-block-start: 82px;
}

body.element-docs copy-permalink.h2 + copy-permalink.h3,
body.page-docs copy-permalink.h2 + copy-permalink.h3,
body.token-docs copy-permalink.h2 + copy-permalink.h3 {
  margin-block-start: var(--rh-space-2xl, 32px);
}

a.vpn:after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("/assets/padlock-locked.svg");
  margin-inline-start: var(--rh-space-xs);
  vertical-align: middle;
  margin-block-end: 0.2em;

/* Release Notes & Roadmap styling */
.releases-links {
  margin-block-start: var(--rh-space-3xl) !important;
  display: flex;
  gap: 2rem;
}

rh-block a {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  padding: var(--rh-space-lg);
  border: 1px solid var(--rh-color-border-subtle-on-light);
  border-radius: var(--rh-border-radius-default);
  text-decoration: none;
  font-weight: bold;
}

rh-block a:hover {
  text-decoration: underline;
  background: var(--rh-color-surface-light);
}

rh-block a::after {
  align-self: flex-end;
  content: url('data:image/svg+xml;utf8,<svg focusable="false" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M13,14H3c-0.6,0-1-0.4-1-1V3c0-0.6,0.4-1,1-1h5v1H3v10h10V8h1v5C14,13.6,13.6,14,13,14z"></path><path d="M10 1L10 2 13.3 2 9 6.3 9.7 7 14 2.7 14 6 15 6 15 1z"></path></svg>');
}

rh-block a[href*="github"]::before {
  content: url('data:image/svg+xml;utf8,<svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" class="MdxIcon-module--mdx-icon--4dec0"><path fill-rule="evenodd" d="M16,2a14,14,0,0,0-4.43,27.28c.7.13,1-.3,1-.67s0-1.21,0-2.38c-3.89.84-4.71-1.88-4.71-1.88A3.71,3.71,0,0,0,6.24,22.3c-1.27-.86.1-.85.1-.85A2.94,2.94,0,0,1,8.48,22.9a3,3,0,0,0,4.08,1.16,2.93,2.93,0,0,1,.88-1.87c-3.1-.36-6.37-1.56-6.37-6.92a5.4,5.4,0,0,1,1.44-3.76,5,5,0,0,1,.14-3.7s1.17-.38,3.85,1.43a13.3,13.3,0,0,1,7,0c2.67-1.81,3.84-1.43,3.84-1.43a5,5,0,0,1,.14,3.7,5.4,5.4,0,0,1,1.44,3.76c0,5.38-3.27,6.56-6.39,6.91a3.33,3.33,0,0,1,.95,2.59c0,1.87,0,3.38,0,3.84s.25.81,1,.67A14,14,0,0,0,16,2Z"></path></svg>');
}

rh-block [slot="header"] {
  font-size: 1rem;
}

.release-version h3 {
  margin-top: var(--rh-space-lg);
}

body.page-docs .release-version copy-permalink.h3 {
  margin-block-start: var(--rh-space-xl);
}

.release-version table + p {
  margin-block-start: var(--rh-space-2xl);
}

/* could arguably be for all external links, not just within body.page-docs */
body.page-docs a[href^="http"]::after {
  display: inline-block;
  vertical-align: middle;
  margin-inline-start: 0.25em;
  content: url('data:image/svg+xml;utf8,<svg focusable="false" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M13,14H3c-0.6,0-1-0.4-1-1V3c0-0.6,0.4-1,1-1h5v1H3v10h10V8h1v5C14,13.6,13.6,14,13,14z"></path><path d="M10 1L10 2 13.3 2 9 6.3 9.7 7 14 2.7 14 6 15 6 15 1z"></path></svg>');
}

body.page-docs rh-cta a[href^="http"]::after {
  display: none;
}

.feedback-contact-link {
  white-space: nowrap; /* fix orphan issue on the Feedback shortcode's contact us link */
}

:is(rh-table) th {
  font-size: unset;
}

rh-playground pre {
  max-height: 785px;
}
