@use "__core/css-properties";
@use "__core/variables";
@use "__core/mixins";
@use "_base/normalize";
@use "_base/base";
@use "components/site-navigation";
@use "components/menu-toggle";
@use "components/header";
@use "components/section";
@use "components/example";
@use "components/table-of-contents";
@use "components/component-status-table";
@use "components/spacer-tokens-table";
@use "components/related-elements-or-patterns";
@use "foundations/colorswatch";
@use "layout";
@use "utility";

body.element-docs rh-subnav img {
  --inline-img-max-width: 992px;
}

body.element-docs .header.container {
  padding-bottom: 0;
}

section.api.band {
  margin-block-end: var(--rh-space-4xl, 64px);
  padding-inline: 0;
}

.section.feedback {
  margin-block-end: 0;
}

.section table {
  width: 100%;
}
