@use "__core/css-properties";
@use "__core/variables";
@use "__core/mixins";
@use "_base/normalize";
@use "_base/base";
@use "components/site-navigation";
@use "components/menu-toggle";
@use "components/header";
@use "components/section";
@use "components/example";
@use "components/table-of-contents";
@use "components/component-status-table";
@use "components/spacer-tokens-table";
@use "components/related-elements-or-patterns";
@use "foundations/colorswatch";
@use "layout";
@use "utility";

body.element-docs rh-subnav img {
  --inline-img-max-width: 992px;
}

body.element-docs .header.container {
  padding-bottom: 0;
}

section.api.band {
  margin-block-end: var(--rh-space-4xl);
  padding-inline: 0;
}

.section.feedback {
  margin-block-end: 0;
}

.section table {
  width: 100%;
}

copy-permalink {
  display: flex;
  margin-block-end: var(--rh-space-lg);
}

copy-permalink:focus-within {
  --perma-signifier-display: initial;
}

a.heading-anchor {
  position: relative;
  text-decoration: inherit;
}

a.heading-anchor,
a.heading-anchor:visited {
  color: inherit;
}

a.heading-anchor:hover:before {
  content: "#";
  display: block;
  position: absolute;
  inset-inline-start: -1.5rem;
  inset-block-start: 0.125rem;
}

copy-permalink > :is(h1, h2, h3, h4, h5, h6) {
  margin-block: 0;
}

body.element-docs copy-permalink.h2,
body.element-docs copy-permalink.h3 {
  margin-block-start: 82px;
}

