:host {
  position: relative;
  z-index: var(--rh-snav-z-index);
}

:host(:not([visible])) {
  display: none;
}

:host([visible])  {
  background-color: var(--rh-snav-expanded-background-color);
  max-height: calc(100vh - var(--rh-snav-min-height ,4.625em));
  overflow-y: auto;
}

#section {
  display: grid;
  grid-template-columns: var(--rh-snav-menu-section-template-columns, repeat(auto-fit, minmax(16.75em, 1fr)));
  grid-template-rows: auto;
  gap: var(--rh-snav-menu-section-gap, 2em);
  padding: var(--rh-snav-menu-section-padding, 1em 0 2em);
}

#cta {
  display: grid;
  grid-template-columns: var(--rh-snav-menu-cta-template-columns, repeat(auto-fit, minmax(16.75em, 1fr)));
  grid-template-rows: auto;
  grid-gap: var(--rh-snav-menu-cta-gap, 2em);
  padding:  var(--rh-snav-menu-cta-padding, 2em 0em);
}

.hidden {
  display: none !important;
}

::slotted([slot="cta"]) {
  padding: 0 1em;
}

::slotted([slot="links"]) {
  list-style: none;
  margin: 1em 0;
  padding: 0 1em 1em;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

::slotted([slot="open"]) {
  padding: 1em;
}

@media screen and (min-width: 992px) {
  :host([visible]) {
    position: absolute;
    left: 0;
    right: 0;
    top: var(--rh-snav-min-height);
    padding: 2em;
    box-shadow: var(--rh-snav-box-shadow);
  }

  :host([type="fixed-width"]) {
    position: absolute;
    top: var(--rh-snav-min-height);
    left: auto;
    right: auto;
    bottom: auto;
    margin-top: 0;
    padding: 1em 1em;
  }

  #cta {
    border-top: 1px solid var(--rh-snav-divider-color);
  }
}

@media screen and (min-width: 1440px) {
  #full-width {
    max-width: 80vw;
    margin: auto;
  }
}
