:host([hidden]) {
  display: none;
}

:host {
  display: block;
  position: fixed;
  background: rgba(21,21,21,.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--rh-secondary-nav-overlay-z-index);
}