:host {
  border-left:  3px solid transparent;
  border-right: 1px solid transparent;
  display: block;
}

:host([expanded]){
  border-left-color: var(--rh-snav-brand-color);
  border-right-color: var(--rh-snav-divider-color);
  box-shadow: var(--rh-snav-box-shadow);
}

::slotted([slot="link"]) {
  justify-content: space-between;
  position: relative;
  gap: 0.85rem;
}

::slotted([slot="link"]):after {
  content: "";
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  border-right: 0.15rem solid var(--rh-snav-chevron-color);
  border-bottom: 0.15rem solid var(--rh-snav-chevron-color);
  transform: rotate(45deg) translate(-0.3rem, 0.15rem);
}

:host([expanded]) ::slotted([slot="link"]):after {
  transform: rotate(-135deg) translate(0.15rem, -0.3rem);
}


@media screen and (min-width: 992px) {
  :host {
    border-left: none;
    border-right: none;
  }

  :host([expanded]) {
    box-shadow: none;
  }

  ::slotted([slot="link"]){
    justify-content: flex-start;
  }

  ::slotted([slot="link"][aria-expanded="true"]) {
    background: #fff;
    border-top-color: var(--rh-secondary-nav-brand-color);
    color: var(--rh-secondary-nav-text-color);
  }
}
