rh-secondary-nav {
  display: block;
  position: sticky;
  top: 0;
  background-color: var(--rh-color-surface-light, #F0F0F0);
  border-block-end: 1px solid transparent;
  box-shadow: var(--rh-box-shadow-sm, 0 0.125em 0.25em 0 rgba(21, 21, 21, 0.2));
  height: 4.625em;
  font-size: initial;
  font-family: var(--rh-font-family-body-text, 'Red Hat Text', 'RedHatText', 'Overpass', Overpass, Arial, sans-serif);

  --_rh-secondary-nav-nav-link-color: var(--rh-color-text-primary-on-light, #151515);
  --_rh-secondary-nav-logo-link-color: var(--rh-color-text-primary-on-light, #151515);
  --_rh-secondary-nav-chevron-color: var(--rh-color-text-primary-on-light, #151515);
}

rh-secondary-nav:not(:defined) {
  display: grid;
  grid-template-areas: 'logo logo' 'nav nav' 'cta cta';
  grid-template-columns: 1fr max-content;
  grid-template-rows: 4.625em max-content max-content;
  column-gap: 1em;
  row-gap: 0;
  position: relative;
}

rh-secondary-nav[color-palette="darker"] {
  background-color: var(--rh-color-surface-dark, #3C3F42);
  border-block-end-color: var(--rh-color-border-subtle-on-dark, #6A6E73);
  box-shadow: none;
  --_rh-secondary-nav-nav-link-color: var(--rh-color-text-primary-on-light, #151515);
  --_rh-secondary-nav-logo-link-color: var(--rh-color-text-primary-on-dark, #FFFFFF);
}

rh-secondary-nav * {
  box-sizing: border-box;
}

rh-secondary-nav-menu a {
  text-decoration: none;
  color: var(--rh-context-light-color-text-link, #0066cc);
}

rh-secondary-nav-menu a:hover {
  color:  var(--rh-context-light-color-text-link-hover, #004080) !important;
  text-decoration: none !important;
}

rh-secondary-nav > [slot="logo"] {
  grid-area: logo;
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--_rh-secondary-nav-logo-link-color);
  max-width:  var(--rh-secondary-nav-logo-max-width, 10em);
  text-decoration: none;
  font-size: var(--rh-font-size-body-text-md, 1em);
  letter-spacing: 0.01125em;
  line-height: 1.6875em;
  margin-inline-start: 1em;
  font-family: var(--rh-font-family-heading, "RedHatDisplay", "Overpass", Overpass, Helvetica, Arial, sans-serif);
  font-weight: 500;
}

rh-secondary-nav > [slot="logo"]:hover {
  text-decoration: none;
  color: var(--_rh-secondary-nav-nav-link-color);
}

rh-secondary-nav > [slot="nav"] {
  grid-area: nav;
  display: none;
  flex-direction: column;
  list-style: none;
  overflow-y: auto;
  background-color: var(--rh-color-surface-lightest, #FFFFFF);
  margin: 0;
  padding: 2em 1em 1em;
}

rh-secondary-nav > [slot="cta"] {
  grid-area: cta;
  display: none;
  height: 100%;
  align-items: center;
  background-color: var(--rh-color-surface-lightest, #FFFFFF);
  padding: 1em 1em 2em;
  margin: 0;
  max-width: 100%;
}

/* If the component isn't defined display top level links */
rh-secondary-nav:not(:defined) > [slot="nav"],
rh-secondary-nav:not(:defined) > [slot="cta"] {
  display: flex;
}

/* If the component isn't defined hide any sub menus */
rh-secondary-nav-menu:not(:defined) {
  display: none;
}

/* rh-secondary-nav[color-palette="dark"] > [slot="cta"] {
  --rh-cta-color: unset;
} */

/* Top level links, styles are owned by lightdom elements */
rh-secondary-nav > [slot="nav"] > li > a,
rh-secondary-nav-dropdown > a {
  display: flex;
  align-items: center;
  height: max-content;
  color: var(--_rh-secondary-nav-nav-link-color) !important;
  font-size: 1em;
  font-weight: 500;
  line-height: 1em;
  padding: 1em 1.5em;
  text-decoration: none !important;
  text-align: center;
  border-block-start: 3px solid transparent;
}

rh-secondary-nav > [slot="nav"] > li > a:hover,
rh-secondary-nav-dropdown > a:hover {
  text-decoration: none !important;
  color: var(--_rh-secondary-nav-nav-link-color) !important;
}

rh-secondary-nav > [slot="nav"] > li {
  border-block-start: 1px solid var(--rh-color-border-subtle-on-light, #d2d2d2);
}

rh-secondary-nav > [slot="nav"] > li:last-of-type {
  border-block-end: 1px solid  var(--rh-color-border-subtle-on-light, #d2d2d2);
}

rh-secondary-nav > [slot="nav"] a[aria-expanded="false"],
rh-secondary-nav > [slot="nav"] > [slot="nav"] > li > a {
  color: var(--_rh-secondary-nav-nav-link-color);
}

rh-secondary-nav-menu-section > [slot="header"] {
  font-size: 1em;
  font-weight: 500;
  color: var(--rh-color-text-primary-on-light, #151515);
  margin: 0 0 1em;
}

rh-secondary-nav-menu-section > [slot="header"] > a {
  color: var(--rh-color-text-primary-on-light, #151515);
}

@media screen and (min-width:768px) {
  rh-secondary-nav > [slot="logo"] {
    margin-inline-start: 2em;
  }
}

@media screen and (min-width: 992px) {
  rh-secondary-nav:not(:defined) {
    display: grid;
    grid-template-areas: 'logo nav cta';
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: 4.625em max-content max-content;
  }

  rh-secondary-nav[color-palette="darker"]  {
    --_rh-secondary-nav-nav-link-color: var(--rh-color-text-primary-on-dark, #FFFFFF);
    --_rh-secondary-nav-chevron-color: var(--rh-color-text-primary-on-dark, #FFFFFF);
  }

  rh-secondary-nav[color-palette="darker"] rh-secondary-nav-dropdown > a[aria-expanded="true"] {
    --_rh-secondary-nav-nav-link-color: var(--rh-color-text-primary-on-light, #151515);
    --_rh-secondary-nav-chevron-color: var(--rh-color-text-primary-on-light, #151515);
    color: var(--_rh-secondary-nav-nav-link-color);
  }

  rh-secondary-nav > [slot="nav"] {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  rh-secondary-nav > [slot="nav"] > li {
    border-block-start-width: 0px;
  }

  rh-secondary-nav > [slot="nav"] > li:last-of-type {
    border-bottom-width: 0px;
  }

  rh-secondary-nav > ul > li,
  rh-secondary-nav-dropdown {
    height: 100%;
  }

  rh-secondary-nav > [slot="nav"] > li > a,
  rh-secondary-nav-dropdown > a {
    height: 100%;
    font-weight: 400;
    padding: 0 1em;
  }

  rh-secondary-nav > [slot="nav"] > li > a:focus,
  rh-secondary-nav > [slot="nav"] > li > a:hover,
  rh-secondary-nav-dropdown > a[aria-expanded="true"],
  rh-secondary-nav-dropdown > a:focus,
  rh-secondary-nav-dropdown > a:hover {
    border-block-start-color:  var(--rh-color-text-brand-on-light, #ee0000);
  }

  rh-secondary-nav > [slot="logo"] {
    margin-inline-start: 2em;
  }

  rh-secondary-nav > [slot="cta"] {
    display: flex;
    flex-direction:row-reverse;
    background-color: transparent;
    margin-inline-end: 2em;
    padding: unset;
  }

  /* rh-secondary-nav[color-palette="dark"] > [slot="cta"] {
    --rh-cta-color: var(--rh-context-dark-color-text-link, #73BCF7);
    --rh-cta-hover-color: var(--rh-context-dark-color-text-link-hover, #bee1f4);
    --rh-cta-hover-color: var(--rh-context-dark-color-text-link-focus, #bee1f4);
  } */

  /* rh-secondary-nav[color-palette="dark"] > [slot="cta"]:hover,
  rh-secondary-nav[color-palette="dark"] > [slot="cta"]:focus  {
    --rh-cta-color: var(--rh-context-dark-color-text-link-hover, #bee1f4);
  } */

  @media screen and (min-width: 1440px) {
    rh-secondary-nav:not(:defined) > [slot="logo"],
    rh-secondary-nav > [slot="logo"] {
      margin-inline-start: 4em;
    }

    rh-secondary-nav:not(:defined) > [slot="cta"],
    rh-secondary-nav > [slot="cta"] {
      margin-inline-end: 4em;
    }
  }
}
