rh-secondary-nav {
  --rh-secondary-nav-min-height: 4.625em;
  --rh-secondary-nav-background-color: #F0F0F0;
  --rh-secondary-nav-font-color: #151515;
  --rh-secondary-nav-top-link-color: #151515;
  --rh-secondary-nav-link-color: #0066CC;
  --rh-secondary-nav-link-hover-color: #004080;
  --rh-secondary-nav-button-color: #151515;
  --rh-secondary-nav-button-hover-color: #151515;
  --rh-secondary-nav-chevron-color: #151515;
  --rh-secondary-nav-expanded-background-color: #FFFFFF;
  --rh-secondary-nav-brand-color: #e00;
  --rh-secondary-nav-border-color: transparent;
  --rh-secondary-nav-box-shadow: 0px 2px 4px rgba(21, 21, 21, 0.2);

  --rh-secondary-nav-divider-color: #d2d2d2;
  --rh-secondary-nav-logo-link-color: #151515;
  --rh-secondary-nav-logo-max-width: 11em;
  --rh-secondary-nav-logo-font-size: 1em;
  --rh-secondary-nav-logo-line-height: 1.25em;
  --rh-secondary-nav-z-index: 102;

  --rh-secondary-nav-menu-section-gap: 2em;
  --rh-secondary-nav-menu-section-template-columns: repeat(auto-fit, minmax(16.75em, 1fr));

  --rh-secondary-nav-menu-cta-gap: 2em;
  --rh-secondary-nav-menu-cta-template-columns: repeat(auto-fit, minmax(16.75em, 1fr));

  --rh-secondary-nav-overlay-z-index: -1;

  --pfe-cta--Color: var(--rh-secondary-nav-link-color);
}

rh-secondary-nav[variant="dark"] {
  --rh-secondary-nav-background-color: #3C3F42;
  --rh-secondary-nav-font-color: #151515;
  --rh-secondary-nav-top-link-color: #FFFFFF;
  --rh-secondary-nav-logo-link-color: #FFFFFF;
  --rh-secondary-nav-button-color: #FFFFFF;
  --rh-secondary-nav-border-color: #6A6E73;
  --rh-secondary-nav-box-shadow: none;
}

rh-secondary-nav[variant="dark"] > [slot="cta"] {
  --pfe-cta--Color: #73BCF7;
  --pfe-cta--Color--hover: rgb(190, 225, 244);
  --pfe-cta--Color--focus: rgb(190, 225, 244);
  --pfe-cta--BackgroundColor--focus: rgba(40, 151, 240, 0.2);
}

rh-secondary-nav[variant="dark"] > [slot="cta"]:hover {
  --pfe-cta--Color: rgb(190, 225, 244);
}

rh-secondary-nav {
  position: sticky;
  top: 0;
  display: block;
  height: var(--rh-secondary-nav-min-height);
  background-color: var(--rh-secondary-nav-background-color);
  border-block-end: 1px solid var(--rh-secondary-nav-border-color);
  box-shadow: var(--rh-secondary-nav-box-shadow);
}

rh-secondary-nav * {
  box-sizing: border-box;
}

rh-secondary-nav-menu a {
  text-decoration: none;
  color: var(--rh-secondary-nav-link-color);
}
rh-secondary-nav-menu a:hover {
  color: var(--rh-secondary-nav-link-hover-color);
}

rh-secondary-nav > [slot="logo"] {
  font-family: 'Red Hat Display', Arial, sans-serif;
  color: var(--rh-secondary-nav-logo-link-color);
}

rh-secondary-nav > [slot="logo"]:hover {
  text-decoration: none;
  color: var(--rh-secondary-nav-top-link-color);
}

rh-secondary-nav > [slot="nav"] {
  grid-area: nav;
}

rh-secondary-nav > [slot="cta"] {
  grid-area: cta;
}

rh-secondary-nav > [slot="nav"],
rh-secondary-nav > [slot="cta"] {
  display: none;
}

/* Top level links, styles are owned by lightdom elements */
rh-secondary-nav > [slot="nav"] > li > a,
rh-secondary-nav-dropdown > a {
  display: flex;
  align-items: center;
  height: max-content;
  color: var(--rh-secondary-nav-top-link-color);
  font-size: 1em 1.5em;
  font-weight: 500;
  line-height: 1em;
  padding: 1em 1.5em;
  text-decoration: none;
  text-align: center;
  border-block-start: 3px solid transparent;
}

rh-secondary-nav > [slot="nav"] > li > a:hover,
rh-secondary-nav-dropdown > a:hover {
  text-decoration: none;
  color: var(--rh-secondary-nav-top-link-color);
}

rh-secondary-nav > [slot="nav"] > li {
  border-block-start: 1px solid var(--rh-secondary-nav-divider-color);
}

rh-secondary-nav > [slot="nav"] > li:last-of-type {
  border-block-end: 1px solid var(--rh-secondary-nav-divider-color);
}

rh-secondary-nav > [slot="nav"] a[aria-expanded="false"],
rh-secondary-nav > [slot="nav"] > [slot="nav"] > li > a {
  color: var(--rh-secondary-nav-top-link-color)
}

rh-secondary-nav-menu-section > [slot="header"] {
  font-size: 1em;
  font-weight: 500;
  color: var(--rh-secondary-nav-font-color);
  margin-top: 0;
}
rh-secondary-nav[variant="dark"] > rh-secondary-nav-menu-section > [slot="header"] {
  color: var(--rh-secondary-nav-font-color);
}

rh-secondary-nav-menu-section > [slot="header"] > a {
  color: var(--rh-secondary-nav-font-color);
}

rh-secondary-nav:not(:defined) {
  display: grid;
  position: relative;
  top: unset;
  height: max-content;
  grid-template-areas: 'logo logo' 'nav nav' 'cta cta';
  grid-template-columns: 1fr max-content;
  grid-template-rows: var(--rh-secondary-nav-min-height) max-content max-content;
  column-gap: 1em;
  row-gap: 0;
  box-shadow: var(--rh-secondary-nav-box-shadow);
  z-index: var(--rh-secondary-nav-z-index);
}

rh-secondary-nav:not(:defined) > [slot="logo"] {
  grid-area: logo;
  display: flex;
  align-items: center;
  height: 100%;
  max-width: var(--rh-secondary-nav-logo-max-width, 10em);
  text-decoration: none;
  color: var(--rh-secondary-nav-logo-link-color);
  font-size: var(--rh-secondary-nav-logo-font-size);
  letter-spacing: 0.18px;
  line-height: var(--rh-secondary-nav-logo-line-height, 1.25em);
  margin-inline-start: 1em;
  font-family: 'Red Hat Display', Arial, sans-serif;
  font-weight: 500;
}

/* Styles for when the menu doesn't upgrade but needs to show links */
rh-secondary-nav:not(:defined) > [slot="nav"] {
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow-y: auto;
  background-color: var(--rh-secondary-nav-expanded-background-color, #F0F0F0);
  margin: 0;
  padding: 2em 1em 1em
}

rh-secondary-nav:not(:defined) > [slot="cta"] {
  display: block;
  background-color: var(--rh-secondary-nav-expanded-background-color, #F0F0F0);
  padding: 1em 1em 2em;
  margin: 0;
  --pfe-cta--MaxWidth: 100%;
}

rh-secondary-nav[variant="dark"]:not(:defined) > [slot="cta"] {
  --pfe-cta--Color: unset;
}

rh-secondary-nav-menu:not(:defined) {
  display: none;
}


@media screen and (min-width: 992px) {

  rh-secondary-nav {
    --rh-secondary-nav-min-height: 4.875em;
  }

  rh-secondary-nav > [slot="nav"] {
    grid-area: nav;
    display: flex !important;
    flex-direction: row;
    height: 100%;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  rh-secondary-nav > [slot="nav"] > li {
    border-block-start-width: 0px;
  }
  
  rh-secondary-nav > [slot="nav"] > li:last-of-type {
    border-bottom-width: 0px;
  }

  rh-secondary-nav > ul > li,
  rh-secondary-nav-dropdown {
    height: 100%;
  }

  rh-secondary-nav > [slot="nav"] > li > a,
  rh-secondary-nav-dropdown > a {
    height: 100%;
    font-weight: 400;
    padding: 0 1em;
  }


  rh-secondary-nav > [slot="nav"] > li > a:focus,
  rh-secondary-nav > [slot="nav"] > li > a:hover,
  rh-secondary-nav-dropdown > a[aria-expanded="true"],
  rh-secondary-nav-dropdown > a:focus,
  rh-secondary-nav-dropdown > a:hover {
    border-block-start-color: var(--rh-secondary-nav-brand-color);
  }

  rh-secondary-nav > [slot="logo"] {
    margin-inline-start: 2em;
  }

  rh-secondary-nav > [slot="cta"] {
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    height: 100%;
    margin-inline-end: 2em;
  }

  rh-secondary-nav[variant="dark"]  {
    --rh-secondary-nav-top-link-color: #FFFFFF;
    --rh-secondary-nav-chevron-color: #FFFFFF;
  }

  rh-secondary-nav[variant="dark"] rh-secondary-nav-dropdown > a[aria-expanded="true"] {
    --rh-secondary-nav-top-link-color: #151515;
    --rh-secondary-nav-chevron-color: #151515;
    color: var(--rh-secondary-nav-top-link-color);
  }

  rh-secondary-nav:not(:defined) {
    display: grid;
    grid-template-areas: 'logo nav cta';
    grid-template-columns: max-content 1fr max-content;
  }

  rh-secondary-nav:not(:defined) > [slot="logo"] {
    margin-inline-start: 2em;
  }

  rh-secondary-nav:not(:defined) > [slot="nav"] {
    padding: 0;
    background-color: transparent;
    flex-direction: row;
  }

  rh-secondary-nav:not(:defined) > [slot="cta"] {
    display: flex;
    background-color: transparent;
    margin-inline-end: 2em;
  }

  rh-secondary-nav[variant="dark"]:not(:defined) > [slot="cta"] {
    --pfe-cta--Color: #73BCF7;
  }
}

@media screen and (min-width: 1440px) {
  rh-secondary-nav:not(:defined) > [slot="logo"],
  rh-secondary-nav > [slot="logo"] {
    margin-inline-start: 4em;
  }

  rh-secondary-nav:not(:defined) > [slot="cta"],
  rh-secondary-nav > [slot="cta"] {
    margin-inline-end: 4em;
  }
}
