:host {
  display: block;
}

#container {
  position: relative;
  z-index: -1;
}

#container.compact {
  z-index: var(--rh-secondary-nav-z-index, 102);
}

#container:not(:is(.visible)) {
  display: none;
}

#container.visible {
  background-color: var(--rh-color-surface-lightest, #FFFFFF);
}

:host(:not([type="fixed-width"])) #sections {
  display: grid;
  grid-template-columns: var(--rh-secondary-nav-menu-section-grid, repeat(auto-fit, minmax(15.5em, 1fr)));
  grid-template-rows: auto;
  gap: var(--rh-secondary-nav-menu-section-grid-gap, 2em);
}

#sections {
  padding: 1.5em
}

#cta {
  display: grid;
  grid-template-columns: var(--rh-secondary-nav-menu-cta-grid, repeat(auto-fit, minmax(15.5em, 1fr)));
  grid-template-rows: auto;
  grid-gap: var(--rh-secondary-nav-menu-cta-grid-gap, 2em);
  padding: 0 1.5em 2em 1.5em;
}

#cta:not(.visible) {
  display: none;
}

::slotted(:is(ul, ol)) {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

@media screen and (min-width: 992px) {
  #container.visible {
    position: absolute;
    left: 0;
    right: 0;
    top: var(--_nav-height);
    padding: 4em 2em 3em;
    box-shadow: var(--rh-box-shadow-sm, 0 0.125em 0.25em 0 rgba(21, 21, 21, 0.2));
  }

  :host([type="fixed-width"]) #container {
    position: absolute;
    top: var(--_nav-height);
    left: auto;
    right: auto;
    bottom: auto;
    margin-top: 0;
    padding: 0;
  }

  #sections {
    padding: 0; 
  }

  :host([type="fixed-width"]) #sections {
    padding: 2em;
  }

  #cta {
    border-block-start: 1px solid var(--rh-color-border-subtle-on-light, #d2d2d2);
    padding: 2em 0 0.5em 0; 
  }

  #cta,
  #sections {
    max-width: var(--rh-secondary-nav-menu-content-max-width, 1136px);
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  #container.visible {
    padding: 3em 2em 3em;
  }
}

@media screen and (min-width: 1440px) {
  #container.visible {
    padding: 3em 4em 3em;
  }
}

@media screen and (min-width: 1600px) {
  #full-width {
    margin: auto;
  }
}
