::slotted([slot="header"]) {
  padding: 0 1rem;
}

::slotted([slot="links"]) {
  list-style: none;
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

::slotted([slot="cta"]) {
  padding: 1.5rem 1rem 1rem;
}