:host {
  position: sticky;
  top: 0;
  z-index: var(--rh-secondary-nav-z-index);
  font-size: initial;
}

a {
  text-decoration: none;
  color: var(--rh-secondary-nav-link-color);
}

nav {
  position: relative;
  height: 100%;
  z-index: var(--rh-secondary-nav-z-index);
}

#container {
  display: grid;
  position: relative;
  grid-template-areas: 'logo menu' 'nav nav' 'cta cta';
  grid-template-columns: 1fr max-content;
  grid-template-rows: var(--rh-secondary-nav-min-height) max-content max-content;
  column-gap: 1em;
  row-gap: 0;
  height: fit-content;
  background-color: var(--rh-secondary-nav-background-color);
  z-index: var(--rh-secondary-nav-z-index);
}

#container.expanded ::slotted([slot="nav"]) {
  display: flex !important;
  list-style: none;
  flex-direction: column;
  padding: 2em 1em 1em;
  margin: 0 !important;
  max-height: calc(100vh - var(--rh-secondary-nav-min-height ,4.625em));
  overflow-y: auto;
}

nav.is-mobile #container.expanded ::slotted([slot="nav"]) {
  background-color: var(--rh-secondary-nav-expanded-background-color);
}

#container.expanded ::slotted([slot="cta"]) {
  display: flex !important;
  padding: 1em 1em 2em;
}

nav.is-mobile #container.expanded #cta {
  background-color: var(--rh-secondary-nav-expanded-background-color);
}

button {
  grid-area: menu;
  border: none;
  display: flex;
  height: 100%;
  align-items: center;
  font-family: var(--pfe-theme--font-family);
  font-size: 1em;
  padding: 1em;
  border-block-start: 0.25em solid transparent;
  margin-inline-end: 1em;
  color: var(--rh-secondary-nav-button-color);
  background-color: var(--rh-secondary-nav-background-color);
}

button:hover {
  color: var(--rh-secondary-nav-button-hover-color);
  border-block-start-color: var(--rh-secondary-nav-brand-color);
}


button::after {
  content: "";
  display: block;
  margin-inline-start: 1em;
  width: 0.35em;
  height: 0.35em;
  border-inline-end: 0.15em solid var(--rh-secondary-nav-button-color);
  border-block-end: 0.15em solid var(--rh-secondary-nav-button-color);
  transform: rotate(45deg) translate(-0.3em, 0.15em);
}

button:focus {
  border-block-start-color: var(--rh-secondary-nav-brand-color);
}

button:active,
button[aria-expanded="true"] {
  color: var(--rh-secondary-nav-button-hover-color);
  background: var(--rh-secondary-nav-expanded-background-color);
  border-block-start-color: var(--rh-secondary-nav-brand-color);
  border-block-end: none;
}

button:hover::after {
  border-inline-end: 0.15em solid var(--rh-secondary-nav-button-hover-color);
  border-block-end: 0.15em solid var(--rh-secondary-nav-button-hover-color);
}

button[aria-expanded="true"]::after {
  border-inline-end: 0.15em solid var(--rh-secondary-nav-button-hover-color);
  border-block-end: 0.15em solid var(--rh-secondary-nav-button-hover-color);
  transform: rotate(-135deg) translate(0.15em, -0.3em);
}

::slotted([slot="logo"]) {
  grid-area: logo;
  display: flex;
  align-items: center;
  height: 100%;
  max-width: var(--rh-secondary-nav-logo-max-width, 10em);
  text-decoration: none;
  color: var(--rh-secondary-nav-logo-link-color);
  font-size: var(--rh-secondary-nav-logo-font-size);
  letter-spacing: 0.18px;
  line-height: var(--rh-secondary-nav-logo-line-height, 1.25em);
  font-weight: 500;
  margin-left: 1em;
}

::slotted([slot="nav"]) {
  grid-area: nav;
}

#cta {
  grid-area: cta;
}

@media screen and (min-width: 992px) {
  #container {
    grid-template-areas: 'logo nav cta';
    grid-template-columns: max-content 1fr max-content;
  }

  #container.expanded ::slotted([slot="cta"]) {
    padding: 1em;
  }

  button {
    display: none;
  }
}