:host {
  position: relative;
  z-index: var(--rh-snav-z-index);
  background-color: var(--rh-snav-background-color);
}

:host([expanded]) ::slotted([slot="nav"]) {
  display: flex !important;
  list-style: none;
  flex-direction: column;
  height: fit-content;
  padding: 2em 1em 1em;
  margin: 0 !important;
}

:host([expanded]) #cta {
  grid-area: cta;
  display: inline-block;
  padding: 1em 1em 2em;
}

:host([expanded]) ::slotted([slot="cta"]) {
  display: inline-block !important;
}

:host([expanded]) ::slotted([slot="nav"]),
:host([expanded]) #cta {
  background-color: var(--rh-snav-expanded-background-color);
}

button {
  grid-area: menu;
  border: none;
  display: flex;
  height: 100%;
  align-items: center;
  font-family: var(--pfe-theme--font-family);
  font-size: 1em;
  padding: 1em;
  border-top: 0.25em solid transparent;
  transition: border-top-color 250ms ease-out;
  margin-right: 1em;
  color: var(--rh-snav-button-color);
  background-color: var(--rh-snav-background-color);
  border-bottom: 1px solid var(--rh-snav-border-color);
}

button:hover {
  color: var(--rh-snav-button-hover-color);
  border-top-color: var(--rh-snav-brand-color);
}


button:after {
  content: "";
  display: block;
  margin-left: 1em;
  width: 0.25em;
  height: 0.25em;
  border-right: 0.15em solid var(--rh-snav-button-color);
  border-bottom: 0.15em solid var(--rh-snav-button-color);
  transform: rotate(45deg) translate(-0.3em, 0.15em);
}

button:focus {
  border-top-color: var(--rh-snav-brand-color);
}

button:hover,
button:active,
button[aria-expanded="true"] {
  color: var(--rh-snav-button-hover-color);
  background: var(--rh-snav-expanded-background-color);
  border-top-color: var(--rh-snav-brand-color);
  border-bottom: none;
}

button:hover:after {
  border-right: 0.15em solid var(--rh-snav-button-hover-color);
  border-bottom: 0.15em solid var(--rh-snav-button-hover-color);
}

button[aria-expanded="true"]:after {
  border-right: 0.15em solid var(--rh-snav-button-hover-color);
  border-bottom: 0.15em solid var(--rh-snav-button-hover-color);
  transform: rotate(-135deg) translate(0.15em, -0.3em);
}

@media screen and (min-width: 768px) {
  :host([expanded]) ::slotted([slot="nav"]) {
    padding: 2em 2em 1em;
  }

  :host([expanded]) #cta {
    padding: 1em 2em 2em;
  }

  button {
    margin-right: 2em;
  }
}

@media screen and (min-width: 992px) {

  :host([expanded]) #cta {
    background: transparent;
    grid-column: unset;
    padding: 0;
    box-shadow: none;
  }

  :host([expanded]) ::slotted([slot="nav"]),
  :host([expanded]) #cta {
    background-color: var(--rh-snav-background-color);
  }

  :host([expanded]) ::slotted([slot="cta"]) {
    display: flex !important;
  }

  button {
    display: none;
  }
}
