:host {
  --rh-snav-min-height: 4.625em;
  --rh-snav-background-color: #F0F0F0;
  --rh-snav-font-color: #151515;
  --rh-snav-top-link-color: #151515;
  --rh-snav-logo-color: #151515;
  --rh-snav-link-color: #0066CC;
  --rh-snav-link-hover-color: #004080;
  --rh-snav-button-color: #151515;
  --rh-snav-button-hover-color: #151515;
  --rh-snav-chevron-color: #151515;
  --rh-snav-expanded-background-color: #FFFFFF;
  --rh-snav-brand-color: #e00;
  --rh-snav-border-color: transparent;
  --rh-snav-box-shadow: 0px 2px 4px #d2d2d2;
  --rh-snav-divider-color: #d2d2d2;
  --rh-snav-logo-max-width: 11em;
  --rh-snav-logo-font-size: 1em;
  --rh-snav-logo-line-height: 1.25em;
  --rh-snav-z-index: 102;
  --rh-snav-overlay-z-index: -1;

  --rh-snav-menu-section-padding: 1em 0 2em;
  --rh-snav-menu-section-gap: 2em;
  --rh-snav-menu-section-template-columns: repeat(auto-fit, minmax(16.75em, 1fr));

  --rh-snav-menu-cta-padding: 2em 0em 3em;
  --rh-snav-menu-cta-gap: 2em;
  --rh-snav-menu-cta-template-columns: repeat(auto-fit, minmax(16.75em, 1fr));

  position: sticky;
  top: 0;
  z-index: var(--rh-snav-z-index);
  font-size: initial;
}

:host([variant="dark"]) {
  --rh-snav-background-color: #3C3F42;
  --rh-snav-font-color: #FFFFFF;
  --rh-snav-logo-color: #FFFFFF;
  --rh-snav-button-color: #FFFFFF;
  --rh-snav-border-color: #6A6E73;
  --rh-snav-box-shadow: none;
}