#container {
  border-inline-start:  3px solid transparent;
  border-inline-end: 1px solid transparent;
  display: block;
  height: 100%;
}

/* 
 * Move expanded back to an attribute if we decide
 * that we are going to abstract this component
 */
#container.expanded  {
  border-inline-start-color: var(--rh-secondary-nav-brand-color);
  border-inline-end-color: var(--rh-secondary-nav-divider-color);
  box-shadow: var(--rh-secondary-nav-box-shadow);
}

::slotted([slot="link"]) {
  justify-content: space-between;
  position: relative;
  gap: 0.85em;
}

::slotted([slot="link"])::after {
  content: "";
  display: block;
  width: 0.35em;
  height: 0.35em;
  border-inline-end: 0.15em solid var(--rh-secondary-nav-chevron-color);
  border-block-end: 0.15em solid var(--rh-secondary-nav-chevron-color);
  transform: rotate(45deg) translate(-0.3em, 0.15em);
}

#container.expanded ::slotted([slot="link"])::after {
  transform: rotate(-135deg) translate(0.15em, -0.3em);
}

@media screen and (min-width: 992px) {
  #container {
    border-inline-start: none;
    border-inline-end: none;
  }

/* 
 * Move expanded back to an attribute if we decide
 * that we are going to abstract this component
 */
  #container.expanded {
    box-shadow: none;
  }

  ::slotted([slot="link"]){
    justify-content: flex-start;
  }

  ::slotted([slot="link"][aria-expanded="true"]) {
    background: var(--rh-secondary-nav-expanded-background-color) !important;
    border-block-start-color: var(--rh-secondary-nav-brand-color);
    color: var(--rh-secondary-nav-text-color);
  }
}
