:host {
  display: contents;
}

#container {
  border-left:  3px solid transparent;
  border-right: 1px solid transparent;
  display: block;
  height: 100%;
}

#container.expanded  {
  border-left-color: var(--rh-secondary-nav-brand-color);
  border-right-color: var(--rh-secondary-nav-divider-color);
  box-shadow: var(--rh-secondary-nav-box-shadow);
}

::slotted([slot="link"]) {
  justify-content: space-between;
  position: relative;
  gap: 0.85em;
}

::slotted([slot="link"])::after {
  content: "";
  display: block;
  width: 0.35em;
  height: 0.35em;
  border-right: 0.15em solid var(--rh-secondary-nav-chevron-color);
  border-bottom: 0.15em solid var(--rh-secondary-nav-chevron-color);
  transform: rotate(45deg) translate(-0.3em, 0.15em);
}

#container.expanded ::slotted([slot="link"])::after {
  transform: rotate(-135deg) translate(0.15em, -0.3em);
}

@media screen and (min-width: 992px) {
  #container {
    border-left: none;
    border-right: none;
  }

  #container.expanded {
    box-shadow: none;
  }

  ::slotted([slot="link"]){
    justify-content: flex-start;
  }

  ::slotted([slot="link"][aria-expanded="true"]) {
    background: var(--rh-secondary-nav-expanded-background-color) !important;
    border-top-color: var(--rh-secondary-nav-brand-color);
    color: var(--rh-secondary-nav-text-color);
  }
}
