:host {
  display: contents;
}

#container {
  position: relative;
  z-index: -1;
}

#container.is-mobile {
  z-index: var(--rh-secondary-nav-z-index);
}

#container:not(:is(.visible)) {
  display: none;
}

#container.visible {
  background-color: var(--rh-secondary-nav-expanded-background-color);
  max-height: calc(100vh - var(--rh-secondary-nav-min-height ,4.625em));
  overflow-y: auto;
}


#sections {
  display: grid;
  grid-template-columns: var(--rh-secondary-nav-menu-section-template-columns, repeat(auto-fit, minmax(16.75em, 1fr)));
  grid-template-rows: auto;
  gap: var(--rh-secondary-nav-menu-section-gap, 2em);
  padding: var(--rh-secondary-nav-menu-section-padding, 1em 0 2em);
}

#cta {
  display: grid;
  grid-template-columns: var(--rh-secondary-nav-menu-cta-template-columns, repeat(auto-fit, minmax(16.75em, 1fr)));
  grid-template-rows: auto;
  grid-gap: var(--rh-secondary-nav-menu-cta-gap, 2em);
  padding:  var(--rh-secondary-nav-menu-cta-padding, 2em 0em);
}

#sections[hidden],
#cta[hidden] {
  display: none;
}

::slotted([slot="cta"]) {
  padding: 0 1em;
}

::slotted([slot="links"]) {
  list-style: none;
  margin: 1em 0;
  padding: 0 1em 1em;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

::slotted([slot="open"]) {
  padding: 1em;
}

::slotted([slot="section"]:is(ul)) {
  list-style: none;
  margin: 1em 0;
  padding: 0 1em 1em;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

@media screen and (min-width: 992px) {
  #container.visible {
    position: absolute;
    left: 0;
    right: 0;
    top: var(--rh-secondary-nav-min-height);
    padding: 2em;
    box-shadow: var(--rh-secondary-nav-box-shadow);
  }

  :host([type="fixed-width"]) #container {
    position: absolute;
    top: var(--rh-secondary-nav-min-height);
    left: auto;
    right: auto;
    bottom: auto;
    margin-top: 0;
    padding: 1em 1em;
  }

  #cta {
    border-top: 1px solid var(--rh-secondary-nav-divider-color);
  }
}

@media screen and (min-width: 1440px) {
  #full-width {
    max-width: 80vw;
    margin: auto;
  }
}
