:host {
  display: block;
}

#container {
  position: relative;
  z-index: -1;
}

#container.compact {
  z-index: var(--rh-secondary-nav-z-index);
}

#container:not(:is(.visible)) {
  display: none;
}

#container.visible {
  background-color: var(--rh-secondary-nav-expanded-background-color);
}

:host(:not([type="fixed-width"])) #sections {
  display: grid;
  grid-template-columns: var(--rh-secondary-nav-menu-section-template-columns, repeat(auto-fit, minmax(16.75em, 1fr)));
  grid-template-rows: auto;
  gap: var(--rh-secondary-nav-menu-section-gap, 2em);
}

#sections {
  padding: 1.5em
}

#cta {
  display: grid;
  grid-template-columns: var(--rh-secondary-nav-menu-cta-template-columns, repeat(auto-fit, minmax(16.75em, 1fr)));
  grid-template-rows: auto;
  grid-gap: var(--rh-secondary-nav-menu-cta-gap, 2em);
  padding: 0 1.5em 2em 1.5em;
}

#cta:not(.visible) {
  display: none;
}

::slotted(:is(ul, ol)) {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

@media screen and (min-width: 992px) {
  #container.visible {
    position: absolute;
    left: 0;
    right: 0;
    top: var(--rh-secondary-nav-min-height);
    padding: 4em 2em 3em;
    box-shadow: var(--rh-secondary-nav-box-shadow);
  }

  :host([type="fixed-width"]) #container {
    position: absolute;
    top: var(--rh-secondary-nav-min-height);
    left: auto;
    right: auto;
    bottom: auto;
    margin-top: 0;
    padding: 0;
  }

  #sections {
    padding: 0; 
  }

  :host([type="fixed-width"]) #sections {
    padding: 2em;
  }

  #cta {
    border-block-start: 1px solid var(--rh-secondary-nav-divider-color);
    padding: 2em 0 0.5em 0; 
  }

  #cta,
  #sections {
    max-width: var(--rh-secondary-nav-menu-content-max-width, 1136px);
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  #container.visible {
    padding: 3em 2em 3em;
  }
}

@media screen and (min-width: 1440px) {
  #container.visible {
    padding: 3em 4em 3em;
  }
}

@media screen and (min-width: 1600px) {
  #full-width {
    max-width: 80vw;
    margin: auto;
  }
}
