#rhds-container {
  display: block;
  padding: var(--rh-space-2xl, 32px);
}

:host([vertical]) #rhds-container {
  margin-inline: 0;
}

:host([box="inset"]) #rhds-container {
  padding-inline: var(--_panels-overflow-padding, var(--rh-space-4xl, 64px));
}

:host([box][vertical]) #rhds-container {
  padding: var(--rh-space-3xl, 48px);
}

[hidden] {
  display: none !important;
}
