:host {
  --_border-color: var(--rh-tabs-border-color, var(--rh-color-border-subtle-on-light, #d2d2d2));
  --_arrow-color: var(--rh-color-accent-base-on-light, #0066cc);
}

.dark {
  --_border-color: var(--rh-tabs-border-color, var(--rh-color-border-subtle-on-dark, #6a6e73));
  --_arrow-color: var(--rh-color-accent-base-on-dark, #73bcf7);
}

#rhds-container {
  display: contents;
}

[part="tabs-container"]:before {
  border-color: var(--_border-color);
  border-block-start-width: 0;
  border-inline-end-width: 0;
  border-block-end-width: 1px;
  border-inline-start-width: 0;
}

:host([vertical]) [part="container"] {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas: "tabs panels";
}

:host([vertical]) [part="tabs-container"] {
  grid-area: tabs;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  overflow: visible;
}

:host([vertical]) [part="tabs-container"]:before {
  border: none;
}

:host([vertical]) [part="panels"] {
  grid-area: panels;
}

[part="tabs"] {
  display: flex;
  bottom: 0;
  margin: 0;
}

:host(:is([centered], [box="inset"])) [part="tabs"] {
  margin-inline: var(--rh-tabs-inset, var(--_inset-inline-margin, auto));
}

#previousTab + [part="tabs"] {
  margin: 0;
}

:host([vertical]) [part="tabs"] {
  flex-direction: column;
  flex-grow: 1;
  max-width: 15.625rem;
}

:host([vertical]) [part="tabs"]:before {
  border-style: solid;
  border-color: var(--_border-color);
  border-block-start-width: 0;
  border-inline-end-width: 0;
  border-block-end-width: 0;
  border-inline-start-width: 1px;
}

:host([vertical][box]) [part="tabs"]:before {
  border-inline-start-width: 0;
  border-inline-end-width: 1px;
}

:host([box]:not([vertical])) [part="tabs"] {
  top: 1px;
}

#previousTab,
#nextTab {
  width: 56px;
  background-color: transparent;
  color: var(--_link-color);

  --pfe-icon--size: 16px;
}

#previousTab:hover,
#nextTab:hover {
  color: var(--_arrow-color, #0066cc);
}

#previousTab:before,
#nextTab:before {
  border-color: var(--_border-color);
  border-block-width: 0;
}

#previousTab:before {
  border-inline-width: 0 1px;
}

#nextTab:before {
  border-inline-width: 1px 0px;
}

:host([box]) #previousTab:disabled:before,
:host([box]) #nextTab:disabled:before {
  border-inline-width: 0;
}

.light :is(#previousTab, #nextTab):disabled {
  --_link-color: #d2d2d2;
}

.dark :is(#previousTab, #nextTab):disabled {
  --_link-color: #6a6e73;
}

:host([box="inset"]) {
  --_inset-inline-margin: var(--rh-spacer-2xl, 32px);
}

:host([box="inset"]) [part="tabs"] {
  justify-content: flex-start;
}
 