#rhds-container {
  display: block;
  padding: var(--rh-space-2xl, 32px);
}

:host(:not([vertical]):not([box]):not([inset])) #rhds-container {
  padding-inline-start: 0;
}

:host([box="inset"]) #rhds-container,
:host([vertical]) #rhds-container {
  margin-inline: 0;
}

[hidden] {
  display: none !important;
}
