#rhds-container {
  display: contents;

  --_button-text-color: var(--rh-tabs-link-color, var(--rh-color-text-secondary-on-light, #6a6e73));
}

:host([active]) #rhds-container {
  --_button-text-color: var(--rh-tabs-link-color, var(--rh-color-text-primary-on-light, #151515));
  --_button-after-border-color: var(--rh-tabs-link-after-border-color, var(--rh-color-accent-brand-on-light, #ee0000));
}

:host([active][theme="base"]) #rhds-container {
  --_button-after-border-color: var(--rh-tabs-border-color, var(--rh-color-border-interactive-on-light, #0066cc));
}

.dark {
  --_button-text-color: var(--rh-tabs-link-color, var(--rh-color-text-secondary-on-dark, #d2d2d2));
}

:host([active]) .dark {
  --_button-text-color: var(--rh-tabs-link-color, var(--rh-color-text-primary-on-dark, #ffffff));
  --_button-after-border-color: var(--rh-tabs-link-after-border-color, var(--rh-color-accent-brand-on-dark, #ff3333));
}

:host([active][theme="base"]) .dark {
  --_button-after-border-color: var(--rh-tabs-border-color, var(--rh-color-border-interactive-on-dark, #73bcf7));
}

:host([box]) #rhds-container {
  --_inactive-tab-background-color: var(--rh-color-surface-light, #f0f0f0);
}

:host([box]) .dark {
  --_inactive-tab-background-color: var(--rh-color-surface-dark, #3c3f42);
}

button {
  color: var(--_button-text-color);
  padding-block-start: var(--rh-tabs-link-padding-block-start, var(--rh-spacer-lg, 16px));
  padding-inline-end: var(--rh-tabs-link-padding-inline-end, var(--rh-spacer-lg, 16px));
  padding-block-end: var(--rh-tabs-link-padding-block-end, var(--rh-spacer-lg, 16px));
  padding-inline-start: var(--rh-tabs-link-padding-inline-start, var(--rh-spacer-lg, 16px));
  background-color: var(--rh-tabs-link-background-color, transparent);
  outline-offset: calc(-1 * 0.375rem);
}

button:before {
  border-width: 0;
  border-color: var(--_border-color);
}

button:after {
  border-color: var(--_button-after-border-color);
  border-block-start-width: var(--_button-after-border-block-start-width, 0);
  border-inline-end-width: 0;
  border-block-end-width: var(--_button-after-border-block-end-width, 0);
  border-inline-start-width: var(--_button-after-border-block-inline-start, 0);
}

:host([active]),
button:hover {
  --_button-after-border-block-end-width: var(--rh-tabs-link-after-border-width, var(--rh-border-width-lg, 3px));
}

:host([active][vertical]),
:host([vertical]) button:hover {
  --_button-after-border-block-end-width: 0;
  --_button-after-border-block-inline-start: var(--rh-border-width-lg, 3px);
}

:host([active][box]:not([vertical])) button {
  --_button-after-border-block-end-width: 0;
  --_button-after-border-block-start-width: var(--rh-tabs-link-after-border-width, var(--rh-border-width-lg, 3px));
}

:host([active][box][vertical]) button:before {
  border-inline-end: var(--rh-border-width-sm, 1px) solid var(--rh-color-surface-lightest, #ffffff);
}

:host([active][box][vertical]) .dark button:before {
  border-inline-end: var(--rh-border-width-sm, 1px) solid var(--rh-color-surface-darkest, #151515);
}

:host([box]:not([vertical])) button:before {
  border-block-end: var(--rh-border-width-sm, 1px) solid var(--_border-color, #d2d2d2);
}

:host([active][box]:not([vertical])) button:before {
  border-block-end: var(--rh-border-width-sm, 1px) solid var(--rh-color-surface-lightest, #ffffff);
}

:host([active][box]:not([vertical])) .dark button:before {
  border-block-end: var(--rh-border-width-sm, 1px) solid var(--rh-color-surface-darkest, #151515);
}

:host(:not([active])) button:hover {
  --_button-after-border-color: var(--rh-tabs-border-color, var(--rh-color-black-400, #b8bbbe));
}

:host([vertical]) button {
  max-width: 100%;
  text-align: left;

  ---_button-after-border-block-end-width: 0;
}

:host([box]:not([vertical])) button:hover {
  --_button-after-border-block-start-width: var(--rh-border-width-lg, 3px);
  --_button-after-border-block-end-width: 0;
}

:host(.first[vertical]) {
  margin-block-start: var(--rh-spacer-xl, 24px);
}

:host(.last[vertical]) {
  margin-block-end: var(--rh-spacer-xl, 24px);
}

:host(.last[vertical]) button {
  --_button-after-border-block-end-width: 0;
}

:host([box]) {
  border-width: 0;
  border-style: solid;
  border-color: var(--_border-color, #d2d2d2);
}

:host([box]:not([vertical])) {
  border-inline-start-width: var(--rh-border-width-sm, 1px);
  border-block-end-width: var(--rh-border-width-sm, 1px);
}

:host(.last[box]:not([vertical])) {
  border-inline-end-width: var(--rh-border-width-sm, 1px);
}

:host([box][vertical]) {
  border-block-start-width: var(--rh-border-width-sm, 1px);
}

:host(.last[box][vertical]) {
  border-block-end-width: var(--rh-border-width-sm, 1px);
}

:host([box]:not([active])) {
  background-color: var(--_inactive-tab-background-color, #f0f0f0);
}

[part="icon"] {
  margin-inline-end: var(--rh-spacer-md, 8px);
}

