#rhds-container {
  display: contents;
}

/* Context */
.light {
  --_border-color: var(--rh-tabs-border-color, var(--rh-color-border-subtle-on-light, #d2d2d2));
  --_arrow-color: var(--rh-color-accent-base-on-light, #0066cc);
  --_overflow-button-text-color: var(--rh-color-text-secondary-on-light, #6a6e73);
  --_overflow-button-disabled-text-color: #d2d2d2;
  --_overflow-button-hover-text-color: var(--rh-color-accent-base-on-light, #0066cc);
}

.dark {
  --_border-color: var(--rh-tabs-border-color, var(--rh-color-border-subtle-on-dark, #6a6e73));
  --_arrow-color: var(--rh-color-accent-base-on-dark, #73bcf7);
  --_overflow-button-text-color: var(--rh-color-text-secondary-on-dark, #d2d2d2);
  --_overflow-button-disabled-text-color: #6a6e73;
  --_overflow-button-hover-text-color: var(--rh-color-accent-base-on-dark, #73bcf7);
}

[part="tabs-container"]::before {
  border-width: 0 0 var(--rh-border-width-sm, 1px);
  border-color: var(--_border-color);
  border-style: solid;
}

[part="tabs"] {
  display: flex;
  bottom: 0;
  margin: 0;
  width: auto;
}

:host(:is([centered], [box="inset"])) [part="tabs"] {
  margin-inline: var(--rh-tabs-inset, var(--_inset-inline-margin, auto));
}

/* VERTICAL TABS */
:host([vertical]) [part="container"] {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas: "tabs panels";
}

:host([vertical]) [part="tabs-container"] {
  grid-area: tabs;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  overflow: visible;
}

:host([vertical]) [part="tabs-container"]::before {
  height: 100%;
  border-block-end-width: 0;
  border-inline-start-width: var(--rh-border-width-sm, 1px);
}
:host([vertical][box]) [part="tabs-container"]::before {
  border-inline-start-width: 0;
  border-inline-end-width: var(--rh-border-width-sm, 1px);
}

:host([vertical]) [part="tabs"] {
  flex-direction: column;
  flex-grow: 1;
  max-width: 15.625rem;
}

:host([vertical]) [part="panels"] {
  grid-area: panels;
}

/* BOX INSET TABS */
:host([box="inset"]) {
  --_inset-inline-margin: var(--rh-spacer-2xl, 32px);
}

/* OVERFLOW BUTTONS */

/* When overflow no margin (Inset) */
#previousTab + [part="tabs"] {
  --_inset-inline-margin: 0;

  position: relative;
  left: -1px;
  z-index: 1;
}

#previousTab,
#nextTab {
  padding-block: 0px;
  padding-inline: var(--rh-space-xl, 24px);
  background-color: var(--rh-context-background-color);
  color: var(--_overflow-button-text-color);
  position: relative;
  z-index: 2;
}

#nextTab {
  left: -1px;
}

#previousTab:hover,
#nextTab:hover {
  color: var(--_overflow-button-hover-text-color, #0066cc);
}

#previousTab::before,
#nextTab::before {
  border-block-start: var(--rh-border-width-sm, 1px) solid transparent;
  border-block-end: var(--rh-border-width-sm, 1px) solid var(--_border-color);
  border-inline: var(--rh-border-width-sm, 1px) solid var(--_border-color);
}

#previousTab::before {
  border-inline-width: 0 1px;
}

#nextTab::before {
  border-inline-width: 1px 0px;
}


#previousTab:disabled,
#nextTab:disabled {
  color: var(--_overflow-button-disabled-text-color);
}
