:host {
  display: flex;
  flex: none;
  background-color: var(--rh-color-surface);

  --_active-tab-border:
    var(--rh-border-width-lg, 3px) solid var(--_active-tab-border-color,
      var(--rh-tabs-active-border-color,
      var(--rh-color-accent-brand)));
  --_active-tab-border-open:
    var(--rh-border-width-sm, 1px)
    solid
    var(--rh-color-surface);
}

[part='text'] {
  display: inline;
  line-height: var(--rh-line-height-heading, 1.3);
  text-wrap: balance;
}

.vertical [part='text'] {
  max-width: 100%;
  overflow-wrap: break-word;
}

[hidden] {
  display: none !important;
}

slot[name='icon'] {
  display: block;
}

[part='icon'] {
  margin-inline-end: var(--rh-space-md, 8px);
}

#button {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  border: 0;
  position: relative;
  display: flex;
  flex: 1;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  background-color: inherit;
  color: var(--rh-tabs-link-color, var(--rh-color-text-secondary));
  width: 100%;
  max-width: var(--_tab-max-width, 200px);
  max-height: 100%;
  line-height: 0;
  padding:
    var(--rh-tabs-link-padding-block-start, var(--rh-space-lg, 16px))
    var(--rh-tabs-link-padding-inline-end, var(--rh-space-2xl, 32px))
    var(--rh-tabs-link-padding-block-end, var(--rh-space-lg, 16px))
    var(--rh-tabs-link-padding-inline-start, var(--rh-space-2xl, 32px));

  &:before,
  &:after {
    position: absolute;
    inset: 0;
    content: '';
    border-style: solid;
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  &:before {
    pointer-events: none;
    border: 0 solid transparent;
  }

  &:after {
    background-color: transparent;
    border-inline: 0 solid transparent;
    border-block-start: var(--rh-border-width-lg, 3px) solid transparent;
    border-block-end: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle);
  }

  /* When button is box */
  &.box {
    background-color:
      light-dark(var(--rh-color-surface-lighter, #f2f2f2),
        var(--rh-color-surface-dark-alt, #292929));
  }

  /* When button is vertical format */
  &.vertical {
    text-align: start;
    padding-inline: var(--rh-space-lg, 16px);

    &.box {
      @container (min-width: 768px) {
        &.first {
          margin-block-start: var(--rh-space-2xl, 32px);
        }

        &.last {
          margin-block-end: var(--rh-space-2xl, 32px);
        }
      }
    }

    &:not(.box) {
      @container (min-width: 768px) {
        padding-block:
          var(--rh-tabs-link-padding-block-start, var(--rh-space-md, 8px))
          var(--rh-tabs-link-padding-block-end, var(--rh-space-md, 8px));

        &.first {
          margin-block-start: var(--rh-space-xl, 24px);
        }

        &.last {
          margin-block-end: var(--rh-space-xl, 24px);
        }
      }
    }
  }

  /* When button is active */
  &.active {
    color: var(--rh-tabs-link-color, var(--rh-color-text-primary));

    &.box {
      &:before {
        border-inline-color: var(--_border-color);
        border-inline-start-width: var(--rh-border-width-sm, 1px);
      }

      &:after {
        border-block-start: var(--_active-tab-border);
        border-block-end: var(--_active-tab-border-open);
      }

      &.first {
        &:before {
          border-inline-start-color: var(--_border-color);
          border-inline-start-width: var(--rh-border-width-sm, 1px);
        }
      }

      &.last {
        &:before {
          border-inline-end-color: var(--_border-color);
          border-inline-end-width: var(--rh-border-width-sm, 1px);
        }
      }

      &.vertical {
        @container (min-width: 768px) {
          &:before {
            border-inline-start: var(--_active-tab-border);
            border-inline-end: var(--_active-tab-border-open);
          }

          &:after {
            border-block-start:
              var(--rh-border-width-sm, 1px)
              solid
              var(--_border-color);
          }
        }

        &.first {
          @container (min-width: 768px) {
            &:after {
              border-block-start-color: var(--_border-color);
              border-block-start-width: var(--rh-border-width-sm, 1px);
            }
          }
        }

        &.last {
          @container (min-width: 768px) {
            &:before {
              border-block-end-color: var(--_border-color);
              border-block-end-width: var(--rh-border-width-sm, 1px);
            }
          }
        }
      }

      &:not(.vertical) {
        &.first {
          @container (min-width: 768px) {
            &:before {
              border-inline-start-color: var(--_border-color);
              border-inline-start-width: var(--rh-border-width-sm, 1px);
            }
          }
        }

        &.last {
          @container (min-width: 768px) {
            &:before {
              border-inline-end-color: var(--_border-color);
              border-inline-end-width: var(--rh-border-width-sm, 1px);
            }
          }
        }

        @container (min-width: 768px) {
          &:after {
            border-block-start: var(--_active-tab-border);
            border-block-end: var(--_active-tab-border-open);
          }
        }
      }
    }

    &.vertical {
      @container (max-width: 767px) {
        &:after {
          border-block-start: var(--_active-tab-border);
        }
      }

      @container (min-width: 768px) {
        &:after {
          border-block-end: transparent;
        }
      }
    }

    &:not(.box) {
      &.vertical {
        @container (max-width: 767px) {
          &:after {
            border-block-start: transparent;
            border-block-end: var(--_active-tab-border);
          }
        }

        @container (min-width: 768px) {
          &:before {
            border-inline-start: var(--_active-tab-border);
          }

          &:after {
            border-block-end: transparent;
          }
        }
      }

      &:not(.vertical) {
        &:after {
          border-block-end: var(--_active-tab-border);
        }
      }
    }
  }

  &:not(.active) {
    &.box {
      &:before {
        border-inline-color: var(--_border-color);
        border-inline-start-width: var(--rh-border-width-sm, 1px);
      }

      &:after {
        border-block-end-color: var(--_border-color);
      }

      &.vertical {
        &:hover {
          &:before {
            border-block-start:
              var(--rh-border-width-lg, 3px)
              solid
              var(--rh-color-interactive-secondary-default);
          }
        }

        @container (min-width: 768px) {
          &:before {
            border-inline-start-color: transparent;
            border-inline-end:
              var(--rh-border-width-sm, 1px)
              solid
              var(--_border-color);
            border-block-start:
              var(--rh-border-width-sm, 1px)
              solid
              var(--_border-color);
          }

          &:after {
            border-block-end-color: transparent;
          }

          &:hover {
            &:before {
              border-inline-start:
                var(--rh-border-width-lg, 3px)
                solid
                var(--rh-color-interactive-secondary-default);
              border-block-start:
                var(--rh-border-width-sm, 1px)
                solid
                var(--_border-color);
            }
          }

          &.first {
            @container (min-width: 768px) {
              &:before {
                border-block-start-color: transparent;
                border-inline-end-color: var(--_border-color);
              }
            }
          }

          &.last {
            @container (min-width: 768px) {
              &:after {
                border-block-end: none;
              }
            }
          }
        }
      }

      &:not(.vertical) {
        &:hover {
          &:before {
            border-block-start:
              var(--rh-border-width-lg, 3px)
              solid
              var(--rh-color-interactive-secondary-default);
          }
        }

        @container (min-width: 768px) {
          &:after {
            border-block-end-color: var(--_border-color);
          }
        }
      }

      &.first {
        &:before {
          border-inline-color: transparent;
        }
      }
    }

    &:not(.box) {
      &.vertical {
        &:hover {
          @container (max-width: 767px) {
            &:after {
              border-block-end:
                var(--rh-border-width-lg, 3px)
                solid
                var(--rh-color-interactive-secondary-default);
            }
          }

          @container (min-width: 768px) {
            &:after {
              border-inline-start:
                var(--rh-border-width-lg, 3px)
                solid
                var(--rh-color-interactive-secondary-default);
            }
          }
        }
      }
    }

    &:not(.vertical, .box) {
      &:hover {
        &:before {
          border-block-end:
            var(--rh-border-width-lg, 3px)
            solid
            var(--rh-color-interactive-secondary-default);
        }
      }
    }
  }
}

:host(:disabled) {
  & #button {
    pointer-events: none;
  }
}

:host([aria-disabled='true']) {
  & #button {
    cursor: default;
  }
}

:host(:is(:focus, :focus-within)) {
  & #button {
    outline: 1px auto var(--rh-color-interactive-primary-default);
    outline-offset: -3px;
  }
}
