/* Fix for demo overflow */
main {
  display: block;
  grid: unset;
}

.example {
  width: 100%;
}

.padded {
  background: var(--rh-color-surface-lighter, #f5f5f5);
  padding: var(--rh-space-3xl, 48px) var(--rh-space-3xl, 48px) 0;
  margin-block-start: var(--rh-space-lg, 16px);
}