---
layout: layout-basic.njk
title: Space
tags:
  - designtokens
---

{% import 'component/design-tokens.njk' as designtokens %}

{% call designtokens.section("Space") -%}

  <section class="section">
    <table width="100%;">
      <col style="width:15%">
      <col style="width:25%">
      <col style="width:25%">
      <col style="width:35%">
      <thead>
        <tr>
          <th>Example</th>
          <th>Use case</th>
          <th>Current value</th>
          <th>Token name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><div class="space-example" style="height: 4px; width: 4px; background-color: #ec7a08;"></div></td>
          <td>4px spacer</td>
          <td>0.25rem<br />4px</td>
          <td><span style="font-family: RedHatMono, 'Red Hat Mono', 'Courier New', Courier, monospace; font-size: 14px; border: 1px solid #d2d2d2; border-radius: 3px; background-color: #f5f5f5; padding: 0 4px;">--rh-space-05</span></td>
        </tr>
        <tr>
          <td><div class="space-example" style="height: 6px; width: 6px; background-color: #f0ab00;"></div></td>
          <td>6px spacer</td>
          <td>0.375rem<br />6px</td>
          <td><span style="font-family: RedHatMono, 'Red Hat Mono', 'Courier New', Courier, monospace; font-size: 14px; border: 1px solid #d2d2d2; border-radius: 3px; background-color: #f5f5f5; padding: 0 4px;">--rh-space-075</span></td>
        </tr>
        <tr>
          <td><div class="space-example" style="height: 8px; width: 8px; background-color: #92d400;"></div></td>
          <td>8px spacer</td>
          <td>0.5rem<br />8px</td>
          <td><span style="font-family: RedHatMono, 'Red Hat Mono', 'Courier New', Courier, monospace; font-size: 14px; border: 1px solid #d2d2d2; border-radius: 3px; background-color: #f5f5f5; padding: 0 4px;">--rh-space-1</span></td>
        </tr>
        <tr>
          <td><div class="space-example" style="height: 16px; width: 16px; background-color: #3e8635;"></div></td>
          <td>16px spacer</td>
          <td>1.0rem<br />16px</td>
          <td><span style="font-family: RedHatMono, 'Red Hat Mono', 'Courier New', Courier, monospace; font-size: 14px; border: 1px solid #d2d2d2; border-radius: 3px; background-color: #f5f5f5; padding: 0 4px;">--rh-space-2</span></td>
        </tr>
        <tr>
          <td><div class="space-example" style="height: 24px; width: 24px; background-color: #009596;"></div></td>
          <td>24px spacer</td>
          <td>1.5rem<br />24px</td>
          <td><span style="font-family: RedHatMono, 'Red Hat Mono', 'Courier New', Courier, monospace; font-size: 14px; border: 1px solid #d2d2d2; border-radius: 3px; background-color: #f5f5f5; padding: 0 4px;">--rh-space-3</span></td>
        </tr>
        <tr>
          <td><div class="space-example" style="height: 32px; width: 32px; background-color: #2b9af3;"></div></td>
          <td>32px spacer</td>
          <td>2.0rem<br />32px</td>
          <td><span style="font-family: RedHatMono, 'Red Hat Mono', 'Courier New', Courier, monospace; font-size: 14px; border: 1px solid #d2d2d2; border-radius: 3px; background-color: #f5f5f5; padding: 0 4px;">--rh-space-4</span></td>
        </tr>
        <tr>
          <td><div class="space-example" style="height: 48px; width: 48px; background-color: #a18fff;"></div></td>
          <td>48px spacer</td>
          <td>3.0rem<br />48px</td>
          <td><span style="font-family: RedHatMono, 'Red Hat Mono', 'Courier New', Courier, monospace; font-size: 14px; border: 1px solid #d2d2d2; border-radius: 3px; background-color: #f5f5f5; padding: 0 4px;">--rh-space-6</span></td>
        </tr>
        <tr>
          <td><div class="space-example" style="height: 64px; width: 64px; background-color: #40199a;"></div></td>
          <td>64px spacer</td>
          <td>4.0rem<br />64px</td>
          <td><span style="font-family: RedHatMono, 'Red Hat Mono', 'Courier New', Courier, monospace; font-size: 14px; border: 1px solid #d2d2d2; border-radius: 3px; background-color: #f5f5f5; padding: 0 4px;">--rh-space-8</span></td>
        </tr>
        <tr>
          <td><div class="space-example" style="height: 80px; width: 80px; background-color: #f56d6d;"></div></td>
          <td>80px spacer</td>
          <td>5.0rem<br />80px</td>
          <td><span style="font-family: RedHatMono, 'Red Hat Mono', 'Courier New', Courier, monospace; font-size: 14px; border: 1px solid #d2d2d2; border-radius: 3px; background-color: #f5f5f5; padding: 0 4px;">--rh-space-10</span></td>
        </tr>
        <tr>
          <td><div class="space-example" style="height: 96px; width: 96px; background-color: #be0000;"></div></td>
          <td>96px spacer</td>
          <td>6.0rem<br />96px</td>
          <td><span style="font-family: RedHatMono, 'Red Hat Mono', 'Courier New', Courier, monospace; font-size: 14px; border: 1px solid #d2d2d2; border-radius: 3px; background-color: #f5f5f5; padding: 0 4px;">--rh-space-12</span></td>
        </tr>
        <tr>
          <td><div class="space-example" style="height: 128px; width: 128px; background-color: #5f0000;"></div></td>
          <td>128px spacer</td>
          <td>8.0rem<br />128px</td>
          <td><span style="font-family: RedHatMono, 'Red Hat Mono', 'Courier New', Courier, monospace; font-size: 14px; border: 1px solid #d2d2d2; border-radius: 3px; background-color: #f5f5f5; padding: 0 4px;">--rh-space-16</span></td>
        </tr>
      </tbody>
    </table>
  </section>

{%- endcall %}

<div class="multi-column--min-300-wide">

  {% call designtokens.section("Get support") -%}
    <p>For support with using design tokens, <a href="mailto:digital-design-system@redhat.com">contact us</a>. If you need to request a new token, <a href="https://github.com/RedHat-UX/red-hat-design-system/issues/new/choose" target="_blank">submit a GitHub issue</a>.</p>
  {%- endcall %}

  {% call designtokens.section("Feedback") -%}
    <p>For help with something else or to give feedback about this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  {%- endcall %}

</div>
