<!DOCTYPE html><html class="no-js" lang=""><head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Sticky card | Red Hat design system</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://www.redhat.com/misc/favicon.ico" type="image/x-icon">

  <script src="/js/global.js"></script>

  <meta property="og:title" content="Red Hat design system">
  <meta property="og:site_name" content="Red Hat design system">
  <meta property="og:url" content="ux.redhat.com">
  <meta property="og:description" content="This is Red Hat's design system. Using Red Hat brand standards and PatternFly as our foundational design language, we enable designers and developers to concurrently build branded experiences across redhat.com, Red Hat Customer Portal, and beyond.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://ux.redhat.com/assets/opengraph.png">

  <meta name="pfe-auto-reveal" content="true">

  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css" media="all">

  <link rel="stylesheet" href="/assets/prism.css">
  <link rel="stylesheet" href="/assets/pfe.min.css">
  <link rel="stylesheet" href="/assets/rhds.min.css">

  <link rel="stylesheet" href="/assets/css/style.css" id="">


  <noscript>
    <link type="text/css" href="/assets/pfe--noscript.min.css">
  </noscript>

  <script type="module" src="/assets/rhds.min.js"></script>
</head>




  


<body class="page page--sticky-card" id="top" unresolved="">

  <div class="body-inner">

    


<script>
  window.onUsersnapCXLoad = function(api) {
    api.init();
  }
  var script = document.createElement('script');
  script.async = 1;
  script.src = 'https://widget.usersnap.com/load/64471a95-72fe-4239-b16d-ebcf8b1219f7?onload=onUsersnapCXLoad';
  document.getElementsByTagName('head')[0].appendChild(script);
</script>

<header class="l-header">

  <div class="l-header__logo-bar">
    <a href="/"><img class="l-header__logo" src="/assets/red-hat-design-system.svg" alt="Red Hat design system logo" style="max-width: 188px; min-width: 42px;"></a>
  </div>

  <input id="mobile-menu-toggle" class="menu-toggle element-invisible" type="checkbox" aria-controls="mobile-menu-menu-container">

  <label class="menu-toggle__button l-header__mobile-menu-toggle" for="mobile-menu-toggle" data-controls="mobile-menu-menu-container">
    <span class="l-header__burger-icon"></span>
    <span class="menu-toggle-assistive-text element-invisible">Toggle menu visibility</span>
  </label>

  <div class="menu-toggle__toggleable site-navigation__outer-wrapper">
    <nav class="l-header__site-navigation site-navigation menu-toggle__toggleable-content-wrapper">
      <ul class="site-navigation__wrapper">
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/">
    Home
  </a>

        </li>

        <!-- About

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/about/">
    About this website
  </a>

        </li> -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">About</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/about/">
    About this website
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/about/how-we-build/">
    How we build
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Get started -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Get started</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/">
    Overview
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/design-system-kit/">
    Design system kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/fts-starter-kit/">
    FTS starter kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/icon-library/">
    Brand icon library
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/logo-library/">
    Product logo library
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Foundations -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Foundations</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/">
    Overview
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

              </li>
              <!--<li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

                </li>-->
            </ul>
          </details>
        </li>

        <!-- Components -->

        <li class="site-navigation__item">
          
          
            
          
          <details open="">
            <summary class="site-navigation__heading">Components</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/components/">
    All components
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/accordion/">
    Accordion
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/alert/">
    Alert
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/announcement/">
    Announcement
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/audio-player/">
    Audio player
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/avatar/">
    Avatar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/blockquote/">
    Blockquote
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/button/">
    Button
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/call-to-action/">
    Call to action
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/card/">
    Card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/dialog/">
    Dialog
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/disclosure/">
    Disclosure
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/filter/">
    Filter
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/footer/">
    Footer
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/form/">
    Form
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/jump-links/">
    Jump links
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link/">
    Link
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link-with-icon/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/navigation-primary/">
    Navigation (primary)
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/navigation-secondary/">
    Navigation (secondary)
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/popover/">
    Popover
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/progress-steps/">
    Progress steps
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/promo/">
    Promo
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/search-bar/">
    Search bar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/skip-navigation/">
    Skip navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/statistic/">
    Statistic
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-banner/">
    Sticky banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
    
  
  <a class="site-navigation__sub-menu__link site-navigation__sub-menu__link--active" href="/components/sticky-card/">
    Sticky card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tabs/">
    Tabs
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tooltip/">
    Tooltip
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/video-thumbnail/">
    Video thumbnail
  </a>

                </li></ul>
          </details>
        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/design-code-status/">
    Design/code status
  </a>

        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/release-notes/">
    Release notes
  </a>

        </li>

        <!--

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/get-started/">
    Get started
  </a>

        </li>

        -->

      </ul>
    </nav>
  </div>
</header>


<main class="l-main">
  <article class="l-main__inner">
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 id="sticky-card" class="page-title">Sticky card</h1>
      </div>
    </header>
    <div class="l-main__content">
      <div class="container">
        
        



  <section class="section section--palette-default container">
    <a id="Overview"></a>
    <h2 id="overview" class="section-title pfe-jump-links-panel__section">Overview</h2>
    <p>Sticky cards slide into view at a certain scroll position and then anchor themselves to the edge of a browser window. They stay in one place as content scrolls underneath until a user dismisses them.</p>
  </section>



  <section class="section section--palette-default container">
    <a id="Sample%20component"></a>
    <h2 id="sample-component" class="section-title pfe-jump-links-panel__section">Sample component</h2>
    <img src="/assets/sticky-card/sticky-card.svg" alt="Sticky card" style="--inline-img-max-width: 271px;">
  </section>





  <section class="section section--palette-default container">
    <a id="Style"></a>
    <h2 id="style" class="section-title pfe-jump-links-panel__section">Style</h2>
    <p>A sticky card acts as a small container for a limited amount of content.</p>

  <!-- Anatomy image with sketch -->


  <div class="example example--palette-lightest">
    
    
  <img src="/assets/sticky-card/sticky-card-style.svg" alt="Sticky card naming" style="--inline-img-max-width: 449px;">
  </div>


    <h4 id="theme">Theme</h4>
    <p>The required elements in a sticky card are a close button, a title or a headline, a call to action, and a container (the light theme container features a drop shadow). The container consists of a background color and two rounded corners on the left or the right side, depending on the orientation. A thin border is also required even if the sticky card background color is different than the page background color.</p>

    
  <div class="example example--palette-lightest">
    
    
      <img src="/assets/sticky-card/sticky-card-theme-light.svg" alt="Sticky card light theme" style="--inline-img-max-width: 271px;">
  </div>


    
  <div class="example example--palette-darkest">
    
    
      <img src="/assets/sticky-card/sticky-card-theme-dark.svg" alt="Sticky card dark theme" style="--inline-img-max-width: 271px;">
  </div>


    <h4 id="layout">Layout</h4>
    <p>A sticky card features header, body, and footer sections, just like a normal Card. Header, body, and footer sections can only include a limited amount of content to ensure that the card doesn’t become too tall.</p>

    <h4 id="close-button">Close button</h4>
    <p>A close button is required for accessibility if a user wants to dismiss the sticky card from their view if they find it distracting.</p>

    <h4 id="header">Header</h4>
    <p>The header section can feature only a limited amount of content like a card title or a small headline. This required section introduces what the content is and shouldn’t be hidden.</p>

    <h4 id="body">Body</h4>
    <p>To keep the vertical height short, the body section can only include a small amount of text or a small image thumbnail. If a card title and a headline are enough to explain what the content is, the body section can be hidden.</p>

    <h4 id="footer">Footer</h4>
    <p>The footer section can include normal links or a call to action. A sticky card footer is always required and shouldn't be hidden.</p>

    
  <div class="example example--palette-lightest">
    
    
      <img src="/assets/sticky-card/sticky-card-layout.svg" alt="Sticky card content sections" style="--inline-img-max-width: 711px;">
  </div>

  </section>




  <section class="section section--palette-default container">
    <a id="Usage"></a>
    <h2 id="usage" class="section-title pfe-jump-links-panel__section">Usage</h2>
    <p>The sticky card placement is different than the normal card placement, where a normal card lives in a predetermined spot on a page. A sticky card slides into view only when a user reaches a specific scroll position on a page. When it does, it stays fixed to the edge of the page and it floats above content and layouts when a user scrolls. It should only be used to feature secondary content that’s helpful to a user, like a resource or webinar.</p>

    <h4 id="layout">Layout</h4>
    <p>A sticky card can be placed on the left or the right edge of a page and it has a fixed width of 262px.</p><p>

    
  </p><div class="example example--palette-medium">
    
    
      <div class="margin-top--4 margin-bottom--4">
        <img src="/assets/sticky-card/sticky-card-layout-right.svg" alt="Sticky card on right side" style="--inline-img-max-width: 1000px;">
      </div>
  </div>


    <h4 id="content">Content</h4>
    <p>A sticky card has limited vertical height, so keep content short and only include essential information. A sticky card can include a card title, a headline, text, and a call to action, but not all of these elements need to be included at the same time. Move any extra content to other parts of the page if possible.</p>

    
  <div class="example example--palette-lightest">
    
    
      <img src="/assets/sticky-card/sticky-card-content.svg" alt="Sticky card content sections" style="--inline-img-max-width: 587px;">
  </div>


    <h4 id="alignment">Alignment</h4>
    <p>Text and other content in a sticky card is always left-aligned, even if the sticky card is anchored to the right edge of a page.</p>
  </section>


<hr class="margin-top--2 margin-bottom--10">


  <section class="section section--palette-default container">
    <a id="Best%20practices"></a>
    <h2 id="best-practices" class="section-title pfe-jump-links-panel__section">Best practices</h2>
    <p>Don’t use more than one sticky card per page.</p>
    
  <div class="example example--palette-wrong">
    
    
    <div class="inline-flex centered">
      <img src="/assets/sticky-card/sticky-card-best-practices-1.svg" alt="Sticky card multiple issue" style="--inline-img-max-width: 872px;">
    </div>
  </div>


    <p>Don’t change the width of a sticky card on large screens, it’s fixed at 262px.</p>
    
  <div class="example example--palette-wrong">
    
    
    <div class="inline-flex centered">
        <img src="/assets/sticky-card/sticky-card-best-practices-2.svg" alt="Sticky card width issue" style="--inline-img-max-width: 360px;">
    </div>
  </div>


    <p>Don’t anchor a sticky card on small screens, it covers too much content.</p>
    
  <div class="example example--palette-wrong">
    
    
    <div class="inline-flex centered">
        <img src="/assets/sticky-card/sticky-card-best-practices-3.svg" alt="Sticky card overlap issue" style="--inline-img-max-width: 360px;">
    </div>
  </div>


    <p>Don't omit the close button, it’s needed for accessibility.</p>
    
  <div class="example example--palette-wrong">
    
    
    <div class="inline-flex centered">
        <img src="/assets/sticky-card/sticky-card-best-practices-4.svg" alt="Sticky card close button issue" style="--inline-img-max-width: 262px;">
    </div>
  </div>


    <p>Don’t use more than one call to action.</p>
    
  <div class="example example--palette-wrong">
    
    
    <div class="inline-flex centered">
        <img src="/assets/sticky-card/sticky-card-best-practices-5.svg" alt="Sticky card call to action issue" style="--inline-img-max-width: 262px;">
    </div>
  </div>

  </section>




  <section class="section section--palette-default container">
    <a id="Behavior"></a>
    <h2 id="behavior" class="section-title pfe-jump-links-panel__section">Behavior</h2>
    <h4 id="sliding">Sliding</h4>
    <p>A sticky card is always hidden until it slides into view. The trigger is when a user reaches a specific scroll position on a page, which should be below the fold to avoid distracting a user as soon as a page loads.</p>

    <h4 id="scrolling">Scrolling</h4>
    <p>A sticky card can be anchored to the left or the right edge of a page and it stays in the same position when a user scrolls up or down. Any content below will scroll underneath, but it will be partially covered.</p>

    <h4 id="dismissing">Dismissing</h4>
    <p>A user can click on or tap the close button if they want to dismiss the sticky card from their view. The page’s scroll position won’t be impacted and the sticky card won’t return in the same browsing session after it’s closed.</p>

    <h4 id="vertical-height">Vertical height</h4>
    <p>The vertical height of a sticky card greatly expands when too much content is placed inside. Doing this will cover too much content and negatively impact the user experience, so keep the content short to maintain as close to a square aspect ratio as possible.</p>

    
  <div class="example example--palette-lightest">
    
    
      <img src="/assets/sticky-card/sticky-card-behavior-height.svg" alt="Sticky card vertical height caution" style="--inline-img-max-width: 587px;">
  </div>

  </section>




  <section class="section section--palette-default container">
    <a id="Breakpoints"></a>
    <h2 id="breakpoints" class="section-title pfe-jump-links-panel__section">Breakpoints</h2>
    <p>A sticky card is 262px wide on large screens only. On small screens, it acts like a normal card and is placed in a predetermined spot on a page, but it maintains the same styles.</p>

    <h4 id="desktop">Desktop</h4>

    <img src="/assets/sticky-card/sticky-card-responsive-desktop.svg" alt="Sticky card desktop layout">

    <h4 id="tablet">Tablet</h4>

    <img src="/assets/sticky-card/sticky-card-responsive-tablet.svg" alt="Sticky card tablet layout" style="--inline-img-max-width: 768px;">

    <h4 id="mobile">Mobile</h4>

    <img src="/assets/sticky-card/sticky-card-responsive-mobile.svg" alt="Sticky card mobile layout" style="--inline-img-max-width: 360px;">
  </section>




  <section class="section section--palette-default container">
    <a id="Interaction%20states"></a>
    <h2 id="interaction-states" class="section-title pfe-jump-links-panel__section">Interaction states</h2>
    <p>Since a sticky card can consist of a variety of elements, refer to the specific interaction states that are assigned to each style and component for more information.</p>
  </section>


  <hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <a id="Spacing"></a>
    <h2 id="spacing" class="section-title pfe-jump-links-panel__section">Spacing</h2>
    <p>A sticky card uses <a href="https://www.patternfly.org/v4/guidelines/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

  
  <div class="example example--palette-lightest">
    
    
      <img src="/assets/sticky-card/sticky-card-spacing.svg" alt="Sticky card spacing" style="--inline-img-max-width: 262px;">
  </div>

  </section>


<div class="multi-column--min-300-wide">

  
  <section class="section section--palette-default container">
    <a id="Feedback"></a>
    <h2 id="feedback" class="section-title pfe-jump-links-panel__section">Feedback</h2>
    <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  </section>


  
  <section class="section section--palette-default container">
    <a id="Foundations"></a>
    <h2 id="foundations" class="section-title pfe-jump-links-panel__section">Foundations</h2>
    <p>To learn how to use our other components in your designs, visit the <a href="/components">Components</a> section.</p>
  </section>


</div>

      </div>
    </div>
  </article>
    

  <footer class="main-footer">
    <img style="max-width: 135px;" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark.svg" alt="Red Hat">
    <p>Copyright © 2021-2023 Red Hat, Inc.</p>
    <div class="main-footer--list">
      <ul>
        <li><a href="https://www.redhat.com/en/about/privacy-policy">Privacy statement</a></li>
        <li><a href="https://www.redhat.com/en/about/terms-use">Terms of use</a></li>
        <li><a href="https://www.redhat.com/en/about/all-policies-guidelines">All policies and guidelines</a></li>
      </ul>
    </div>

    <a id="netlify-badge" href="https://www.netlify.com" target="_blank" rel="noreferrer noopener">
      <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" alt="Deploys by Netlify">
    </a>
  </footer>

<div class="back-to-top">
    <a href="#top" class="back-to-top-link">
        <img src="/assets/back-to-top.svg" alt="Scroll back to the top">
    </a>
</div>

</main>


  </div>



</body></html>