/**
 * Elements > Code > API sections & Table customizations
 * Only loaded on the {Element} > Code pages
 **/
.element-apis {
  h3 {
    font-size: var(--rh-font-size-heading-xs, 1.25rem);

    a {
      display: flex;
      gap: var(--rh-space-sm);

      rh-badge {
        display: inline-flex;
        align-self: center;
      }
    }
  }

  rh-table[compact] {
    --rh-space-xl: 16px;
    --rh-space-lg: 8px;

    th,
    td,
    td :is(p, ul, ol, code) {
      font-size: var(--rh-font-size-body-text-sm);
    }

    td :is(h2, h3, h4) {
      font-size: var(--rh-font-size-body-text-md);
    }

    td {
      vertical-align: top;
    }

    :is(pre) {
      margin-block-start: 0;
      padding-block: 0;
      padding-inline-start: 0;
    }

    :is(pre, code) {
      white-space: break-spaces;
    }

    :is(th, td) p {
      margin-block-start: 0;
    }
  }
}
