/**
 * Elements > Code > Accordion Panel & Table customizations
 * Only loaded on the {Element} > Code pages
 **/
rh-accordion {
  rh-accordion-panel[expanded] {
    &::part(container) {
      background-color:
        light-dark(var(--rh-color-surface-lighter),
          oklch(from var(--rh-color-surface-dark) calc(l * 1.45) c h));
    }

    rh-table {
      --rh-table-row-background-hover-color: #f8f8f8;

      background-color:
        light-dark(var(--rh-color-surface-lightest),
          var(--rh-color-surface-darkest));
      margin: 0;

      tbody tr:last-child {
        border-block-end: 0 !important;
      }

      th {
        font-size: var(--rh-font-size-body-text-sm);
      }

      :is(pre, code) {
        white-space: break-spaces;
      }

      :is(th, td) p {
        margin-block: 0;
      }
    }
  }

  details summary {
    font-weight: var(--rh-font-weight-heading-medium, 500);
  }
}
