#rhds-wrapper {
  display: contents;
  font-family: "Red Hat Text", RedHatText, Overpass, Helvetica, sans-serif;
  --offset: calc(-1 * var(--rh-space-md, 32px));
  --offset-top: var(--offset);
  --offset-right: var(--offset);
}

header ::slotted(:is(h1, h2, h3, h4, h5, h6)[slot="header"]) {
  font-family: 'Red Hat Display', RedHatDisplay, Overpass, Helvetica, sans-serif;
}

[part=dialog] {
	background-color: var(--rh-color-surface-lightest, #fff);
  max-width: min(90%, 1140px);
  border-radius: var(--rh-border-radius-default, 0.1875rem);
  color: var(--rh-color-text-primary-on-light, var(--rh-color-black-900, #151515));
  font-family: inherit
}

[part=content] {
  border-radius: var(--rh-border-radius-default, 0.1875rem);
}

[part=close-button] {
  /* NB: hardcoded, no token colour matches this (yet) */
  color: var(--rh-dialog-close-button-color, #6a6e73);
}

[part=close-button]:is(:hover, :focus-within, :focus-visible) svg:is(svg, :hover) {
  fill: var(--rh-color-black-900, #151515);
}

:host([type=video]) {
  --rh-dialog-close-button-color: white;
}

:host([type=video]) [part=close-button] {
  top: var(--offset-top);
  right: var(--offset-right);
  padding: var(--rh-space-sm, 8px);
  color: var(--rh-dialog-close-button-color, #6a6e73);
}

:host([type=video]) [part=content] {
  overflow: hidden;
}

:host([type=video][open]) [part=overlay] {
  background-color: #151515;
  opacity: .65;
}

:host([type=video][open]) [part=dialog] {
  aspect-ratio: var(--rh-modal-video-aspect-ratio, 16/9);
  max-width: 90%;
  padding: 0;
  margin: 0;
}

:host([type=video]) #rhds-wrapper.mobile [part=close-button] {
  --offset-right: calc(-1 * var(--rh-space-sm, -8px))
}

:host([type=video]) #container,
:host([type=video]) [part=content],
:host([type=video]) ::slotted(:not([slot])) {
  aspect-ratio: var(--rh-modal-video-aspect-ratio, 16/9);
  width: 100%;
  position: absolute;
  inset: 0px;
}

