#rhds-wrapper {
  display: contents;
  font-family: "Red Hat Text", RedHatText, Overpass, Helvetica, sans-serif;

  --offset: var(--rh-space-md, 8px);
  --offset-top: var(--offset);
  --offset-right: var(--offset);
}

header ::slotted(:is(h1, h2, h3, h4, h5, h6)[slot="header"]) {
  font-family: "Red Hat Display", RedHatDisplay, Overpass, Helvetica, sans-serif;
}

[part="dialog"] {
  background-color: var(--rh-color-surface-lightest, #ffffff);
  max-width: min(90%, 1140px);
  border-radius: var(--rh-border-radius-default, 3px);
  color: var(--rh-color-text-primary-on-light, #151515);
  font-family: inherit;
}

[part="content"] {
  border-radius: var(--rh-border-radius-default, 3px);
}

[part="close-button"] {
  color: var(--rh-color-icon-subtle, #707070);
}

[part="close-button"]:is(:hover, :focus-within, :focus-visible) svg:is(svg, :hover) {
  fill: var(--rh-color-icon-secondary-on-light, #151515);
}

:host([type="video"]) {
  --rh-dialog-close-button-color: var(--rh-color-icon-secondary-on-dark, #ffffff);
}

:host([type="video"]) [part="close-button"] {
  top: var(--offset-top);
  right: var(--offset-right);
  padding: var(--rh-space-sm, 6px);
  color: var(--rh-color-icon-secondary-on-dark, #ffffff);
}

:host([type="video"]) [part="content"] {
  overflow: hidden;
}

:host([type="video"][open]) [part="overlay"] {
  --_g9: var(--rh-color-gray-90-rgb, 21 21 21);
  background-color: rgb(var(--_g9) / var(--rh-opacity-60, 60%))
}

:host([type="video"][open]) [part="dialog"] {
  --_aspect-ratio: var(--rh-modal-video-aspect-ratio, 16/9);

  aspect-ratio: var(--_aspect-ratio);
  max-width: min(90%, calc(90vh * var(--_aspect-ratio) + var(--offset-top)));
  padding: 0;
  margin: 0;
}

:host([type="video"]) #rhds-wrapper.mobile [part="close-button"] {
  --offset-right: var(--rh-space-sm, 6px);
}

:host([type="video"]) #container,
:host([type="video"]) [part="content"],
:host([type="video"]) ::slotted(:not([slot])) {
  aspect-ratio: var(--rh-modal-video-aspect-ratio, 16/9);

  /* account for a 1px descrepency between dialog and container aspect ratio */
  width: calc(100% + 1px);
  position: absolute;
  inset: 0;
  max-height: none;
}
