:host {
  --_dialog-backdrop-bg-color: oklch(from var(--rh-color-surface-darker, #1f1f1f) l c h / 0.68);

  display: block;
  position: relative;
}

[hidden] {
  display: none !important;
}

.visually-hidden {
  block-size: 1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  inline-size: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

#rhds-wrapper {
  --_offset: var(--rh-space-xl, 24px);
  --_offset-top: var(--_offset);
  --_offset-right: var(--_offset);

  display: contents;
  font-family: var(--rh-font-family-body-text, RedHatText, 'Red Hat Text', Helvetica, Arial, sans-serif);
}

::backdrop {
  background-color: var(--_dialog-backdrop-bg-color);
}

#dialog {
  background-color:
    light-dark(var(--rh-color-surface-lightest, #ffffff),
      var(--rh-color-surface-dark, #383838));
  border-radius: var(--rh-border-radius-default, 3px);
  border: 0;
  box-shadow: var(--rh-box-shadow-xl, 0 8px 24px 3px rgba(21, 21, 21, 0.35));
  box-sizing: border-box;
  color: var(--rh-color-text-primary);
  font-family: inherit;
  inline-size: 100%;
  margin-inline: auto;
  max-block-size: var(--_box-max-block-size, calc(100vh - var(--rh-space-3xl, 48px)));
  max-inline-size: var(--_box-width, min(90%, 1140px));
  overflow-y: auto;
  overscroll-behavior: contain;
  padding: var(--rh-space-xl, 24px);
  position: fixed;
}

:host([width='small']) #dialog,
:host([variant='small']) #dialog {
  --_box-width: 35rem;
}

:host([width='medium']) #dialog,
:host([variant='medium']) #dialog {
  --_box-width: 52.5rem;
}

:host([width='large']) #dialog,
:host([variant='large']) #dialog {
  --_box-width: 70rem;
}

#content {
  margin-block-start: calc(-1 * var(--_offset-top));
}

#header {
  background-color:
    light-dark(var(--rh-color-surface-lightest, #ffffff),
      var(--rh-color-surface-dark, #383838));
  inset-block-start: 0;
  margin-block-end: var(--rh-space-lg, 16px);
  position: relative;

  &:before {
    background-color:
      light-dark(var(--rh-color-surface-lightest, #ffffff),
        var(--rh-color-surface-dark, #383838));
    block-size: 100%;
    content: '';
    inline-size: 100%;
    inset-block-start: calc(-1 * var(--_offset-top));
    position: absolute;
    z-index: -1;
  }

  &:after {
    background-color:
      light-dark(var(--rh-color-surface-lightest, #ffffff),
        var(--rh-color-surface-dark, #383838));
    block-size: var(--rh-space-lg, 16px);
    content: '';
    inline-size: 100%;
    position: absolute;
    z-index: -1;
  }

  @media (min-height: 768px) {
    position: sticky;
  }

  @media (min-width: 768px) and (min-height: 576px) {
    position: sticky;
  }

  @media (min-width: 1200px) {
    margin-block-end: var(--rh-space-xl, 24px);
  }
}

#header[hidden] + #body {
  max-inline-size: calc(100% - var(--rh-space-xl, 24px));
}

#header,
#header[hidden] + #body {
  padding-inline-end: var(--rh-space-3xl, 48px);
}

@media (min-width: 1200px) {
  #rhds-wrapper {
    --_offset: var(--rh-space-2xl, 32px);
  }

  #dialog {
    padding: var(--rh-space-2xl, 32px);
  }

  #content:has(#header[hidden]) {
    --_offset-top: var(--rh-space-xl, 24px);
  }

  #header[hidden] + #body {
    max-inline-size: calc(100% - var(--rh-space-2xl, 32px));
  }
}

#content ::slotted([slot='header']) {
  margin-block: 0 !important;
}

#header ::slotted(:is(h1,h2,h3,h4,h5,h6)[slot='header']) {
  font-family: var(--rh-font-family-heading, RedHatDisplay, 'Red Hat Display', Helvetica, Arial, sans-serif);
  font-size: var(--rh-font-size-heading-sm, 1.5rem);
  font-weight: var(--rh-font-weight-body-text-regular, 400);
}

#body ::slotted(p) {
  margin-block: 0 var(--rh-space-lg, 16px) !important;
}

#body ::slotted(p:last-of-type) {
  margin-block-end: var(--rh-space-xl, 24px) !important;
}

#close-button {
  color: var(--rh-dialog-close-button-color, var(--rh-color-icon-secondary));
  cursor: pointer;
  display: block;
  inset-block-start: 0;
  margin-inline-start: auto;
  max-inline-size: var(--rh-length-xl, 24px);
  position: sticky;
  z-index: 500;
}

#close-button::part(button) {
  background-color:
    light-dark(var(--rh-color-surface-lightest, #ffffff),
      var(--rh-color-surface-dark, #383838));
  block-size: var(--rh-length-xl, 24px);
  border-radius: var(--rh-border-radius-default, 3px);
  inline-size: var(--rh-length-xl, 24px);
}

:host([position='top']) #dialog {
  inline-size: 100%;
  margin-block-start: var(--rh-space-2xl, 32px);
  max-inline-size: var(--_box-width, calc(100% - var(--rh-space-2xl, 32px)));
}

#footer {
  align-items: center;
  display: flex;
  gap: var(--rh-space-md, 8px);
}

:host([type='video']) {
  --_dialog-backdrop-bg-color: rgb(from var(--rh-color-gray-90), r g b / var(--rh-opacity-60, 60%));

  background-color: var(--_dialog-backdrop-bg-color);
}

:host([type='video']) #rhds-wrapper {
  --_offset: var(--rh-space-md, 8px);
}

:host([type='video'][open]) #dialog {
  --_aspect-ratio: var(--rh-dialog-video-aspect-ratio, 16/9);

  aspect-ratio: var(--_aspect-ratio);
  background-color: var(--_dialog-backdrop-bg-color);
  max-inline-size:
    var(--_box-width,
      min(90%, calc(90vh * var(--_aspect-ratio) + var(--_offset-top))));
  padding: 0;
}

:host([type='video']) #close-button {
  inset-inline-end: var(--_offset-right);
  inset-block-start: var(--_offset-top);
  margin-inline-end: 0;
  position: absolute;
}

:host([type='video']) #rhds-wrapper.mobile #close-button {
  --_offset-right: var(--rh-space-sm, 6px);
}

:host([type='video']) #close-button::part(button) {
  background-color: transparent;
}

:host([type='video']) #close-button::part(icon) {
  color: var(--rh-dialog-close-button-color, var(--rh-color-surface-lightest, #ffffff));
  filter: drop-shadow(1px 0 1px var(--_dialog-backdrop-bg-color));
}

:host([type='video']) #content {
  margin-block-start: 0; /* Safari fix */
  overflow: hidden;
  padding: 0;
}

:host([type='video']) #content,
:host([type='video']) ::slotted(:not([slot])) {
  aspect-ratio: var(--rh-dialog-video-aspect-ratio, 16/9);
  max-inline-size: none;
  inline-size: 100%;
}

:host([type='video']) ::slotted(:not([slot])) {
  inset: 0;
  position: absolute;
}
