#demo-container {
  margin: 36px;
  row-gap: 36px;
}

#demo-container, rh-tile-group {
  display: flex;
  align-items: top;
  flex-wrap: wrap;
  column-gap: 36px;
  row-gap: 36px;
}

h2:not(rh-tile > h2), rh-tile-group {
  flex: 1 0 100%;
  margin: 0;
}

rh-tile {
  flex: 0 0 360px;
}