:host {
  line-height: var(--rh-line-height-body-text, 1.5);
  font-weight: var(--rh-font-weight-body-text-regular, 400);
  font-size: var(--rh-font-size-code-md, 1rem);
  font-family: var(--rh-font-family-body-text, RedHatText, 'Red Hat Text', Helvetica, Arial, sans-serif);
}

[hidden] {
  display: none !important;
  border-radius: var(--rh-border-radius-default, 3px);
}

rh-icon {
  color: inherit;
}

button {
  color: var(--_text-color);
}

#container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: var(--_text-color);
  background-color: transparent;
  border-radius: var(--rh-border-radius-default, 3px);
  width: var(--_player-width, 304px);

  --_player-width: 328px;
  --_poster-size: 40px;
  --_player-padding: var(--rh-space-lg, 16px);
  --_icon-gap: var(--rh-space-xl, 24px);
  --_time-slider-base: 159px;
  --_time-slider-width: 159px;
  --_time-slider-extension: 0px;
  --_about-mediatitle-display: none;
  --_about-heading-display: flex;
  --_box-shadow: var(--rh-box-shadow-md, 0 4px 6px 1px rgba(21, 21, 21, 0.25));
  --_secondary-opacity: var(--rh-audio-player-secondary-opacity, 1);
  --_text-color: var(--rh-audio-player-text-color, var(--rh-color-text-primary));
  --_border-color: var(--rh-color-border-subtle);
  --_surface-color:
    var(--rh-audio-player-background-color,
      var(--rh-color-surface-lightest, #ffffff));
  --_secondary-text-color:
    var(--rh-audio-player-secondary-text-color,
      var(--rh-color-text-secondary));
  --_static-border-color: var(--rh-color-border-subtle);
  --_static-text-color: var(--rh-color-text-primary);
  --_static-highlight-color: var(--rh-color-interactive-primary-hover);
  --_static-undeline-color: var(--rh-color-border-subtle);
  --_static-surface-color: var(--rh-color-surface-lightest, #ffffff);
  --_static-surface-focus-color: var(--rh-color-surface-light, #e0e0e0);
  --rh-tooltip-content-padding-block-start: var(--rh-space-md, 8px);
  --rh-tooltip-content-padding-block-end: var(--rh-space-md, 8px);
  --rh-tooltip-content-padding-inline-start: var(--rh-space-md, 8px);
  --rh-tooltip-content-padding-inline-end: var(--rh-space-md, 8px);
  --rh-audio-player-scrolling-text-overflow-background-color: var(--_surface-color);

  &.dark {
    --_surface-color:
      var(--rh-audio-player-background-color,
        var(--rh-color-surface-darkest, #151515));
    --_box-shadow: none;
    --_static-highlight-color: var(--rh-color-surface-dark, #383838);
    --_static-surface-color: var(--rh-color-surface-darkest, #151515);
    --_static-surface-focus-color: var(--rh-color-surface-dark, #383838);

    &.has-accent-color {
      --_static-highlight-color: var(--rh-color-interactive-primary-hover);
      --_static-surface-color: var(--rh-color-surface-lightest, #ffffff);
      --_static-surface-focus-color: var(--rh-color-surface-light, #e0e0e0);
      --_border-color: rgba(255, 255, 255, 0.5);
      --_secondary-opacity: var(--rh-audio-player-secondary-opacity, 0.75);
    }
  }

  &.mobile-safari {
    --_time-slider-extension:
      calc(var(--_button-size, 40px) + var(--_icon-gap,
        var(--rh-space-xl, 24px)));
  }

  &.has-accent-color {
    --_border-color: rgba(0, 0, 0, 0.5);
    --_secondary-text-color:
      var(--rh-audio-player-secondary-text-color,
        var(--rh-color-text-primary));
    --_range-track-color: rgb(255 255 255 / 0.5);
    --_secondary-opacity: var(--rh-audio-player-secondary-opacity, 0.75);
    --_static-border-color: transparent;
    --_static-overlay-focus-color: rgba(80, 80, 80, 0.5);
    --_static-overlay-color: rgba(0, 0, 0, 0.5);
  }

  &.show-menu {
    --_time-slider-base: 128px;
  }

  &.rtl,
  .rtl button {
    text-align: right;
  }

  &.mediatitle {
    --_about-mediatitle-display: block;
    --_about-heading-display: none;
  }
}

rh-audio-player-rate-stepper {
  margin-inline: 10px 2px;
  width: auto;
}

.scrubber {
  color: var(--_text-color);
  padding: var(--_icon-padding);
}

#mini-playback-rate {
  margin-inline: auto;
}

::slotted(rh-audio-player-about),
::slotted(rh-audio-player-subscribe),
::slotted(rh-audio-player-transcript) {
  background-color: var(--_static-surface-color);
}

::slotted([slot='series']) {
  letter-spacing: var(--rh-letter-spacing-body-text, 0.0125rem) !important;
  font-size: var(--rh-font-size-body-text-xs, 0.75rem) !important;
  font-weight: var(--rh-font-weight-heading-medium, 500) !important;
  margin: 0 0 var(--rh-space-md, 8px) !important;
  padding: 0 !important;
}

::slotted([slot='title']) {
  font-size: var(--rh-font-size-body-text-xl, 1.25rem) !important;
  font-family: var(--rh-font-family-heading, RedHatDisplay, 'Red Hat Display', Helvetica, Arial, sans-serif) !important;
  font-weight: var(--rh-font-weight-heading-medium, 500) !important;
  line-height: var(--rh-line-height-heading, 1.3) !important;
  margin: 0 0 var(--rh-space-lg, 16px) !important;
  padding: 0 !important;
}

#mediatitle {
  font-family: var(--rh-font-family-heading, RedHatDisplay, 'Red Hat Display', Helvetica, Arial, sans-serif);
  font-size: var(--rh-font-size-heading-xs, 1.25rem);
  font-weight: var(--rh-font-weight-heading-medium, 500);
  height: 26px;
  line-height: 1;
}

#mediaseries {
  font-size: var(--rh-font-size-body-text-sm, 0.875rem);
  height: 18px;
  line-height: 1;
  font-weight: var(--rh-font-weight-body-text-regular, 400);
  font-family: var(--rh-font-family-body-text, RedHatText, 'Red Hat Text', Helvetica, Arial, sans-serif);
  letter-spacing: var(--rh-letter-spacing-body-text, 0.0125rem);
  margin: 0 0 var(--rh-space-md, 8px);
  color: var(--_secondary-text-color);
  opacity: var(--_secondary-opacity, 1);
}

:host(:focus-within) {
  z-index: 2;
}

:host(:hover) {
  z-index: 3;
}

#media,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

#media {
  padding: 0;
  border: none;
  display: block;
}

#toolbar {
  position: relative;
  display: flex;
  align-items: center;
  padding-inline-end: var(--rh-space-md, 8px);
  width: max-content;
}

#toolbar,
#panel {
  background-color: var(--_surface-color);
  border: 1px solid var(--_border-color);
  border-radius: var(--rh-border-radius-default, 3px);
  padding: var(--_player-padding);
}

#panel {
  width: calc(var(--_player-width) - 2 * var(--_player-padding) - 2);

  & ::slotted(*) {
    color: var(--_text-color) !important;
  }
}

.has-accent-color #toolbar,
.has-accent-color #panel {
  border: none;
}

rh-tooltip {
  display: flex;
}

rh-tooltip > * {
  min-height: 40px;
}

rh-tooltip > label {
  display: contents;
}

#container > * {
  --_time-slider-width: calc(var(--_time-slider-base) + var(--_time-slider-extension, 0px));
}

#full-title,
#current,
#full-current,
#duration,
#volume-tooltip,
#rewind-tooltip,
#full-play-tooltip,
#forward-tooltip,
#close-tooltip {
  display: none;
}

#rewind,
#forward {
  display: grid;
  place-items: center;
}

#mediaseries,
#mediatitle {
  text-overflow: ellipsis;
  white-space: nowrap;
}

::slotted([slot='series']),
::slotted([slot='title']) {
  margin: 0;
}

#poster {
  display: none;
  height: var(--_poster-size);
}

#poster > img {
  width: var(--_poster-size);
  height: var(--_poster-size);
  margin-inline-end: var(--_icon-gap);
}

input[type='range'] {
  margin: 2px 0;
  display: flex;
}

#time-tooltip {
  width: var(--_time-slider-width);
  flex: 0 0 var(--_time-slider-width);
  margin-inline: 16px 0;
}

#time {
  width: var(--_time-slider-width);
}

.spacer {
  width: var(--rh-space-xl, 24px);
  height: var(--_button-size);
  border-inline-end: 1px solid var(--_border-color);
  margin-inline-end: var(--rh-space-lg, 16px);
}

.full-spacer {
  display: none;
  width: 1px;
  flex: 1 0 3px;
}

.show-menu .spacer {
  width: 0;
  border-inline-start: none;
  border-inline-end: none;
}

#current {
  margin-inline-start: calc(var(--_icon-gap) / 2);
}

#current,
#full-current,
#duration {
  color: var(--_secondary-text-color);
  opacity: var(--_secondary-opacity, 1);
  font-family: var(--rh-font-family-code, RedHatMono, 'Red Hat Mono', 'Courier New', Courier, monospace);
  font-size: var(--rh-font-size-code-xs, 0.75rem);
  line-height: var(--rh-line-height-code, 1.5);
}

.rtl #mute rh-icon {
  rotate: 180deg;
}

#volume-tooltip {
  width: auto;
  margin-inline: 0 calc(var(--_icon-gap) / 2);
}

#play-tooltip {
  margin: 0;

  --_icon-gap: var(--rh-space-lg, 16px);
  --rh-icon-size: var(--rh-size-icon-01, 16px);
}

#full-play-tooltip {
  --_button-size: 56px;
  --_icon-padding: calc((var(--_button-size) - var(--rh-icon-size)) / 2);
  --_icon-margin: calc(var(--_icon-gap) / 2);
}

#full-play-tooltip,
#mute-tooltip,
#close-tooltip,
#menu-tooltip,
.scrubber {
  --rh-icon-size: var(--rh-size-icon-02, 24px);
}

#menu-button {
  display: inline-block;
  position: relative;
  width: max-content;
}

.expanded #menu-tooltip {
  display: none;
}

.expanded #close-tooltip,
:not(.expanded) #menu-tooltip {
  display: inline-block;
}

#close,
#menu-button {
  height: var(--_button-size);
}

rh-menu {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  z-index: 2;
}

rh-menu[inert],
rh-menu[aria-hidden='true'],
rh-menu[aria-hidden='true'] > * {
  z-index: -1;
}

rh-menu::part(menu) {
  opacity: 0;
  pointer-events: none;
  z-index: 10000;
  transition: opacity 300ms cubic-bezier(0.54, 1.5, 0.38, 1.11) 0s;
  translate: var(--_floating-content-translate);
  max-width: calc(100vw - 10px);
  max-height: calc(100vh - 10px);
  width: max-content;
  will-change: opacity;
  background: var(--rh-audio-player-background-color, var(--_static-surface-color));
  border: 1px solid var(--_border-color);
  box-shadow: var(--_static-box-shadow);
}

#container.dark rh-menu::part(menu) {
  border: none;
}

rh-menu:not([inert])::part(menu),
rh-menu[aria-hidden='false']::part(menu) {
  opacity: 1;
  pointer-events: all;
}

rh-menu > button {
  padding: var(--rh-space-md, 8px) var(--rh-space-lg, 16px);
  display: block;
  text-align: left;
  max-width: 200px;
  color: var(--_static-text-color);
  background-color: var(--_static-overlay-color);
  font-size: var(--rh-font-size-body-text-md, 1rem);
  line-height: var(--rh-line-height-body-text, 1.5);
  font-family: var(--rh-font-family-body-text, RedHatText, 'Red Hat Text', Helvetica, Arial, sans-serif);
}

rh-menu > button:hover {
  background: var(--_static-overlay-focus-color, var(--_static-surface-focus-color));
}

rh-menu > button:focus {
  z-index: 2;
}

#container.has-accent-color rh-menu > button {
  color: var(--rh-color-text-primary);
}

#container.rtl rh-menu > button {
  text-align: right;
}

#play,
#full-play {
  border-radius: 50%;
  background-color: var(--rh-color-surface-darkest, #151515);
  color:
    var(--rh-audio-player-icon-background-color,
      var(--rh-color-text-primary-on-dark, #ffffff));

  /* stylelint-disable-next-line no-descending-specificity */
  & rh-icon {
    translate: 0% 10%;

    &[icon='play-fill'] {
      translate: 9% 10%;
    }
  }
}

.dark {
  #play,
  #full-play {
    background-color: var(--rh-color-surface-lightest, #ffffff);
    color:
      var(--rh-audio-player-icon-background-color,
        var(--rh-color-text-primary-on-light, #151515));
  }
}

.expanded {
  & #toolbar {
    border-block-end: 0;
    border-radius: var(--rh-border-radius-default, 3px) var(--rh-border-radius-default, 3px) 0 0;
  }

  & #panel {
    border-block-start: 0;
    padding-block-start: 0;
    border-radius: 0 0 var(--rh-border-radius-default, 3px) var(--rh-border-radius-default, 3px);

    & slot {
      display: block;
    }
  }
}

@media (min-width: 360px) {
  #container {
    --_player-width: 360px;
    --_time-slider-base: 191px;

    &.show-menu {
      --_time-slider-base: 160px;
    }
  }
}

@media (min-width: 576px) {
  #container {
    --_player-width: 503px;
    --_time-slider-base: 334px;

    &.show-menu {
      --_time-slider-base: 303px;
    }

    &:is(.compact,.compact-wide) {
      --_player-width: 576px;
      --_time-slider-base: 256px;

      padding-inline-end: var(--_player-padding);

      & #volume {
        width: 80px;
      }

      &.show-menu {
        --_time-slider-base: 225px;
      }

      &.mobile-safari {
        --_time-slider-extension:
          calc(80px + var(--_button-size, 40px) + 1.5 * var(--_icon-gap,
            var(--rh-space-xl, 24px)));
      }
    }

    &.compact-wide {
      width: 100%;

      &.expanded #panel {
        padding: 0;

        & slot {
          width: calc(var(--_player-width) - 2 * var(--_player-padding));
          margin: 0 auto;
        }
      }

      & #toolbar {
        justify-content: center;
        width: auto;
        padding: var(--_player-padding) calc((100% - var(--_player-width) - 2px) / 2);
      }

      & #time-tooltip,
      & #time {
        width: var(--_time-slider-width);
        flex: 0 0 var(--_time-slider-width);
        margin-inline-start: var(--rh-space-md, 8px);
      }
    }

    &.compact #toolbar {
      padding-inline-end: var(--_player-padding);
    }

    &:not(.mini) #mute-tooltip {
      --rh-icon-size: var(--rh-size-icon-02, 24px);
    }

    &.full {
      --_player-width: 504px;
      --_icon-gap: var(--rh-space-xl, 24px);
      --_player-padding: var(--rh-space-xl, 24px);
      --_time-slider-base: 314px;

      & #toolbar {
        padding-inline-end: var(--_player-padding);
        width: calc(var(--_player-width) - var(--_poster-size) - var(--_icon-gap) * 3);
      }

      &.expanded #toolbar {
        width: auto;
      }

      & #time-tooltip {
        margin-inline: 0 calc(var(--_icon-gap) / 2);
      }

      & #full-current,
      & #duration {
        flex: 0 0 calc(var(--_time-slider-width) / 2);
        margin: -4px 0 var(--rh-length-lg, 16px);
      }

      & #duration {
        flex: 0 0 calc(var(--_time-slider-width) / 2);
        justify-content: flex-end;
        margin-inline-end: 140px;
      }

      & #mute-tooltip {
        margin-inline-start: var(--_icon-margin);
      }

      & #volume-tooltip {
        flex: 0 0 80px;
        margin-inline-end: 0;
      }

      & #volume {
        width: 80px;
      }

      & rh-audio-player-rate-stepper {
        flex: 0 0 auto;
        text-align: right;
        margin: 0 var(--_icon-margin) 0 -6px;
      }

      & #menu {
        flex: 0 0 auto;
      }

      & #full-title {
        display: block;
        flex: 0 0 454px;
      }

      /* this will complain either way */
      /* stylelint-disable-next-line no-descending-specificity */
      & #panel {
        padding-block-start: var(--rh-length-md, 8px);
      }

      &.mobile-safari {
        --_time-slider-extension:
          calc(80px + var(--_button-size, 40px) + var(--_icon-gap,
            var(--rh-space-xl, 24px)));

        & #duration {
          margin-inline-end: -4px;
        }
      }

      &.mediatitle {
        --_about-mediatitle-display: none;
        --_about-heading-display: flex;
      }

      &:not(.expanded) #toolbar {
        flex-wrap: wrap;
        height: 184px;
      }

      &.rtl {
        & #duration {
          justify-content: flex-start;
        }
      }

      &.expanded {
        & #close-tooltip,
        & #menu {
          margin: 0;
        }

        & #full-title {
          flex: 0 0 calc(100% - 112px);
          overflow: hidden;
          margin: 0 var(--rh-length-lg, 16px);
        }
      }
    }

    &:not(.mini) .spacer,
    &.full #current,
    &.full:not(.expanded) #play-tooltip,
    &.full.expanded #time-tooltip,
    &.full.expanded #mute-tooltip {
      display: none;
    }

    &:is(.compact,.compact-wide) #current,
    &.full:not(.expanded) .full-spacer {
      display: inline-block;
    }

    &:is(.compact,.compact-wide) #volume-tooltip,
    &.full:not(.expanded) #full-current,
    &.full:not(.expanded) #duration,
    &.full:not(.expanded) #volume-tooltip,
    &.full:not(.expanded) #rewind-tooltip,
    &.full:not(.expanded) #full-play-tooltip,
    &.full:not(.expanded) #forward-tooltip {
      display: flex;
    }
  }
}

@media (min-width: 768px) {
  #container {
    &:is(.compact,.compact-wide) {
      --_time-slider-base: 221px;
      --_player-width: 650px;

      &.show-menu {
        --_time-slider-base: 190px;
      }

      &.poster {
        --_player-width: 714px;
      }
    }

    &:is(.compact,.compact-wide).poster #poster {
      display: inline-block;
    }

    &.full.poster {
      --_player-width: 712px;
      --_time-slider-base: 314px;

      &:not(.expanded) {
        --_poster-size: 184px;

        & #toolbar {
          padding-inline-start: calc(var(--_player-padding) * 2 + var(--_poster-size));
        }

        & #poster {
          position: relative;
          overflow: visible;
          display: block;
          height: 0;
          flex: 0 0 100%;

          & > img {
            position: absolute;
            left: calc(-184px - var(--_player-padding));
          }
        }
      }

      &.expanded {
        & #poster {
          display: inline-block;
          padding-inline-end: var(--rh-length-lg, 16px);

          & > img {
            margin-inline-end: 0;
          }
        }

        & #full-title {
          flex: 0 0 calc(100% - 168px);
        }

        &.rtl #poster > img {
          right: calc(-184px - var(--_player-padding));
          left: unset;
        }
      }
    }
  }
}
