.media-info {
  display: var(--_about-mediatitle-display, none);
}

#title {
  display: var(--_about-heading-display, block);
}

#mediaseries {
  letter-spacing: var(--rh-font-letter-spacing-body-text, 0.0125rem);
  font-size: var(--rh-font-size-body-text-xs, 0.75rem);
  line-height: var(--rh-line-height-body-text, 1.5);
  font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif);
  font-weight: var(--rh-font-weight-heading-medium, 500);
  margin: var(--rh-space-lg, 16px) 0 var(--rh-space-md, 8px);
  opacity: 0.7;
}

*[part="body"] {
  max-height: 114px;
  overflow-y: auto;  
  padding: 8px;
  border: 1px solid var(--_border-color);
  color: var(--_static-text-color);
  background-color: var(--_static-surface-color);
  padding: var(--_player-padding, var(--rh-space-md, 8px));
}
div[part="body"] ::slotted(*:first-of-type) {
  margin-block-start: 0;
}

::slotted([slot="profile"]:nth-of-type(2)),
div[part="body"] ::slotted(*:last-of-type) {
  margin-block-end: 0;
}

::slotted([slot="profile"]:nth-of-type(n+3)){
  display: none!important;
}
