:host {
  display: inline;
}

:host([voice]) {
  display: block;
}

:host(:first-of-type),
:host(:first-of-type) > *:first-child {
  margin-top: 0;
}

:host(:last-of-type),
:host(:last-of-type) > *:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

a[id$=text] {
  border-bottom: 1px dotted transparent;
}

a[id$=text]:hover {
  background-color:  var(--_static-surface-color);
  border-bottom-color: var(--_static-underline-color);
}

a[active][id$=text] {
  color: var(--_static-text-color);
  background-color: var(--_static-highlight-color);
}

::slotted([slot="start"]) {
  text-decoration: underline;
}

a:hover ::slotted([slot="start"]) {
  text-decoration: none;
}
