:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 16px 0;
  padding: 0;
  font-size: var(--rh-font-size-body-text-xs, 0.75rem);
}

::slotted(*) {
  white-space: nowrap;
  opacity: 0.7;
}

::slotted([slot="fullname"]) {
  font-family: var(--rh-font-family-heading, RedHatDisplay, "Red Hat Display", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif);
  font-weight: var(--rh-font-weight-heading-medium, 500);
}

::slotted([slot="company"]) {
  font-style: italic;
}

#text:nth-child(2) {
  margin: 0 16px;
  flex: 1 0 158px;
}

pf-avatar {
  --pf-c-avatar--Width: 48px;
  --pf-c-avatar--Height: 48px;
}
