*[part="body"] {
  max-height: 240px;
  overflow-y: auto;
}

::slotted([slot="link"]) {
  display: block;
}

@media (min-width: 576px) {
  slot[part="links"] {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
