:host {
  display: block;
  border-top: 1px solid var(--_border-color);
}

:host([hidden]),
*[hidden] {
  display: none !important;
}

[part='heading'] {
  margin: var(--rh-space-lg, 16px) 0;
  height: 26px;
}

slot[name='heading'] *,
::slotted([slot='heading']) {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

slot[name='heading'] *,
::slotted([slot='heading']),
::slotted([slot='title']) {
  font-family: var(--rh-font-family-heading, RedHatDisplay, 'Red Hat Display', Helvetica, Arial, sans-serif);
  font-size: var(--rh-font-size-heading-xs, 1.25rem);
  font-weight: var(--rh-font-weight-heading-medium, 500);
  line-height: var(--rh-line-height-heading, 1.3);
}

::slotted([slot='title']) {
  margin: 0 0 var(--rh-space-lg, 16px);
  padding: 0;
}

::slotted([slot='series']) {
  letter-spacing: var(--rh-letter-spacing-body-text, 0.0125rem);
  font-size: var(--rh-font-size-body-text-xs, 0.75rem);
  font-weight: var(--rh-font-weight-heading-medium, 500);
  margin: 0 0 var(--rh-space-md, 8px);
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.15em var(--_static-border-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--_static-border-color);
}

*::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
