:host {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 1.5em;

  --_fade-color: var(--rh-audio-player-scrolling-text-overflow-background-color, var(--rh-color-surface-lightest, #ffffff))
}

:host([hidden]),
*[hidden] {
  display: none !important;
}

#outer {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 6em;
}

#outer.rtl {
  text-align: right;
}

#inner {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

slot {
  display: inline-block;
}

::slotted(*) {
  margin: 0 !important;
}

#fade {
  position: absolute;
  height: 150%;
  content: " ";
  top: -25%;
  right: 0;
  width: 3em;
  box-shadow: -1em 0 1.5em 0 var(--_fade-color) inset;
}
.rtl #fade {
  left: 0;
  right: unset;
  box-shadow: 1em 0 1.5em 0 var(--_fade-color) inset;
}

slot.scrolling.scrollable {
  animation: ltr var(--_animation-ms, 1s) ease-out;
}

.rtl slot.scrolling.scrollable {
  animation: rtl var(--_animation-ms, 1s) ease-out;
}

@keyframes ltr {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes rtl {
  0% {
    transform: translate(0%, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}
