:host {
  display: inline;
}

:host([voice]) {
  display: block;
}

:host(:first-of-type),
:host(:first-of-type) > *:first-child {
  margin-block-start: 0;
}

:host(:last-of-type),
:host(:last-of-type) > *:last-child {
  margin-block-end: 0;
}

a {
  text-decoration: none;
  color: currentcolor;
}

a[id$="text"] {
  border-block-end: 1px dotted transparent;
}

a[id$="text"]:hover {
  background-color: var(--_static-surface-color);
  border-block-end-color: var(--_static-underline-color);
}

a[active][id$="text"] {
  color: var(--_static-text-color);
  background-color: var(--_static-highlight-color);
}

#voice {
  font-family: var(--rh-font-family-heading, RedHatDisplay, "Red Hat Display", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif);
}

#start {
  font-family: var(--rh-font-family-code, RedHatMono, "Red Hat Mono", "Courier New", Courier, monospace);
}

a #start {
  text-decoration: underline;
}

a:hover #start {
  text-decoration: none;
}
