:host {
  display: flex !important;
  width: var(--_player-width, 304px);
  color: var(--_primary-text-color);
  flex-direction: column;
  align-items: stretch;

  --_surface-color: var(--rh-color-surface-lightest, #ffffff);
  --_surface-color-focus: var(--rh-color-surface-light, #f0f0f0);
  --_icon-color: var(--rh-color-icon-secondary-on-light, #151515);
  --_icon-disabled-color: var(--rh-color-black-300, #d2d2d2);
  --_text-disabled-color: var(--rh-color-black-300, #d2d2d2);
  --_border-color: var(--rh-color-border-subtle-on-light, #d2d2d2);
  --_primary-text-color: var(--rh-color-text-primary-on-light, #151515);
  --_secondary-text-color: var(--rh-color-text-secondary-on-light, #6a6e73);
  --_inverted-text-color: var(--rh-color-text-primary-on-dark, #ffffff);
  --_outline-color: var(--rh-color-interactive-blue-darker, #0066cc);
  --_poster-size: 40px;
  --_button-size: 40px;
  --_svg-size: var(--rh-icon-size-03, 32px);
  --_player-padding: var(--rh-space-lg, 16px);
  --_icon-gap: var(--rh-space-xl, 24px);
  --_player-width: 360px;
  --_time-slider-width: 191px;
}

:host([on="dark"]) {
  --_surface-color: var(--rh-color-surface-darkest, #151515);
  --_surface-color-focus: var(--rh-color-surface-dark, #3c3f42);
  --_icon-color: var(--rh-color-icon-secondary-on-dark, #ffffff);
  --_icon-disabled-color: var(--rh-color-black-600, #6a6e73);
  --_text-disabled-color: var(--rh-color-black-600, #6a6e73);
  --_border-color: var(--rh-color-border-subtle-on-dark, #6a6e73);
  --_primary-text-color: var(--rh-color-text-primary-on-dark, #ffffff);
  --_secondary-text-color: var(--rh-color-text-secondary-on-dark, #d2d2d2);
  --_inverted-text-color: var(--rh-color-text-primary-on-light, #151515);
  --_outline-color: var(--rh-color-interactive-blue-lighter, #73bcf7);
}

:host(:focus-within) {
  z-index: 2;
}

:host(:hover) {
  z-index: 3;
}

#media,
.sr-only {
  position: absolute;
  left: -999999;
  height: 0;
  width: 0;
  overflow: hidden;
}

#media {
  padding: 0;
  border: none;
}

.primary-toolbar,
#panel-outer {
  background-color: var(--_surface-color);
  border: 1px solid var(--_border-color);
  border-radius: var(--rh-border-radius-default, 3px);
  padding: var(--_player-padding);
}

.primary-toolbar {
  display: flex;
  align-items: center;
  padding-right: var(--rh-space-md, 8px);
}

#full-title,
#current,
#full-current,
#duration,
#volume-tooltip,
#full-playback-rate-tooltip,
#playback-rate-tooltip,
#rewind-tooltip,
#full-play-tooltip,
#forward-tooltip,
:host(:not([mode="mini"])) .primary-toolbar > *:last-child {
  display: none;
}

#description,
#title {
  text-overflow: ellipsis;
  white-space: nowrap;
}

::slotted([slot="description"]) {
  color: var(--_secondary-text-color);
  letter-spacing: var(--rh-font-letter-spacing-body-text, 0.0125rem);
  font-size: var(--rh-font-size-body-text-xs, 0.75rem);
  line-height: var(--rh-line-height-body-text, 1.5);
  font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Overpass, Helvetica, Arial, sans-serif);
  font-weight: var(--rh-font-weight-heading-medium, 500);
  margin-bottom: var(--rh-space-md, 8px);
  overflow: hidden;
}

::slotted([slot="title"]) {
  color: var(--_text-color);
  font-size: var(--rh-font-size-body-text-xl, 1.25rem);
  font-family: var(--rh-font-family-heading, RedHatDisplay, "Red Hat Display", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Overpass, Helvetica, Arial, sans-serif) !important;
  font-weight: var(--rh-font-weight-heading-medium, 500);
  line-height: var(--rh-line-height-heading, 1.3);
  margin-bottom: var(--rh-space-ld, 16px);
  overflow: hidden;
}

#panel-outer {
  width: calc(var(--_player-width) - 2 * var(--_player-padding) - 2);
}

#panel {
  display: none;
}

.panel-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panel-title {
  flex: 1 0 auto;
  margin-bottom: 0;
  margin-top: 0;
  padding: var(--_player-padding) 0;
  font-family: var(--rh-font-family-heading, RedHatDisplay, "Red Hat Display", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Overpass, Helvetica, Arial, sans-serif) !important;
  font-size: var(--rh-font-size-heading-xs, 1.25rem);
  font-weight: var(--rh-font-weight-heading-medium, 500);
  line-height: var(--rh-line-height-heading, 1.3);
}

#poster {
  display: none;
}

#poster > img {
  width: var(--_poster-size);
  height: var(--_poster-size);
  margin-right: var(--_icon-gap);
}

rh-tooltip {
  display: inline-block;
  height: var(--_button-size);
  width: var(--_button-size);
  margin-left: var(--_icon-margin);
  margin-right: var(--_icon-margin);

  --_icon-padding: calc((var(--_button-size) - var(--_svg-size)) / 2);
  --_icon-margin: calc(var(--_icon-gap) / 2 - var(--_icon-padding));
}

/* workaround until rh-tooltip issue is corrected */
rh-tooltip:focus,
rh-tooltip:focus-visible {
  outline: none !important;
}

/* workaround until rh-tooltip issue is corrected */
rh-tooltip:focus-within {
  outline: 2px solid var(--_outline-color);
}

rh-audio-player-range {
  padding: 10px 0;
  margin: 2px 0;
}

.toolbar-button:focus {
  outline: none;
}

#time-tooltip {
  width: var(--_time-slider-width);
  flex: 0 0 var(--_time-slider-width);
  margin-left: 16px;
  margin-right: 0;
}

#time {
  width: var(--_time-slider-width);
}

.spacer {
  width: 24px;
  border-right: 1px solid var(--_border-color);
  height: var(--_button-size);
  margin-right: 16px;
}

#current {
  margin-right: calc(var(--_icon-gap) / 2);
}

#current,
#full-current,
#duration {
  color: var(--_secondary-text-color);
  font-family: var(--rh-font-family-code, RedHatMono, "Red Hat Mono", "Courier New", Courier, monospace);
  font-size: var(--rh-font-size-code-xs, 0.75rem);
  line-height: var(--rh-line-height-code, 1.5);
}

#volume-tooltip {
  width: auto;
  margin-left: 0;
  margin-right: calc(var(--_icon-gap) / 2);
}

#playback-rate-tooltip,
#full-playback-rate-tooltip {
  width: auto;

  --_svg-size: 12px;
}

#playback-rate-tooltip:focus-within,
#full-playback-rate-tooltip:focus-within {
  outline: 2px solid var(--_outline-color);
}

#play-tooltip {
  margin: 0;

  --_icon-gap: 16px;
  --_svg-size: 18px;
}

#full-play-tooltip {
  --_button-size: 56px;
  --_svg-size: var(--rh-icon-size-02, 24px);
  --_icon-padding: calc((var(--_button-size) - var(--_svg-size)) / 2);
  --_icon-margin: calc(var(--_icon-gap) / 2);
}

#mute-tooltip {
  --_svg-size: 18px;
}

#download-tooltip {
  margin-left: var(--rh-space-md, 8px);

  --_svg-size: 18px;
}

#menu {
  height: var(--_button-size);
}

#menu-tooltip {
  --_svg-size: var(--rh-icon-size-02, 24px);
}

button {
  border: none;
  background: transparent;
  height: var(--_button-size, 40px);
  min-width: var(--_button-size, 40px);
  padding: 0;
}

button[slot="menu"] {
  padding: var(--rh-space-md, 8px) var(--rh-space-lg, 16px);
  display: block;
  text-align: left;
  width: 200px;
  color: var(--_primary-text-color);
  background: var(--_surface-color);
  font-size: var(--rh-font-size-body-text-md, 1rem);
  line-height: var(--rh-line-height-body-text, 1.5);
  font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Overpass, Helvetica, Arial, sans-serif);
}

button[slot="menu"]:hover {
  background: var(--_surface-color-focus);
}

button[slot="menu"]:focus {
  outline: 2px solid var(--_outline-color);
  z-index: 2;
}

#play,
#full-play {
  border-radius: 50%;
  background-color: var(--_icon-color);
}

#play[disabled],
#full-play[disabled] {
  background-color: var(--_icon-disabled-color);
}

svg {
  fill: var(--_icon-color);
  height: var(--_svg-size);
  width: var(--_svg-size);
  padding: var(--_icon-padding);
}

[disabled] svg {
  fill: var(--_icon-disabled-color);
}

#play svg,
#full-play svg,
#play[disabled] svg,
#full-play[disabled] svg {
  fill: var(--_surface-color);
}

#playback-rate-stepper,
#full-playback-rate-stepper {
  display: flex;
  align-items: center;
}

#playback-rate,
#full-playback-rate,
#playback-rate-suffix,
#full-playback-rate-suffix {
  color: var(--_text-color);
  font-size: var(--rh-font-size-code-md, 1rem);
  font-family: var(--rh-font-family-code, RedHatMono, "Red Hat Mono", "Courier New", Courier, monospace);
}

#playback-rate,
#full-playback-rate {
  appearance: none;
  line-height: 36px;
  padding: 2px 0;
  border: none;
  background-color: var(--_surface-color);
}

#playback-rate[disabled],
#full-playback-rate[disabled] {
  color: var(--_text-disabled-color);
  border: none;
}

#playback-rate:focus,
#full-playback-rate:focus {
  outline: none;
}

#cues {
  max-height: 240px;
  overflow-y: auto;
}

#cues::-webkit-scrollbar {
  width: 0.5em;
}

#cues::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.15em var(--_secondary-text-color);
}

#cues::-webkit-scrollbar-thumb {
  background-color: var(--_icon-disabled-color);
}

#cues::-webkit-scrollbar-thumb:hover {
  background-color: var(--_secondary-text-color);
}

::slotted([slot="about"]),
.panel label,
.cue-text,
.cue-voice {
  color: var(--_primary-text-color);
  font-size: var(--rh-font-size-body-text-md, 1rem);
  line-height: var(--rh-line-height-body-text, 1.5);
  font-weight: var(--rh-font-weight-body-regular, 400);
  font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Overpass, Helvetica, Arial, sans-serif);
}

a.cue-text {
  text-decoration: none;
}

.cue-time {
  color: var(--_primary-text-color);
  font-size: var(--rh-font-size-code-md, 1rem);
  font-family: var(--rh-font-family-code, RedHatMono, "Red Hat Mono", "Courier New", Courier, monospace);
}

.cue-time:hover {
  text-decoration: none;
}

a.cue-text:hover {
  text-decoration: none;
}

.cue-text.active-cue {
  background-color: var(--_surface-color-focus);
  transition: all ease-in-out 0.35s;
}

::slotted([slot="description"]),
::slotted([slot="title"]) {
  padding: 0;
  margin: 0;
}

::slotted([slot="about"]:first-of-type) {
  padding-top: 0;
  margin-top: 0;
}

::slotted([slot="about"]:last-of-type) {
  padding-bottom: 0;
  margin-bottom: 0;
}

@media (min-width: 576px) {
  :host {
    --_player-width: 575px;
    --_time-slider-width: 400px;
  }

  :host([mode="compact"]),
  :host([mode="compact-wide"]) {
    padding-right: var(--_player-padding);

    --_player-width: 576px;
    --_time-slider-width: 225px;
  }

  :host([mode="compact-wide"]) {
    width: 100%;
  }

  :host([mode="compact"]) .primary-toolbar {
    padding-right: var(--_player-padding);
  }

  :host([mode="compact-wide"]) .primary-toolbar {
    justify-content: center;
    width: calc(var(--_player-width) - 2 * var(--_player-padding));
    padding: var(--_player-padding) calc((100% - var(--_player-width) - 2px) / 2);
  }

  :host([mode="compact-wide"]) #time-tooltip,
  :host([mode="compact-wide"]) #time {
    width: var(--_time-slider-width);
    flex: 0 0 var(--_time-slider-width);
  }

  :host([mode="compact"]) #time-tooltip:after,
  :host([mode="compact-wide"]) #time-tooltip:after {
    content: none;
    margin: 0;
  }

  :host([mode="compact"]) #current,
  :host([mode="compact-wide"]) #current {
    margin-left: var(--rh-space-md, 8px);
  }

  :host([mode="compact"]) #volume,
  :host([mode="compact-wide"]) #volume {
    width: 80px;
  }

  :host([mode="full"]) #mute-tooltip,
  :host([mode="compact"]) #mute-tooltip,
  :host([mode="compact-wide"]) #mute-tooltip {
    --_svg-size: var(--rh-icon-size-02, 24px);
  }

  :host([mode="full"]) {
    --_icon-gap: 24px;
    --_player-width: 504px;
    --_player-padding: var(--rh-space-xl, 24px);
    --_time-slider-width: 314px;
  }

  :host([mode="full"]) .primary-toolbar {
    padding-right: var(--_player-padding);
  }

  :host([mode="full"]:not([expanded])) .primary-toolbar {
    flex-wrap: wrap;
  }

  :host([mode="full"]) #current,
  :host([mode="full"]) .spacer,
  :host([mode="compact"]) .spacer,
  :host([mode="compact-wide"]) .spacer,
  :host([mode="full"]:not([expanded])) #play-tooltip,
  :host([mode="full"][expanded]) #time-tooltip,
  :host([mode="full"][expanded]) #mute-tooltip,
  :host([mode="full"]) #playback-rate-tooltip {
    display: none;
  }

  :host([mode="compact"]) #current,
  :host([mode="compact-wide"]) #current,
  :host([mode="full"]:not([expanded])) #full-current,
  :host([mode="full"]:not([expanded])) #duration,
  :host([mode="compact"]) #volume-tooltip,
  :host([mode="compact-wide"]) #volume-tooltip,
  :host([mode="full"]:not([expanded])) #volume-tooltip,
  :host([mode="full"]:not([expanded])) #full-playback-rate-tooltip,
  :host([mode="full"]:not([expanded])) #rewind-tooltip,
  :host([mode="full"]:not([expanded])) #full-play-tooltip,
  :host([mode="full"]:not([expanded])) #forward-tooltip,
  :host([mode="compact"]) .primary-toolbar > *:last-child,
  :host([mode="compact-wide"]) .primary-toolbar > *:last-child,
  :host([mode="full"]) .primary-toolbar > *:last-child {
    display: inline-block;
  }

  :host([mode="full"]) #time-tooltip {
    margin-left: 0;
    margin-right: calc(var(--_icon-gap) / 2);
  }

  :host([mode="full"]) #full-current,
  :host([mode="full"]) #duration {
    flex: 0 0 calc(var(--_time-slider-width) / 2);
    margin: -4px 0 16px;
  }

  :host([mode="full"]) #duration {
    flex: 0 0 calc(var(--_time-slider-width) / 2);
    text-align: right;
    margin-right: 140px;
  }

  :host([mode="full"]) #mute-tooltip {
    margin-left: var(--_icon-margin);
  }

  :host([mode="full"]) #volume-tooltip {
    flex: 0 0 80px;
    margin-right: 0;
  }

  :host([mode="full"]) #volume {
    width: 80px;
  }

  :host([mode="full"]) #full-playback-rate-tooltip {
    flex: 1 0 auto;
    text-align: right;
    margin: 0 var(--_icon-margin) 0 -6px;
  }

  :host([mode="full"]) .primary-toolbar > *:last-child {
    flex: 1 0 auto;
  }

  :host([mode="full"][expanded]) .primary-toolbar > *:last-child {
    margin: 0;
  }

  :host([mode="full"]) #full-title {
    display: block;
    flex: 0 0 454px;
  }

  :host([mode="full"][expanded]) #full-title {
    flex: 0 0 calc(100% - 112px);
    overflow: hidden;
    margin: 0 16px;
  }

  :host([mode="full"][poster][expanded]) #full-title {
    flex: 0 0 calc(100% - 168px);
  }

  :host([mode="full"]) #full-title > * {
    margin-bottom: 8px;
  }

  :host([expanded][mode="full"]) .primary-toolbar,
  :host([expanded][mode="compact"]) .primary-toolbar,
  :host([expanded][mode="compact-wide"]) .primary-toolbar {
    border-bottom: 0;
    border-radius: var(--rh-border-radius-default, 3px) var(--rh-border-radius-default, 3px) 0 0;
  }

  :host([expanded][mode="full"]) #panel-outer,
  :host([expanded][mode="compact"]) #panel-outer,
  :host([expanded][mode="compact-wide"]) #panel-outer {
    border-top: 0;
    padding-top: 0;
    border-radius: 0 0 var(--rh-border-radius-default, 3px) var(--rh-border-radius-default, 3px);
  }

  :host([expanded][mode="full"]) #panel,
  :host([expanded][mode="compact"]) #panel,
  :host([expanded][mode="compact-wide"]) #panel {
    border-top: 1px solid var(--_border-color);
    display: block;
  }

  :host([expanded][mode="compact-wide"]) #panel {
    width: calc(var(--_player-width) - 2 * var(--_player-padding));
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  :host([mode="compact"]),
  :host([mode="compact-wide"]) {
    --_player-width: 694px;
    --_time-slider-width: 221px;
  }

  :host([poster][mode="compact"]),
  :host([poster][mode="compact-wide"]) {
    --_player-width: 750px;
  }

  :host([mode="compact"]) #playback-rate-tooltip,
  :host([mode="compact-wide"]) #playback-rate-tooltip,
  :host([poster][mode="compact"]) #poster,
  :host([poster][mode="compact-wide"]) #poster {
    display: inline-block;
  }

  :host([poster][mode="full"]) {
    --_player-width: 712px;
    --_time-slider-width: 314px;
  }

  :host([poster][expanded]) #poster {
    display: inline-block;
    padding-right: 16px;
  }

  :host([poster][mode="full"]:not([expanded])) {
    --_poster-size: 184px;
  }

  :host([poster][mode="full"]:not([expanded])) .primary-toolbar {
    padding-left: calc(var(--_player-padding) * 2 + var(--_poster-size));
  }

  :host([poster][mode="full"]:not([expanded])) #poster {
    position: relative;
    overflow: visible;
    display: block;
    height: 0;
    flex: 0 0 100%;
  }

  :host([poster][expanded]) #poster > img {
    margin-right: 0;
  }

  :host([poster][mode="full"]:not([expanded])) #poster > img {
    position: absolute;
    left: calc(-184px - var(--_player-padding));
  }
}
