:host {
  display: inline-block;
  width: var(--_player-width, 304px);
  color: var(--_primary-text-color);

  --_surface-color: var(--rh-color-surface-lightest, #ffffff);
  --_icon-color: var(--rh-color-icon-secondary-on-light, #151515);
  --_icon-disabled-color: var(--rh-color-black-300, #d2d2d2);
  --_text-disabled-color: var(--rh-color-black-300, #d2d2d2);
  --_border-color: var(--rh-color-border-subtle-on-light, #d2d2d2);
  --_primary-text-color: var(--rh-color-text-primary-on-light, #151515);
  --_secondary-text-color: var(--rh-color-text-secondary-on-light, #6a6e73);
  --_inverted-text-color: var(--rh-color-text-primary-on-dark, #ffffff);
  --_outline-color: var(--rh-color-interactive-blue-darker, #0066cc);
  --_poster-size: 40px;
  --_button-size: 40px;
  --_svg-size: var(--rh-icon-size-03, 32px);
  --_player-padding: var(--rh-space-lg, 16px);
  --_icon-gap: var(--rh-space-xl, 24px);
  --_player-width: 304px;
}

:host([on="dark"]) {
  --_surface-color: var(--rh-color-surface-darkest, #151515);
  --_icon-color: var(--rh-color-icon-secondary-on-dark, #ffffff);
  --_icon-disabled-color: var(--rh-color-black-600, #6a6e73);
  --_text-disabled-color: var(--rh-color-black-600, #6a6e73);
  --_border-color: var(--rh-color-border-subtle-on-dark, #6a6e73);
  --_primary-text-color: var(--rh-color-text-primary-on-dark, #ffffff);
  --_secondary-text-color: var(--rh-color-text-secondary-on-dark, #d2d2d2);
  --_inverted-text-color: var(--rh-color-text-primary-on-light, #151515);
  --_outline-color: var(--rh-color-interactive-blue-lighter, #73bcf7);
}

:host([mode="compact"]) {
  --_player-width: 650px;
}

:host([mode="compact"][poster]) {
  --_player-width: 714px;
}

:host([mode="compact-wide"]) {
  display: block;

  --_player-width: auto;
}

:host([mode="full"]) {
  --_poster-size: 184px;
  --_player-width: 504px;
  --_player-padding: var(--rh-space-xl, 24px);
}

:host([mode="full"][poster]) {
  --_player-width: 712px;
}

#media,
label,
.sr-only {
  position: absolute;
  left: -999999;
  height: 0;
  width: 0;
  overflow: hidden;
}

#media {
  padding: 0;
  border: none;
}

.primary-toolbar,
#popover {
  background-color: var(--_surface-color);
  border: 1px solid var(--_border-color);
  border-radius: var(--rh-border-radius-default, 3px);
  padding: var(--_player-padding);
}

:host([expanded]) .primary-toolbar {
  border-bottom-color: var(--_surface-color);
  border-radius: var(--rh-border-radius-default, 3px) var(--rh-border-radius-default, 3px) 0 0;
}

#mini-toolbar,
#compact-toolbar,
#compact-wide-toolbar,
#controls-sliders,
#controls-other,
#play-controls,
#volume-controls,
#time-labels,
#playback-rate-stepper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mini-toolbar {
  padding-right: 8px;
}

#mini-toolbar,
#compact-toolbar {
  display: inline-flex;
  width: auto;
}

#compact-toolbar,
#compact-wide-toolbar {
  padding-right: 12px;
}

:host([poster]) #full-toolbar {
  display: grid;
  grid-gap: var(--_player-padding);
  grid-template-columns: var(--_poster-size, 184px) 454px;
}

:host([poster]) #description-title {
  grid-column: 2/3;
  grid-row: 1/2;
  max-width: var(--_player-width, 304px);
  text-overflow: ellipsis;
}

:host([poster]) #controls {
  grid-column: 2/3;
  grid-row: 2/3;
}

#popover-outer {
  margin-top: -1px;
  margin-bottom: 1px;
  max-height: 0;
  overflow: visible;
  position: relative;
}

#popover {
  padding-top: 0;
  border-top-width: 0;
  border-radius: 0 0 var(--rh-border-radius-default, 3px) var(--rh-border-radius-default, 3px);
  z-index: 2;
  position: absolute;
  width: calc(var(--_player-width) - 2 * var(--_player-padding) - 2);
}

.popover-title {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: var(--_player-padding);
  border-top: 1px solid var(--_border-color);
}

#poster {
  width: var(--_poster-size);
  height: var(--_poster-size);
  margin-right: var(--_icon-gap);
}

:host([mode="full"]) #poster {
  grid-row: 1/3;
  grid-column: 1/2;
  margin-right: 0;
}

#compact-wide-toolbar {
  display: flex;
  justify-content: center;
}

#controls-sliders {
  align-items: flex-start;
}

rh-tooltip {
  overflow: hidden;
  display: inline-block;
  height: var(--_button-size);
  width: var(--_button-size);
  margin-left: var(--_icon-margin);
  margin-right: var(--_icon-margin);

  --_icon-padding: calc((var(--_button-size) - var(--_svg-size)) / 2);
  --_icon-margin: calc(var(--_icon-gap) / 2 - var(--_icon-padding));
}

/* workaround until rh-tooltip issue is corrected */
rh-tooltip:focus,
rh-tooltip:focus-visible {
  outline: none !important;
}

/* workaround until rh-tooltip issue is corrected */
rh-tooltip:focus-within {
  outline: 2px solid var(--_outline-color);
}

.toolbar-button:focus {
  outline: none;
}

#time-tooltip {
  width: auto;
  margin-left: calc(var(--_icon-gap) / 2);
  margin-right: var(--rh-space-md, 8px);
}

#volume-tooltip {
  width: auto;
  margin-left: 0;
  margin-right: calc(var(--_icon-gap) / 2);
}

#playback-rate-tooltip {
  width: auto;
  margin: 0 calc(var(--_icon-gap) / 2);

  --_svg-size: 12px;
}

#playback-rate-tooltip:focus-within {
  outline: 2px solid var(--_outline-color);
}

#play-tooltip {
  --_icon-margin: 0;
  --_svg-size: 18px;
}

#controls-other #play-tooltip {
  --_button-size: 56px;
  --_svg-size: var(--rh-icon-size-02, 24px);
  --_icon-padding: calc((var(--_button-size) - var(--_svg-size)) / 2);
}

#mute-tooltip {
  --_svg-size: var(--rh-icon-size-02, 24px);
}

#controls rh-tooltip {
  margin-left: 0;
  margin-right: 0;
}

#controls-other {
  margin-top: 16px;
  justify-content: space-around;

  --_icon-gap: var(--rh-space-2xl, 32px);
}

button {
  border: none;
  background: transparent;
  height: var(--_button-size, 40px);
  width: var(--_button-size, 40px);
  padding: 0;
}

#play {
  border-radius: 50%;
  background-color: var(--_icon-color);
}

#play[disabled] {
  background-color: var(--_icon-disabled-color);
}

svg {
  fill: var(--_icon-color);
  height: var(--_svg-size);
  width: var(--_svg-size);
  padding: var(--_icon-padding);
}

#play svg {
  fill: var(--_surface-color);
}

[disabled]:not(#play) svg {
  fill: var(--_icon-disabled-color);
}

#mini-toolbar #play-controls:after {
  content: " ";
  width: 0;
  border-right: 1px solid var(--_border-color);
  height: var(--_button-size);
  margin: 0 16px 0 24px;
}

input[type="range"] {
  padding: 10px 0;
  margin: 2px 0;
}

#compact-wide-toolbar #time,
#compact-toolbar #time {
  width: 192px;
}

#full-toolbar #time {
  width: 320px;
}

#compact-toolbar #volume,
#compact-wide-toolbar #volume,
#full-toolbar #volume {
  width: 80px;
}

#playback-rate,
#playback-rate-suffix {
  color: var(--_text-color);
  font-size: var(--rh-font-size-code-md, 1rem);
  font-family: var(--rh-font-family-code, RedHatMono, "Red Hat Mono", "Courier New", Courier, monospace);
}

#playback-rate {
  appearance: none;
  line-height: 36px;
  padding: 2px 0;
  margin: 0;
  border: none;
  background-color: var(--_surface-color);
}

#playback-rate[disabled] {
  color: var(--_text-disabled-color);
}

#playback-rate:focus {
  outline: none;
}

#description {
  color: var(--_secondary-text-color);
  letter-spacing: var(--rh-font-letter-spacing-body-text, 0.0125rem);
  font-size: var(--rh-font-size-body-text-xs, 0.75rem);
  line-height: var(--rh-line-height-body-text, 1.5);
  font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Overpass, Helvetica, Arial, sans-serif);
  margin-bottom: var(--rh-space-md, 8px);
  overflow: hidden;
}

#title {
  color: var(--_text-color);
  font-size: var(--rh-font-size-body-text-xl, 1.25rem);
  line-height: var(--rh-line-height-heading, 1.3);
  margin-bottom: var(--rh-space-ld, 16px);
  overflow: hidden;
}

#description-title > div {
  display: flex;
  white-space: nowrap;
}

/*
.scrolltext:before {
  content: " ";
  background: none;
  background: linear-gradient(90deg, transparent 0%, var(--_surface-color) 100%);
  outline: 1px solid red;
}

.scrolltext > div:hover > div,
:host(:focus-within) .scrolltext > div > div {
  transform: translateX(-100%);
  transition: all 10s linear;
}
*/

#current,
#duration {
  color: var(--_secondary-text-color);
  font-family: var(--rh-font-family-code, RedHatMono, "Red Hat Mono", "Courier New", Courier, monospace);
  font-size: var(--rh-font-size-code-xs, 0.75rem);
  line-height: var(--rh-line-height-code, 1.5);
}

#cues {
  max-height: 302px;
  overflow-y: auto;
}

.cue-text,
.cue-voice {
  color: var(--_primary-text-color);
  font-size: var(--rh-font-size-body-text-md, 1rem);
  line-height: var(--rh-line-height-body-text, 1.5);
  font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Overpass, Helvetica, Arial, sans-serif);
}

.cue-time {
  color: var(--_primary-text-color);
  font-size: var(--rh-font-size-code-md, 1rem);
  font-family: var(--rh-font-family-code, RedHatMono, "Red Hat Mono", "Courier New", Courier, monospace);
}
