:host {
  display: flex !important;
  width: var(--_player-width, 304px);
  flex-direction: column;
  align-items: stretch;

  --_player-width: 328px;
}

:host([hidden]),
*[hidden] {
  display: none !important;
}

#container {
  display: contents;
  color: var(--_text-color);

  --_poster-size: 40px;
  --_time-slider-width: 159px;
  --_player-padding: var(--rh-space-lg, 16px);
  --_icon-gap: var(--rh-space-xl, 24px);
  --_about-mediatitle-display: none;
  --_about-heading-display: block;
  --_surface-color: var(--rh-audio-player-background-color, var(--rh-color-surface-lightest, #ffffff));
  --_surface-focus-color: var(--rh-audio-player-focus-background-color, var(--rh-color-surface-light, #f0f0f0));
  --_border-color: var(--rh-audio-player-border-color, var(--rh-color-border-subtle-on-light, #d2d2d2));
  --_text-color: var(--rh-audio-player-text-color, var(--rh-color-text-primary-on-light, #151515));
  --_static-border-color: var(--rh-audio-player-border-color, var(--rh-color-border-subtle-on-light, #d2d2d2));
  --_static-text-color: var(--rh-color-text-primary-on-light, #151515);
  --_static-highlight-color: var(--rh-color-interactive-blue-lightest, #bee1f4);
  --_static-undeline-color: var(--rh-color-border-subtle-on-dark, #6a6e73);
  --_static-surface-color: var(--rh-color-surface-lightest, #ffffff);
  --rh-audio-player-scrolling-text-overflow-background-color: var(--_surface-color);
}

#container.dark {
  --_surface-color: var(--rh-audio-player-background-color, var(--rh-color-surface-darkest, #151515));
  --_surface-focus-color: var(--rh-audio-player-focus-background-color, var(--rh-color-surface-dark, #3c3f42));
  --_border-color: var(--rh-audio-player-border-color, var(--rh-color-border-subtle-on-dark, #6a6e73));
  --_text-color: var(--rh-audio-player-text-color, var(--rh-color-text-primary-on-dark, #ffffff));
}

#container.dark-panels {
  --_static-border-color: var(--rh-audio-player-border-color, var(--rh-color-border-subtle-on-dark, #6a6e73));
  --_static-text-color: var(--rh-color-text-primary-on-dark, #ffffff);
  --_static-highlight-color: var(--rh-color-surface-dark, #3c3f42);
  --_static-underline-color: var(--rh-color-border-subtle-on-light, #d2d2d2);
  --_static-surface-color: var(--rh-color-surface-darkest, #151515);
}

:host([show-menu]) {
  --_time-slider-width: 128px;
}

#container.rtl,
.rtl button {
  text-align: right;
}

#mediatitle {
  font-family: var(--rh-font-family-heading, RedHatDisplay, "Red Hat Display", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif);
  font-size: var(--rh-font-size-heading-xs, 1.25rem);
  font-weight: var(--rh-font-weight-heading-medium, 500);
  line-height: var(--rh-line-height-heading, 1.3);
}

#mediaseries {
  font-size: var(--rh-font-size-body-text-md, 1rem);
  line-height: var(--rh-line-height-body-text, 1.5);
  font-weight: var(--rh-font-weight-body-regular, 400);
  font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif);
  letter-spacing: var(--rh-font-letter-spacing-body-text, 0.0125rem);
  margin: 0 0 var(--rh-space-md, 8px);
  opacity: 0.7;
}

:host([mediatitle]) #container {
  --_about-mediatitle-display: block;
  --_about-heading-display: none;
}

:host(:focus-within) {
  z-index: 2;
}

:host(:hover) {
  z-index: 3;
}

#media,
.sr-only {
  position: absolute;
  left: -999999;
  height: 0;
  width: 0;
  overflow: hidden;
}

#media {
  padding: 0;
  border: none;
}

*[part="toolbar"],
*[part="panel"] {
  background-color: var(--_surface-color);
  border: 1px solid var(--_border-color);
  border-radius: var(--rh-border-radius-default, 3px);
  padding: var(--_player-padding);
}

*[part="toolbar"] {
  display: flex;
  align-items: center;
  padding-inline-end: var(--rh-space-md, 8px);
}

rh-tooltip > label {
  display: flex;
  min-height: 40px;
}

#full-title,
#current,
#full-current,
#duration,
#volume-tooltip,
#full-playback-rate-tooltip,
#playback-rate-tooltip,
#rewind-tooltip,
#full-play-tooltip,
#forward-tooltip,
#close-tooltip {
  display: none;
}

#mediaseries,
#mediatitle {
  text-overflow: ellipsis;
  white-space: nowrap;
}

::slotted([slot="series"]),
::slotted([slot="title"]) {
  margin: 0;
}

*[part="panel"] {
  width: calc(var(--_player-width) - 2 * var(--_player-padding) - 2);
}

#poster {
  display: none;
}

#poster > img {
  width: var(--_poster-size);
  height: var(--_poster-size);
  margin-inline-end: var(--_icon-gap);
}

rh-audio-player-range {
  padding: 10px 0;
  margin: 2px 0;

  --rh-range-thumb-disabled-color: var(--rh-audio-player-border-color);
  --rh-range-track-color: var(--rh-audio-player-border-color);
}

#time-tooltip {
  width: var(--_time-slider-width);
  flex: 0 0 var(--_time-slider-width);
  margin-inline-start: 16px;
  margin-inline-end: 0;
}

#time {
  width: var(--_time-slider-width);
}

.spacer {
  width: var(--rh-space-xl, 24px);
  height: var(--_button-size);
  border-inline-end: 1px solid var(--_border-color);
  margin-inline-end: var(--rh-space-lg, 16px);
}

:host([show-menu]) .spacer {
  width: 0;
  border-inline-start: none;
  border-inline-end: none;
}

#current {
  margin-inline-end: calc(var(--_icon-gap) / 2);
}

#current,
#full-current,
#duration {
  color: var(--_text-color);
  font-family: var(--rh-font-family-code, RedHatMono, "Red Hat Mono", "Courier New", Courier, monospace);
  font-size: var(--rh-font-size-code-xs, 0.75rem);
  line-height: var(--rh-line-height-code, 1.5);
}

.rtl #mute svg {
  transform: rotate(180deg);
}

#volume-tooltip {
  width: auto;
  margin-inline-start: 0;
  margin-inline-end: calc(var(--_icon-gap) / 2);
}

#playback-rate-tooltip,
#full-playback-rate-tooltip {
  width: auto;

  --_svg-size: 12px;
}

#play-tooltip {
  margin: 0;

  --_icon-gap: 16px;
  --_svg-size: 18px;
}

#full-play-tooltip {
  --_button-size: 56px;
  --_icon-padding: calc((var(--_button-size) - var(--_svg-size)) / 2);
  --_icon-margin: calc(var(--_icon-gap) / 2);
}

#full-play-tooltip,
#mute-tooltip,
#close-tooltip,
#menu-tooltip {
  --_svg-size: var(--rh-icon-size-02, 24px);
}

:host([expanded]) #menu-tooltip {
  display: none;
}

:host([expanded]) #close-tooltip,
:host(:not([expanded])) #menu {
  display: inline-block;
}

#close,
#menu {
  height: var(--_button-size);
}

button[slot="menu"] {
  padding: var(--rh-space-md, 8px) var(--rh-space-lg, 16px);
  display: block;
  text-align: left;
  width: 200px;
  color: var(--_text-color);
  background: var(--_surface-color);
  font-size: var(--rh-font-size-body-text-md, 1rem);
  line-height: var(--rh-line-height-body-text, 1.5);
  font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif);
}

.rtl button[slot="menu"] {
  text-align: right;
}

button[slot="menu"]:hover {
  background: var(--_surface-focus-color);
}

button[slot="menu"]:focus {
  z-index: 2;
}

#play,
#full-play {
  border-radius: 50%;
  background-color: var(--_text-color);
}

#play svg,
#full-play svg {
  fill: var(--rh-audio-player-icon-background-color, var(--_surface-color));
}

#playback-rate-stepper,
#full-playback-rate-stepper {
  display: flex;
  align-items: center;
}

#playback-rate,
#full-playback-rate,
#playback-rate-suffix,
#full-playback-rate-suffix {
  color: var(--_text-color);
  font-size: var(--rh-font-size-code-md, 1rem);
  font-family: var(--rh-font-family-code, RedHatMono, "Red Hat Mono", "Courier New", Courier, monospace);
}

#playback-rate,
#full-playback-rate {
  appearance: none;
  line-height: 36px;
  padding: 2px 0;
  border: none;
  color: var(--_text-color);
  background-color: var(--_surface-color);
}

:host([expanded]) *[part="toolbar"] {
  border-block-end: 0;
  border-radius: var(--rh-border-radius-default, 3px) var(--rh-border-radius-default, 3px) 0 0;
}

:host([expanded]) *[part="panel"] {
  border-block-start: 0;
  padding-block-start: 0;
  border-radius: 0 0 var(--rh-border-radius-default, 3px) var(--rh-border-radius-default, 3px);
}

:host([expanded]) *[part="panel"] slot {
  display: block;
}

@media (min-width: 360px) {
  :host {
    --_player-width: 360px;
  }

  #container {
    --_time-slider-width: 191px;
  }

  :host([show-menu]) #container {
    --_time-slider-width: 160px;
  }
}

@media (min-width: 576px) {
  :host {
    --_player-width: 503px;
  }

  #container {
    --_time-slider-width: 334px;
  }

  :host([show-menu]:not([mode])) #container {
    --_time-slider-width: 303px;
  }

  :host([mode="full"]) {
    --_player-width: 504px;
  }

  :host([mode="full"]) #container {
    --_icon-gap: var(--rh-space-xl, 24px);
    --_player-padding: var(--rh-space-xl, 24px);
    --_time-slider-width: 314px;
  }

  :host([mode="full"][mediatitle]) #container {
    --_about-mediatitle-display: none;
    --_about-heading-display: block;
  }

  :host([mode^="compact"]) {
    --_player-width: 576px;
  }

  :host([mode^="compact"]) #container {
    --_time-slider-width: 256px;

    padding-inline-end: var(--_player-padding);
  }

  :host([mode^="compact"][show-menu]) #container {
    --_time-slider-width: 225px;
  }

  :host([mode="compact-wide"]) {
    width: 100%;
  }

  :host([mode="compact"]) *[part="toolbar"] {
    padding-inline-end: var(--_player-padding);
  }

  :host([mode="compact-wide"]) *[part="toolbar"] {
    justify-content: center;
    width: auto;
    padding: var(--_player-padding) calc((100% - var(--_player-width) - 2px) / 2);
  }

  :host([mode="compact-wide"]) #time-tooltip,
  :host([mode="compact-wide"]) #time {
    width: var(--_time-slider-width);
    flex: 0 0 var(--_time-slider-width);
    margin-inline-start: var(--rh-space-md, 8px);
  }

  :host([mode^="compact"]) #volume {
    width: 80px;
  }

  :host([mode]) #mute-tooltipp {
    --_svg-size: var(--rh-icon-size-02, 24px);
  }

  :host([mode="full"]) *[part="toolbar"] {
    padding-inline-end: var(--_player-padding);
  }

  :host([mode="full"]:not([expanded])) *[part="toolbar"] {
    flex-wrap: wrap;
    min-height: 196px;
  }

  :host([mode]) .spacer,
  :host([mode="full"]) #current,
  :host([mode="full"]:not([expanded])) #play-tooltip,
  :host([mode="full"][expanded]) #time-tooltip,
  :host([mode="full"][expanded]) #mute-tooltip,
  :host([mode="full"]) #playback-rate-tooltip {
    display: none;
  }

  :host([mode^="compact"]) #current,
  :host([mode^="compact"]) #volume-tooltip,
  :host([mode="full"]:not([expanded])) #full-current,
  :host([mode="full"]:not([expanded])) #duration,
  :host([mode="full"]:not([expanded])) #volume-tooltip,
  :host([mode="full"]:not([expanded])) #full-playback-rate-tooltip,
  :host([mode="full"]:not([expanded])) #rewind-tooltip,
  :host([mode="full"]:not([expanded])) #full-play-tooltip,
  :host([mode="full"]:not([expanded])) #forward-tooltip {
    display: inline-block;
  }

  :host([mode="full"]) #time-tooltip {
    margin-inline-start: 0;
    margin-inline-end: calc(var(--_icon-gap) / 2);
  }

  :host([mode="full"]) #full-current,
  :host([mode="full"]) #duration {
    flex: 0 0 calc(var(--_time-slider-width) / 2);
    margin: -4px 0 var(--rh-length-lg, 16px);
  }

  :host([mode="full"]) #duration {
    flex: 0 0 calc(var(--_time-slider-width) / 2);
    text-align: right;
    margin-inline-end: 140px;
  }

  :host([dir="rtl"][mode="full"]) #duration {
    text-align: left;
  }

  :host([mode="full"]) #mute-tooltip {
    margin-inline-start: var(--_icon-margin);
  }

  :host([mode="full"]) #volume-tooltip {
    flex: 0 0 80px;
    margin-inline-end: 0;
  }

  :host([mode="full"]) #volume {
    width: 80px;
  }

  :host([mode="full"]) #full-playback-rate-tooltip {
    flex: 1 0 auto;
    text-align: right;
    margin: 0 var(--_icon-margin) 0 -6px;
  }

  :host([dir="rtl"][mode="full"]) #full-playback-rate-tooltip {
    text-align: right;
  }

  :host([mode="full"]) #menu {
    flex: 1 0 auto;
  }

  :host([mode="full"][expanded]) #close-tooltip,
  :host([mode="full"][expanded]) #menu {
    margin: 0;
  }

  :host([mode="full"]) #full-title {
    display: block;
    flex: 0 0 454px;
  }

  :host([mode="full"][expanded]) #full-title {
    flex: 0 0 calc(100% - 112px);
    overflow: hidden;
    margin: 0 var(--rh-length-lg, 16px);
  }

  :host([mode="full"][poster][expanded]) #full-title {
    flex: 0 0 calc(100% - 168px);
  }

  :host([mode="full"]) #full-title > * {
    margin-block-end: var(--rh-length-md, 8px);
  }

  :host([mode="full"]) *[part="panel"] {
    padding-block-start: var(--rh-length-md, 8px);
  }

  :host([expanded][mode="compact-wide"]) *[part="panel"] {
    padding: 0;
  }

  :host([expanded][mode="compact-wide"]) *[part="panel"] slot {
    width: calc(var(--_player-width) - 2 * var(--_player-padding));
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  :host([mode^="compact"]) #container {
    --_time-slider-width: 221px;
  }

  :host([poster][mode^="compact"]) {
    --_player-width: 750px;
  }

  :host([mode^="compact"]) #playback-rate-tooltip,
  :host([poster][mode^="compact"]) #poster {
    display: inline-block;
  }

  :host([poster][mode="full"]) {
    --_player-width: 712px;
  }

  :host([poster][mode="full"]) #container {
    --_time-slider-width: 314px;
  }

  :host([poster][mode="full"][expanded]) #poster {
    display: inline-block;
    padding-inline-end: var(--rh-length-lg, 16px);
  }

  :host([poster][mode="full"]:not([expanded])) #container {
    --_poster-size: 184px;
  }

  :host([poster][mode="full"]:not([expanded])) *[part="toolbar"] {
    padding-inline-start: calc(var(--_player-padding) * 2 + var(--_poster-size));
  }

  :host([poster][mode="full"]:not([expanded])) #poster {
    position: relative;
    overflow: visible;
    display: block;
    height: 0;
    flex: 0 0 100%;
  }

  :host([mode="full"][poster][expanded]) #poster > img {
    margin-inline-end: 0;
  }

  :host([poster][mode="full"]:not([expanded])) #poster > img {
    position: absolute;
    left: calc(-184px - var(--_player-padding));
  }

  :host([poster][mode="full"]:not([expanded])) #container.rtl #poster > img {
    right: calc(-184px - var(--_player-padding));
    left: unset;
  }
}
