:host {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
#container {
  --_surface-color: var(--rh-audio-player-menu-background-color, var(--rh-color-surface-lightest, #ffffff));
}

#container.saturated,
#container.dark {
  --_surface-color: var(--rh-audio-player-menu-background-color, var(--rh-color-surface-darkest, #151515));
  --_border-color: var(--rh-audio-player-menu-border-color, var(--rh-color-border-subtle-on-dark, #6a6e73));
}

#menu {
  position: relative;
}

slot[part="menu"] {
  background: var(--_surface-color);
  position: absolute;
  left: calc(0 - 50%);
  display: inline-flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  padding: var(--rh-space-md, 8px) 0;
  margin-block-start: var(--rh-space-md, 8px);
  box-shadow: var(--rh-box-shadow-md, 0 4px 6px 1px rgb(21 21 21 / 0.25));
  margin-block-end: calc(0 - var(--rh-space-md, 8px));
}

:host([on="saturated"]) slot[part="menu"],
:host([on="dark"]) slot[part="menu"] {
  box-shadow: none;
  border: 1px solid var(--_border-color, var(--rh-audio-player-menu-border-color, var(--rh-color-border-subtle-on-dark, #6a6e73)));
}

*[hidden],
::slotted([hidden]),
:host([hidden]) {
  display: none !important;
}

:host(:focus-within),
::slotted(:focus),
::slotted(:focus-within) {
  z-index: 2;
}

:host(:hover),
::slotted(:hover) {
  z-index: 3;
}
