:host {
  display: block;
  border-top: 1px solid var(--_border-color);
}

:host([hidden]),
*[hidden] {
  display: none !important;
}

[part="heading"] {
  margin: var(--rh-space-lg, 16px) 0;
  height: 26px;
}

slot[name="heading"] *,
::slotted([slot="heading"]) {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

slot[name="heading"] *,
::slotted([slot="heading"]) {
  font-family: var(--rh-font-family-heading, RedHatDisplay, "Red Hat Display", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif);
  font-size: var(--rh-font-size-heading-xs, 1.25rem);
  font-weight: var(--rh-font-weight-heading-medium, 500);
  line-height: var(--rh-line-height-heading, 1.3);
}

*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.15em var(--_border-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--_border-color);
}

*::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
