:host {
  display: inline;
}

:host([voice]) {
  display: block;
}

:host(:first-of-type),
:host(:first-of-type) > *:first-child {
  margin-top: 0;
}

:host(:last-of-type),
:host(:last-of-type) > *:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.2s;
}

a[id$=text]:hover {
  border-bottom: 1px dashed var(--rh-audio-player-cue-active-border-color);
}

a[active][id$=text] {
  color: var(--rh-audio-player-cue-active-text-color);
  background-color: var(--rh-audio-player-cue-active-background-color);
}

::slotted([slot="start"]) {
  text-decoration: underline;
}

a:hover ::slotted([slot="start"]) {
  text-decoration: none;
}
