:host {
  display: block;
  color: var(--_primary-text-color);
  font-size: var(--rh-font-size-body-text-md, 1rem);
  line-height: var(--rh-line-height-body-text, 1.5);
  font-weight: var(--rh-font-weight-body-regular, 400);
  font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Overpass, Helvetica, Arial, sans-serif);
  border-top: 1px solid var(--_border-color);
}

:host([hidden]),
*[hidden] {
  display: none !important;
}

.panel-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--rh-space-lg, 16px) 0 0;
}

.panel-toolbar > *:first-child {
  flex: 1 0 auto;
  margin: 0;
}

::slotted([slot="heading"]) {
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
}

.panel-title {
  margin-bottom: 0;
  margin-top: 0;
  padding: var(--_player-padding) 0;
  font-family: var(--rh-font-family-heading, RedHatDisplay, "Red Hat Display", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Overpass, Helvetica, Arial, sans-serif) !important;
  font-size: var(--rh-font-size-heading-xs, 1.25rem);
  font-weight: var(--rh-font-weight-heading-medium, 500);
  line-height: var(--rh-line-height-heading, 1.3);
}
