:host {
  --_button-size: 40px;
  --_svg-size: var(--rh-icon-size-03, 32px);
  --_outline: var(--rh-border-width-md, 2px) solid var(--rh-color-border-interactive-on-light, #0066cc);
}

:host([on="dark"]) {
  --_outline: var(--rh-border-width-md, 2px) solid var(--rh-color-border-interactive-on-dark, #73bcf7);
}

rh-tooltip {
  display: inline-block;
  height: var(--_button-size);
  width: var(--_button-size);
  margin-left: var(--_icon-margin);
  margin-right: var(--_icon-margin);

  --_icon-margin: calc(var(--_icon-gap) / 2 - var(--_icon-padding));
  --_icon-padding: calc((var(--_button-size) - var(--_svg-size)) / 2);
}

button {
  border: none;
  background: transparent;
  height: var(--_button-size, 40px);
  min-width: var(--_button-size, 40px);
  padding: 0;
}

rh-tooltip * {
  outline: none;
}

rh-tooltip *:focus {
  outline: 1px solid var(--_outline);
}

svg {
  fill: var(--_text-color);
  height: var(--_svg-size);
  width: var(--_svg-size);
  padding: var(--_icon-padding);
}

button[disabled],
select[disabled] {
  filter: grayscale(1);
  opacity: 0.5;
  cursor: not-allowed;
  border: none;
}
