:host {
  font-family: var(--rh-font-family-body-text, RedHatText, 'Red Hat Text', Helvetica, Arial, sans-serif);
  font-size: var(--rh-font-size-body-text-md, 1rem);
  font-weight: var(--rh-font-weight-heading-regular, 400);
  line-height: var(--rh-line-height-body-text, 1.5);
}

[hidden] {
  display: none !important;
}

:host(:focus),
:host(:focus-within) {
  outline: none !important;
}

:host,
#outer,
#inner,
#content {
  display: flex;
  flex-flow: column;
}

#outer,
#inner {
  flex: 1 0 0;
}

#content {
  height: 100%;
}

#outer {
  --_padding: var(--rh-space-2xl, 32px);
  --_margin: var(--rh-space-lg, 16px);
  --_interactive-color: var(--rh-tile-interactive-color, var(--rh-color-border-interactive));
  --_focus-interactive-color:
    var(--rh-tile-focus-interactive-color,
      var(--rh-color-interactive-primary-hover));
  --_text-color-secondary:
    var(--rh-tile-text-color-secondary,
      var(--rh-color-text-secondary));
  --_focus-background-color:
    light-dark(var(--rh-tile-focus-background-color,
      var(--rh-color-surface-lighter, #f2f2f2)),
      var(--rh-tile-focus-background-color,
      var(--rh-color-surface-darker, #1f1f1f)));
  --_disabled-background-color:
    light-dark(var(--rh-tile-disabled-background-color,
      var(--rh-color-surface-light, #e0e0e0)),
      var(--rh-tile-disabled-background-color,
      var(--rh-color-surface-dark, #383838)));
  --_border-color: var(--rh-tile-border-color, var(--rh-color-border-subtle));
  --_link-color: var(--rh-tile-link-color, var(--_interactive-color));

  position: relative;
  padding: var(--_padding);
  border-radius: var(--rh-border-radius-default, 3px);
  border: var(--rh-border-width-sm, 1px) solid var(--_border-color);
  background-color: var(--rh-tile-background-color, var(--rh-color-surface));
  color: var(--rh-tile-text-color, var(--rh-color-text-primary));

  &:is(.palette-lightest, .palette-lighter, .palette-light) {
    color-scheme: light;
  }

  &:is(.palette-darkest, .palette-darker, .palette-dark) {
    color-scheme: dark;
  }

  &.palette-lightest { --rh-color-surface: var(--rh-color-surface-lightest, #ffffff); }
  &.palette-lighter { --rh-color-surface: var(--rh-color-surface-lighter, #f2f2f2); }
  &.palette-light { --rh-color-surface: var(--rh-color-surface-light, #e0e0e0); }
  &.palette-dark { --rh-color-surface: var(--rh-color-surface-dark, #383838); }
  &.palette-darker { --rh-color-surface: var(--rh-color-surface-darker, #1f1f1f); }
  &.palette-darkest { --rh-color-surface: var(--rh-color-surface-darkest, #151515); }

  & ::slotted(*) {
    margin-top: 0;
    margin-bottom: var(--_margin);
  }

  & ::slotted(:last-child),
  & #body ::slotted(:last-of-type) {
    margin-bottom: 0;
  }

  & ::slotted(:first-child),
  & #body ::slotted(:first-of-type) {
    margin-top: 0;
  }

  & ::slotted(a) {
    color: var(--_link-color) !important;
  }

  & ::slotted([slot='image']) {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: var(--_padding);
  }

  & ::slotted([slot='icon']) {
    width: 100%;
    margin: 0 0 var(--_padding);
    max-width: var(--rh-size-icon-05, 48px);
  }

  & ::slotted([slot='title']) {
    text-transform: uppercase;
    font-size: var(--rh-font-size-body-text-md, 1rem) !important;
  }

  & ::slotted([slot='headline']) {
    margin-block-end: var(--_margin) !important;
    font-size: var(--rh-font-size-heading-xs, 1.25rem) !important;
    font-weight: var(--rh-font-weight-body-text-medium, 500) !important;
  }

  & #image {
    --_bleed: calc(0px - var(--_padding));
  }

  &.bleed #image {
    margin: var(--_bleed) var(--_bleed) 0;
  }

  &:active,
  &:hover,
  &:focus,
  &:focus-within {
    --_interactive-color: var(--_focus-interactive-color);
  }

  &:is(.desaturated, .checkable) {
    --_link-color: var(--rh-tile-text-color, var(--rh-color-text-primary));
  }

  &.checkable {
    --_link-after-display: none;

    & #title {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    & #headline {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    & #header {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
    }
  }

  &:is(.compact, .checkable) {
    --_padding: var(--rh-space-xl, 24px);

    & #inner {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    & #icon {
      flex: 0 0 auto;
    }

    & #content {
      flex: 1 1 auto;
      width: 100%;
    }

    & ::slotted([slot='icon']) {
      margin-inline-end: var(--_margin);
      max-width: var(--rh-size-icon-03, 32px);
      max-height: var(--rh-size-icon-03, 32px);
    }

    & ::slotted([slot='headline']) {
      font-size: var(--rh-font-size-body-text-lg, 1.125rem) !important;
    }

    & #body,
    ::slotted([slot='footer']) {
      font-size: var(--rh-font-size-body-text-sm, 0.875rem) !important;
    }

    & ::slotted([slot='footer']) {
      font-size: var(--rh-font-size-body-text-xs, 0.75rem) !important;
    }
  }

  &.disabled {
    pointer-events: none !important;
    color: var(--_text-color-secondary) !important;
    background-color: var(--_disabled-background-color) !important;

    --_interactive-color: var(--_text-color-secondary) !important;
  }
}

:host(:focus-within) #outer {
  outline: 3px solid var(--_interactive-color);
  outline-offset: 2px;
}

:host(:is(:hover, :focus-within)) #outer {
  background-color: var(--_focus-background-color);
}

#body,
#title,
#headline,
#image,
#icon,
#footer-text {
  display: block;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-block-start: auto;
}

#input-outer {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  place-self: flex-start flex-end;
  margin-bottom: var(--_margin);
  margin-inline-start: var(--_margin);
  accent-color: var(--_interactive-color);
}

input[type='radio'] {
  flex: 0 0 auto;
}

rh-icon {
  pointer-events: none;
  color: var(--_interactive-color);

  &[icon='arrow-right'] {
    width: var(--rh-space-xl, 24px);
    height: var(--rh-space-xl, 24px);
    translate: 0 0;
    transition: translate var(--_trans);

    --_trans:
      var(--rh-animation-speed, 0.3s)
      var(--rh-animation-timing, cubic-bezier(0.465, 0.183, 0.153, 0.946));
  }
}

:host(:hover) #footer rh-icon[icon='arrow-right'] {
  translate: 3px 0;
}

/* chrome <= 103 */
@supports not (translate: 0 0) {
  :host(:hover) #footer rh-icon { transform: translate(3px, 0); }
}

svg {
  fill: var(--_text-color-secondary);
  width: var(--rh-space-xl, 24px);
  height: var(--rh-space-xl, 24px);
}

#body {
  margin: 0 0 var(--_margin);
  font-size: var(--rh-font-size-body-text-md, 1rem);
}

*:is(#image, #tile, #headline, #body, #footer) {
  z-index: 2;
}
