:host {
  display: block;
  outline: 1px solid yellow;
  margin: 20px;
}

#outer,
#header,
slot[name="headline"] {
  position: relative;
}

::slotted([slot="headline"]):after {
  content: "";
  position: absolute;
  inset: 0;
  outline: 1px solid teal;
}
