<!DOCTYPE html><html class="no-js" lang=""><head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Components | Red Hat digital design system</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://www.redhat.com/misc/favicon.ico" type="image/x-icon">

  <script src="/js/global.js"></script>

  <meta property="og:title" content="Red Hat digital design system">
  <meta property="og:site_name" content="Red Hat digital design system">
  <meta property="og:url" content="ux.redhat.com">
  <meta property="og:description" content="This is Red Hat's digital design system. Using Red Hat brand standards and PatternFly as our foundational design language, we enable designers and developers to concurrently build branded experiences across redhat.com, Red Hat Customer Portal, and beyond.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://ux.redhat.com/assets/opengraph.png">

  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  <link rel="stylesheet" href="/assets/css/style.css" id="">

  <link rel="stylesheet" href="//static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css" media="all">
  <link rel="stylesheet" href="/assets/pfe.min.css">

  <noscript>
    <link type="text/css" href="/assets/pfe--noscript.min.css">
  </noscript>

  <script type="module" src="/assets/pfe.min.js"></script>
</head>




  


<body class="page page--components" id="top" unresolved="">

  <div class="body-inner">

    


<script>
  window.onUsersnapCXLoad = function(api) {
    api.init();
  }
  var script = document.createElement('script');
  script.async = 1;
  script.src = 'https://widget.usersnap.com/load/64471a95-72fe-4239-b16d-ebcf8b1219f7?onload=onUsersnapCXLoad';
  document.getElementsByTagName('head')[0].appendChild(script);
</script>

<header class="l-header">

  <div class="l-header__logo-bar">
    <a href="/"><img class="l-header__logo" src="/assets/red-hat-digital-design-system.svg" alt="Red Hat digital design system" style="max-width:240px;min-width:240px;"></a>
  </div>

  <input id="mobile-menu-toggle" class="menu-toggle element-invisible" type="checkbox" aria-controls="mobile-menu-menu-container">

  <label class="menu-toggle__button l-header__mobile-menu-toggle" for="mobile-menu-toggle" data-controls="mobile-menu-menu-container">
    <span class="l-header__burger-icon"></span>
    <span class="menu-toggle-assistive-text element-invisible">Toggle menu visibility</span>
  </label>

  <div class="menu-toggle__toggleable site-navigation__outer-wrapper">
    <nav class="l-header__site-navigation site-navigation menu-toggle__toggleable-content-wrapper">
      <ul class="site-navigation__wrapper">
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/">
    Home
  </a>

        </li>

        <!-- About

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/about/">
    About this website
  </a>

        </li> -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">About</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/about/">
    About this website
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/about/how-we-build/">
    How we build
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Get started -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Get started</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/">
    Overview
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/design-system-kit/">
    Design system kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/fts-starter-kit/">
    FTS starter kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/icon-library/">
    Brand/UI icon library
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/logo-library/">
    Product logo library
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Foundations -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Foundations</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/">
    Overview
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

              </li>
              <!--<li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

                </li>-->
            </ul>
          </details>
        </li>

        <!-- Components -->

        <li class="site-navigation__item">
          
          
            
          
          <details open="">
            <summary class="site-navigation__heading">Components</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
    
  
  <a class="site-navigation__sub-menu__link site-navigation__sub-menu__link--active" href="/components/">
    All components
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/accordion/">
    Accordion
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/alert/">
    Alert
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/announcement/">
    Announcement
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/audio-player/">
    Audio player
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/avatar/">
    Avatar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/button/">
    Button
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/call-to-action/">
    Call to action
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/card/">
    Card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/disclosure/">
    Disclosure
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/filter/">
    Filter
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/form/">
    Form
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/jump-links/">
    Jump links
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link-with-icon/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link/">
    Link
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/modal/">
    Modal
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/navigation/">
    Navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/popover/">
    Popover
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/progress-steps/">
    Progress steps
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/promo/">
    Promo
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/quote/">
    Quote
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/search-bar/">
    Search bar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/skip-navigation/">
    Skip navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-banner/">
    Sticky banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-card/">
    Sticky card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tabs/">
    Tabs
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tooltip/">
    Tooltip
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/video-thumbnail/">
    Video thumbnail
  </a>

                </li></ul>
          </details>
        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/design-code-status/">
    Design/code status
  </a>

        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/release-notes/">
    Release notes
  </a>

        </li>

        <!--

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/get-started/">
    Get started
  </a>

        </li>

        -->

      </ul>
    </nav>
  </div>
</header>


<main class="l-main">
  <article class="l-main__inner">
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 id="components" class="page-title">Components</h1>
      </div>
    </header>
    <div class="l-main__content">
      <div class="container">
        
        
<!-- NOTE: all images in this view need to be 340 by 200 px in order to maintain same ratio. -->




  <section class="section section--palette-default container">
    <a id="Overview"></a>
    <h2 id="overview" class="section-title pfe-jump-links-panel__section">Overview</h2>
    <p>Components are interactive building blocks of our design system. Each component was created to meet a specific UI and accessibility need. Components should be used harmoniously together in the same space to create more intuitive user interfaces and experiences.</p>
  </section>


<div class="multi-column--min-400-wide margin-top--10">

  <div class="padding-stacked">
    <a href="../components/accordion">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/accordion.svg" alt="Accordion" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="accordion">Accordion</h3>
    <p>Toggles the visibility of multiple content panels</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/alert">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/alert.svg" alt="Alert" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="alert">Alert</h3>
    <p>Notifies a user without blocking their workflow</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/announcement">
      
  <div class="example example--palette-descriptive-light-gray">
    
    
        <img src="/assets/components/announcement.svg" alt="Announcement" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="announcement">Announcement</h3>
    <p>Displays an important message across web properties</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/audio-player">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/audio-player.svg" alt="Audio player" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="audio-player">Audio player</h3>
    <p>Plays and controls audio clips in a web browser</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/avatar">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/avatar.svg" alt="avatar" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="avatar">Avatar</h3>
    <p>Replaces a photo or image not submitted by a user</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/button">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/button.svg" alt="Button" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="button">Button</h3>
    <p>Performs an action in the background when triggered</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/call-to-action">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/call-to-action.svg" alt="Call to action" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="call-to-action">Call to action</h3>
    <p>Directs a user to other pages or displays extra content</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/card">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/card.svg" alt="Card" style="--inline-img-max-width: 330px;">
  </div>

    </a>
    <h3 id="card">Card</h3>
    <p>Organizes content or media in various container sizes</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/disclosure">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/disclosure.svg" alt="Disclosure" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="disclosure">Disclosure</h3>
    <p>Toggles the visibility of only one content panel</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/filter">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/filter.svg" alt="Filter" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="filter">Filter</h3>
    <p>Sorts a data set by predetermined sections and tags</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/form">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/form.svg" alt="Form" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="form">Form</h3>
    <p>Collects specific information from a user through inputs</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/jump-links">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/jump-links.svg" alt="Jump links" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="jump-links">Jump links</h3>
    <p>Moves a user to specific content when a link is selected</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/link">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/link.svg" alt="Link" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="link">Link</h3>
    <p>Directs a user to another domain, page, or location</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/link-with-icon">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/link-with-icon.svg" alt="Link with icon" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="link-with-icon">Link with icon</h3>
    <p>Adds additional context or decoration to an inline link</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/modal">
      
  <div class="example example--palette-descriptive-dark-gray">
    
    
        <img src="/assets/components/modal.svg" alt="Modal" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="modal">Modal</h3>
    <p>Displays content or helps a user focus on a specific task</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/navigation">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/navigation.svg" alt="Navigation" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="navigation-primary">Navigation (primary)</h3>
    <p>Organizes links representing global web properties</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/popover">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/popover.svg" alt="Popover" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="popover">Popover</h3>
    <p>Displays a small overlay of content when triggered</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/progress-steps">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/progress-steps.svg" alt="Progress steps" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="progress-steps">Progress steps</h3>
    <p>Guides a user through a task with sequential steps</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/promo">
      
  <div class="example example--palette-descriptive-blue">
    
    
        <img src="/assets/components/promo.svg" alt="Promo" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="promo">Promo</h3>
    <p>Advertises a specific promotional message or offer</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/quote">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/quote.svg" alt="Quote" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="quote">Quote</h3>
    <p>Styles a customer quote and includes attribution</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/search-bar">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/search-bar.svg" alt="Search bar" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="search-bar">Search bar</h3>
    <p>Performs a search and displays relevant content</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/skip-navigation">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/skip-nav.svg" alt="Skip navigation" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="skip-navigation">Skip navigation</h3>
    <p>Moves a user down to content by keyboard input</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/sticky-banner">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/sticky-banner.svg" alt="Sticky banner" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="sticky-banner">Sticky banner</h3>
    <p>Anchors an offer to the bottom edge of a page</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/sticky-card">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/sticky-card.svg" alt="Sticky card" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="sticky-card">Sticky card</h3>
    <p>Anchors an offer to the right edge of a page</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/tabs">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/tabs.svg" alt="Tabs" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="tabs">Tabs</h3>
    <p>Arranges content in a contained view on the same page</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/tooltip">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/tooltip.svg" alt="Tooltip" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="tooltip">Tooltip</h3>
    <p>Toggles a small overlay of text only on hover or focus</p>
  </div>

  <div class="padding-stacked">
    <a href="../components/video-thumbnail">
      
  <div class="example example--palette-descriptive">
    
    
        <img src="/assets/components/video-thumbnail.svg" alt="Video thumbnail" style="--inline-img-max-width: 340px;">
  </div>

    </a>
    <h3 id="video-thumbnail">Video thumbnail</h3>
    <p>Overlays a button on an image indicating video playback</p>
  </div>

</div>


  <section class="section section--palette-default container">
    <a id="Make%20a%20request"></a>
    <h2 id="make-a-request" class="section-title pfe-jump-links-panel__section">Make a request</h2>
    <p>To request a new component or if updates need to be made to an existing component, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  </section>


<div class="multi-column--min-300-wide">

  
  <section class="section section--palette-default container">
    <a id="Feedback"></a>
    <h2 id="feedback" class="section-title pfe-jump-links-panel__section">Feedback</h2>
    <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  </section>


  
  <section class="section section--palette-default container">
    <a id="Foundations"></a>
    <h2 id="foundations" class="section-title pfe-jump-links-panel__section">Foundations</h2>
    <p>To learn how to use our foundations in your designs, visit the <a href="/foundations">Foundations</a> section.</p>
  </section>


</div>

      </div>
    </div>
  </article>
    

  <footer class="main-footer">
    <img style="max-width: 135px;" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark.svg" alt="Red Hat">
    <p>Copyright ©<script type="text/javascript">document.write(new Date().getFullYear());</script> Red Hat, Inc.</p>
    <div class="main-footer--list">
      <ul>
        <li><a href="https://www.redhat.com/en/about/privacy-policy">Privacy statement</a></li>
        <li><a href="https://www.redhat.com/en/about/terms-use">Terms of use</a></li>
        <li><a href="https://www.redhat.com/en/about/all-policies-guidelines">All policies and guidelines</a></li>
      </ul>
    </div>
  </footer> 

<div class="back-to-top">
    <a href="#top" class="back-to-top-link">
        <img src="/assets/back-to-top.svg" alt="Scroll back to the top">
    </a>
</div>

</main>


  </div>



</body></html>