/* Box sizing rules */
html {
  box-sizing: border-box; /* Set the root element's box-sizing */
}

*,
*:before,
*:after {
  box-sizing: inherit; /* Make all elements inherit the root's setting */
}

/* Remove default margin */
:where(body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd) {
  margin: 0;
}

/* Default scroll behavior */
html:focus-within {
  scroll-behavior: smooth;
}

/* Inherit fonts for inputs and buttons */
:where(input,
button,
textarea,
select) {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *:before,
  *:after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
