:host {
  display: block;
  background-color: var(--rh-color-surface);
}

#slot {
  color: var(--rh-color-text-primary);
}

.on.dark,
.on.light {
  --rh-color-surface: unset;
}

#slot.palette-lightest { --rh-color-surface: var(--rh-color-surface-lightest, #ffffff); }
#slot.palette-lighter { --rh-color-surface: var(--rh-color-surface-lighter, #f2f2f2); }
#slot.palette-light { --rh-color-surface: var(--rh-color-surface-light, #e0e0e0); }
#slot.palette-dark { --rh-color-surface: var(--rh-color-surface-dark, #383838); }
#slot.palette-darker { --rh-color-surface: var(--rh-color-surface-darker, #1f1f1f); }
#slot.palette-darkest { --rh-color-surface: var(--rh-color-surface-darkest, #151515); }
