:host {
  display: block;
  background-color: var(--rh-color-surface);
}

:host([color-palette^='dark']) {
  --context: dark;

  color-scheme: only dark;
}

:host([color-palette^='light']) {
  --context: light;

  color-scheme: only light;
}

:host([color-palette='lightest']) {
  --rh-color-surface: var(--rh-color-surface-lightest, #ffffff);
}

:host([color-palette='lighter']) {
  --rh-color-surface: var(--rh-color-surface-lighter, #f2f2f2);
}

:host([color-palette='light']) {
  --rh-color-surface: var(--rh-color-surface-light, #e0e0e0);
}

:host([color-palette='dark']) {
  --rh-color-surface: var(--rh-color-surface-dark, #383838);
}

:host([color-palette='darker']) {
  --rh-color-surface: var(--rh-color-surface-darker, #1f1f1f);
}

:host([color-palette='darkest']) {
  --rh-color-surface: var(--rh-color-surface-darkest, #151515);
}

#slot {
  color: var(--rh-color-text-primary);
  &.palette-lightest { --rh-color-surface: var(--rh-color-surface-lightest, #ffffff); }
  &.palette-lighter { --rh-color-surface: var(--rh-color-surface-lighter, #f2f2f2); }
  &.palette-light { --rh-color-surface: var(--rh-color-surface-light, #e0e0e0); }
  &.palette-dark { --rh-color-surface: var(--rh-color-surface-dark, #383838); }
  &.palette-darker { --rh-color-surface: var(--rh-color-surface-darker, #1f1f1f); }
  &.palette-darkest { --rh-color-surface: var(--rh-color-surface-darkest, #151515); }
}
