@layer
  reset,
  fonts,
  tokens,
  typography;

@import url('../reset.css') layer(reset);
@import url('../fonts.css') layer(fonts);
@import url('/assets/packages/@rhds/tokens/css/global.css') layer(tokens);
@import url('../typography.css') layer(typography);

html,
body,
main {
  height: 100%;
}
