.code-tabs rh-tab-panel {
  padding-block-end: 0;
  padding-inline: 0;
}

:is(h1, h2, h3, h4, h5, h6) {
  color:
    var(--rh-color-text-primary,
      light-dark(
        var(--rh-color-text-primary-on-light, #151515),
        var(--rh-color-text-primary-on-dark, #ffffff)));
  font-family: var(--rh-font-family-heading, RedHatDisplay, 'Red Hat Display', Helvetica, Arial, sans-serif);
  margin-block-end: var(--rh-space-xl, 24px);
}
