:host {
  position: fixed;
  background: rgb(21, 21, 21, 0.75);
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: var(--rh-navigation-secondary-overlay-z-index, -1);
}

:host([open]) {
  display: block;
}

:host(:not([open])) {
  display: none;
}
