:host {
  position: fixed;
  background-color:
    rgb(from
      /** Overlay background base color */
      var(--rh-color-gray-90, #1f1f1f)
      r g b /
      /** Overlay background opacity */
      var(--rh-opacity-80, 80%));
  top: 0;
  width: 100vw;
  height: 100vh;
  /* stylelint-disable rhds/no-unknown-token-name */

  /** Overlay stacking order */
  z-index: var(--rh-navigation-secondary-overlay-z-index, -1);
  /* stylelint-enable rhds/no-unknown-token-name */
}

:host([open]) {
  display: block;
}

:host(:not([open])) {
  display: none;
}
