:host {
  position: fixed;

  --_gray-90-rgb: var(--rh-color-gray-90-rgb, 31 31 31);

  background-color: rgb(var(--_gray-90-rgb) / var(--rh-opacity-80, 80%));
  top: 0;
  width: 100vw;
  height: 100vh;

  /* TODO remove --rh-secondary-nav-overlay-z-index for v2 */
  /* stylelint-disable-next-line */
  z-index: var(--rh-navigation-secondary-overlay-z-index, var(--rh-secondary-nav-overlay-z-index, -1));
}

:host([open]) {
  display: block;
}

:host(:not([open])) {
  display: none;
}
