---
layout: _templates/layout-base.njk
---

{% include '_templates/component/header.njk' %}
<h1 class="sg-page-title">AIChE Style Guide</h1>

{{ content | safe }}

<script src="/index.js"></script>
<script>
  window.setupHome();
</script>
