
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title }} | AIChE Styleguide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/index.css">
  {% if scss %}
    <link rel="stylesheet" href="/{{ scss }}.css">
    <script src="/{{ scss }}.js"></script>
  {% endif %}
  <link rel="stylesheet" href="https://use.typekit.net/joa6bsd.css">
</head>


<body
  {% if bodyClasses %}
    class="{{ bodyClasses }}"
  {% endif %}
>
  <div class="body-inner">
    <div class="sg-only-back-to-styleguide">
      <a href="/">Back to the Component Library</a>
    </div>
    {{ content | safe }}
  </div>

  <script src="/index.js"></script>
</body>

</html>
