---
layout: _templates/layout-base.njk
---

{% include '_templates/component/header.njk' %}

<main class="l-main">
  <article class="l-main__inner">
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 class="page-title">{{ title }}</h1>
      </div>
    </header>
    <div class="l-main__content">
      <div class="container">
        {{ content | safe }}
      </div>
    </div>
  </article>
  {% include '_templates/component/footer.njk' %}
</main>
