:host {
  display: inline-block;
  line-height: 1;
}

details {
  color: var(--rh-color-white, #ffffff);
  display: inline-block;
  position: relative;
}

summary {
  border-block-start: var(--rh-border-width-lg, 3px) solid transparent;
  font-family: var(--rh-font-family-body-text, RedHatText, 'Red Hat Text', 'Noto Sans Arabic', 'Noto Sans Hebrew', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans Malayalam', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans Thai', Helvetica, Arial, sans-serif);
  font-size: var(--rh-font-size-body-text-sm, 0.875rem);
  list-style-type: none;
  padding: var(--rh-space-md, 8px);
  position: relative;
  user-select: none;
  padding-inline-end: var(--rh-space-xl, 24px);
}

summary::-webkit-details-marker,
summary::marker {
  display: none;
}

summary:hover,
details[open]:hover summary {
  border-block-start-color: var(--rh-color-border-subtle);
  cursor: pointer;
  text-decoration: none;
}

summary:focus-visible {
  outline: var(--rh-border-width-sm, 1px) dashed var(--rh-color-white, #ffffff);
  outline-offset: -1px;
}

summary:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M18.7 5.3c-.4-.4-1-.4-1.4 0L10 12.6 2.7 5.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4s7.6 7.7 7.6 7.7c.3.3.7.4 1.1.4s.8-.1 1.1-.4l7.6-7.7c.4-.4.4-1 0-1.4Z' style='fill:%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: var(--_rh-navigation-universal-caret-size);
  content: '';
  display: inline-block;
  block-size: var(--_rh-navigation-universal-caret-size);
  inline-size: var(--_rh-navigation-universal-caret-size);
  inset-block-start: 10px;
  inset-inline-end: var(--rh-space-xs, 4px);
  position: absolute;
  transition: 0.2s;
  will-change: rotate;
}

details[open] summary:after {
  rotate: -180deg;
}

/* https://penote.com/html5/closing-html-details-tag-on-click-outside-with-only-css/ */
details[open] summary:before {
  content: '';
  cursor: auto;
  block-size: 100svh;
  inline-size: 100svw;
  inset-block-start: 0;
  inset-inline-start: 0;
  position: fixed;
}

#details-content {
  background-color: var(--rh-color-surface-lightest, #ffffff);
  box-shadow: var(--rh-box-shadow-sm, 0 2px 4px 0 rgba(21, 21, 21, 0.2));
  color: var(--rh-color-text-primary);
  inset-block-start: 38px;
  inset-inline-end: 0;
  padding: var(--rh-space-xl, 24px);
  position: absolute;
  text-align: start;
  inline-size: 300px;
}

@container nav-universal (min-width: 576px) {
  #details-content {
    inline-size: 500px;
  }
}
