rh-subnav:not(:defined) {
  display: flex;
  background-color: var(--_context-background-color, #f5f5f5);
}

rh-subnav:not(:defined) a {
  display: block !important;
  white-space: nowrap !important;
  padding: var(--rh-space-lg, 16px) var(--rh-space-2xl, 32px) !important;
  text-decoration: none !important;
  color: var(--rh-color-text-secondary-on-light, #4d4d4d) !important;
  position: relative !important;
}

rh-subnav:not(:defined) a:after {
  content: "" !important;
  position: absolute !important;
  inset: 0 !important;
  width: 100% !important;
  border-block-end: var(--rh-border-width-lg, 3px) solid transparent !important;
}

rh-subnav:not(:defined) a[active]:after {
  border-block-end-color: var(--rh-color-accent-brand-on-light, #ee0000) !important;
}