:host {
  display: block;
}

[part="container"] {
  display: flex;
  background-color: var(--rh-color-surface-lighter, #f5f5f5);
}

[part="links"] {
  display: flex;
  position: relative;
  bottom: 0px;
  overflow-x: auto;
  scrollbar-width: none;
  max-width: 100%;
}

::slotted(a) {
  display: block;
  white-space: nowrap;
  padding: var(--rh-space-lg, 16px) var(--rh-space-2xl, 32px);
  border-block-end: var(--rh-border-width-lg, 3px) solid transparent;
  text-decoration: none;
  color: var(--rh-color-text-secondary-on-light, #6a6e73);
}

::slotted(a:hover),
::slotted(a:active),
::slotted(a[active]) {
  color: var(--rh-context-light-color-text, #151515);
}

::slotted(a:hover) {
  border-block-end-color: var(--rh-color-border-subtle-on-light, #d2d2d2);
}

::slotted(a:active),
::slotted(a[active]) {
  border-block-end-color: var(--rh-color-brand-red-on-light, #ee0000);
}

::slotted(a:focus) {
  outline: var(--rh-border-width-md, 2px) solid var(--rh-color-border-interactive-on-light, #0066cc);
  outline-offset: calc(var(--rh-border-width-md, 2px) * -1);
  border-radius: var(--rh-border-radius-default, 3px);
}

::slotted(a:visited) {
  color: var(--rh-context-light-color-text, #151515);
}

button {
  padding: 0;
  margin: 0;
  min-width: 56px;
  background-color: transparent;
  border: none;
  color: var(--rh-color-text-secondary-on-light, #6a6e73);
  --pfe-icon--size: 16px;
}

button:disabled {
  pointer-events: none;
  /* This token value should be a disabled text style, currently doesn't exist */
  color: var(--rh-color-border-subtle-on-light, #d2d2d2);
}

button:hover {
  color: var(--rh-color-accent-base-on-light, #0066cc);
}

#previousLink {
  border-inline-end: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle-on-light, #d2d2d2);
}

#nextLink {
  border-inline-start: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle-on-light, #d2d2d2);
}
