:host {
  display: block;
}

:host([color-palette]) {
  background-color: var(--rh-color-surface);
}

[part='container'] {
  display: flex;
}

[part='links'] {
  display: flex;
  position: relative;
  bottom: 0;
  overflow-x: auto;
  scrollbar-width: none;
  max-width: 100%;
}

::slotted(a) {
  display: block !important;
  white-space: nowrap !important;
  padding: var(--rh-space-lg, 16px) var(--rh-space-2xl, 32px) !important;
  text-decoration: none !important;
  color: var(--rh-color-text-secondary) !important;
  position: relative !important;
}

::slotted(a):after {
  content: '' !important;
  position: absolute !important;
  inset: 0 !important;
  width: 100% !important;
  border-block-end: var(--rh-border-width-lg, 3px) solid transparent !important;
}

::slotted(a:hover),
::slotted(a:active),
::slotted(a[aria-current='page']) {
  color: var(--rh-color-text-primary) !important;
}

::slotted(a:focus-visible):after,
::slotted(a:hover):after {
  border-block-end-color: var(--rh-color-border-subtle) !important;
}

::slotted(a:active):after,
::slotted(a[aria-current='page'])):after {
  border-block-end-color: var(--rh-color-accent-brand) !important;
}

::slotted(a:focus-visible) {
  outline:
    var(--rh-border-width-md, 2px)
    solid
    var(--rh-color-border-interactive) !important;
  outline-offset: -2px !important;
  border-radius: 10px !important;
}

::slotted(a:visited) {
  color: var(--rh-color-text-primary) !important;
}

::slotted(rh-navigation-link) {
  --_navigation-link-display: flex;
  --_navigation-link-gap: var(--rh-space-xs, 4px);
  --_navigation-link-align-items: center;
  --_navigation-link-inline-size: 100%;
  --_navigation-link-padding: var(--rh-space-lg, 16px) var(--rh-space-2xl, 32px);
  --_navigation-link-font-size: var(--rh-font-size-body-text-md);
  --_navigation-link-text-decoration: none;
  --_navigation-link-text-decoration-style: none;
  --_navigation-link-text-decoration-line: none;
  --_navigation-link-color: var(--rh-color-text-primary);
  --_navigation-link-color-hover: var(--rh-color-text-primary);
  --_navigation-link-container-display: flex;
  --_navigation-link-container-align-items: center;
  --_navigation-link-container-position: relative;
  --_navigation-link-container-inline-size: 100%;
  --_navigation-link-focus-outline-offset: -2px;

  position: relative;
  display: flex;
}

::slotted(rh-navigation-link):after {
  content: '';
  position: absolute;
  z-index: 1;
  inset: 0;
  width: 100%;
  border-block-end: var(--rh-border-width-lg, 3px) solid transparent;
  pointer-events: none;
}

::slotted(rh-navigation-link:hover):after {
  border-block-end-color: var(--rh-color-border-subtle);
}

::slotted(rh-navigation-link:active):after,
::slotted(rh-navigation-link[current-page]):after {
  border-block-end-color: var(--rh-color-brand-red);
}

button {
  position: relative;
  padding: 0 var(--rh-space-lg, 16px);
  margin: 0;
  background-color: transparent;
  border: none;
  color: var(--rh-color-text-secondary);

  &:disabled {
    pointer-events: none;
    color: var(--rh-color-border-subtle);
  }

  &:hover {
    color: var(--rh-color-text-primary);
  }

  &:before {
    position: absolute;
    inset: 0;
    content: '';
    border-block-end: var(--rh-border-width-lg, 3px) solid transparent;

    &:hover {
      border-block-end-color: var(--rh-color-border-subtle);
    }
  }
}

#previous {
  border-inline-end: var(--rh-border-width-sm, 1px)  solid  var(--rh-color-border-subtle);
}

#next {
  border-inline-start: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle);
}

#next,
#previous {
  border-block-end: var(--rh-border-width-sm, 1px)  solid  var(--rh-color-border-subtle);

  & rh-icon {
    pointer-events: none;

    &:dir(rtl) {
      rotate: 180deg;
    }
  }
}
