.page-overvie .container .grid {
  margin-block: var(--rh-space-2xl, 32px);
}

rh-tile {
  & [slot='headline'] h3,
  & [slot='image'] {
    margin-block: 0 !important;
  }
}

rh-card {
  height: auto;
}
