:host {
  display: block;
}

#video,
#consent {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

#video {
  position: relative;
  justify-content: stretch;
}

figure {
  display: inline-flex;
  flex-direction: column;
}

#consent,
#watermark {
  position: absolute;
  inset: 0;
}

#consent {
  justify-content: center;
}

#consent-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#consent-message,
::slotted([slot="consent-message"]) {
  font-family: var(--rh-font-family-heading, RedHatDisplay, "Red Hat Display", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif);
  font-size: var(--rh-font-size-heading-sm, 1.5rem);
  line-height: var(--rh-line-height-heading, 1.3);
}

#figure,
#consent-message,
::slotted([slot="consent-message"]:last-of-type) {
  margin-bottom: var(--rh-space-xl, 24px);
}

#play {
  position: absolute;
  inset: 0;
  display: block;
  padding: 0;
  border: 0;
  background-color: transparent;
}

#play[hidden],
:is(.video, .consent) ::slotted([slot="thumbnail"]) {
  opacity: 0;
  pointer-events: none;
}

.visually-hidden {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#icon {
  position: absolute;
  inset: calc(50% - 32px);
}

#autoplay {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 200ms ease-in;
}

.video #autoplay {
  opacity: 1;
}

::slotted([slot="caption"]:first-of-type) {
  margin-top: var(--rh-space-xl, 24px);
}
