:host {
  display: block;
  position: relative;
  width: max-content;
}

a {
  color: var(--rh-color-interactive-secondary-default);
  text-decoration: none;
  display: inline-block;

  &:before {
    content: '';
    display: block;
    position: absolute;
  }

  &.vertical {
    padding: var(--rh-space-md, 8px) var(--rh-space-lg, 16px);
    border-inline-start:
      var(--_border-override,
        var(--rh-length-4xs, 1px) solid var(--rh-color-border-subtle));
  }

  &.horizontal {
    padding: var(--rh-space-lg, 16px);
    white-space: nowrap;
  }

  &:hover { color: var(--rh-color-interactive-secondary-hover); }
  &:focus { color: var(--rh-color-interactive-secondary-focus); }

  &:focus-visible {
    outline: 2px var(--rh-color-interactive-primary-focus);
  }

  &.active {
    color: var(--rh-color-interactive-secondary-active);

    &.vertical:before {
      height: 100%;
      inset-inline-start: 0;
      inset-block: 0;
      border-inline-start:
        var(--_border-override,
          var(--rh-length-xs, 4px) solid var(--rh-color-brand-red));
    }

    &.horizontal:before {
      width: 100%;
      inset-block-start: 0;
      inset-inline: 0;
      border-block-start:
        var(--_border-override,
          var(--rh-length-xs, 4px) solid var(--rh-color-brand-red));
    }
  }
}
