:host {
  display: block;
  position: relative;
  border-inline-start: var(--rh-length-4xs, 1px) solid var(--rh-color-border-subtle);

  --_border-override: none;
}

#container {
  padding-inline: var(--rh-space-lg, 16px);
}

:host([active]) {
  &:before {
    border-inline-start: var(--rh-length-xs, 4px) solid var(--rh-color-brand-red);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    inset-inline-start: 0;
    inset-block: 0;
  }
}
