:host {
  display: block;
  position: relative;
  width: 100%;

  /** Jump link item block padding */
  --_item-padding-block: var(--rh-jump-link-item-padding-block, 0);

  /** Jump link item inline padding */
  --_item-padding-inline: var(--rh-jump-link-item-padding-inline, 0);

  /** Jump link block padding */
  --_link-padding-block: var(--rh-jump-link-link-padding-block);

  /** Jump link inline padding */
  --_link-padding-inline: var(--rh-jump-link-link-padding-inline);

  /** Border shorthand for the track line on the component root */
  border-inline-start: var(--rh-jump-link-border, none);
}

a {
  /** Jump link text color */
  color: var(--rh-color-interactive-secondary-default);
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  white-space: normal;
  overflow-wrap: break-word;
  position: relative;

  &:focus {
    /** Jump link focus text color */
    color: var(--rh-color-text-primary);
  }

  &:focus-visible {
    outline: none;

    &:after {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      border: 2px solid var(--rh-color-interactive-primary-default);
      border-radius: var(--rh-border-radius-default, 3px);
    }
  }

  &:hover,
  &:focus-visible {
    /** Jump link hover/focus text color */
    color: var(--rh-color-text-primary);

    /** Background color of the link on hover. */
    background-color: var(--rh-jump-link-hover-background-color, transparent);

    /** Border radius of the link on hover. */
    border-radius: var(--rh-jump-link-hover-border-radius, 0);
  }
}

#container {
  &:before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;

    /** Active indicator border radius */
    border-radius: var(--rh-jump-link-indicator-border-radius, 0);
    background-color: transparent;
  }

  &.vertical {
    padding-block: var(--_item-padding-block);
    padding-inline: var(--_item-padding-inline);

    /** Border shorthand for the inner link element */
    border-inline-start: var(--rh-jump-link-link-border, var(--_bdr));

    & a {
      /** Maximum width for each vertical jump link */
      max-width: var(--rh-jump-link-max-width, calc(var(--rh-length-md, 8px) * 40));
      min-width: max-content;
      padding-block:
        var(--_link-padding-block,
          /** Vertical link block padding */
          var(--rh-space-md, 8px));
      padding-inline:
        var(--_link-padding-inline,
          calc(
            /** Vertical link inline-start padding */
            var(--rh-space-lg, 16px) + var(--_padding-inline-start, 0px))
            /** Vertical link inline-end padding */
            var(--rh-space-lg, 16px));
    }
  }

  &.horizontal {
    padding-block: var(--_item-padding-block);
    padding-inline: var(--_item-padding-inline);

    & a {
      white-space: nowrap;
      padding-block:
        var(--_link-padding-block,
          /** Horizontal link block padding */
          var(--rh-space-lg, 16px));
      padding-inline:
        var(--_link-padding-inline,
          /** Horizontal link inline padding */
          var(--rh-space-lg, 16px));
    }
  }

  &.active {
    /** Jump link active text color */
    color: var(--rh-color-text-primary);

    /** Jump link active border color */
    --_bdr-c: var(--rh-color-brand-red);
  }

  &.active:has(a),
  &:has(a:focus-visible, a:hover) {
    &.vertical {
      &:before {
        width: var(--rh-border-width-lg, 3px);
        height: 100%;
        background-color: var(--_bdr-c, var(--rh-color-border-status-neutral));
      }
    }

    &.horizontal {
      &:before {
        height: var(--rh-border-width-lg, 3px);
        width: auto;
        background-color: var(--_bdr-c, var(--rh-color-border-status-neutral));
      }
    }
  }
}

:host([slot]) a.vertical {
  border-inline-start: none;
}
