.container > rh-alert {
  width: 100%;
}

#elements-grid {
  &::part(example) {
    display: block;
    width: auto;
  }
}

.card-snippet-grid {
  &::part(example) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: var(--rh-space-lg);
  }

  & h4[slot='heading'] {
    margin: 0;
  }

  & rh-card::part(header) {
    flex-flow: row;
  }
}

.surface-grid,
.tile-grid {
  display: grid;
  padding: 0;
  list-style-type: none;
  gap: var(--rh-space-sm);
  grid-template-columns: 1fr 1fr 1fr;
}

.surface-grid {
  grid-template-columns: 1fr 1fr;
}

.icon-card {
  --rh-icon-size: var(--rh-size-icon-07);
}

.pullquote-card {
  min-width: 360px;
  margin: var(--rh-space-2xl);

  &.right {
    float: right;
  }
}

/* TODO(adamjohnson): fix this with container queries in audio player */
rh-audio-player::part(toolbar) {
  --_time-slider-base: 100px;
}

label + rh-switch {
  margin-inline-start: var(--rh-space-md);
}
