#elements-grid {
  &::part(example) {
    display: block;
    width: auto;
  }
}

#elements {
  min-height: auto;
  display: grid;
  place-content: center;
  gap: var(--rh-space-sm);
  grid-template:
    'disclosure disclosure disclosure'
    'cta audio-player card'
    'pagination pagination card'
    'p p card'
    'tabs tabs tabs' / 1fr 1fr 2fr;
  grid-template-rows: repeat(5, min-content);
  & p { grid-area: p; }
  & rh-card { grid-area: card; }
  & rh-disclosure { grid-area: disclosure; }
  & rh-cta { grid-area: cta; }
  & rh-pagination { grid-area: pagination; }
  & rh-tabs { grid-area: tabs; }

  & rh-audio-player {
    grid-area: audio-player;
    max-width: 250px;
  }
}

.card-snippet-grid::part(example) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: var(--rh-space-lg);

  & rh-card::part(header) {
    flex-flow: row;
  }
}

.tile-grid {
  display: grid;
  padding: 0;
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--rh-space-sm);
}

.pullquote-card {
  min-width: 360px;
  margin: var(--rh-space-2xl);

  &.right {
    float: right;
  }
}
