
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Skip to main | Red Hat Design System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177008280-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-177008280-1');
  </script>
  <script src="/js/global.js"></script>

  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" rel="stylesheet" href="//static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css" media="all" />
  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  
  <link rel="stylesheet" href="/node_modules/@patternfly/pfelement/dist/pfelement.min.css">
  <noscript>
    <link type="text/css" href="/node_modules/@patternfly/pfelement/dist/pfelement--noscript.min.css">
  </noscript>

  <script type="module" src="/node_modules/@patternfly/pfe-cta/dist/pfe-cta.min.js"></script>
</head>




  


<body class="page page--skip-to-main" unresolved>
  <div class="body-inner">

    



<script type="text/javascript">
(function() { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = '//api.usersnap.com/load/4a8eca9f-e612-466c-ba21-5c98236daf99.js';
var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();
</script>

<header class="l-header">
  <div class="l-header__logo-bar">
    <img class="l-header__logo" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--hat-only.svg" alt="Red Hat" style="max-width:50px" />
  </div>
  <input id="mobile-menu-toggle" class="menu-toggle element-invisible" type="checkbox" aria-controls="mobile-menu-menu-container">
  <label class="menu-toggle__button" for="mobile-menu-toggle" data-controls="mobile-menu-menu-container">
    Menu
    <span class="menu-toggle-assistive-text element-invisible">, Toggle visibility</span>
  </label>
  <div class="menu-toggle__toggleable">
    <nav class="l-header__site-navigation site-navigation menu-toggle__toggleable-content-wrapper">
      <ul class="site-navigation__wrapper">
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/">
    Home
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/about/">
    About this website
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/design-code-status/">
    Design/code status
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/release-notes/">
    Release notes
  </a>

        </li>
        <li class="site-navigation__item">
          
          
            
          
          <details  open>
            <summary class="site-navigation__heading">Components</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/components">
    All components
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/accordion/">
    Accordion
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/alert/">
    Alert
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/announcement-banner/">
    Announcement banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/audio-player/">
    Audio player
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/blockquote/">
    Blockquote
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/button/">
    Button
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/cta/">
    Call to action
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/card/">
    Card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/cookie-banner/">
    Cookie banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/avatar/">
    Default avatar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/disclosure/">
    Disclosure
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/filter/">
    Filter box
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/footer_group/">
    Footer group
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/form/">
    Form
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/jump-links-vertical/">
    Jump links
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link_with_icon/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/modal/">
    Modal
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/navigation/">
    Navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/promo-banner/">
    Promo banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/search_bar/">
    Search bar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
    
  
  <a class="site-navigation__sub-menu__link site-navigation__sub-menu__link--active" href="/components/skip_to_main/">
    Skip to main
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-banner/">
    Sticky banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-card/">
    Sticky card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tabs/">
    Tabs
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tooltip/">
    Tooltip
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/video-thumbnail/">
    Video thumbnail
  </a>

                </li></ul>
          </details>
        </li>

        <li class="site-navigation__item">
          
          
          <details >
            <summary class="site-navigation__heading">Foundations</summary>
            <ul class="site-navigation__sub-menu"><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

                </li></ul>
          </details>
        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/get-started/">
    Get started
  </a>

        </li>

      </ul>
    </nav>
  </div>
</header>


<main class="l-main">
  <article class="l-main__inner">
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 class="page-title">Skip to main</h1>
      </div>
    </header>
    <div class="l-main__content">
      <div class="container">
        



  <section class="section section--palette-default container">
    <h2 class="section-title">Overview</h2>
    <p>Skip to main content is a styled link that appears at the top of a page when the Tab key is pressed. It bypasses the navigation and jumps users down to the main content when selected.</p>
  </section>



  <section class="section section--palette-default container">
    <h2 class="section-title">Sample component</h2>
    <img src="/assets/skip-nav/skip-nav.svg" alt="Skip navigation">
  </section>



  <section class="section section--palette-default container">
    <h2 class="section-title">Component status</h2>
    <rhds-component-status component="Skip to main content"></rhds-component-status>
  </section>





  
  <section class="section section--palette-default container">
    <h2 class="section-title">Style</h2>
    <p>Skip to main content is a styled link that consists of a text label and a background container. Even though it looks like a Button, it functions more like a jump link.</p>
    
    
  <div class="example example--palette-medium">
    
    
      <div class="margin-top--4 margin-bottom--4 centered">
        <img src="/assets/skip-nav/skip-nav-style.svg" alt="Skip navigation specs" style="--inline-img-max-width: 112px;">
      </div>
  </div>

  </section>



<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Usage</h2>
    <p>A skip to main content link helps some users browse the web more effectively. It should be invisible on every page as a commitment to accessibility.</p>

    <div class="margin-top--4 margin-bottom--4 centered">
      <img src="/assets/skip-nav/skip-nav-usage-1.svg" alt="Skip navigation usage" style="">
    </div>
    <div class="margin-top--4 margin-bottom--4 centered">
      <img src="/assets/skip-nav/skip-nav-usage-2.svg" alt="Skip navigation usage" style="">
    </div>
    <div class="margin-top--4 margin-bottom--4 centered">
      <img src="/assets/skip-nav/skip-nav-usage-3.svg" alt="Skip navigation usage" style="">
    </div>
  </section>


<hr class="margin-top--2 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Best practices</h2>
    <p>Don't apply the skip to main content link style to other components.</p>

  
  <div class="example example--palette-wrong">
    
    
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
      <img src="/assets/skip-nav/skip-nav-best-practices-1.svg" alt="Skip navigation style errors" style="--inline-img-max-width: 872px;">
    </div>
  </div>

  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Behavior</h2>
    <p>When a user presses the Tab key upon page load, the skip to main content link will appear centered at the top above the navigation. When a user presses the Enter key, the page will move down and the focus indicator should highlight the main content.</p>

    <div class="inline-flex centered margin-top--4 margin-bottom--4">
      <img src="/assets/skip-nav/skip-nav-behavior.svg" alt="Skip navigation behavior" style="">
    </div>
  </section>


<hr class="margin-top--10 margin-bottom--10">



  <section class="section section--palette-default container">
    <h2 class="section-title">Spacing</h2>
    <p>A skip to main content link uses <a href="https://www.patternfly.org/v4/design-guidelines/styles/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

<div class="inline-flex centered margin-top--4 margin-bottom--4">
  <img src="/assets/skip-nav/skip-nav-spacing.svg" alt="Skip navigation spacing diagram" style="">
</div>
  </section>


<hr class="margin-top--10 margin-bottom--10">

<div class="multi-column--min-300-wide">
  
  <section class="section section--palette-default container">
    <h2 class="section-title">Related components</h2>
    <p><a href="#">Call to action</a></p> <!-- future link -->
    <p><a href="#">Button</a></p> <!-- future link -->
  </section>


  
  <section class="section section--palette-default container">
    <h2 class="section-title">Feedback</h2>
    <p>For feedback and bug reports, create an issue <a href="https://github.com/patternfly/patternfly-elements"> in our GitHub repository.</p>
  </section>

</div>

      </div>
    </div>
  </article>
  <footer class="main-footer">
    <img style="max-width: 135px;" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark.svg" alt="Red Hat" />
</footer> 
</main>


  </div>
</body>

</html>
