---
title: Sticky card
---

{% import 'component/components.njk' as components %}

{% call components.section("Overview") -%}
  <p>Sticky cards slide into view at a certain scroll position and then anchor themselves to the edge of a browser window. They stay in one place as content scrolls underneath until a user dismisses them.</p>
{%- endcall %}

{% call components.section("Sample component") -%}
  <img src="{{ '/assets/sticky-card/sticky-card.svg' | url }}" alt="Sticky card" style="--inline-img-max-width: 271px;">
{%- endcall %}

{%- componentStatus -%}{% endcomponentStatus %}

{# {% call components.section("Demo") -%}
<p>View live versions of these components and see how they can be customized.</p>
<rh-cta>
  <a href="https://patternfly.github.io/patternfly-elements/demo/?path=/story/navigation--pfe-navigation">View component via PatternFly Elements</a>
</rh-cta>
{%- endcall %} #}

{% call components.section("Style") -%}
  <p>A sticky card acts as a small container for a limited amount of content.</p>

  <!-- Anatomy image with sketch -->

{% call components.example(palette='lightest') %}
  <img src="{{ '/assets/sticky-card/sticky-card-style.svg' | url }}" alt="Sticky card naming" style="--inline-img-max-width: 449px;">
{%- endcall %}

    <h4>Theme</h2>
    <p>The required elements in a sticky card are a close button, a title or a headline, a call to action, and a container (the light theme container features a drop shadow). The container consists of a background color and two rounded corners on the left or the right side, depending on the orientation. A thin border is also required even if the sticky card background color is different than the page background color.</p>

    {% call components.example(palette='lightest') %}
      <img src="{{ '/assets/sticky-card/sticky-card-theme-light.svg' | url }}" alt="Sticky card light theme" style="--inline-img-max-width: 271px;">
    {%- endcall %}

    {% call components.example(palette='darkest') %}
      <img src="{{ '/assets/sticky-card/sticky-card-theme-dark.svg' | url }}" alt="Sticky card dark theme" style="--inline-img-max-width: 271px;">
    {%- endcall %}

    <h4>Layout</h4>
    <p>A sticky card features header, body, and footer sections, just like a normal Card. Header, body, and footer sections can only include a limited amount of content to ensure that the card doesn’t become too tall.</p>

    <h4>Close button</h4>
    <p>A close button is required for accessibility if a user wants to dismiss the sticky card from their view if they find it distracting.</p>

    <h4>Header</h4>
    <p>The header section can feature only a limited amount of content like a card title or a small headline. This required section introduces what the content is and shouldn’t be hidden.</p>

    <h4>Body</h4>
    <p>To keep the vertical height short, the body section can only include a small amount of text or a small image thumbnail. If a card title and a headline are enough to explain what the content is, the body section can be hidden.</p>

    <h4>Footer</h4>
    <p>The footer section can include normal links or a call to action. A sticky card footer is always required and shouldn't be hidden.</p>

    {% call components.example(palette='lightest') %}
      <img src="{{ '/assets/sticky-card/sticky-card-layout.svg' | url }}" alt="Sticky card content sections" style="--inline-img-max-width: 711px;">
    {%- endcall %}

{%- endcall %}


{% call components.section("Usage") -%}

    <p>The sticky card placement is different than the normal card placement, where a normal card lives in a predetermined spot on a page. A sticky card slides into view only when a user reaches a specific scroll position on a page. When it does, it stays fixed to the edge of the page and it floats above content and layouts when a user scrolls. It should only be used to feature secondary content that’s helpful to a user, like a resource or webinar.</p>

    <h4>Layout</h4>
    <p>A sticky card can be placed on the left or the right edge of a page and it has a fixed width of 262px.<p>

    {% call components.example(palette='medium') %}
      <div class="margin-top--4 margin-bottom--4">
        <img src="{{ '/assets/sticky-card/sticky-card-layout-right.svg' | url }}" alt="Sticky card on right side" style="--inline-img-max-width: 1000px;">
      </div>
    {%- endcall %}

    <h4>Content</h4>
    <p>A sticky card has limited vertical height, so keep content short and only include essential information. A sticky card can include a card title, a headline, text, and a call to action, but not all of these elements need to be included at the same time. Move any extra content to other parts of the page if possible.</p>

    {% call components.example(palette='lightest') %}
      <img src="{{ '/assets/sticky-card/sticky-card-content.svg' | url }}" alt="Sticky card content sections" style="--inline-img-max-width: 587px;">
    {%- endcall %}

    <h4>Alignment</h4>
    <p>Text and other content in a sticky card is always left-aligned, even if the sticky card is anchored to the right edge of a page.</p>

{%- endcall %}

<hr class="margin-top--2 margin-bottom--10">

{% call components.section("Best practices") -%}

    <p>Don’t use more than one sticky card per page.</p>
    {% call components.example(palette='wrong') %}
    <div class="inline-flex centered">
      <img src="{{ '/assets/sticky-card/sticky-card-best-practices-1.svg' | url }}" alt="Sticky card multiple issue" style="--inline-img-max-width: 872px;">
    </div>
    {%- endcall %}

    <p>Don’t change the width of a sticky card on large screens, it’s fixed at 262px.</p>
    {% call components.example(palette='wrong') %}
    <div class="inline-flex centered">
        <img src="{{ '/assets/sticky-card/sticky-card-best-practices-2.svg' | url }}" alt="Sticky card width issue" style="--inline-img-max-width: 360px;">
    </div>
    {%- endcall %}

    <p>Don’t anchor a sticky card on small screens, it covers too much content.</p>
    {% call components.example(palette='wrong') %}
    <div class="inline-flex centered">
        <img src="{{ '/assets/sticky-card/sticky-card-best-practices-3.svg' | url }}" alt="Sticky card overlap issue" style="--inline-img-max-width: 360px;">
    </div>
    {%- endcall %}

    <p>Don't omit the close button, it’s needed for accessibility.</p>
    {% call components.example(palette='wrong') %}
    <div class="inline-flex centered">
        <img src="{{ '/assets/sticky-card/sticky-card-best-practices-4.svg' | url }}" alt="Sticky card close button issue" style="--inline-img-max-width: 262px;">
    </div>
    {%- endcall %}

    <p>Don’t use more than one call to action.</p>
    {% call components.example(palette='wrong') %}
    <div class="inline-flex centered">
        <img src="{{ '/assets/sticky-card/sticky-card-best-practices-5.svg' | url }}" alt="Sticky card call to action issue" style="--inline-img-max-width: 262px;">
    </div>
    {%- endcall %}

{%- endcall %}


{% call components.section("Behavior") -%}
    <h4>Sliding</h4>
    <p>A sticky card is always hidden until it slides into view. The trigger is when a user reaches a specific scroll position on a page, which should be below the fold to avoid distracting a user as soon as a page loads.</p>

    <h4>Scrolling</h4>
    <p>A sticky card can be anchored to the left or the right edge of a page and it stays in the same position when a user scrolls up or down. Any content below will scroll underneath, but it will be partially covered.</p>

    <h4>Dismissing</h4>
    <p>A user can click on or tap the close button if they want to dismiss the sticky card from their view. The page’s scroll position won’t be impacted and the sticky card won’t return in the same browsing session after it’s closed.</p>

    <h4>Vertical height</h4>
    <p>The vertical height of a sticky card greatly expands when too much content is placed inside. Doing this will cover too much content and negatively impact the user experience, so keep the content short to maintain as close to a square aspect ratio as possible.</p>

    {% call components.example(palette='lightest') %}
      <img src="{{ '/assets/sticky-card/sticky-card-behavior-height.svg' | url }}" alt="Sticky card vertical height caution" style="--inline-img-max-width: 587px;">
    {%- endcall %}

{%- endcall %}


{% call components.section("Breakpoints") -%}

    <p>A sticky card is 262px wide on large screens only. On small screens, it acts like a normal card and is placed in a predetermined spot on a page, but it maintains the same styles.</p>

    <h4>Desktop</h4>

    <img src="{{ '/assets/sticky-card/sticky-card-responsive-desktop.svg' | url }}" alt="Sticky card desktop layout">

    <h4>Tablet</h4>

    <img src="{{ '/assets/sticky-card/sticky-card-responsive-tablet.svg' | url }}" alt="Sticky card tablet layout" style="--inline-img-max-width: 768px;">

    <h4>Mobile</h4>

    <img src="{{ '/assets/sticky-card/sticky-card-responsive-mobile.svg' | url }}" alt="Sticky card mobile layout" style="--inline-img-max-width: 360px;">

{%- endcall %}


{% call components.section("Interaction states") -%}
  <p>Since a sticky card can consist of a variety of elements, refer to the specific interaction states that are assigned to each style and component for more information.</p>

{%- endcall %}

  <hr class="margin-top--10 margin-bottom--10">

{% call components.section("Spacing") -%}

  <p>A sticky card uses <a href="https://www.patternfly.org/v4/guidelines/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

  {% call components.example(palette='lightest') %}
      <img src="{{ '/assets/sticky-card/sticky-card-spacing.svg' | url }}" alt="Sticky card spacing" style="--inline-img-max-width: 262px;">
    {%- endcall %}


{%- endcall %}

{% include 'feedback.html' %}







