---
title: Sticky banner
layout: layout-basic.njk
tags:
  - pattern
---

{% import 'component/components.njk' as components %}

{% call components.section("Overview") -%}
    <p>A Sticky banner slides into view at a certain scroll position and then anchors itself to the bottom edge of a browser window. It stays in one place as content scrolls underneath until a user dismisses them.</p>
{%- endcall %}

{% call components.section("Sample component") -%}

    <div class="margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/sticky-banner/sticky-banner.svg' | url }}" alt="Sticky banner">
    </div>

{%- endcall %}

{% componentStatus %}

{# {% call components.section("Demo") -%}
<p>View live versions of these components and see how they can be customized.</p>
<rh-cta>
  <a href="https://patternfly.github.io/patternfly-elements/demo/?path=/story/navigation--pfe-navigation">View component via PatternFly Elements</a>
</rh-cta>
{%- endcall %} #}

{% call components.section("Style") -%}
    <p>A sticky banner can be used in the light theme only. The large size can include a thumbnail image on large screens, but both sizes can include a headline, text, a call to action, and a background container with a subtle drop shadow. A close button also needs to be included in both sizes.</p>

    <!-- Anatomy image with sketch -->

    {% call components.example(palette='lightest') %}
        <img src="{{ '/assets/sticky-banner/sticky-banner-style.svg' | url }}" alt="Sticky banner style" style="--inline-img-max-width: 872px;">
    {%- endcall %}


    <h4>Sizes</h2>
    <p>Large and Small are the two sticky banner sizes. The large size spans the full-width of the browser window and therefore can’t have rounded corners. The small size is fixed width and features rounded corners on top. The large size can feature more

    than the small size as well, including a thumbnail image, more text, and a larger call to action.</p>



        <div class="margin-bottom--8 margin-top--8">
          <img src="{{ '/assets/sticky-banner/sticky-banner-size-desktop.svg' | url }}" alt="Sticky banner large size" style="">
        </div>
        <div class="margin-bottom--8">
          <img src="{{ '/assets/sticky-banner/sticky-banner-size-mobile.svg' | url }}" alt="Sticky banner small size" style="--inline-img-max-width: 360px;">
        </div>



    <h4 id="content">Content</h4>
    <p>Content in the large size falls within the 12-column grid whereas content in the small size is determined by the width of the banner container.</p>

    <h4>Call to action</h4>
    <p>The large sticky banner features a Primary call to action and the small sticky banner features a Default call to action. The large size should have a Primary call to action, even if the same style is present somewhere else on the page. The banner is shown after a user has scrolled past the hero to avoid displaying two Primary calls to action simultaneously.</p>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Usage") -%}

    <p>A sticky banner is used on the bottom of pages where a secondary or personalized offer can be shown to users without interrupting their experience.</p>

    <h4>Large vs. small</h4>
    <p>The large sticky banner can be used to promote an important offer on most websites, like the home page. The small sticky banner can be used to promote a less important offer on specific websites, like a product or article page. The importance of the asset determines the size of the sticky banner that’s used.</p>

    <h4>Placement</h4>
    <p>A sticky banner is anchored on the bottom of the page where it doesn’t distract a user from the page content. It can be used in light or dark environments because it scrolls on top of content and the backgrounds contain a drop shadow to help give it some depth. A user must close the Cookie banner for a sticky banner to appear.</p>

    <div class="">

        <div class="margin-bottom--8 margin-top--8">
          <img src="{{ '/assets/sticky-banner/sticky-banner-usage.svg' | url }}" alt="Sticky banner desktop placement" style="">
        </div>
        <div class="margin-bottom--8">
          <img src="{{ '/assets/sticky-banner/sticky-banner-usage-mobile.svg' | url }}" alt="Sticky banner desktop placement" style="--inline-img-max-width: 360px;">
        </div>

      </div>

    <h4>Layout</h4>
    <p>The large sticky banner background spans the width of a browser window. The content inside falls within a 12-column grid on large screens and a one-column grid on small screens.</p>

    <h4>Content</h4>
    <p>A sticky banner has limited vertical height, so keep content short and only include essential information. A sticky banner can include a thumbnail image, a headline, text, and a call to action, but not all elements are required.</p>

    <ul>
        <li>The headline shouldn’t break to two lines on any screen size (35 - 40 characters)</li>
        <li>The text shouldn’t break to three lines on any screen size (85 - 110 characters)</li>
        <li>A sticky banner should clearly describe what a visitor is getting if they choose to continue</li>
        <li>The thumbnail image, headline, text, and call to action should all align to the specific resource that’s being promoted</li>
    </ul>

{%- endcall %}

<hr class="margin-top--2 margin-bottom--10">

{% call components.section("Best practices") -%}

    <p>Don't change the large sticky banner to be fixed width.</p>
    {% call components.example(palette='wrong') %}
    <div class="inline-flex centered">
      <img src="{{ '/assets/sticky-banner/sticky-banner-best-practices-1.svg' | url }}" alt="Fixed width issue" style="--inline-img-max-width: 872px;">
    </div>
    {%- endcall %}

    <p>Don’t omit the thumbnail image from the sticky banner on large screens like <em>Desktop</em> or <em>Tablet, landscape</em>, it helps users get a better idea of what they’re downloading.</p>
    {% call components.example(palette='wrong') %}
    <div class="inline-flex centered">
      <img src="{{ '/assets/sticky-banner/sticky-banner-best-practices-2.svg' | url }}" alt="Full width small banner issue" style="--inline-img-max-width: 872px;">
    </div>
    {%- endcall %}

    <p>Don’t omit the drop shadow because the banner will blend into the background.</p>
    {% call components.example(palette='wrong') %}
      <div class="inline-flex centered">
        <img src="{{ '/assets/sticky-banner/sticky-banner-best-practices-3.svg' | url }}" alt="Banner without thumbnail issue" style="--inline-img-max-width: 872px;">
      </div>
    {%- endcall %}

    {# <p>Don’t omit the drop shadow because the banner will blend into the background.</p>
    {% call components.example(palette='wrong') %}
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/avatar/avatar-wrong-text.png' | url }}">
    </div>
    {%- endcall %} #}

{%- endcall %}


{% call components.section("Behavior") -%}
    <p>The behavior of a sticky banner is similar to a Sticky card, they stick to the edge of a browser window and remain there until a user dismisses them. The difference is that a sticky banner is conversion-driven, they promote a more important offer that drives a user to a landing page whereas a sticky card promotes a less important offer like a resource or webinar.</p>

      <div class="inline-flex centered margin-top--4 margin-bottom--4">
        <img src="{{ '/assets/sticky-banner/sticky-banner-behavior.svg' | url }}" alt="Sticky banner behavior" style="">
      </div>

    <h4>Sliding</h4>
    <p>A sticky banner slides into view when a user reaches a specific scroll position on a page, usually somewhere below the fold.</p>

    <h4>Dismissing</h4>
    <p>A user can click on or tap the close button if they want to dismiss a sticky banner from their view. The page’s scroll position won’t be impacted and the sticky banner won’t return in the same browsing session after it’s closed.</p>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Responsive design") -%}

    <h4>Breakpoints</h4>
    <p>A sticky banner can work on both large and small screens. Some elements will be dropped when space reduces to keep the layout clean and organized.</p>

    <h4>Desktop</h4>

      <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/sticky-banner/sticky-banner-breakpoints-desktop.svg' | url }}" alt="Sticky banner desktop breakpoint" style="">
      </div>

    <h4>Tablet</h4>

      <div class="margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/sticky-banner/sticky-banner-breakpoints-tablet.svg' | url }}" alt="Sticky banner tablet breakpoint" style="--inline-img-max-width: 768px;">
      </div>

    <h4>Mobile, landscape</h4>

    <div class="margin-top--1 margin-bottom--4">
        <img src="{{ '/assets/sticky-banner/sticky-banner-breakpoints-mobile-landscape.svg' | url }}" alt="Sticky banner mobile landscape breakpoint" style="--inline-img-max-width: 576px;">
    </div>
    <p class="footnote">Some text styles reduce in size on small screens. Learn more about typography on mobile</p>

    <h4>Mobile, portrait</h4>

    <div class="margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/sticky-banner/sticky-banner-breakpoints-mobile-portrait.svg' | url }}" alt="Sticky banner mobile portrait breakpoint" style="--inline-img-max-width: 360px;">
    </div>

{%- endcall %}



{% call components.section("Interaction states") -%}
  <p>Since a sticky banner can consist of a variety of elements, refer to the specific interaction states that are assigned to each style and component for more information.</p>

{%- endcall %}

  <hr class="margin-top--10 margin-bottom--10">

{% call components.section("Spacing") -%}
    <p>Both sticky banners use <a href="https://www.patternfly.org/v4/guidelines/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

    <h4>Large size</h4>
    {% call components.example(palette='lightest') %}
      <div class="margin-top--1 margin-bottom--1">
          <img src="{{ '/assets/sticky-banner/sticky-banner-spacing-large-screens.svg' | url }}" alt="Sticky banner large spacing" style="">
      </div>
    {%- endcall %}

    <h4>Small size</h4>
    <p>Content padding defines how far away elements are from each other inside each section.</p>
    {% call components.example(palette='light') %}
    <div class="centered margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/sticky-banner/sticky-banner-spacing-small-screens.svg' | url }}" alt="Sticky banner spacing small" style="--inline-img-max-width: 576px;">
    </div>
    {%- endcall %}

{%- endcall %}

{% include 'feedback.html' %}




