span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  white-space: nowrap;
  text-align: center;
  aspect-ratio: var(--_aspect-ratio);
  background-color: var(--rh-color-surface-lighter, #f2f2f2);
  border-radius: var(--rh-border-radius-pill, 64px);
  color: var(--rh-color-text-primary);
  min-width: var(--_badge-size);
  font-size: var(--rh-font-size-body-text-xs, 0.75rem);
  font-weight: 700;
  line-height: var(--rh-line-height-body-text, 1.5);
  padding-inline: var(--_badge-padding, var(--rh-space-md, 8px));
}

.on.dark { background-color: var(--rh-color-surface-darker, #1f1f1f); }
.on.info { background-color: var(--rh-color-status-note); }
.on.success { background-color: var(--rh-color-status-success); }
.on.moderate { background-color: var(--rh-color-status-caution); }
.on.important { background-color: var(--rh-color-status-warning); }
.on.critical { background-color: var(--rh-color-status-danger); }

.info.on.light { color: var(--rh-color-text-primary-on-dark, #ffffff); }

:is(.info,.success,.moderate,.important,.critical).on.dark {
  color: var(--rh-color-text-primary-on-light, #151515);
}
