<!DOCTYPE html><html class="no-js" lang=""><head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Footer | Red Hat digital design system</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://www.redhat.com/misc/favicon.ico" type="image/x-icon">

  <script src="/js/global.js"></script>

  <meta property="og:title" content="Red Hat digital design system">
  <meta property="og:site_name" content="Red Hat digital design system">
  <meta property="og:url" content="ux.redhat.com">
  <meta property="og:description" content="This is Red Hat's digital design system. Using Red Hat brand standards and PatternFly as our foundational design language, we enable designers and developers to concurrently build branded experiences across redhat.com, Red Hat Customer Portal, and beyond.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://ux.redhat.com/assets/opengraph.png">

  <meta name="pfe-auto-reveal" content="true">

  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css" media="all">

  <link rel="stylesheet" href="/assets/prism.css">
  <link rel="stylesheet" href="/assets/pfe.min.css">
  <link rel="stylesheet" href="/assets/rhds.min.css">

  <link rel="stylesheet" href="/assets/css/style.css" id="">


  <noscript>
    <link type="text/css" href="/assets/pfe--noscript.min.css">
  </noscript>

  <script type="module" src="/assets/rhds.min.js"></script>
</head>




  


<body class="page page--footer" id="top" unresolved="">

  <div class="body-inner">

    


<script>
  window.onUsersnapCXLoad = function(api) {
    api.init();
  }
  var script = document.createElement('script');
  script.async = 1;
  script.src = 'https://widget.usersnap.com/load/64471a95-72fe-4239-b16d-ebcf8b1219f7?onload=onUsersnapCXLoad';
  document.getElementsByTagName('head')[0].appendChild(script);
</script>

<header class="l-header">

  <div class="l-header__logo-bar">
    <a href="/"><img class="l-header__logo" src="/assets/red-hat-digital-design-system.svg" alt="Red Hat digital design system" style="max-width:240px;min-width:240px;"></a>
  </div>

  <input id="mobile-menu-toggle" class="menu-toggle element-invisible" type="checkbox" aria-controls="mobile-menu-menu-container">

  <label class="menu-toggle__button l-header__mobile-menu-toggle" for="mobile-menu-toggle" data-controls="mobile-menu-menu-container">
    <span class="l-header__burger-icon"></span>
    <span class="menu-toggle-assistive-text element-invisible">Toggle menu visibility</span>
  </label>

  <div class="menu-toggle__toggleable site-navigation__outer-wrapper">
    <nav class="l-header__site-navigation site-navigation menu-toggle__toggleable-content-wrapper">
      <ul class="site-navigation__wrapper">
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/">
    Home
  </a>

        </li>

        <!-- About

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/about/">
    About this website
  </a>

        </li> -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">About</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/about/">
    About this website
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/about/how-we-build/">
    How we build
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Get started -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Get started</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/">
    Overview
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/design-system-kit/">
    Design system kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/fts-starter-kit/">
    FTS starter kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/icon-library/">
    Brand icon library
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/logo-library/">
    Product logo library
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Foundations -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Foundations</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/">
    Overview
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

              </li>
              <!--<li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

                </li>-->
            </ul>
          </details>
        </li>

        <!-- Components -->

        <li class="site-navigation__item">
          
          
            
          
          <details open="">
            <summary class="site-navigation__heading">Components</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/components/">
    All components
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/accordion/">
    Accordion
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/alert/">
    Alert
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/announcement/">
    Announcement
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/audio-player/">
    Audio player
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/avatar/">
    Avatar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/button/">
    Button
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/call-to-action/">
    Call to action
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/card/">
    Card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/dialog/">
    Dialog
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/disclosure/">
    Disclosure
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/filter/">
    Filter
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
    
  
  <a class="site-navigation__sub-menu__link site-navigation__sub-menu__link--active" href="/components/footer/">
    Footer
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/form/">
    Form
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/jump-links/">
    Jump links
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link/">
    Link
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link-with-icon/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/navigation/">
    Navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/popover/">
    Popover
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/progress-steps/">
    Progress steps
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/promo/">
    Promo
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/quote/">
    Quote
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/search-bar/">
    Search bar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/skip-navigation/">
    Skip navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-banner/">
    Sticky banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-card/">
    Sticky card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tabs/">
    Tabs
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tooltip/">
    Tooltip
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/video-thumbnail/">
    Video thumbnail
  </a>

                </li></ul>
          </details>
        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/design-code-status/">
    Design/code status
  </a>

        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/release-notes/">
    Release notes
  </a>

        </li>

        <!--

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/get-started/">
    Get started
  </a>

        </li>

        -->

      </ul>
    </nav>
  </div>
</header>


<main class="l-main">
  <article class="l-main__inner">
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 id="footer" class="page-title">Footer</h1>
      </div>
    </header>
    <div class="l-main__content">
      <div class="container">
        
        
<!--

Temporary Default alert until web component release
<p style="background-color: #f2f9f9; border-top: 2px solid #009596; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#003737"><strong>Default</strong></span><br />Text here</p>

Temporary Info alert until web component release
<p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Info</strong></span><br />Text here</p>

Temporary Warning alert until web component release
<p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br />Text here</p>

-->




  <section class="section section--palette-default container">
    <a id="Overview"></a>
    <h2 id="overview" class="section-title pfe-jump-links-panel__section">Overview</h2>
    <p>The footer is a container that displays links and content to visitors who reach the bottom of a page, it also shows them they are using an official Red Hat website.</p>
  </section>



  <section class="section section--palette-default container">
    <a id="Sample%20component"></a>
    <h2 id="sample-component" class="section-title pfe-jump-links-panel__section">Sample component</h2>
    <img src="/assets/footer/footer-sample.png" alt="Footer component sample" style="--inline-img-max-width: 992px;">
  </section>


<!-- To make a table, component="" must list the exact componenent name from column A here: https://docs.google.com/spreadsheets/d/1OfyP6KZcijXMAX7DvN7KYxlUmp8pqH2WQqQ-ndSc4uc/edit?usp=sharing -->


  <section class="section section--palette-default container">
    <a id="Demo"></a>
    <h2 id="demo" class="section-title pfe-jump-links-panel__section">Demo</h2>
    <p>View a live version of this component to see how it can be customized.</p>

  <pfe-cta>
    <a href="https://github.com/RedHat-UX/rh-footer-demo" target="_blank">View this component in action</a>
  </pfe-cta>
  </section>


<hr class="margin-top--2 margin-bottom--10">


  <section class="section section--palette-default container">
    <a id="Anatomy"></a>
    <h2 id="anatomy" class="section-title pfe-jump-links-panel__section">Anatomy</h2>
    <p>The footer is divided into two parts, the <strong>Modular</strong> footer and <strong>Global</strong> footer. Most of the content in the Modular footer can be customized whereas the content in the Global footer is the same across all websites.</p>

  <div class="margin-bottom--7">
    <img src="/assets/footer/footer-anatomy.png" alt="Footer component anatomy" style="--inline-img-max-width: 992px;">
  </div>

  <div class="multi-column--min-400-wide">
    <div>
      <h4 id="website-logo">Website logo</h4>
      <p>A unique logo that corresponds to the website the footer is used on.</p>
    </div>
    <div>
      <h4 id="social-media-links">Social media links</h4>
      <p>Social media links that direct a visitor to unique social media websites.</p>
    </div>
    <div>
      <h4 id="modular-navigation">Modular navigation</h4>
      <p>A collection of links unique to the website IA (information architecture).</p>
    </div>
    <div>
      <h4 id="unique-message">Unique message</h4>
      <p>A unique description that corresponds to the website the footer is used on.</p>
    </div>
    <div>
      <h4 id="shared-message">Shared message</h4>
      <p>A message about Red Hat that is the same across all footers and websites.</p>
    </div>
    <div>
      <h4 id="unique-content-or-top-task">Unique content or top task</h4>
      <p>Extra content or a top task that is unique and requires its own slot (optional).</p>
    </div>
    <div>
      <h4 id="global-navigation">Global navigation</h4>
      <p>A collection of important links that are the same across all footers and websites.</p>
    </div>
  </div>
  </section>



  <section class="section section--palette-default container">
    <a id="Style"></a>
    <h2 id="style" class="section-title pfe-jump-links-panel__section">Style</h2>
    <p>Elements in the Modular and Global footers are high in contrast so they stand out to a visitor and meet accessibility guidelines. The footer looks similar in style to the <a href="../navigation">Primary navigation</a> for a consistent user experience across websites.</p>

  <div class="margin-bottom--7">
    <img src="/assets/footer/footer-style-main.png" alt="Footer component styling" style="--inline-img-max-width: 992px;">
  </div>

  <h4 id="color">Color</h4>

  <p>The Modular footer background color is slightly lighter than the Global footer background color. This separation helps to distinguish the footers from each other.</p>

  <div class="margin-bottom--7">
    <img src="/assets/footer/footer-style-color.png" alt="Footer component styling - color" style="--inline-img-max-width: 992px;">
  </div>

  <h4 id="layout">Layout</h4>

  <p>The footer spans the entire width of the browser window at all screen sizes.</p>

  <div class="margin-bottom--7">
    <img src="/assets/footer/footer-style-layout.png" alt="Footer component styling - layout" style="--inline-img-max-width: 992px;">
  </div>
  </section>



  <section class="section section--palette-default container">
    <a id="Usage"></a>
    <h2 id="usage" class="section-title pfe-jump-links-panel__section">Usage</h2>
    <p>The footer should be used to provide a visitor with additional links and content if they did not find what they were looking for, it can also include copyright and legal information.</p>

  <h4 id="layout">Layout</h4>

  <p>The Modular and Global footers have specific regions for inserting various content types. Do not insert content at random, use the correct regions.</p>

  <ul>
    <li><strong>section header</strong> - Region for inserting a website logo (home page, Customer Portal, etc.) and social media links.</li>
    <li><strong>section main</strong> - Region for inserting modular navigation links, website messaging, top tasks, or other unique content.</li>
    <li><strong>section footer</strong> - Region for inserting global navigation links, legal content, and a link to the Summit website.</li>
  </ul>

  <div class="margin-bottom--7">
    <img src="/assets/footer/footer-usage-layout.png" alt="Footer component usage - layout" style="--inline-img-max-width: 992px;">
  </div>

  <h4 id="global-footer">Global footer</h4>

  <p>The Global footer can be used by itself on pages that do not fit a specific IA. Examples include landing pages, minisites, etc.</p>

  <div class="margin-bottom--7">
    <img src="/assets/footer/footer-usage-global.png" alt="Footer component usage - global region" style="--inline-img-max-width: 992px;">
  </div>
  </section>



  <section class="section section--palette-default container">
    <a id="Examples%20on%20other%20websites"></a>
    <h2 id="examples-on-other-websites" class="section-title pfe-jump-links-panel__section">Examples on other websites</h2>
    <p>The footer was designed to be applied to all Red Hat websites. The layout is flexible enough to accommodate various content types and arrangements.</p>

  <h4 id="red-hat-customer-portal">Red Hat Customer Portal</h4>

  <div class="margin-top--2 margin-bottom--4">
    <!-- Info alert -->
    <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Status indicator</strong></span><br>The Status indicator (All systems operational) is a feature that will be added to all footers at a later date.</p>
  </div>

  <div class="margin-bottom--7">
    <img src="/assets/footer/footer-example-cp.png" alt="Footer component example - Red Hat Customer Portal" style="--inline-img-max-width: 992px;">
  </div>

  <h4 id="red-hat-developer">Red Hat Developer</h4>

  <div class="margin-bottom--7">
    <img src="/assets/footer/footer-example-developer.png" alt="Footer component example - Red Hat Developer" style="--inline-img-max-width: 992px;">
  </div>

  <h4 id="red-hat-partner-connect">Red Hat Partner Connect</h4>

  <img src="/assets/footer/footer-example-pc.png" alt="Footer component example - Red Hat Partner Connect" style="--inline-img-max-width: 992px;">
  </section>



  <section class="section section--palette-default container">
    <a id="Behavior"></a>
    <h2 id="behavior" class="section-title pfe-jump-links-panel__section">Behavior</h2>
    <h4 id="columns">Columns</h4>

  <p>If the Modular footer includes a lot of content, a second row of columns will be added underneath the first row.</p>

  <div class="margin-bottom--7">
    <img src="/assets/footer/footer-behavior-columns.png" alt="Footer component behavior - columns" style="--inline-img-max-width: 992px;">
  </div>

  <p>If the Modular footer includes less content, columns should stretch to fill the negative space.</p>

  <div class="margin-bottom--7">
    <img src="/assets/footer/footer-behavior-less-columns.png" alt="Footer component behavior - less columns" style="--inline-img-max-width: 992px;">
  </div>

  <p>The social media links should remain aligned to the left edge of the last column if the number of columns change.</p>

  <div class="margin-bottom--7">
    <img src="/assets/footer/footer-behavior-links.png" alt="Footer component behavior - social media links" style="--inline-img-max-width: 992px;">
  </div>

  <h4 id="left-to-right-languages">Left-to-right languages</h4>

  <p>When content is translated to other left-to-right languages, the footer maintains the same layout and text size.</p>

  <div class="margin-bottom--7">
    <img src="/assets/footer/footer-behavior-japanese.png" alt="Footer component behavior - Japanese translation" style="--inline-img-max-width: 992px;">
  </div>

  <h4 id="right-to-left-languages">Right-to-left languages</h4>

  <p>When content is translated to a right-to-left language like Hebrew, the text size increases to 16px so visual subtleties of unique characters are easier to notice.</p>

  <img src="/assets/footer/footer-behavior-hebrew.png" alt="Footer component behavior - Hebrew translation" style="--inline-img-max-width: 992px;">
  </section>



  <section class="section section--palette-default container">
    <a id="Interaction%20states"></a>
    <h2 id="interaction-states" class="section-title pfe-jump-links-panel__section">Interaction states</h2>
    <h4 id="default">Default</h4>

  <div class="margin-bottom--4">
    <img src="/assets/footer/footer-interaction-state-default.png" alt="Footer component interaction state - default" style="--inline-img-max-width: 992px;">
  </div>

  <!-- Table -->
  <section class="section">
    <table width="100%;">
      <thead>
        <tr>
          <th>Interaction state</th>
          <th>Element</th>
          <th>Text styling</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Default</td>
          <td>Social media link</td>
          <td>#8a8d90</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>Modular nav link</td>
          <td>#fff</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>Call to action</td>
          <td>#73bcf7</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>Red Hat fedora icon</td>
          <td>#8a8d90</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>Global nav and legal link</td>
          <td>#fff</td>
        </tr>
      </tbody>
    </table>
  </section>

  <h4 id="hover">Hover</h4>

  <div class="margin-bottom--4">
    <img src="/assets/footer/footer-interaction-state-hover.png" alt="Footer component interaction state - hover" style="--inline-img-max-width: 992px;">
  </div>

  <!-- Table -->
  <section class="section">
    <table width="100%;">
      <thead>
        <tr>
          <th>Interaction state</th>
          <th>Element</th>
          <th>Text styling</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hover, Focus, and Active</td>
          <td>Social media link</td>
          <td>#b8bbbe</td>
        </tr>
        <tr>
          <td>Hover, Focus, and Active</td>
          <td>Modular nav link</td>
          <td>#fff / Underline</td>
        </tr>
        <tr>
          <td>Hover, Focus, and Active</td>
          <td>Call to action</td>
          <td>#bee1f4</td>
        </tr>
        <tr>
          <td>Hover, Focus, and Active</td>
          <td>Red Hat fedora icon</td>
          <td>#b8bbbe</td>
        </tr>
        <tr>
          <td>Hover, Focus, and Active</td>
          <td>Global nav and legal link</td>
          <td>#fff / Underline</td>
        </tr>
      </tbody>
    </table>
  </section>

  <h4 id="focus">Focus</h4>

  <p>Focus styles are the same as hover styles and also include a focus indicator.</p>

  <div class="margin-bottom--7">
    <img src="/assets/footer/footer-interaction-state-focus.png" alt="Footer component interaction state - focus" style="--inline-img-max-width: 992px;">
  </div>

  <h4 id="active">Active</h4>

  <img src="/assets/footer/footer-interaction-state-active.png" alt="Footer component interaction state - active" style="--inline-img-max-width: 992px;">
  </section>



  <section class="section section--palette-default container">
    <a id="Accessibility"></a>
    <h2 id="accessibility" class="section-title pfe-jump-links-panel__section">Accessibility</h2>
    <h4 id="focus-order">Focus order</h4>

  <p>A logical focus order helps visitors understand and operate our websites. Elements or components need to receive focus in an order that preserves meaning, therefore the focus order should make sense and not jump around randomly.</p>

  <img src="/assets/footer/footer-focus-order.png" alt="Footer component focus order" style="--inline-img-max-width: 992px;">
  </section>



  <section class="section section--palette-default container">
    <a id="Responsive%20design"></a>
    <h2 id="responsive-design" class="section-title pfe-jump-links-panel__section">Responsive design</h2>
    <h4 id="large-screens">Large screens</h4>

  <p>Footers on large screen sizes include columns and rows of links.</p>

  <div class="margin-bottom--7">
    <img src="/assets/footer/footer-sample.png" alt="Footer component for large screens" style="--inline-img-max-width: 992px;">
  </div>

  <h4 id="small-screens">Small screens</h4>

  <p>The Modular footer on small screen sizes includes an accordion instead of columns and rows of links. All accordion panels are collapsed by default when the page loads.</p>

  <div class="margin-top--2 margin-bottom--4">
    <!-- Info alert -->
    <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Horizontal rule</strong></span><br>At small screen sizes, the horizontal rule below the logo and social media icons disappears.</p>
  </div>

  <div class="margin-bottom--7">
    <img src="/assets/footer/footer-small-screens-1.png" alt="Footer component for small screens" style="--inline-img-max-width: 768px;">
  </div>

  <img src="/assets/footer/footer-small-screens-2.png" alt="Footer component for small screens" style="--inline-img-max-width: 360px;">
  </section>



  <section class="section section--palette-default container">
    <a id="Best%20practices"></a>
    <h2 id="best-practices" class="section-title pfe-jump-links-panel__section">Best practices</h2>
    <h4 id="changing-the-stacking-order">Changing the stacking order</h4>

  <p>Do not stack the Global footer on top of the Modular footer.</p>

  <div class="margin-bottom--7">
    <img src="/assets/footer/footer-best-practice-1.png" alt="Footer component best practice - changing the stacking order" style="--inline-img-max-width: 1000px;">
  </div>

  <h4 id="using-an-accordion">Using an accordion</h4>

  <p>Do not use an accordion inside of a large Modular footer, only Modular footers for small screen sizes include an accordion.</p>

  <div class="margin-bottom--7">
    <img src="/assets/footer/footer-best-practice-2.png" alt="Footer component best practice - using an accordion" style="--inline-img-max-width: 1000px;">
  </div>

  <h4 id="removing-information">Removing information</h4>

  <p>Do not remove the copyright text or Summit link from the Global footer.</p>

  <div class="margin-bottom--7">
    <img src="/assets/footer/footer-best-practice-3.png" alt="Footer component best practice - removing information" style="--inline-img-max-width: 1000px;">
  </div>

  <h4 id="isolating-the-modular-footer">Isolating the Modular footer</h4>

  <p>Do not use the Modular footer on its own without the Global footer.</p>

  <img src="/assets/footer/footer-best-practice-4.png" alt="Footer component best practice - isolating the Modular footer" style="--inline-img-max-width: 1000px;">
  </section>



  <section class="section section--palette-default container">
    <a id="Spacing"></a>
    <h2 id="spacing" class="section-title pfe-jump-links-panel__section">Spacing</h2>
    <p>The Modular and Global footers use <a href="../../foundations/spacing">spacers</a> to define space values between elements.</p>

  <div class="margin-bottom--7">
    <img src="/assets/footer/footer-spacing-1.png" alt="Footer component spacing on large screens" style="--inline-img-max-width: 992px;">
  </div>

  <div class="margin-bottom--7">
    <img src="/assets/footer/footer-spacing-2.png" alt="Footer component spacing on small screens" style="--inline-img-max-width: 768px;">
  </div>

  <img src="/assets/footer/footer-spacing-3.png" alt="Footer component spacing on small screens" style="--inline-img-max-width: 360px;">
  </section>


<div class="multi-column--min-300-wide">

  
  <section class="section section--palette-default container">
    <a id="Feedback"></a>
    <h2 id="feedback" class="section-title pfe-jump-links-panel__section">Feedback</h2>
    <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  </section>


  
  <section class="section section--palette-default container">
    <a id="Components"></a>
    <h2 id="components" class="section-title pfe-jump-links-panel__section">Components</h2>
    <p>To learn how to use our other components in your designs, visit the <a href="/components">Components</a> section.</p>
  </section>


</div>

      </div>
    </div>
  </article>
    

  <footer class="main-footer">
    <img style="max-width: 135px;" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark.svg" alt="Red Hat">
    <p>Copyright © 2021-2022 Red Hat, Inc.</p>
    <div class="main-footer--list">
      <ul>
        <li><a href="https://www.redhat.com/en/about/privacy-policy">Privacy statement</a></li>
        <li><a href="https://www.redhat.com/en/about/terms-use">Terms of use</a></li>
        <li><a href="https://www.redhat.com/en/about/all-policies-guidelines">All policies and guidelines</a></li>
      </ul>
    </div>

    <a id="netlify-badge" href="https://www.netlify.com" target="_blank" rel="noreferrer noopener">
      <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" alt="Deploys by Netlify">
    </a>
  </footer>

<div class="back-to-top">
    <a href="#top" class="back-to-top-link">
        <img src="/assets/back-to-top.svg" alt="Scroll back to the top">
    </a>
</div>

</main>


  </div>



</body></html>