rh-table tr.dark:not(:hover) {
  background-color: var(--rh-color-surface-darkest, #151515);
  color: var(--rh-color-text-primary-on-dark, #ffffff);
}

rh-table tr.dark:hover {
  background-color: var(--rh-color-surface-dark, #383838) !important;
  color: var(--rh-color-text-primary-on-dark, #ffffff);
}
