section + section {
  margin-top: var(--rh-space-3xl, 48px);
}

rh-table tr.dark:not(:hover) {
  background-color: var(--rh-color-surface-darkest, #151515);
  color: var(--rh-color-text-primary-on-dark, #ffffff);
}

rh-table tr.dark:hover {
  background-color: var(--rh-color-surface-dark, #383838) !important;
  color: var(--rh-color-text-primary-on-dark, #ffffff);
}

section:is(#line-height, #media) > rh-table [data-label="Example"] {
  display: none;
}

section#family > rh-table [data-label="Value"] code {
  text-align: left !important;
}

@container container (min-width: 768px) {
  section:not(#family, #media) > rh-table [data-label="Example"] {
    width: calc(2 * var(--rh-space-lg, 16px) + var(--rh-length-7xl, 128px));
    max-width: calc(2 * var(--rh-space-lg, 16px) + var(--rh-length-7xl, 128px));
  }

  section:not(#family, #media) > rh-table [data-label="Value"],
  rh-table [data-label="Copy"] {
    text-align: center;
    max-width: calc(2 * var(--rh-space-lg, 16px) + var(--rh-length-5xl, 80px));
  }

  section#family > rh-table [data-label="Value"] {
    max-width: 19rem;
  }
}
