.example {
  display: flex;
  align-items: center;
  padding: 32px;
  @include breakpoint(tango) {
    width: calc(100vw - #{$fixed-sidebar-width + 240px});
    padding: 32px 64px;
    margin-bottom: 64px;
    max-width: 100%;
  } 
  img:only-child {
    display: block;
    margin: 0 auto;
  }
  &--descriptor { 
    font-size: 16px;
    align-items: center;
    justify-content: center;
    text-align: left;
    img { 
      display: block;
      margin-bottom: 16px;
      flex-shrink: 0;
    }
  }
  pfe-cta {
    margin-bottom: 16px;
  }
}

.example--palette-light {
  background: #fafafa;
}

.example--palette-darkest {
  background: #151515;
}

.example--palette-wrong {
  border-left: 3px solid #e00;
  background: #fef7f7;
}
