.example {
  display: flex;
  align-items: center;
  padding: 32px;
  @include breakpoint(tango) {
    width: calc(100vw - #{$fixed-sidebar-width + 240px});
    padding: 32px 64px;
    margin-bottom: 64px;
    max-width: 100%;
  } 

  img:only-child {
    display: block;
    margin: 0 auto;
  }

  &--descriptor { 
    font-size: 16px;
    align-items: center;
    justify-content: center;
    text-align: left;

    img { 
      display: block;
      margin-bottom: 16px;
      flex-shrink: 0;
    }
  }
  
  pfe-cta {
    margin-bottom: 16px;
  }
}

// .footnote + .example {
//   margin-bottom: 0;
// }

.example--palette-light {
  background: #ffffff;
  border: 1px solid #d2d2d2;
}

.example--palette-lightest {
  background: transparent;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.example--palette-darkest {
  background: #151515;
}

.example--palette-wrong {
  border-left: 3px solid #e00;
  background: #fef7f7;
}

.example--palette-medium {
  background: #f0f0f0;
}

.example--palette-dark {
  background: #15151580;
}

.example--palette-descriptive {
  background: transparent;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 24px;

  img {
    width: var(--inline-img-max-width, 100%);
    max-height: var(--inline-img-max-height, auto);
  }
}

.example--palette-descriptive-gray {
  background: rgba(0,0,0,.25);
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 24px;

  img {
    width: var(--inline-img-max-width, 100%);
    max-height: var(--inline-img-max-height, auto);
  }
}

.example {

  .example--typography {
    padding: 32px;

    p {
      margin: 0;
    }
  }

}

.section {

  .example {

      img {
        max-width: var(--example-img-max-width, 100%);
        max-height: var(--example-img-max-height, auto);
      }
  }
}