.example {
  @include breakpoint(tango) {
    width: calc(100vw - #{$fixed-sidebar-width + 240px});
    padding: 32px 80px;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.example--palette-light {
  background: #fafafa;
}

.example--palette-darkest {
  background: #151515;
}

.example--palette-wrong {
  border-left: 3px solid #e00;
  background: #fef7f7;
}
