.site-navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 0;
  overflow: hidden;
  color: #151515;
  @include breakpoint($nav-break) {
    width: $fixed-sidebar-width;
    padding-top: #{30px + map-get($header-height, $nav-break)};
    padding-bottom: 40px;
    border-right: 1px solid #dbdbdb;
    overflow: visible;
    background: #fff;
    visibility: visible;
  }

  &:before {
    // content: 'Navigation';
    // display: block;
    // margin: 0 1em 1em;
    // padding: 0.5em 0.25em 1em;
    // border-bottom: 1px solid #dbdbdb;
    // text-transform: uppercase;
    // color: #999;
  }
}

.site-navigation__wrapper,
.site-navigation__sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation {
  .site-navigation__link,
  .site-navigation__heading,
  .site-navigation__sub-menu__link {
    display: block;
    text-decoration: none;
    transition: background-color 0.25s;
    font-size: 18px;
    padding: 0.5em 1.25em;
    color: #151515;
    &:hover,
    &:focus {
      background: #eee;
    }
  }
}

.site-navigation {
  // had to add additional selector to
  // override the base.css
  .site-navigation__link--active,
  .site-navigation__sub-menu__link--active {
    background: #f5f5f5;
    box-shadow: inset 3px 0 0 0 #e00;
    color: #151515;
  }
}

.site-navigation__sub-menu {
  padding-left: 2em;
}

.site-navigation__sub-menu__link {
  font-size: #{16px / 18px * 1em};
}
