:host {
  border-block-start: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle);
  display: block;
  padding-block: var(--rh-space-md, 8px);
}

:host([disabled]) {
  pointer-events: none;
}

:host([disabled]),
:host([disabled]) slot[name='label'] {
  color: var(--rh-color-text-status-disabled, #707070);
}

slot {
  display: block;
}

slot[name='label'] {
  color: var(--rh-color-text-secondary);
  font-size: var(--rh-font-size-body-text-xs, 0.75rem);
  padding: var(--rh-space-md, 8px) var(--rh-space-lg, 16px);
  user-select: none;
}
