:host {
  /* Remove this re-declaration when the `status-disabled` variables are defined in tokens */
  --rh-color-text-status-disabled:
    light-dark(var(--rh-color-gray-50, #707070),
      var(--rh-color-gray-60, #4d4d4d));

  display: block;
}

:host([hidden]),
*[hidden] {
  display: none !important;
}

:host([disabled]) {
  pointer-events: none;
}

:host(:focus),
:host(:focus-visible) {
  outline: 0;
}

:host(:focus) #outer,
:host(:hover) #outer {
  background-color:
    light-dark(
        var(--rh-color-surface-lighter, #f2f2f2),
        var(--rh-color-surface-darker, #1f1f1f));
}

#outer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--rh-space-md, 8px) var(--rh-space-lg, 16px);
}

:host(:focus) #outer {
  border: 0;
  border-radius: var(--rh-border-radius-default, 3px);
  outline: var(--rh-border-width-lg, 3px) solid var(--rh-color-border-interactive);
  outline-offset: calc(var(--rh-border-width-lg, 3px) * -1);
}

:host([disabled]) #outer {
  /* stylelint-disable-next-line rhds/no-unknown-token-name */
  color: var(--rh-color-text-status-disabled);
}

#label {
  flex: 1 1 auto;
}

#label,
::slotted([slot='description']),
#description {
  user-select: none;
}

rh-icon[icon='checkmark'] {
  color: var(--rh-color-interactive-primary-default);
}

#description {
  display: block;
  flex: 1 0 100%;
}

slot[name='description'] {
  font-size: var(--rh-font-size-body-text-xs, 0.75rem);
}

::slotted([slot='icon']) {
  margin-inline-end: var(--rh-space-md, 8px);
}
