:host {
  display: block;
}

:host([hidden]),
*[hidden] {
  display: none !important;
}

:host([disabled]) {
  cursor: not-allowed !important;
  pointer-events: none !important;
}

:host(:focus) #outer,
:host(:hover) #outer,
#outer.selected {
  background-color: var(--rh-color-surface-lighter, #f2f2f2);
}

#outer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: calc(44px - 2 * var(--pf-global--spacer--sm, 0.5rem));
  min-width: calc(44px - 2 * var(--pf-global--spacer--md, 1rem));
  padding: var(--pf-global--spacer--sm, 0.5rem) var(--pf-global--spacer--md, 1rem);
}

#outer.active {
  background-color: var(--_active-descendant-color, var(--pf-theme--color--surface--lighter, #f0f0f0));
}

:host([disabled]) #outer {
  color: var(--pf-global--Color--dark-200, #6a6e73) !important;
}

input[type='checkbox'] {
  display: var(--_pf-option-checkboxes-display, none);
  flex: 0 0 auto;
  margin-inline-end: 1em;
  pointer-events: none;
}

span {
  flex: 1 1 auto;
}

rh-icon[icon='checkmark'] {
  color: var(--rh-color-interactive-primary-default);
}

#description {
  display: block;
  flex: 1 0 100%;
}

slot[name='description'] {
  color: var(--pf-global--Color--dark-200, #6a6e73);
  font-size: var(--pf-global--FontSize--xs, 0.75rem);
}

::slotted([slot='icon']) {
  margin-inline-end: 0.5em;
}

:host([suggestion]) {
  #outer.selected {
    background-color: transparent;
  }

  svg {
    display: none;
  }
}
