:host {
  display: inline-block;
}

#btn-toggle {
  background-color: transparent;
  border: 1px solid #c7c7c7;
  padding: 8px 16px;
  border-radius: 3px;
  min-inline-size: 320px;
  text-align: start;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  line-height: 1.5;
}

#btn-icon {
  color: #151515;
}
