:host {
  position: fixed;
  z-index: 1000;
  inset-inline-end: var(--rh-space-xl, 24px);
  inset-block-end: var(--rh-space-xl, 24px);
}

[part='trigger'] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color:
    light-dark(var(--rh-color-text-primary-on-dark, #ffffff),
      var(--rh-color-text-primary-on-light, #151515));
  background-color: var(--rh-back-to-top-background-color, var(--rh-color-accent-base));
  text-decoration: none;
  font-size: var(--rh-font-size-body-text-xs, 0.75rem);
  padding-inline: var(--rh-space-md, 8px);
  padding-block: var(--rh-space-xs, 4px);
  border-radius: var(--rh-border-radius-pill, 64px);
  gap: var(--rh-space-xs, 4px);
  line-height: var(--rh-line-height-body-text, 1.5);
  outline: var(--rh-border-width-md, 2px) solid transparent;
  border: var(--rh-border-width-md, 2px) solid transparent;
  pointer-events: all;
}

[part='trigger']:is(:hover, :focus) {
  outline: var(--rh-border-width-md, 2px) solid var(--rh-color-interactive-primary-hover);
  border: var(--rh-border-width-md, 2px) solid;
  border-color:
    light-dark(var(--rh-color-border-strong-on-dark, #ffffff),
      var(--rh-color-border-strong-on-light, #151515));
  background-color: var(--rh-color-interactive-primary-hover);
}

[part='trigger'][hidden] {
  display: none;
}

rh-icon {
  /* Non Standard Icon size */
  --rh-icon-size: var(--rh-font-size-body-text-xs, 0.75rem);

  vertical-align: -0.125rem;
}

span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--rh-space-xs, 4px);
}

@media (min-width: 768px) {
  :host {
    inset-inline-end: var(--rh-space-3xl, 48px);
    inset-block-end: var(--rh-space-3xl, 48px);
  }
}
