---
layout: _templates/layout-basic.njk
title: About this website
---

{% import '_templates/component/components.njk' as components %}

<section class="featured-overview centered">

    <h2 class="feature-headline">We create open digital experiences</h2>

    <p>Our team works across the world. The range of disciplines we represent is almost as wide as our global reach, from UX researchers and digital designers to developers and content strategists. We create digital experiences that are scalable and open.</p>

</section>

<hr class="margin-top--10 margin-bottom--10">

<section class="main">

    <div class="centered">
        <h2>Our approach</h2>
    </div>

    <div class="alternating section">

        <div class="alternating--item">

            <h3>PatternFly collaboration</h3>
            <p>We collaborate with <a href="https://www.patternfly.org">PatternFly</a>, the team responsible for enterprise application design. Using their open source design system as a foundation gives us the resources we need to create intuitive and scalable branded experiences for users across marketing, product, and support.</p>

        </div>

        <div class="alternating--item">

            <img src="http://www.placehold.it/800x600"/>
        
        </div>

        <div class="alternating--item">

            <img src="http://www.placehold.it/800x600"/>
        
        </div>

        <div class="alternating--item">

            <h3>Shared language and vision</h3>
            <p>With foundations in place that enable our teams to create experiences faster, designers can avoid reinventing what’s already been defined. Our design system guides creativity and helps designers spend more time creating beautiful experiences for our users instead of pushing pixels.</p>

        </div>

        <div class="alternating--item">

            <h3>Web components</h3>
            <p>Our team is building an open source web component driven development system to build scalable UI elements. This <a href="https://patternfly.github.io/patternfly-elements/">open source community project</a> drives the code behind the design system along with custom code, which also supports many components in our design system.</p>

        </div>

        <div class="alternating--item">

            <img src="http://www.placehold.it/800x600"/>
        
        </div>

    </div>
    
</section>


<hr class="margin-top--10 margin-bottom--10">

<section class="main">

    <div class="centered">
        <h2>Fundamentals</h2>
    </div>

    <div class="multi-column--2-1-1 margin-top--10">

        <div>
            <img src="http://www.placehold.it/64x64/F5F5F5" />
            <h4>Flexible</h4>
            <p>Our components can be arranged in a number of ways and CSS variables can be used for further customization.</p>
        </div>

        <div>
            <img src="http://www.placehold.it/64x64/F5F5F5" />
            <h4>Accessible</h4>
            <p>The goal with our design system is to create meaningful experiences that work for everyone, regardless of ability.</p>
        </div>

        <div>
            <img src="http://www.placehold.it/64x64/F5F5F5" />
            <h4>Consistent</h4>
            <p>Our documentation streamlines communication so that teams can create consistent interfaces and experiences.</p>
        </div>

        <div>
            <img src="http://www.placehold.it/64x64/F5F5F5" />
            <h4>Scalable</h4>
            <p>Our components are designed for landing pages or enterprise applications and every experience in between.</p>
        </div>
    </div>

</section>
