---
layout: _templates/layout-basic.njk
title: About this website
---

{% import '_templates/component/components.njk' as components %}

<section class="featured-overview centered">

    <h2 class="feature-headline">We create open digital experiences</h2>

    <p>Our team works across the world. The range of disciplines we represent is almost as wide as our global reach, from UX researchers and digital designers to developers and content strategists. We create digital experiences that are scalable and open.</p>

</section>

<hr class="margin-top--10 margin-bottom--10">

<section class="main">

    <div class="centered">
        <h2 style="font-size:36px;">Our approach</h2>
    </div>

    <div class="alternating section">

        <div class="alternating--item">

            <h2>PatternFly collaboration</h2>
            <p>We collaborate with <a href="https://www.patternfly.org">PatternFly</a>, an open source design system for enterprise product experiences. Using PatternFly as a foundation we create intuitive and scalable Red Hat branded experiences&mdash;the open source way.</p>

        </div>

        <div class="alternating--item">

            <img src="{{ '/assets/about/patternfly.svg' | url }}" alt="PatternFly" style="">

        </div>

        <div class="alternating--item">

            <img src="{{ '/assets/about/shared-language.svg' | url }}" alt="Shared language" style="">

        </div>

        <div class="alternating--item">

            <h2>Shared language and vision</h2>
            <p>We share typography, scale, colors, and UI elements with PatternFly, so designers no longer need to reinvent the wheel when choosing a component or pattern to use. For example, an Accordion used in an enterprise application will look the same when used on our websites.</p>

        </div>

        <div class="alternating--item">

            <h2>Web components</h2>
            <p>Our team is building an open source web component driven development system to build scalable UI elements. This <a href="https://patternfly.github.io/patternfly-elements/">open source community project</a> supports many components in our design system.</p>

        </div>

        <div class="alternating--item">

            <img src="{{ '/assets/about/web-components.svg' | url }}" alt="Web components" style="">

        </div>

    </div>

</section>


<hr class="margin-top--10 margin-bottom--10">

<section class="main">

    <div class="centered">
        <h2 style="font-size:36px;">Fundamentals</h2>
    </div>

    <div class="multi-column--2-1-1 margin-top--10">

        <div>
            <img src="{{ '/assets/about/icon-flexible.svg' | url }}" alt="Flexibility" style="--inline-img-max-width: 70px;">
            <h3>Flexible</h3>
            <p>Our components can be arranged in a number of ways and CSS variables can be used for further customization.</p>
        </div>

        <div>
            <img src="{{ '/assets/about/icon-accessible.svg' | url }}" alt="Accessibility" style="--inline-img-max-width: 70px;">
            <h3>Accessible</h3>
            <p>The goal with our design system is to create meaningful experiences that work for everyone, regardless of ability.</p>
        </div>

        <div>
            <img src="{{ '/assets/about/icon-consistent.svg' | url }}" alt="Consistency" style="--inline-img-max-width: 70px;">
            <h3>Consistent</h3>
            <p>Our documentation streamlines communication so that teams can create consistent interfaces and experiences.</p>
        </div>

        <div>
            <img src="{{ '/assets/about/icon-scalable.svg' | url }}" alt="Scalability" style="--inline-img-max-width: 70px;">
            <h3>Scalable</h3>
            <p>Our components are designed for landing pages or enterprise applications and every experience in between.</p>
        </div>
    </div>

    <div class="centered">
        <div class="margin-top--6">
        <pfe-cta pfe-priority="secondary">
            <a href="/get-started">Get started</a>
        </pfe-cta>
        </div>
    </div>

</section>
