---
layout: _templates/layout-basic.njk
title: About this website
---

{% import '_templates/component/components.njk' as components %}

<section class="featured-overview centered">

    <h2>Hello, we're Red Hat</h2>

    <p>Our team works across the world. The range of disciplines we represent is almost as wide as our global reach, from UX researchers and designers to developers and strategists. We collaboratively create experiences that are scalable and open.</p>

</section>

<hr class="margin-top--10 margin-bottom--10">

<section class="main">

    <div class="centered">
        <h2>Our approach</h2>
    </div>

</section>


<hr class="margin-top--10 margin-bottom--10">

<section class="main">

    <div class="centered">
        <h2>Fundamentals</h2>
    </div>

    <div class="multi-column--2-1-1 margin-top--10">

        <div>
            <img src="http://www.placehold.it/64x64/F5F5F5" />
            <h4>Flexible</h4>
            <p>Our components can be arranged in a number of ways and CSS variables can be used for further customization.</p>
        </div>

        <div>
            <img src="http://www.placehold.it/64x64/F5F5F5" />
            <h4>Accessible</h4>
            <p>The goal with our design system is to create meaningful experiences that work for everyone, regardless of ability.</p>
        </div>

        <div>
            <img src="http://www.placehold.it/64x64/F5F5F5" />
            <h4>Consistent</h4>
            <p>Our documentation streamlines communication so that teams can create consistent interfaces and experiences.</p>
        </div>

        <div>
            <img src="http://www.placehold.it/64x64/F5F5F5" />
            <h4>Scalable</h4>
            <p>Our components are designed for landing pages or enterprise applications and every experience in between.</p>
        </div>
    </div>

</section>
