---
layout: _templates/layout-basic.njk
title: Components
---

{% import '_templates/component/components.njk' as components %}

{% call components.section("Overview") -%}

  <p>Components are interactive building blocks of our design system. Each component was created to meet a specific UI and accessibility need. Components should be used harmoniously together in the same space to create more intuitive user experiences.</p>

{%- endcall %}

<hr class="margin-top--10">

  <div class="multi-column--min-400-wide margin-top--10">

    <div class="padding-stacked">
      <a href="../components/accordion">
        {% call components.example(palette='descriptive') %}
          <img src="{{ '/assets/components/accordion.svg' | url }}" alt="Accordion" style="--inline-img-max-width: 340px;">
        {%- endcall %}
        <h3>Accordion</h3>
        <p>Toggles the visibility of multiple sections of content</p>
      </a>
    </div>

    <div class="padding-stacked">
      <a href="../components/alert">
      {% call components.example(palette='descriptive') %}
        <img src="{{ '/assets/components/alert.svg' | url }}" alt="Alert" style="--inline-img-max-width: 340px;">
      {%- endcall %}
      <h3>Alert</h3>
      <p>Communicates a change in status or other information</p>
      </a>
    </div>

    <div class="padding-stacked">
      <a href="../components/announcement-banner">
        {% call components.example(palette='descriptive') %}
          <img src="{{ '/assets/components/announcement-banner.svg' | url }}" alt="Announcement banner" style="--inline-img-max-width: 340px;">
        {%- endcall %}
        <h3>Announcement banner</h3>
        <p>Announcement an important message across websites</p>
      </a>
    </div>

    <div class="padding-stacked">
      <a href="../components/audio-player">
      {% call components.example(palette='descriptive') %}
        <img src="{{ '/assets/components/audio-player.svg' | url }}" alt="Audio player" style="--inline-img-max-width: 340px;">
      {%- endcall %}
      <h3>Audio player</h3>
      <p>Plays and controls audio clips in a web browser</p>
      </a>
    </div>

    <div class="padding-stacked">
      <a href="../components/avatar">
        {% call components.example(palette='descriptive') %}
          <img src="{{ '/assets/components/avatar.svg' | url }}" alt="avatar" style="--inline-img-max-width: 340px;">
        {%- endcall %}
        <h3>Avatar</h3>
        <p>A placeholder graphic for a photo or image</p>
      </a>
    </div>

    <div class="padding-stacked">
      <a href="../components/blockquote">
        {% call components.example(palette='descriptive') %}
          <img src="{{ '/assets/components/blockquote.svg' | url }}" alt="Block quote" style="--inline-img-max-width: 340px;">
        {%- endcall %}
        <h3>Block quote</h3>
        <p>A styled customer quote with attribution</p>
      </a>
    </div>

    <div class="padding-stacked">
      <a href="../components/button">
        {% call components.example(palette='descriptive') %}
          <img src="{{ '/assets/components/button.svg' | url }}" alt="Button" style="--inline-img-max-width: 340px;">
        {%- endcall %}
        <h3>Button</h3>
        <p>Allows a user to perform an action when triggered</p>
      </a>
    </div>

    <div class="padding-stacked">
      <a href="../components/call-to-action">
        {% call components.example(palette='descriptive') %}
          <img src="{{ '/assets/components/call-to-action.svg' | url }}" alt="Call to action" style="--inline-img-max-width: 340px;">
        {%- endcall %}
        <h3>Call to action</h3>
        <p>Directs a user to other pages or displays extra content</p>
      </a>
    </div>

    <div class="padding-stacked">
      <a href="../components/card">
        {% call components.example(palette='descriptive') %}
          <img src="{{ '/assets/components/card.svg' | url }}" alt="Card" style="--inline-img-max-width: 330px;">
        {%- endcall %}
        <h3>Card</h3>
        <p>Gives a preview of information in a small layout</p>
      </a>
    </div>

    <div class="padding-stacked">
      <a href="../components/disclosure">
        {% call components.example(palette='descriptive') %}
          <img src="{{ '/assets/components/disclosure.svg' | url }}" alt="Disclosure" style="--inline-img-max-width: 340px;">
        {%- endcall %}
        <h3>Disclosure</h3>
        <p>Toggles the visibility of one section of content</p>
      </a>
    </div>

    <div class="padding-stacked">
      <a href="../components/filter">
        {% call components.example(palette='descriptive') %}
          <img src="{{ '/assets/components/filter.svg' | url }}" alt="Filter" style="--inline-img-max-width: 340px;">
        {%- endcall %}
        <h3>Filter</h3>
        <p>Sorts a data set by predetermined sections and tags</p>
      </a>
    </div>

    <div class="padding-stacked">
      <a href="../components/form">
        {% call components.example(palette='descriptive') %}
          <img src="{{ '/assets/components/form.svg' | url }}" alt="Form" style="--inline-img-max-width: 340px;">
        {%- endcall %}
        <h3>Form</h3>
        <p>Collects a specific amount of information from a user</p>
      </a>
    </div>

    <div class="padding-stacked">
      <a href="../components/jump-links">
        {% call components.example(palette='descriptive') %}
          <img src="{{ '/assets/components/jump-links.svg' | url }}" alt="Jump links" style="--inline-img-max-width: 340px;">
        {%- endcall %}
        <h3>Jump links</h3>
        <p>Moves a user to content when a link is selected</p>
      </a>
    </div>

    <div class="padding-stacked">
      <a href="../components/link-with-icon">
        {% call components.example(palette='descriptive') %}
          <img src="{{ '/assets/components/link-with-icon.svg' | url }}" alt="Link with icon" style="--inline-img-max-width: 340px;">
        {%- endcall %}
        <h3>Link with icon</h3>
        <p>An icon next to a link that adds extra context</p>
      </a>
    </div>

    <div class="padding-stacked">
      <a href="../components/modal">
        {% call components.example(palette='descriptive-gray') %}
          <img src="{{ '/assets/components/modal.svg' | url }}" alt="Modal" style="--inline-img-max-width: 320px;">
        {%- endcall %}
        <h3>Modal</h3>
        <p>Displays information or helps a user focus on a task</p>
      </a>
    </div>

    <div class="padding-stacked">
      <a href="../components/navigation">
        {% call components.example(palette='descriptive') %}
          <img src="{{ '/assets/components/navigation.svg' | url }}" alt="Navigation" style="--inline-img-max-width: 340px;">
        {%- endcall %}
        <h3>Navigation</h3>
        <p>Helps a user move seamlessly through a website</p>
      </a>
    </div>

    <div class="padding-stacked">
      <a href="../components/promo-banner">
        {% call components.example(palette='descriptive-light-gray') %}
          <img src="{{ '/assets/components/promo-banner.svg' | url }}" alt="Promo banner" style="--inline-img-max-width: 340px;">
        {%- endcall %}
        <h3>Promo banner</h3>
        <p>Advertises a promotional message or offer</p>
      </a>
    </div>

    <div class="padding-stacked">
      <a href="../components/search-bar">
      {% call components.example(palette='descriptive') %}
        <img src="{{ '/assets/components/search-bar.svg' | url }}" alt="Search bar" style="--inline-img-max-width: 340px;">
      {%- endcall %}
      <h3>Search bar</h3>
      <p>Anchored to the bottom edge of a page as content scrolls</p>
      </a>
    </div>

    <div class="padding-stacked">
    <a href="../components/skip-nav">
      {% call components.example(palette='descriptive') %}
        <img src="{{ '/assets/components/skip-nav.svg' | url }}" alt="Skip nav" style="--inline-img-max-width: 330px;">
      {%- endcall %}
      <h3>Skip navigation</h3>
      <p>Jumps a user down to the main section of content</p>
      </a>
    </div>

    <div class="padding-stacked">
    <a href="../components/sticky-banner">
      {% call components.example(palette='descriptive') %}
        <img src="{{ '/assets/components/sticky-banner.svg' | url }}" alt="Sticky banner" style="--inline-img-max-width: 340px;">
      {%- endcall %}
      <h3>Sticky banner</h3>
      <p>Anchored to the bottom edge of a page as content scrolls</p>
      </a>
    </div>

    <div class="padding-stacked">
    <a href="../components/sticky-card">
      {% call components.example(palette='descriptive') %}
        <img src="{{ '/assets/components/sticky-card.svg' | url }}" alt="Sticky card" style="--inline-img-max-width: 290px;">
      {%- endcall %}
      <h3>Sticky card</h3>
      <p>Anchored to the right edge of a page as content scrolls</p>
      </a>
    </div>

    <div class="padding-stacked">
    <a href="../components/tabs">
      {% call components.example(palette='descriptive') %}
        <img src="{{ '/assets/components/tabs.svg' | url }}" alt="Tabs" style="--inline-img-max-width: 340px;">
      {%- endcall %}
      <h3>Tabs</h3>
      <p>Organizes content in a contained view on the same page</p>
      </a>
    </div>

    <div class="padding-stacked">
    <a href="../components/tooltip">
      {% call components.example(palette='descriptive') %}
        <img src="{{ '/assets/components/tooltip.svg' | url }}" alt="Tooltip" style="--inline-img-max-width: 340px;">
      {%- endcall %}
      <h3>Tooltip</h3>
      <p>Provides helpful information when hovered or focused</p>
      </a>
    </div>

    <div class="padding-stacked">
    <a href="../components/video-thumbnail">
      {% call components.example(palette='descriptive') %}
        <img src="{{ '/assets/components/video-thumbnail.svg' | url }}" alt="Video thumbnail" style="--inline-img-max-width: 380px;">
      {%- endcall %}
      <h3>Video thumbnail</h3>
      <p>Indicates that a video can be played inline or in a modal</p>
      </a>
    </div>

  </div>

<hr class="margin-bottom--10">

<div class="multi-column--min-300-wide">

  <div>
  {% call components.section("Feedback") -%}
    <p>To give feedback about an existing component or to request a new one <a href="https://github.com/patternfly/patternfly-elements">contact us</a>.</p>
  {%- endcall %}
  </div>
  <div>
  {% call components.section("Foundations") -%}
    <p>To learn more about color, grid, and typography usage, visit the <a href="../foundations">Foundations section</a>.</p>
  {%- endcall %}
  </div>
</div>
