---
layout: _templates/layout-basic.njk
title: Design/code status
---


{% import '_templates/component/components.njk' as components %}

{% call components.section("Overview") -%}

  <p>Our team is building a robust library of components as quickly as possible. When we add new components or make significant updates to existing components, we’ll try and update this status table so it’s clear what’s available to use.</p>

{%- endcall %}

{% call components.section("Design/code status") -%}

    <section class="section">
        <div>
          <table width="100%" style="overflow:auto;" class="status-table">
            <thead style="overflow:auto;">
                <tr>
                    <th>Component or pattern name</th>
                    <th>Design</th>
                    <th>Code repo</th>
                    <th>Documentation</th>
                </tr>
            </thead>
            <tbody style="overflow:auto;">
                <tr>
                    <td><a href="../components/accordion">Accordion</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>PFE</div><div>Studio</div><div>WebRH</div></td>
                    <td><a href="../components/accordion">Available</a></td>
                </tr>
                <tr>
                    <td><a href="../components/alert">Alert</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>Adobe Target</div></td>
                    <td><a href="../components/alert">Available</a></td>
                </tr>
                <tr>
                    <td><a href="../components/announcement-banner">Announcement banner</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>PFE</div><div>Studio</div></td>
                    <td><a href="../components/announcement-banner">Available</a></td>
                </tr>
                <tr>
                    <td><a href="../components/audio-player">Audio player</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>Studio</div></td>
                    <td><a href="../components/audio-player">Available</a></td>
                </tr>
                <tr>
                    <td><a href="../components/avatar">Avatar</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>Custom</div></td>
                    <td><a href="../components/avatar">Available</a></td>
                </tr>
                <tr>
                    <td><a href="../components/blockquote">Blockquote</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>Custom</div></td>
                    <td><a href="../components/blockquote">Available</a></td>
                </tr>
                <tr>
                    <td><a href="../components/button">Button</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>Custom</div></td>
                    <td><a href="../components/button">Available</a></td>
                </tr>
                <tr>
                    <td><a href="../components/call-to-action">Call to action</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>Multiple <span class="tool" data-tip="Parts of this feature are built in different repos. View the documentation page for more info" tabindex="2">?</span></div></td>
                    <td><a href="../components/call-to-action">Available</a></td>
                </tr>
                <tr>
                    <td><a href="../components/card">Card</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>Multiple <span class="tool" data-tip="Parts of this feature are built in different repos. View the documentation page for more info" tabindex="2">?</span></div></td>
                    <td><a href="../components/card">Available</a></td>
                </tr>
                <tr>
                    <td>Code block</td>
                    <td><span>In progress</span></td>
                    <td><div><span class="deemphasized">Not coded yet</span></div></td>
                    <td><span class="deemphasized">Backlog</span></td>
                </tr>
                <tr>
                    <td><a href="../components/cookie-banner">Cookie banner</a></td>
                    <td><span class="blocked">On hold</span></td>
                    <td><div>WebRH</div></td>
                    <td><span class="deemphasized">Backlog</span></td>
                </tr>
                <tr>
                    <td><a href="../components/disclosure">Disclosure</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>PFE</div><div>WebRH</div></td>
                    <td><a href="../components/disclosure">Available</a></td>
                </tr>
                <tr>
                    <td><a href="../components/form">Dropdown</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>PFE</div></td>
                    <td><span class="deemphasized">In progress</span></td>
                </tr>
                <tr>
                    <td><a href="../components/filter">Filter</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>PFE</div><div>WebRH</div></td>
                    <td><a href="../components/filter">Available</a></td>
                </tr>
                <tr>
                    <td>Footer group</td>
                    <td><span class="blocked">On hold</span></td>
                    <td><span class="deemphasized">Not coded yet</span></td>
                    <td><span class="deemphasized">Backlog</span></td>
                </tr>
                <tr>
                    <td><a href="../components/form">Form</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>Multiple <span class="tool" data-tip="Parts of this feature are built in different repos. View the documentation page for more info" tabindex="2">?</span></div></td>
                    <td><a href="../components/form">Available</a></td>
                </tr>
                <tr>
                    <td><a href="../foundations/grid">Grid</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>PFE</div><div>WebRH</div><div>Studio</div></td>
                    <td><a href="../foundations/grid">Available</a></td>
                </tr>
                <tr>
                    <td>Hero</td>
                    <td><span class="success">Complete</span></td>
                    <td><span class="deemphasized">Not coded yet</span></td>
                    <td><span class="deemphasized">Backlog</span></td>
                </tr>
                <tr>
                    <td><a href="../foundations/jump-links">Jump links</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>PFE</div></td>
                    <td><a href="../foundations/grid">Available</a></td>
                </tr>
                <tr>
                    <td>Label</td>
                    <td><span class="deemphasized">In progress</span></td>
                    <td><span class="deemphasized">Not coded yet</span></td>
                    <td><span class="deemphasized">Backlog</span></td>
                </tr>
                <tr>
                    <td><a href="../components/link-with-icon">Link with icon</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>Custom</div></td>
                    <td><a href="../components/link-with-icon">Available</a></td>
                </tr>
                <tr>
                    <td><a href="../components/modal">Modal - content</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>PFE</div></td>
                    <td><a href="../components/modal">Available</a></td>
                </tr>
                <tr>
                    <td><a href="../components/modal">Modal - video player</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>Custom</div></td>
                    <td><a href="../components/modal">Available</a></td>
                </tr>
                <tr>
                    <td><a href="../components/navigation">Navigation</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>PFE</div><div>WebRH</div></td>
                    <td><a href="../components/navigation">Available</a></td>
                </tr>
                <tr>
                    <td>Pagination</td>
                    <td><span class="deemphasized">In progress</span></td>
                    <td><span class="deemphasized">Not coded yet</span></td>
                    <td><span class="deemphasized">Backlog</span></td>
                </tr>
                <tr>
                    <td><a href="../components/promo-banner">Promo banner</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>WebRH</div></td>
                    <td><a href="../components/promo-banner">Available</a></td>
                </tr>
                <tr>
                    <td><a href="../components/search-bar">Search bar</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>Custom</div></td>
                    <td><a href="../components/search-bar">Available</a></td>
                </tr>
                <tr>
                    <td><a href="../components/skip-to-main">Skip navigation</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>PFE</div></td>
                    <td><a href="../components/skip-to-main">Available</a></td>
                </tr>
                <tr>
                    <td><a href="../components/sticky-banner">Sticky banner</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>Studio</div><div>Adobe Target</div></td>
                    <td><a href="../components/sticky-banner">Available</a></td>
                </tr>
                <tr>
                    <td><a href="../components/sticky-card">Sticky card</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>Studio</div></td>
                    <td><a href="../components/sticky-card">Available</a></td>
                </tr>
                <tr>
                    <td>Table</td>
                    <td><span class="deemphasized">In progress</span></td>
                    <td><span class="deemphasized">Not coded yet</span></td>
                    <td><span class="deemphasized">Backlog</span></td>
                </tr>
                <tr>
                    <td><a href="../components/tabs">Tabs</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>Multiple <span class="tool" data-tip="Parts of this feature are built in different repos" tabindex="2">?</span></div></td>
                    <td><a href="../components/tabs">Available</a></td>
                </tr>
                <tr>
                    <td><a href="../components/tooltip">Tooltip</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>Custom</div></td>
                    <td><a href="../components/tooltip">Available</a></td>
                </tr>
                <tr>
                    <td><a href="../foundations/typography">Typography</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>Multiple <span class="tool" data-tip="Parts of this feature are built in different repos. View the documentation page for more info" tabindex="2">?</span></div></td>
                    <td><a href="../foundations/typography">Available</a></td>
                </tr>
                <tr>
                    <td><a href="../foundations/video-thumbnail">Video thumbnail</a></td>
                    <td><span class="success">Complete</span></td>
                    <td><div>Studio</div></td>
                    <td><a href="../foundations/video-thumbnail">Available</a></td>
                </tr>
            </tbody>
        </table>
    </section>

{%- endcall %}

<div>

  {% call components.section("Make a request") -%}
    <p>To request a new component or pattern, create an issue in our <a href="https://github.com/patternfly/patternfly-elements">GitHub repo</a>. To submit any changes to an existing component or pattern <a href="../contact">contact us</a>.</p>
  {%- endcall %}

</div>
