---
layout: _templates/layout-basic.njk
title: Overview
order: 0
---

{% import '_templates/component/get-started.njk' as getstarted %}

{% call getstarted.section("Introduction to libraries") -%}

  <p>We use several Adobe XD libraries to serve the consumers of the <strong>Red Digital Design System</strong> and other web tools. Depending on your needs, you may request an invite to access one or more of our libraries. Each library is updated regularly so rest assured you will always be working with the latest colors, character styles, components, and more. To learn how to use libraries, watch the following video.</p>

  <iframe width="1000" height="563" src="https://www.youtube.com/embed/O_GuOnqIOW4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{%- endcall %}

{% call getstarted.section("Adobe XD") -%}

  <p>All of our libraries are maintained in XD, it needs to be installed so you can use features like <a href="https://www.adobe.com/products/xd/learn/prototype/component-states/component-states-common-use-cases.html" target="_blank">Component States</a> and <a href="https://www.adobe.com/products/xd/learn/prototype.html" target="_blank">Prototyping</a>. After XD is installed, your Adobe account needs to be switched to the <strong>Adobe for Teams</strong> plan. Contact your manager for further assistance if necessary.</p>

  <pfe-cta pfe-priority="secondary">
    <a href="https://redhat.service-now.com/help?id=sc_cat_item&sys_id=488f88c3956221004c71bb9efe94def5" target="_blank">Request an Adobe for Teams plan</a>
  </pfe-cta>

  <pfe-cta style="margin-left:32px;">
    <a href="https://www.adobe.com/products/xd.html" target="_blank">Download Adobe XD</a>
  </pfe-cta>

{%- endcall %}

{% call getstarted.section("Available libraries") -%}

  <p>Our design system includes the following libraries.</p>

  <ul>
    <li><strong>Design system kit</strong> - Themed assets used to build Red Hat web properties</li>
    <li><strong>FTS starter kit</strong> - Flexible Template System (FTS) patterns that can be customized in XD and built in Drupal</li>
    <li><strong>Brand/UI icon library</strong> - Icons created and used by the Brand and Design system teams</li>
    <li><strong>Product logo library</strong> - Current collection of product logos</li>
  </ul>

{%- endcall %}

{% call getstarted.section("Library vs. kit") -%}

    <p>A library is how XD manages and distributes colors, character styles, and components that were created in XD or imported from another design program. The term <strong>library</strong> is generic because it can include anything whereas the term <strong>kit</strong> is more specific like a kit of parts built for a single use case, for example the <a href="../getstarted/design-system-kit">Design system kit</a>. A kit is also a library, but we use the term kit to identify a specific collection of elements used for one purpose only.<p>

{%- endcall %}

{% call getstarted.section("Request an invite") -%}

    <p>Ensure that you have XD installed and your Adobe account is in order before requesting an invite to access our libraries. When ready, <a href="mailto:digital-design-system@redhat.com">contact us</a> and tell us about you and what you are working on in relation to what libraries you want to use.</p>

{%- endcall %}

<div class="multi-column--min-300-wide">
  <div>
    {% call getstarted.section("Feedback") -%}
      <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
    {%- endcall %}
  </div>
  <div>
    {% call getstarted.section("Our libraries") -%}
      <p>Our libraries include a variety of <a href="../getstarted/design-system-kit">components</a>, <a href="../getstarted/fts-starter-kit">patterns</a>, <a href="../getstarted/icon-library">brand and UI icons</a>, and <a href="../getstarted/logo-library">product logos</a>.</p>
    {%- endcall %}
  </div>
</div>
