---
layout: _templates/layout-basic.njk
title: Get started
includeComponent:
  - pfe-modal
---

<!--NEEDS LINKS!!-->

{% import '_templates/component/components.njk' as components %}

{% call components.section("Setting up") -%}

  <p>Our design system kit is created and maintained in Adobe XD. It includes colors, text styles, components, patterns, and more that you can use in your designs. To request access to the shared design system kit library, follow the instructions below. Adobe XD publishes new assets or changes made to assets automatically, so you're always working with the latest elements and designs. The design system kit can also be viewed online if you need more details.</p>

  <div class="margin-top--4 inline-stack-mobile">
    <pfe-cta pfe-priority="secondary" style="margin-right:32px;">
      <a href="https://xd.adobe.com/spec/3e62e93c-8338-4f31-5040-3b81f0ed5c71-4853/grid">Browse the design system kit</a>
    </pfe-cta>
    <pfe-cta>
      <a href="https://www.adobe.com/products/xd.html">Download Adobe XD</a>
    </pfe-cta>
  </div>

{%- endcall %}

  <hr class="margin-top--10 margin-bottom--10">

{% call components.section("Start working") -%}

  <p>If you’d like to start working with our design system kit, please follow these steps.</p>

  <div class="list-box">
    <div class="list-box--item">
      <div class="list-box--item-number">
        <span>1</span>
      </div>
      <div class="list-box--item-description">
        <h4>Request an invite to the library</h4>
        <p>You must <a href="mailto:digital-systems-web-team@redhat.com">send us an email</a> about your interest in the shared design system kit and we’ll invite you to the library.</a></p>
      </div>
    </div>
    <div class="list-box--item">
      <div class="list-box--item-number">
        <span>2</span>
      </div>
      <div class="list-box--item-description">
        <h4>Sync the library</h4>
        <p>When you accept the invite, the library will sync. There are lots of elements, so this process might take a few minutes.</p>
      </div>
    </div>
    <div class="list-box--item">
      <div class="list-box--item-number">
        <span>3</span>
      </div>
      <div class="list-box--item-description">
      <pfe-modal id="connect-kit">
        <h2 slot="pfe-modal--header">Load the library</h2>
        <p>When the library is fully synced, it should appear in the Libraries panel in Adobe XD.</p>
        <div style="text-align:center;">
          <img src="{{ '/assets/get-started/get-started-modal-image-1.svg' | url }}" alt="Library title screenshot" style="padding-top:30px;padding-bottom:20px;max-width:286px;text-align:center;margin:0 auto;">
        </div>
        <p>If you don't see the library, select the Browse libraries link below the Document Assets library. You may need to activate the library by turning on the switch.</p>
        <div style="text-align:center;">
          <img src="{{ '/assets/get-started/get-started-modal-image-2.svg' | url }}" alt="Switch library on" style="padding-top:30px;padding-bottom:20px;max-width:380px;text-align:center;margin:0 auto;">
        </div>
      </pfe-modal>

        <h4>Load the library</h4>
        <p>When fully synced, the library will appear in the <a class="modal-launch" onclick="document.getElementById('connect-kit').open()">Libraries panel</a>. Clicking on the library will load the available designs.</p>
      </div>
    </div>
    <div class="list-box--item">
      <div class="list-box--item-number">
        <span>4</span>
      </div>
      <div class="list-box--item-description">
        <h4>Browse the website</h4>
        <p>Browse the website to familiarize yourself with our <a href="../foundations">Foundations</a>, <a href="../components">Components</a>, and much more.</p>
      </div>
    </div>
    <div class="list-box--item">
      <div class="list-box--item-number">
        <span>5</span>
      </div>
      <div class="list-box--item-description">
        <h4>Component docs</h4>
        <p>Educate yourself about the best practices of components, patterns, etc. before using them in your designs.</p>
      </div>
    </div>
    <div class="list-box--item">
      <div class="list-box--item-number">
        <span>6</span>
      </div>
      <div class="list-box--item-description">
        <h4>Drag and drop</h4>
        <p>Create robust designs and experiences by dragging and dropping components and patterns on the canvas.</p>
      </div>
    </div>
  </div>

  {%- endcall %}


{% call components.section("Make a request") -%}

  <p>To request a new component or pattern, create an issue in our <a href="https://github.com/RedHat-UX">GitHub repo</a>. To submit any changes to an existing component or pattern, <a href="#contact-info">contact us</a>.</p>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Contact us") -%}

<div id="contact-info">
  <p>We're an open team who wants to build the future of Red Hat’s web properties and digital systems together. If you'd like to contribute, contact us using one of the methods below.</p>

  <ul>
    <li>Email us at <a href="mailto:digital-systems-web-team@redhat.com">digital-systems-web-team@redhat.com</a></li>
    <li>Join the <a href="https://slack.patternfly.org/">PatternFly Slack group</a></li>
    <li>Join the <a href="https://chat.google.com/room/AAAAjvmjNdg">PatternFly Web Design Google Chat group</a></li>
  </ul>
</div>

{%- endcall %}
