---
layout: _templates/layout-basic.njk
title: Get started
---

<!--NEEDS LINKS!!-->

{% import '_templates/component/components.njk' as components %}

{% call components.section("Setting up") -%}

  <p>Our design kit is created in Adobe XD and includes various components and patterns for use in your designs. If the design kit is linked to your file, Adobe XD provides automatic updates of changes made to any of the components, so you’re always working with the latest designs. The design kit can also be viewed online if you need more design or development details about a component or pattern before you get started or while you’re working.</p>

  <div class="margin-top--4 inline">
    <pfe-cta pfe-priority="secondary" style="margin-right:16px;">
      <a href="https://www.adobe.com/products/xd.html">Download Adobe XD</a>
    </pfe-cta>
    <pfe-cta>
      <a href="https://xd.adobe.com/spec/3e62e93c-8338-4f31-5040-3b81f0ed5c71-4853/grid">Browse the design kit online</a>
    </pfe-cta>
  </div>

{%- endcall %}

  <hr class="margin-top--10 margin-bottom--10">

{% call components.section("Resources") -%}

  <p>You can browse the website to familiarize yourself with our <a href="../foundations">Foundations</a> and <a href="../components">Components</a>. When you’re ready to apply the design system, check out these resources.</p>

  <ul>
    <li><a href="https://github.com/RedHatOfficial/RedHatFont">Download Red Hat fonts</a></li>
    <li><a href="#">Link the Adobe XD design kit to a new or existing file</a></li>
    <li><a href="#">Download the Adobe XD design kit starter file</a></li>
    <li><a href="https://www.patternfly.org">Download the PatternFly Sketch design kit</a></li>
  </ul>

  {%- endcall %}

  <hr class="margin-top--10 margin-bottom--10">

{% call components.section("Make a request") -%}

  <p>To request a new component or submit customizations to an existing one, create an issue in our <a href="https://github.com/RedHat-UX">GitHub repo</a> or contact us.</p>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Contact us") -%}

  <p>We're an open team who wants to build the future of Red Hat’s web properties and digital systems together. If you’d like to contribute, contact us using one of the methods below.</p>

  <ul>
    <li>Send us an <a href="#">e-mail</a></li>
    <li>Join the <a href="#">PatternFly Slack group</a></li>
    <li>Join the <a href="https://chat.google.com/room/AAAAjvmjNdg">PatternFly Web Design Google Chat group</a></li>
  </ul>

{%- endcall %}