---
layout: _templates/layout-home.njk
title: Home
---

      <div class="container">
        <div class="centered">
          <div class="margin-top--12">
            {# <img class="margin-bottom--4" src="{{ '/assets/home/workflow-icon.svg' | url }}" alt="Process"> #}
            <h2 class="section-headline">Red&nbsp;Hat digital design system</h2>
            <h1 class="pfe-headline-xxl">Open&nbsp;source meets open&nbsp;design</h1>
            <img class="margin-top--8" src="{{ '/assets/home/component-examples.svg' | url }}" alt="Component examples">
          </div>
        </div>
        <div class="centered feature-box">
            <h2 class="feature-headline">Designing Red&nbsp;Hat digital experiences</h2>
            <p>We rely on the design system to create intuitive digital experiences across Red Hat®. Using <a href="https://brand.redhat.com">Red&nbsp;Hat brand standards</a> and <a href="https://www.patternfly.org/v4/">PatternFly</a> as our foundational design language, this system enables designers and developers across teams to create consistent and scalable digital experiences across <a href="https://www.redhat.com/">redhat.com</a>, <a href="https://www.openshift.com/">openshift.com</a>, <a href="https://access.redhat.com/">Red Hat Customer Portal</a>, and beyond.</p>
            <pfe-cta pfe-priority="secondary">
              <a href="/about">Learn more</a>
            </pfe-cta>
            <br>
            <pfe-cta style="margin-top:48px;">
              <a href="https://www.patternfly.org">Designing Red Hat products? Visit PatternFly</a>
            </pfe-cta>
        </div>
        <div class="">
          <div class="margin-top--10 margin-bottom--2 centered">
            <h2 class="pfe-headline-alpha">Get started</h2>
            <p>Principles and documentation to help you start creating web experiences</p>
          </div>
          <div class="multi-column--2-1-1">
            <div class="description-box">
            <a href="/foundations">
              <div class="asset-header">
                  <img src="{{ '/assets/home/foundations.svg' | url }}" alt="Foundations" style="--inline-img-max-width: 255px;">
              </div>
             </a>
              <h4><a href="/foundations">Foundations</a></h4>
              <p>Design principles to help you create engaging layouts</p>
              <pfe-cta>
                  <a href="/foundations">View foundations</a>
              </pfe-cta>
            </div>

            <div class="description-box">
              <a href="/components">
                <div class="asset-header">
                    <img src="{{ '/assets/home/components.svg' | url }}" alt="Components" style="--inline-img-max-width: 308px;">
                </div>
              </a>
              <h4><a href="/components">Components</a></h4>
              <p>Guidance to help you create interactive user interfaces</p>
              <pfe-cta>
                  <a href="/components">View components</a>
              </pfe-cta>
            </div>

            <div class="description-box">
              <a href="/design-code-status">
              <div class="asset-header">
                  <img src="{{ '/assets/home/code-status.svg' | url }}" alt="Code status" style="--inline-img-max-width: 308px;">
                </div>
              </a>
              <h4><a href="/design-code-status">Code status</a></h4>
              <p>Track the status of our patterns and components</p>
              <pfe-cta>
                  <a href="/design-code-status">View code status</a>
              </pfe-cta>
            </div>

            <div class="description-box">
              <a href="/release-notes">
                <div class="asset-header">
                    <img src="{{ '/assets/home/release-notes.svg' | url }}" alt="Release notes" style="--inline-img-max-width: 308px;">
                </div>
              
              <h4><a href="/release-notes">Release notes</a></h4>
              <p>Track the updates we're making to the design system</p>
              <pfe-cta>
                  <a href="/release-notes">View release notes</a>
              </pfe-cta>
              </a>
            </div>
          </div>
        </div>
        <hr class="margin-top--10 margin-bottom--10">

        <div class="centered">
          <div class="margin-top--10">
            <h2 class="pfe-headline-alpha">Contribute</h2>
            <p>We welcome feedback in order to produce the best experiences for our users</p>
          </div>
        </div>

        <div class="centered">
          <div class="margin-top--6">
            <pfe-cta pfe-priority="secondary">
                <a href="/get-started#contact-info">Submit feedback</a>
            </pfe-cta>
          </div>
        </div>
      </div>
