---
layout: _templates/layout-home.njk
title: Home page
---

      <div class="container">
        <div class="centered">
          <div class="margin-top--6">
            <img src="http://www.placehold.it/205x48">
            <p class="section-headline">Open source, meet open design</p>
            <h1 class="pfe-headline-xxxl">Red Hat design system</h1>
            <img src="http://www.placehold.it/1000x560">
          </div>
          <hr class="margin-top--6">
        </div>
        <div class="centered">
          <div class="margin-top--8">
            <h2 class="pfe-headline-beta">About the Red Hat design system</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit aliquet mauris, in consequat lorem ullamcorper a. Curabitur tempor ante vitae ultrices dignissim. Nullam ut urna eros. Morbi interdum luctus lacus, lacinia tempor purus dignissim id.</p>
            <pfe-cta pfe-priority="secondary">
              <a href="#">Learn more</a>
            </pfe-cta>
          </div>
          <hr class="margin-top--8">
        </div>
      </div>