---
layout: _templates/layout-home.njk
title: Home page
---

      <div class="container">
        <div class="centered">
          <div class="margin-top--10">
            <img src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--200.png">
            <h2 class="section-headline">Open source, meet open design</h2>
            <h1 class="pfe-headline-xxxl">Red Hat design system</h1>
            <img class="margin-top--8" src="http://www.placehold.it/1000x560/F5F5F5">
          </div>
          <hr class="margin-top--10">
        </div>
        <div class="centered section">
          <div class="margin-top--10">
            <h2 class="pfe-headline-beta">About the Red Hat design system</h2>
            <p>Our Red Hat design system's purpose is to represent the <a href="https://brand.redhat.com">Red Hat brand</a> digitally, helping to create a consistent experience for users across marketing, products and support. Our foundations are shared with <a href="https://www.patternfly.org/v4/">PatternFly</a>, an open source design system that feeds the user interfaces of our enterprise applications and beyond.</p>
            <pfe-cta pfe-priority="secondary">
              <a href="#">Learn more</a>
            </pfe-cta>
          </div>
          <hr class="margin-top--10">
        </div>
        <div class="centered section">
          <div class="margin-top--10">
            <h2 class="pfe-headline-beta">Fundamentals</h2>
            <p>Our shared design language sets its roots in clean, open and accessible design, much like the open source company it serves.</p>
          </div>
        </div>
        <div class="multi-column--2-1-1">
          <div>
            <img src="http://www.placehold.it/468x240/F5F5F5" />
            <h4>Foundations</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <pfe-cta>
                <a href="#">View foundations</a>
            </pfe-cta>
          </div>

          <div>
            <img src="http://www.placehold.it/468x240/F5F5F5" />
            <h4>Foundations</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <pfe-cta>
                <a href="#">View foundations</a>
            </pfe-cta>
          </div>

          <div>
            <img src="http://www.placehold.it/468x240/F5F5F5" />
            <h4>Foundations</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <pfe-cta>
                <a href="#">View foundations</a>
            </pfe-cta>
          </div>

          <div>
            <img src="http://www.placehold.it/468x240/F5F5F5" />
            <h4>Foundations</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <pfe-cta>
                <a href="#">View foundations</a>
            </pfe-cta>
          </div>
        </div>
        <hr class="margin-top--10 margin-bottom--10">

        <div class="centered">
          <div class="margin-top--10">
            <h2 class="pfe-headline-beta">What's new</h2>
          </div>
        </div>

        <div class="multi-column--2-1-1">
          <div>
            <h4>The Red Hat design system website is live</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit aliquet mauris, in consequat lorem ullamcorper a.</p>
          </div>

          <div>
            <h4>Foundations</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit aliquet mauris, in consequat lorem ullamcorper a.</p>
          </div>

        </div>

        <div class="centered">
          <div class="margin-top--6">
            <pfe-cta pfe-priority="secondary">
                <a href="#">View all</a>
            </pfe-cta>
          </div>
        </div>
      </div>