---
layout: _templates/layout-basic.njk
title: Release notes
---

{% import '_templates/component/components.njk' as components %}

{% call components.section("Overview") -%}

  <p>We're continually improving the Red Hat design system. The following changes are listed by the date we completed each change. The changes will be publicly available in the next major release following the listed date.</p>

{%- endcall %}

{% call components.section("Design kit v1.7.0") -%}

  <p>Released on March 15, 2021.</p>

  <div class="margin-top--8 section section--definition-list">

    <h3>Added</h3>

    <p><strong>Breadcrumb</strong></p>

    <ul>
      <li>Added <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/4258979a-9123-4567-98e6-5b5406e58cca">light</a> and <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/f3488c16-522f-4cd2-a987-357feec0d8a9">dark</a> themes</li>
    </ul>

    <p><strong>Default hero</strong></p>

    <ul>
      <li>Added <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/f1793a82-bed8-40a3-a303-5d583b525d49">light</a> and <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/090d01a1-b2b7-4526-8e08-abfe0939ae61">dark</a> themes</li>
    </ul>

    <p><strong>External link icon</strong></p>

    <ul>
      <li>Added <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/dfec9c51-30e1-4463-8a35-97f08c2ed2d3">light</a> and <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/02a63f00-4530-434c-a835-0fb46b2f311a">dark</a> themes</li>
    </ul>

    <p><strong>Jump links</strong></p>

    <ul>
      <li>Added a <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/6ca27f98-95d9-492d-a511-bf6729460bfb">horizontal</a> layout</li>
    </ul>

    <p><strong>Link styles</strong></p>

    <ul>
      <li>Added <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/a554c129-dbb0-40c0-a72d-440cee9d5fb1">light</a> and <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/8f879244-899f-403d-857a-8e2bfe486ea3">dark</a> themes</li>
    </ul>

    <p><strong>Primary navigation</strong></p>

    <ul>
      <li>Added a <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/ce406da3-f000-43ca-b778-c8a8a673d2cc">full tray version</a> (all breakpoints)</li>
      <li>Added <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/3c9df26c-20b6-418e-a73b-d4cbb4670639">2-column</a> and <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/4b0d2a2f-bc04-4a37-bfd6-5ede6134b465">3-column</a> compact tray layouts (Desktop only)</li>
      <li>Added a bar layout with a <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/365c0d1a-6e94-4b32-be52-045d8611b0e4">Logged in avatar</a> (all breakpoints, currently redhat.com only)</li>
    </ul>

    <p><strong>Popover</strong></p>

    <ul>
      <li>Added  <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/6e602f56-5d52-4883-88b0-08aee536f890">light</a> and <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/e94b3fb8-e620-4444-8531-9914cdbe09ca">dark</a> themes</li>
    </ul>

    <p><strong>Progress steps</strong></p>

    <ul>
      <li>Added <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/cbf08024-32d6-4303-a15d-1542fac0b54e">Horizontal</a>, <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/f4b86d26-77fa-4b80-99a5-adb99fcc56aa">Horizontal (compact)</a>, and <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/e329eff3-807d-41c5-adf6-2f312c32450c">Vertical</a> layouts</li>
    </ul>

    <p><strong>Stateful button</strong></p>

    <ul>
      <li>Added a <em>Clipboard</em> Stateful button in <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/3b793334-4bd3-4208-9366-bba9b8deca8c">light</a> and <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/4488a985-8cf8-4b2b-88c7-116cff3eea32">dark</a> themes</li>
      <li><a href="https://lightningdesignsystem.com/components/buttons/?variant=stateful#Stateful">Learn more about Stateful buttons</a></li>
    </ul>

    <p><strong>Switch</strong></p>

    <ul>
      <li>Added variants <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/4074c4b7-04ae-441e-80fd-21210d7680d2/">with and without labels</a></li>
    </ul>

    <h3>Changed</h3>

    <p><strong><a href="../components/announcement-banner">Announcement</a></p></strong>
    
    <ul>
      <li>Changed the large variants (Desktop and Tablet) to support background images</li>
    </ul>
    
    <p><strong><a href="../components/modal">Modal</a></p></strong>

    <ul>
      <li>Changed background opacity to align 1:1 with PatternFly</li>
    </ul>

<hr class="margin-top--10">

{%- endcall %}

{% call components.section("Design kit v1.6.0") -%}

  <p>Released on October 6, 2020.</p>

  <div class="margin-top--8 section section--definition-list">

    <h3>Added</h3>

    <p><strong><a href="../components/avatar">Avatar</a></strong></p>

    <ul>
      <li>Added dark theme Default avatar</li>
      <li>Added dark theme Default avatar with attribution text</li>
    </ul>

    <p><strong><a href="../components/button">Button</a></p></strong>

    <ul>
      <li>Added dark theme Default avatar</li>
      <li>Added dark theme Default avatar with attribution text</li>
    </ul>

    <p><strong><a href="../foundations/color">Color</a></p></strong>
    
    <ul>
      <li>Added dark theme Danger color (#e74c3c)</li>
    </ul>

    <p><strong><a href="../components/form">Form</a></p></strong>

    <ul>
      <li>Added light and dark theme Dynamic form</li>
      <li>Added dark theme Standard form</li>
      <li>Added dark theme input groups for Standard form</li>
    </ul>

    <p><strong>Label</p></strong>

    <ul>
      <li>Added filled and outlined Labels</li>
    </ul>

    <p><strong><a href="../components/sticky-card">Sticky card</a></p></strong>

    <ul>
      <li>Added light and dark theme Sticky cards as part of collecting Personalization patterns</li>
    </ul>

    <p><strong><a href="../components/tooltip">Tooltip</a></p></strong>

    <ul>
      <li>Added dark Tooltips in top, right, bottom, and left orientations</li>
      <li>Added drop shadow to dark Tooltip</li>
    </ul>

    <p><strong><a href="../foundations/typography">Typography</a></p></strong>

    <ul>
      <li>Added dark theme text styles for desktop</li>
      <li>Added dark theme list styles for desktop</li>
    </ul>

    <h3>Changed</h3>

    <p><strong><a href="../components/blockquote">Blockquote</a></p></strong>
    
    <ul>
      <li>Moved light and dark theme quote text below quote icon in all left-aligned configurations</li>
    </ul>
    
    <p><strong><a href="../foundations/color">Color</a></p></strong>

    <ul>
      <li>Changed dark theme link color for better accessibility</li>
    </ul>

    <p><strong>Interaction states</p></strong>

    <ul>
      <li>Changed color of focus indicator to stay current with browsers</li>
    </ul>

    <p><strong>Naming</p></strong>

    <ul>
      <li>Changed <em>Form</em> to <em>Standard form</em></li>
    </ul>

    <p><strong><a href="../components/tabs">Tabs - Box</a></p></strong>

    <ul>
      <li>Changed styling of tab group to include inset on left</li>
    </ul>

    <h3>Deprecated</h3>
    
    <p><strong>Global</p></strong>

    <ul>
      <li>Deleted <em>Delete me</em> empty layers in all components</li>
    </ul>

    <p><strong><a href="../components/accordion">Accordion</a></p></strong>

    <ul>
      <li>Deleted light and dark theme Accordions for mobile because they’re redundant</li>
    </ul>
    
    <p><strong><a href="../components/alert">Alert</a></p></strong>

    <ul>
      <li>Deleted Inline alert variations because they’re not supported by PatternFly yet</li>
    </ul>

    <p><strong><a href="../components/announcement-banner">Announcement</a></p></strong>
    
    <ul>
      <li>Deleted black Announcement because it clashes with navigation bar</li>
    </ul>
    
    <p><strong><a href="../components/button">Button</a></p></strong>
    
    <ul>
      <li>Deleted <em>Large close buttons</em>, aligning to using one close button like PatternFly</li>
    </ul>

    <p><strong><a href="../components/call-to-action">Call to action</a></p></strong>
    <ul>
      <li>Deleted <em>Disabled</em> Call to action because it’s not used anywhere</li>
    </ul>

{%- endcall %}

{# {% call components.section("Design kit v1.5.0") -%}
    
    <p>Released: 6/19/20</p>

    Added
    Global
    Added descriptor labels to all content placeholders, e.g. shapes for icons, images, logos, etc.
    Audio player
    Added new light and dark theme Audio players and playback states
    Added Audio player UI icons, e.g. play, pause, volume controls, and settings
    Brand
    Added OpenShift and Ansible normal and reverse horizontal logos
    Card
    Added new Data card styles including one with Secondary Call to action
    Icon with link
    Added light and dark theme horizontal and vertical icon and text link lock-ups
    Modal
    Added a Video modal for mobile, landscape
    Spacing
    Added 2px spacer
    Table
    Added light and dark theme Tables for all breakpoints
    Added light and dark theme compact Tables for all breakpoints
    Unified nav
    Added full-width redhat.com unified nav bars for all breakpoints
    Added full-width openshift.com unified nav bars for all breakpoints
    Added full-width ansible.com unified nav bars for all breakpoints
    Added unified nav bar icons from Brand

    Changed
    Accordion
    Changed blue UI highlight in Accordions to RCUE brand red (Red Hat Common User Experience)
    Slightly adjusted spacing in Accordion expanded states to account for hover state
    Alert
    Added Close buttons to Alerts
    Audio player
    Reduced the appearance of too much red in UI
    Block quote
    Adjusted height of left bar and spacing after receiving feedback from the devs
    Card
    Slightly adjusted spacing in all cards that have Secondary Calls to action
    Default avatar
    Improved contrast of light theme Default avatar
    Naming
    Changed `Phone` to `Mobile`
    Changed `nav 2` to `Unified nav`
    Skip navigation
    Changed styling of Skip navigation to be centered and more prominent on the page
    Spacing
    Changed color of the 80px spacer to align to PatternFly


{%- endcall %}

{% call components.section("Design kit v1.4.0") -%}

    <p>Released: 4/13/20</p>

    Added
    Accordion
    Added light and dark theme documentation for when text labels break to two lines
    Alert
    Added Inline alerts, Inline alert variations, and Toast alerts
    Audio player
    Added light and dark theme Audio players
    Avatar
    Added light theme Default avatar with attribution text
    Added Default avatar to Avatar card
    Color
    Added $pf-color-black-150 (#F5F5F5) as new background color
    Added Alert, Inline alert, and Toast colors
    Documentation
    Created v1 documentation XD file for light theme Calls to action
    Disclosure
    Added light and dark theme documentation for when text labels break to two lines
    Interaction states
    Added hover interaction states to light and dark theme Calls to action
    Added hover interaction states to light and dark theme Buttons
    Jump links
    Added light and dark theme vertical jump links with subsections
    Added light and dark theme documentation for when vertical jump links scroll on top of different colored band backgrounds
    List
    Added Default list style
    Added Default list style with horizontal rules
    Added Unordered list style
    Added Ordered list style
    Added Nested list styles
    Tabs - Box
    Added dark theme horizontal Box tabs
    Added dark theme horizontal Box tabs with overflow scroll buttons
    Tooltip
    Added light Tooltips in top, right, bottom, and left orientations
    Typography
    Added caption text style under light and dark theme Video thumbnails
    Added character styles for mobile breakpoints

    Changed
    Global
    Changed blue UI highlight to RCUE red (Red Hat Common User Experience)
    Disclosure
    Adjusted spacers to align to PatternFly
    Naming
    Changed `Webinar card` to `Avatar card`
    Changed `Default button` to `Tertiary button`
    Jump links
    Changed dark theme Horizontal jump link colors to align to PatternFly
    Tabs
    Changed light and dark theme overflow scroll button colors to align to PatternFly

    <h3>Deprecated</h3>
    Alert
    Deprecated outdated Alerts and Inline alerts
    Card
    Deprecated redundant Avatar card

{%- endcall %}

{% call components.section("Design kit v1.3.0") -%}
    
    <p>Released: 2/19/20</p>

    Added
    Color
    Added artboard with PatternFly color values
    Added PatternFly color value names to swatches
    Call to action
    Added Disabled call to action
    Icon
    Added new icons to Unified nav
    Added new quote icon
    Jump links
    Added vertical jump links for desktop
    Spacing
    Added 80px spacer

    Changed
    Global
    Changed all UI highlights from 4px to 3px
    Accordion
    Design styles align to PatternFly and are 100% responsive
    Alert
    Design styles align to PatternFly and are 100% responsive
    Block quote
    Changed old Quote icon to new icon
    Button
    Design styles align to PatternFly and have fixed padding
    Color
    Gray (#72767b) changed to $pf-color-black-600 (#6a6e73) globally to align to PatternFly
    Call to action
    Design styles align to PatternFly and have fixed padding
    Disclosure
    Design styles align to PatternFly and are 100% responsive
    Filter
    Accordion component added inside and is 100% responsive
    Footer
    Changed copyright text to 2020
    Form
    Design styles align to PatternFly and are 100% responsive
    Input groups
    Design styles align to PatternFly and are 100% responsive
    Modal
    Design styles align to PatternFly and are 100% responsive
    Naming
    Changed `Sticky nav` to `Horizontal jump links`
    Changed `Primary tabs` to `Open tabs`
    Changed `Secondary tabs` to `Box tabs`
    Tabs
    Design styles align to PatternFly and are 100% responsive
    Video thumbnail
    Fixed scaling issue

    Deprecated
    Alert
    Deleted Admonition and Security alerts


  </div>

{%- endcall %} #}
