---
layout: _templates/layout-basic.njk
title: Release notes
---

{% import '_templates/component/components.njk' as components %}

{% call components.section("Overview") -%}

  <p>We're continually improving the Red Hat design system. The following changes are listed by the date we completed each change. The changes will be publicly available in the next major release following the listed date.</p>

{%- endcall %}

{% call components.section("Design kit v1.6.0") -%}

  <p>Released on Month XX, 2020.</p>

  <div class="margin-top--8">

    <h3>Added</h3>

    <h4><a href="../components/avatar">Avatar</a></h4>

    <ul>
      <li>Added dark theme Default avatar</li>
      <li>Added dark theme Default avatar with attribution text</li>
    </ul>

    <h4><a href="../components/button">Button</a></h4>

    <ul>
      <li>Added dark theme Default avatar</li>
      <li>Added dark theme Default avatar with attribution text</li>
    </ul>

  </div>

{%- endcall %}