#bordered {
    display: flex;
    gap: var(--rh-space-2xl, 32px);
    margin-block: var(--rh-space-xl, 24px);
    justify-content: center;
}
#bordered .logo {
    display: grid;
    position: relative;
    width: 190px;
    align-content: center;
    padding: 16px;
    border: 1px solid var(--rh-color-gray-30, #C7C7C7);
    border-radius: var(--rh-border-radius-default, 3px);
}
#bordered .logo img {
    max-height: 40px;
    width: 100%;
}
#bordered .logo:hover {
    background-color: var(--rh-color-gray-10, #F2F2F2);
    cursor: pointer;
}
#bordered .logo:is(:focus, :active) {
    outline: 2px solid var(--rh-color-accent-base-on-light, #0066cc);
    outline-offset: 0px;
}
#bordered .logo a:after {
    z-index: 3;
    content: "";
    position: absolute;
    inset: 0;
    display: block
}

#borderless {
    display: flex;
    gap: var(--rh-space-3xl, 64px);
    margin-block: var(--rh-space-xl, 24px);
    justify-content: center;
    & .logo {
        position: relative;
        width: 190px;
        align-content: center;
        padding: 16px 0 16px 0;
        & img {
            max-height: 40px;
            width: 100%;
        }
        &:hover {
            box-shadow: 0px 3px var(--rh-color-accent-brand-on-light, #ee0000);
        }
        &:is(:focus, :active) {
            box-shadow: 0px 3px var(--rh-color-accent-brand-on-light, #ee0000);
            outline: 2px solid var(--rh-color-accent-base-on-light, #0066cc);
            outline-offset: 0px;
        }
        & a:after {
            z-index: 3;
            content: "";
            position: absolute;
            inset: 0;
            display: block;
        }
    }
}