rh-pagination > nav {
  display: contents;
}

rh-pagination > nav > ol {
  list-style-type: none;
  display: contents;
}

rh-pagination li {
  display: contents;
}

rh-pagination li > a {
  text-decoration: none;
  color: black;
  outline: none;
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  background: var(--rh-pagination-background, #f5f5f5);
}

/* TODO: context */
rh-pagination li a[aria-current="page"] {
  background: var(--rh-color-surface-lightest, #fff);
  /* outline: 2px solid var(--rh-pagination-accent-color, #2261c5); */
  position: relative;
}

rh-pagination li a {
  --border-color: #b9bbbe;
  --border-width: 0px;
  --border-radius: 0;
  --border-accent-width: 0px;
  border-radius: var(--border-radius, 0);
}

rh-pagination li a::after {
  display: var(--border-display, none);
  content: '';
  position: absolute;
  width: calc(50px - (var(--border-width) * 2));
  height: calc(50px - var(--border-width) - var(--border-accent-width));
  border-width: var(--border-width);
  border-style: solid;
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  border-block-start-color: var(--border-accent-color, var(--border-color));
  border-block-start-width: var(--border-accent-width);
}

rh-pagination li a:is(:focus, :focus-within, :focus-visible, :hover, [aria-current=page]) {
  --border-display: block;
}

rh-pagination li a:is(:focus, :focus-within, :focus-visible) {
  --border-radius: var(--rh-border-radius-default, 0.1875rem);
  --border-width: 2px;
  --border-color: var(--rh-pagination-accent-color, #2261c5);
  --border-accent-width: 2px;
}

rh-pagination li a[aria-current=page] {
  --border-color: #b9bbbe;
  --border-width: 1px;
  --border-accent-color: var(--rh-color-interactive-blue, #06c);
}

rh-pagination li a[aria-current=page]:is(:focus, :focus-within, :focus-visible) {
  --border-width: 2px;
  --border-color: var(--rh-color-interactive-blue, #06c);
  --border-accent-width: 3px;
}

rh-pagination li a:hover {
  --border-accent-color: var(--rh-pagination-stepper-color, #6a6e73);
}

rh-pagination li a:is([aria-current=page], :hover) {
  --border-accent-width: 3px;
}

rh-pagination li a[aria-current=page]:is(:focus, :focus-within, :focus-visible)::after {
  border-start-start-radius: 0;
  border-start-end-radius: 0;
}

/* TODO: SERP/data (6 vs 9) */
rh-pagination[overflow=start] li:nth-last-child(n+6):not(:first-child),
rh-pagination[overflow=end] li:nth-child(n+6):not(:last-child),
rh-pagination[overflow=both] li:nth-last-child(n+6):not(:first-child),
rh-pagination[overflow=both] li:nth-child(n+6):not(:last-child) {
  display: none;
}

rh-pagination[overflow=both] li:is(
  [data-page=current],
  [data-page=previous],
  [data-page=next]
) {
  display: contents !important;
}

rh-pagination:is([overflow=end], [overflow=both]) li:last-child,
rh-pagination:is([overflow=start], [overflow=both]) li:first-child {
  display: grid;
  grid-template-columns: 50px 50px;
  gap: 4px;
}

rh-pagination:is([overflow=end], [overflow=both]) li:last-child::before {
  content: '…';
  width: 50px;
  height: 50px;
  padding-inline-end: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  align-self: start;
}

rh-pagination:is([overflow=start], [overflow=both]) li:first-child::after {
  content: '…';
  width: 50px;
  height: 50px;
  padding-inline-end: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  align-self: start;
}
