:host {
  display: block;
  min-height: 4em;
}

[hidden] {
  display: none !important;
}

#container {
  display: flex;
  gap: calc(var(--rh-space-xs, 0.25rem) / 2);
  flex-flow: row wrap;
}

#nav-container {
  display: contents;
}

#numeric {
  width: 100%;
  display: flex;
  align-items: center;
  gap: .5em;
}

#numeric input {
  width: 64px;
}

svg { 
  fill: currentColor;
}

:is(#next, #last) svg {
  transform: rotate(180deg);
}

.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background: var(--rh-color-surface-light, #f0f0f0);
  outline: none;
  color: var(--rh-pagination-stepper-color, var(--rh-color-interactive-blue, #06c));
}

.stepper:focus-within {
  outline: 2px solid var(--rh-pagination-accent-color, var(--rh-color-interactive-blue, #06c));
}

#container.mobile .stepper {
  width: 164px;
}

.stepper svg {
  height: 14px;
  aspect-ratio: 1/1;
}

.stepper:not([href]) {
  pointer-events: none;
  color: var(--rh-pagination-background-focused, #d2d2d2);
}
