rh-pagination {
  --_link-size: calc(var(--_stepper-size) + 2px);
}

rh-pagination[size='sm'] {
  --_link-size: calc(var(--_stepper-size) + 2px);
}

rh-pagination > ol {
  list-style-type: none;
  display: contents;
}

rh-pagination li {
  display: contents;
}

rh-pagination li > a {
  background-color: var(--_list-a-bg-color);
  border: var(--rh-border-width-sm, 1px) solid transparent;
  color: var(--_list-a-text-color);
  display: grid;
  font-family: var(--rh-font-family-heading, RedHatDisplay, 'Red Hat Display', 'Noto Sans Arabic', 'Noto Sans Hebrew', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans Malayalam', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans Thai', Helvetica, Arial, sans-serif);
  font-size: var(--rh-font-size-body-text-xl, 1.25rem);
  height: var(--_link-size);
  place-content: center;
  position: relative;
  text-decoration: none;
  width: var(--_link-size);
}

rh-pagination[size='sm'] li > a {
  font-size: var(--rh-font-size-body-text-md, 1rem);
}

rh-pagination li > a:focus {
  border-radius: var(--rh-border-radius-default, 3px);
  outline-offset: -2px;
  outline: var(--rh-border-width-md, 2px) solid transparent;
  outline-color:
    var(--rh-pagination-accent-color,
      var(--rh-color-interactive-primary-default));
}

rh-pagination li > a:hover:after,
rh-pagination li > a:focus:before,
rh-pagination li > a:focus:after,
rh-pagination li > a[aria-current]:after {
  border-block-start-style: solid;
  content: '';
  inset-inline-start: -1px;
  position: absolute;
  inset-block-start: -1px;
  width: 104%;
}

rh-pagination li > a:hover:after,
rh-pagination li > a:focus:before,
rh-pagination li > a[aria-current]:after {
  border-block-width: var(--rh-border-width-lg, 3px);
}

rh-pagination li > a:focus:before,
rh-pagination li > a:hover:after {
  border-block-color: var(--_border-top-hover-color);
}

rh-pagination li > a:focus:after {
  border-block-width: var(--rh-border-width-md, 2px);
}

rh-pagination li > a[aria-current] {
  background-color: var(--_list-a-current-page-bg-color);
  border-color: var(--_list-a-current-page-border-color);
  border-block-start: 0;
}

rh-pagination li > a:focus:after,
rh-pagination li > a[aria-current]:after {
  border-block-color: var(--rh-pagination-accent-color, var(--rh-color-border-interactive));
}

rh-pagination[overflow='start'] li:nth-last-child(n+6):not(:first-child),
rh-pagination[overflow='end'] li:nth-child(n+6):not(:last-child),
rh-pagination[overflow='both'] li:nth-last-child(n+6):not(:first-child),
rh-pagination[overflow='both'] li:nth-child(n+6):not(:last-child) {
  display: none;
}

rh-pagination[overflow='both'] li:is(
[data-page='current'],
[data-page='previous'],
[data-page='next']
) {
  display: contents !important;
}

rh-pagination:is([overflow='end'], [overflow='both']) li:last-child,
rh-pagination:is([overflow='start'], [overflow='both']) li:first-child {
  display: grid;
  grid-template-columns: var(--_link-size) var(--_link-size);
  gap: 4px;
}

rh-pagination:is([overflow='end'], [overflow='both']) li:last-child:before,
rh-pagination:is([overflow='start'], [overflow='both']) li:first-child:after {
  content: '…';
  width: var(--_link-size);
  height: var(--_link-size);
  padding-inline-end: 4px;
  display: flex;
  align-items: center;
  font-size: var(--rh-font-size-body-text-lg, 1.125rem);
  color: var(--rh-color-gray-40, #a3a3a3);
  justify-content: center;
  background: var(--rh-color-surface-lightest, #ffffff);
  align-self: start;
}

/*****************************************************************************
 * OPEN VARIANT
 *****************************************************************************/

rh-pagination[variant|='open'] {
  --_list-a-bg-color: transparent;
}

rh-pagination[variant|='open'] li > a:hover:after,
rh-pagination[variant|='open'] li > a:focus:before,
rh-pagination[variant|='open'] li > a:focus:after,
rh-pagination[variant|='open'] li > a[aria-current]:after {
  border-block-start-style: none;
  border-block-end-style: solid;
  inset-block-end: -1px;
}

rh-pagination[variant|='open'] li > a[aria-current] {
  background-color: var(--_list-a-bg-color);
  border-color: transparent; /* NOTE: Keep active/hover borders in-line */
}
