:host {
  display: block;
  min-height: 4em;
}

[hidden] {
  display: none !important;
}

#container {
  display: flex;
  gap: calc(var(--rh-space-xs, 4px) / 2);
  flex-wrap: wrap;
}

#container.dark {
  --_stepper-bg-color: var(--rh-color-surface-dark-alt, #292929);
  --rh-pagination-accent-color: var(--rh-color-interactive-blue-lightest, #b9dafc);
  --rh-pagination-stepper-color: var(--rh-color-text-secondary-on-dark, #c7c7c7);
  --_stepper-color-focus: var(--rh-color-interactive-blue-lightest, #b9dafc);
  --rh-pagination-background-focused: var(--rh-color-gray-50, #707070);
  --_list-anchor-text-color: var(--rh-color-text-primary-on-dark, #ffffff);
  --_list-anchor-bg-color: var(--rh-color-surface-dark-alt, #292929);
  --_list-anchor-border-color-hover: var(--rh-color-border-subtle-on-light, #c7c7c7);
  --_list-anchor-current-page-bg-color: var(--rh-color-canvas-black, #151515);
  --_list-anchor-current-page-border-color: var(--rh-color-border-subtle-on-dark, #707070);
  --_list-anchor-current-page-border-color-accent:
    var(
        --rh-color-border-interactive-on-dark,
        #92c5f9
      );
  --_list-anchor-current-page-border-color-focus:
    var(
        --rh-color-interactive-blue-lightest,
        #b9dafc
      );
  --_numeric-link: var(--rh-color-interactive-blue-lighter, #92c5f9);
  --_numeric-link-hover: var(--rh-color-interactive-blue-lightest, #b9dafc);
  --_numeric-link-visited: var(--rh-color-interactive-purple-lighter, #b6a6e9);
  --_numeric-link-visited-hover: var(--rh-color-interactive-purple-lightest, #ece6ff);
}

nav {
  display: contents;
}

svg {
  fill: currentcolor;
}

.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background: var(--_stepper-bg-color, var(--rh-color-surface-lighter, #f2f2f2));
  outline: none;
  color: var(--rh-pagination-stepper-color, var(--rh-color-icon-subtle, #707070));
  box-sizing: border-box;
  position: relative;
}

.stepper:focus {
  border:
    2px solid
    var(
        --_stepper-color-focus,
        var(--rh-color-border-interactive-on-light, #0066cc)
      );
  border-radius: var(--rh-border-radius-default, 3px);
}

.stepper svg {
  height: 14px;
}

:is(#next, #last) svg,
.rtl :not(#next, #last) svg {
  rotate: 180deg;
}

.rtl :is(#next, #last) svg {
  rotate: 0deg;
}

.stepper[inert] {
  pointer-events: none;
  color: var(--rh-pagination-background-focused, var(--rh-color-gray-30, #c7c7c7));
}

/* MOBILE styles */

.mobile .stepper:hover {
  background: var(--rh-color-surface-light, #e0e0e0);
}

#numeric {
  margin-block-start: var(--rh-space-2xl, 32px);
  width: 100%;
  display: flex;
  align-items: center;
  flex: 1 1 100%;
  gap: 0.5em;
}

input {
  height: var(--rh-length-2xl, 32px);
  width: var(--rh-length-4xl, 64px);
  font-size: var(--rh-font-size-body-text-md, 1rem);
  background: var(--rh-color-surface-lightest, #ffffff);
  border: 1px solid var(--rh-color-border-subtle-on-light, #c7c7c7);
  border-block-end: 1px solid var(--rh-color-gray-40, #a3a3a3);
  box-sizing: border-box;
  padding: 2px;
}

input:focus {
  outline: none;
  border:
    2px
    solid
    var(--rh-pagination-accent-color, var(--rh-color-interactive-blue-darker, #0066cc));
  padding: 1px;
}

input:invalid {
  border-block-end: 1px solid var(--rh-color-red-60, #a60000);
}

:host([on="dark"]) input:invalid {
  border-block-end: 1px solid var(--rh-color-red-40, #f56e6e);
}

#numeric a {
  text-decoration: none;
  color: var(--_numeric-link, var(--rh-color-interactive-blue-darker, #0066cc));
}

#numeric a:hover {
  color: var(--_numeric-link-hover, var(--rh-color-interactive-blue-darkest, #003366));
  text-decoration: underline;
}

#numeric a:visited {
  color: var(--_numeric-link-visited, var(--rh-color-interactive-purple-darker, #5e40be));
}

#numeric a:focus {
  text-decoration: underline;
  outline-color: var(--rh-color-border-interactive-on-light, #0066cc);
}

#numeric a:visited:hover {
  color: var(--_numeric-link-visited-hover, var(--rh-color-interactive-purple-darkest, #21134d));
}

@media (min-width: 700px) {
  #numeric {
    margin-block-start: 0;
    margin-inline-start: var(--rh-space-xl, 24px);
    flex: 1 0 0%;
  }

  #container {
    flex-wrap: nowrap;
  }
}
