:host {
  --_background-color: var(--rh-color-white, #ffffff);

  display: flex;
  position: relative;
}

#container {
  inline-size: 100%;
  display: flex;
  text-align: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  padding: var(--rh-space-lg, 16px);
  font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif);
  line-height: var(--rh-line-height-body-text, 1.5);
  color: var(--rh-color-text-primary-on-light, #151515); /* Default (light) color */
  background-color: var(--rh-color-surface-lightest, #ffffff); /* Default (light) background */
}

#container.imgleft {
  justify-content: flex-start;
}

/* dark theme */
#container.dark {
  background-color: var(--rh-color-surface-darkest, #151515);
  color: var(--rh-color-text-primary-on-dark, #ffffff);
}

#body {
  padding-inline-start: var(--rh-space-lg, 16px);
}

#image {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  #content {
    display: flex;
    align-items: center;
  }

  #container.dismissible #content {
    margin-inline-end: var(--rh-space-2xl, 32px);
  }

  #row {
    max-inline-size: 1170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-flow: row nowrap;
  }

  #body {
    text-align: start;
    min-inline-size: 0;
    padding-inline-start: var(--rh-space-xl, 24px) !important;
    padding-inline-end: var(--rh-space-xl, 24px) !important;
  }

  #body ::slotted(p) {
    font-size: var(--rh-font-size-body-text-lg, 1.125rem) !important;
  }

  #image,
  #cta {
    flex-shrink: 0;
    min-inline-size: max-content;
  }

  #cta {
    display: inline-block;
    padding-inline-end: var(--rh-space-lg, 16px);
  }
}

@media (max-width: 767px) {
  #container:not(.imgleft) #body {
    padding-block-start: var(--rh-space-lg, 16px);
    padding-block-end: var(--rh-space-md, 8px);
    padding-inline-end: var(--rh-space-lg, 16px);
  }

  #container.imgleft #row {
    display: flex;
  }

  #content {
    font-size: var(--rh-font-size-body-text-md, 1rem);
  }

  #container.imgleft #content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
  }

  #container.imgleft.dismissible #content {
    margin-inline-end: var(--rh-space-2xl, 32px);
  }

  #container.imgleft #image {
    flex: 1;
    display: flex;
    align-items: flex-start;
  }

  #container.imgleft #cta {
    padding-inline-start: var(--rh-space-lg, 16px);
  }
}

#close-button {
  color: var(--rh-color-text-secondary-on-light, #4d4d4d);
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: var(--rh-space-lg, 16px);
  margin: 2px;
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
}

.dark #close-button {
  color: var(--rh-color-text-secondary-on-dark, #c7c7c7);
}
