
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Footer group | Red Hat digital design system</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://www.redhat.com/misc/favicon.ico" type="image/x-icon" />

  
  
  <script src="/js/global.js"></script>

  <meta property="og:title" content="Red Hat digital design system">
  <meta property="og:site_name" content="Red Hat digital design system">
  <meta property="og:url" content="ux.redhat.com">
  <meta property="og:description" content="This is Red Hat's digital design system. Using Red Hat brand standards and PatternFly as our foundational design language, we enable designers and developers to concurrently build branded experiences across redhat.com, openshift.com, Red Hat Customer Portal, and beyond.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://ux.redhat.com/assets/opengraph.png">

  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" rel="stylesheet" href="//static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css" media="all" />
  
  <link rel="stylesheet" href="/node_modules/@patternfly/pfelement/dist/pfelement.min.css">
  <noscript>
    <link type="text/css" href="/node_modules/@patternfly/pfelement/dist/pfelement--noscript.min.css">
  </noscript>

  <script type="module" src="/node_modules/@patternfly/pfe-cta/dist/pfe-cta.min.js"></script>
</head>




  


<body class="page page--footer-group" id="top" unresolved>

  <div class="body-inner">

    



<script type="text/javascript">
(function() { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = '//api.usersnap.com/load/4a8eca9f-e612-466c-ba21-5c98236daf99.js';
var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();
</script>

<header class="l-header">

  <div class="l-header__logo-bar">
    <a href="/"><img class="l-header__logo" src="/assets/red-hat-digital-design-system.svg" alt="Red Hat digital design system" style="max-width:240px;min-width:240px;" /></a>
    
  </div>
  <input id="mobile-menu-toggle" class="menu-toggle element-invisible" type="checkbox" aria-controls="mobile-menu-menu-container">
  <label class="menu-toggle__button l-header__mobile-menu-toggle" for="mobile-menu-toggle" data-controls="mobile-menu-menu-container">
    <span class="l-header__burger-icon"></span>
    <span class="menu-toggle-assistive-text element-invisible">Toggle menu visibility</span>
  </label>
  <div class="menu-toggle__toggleable site-navigation__outer-wrapper">
    <nav class="l-header__site-navigation site-navigation menu-toggle__toggleable-content-wrapper">
      <ul class="site-navigation__wrapper">
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/">
    Home
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/about/">
    About this website
  </a>

        </li>
        <li class="site-navigation__item">
          
          
          <details >
            <summary class="site-navigation__heading">Foundations</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/">
    Overview
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

                </li></ul>
          </details>
        </li>
        <li class="site-navigation__item">
          
          
            
          
          <details  open>
            <summary class="site-navigation__heading">Components</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/components/">
    All components
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/accordion/">
    Accordion
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/alert/">
    Alert
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/announcement/">
    Announcement
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/audio-player/">
    Audio player
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/avatar/">
    Avatar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/button/">
    Button
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/call-to-action/">
    Call to action
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/card/">
    Card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/disclosure/">
    Disclosure
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/filter/">
    Filter
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/form/">
    Form
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/jump-links/">
    Jump links
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link/">
    Link
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link-with-icon/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/modal/">
    Modal
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/navigation/">
    Navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/progress-steps/">
    Progress steps
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/promo/">
    Promo
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/quote/">
    Quote
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/search-bar/">
    Search bar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/skip-navigation/">
    Skip navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-banner/">
    Sticky banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-card/">
    Sticky card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tabs/">
    Tabs
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tooltip/">
    Tooltip
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/video-thumbnail/">
    Video thumbnail
  </a>

                </li></ul>
          </details>
        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/design-code-status/">
    Design/code status
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/release-notes/">
    Release notes
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/get-started/">
    Get started
  </a>

        </li>

      </ul>
    </nav>
  </div>
</header>


<main class="l-main">
  <article class="l-main__inner">
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 class="page-title">Footer group</h1>
      </div>
    </header>
    <div class="l-main__content">
      <div class="container">
        



  <section class="section section--palette-default container">
    <h2 class="section-title pfe-jump-links-panel__section" id="Overview">Overview</h2>
    <p>The Footer group provides users with supplementary information at the bottom of a page. It features two stacked layouts that contain different content, depending on where they’re used.</p>
  </section>



  <section class="section section--palette-default container">
    <h2 class="section-title pfe-jump-links-panel__section" id="Sample%20component">Sample component</h2>
    <img src="/assets/avatar/avatar-sample-white.png" alt="Example of an avatar with attribution">
  </section>



  <section class="section section--palette-default container">
    <h2 class="section-title pfe-jump-links-panel__section" id="Component%20status">Component status</h2>
    <rhds-component-status component="Footer"></rhds-component-status>
  </section>





  
  <section class="section section--palette-default container">
    <h2 class="section-title pfe-jump-links-panel__section" id="Style">Style</h2>
    <p>There are two different layouts in the footer group, Modular and Global. Content in a modular footer relates to the specific website that it’s used on whereas content in the global footer relates to Red Hat as an organization.</p>

  
  <div class="example example--palette-light">
    
    
    <img src="/assets/avatar/avatar-sample-light.png" alt="Examples of light avatar appearance">
  </div>

  </section>



<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title pfe-jump-links-panel__section" id="Usage">Usage</h2>
    <h3>Layout</h3>
  <p>A footer group is the lowest in hierarchy and should be used at the very bottom of every page.</p>

  <h3>Modular footer</h3>
  <p>Global footer content is boilerplate and relates to Red Hat as an organization. It should be used on every website, even without a modular footer. Content that is unique and has the potential to change should not appear in the global footer.</p>

  <h3>Global footer</h3>
  <p>Modular footer content is customizable and should relate closely to the specific website that it’s used on.</p>

  <h3>Vertical height</h3>
  <p>Including too much content in either layout will increase the vertical height of the footer group, especially on small screens.</p>
  </section>


<hr class="margin-top--2 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title pfe-jump-links-panel__section" id="Best%20practices">Best practices</h2>
    <p>Don’t put any unique content in the global footer that can’t be used on every website.</p>

  
  <div class="example example--palette-wrong">
    
    
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="/assets/avatar/avatar-wrong-without-text.png">
  </div>
  </div>


    <p>Don’t change the stacking order of layouts in the footer group.</p>

  
  <div class="example example--palette-wrong">
    
    
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="/assets/avatar/avatar-wrong-without-text.png">
  </div>
  </div>


  <p>A modular footer can’t live on its own, but the global footer can. Don’t omit the global footer from the footer group.</p>

  
  <div class="example example--palette-wrong">
    
    
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="/assets/avatar/avatar-wrong-without-text.png">
  </div>
  </div>

  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title pfe-jump-links-panel__section" id="Behavior">Behavior</h2>
    <h3>States</h3>
  <p>When a modular footer displays accordions on small screens, they have collapsed and expanded states that hide or reveal content when toggled. By default, they load with all panels collapsed, enabling users to get a high-level overview of the content.</p>

  <h3>Multiple panels</h3>
  <p>When a modular footer contains multiple accordion panels, they can be expanded simultaneously or they can stack. Expanding one panel doesn’t collapse another which makes it easy for users to see content in the same view.</p>

  
  <div class="example example--palette-light">
    
    
  <div class="multi-column--min-200-wide margin-top--1 margin-bottom--1">
    <img src="/assets/avatar/avatar-responsive-2.png">
  </div>
  </div>


  <h3>Responsive design</h3>
  <p>Content in a modular footer will move into an accordion on smaller screens whereas content in the global footer will stack.</p>
  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title pfe-jump-links-panel__section" id="Breakpoints">Breakpoints</h2>
    <p>When scaled down, the footer group has a variety of layout arrangements because of the placement of elements, like links, text, social media icons, and select lists.</p>

  <h3>Desktop</h3>
  
  <div class="example example--palette-light">
    
    
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="/assets/avatar/avatar-spacing-1.png">
    </div>
  </div>


  <h3>Tablet</h3>
  
  <div class="example example--palette-light">
    
    
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="/assets/avatar/avatar-spacing-1.png">
    </div>
  </div>


  <h3>Mobile</h3>
  
  <div class="example example--palette-light">
    
    
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="/assets/avatar/avatar-spacing-1.png">
    </div>
  </div>

  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title pfe-jump-links-panel__section" id="Interaction%20states">Interaction states</h2>
    <p>Since the footer group can consist of a variety of styles and components, refer to the specific interaction states of each of those elements for more information.</p>

  <h3>Tab order</h3>
  <p>When the Tab key is pressed repeatedly, the focus indicator moves from top to bottom and then left to right.</p>
  
  <div class="example example--palette-light">
    
    
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="/assets/avatar/avatar-spacing-1.png">
    </div>
  </div>

  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title pfe-jump-links-panel__section" id="Spacing">Spacing</h2>
    <p>The footer group <a href="https://www.patternfly.org/v4/guidelines/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

  
  <div class="example example--palette-light">
    
    
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="/assets/avatar/avatar-spacing-1.png">
    </div>
  </div>

  </section>


<hr class="margin-top--10 margin-bottom--10">

<div class="multi-column--min-300-wide">
  
  <section class="section section--palette-default container">
    <h2 class="section-title pfe-jump-links-panel__section" id="Related%20components">Related components</h2>
    <ul>
      <li><a href="../foundations/typography">Typography</a></li>
    </ul>
  </section>


  
  <section class="section section--palette-default container">
    <h2 class="section-title pfe-jump-links-panel__section" id="Feedback">Feedback</h2>
    <p>For feedback and bug reports concerning PatternFly Elements components, create an issue <a href="https://github.com/patternfly/patternfly-elements">in the GitHub repository</a>. </p>
  </section>

</div>

      </div>
    </div>
  </article>
    

  <footer class="main-footer">
    <img style="max-width: 135px;" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark.svg" alt="Red Hat" />
    <p>Copyright &copy;<script type="text/javascript">document.write(new Date().getFullYear());</script> Red Hat, Inc.</p>
    <div class="main-footer--list">
      <ul>
        <li><a href="https://www.redhat.com/en/about/privacy-policy">Privacy statement</a></li>
        <li><a href="https://www.redhat.com/en/about/terms-use">Terms of use</a></li>
        <li><a href="https://www.redhat.com/en/about/all-policies-guidelines">All policies and guidelines</a></li>
      </ul>
    </div>
  </footer> 

<div class="back-to-top">
    <a href="#top" class="back-to-top-link">
        <img src="/assets/back-to-top.svg" alt="Scroll back to the top">
    </a>
</div>

</main>


  </div>
</body>

</html>
