<!DOCTYPE html><html class="no-js" lang=""><head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Progress steps | Red Hat design system</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://www.redhat.com/misc/favicon.ico" type="image/x-icon">

  <meta property="og:title" content="Red Hat design system">
  <meta property="og:site_name" content="Red Hat design system">
  <meta property="og:url" content="ux.redhat.com">
  <meta property="og:description" content="This is Red Hat's design system. Using Red Hat brand standards and PatternFly as our foundational design language, we enable designers and developers to concurrently build branded experiences across redhat.com, Red Hat Customer Portal, and beyond.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://ux.redhat.com/assets/opengraph.png">

  <meta name="pfe-auto-reveal" content="true">

  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css" media="all">

  <link rel="stylesheet" href="/assets/prism.css">
  <link rel="stylesheet" href="/assets/pfe.min.css">
  <link rel="stylesheet" href="/assets/rhds.min.css">

  <link rel="stylesheet" href="/assets/css/style.css" id="">

  

  <noscript>
    <link type="text/css" href="/assets/pfe--noscript.min.css">
  </noscript>

  <script type="module">
    import '/assets/rhds.min.js'
    const PfIcon = await customElements.whenDefined('pf-icon')
    PfIcon.getIconUrl = (set, icon) =>
      new URL(`/assets/packages/@patternfly/elements/pf-icon/icons/${set}/${icon}.js`, location.origin);
  </script>

</head>




  


<body class="page  page--progress-steps" id="top" unresolved="">

  <div class="body-inner">

    


<script>
  window.onUsersnapCXLoad = function(api) {
    api.init();
  }
  var script = document.createElement('script');
  script.async = 1;
  script.src = 'https://widget.usersnap.com/load/64471a95-72fe-4239-b16d-ebcf8b1219f7?onload=onUsersnapCXLoad';
  document.getElementsByTagName('head')[0].appendChild(script);
</script>

<header class="l-header">

  <div class="l-header__logo-bar">
    <a href="/"><img class="l-header__logo" src="/assets/red-hat-design-system.svg" alt="Red Hat design system logo" style="max-width: 188px; min-width: 42px;"></a>
  </div>

  <input id="mobile-menu-toggle" class="menu-toggle element-invisible" type="checkbox" aria-controls="mobile-menu-menu-container">

  <label class="menu-toggle__button l-header__mobile-menu-toggle" for="mobile-menu-toggle" data-controls="mobile-menu-menu-container">
    <span class="l-header__burger-icon"></span>
    <span class="menu-toggle-assistive-text element-invisible">Toggle menu visibility</span>
  </label>

  <div class="menu-toggle__toggleable site-navigation__outer-wrapper">
    <nav class="l-header__site-navigation site-navigation menu-toggle__toggleable-content-wrapper">
      <ul class="site-navigation__wrapper">
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/">
    Home
  </a>

        </li>

        <!-- About

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/about/">
    About this website
  </a>

        </li> -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">About</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/about/">
    About this website
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/about/how-we-build/">
    How we build
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Get started -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Get started</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/">
    Overview
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/design-system-kit/">
    Design system kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/fts-starter-kit/">
    FTS starter kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/icon-libraries/">
    Icon libraries
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/product-logo-library/">
    Product logo library
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Foundations -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Foundations</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/">
    Overview
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

              </li>
              <!--<li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

                </li>-->
            </ul>
          </details>
        </li>

        <!-- Elements -->

        <li class="site-navigation__item">
          <details>
            <summary class="site-navigation__heading">Elements</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/">
    All elements
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/accordion/">
    Accordion
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/alert/">
    Alert
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/avatar/">
    Avatar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/blockquote/">
    Blockquote
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/button/">
    Button
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/call-to-action/">
    Call to action
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/dialog/">
    Dialog
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/footer/">
    Footer
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/navigation-secondary/">
    Navigation secondary
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/statistic/">
    Statistic
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/tabs/">
    Tabs
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/elements/tooltip/">
    Tooltip
  </a>

                </li></ul>
          </details>
        </li>
        <!-- Components -->

        <li class="site-navigation__item">
          
          
            
          
          <details open="">
            <summary class="site-navigation__heading">Components</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/components/">
    All components
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/announcement/">
    Announcement
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/audio-player/">
    Audio player
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/card/">
    Card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/disclosure/">
    Disclosure
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/filter/">
    Filter
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/form/">
    Form
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/jump-links/">
    Jump links
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link/">
    Link
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link-with-icon/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/navigation-primary/">
    Navigation (primary)
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/navigation-secondary/">
    Navigation (secondary)
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/popover/">
    Popover
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
    
  
  <a class="site-navigation__sub-menu__link site-navigation__sub-menu__link--active" href="/components/progress-steps/">
    Progress steps
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/promo/">
    Promo
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/search-bar/">
    Search bar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/skip-navigation/">
    Skip navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-banner/">
    Sticky banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-card/">
    Sticky card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/video-thumbnail/">
    Video thumbnail
  </a>

                </li></ul>
          </details>
        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/design-code-status/">
    Design/code status
  </a>

        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/release-notes/">
    Release notes
  </a>

        </li>

        <!--

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/get-started/">
    Get started
  </a>

        </li>

        -->

      </ul>
    </nav>
  </div>
</header>


<main class="l-main">
  <article class="l-main__inner">
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 id="progress-steps" class="page-title">Progress steps</h1>
      </div>
    </header>
    <div class="l-main__content">
      <div class="container">
        
        
<!--

Temporary Default alert until web component release
<p style="background-color: #f2f9f9; border-top: 2px solid #009596; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#003737"><strong>Default</strong></span><br />Text here</p>

Temporary Info alert until web component release
<p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Info</strong></span><br />Text here</p>

Temporary Warning alert until web component release
<p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br />Text here</p>

-->




  <section class="section section--palette-default container">
    <a id="Overview"></a>
    <h2 id="overview" class="section-title pfe-jump-links-panel__section">Overview</h2>
    <p>Progress steps guide a user through a task with multiple sequential steps toward the completion of a linear process.</p>
  </section>



  <section class="section section--palette-default container">
    <a id="Sample%20component"></a>
    <h2 id="sample-component" class="section-title pfe-jump-links-panel__section">Sample component</h2>
    <img src="/assets/progress-steps/progress-steps-sample.svg" alt="Progress steps component sample" style="--inline-img-max-width: 687px;">
  </section>


<!-- To make a table, component="" must list the exact componenent name from column A here: https://docs.google.com/spreadsheets/d/1OfyP6KZcijXMAX7DvN7KYxlUmp8pqH2WQqQ-ndSc4uc/edit?usp=sharing -->


  <section class="section section--palette-default container">
    <a id="Demo"></a>
    <h2 id="demo" class="section-title pfe-jump-links-panel__section">Demo</h2>
    <p>View a live version of this component and see how it can be customized.</p>

  <rh-cta>
    <a href="https://patternflyelements.org/components/progress-steps/">View the PatternFly Elements component</a>
  </rh-cta>
  </section>


<hr class="margin-top--2 margin-bottom--10">


  <section class="section section--palette-default container">
    <a id="Style"></a>
    <h2 id="style" class="section-title pfe-jump-links-panel__section">Style</h2>
    <p>Progress steps contain <strong>at least three</strong> step indicators. They are positioned on a thin horizontal or vertical line and organized sequentially from left to right or top to bottom.</p>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/progress-steps/progress-steps-blueprint.svg" alt="Progress steps component blueprint" style="--inline-img-max-width: 699px;">
  </div>


  <h4 id="visual-elements">Visual elements</h4>

  <p>Progress steps display circles or icons that indicate where a user is in the completion process. The appearance of these states change as a user moves through each step of the task.</p>

  <ul>
    <li><strong>Finished step</strong> - A green circle with a check mark indicates a user has completed a previous step.</li>
    <li><strong>Current step</strong> - A bright red circle with a pink border indicates a user is viewing or completing the current step.</li>
    <li><strong>Error step</strong> - A dark red circle with an exclamation mark indicates there is an issue a user should be aware of.</li>
    <li><strong>Next or Final step</strong> - A white circle with a light gray border indicates the next or final step has not been visited yet.</li>
    <li><strong>Progress bar</strong> - A dark gray bar in between Finished and Current steps indicates how much progress a user has made.</li>
  </ul>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/progress-steps/progress-steps-visual-elements.svg" alt="Progress steps component visual elements" style="--inline-img-max-width: 385px;">
  </div>


  <h4 id="text-labels">Text labels</h4>

  <p>Every step must have a text label indicating what a user has and will accomplish. Each text label should be written clearly and use ideally <strong>one word</strong> to avoid crowding. If two words need to be used, set them in <strong>Sentence case</strong> only.</p>

  <div class="margin-top--0 margin-bottom--4">
    <!-- Temporary Info alert until web component release -->
    <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Helpful tip</strong></span><br>Always try to write text labels as short as possible. If there are more than three steps, reduce the amount of characters.</p>
  </div>

  <div class="margin-top--4 margin-bottom--4">
    
  <div class="example example--palette-lightest">
    
    
      <img src="/assets/progress-steps/progress-steps-text-labels.svg" alt="Progress steps component text labels" style="--inline-img-max-width: 687px;">
  </div>

  </div>
  </section>



  <section class="section section--palette-default container">
    <a id="Orientation"></a>
    <h2 id="orientation" class="section-title pfe-jump-links-panel__section">Orientation</h2>
    <h4 id="horizontal">Horizontal</h4>

  <p>The Horizontal orientation can be stretched or squeezed to fit different desktop or tablet layouts, it can also be used on mobile if there are fewer steps with short text labels.</p>

  <!-- Temporary Warning alert until web component release -->
  <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br>Do not write text labels with <strong>more than two words</strong> as space can become crowded when breakpoints get smaller or when text is translated.</p>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/progress-steps/progress-steps-horizontal-orientation.svg" alt="Progress steps component horizontal orientation" style="--inline-img-max-width: 687px;">
  </div>


  <h4 id="vertical">Vertical</h4>

  <p>The Vertical orientation can be used on desktop or tablet if the content within needs to be positioned on the right instead of underneath. It can also be used on mobile if the horizontal orientation has more steps or text labels with more words.</p>

  <!-- Temporary Warning alert until web component release -->
  <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br>Do not write text labels with <strong>more than two words</strong> as space can become crowded when breakpoints get smaller or when text is translated.</p>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/progress-steps/progress-steps-vertical-orientation.svg" alt="Progress steps component vertical orientation" style="--inline-img-max-width: 872px;">
  </div>

  </section>



  <section class="section section--palette-default container">
    <a id="Usage"></a>
    <h2 id="usage" class="section-title pfe-jump-links-panel__section">Usage</h2>
    <p>Progress steps are best used when displaying content that must be completed in a particular order.</p>

  <h4 id="mobile">Mobile</h4>

  <p>If a task has fewer steps and short text labels, the horizontal orientation can be used on mobile. Otherwise, if a task has more steps and longer text labels, the vertical orientation should be used instead.</p>

  <!-- Temporary Warning alert until web component release -->
  <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br>Do not use <strong>more than four steps</strong> because the layout will become crowded and a user might feel overwhelmed by the number of steps.</p>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/progress-steps/progress-steps-mobile-usage.svg" alt="Progress steps component mobile usage" style="--inline-img-max-width: 360px;">
  </div>


  <h4 id="progression">Progression</h4>

  <p>Steps are organized from left to right or top to bottom to demonstrate a user completing a task by moving through a linear multi-step process. A user should be able to return to any previously completed step in order to review data before finishing and submitting.</p>

  <div class="margin-top--0 margin-bottom--4">
    <!-- Temporary Info alert until web component release -->
    <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Helpful tip</strong></span><br>If a user needs to return to a previously completed step, they should be able to unless the task is complete.</p>
  </div>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/progress-steps/progress-steps-progression-1.svg" alt="Progress steps component progression, part 1" style="--inline-img-max-width: 691px;">
  </div>


  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/progress-steps/progress-steps-progression-2.svg" alt="Progress steps component progression, part 2" style="--inline-img-max-width: 687px;">
  </div>


  <h4 id="error-validation">Error validation</h4>

  <p>Error validation is a state that displays if there is an error that needs to be resolved first before a user can proceed. If a user tries to continue to the next step without inputting the required data, a <a href="https://ux.redhat.com/components/alert/" target="_blank">Danger severity alert</a> is displayed to inform them of what they should do.</p>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/progress-steps/progress-steps-validation.svg" alt="Progress steps component validation" style="--inline-img-max-width: 687px;">
  </div>


  <h4 id="completion">Completion</h4>

  <p>At any time before a task is completed, a user <strong>is able</strong> to return to any previous steps. When all data in the final step is submitted, a user <strong>is not able</strong> to go back to review or change anything.</p>

  <!-- Temporary Info alert until web component release -->
  <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Helpful tip</strong></span><br>When a user reaches the Finished state, they <strong>cannot go back to any previous steps</strong> without starting the task all over again.</p>

  <div class="margin-top--4 margin-bottom--4">
    
  <div class="example example--palette-lightest">
    
    
      <img src="/assets/progress-steps/progress-steps-completion.svg" alt="Progress steps component completion" style="--inline-img-max-width: 702px;">
  </div>

  </div>
  </section>



  <section class="section section--palette-default container">
    <a id="Behavior"></a>
    <h2 id="behavior" class="section-title pfe-jump-links-panel__section">Behavior</h2>
    <p>When a user navigates through steps, each step should present content relevant to the step text label. For example, if the current step text label states <strong>Choose trial</strong>, a user should be presented with the opportunity to choose a trial. Displaying relevant content and being clear about where a user is in the process will make them feel in control and encourage them to finish the task.</p>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/progress-steps/progress-steps-behavior.svg" alt="Progress steps component behavior" style="--inline-img-max-width: 728px;">
  </div>

  </section>



  <section class="section section--palette-default container">
    <a id="Interaction%20states"></a>
    <h2 id="interaction-states" class="section-title pfe-jump-links-panel__section">Interaction states</h2>
    <p>The interaction states within both orientations are the same.</p>

  <h4 id="link">Link</h4>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/progress-steps/progress-steps-interaction-states-link.svg" alt="Progress steps component interaction state, link" style="--inline-img-max-width: 738px;">
  </div>


  <h4 id="hover">Hover</h4>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/progress-steps/progress-steps-interaction-states-hover.svg" alt="Progress steps component interaction state, hover" style="--inline-img-max-width: 738px;">
  </div>


  <h4 id="focus">Focus</h4>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/progress-steps/progress-steps-interaction-states-focus.svg" alt="Progress steps component interaction state, focus" style="--inline-img-max-width: 738px;">
  </div>


  <h4 id="active">Active</h4>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/progress-steps/progress-steps-interaction-states-active.svg" alt="Progress steps component interaction state, active" style="--inline-img-max-width: 738px;">
  </div>


  <h4 id="tab-order">Tab order</h4>

  <p>When the Tab key is pressed repeatedly, the focus highlights each step icon and text label in order, from left to right in the horizontal component or from top to bottom in the vertical component.</p>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/progress-steps/progress-steps-tab-order.svg" alt="Progress steps component tab order" style="--inline-img-max-width: 738px;">
  </div>

  </section>



  <section class="section section--palette-default container">
    <a id="Accessibility"></a>
    <h2 id="accessibility" class="section-title pfe-jump-links-panel__section">Accessibility</h2>
    <table style="width:100%;">
    <tbody>
      <tr>
        <th>Key</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>Tab</td>
        <td>Moves the focus to the next step.</td>
      </tr>
      <tr>
        <td>Shift + Tab</td>
        <td>Moves the focus to the previous step.</td>
      </tr>
      <tr>
        <td>Enter</td>
        <td>Selects the step with focus.</td>
      </tr>
      <tr>
        <td>Left arrow</td>
        <td>Moves the focus and selects the previous step.</td>
      </tr>
      <tr>
        <td>Right arrow</td>
        <td>Moves the focus and selects the next step.</td>
      </tr>
      <tr>
        <td>Home</td>
        <td>Moves the focus and selects the first step.</td>
      </tr>
      <tr>
        <td>End</td>
        <td>Moves the focus and selects the current or final step.</td>
      </tr>
    </tbody>
  </table>
  </section>



  <section class="section section--palette-default container">
    <a id="Responsive%20design"></a>
    <h2 id="responsive-design" class="section-title pfe-jump-links-panel__section">Responsive design</h2>
    <p>Progress steps mostly remain the same on large and small screens. When the horizontal orientation becomes crowded, it will switch to the vertical orientation.</p>

  <h4 id="desktop">Desktop</h4>

  <div class="margin-top--0 margin-bottom--7">
    <img src="/assets/progress-steps/progress-steps-responsive-desktop.svg" alt="Progress steps component responsive design, desktop">
  </div>

  <h4 id="tablet">Tablet</h4>

  <img src="/assets/progress-steps/progress-steps-responsive-tablet.svg" alt="Progress steps component responsive design, tablet" style="--inline-img-max-width: 768px;">

  <div class="margin-top--7 margin-bottom--0">
    <h4 id="mobile">Mobile</h4>
  </div>

  <img src="/assets/progress-steps/progress-steps-responsive-mobile.svg" alt="Progress steps component responsive design, mobile" style="--inline-img-max-width: 360px;">
  </section>



  <section class="section section--palette-default container">
    <a id="Best%20practices"></a>
    <h2 id="best-practices" class="section-title pfe-jump-links-panel__section">Best practices</h2>
    <h4 id="too-many-or-too-few-steps">Too many or too few steps</h4>

  <p>Do not use too many or too few steps, there should be between three and five steps visible.</p>

  
  <div class="example example--palette-wrong">
    
    
    <img src="/assets/progress-steps/progress-steps-best-practice-1.svg" alt="Progress steps component best practice 1" style="--inline-img-max-width: 698px;">
  </div>


  <h4 id="usage-on-mobile">Usage on mobile</h4>

  <p>Avoid using the horizontal orientation on mobile if there are too many steps present or if text labels are too long, switch to the vertical orientation instead.</p>

  
  <div class="example example--palette-wrong">
    
    
    <img src="/assets/progress-steps/progress-steps-best-practice-2.svg" alt="Progress steps component best practice 2" style="--inline-img-max-width: 360px;">
  </div>


  <h4 id="validation">Validation</h4>

  <p>Do not use the Error step icon for any <strong>previous steps</strong>, a user cannot proceed to the next step without resolving any errors first nor can they go back to resolve any errors and then continue.</p>

  
  <div class="example example--palette-wrong">
    
    
    <img src="/assets/progress-steps/progress-steps-best-practice-3.svg" alt="Progress steps component best practice 3" style="--inline-img-max-width: 687px;">
  </div>


  <h4 id="text-labels">Text labels</h4>

  <p>Do not use Progress steps without text labels, color or icons alone cannot be used to represent step position or validation if a user is colorblind or uses assistive technologies like a screen reader.</p>

  
  <div class="example example--palette-wrong">
    
    
    <img src="/assets/progress-steps/progress-steps-best-practice-4.svg" alt="Progress steps component best practice 4" style="--inline-img-max-width: 687px;">
  </div>


  <h4 id="carousel">Carousel</h4>

  <p>Do not use Progress steps as an image carousel without including text labels and other types of content.</p>

  
  <div class="example example--palette-wrong">
    
    
    <img src="/assets/progress-steps/progress-steps-best-practice-5.svg" alt="Progress steps component best practice 5" style="--inline-img-max-width: 687px;">
  </div>


  <h4 id="tabs">Tabs</h4>

  <p>Do not use Progress steps as Tabs. Progress steps are used for guiding a user through a task by displaying sequential steps and instructional content.</p>

  
  <div class="example example--palette-wrong">
    
    
    <img src="/assets/progress-steps/progress-steps-best-practice-6.svg" alt="Progress steps component best practice 6" style="--inline-img-max-width: 687px;">
  </div>

  </section>



  <section class="section section--palette-default container">
    <a id="Spacing"></a>
    <h2 id="spacing" class="section-title pfe-jump-links-panel__section">Spacing</h2>
    <p>Progress steps use <a href="https://www.patternfly.org/v4/guidelines/spacers" target="_blank">PatternFly 4 spacers</a> to define spacing values between elements.</p>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/progress-steps/progress-steps-spacing.svg" alt="Progress steps component spacing" style="--inline-img-max-width: 687px;">
  </div>

  </section>


<div class="multi-column--min-300-wide">

  
  <section class="section section--palette-default container">
    <a id="Feedback"></a>
    <h2 id="feedback" class="section-title pfe-jump-links-panel__section">Feedback</h2>
    <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  </section>


  
  <section class="section section--palette-default container">
    <a id="Foundations"></a>
    <h2 id="foundations" class="section-title pfe-jump-links-panel__section">Foundations</h2>
    <p>To learn how to use our other components in your designs, visit the <a href="/components">Components</a> section.</p>
  </section>


</div>

      </div>
    </div>
  </article>
    

  <footer class="main-footer">
    <img style="max-width: 135px;" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark.svg" alt="Red Hat">
    <p>Copyright © 2021-2023 Red Hat, Inc.</p>
    <div class="main-footer--list">
      <ul>
        <li><a href="https://www.redhat.com/en/about/privacy-policy">Privacy statement</a></li>
        <li><a href="https://www.redhat.com/en/about/terms-use">Terms of use</a></li>
        <li><a href="https://www.redhat.com/en/about/all-policies-guidelines">All policies and guidelines</a></li>
      </ul>
    </div>

    <a id="netlify-badge" href="https://www.netlify.com" target="_blank" rel="noreferrer noopener">
      <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" alt="Deploys by Netlify">
    </a>
  </footer>

<div class="back-to-top">
    <a href="#top" class="back-to-top-link">
        <img src="/assets/back-to-top.svg" alt="Scroll back to the top">
    </a>
</div>

</main>


  </div>
  <script src="/js/global.js"></script>



</body></html>