<!DOCTYPE html><html class="no-js" lang=""><head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Call to action | Red Hat digital design system</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://www.redhat.com/misc/favicon.ico" type="image/x-icon">

  <script src="/js/global.js"></script>

  <meta property="og:title" content="Red Hat digital design system">
  <meta property="og:site_name" content="Red Hat digital design system">
  <meta property="og:url" content="ux.redhat.com">
  <meta property="og:description" content="This is Red Hat's digital design system. Using Red Hat brand standards and PatternFly as our foundational design language, we enable designers and developers to concurrently build branded experiences across redhat.com, Red Hat Customer Portal, and beyond.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://ux.redhat.com/assets/opengraph.png">

  <meta name="pfe-auto-reveal" content="true">

  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css" media="all">

  <link rel="stylesheet" href="/assets/prism.css">
  <link rel="stylesheet" href="/assets/pfe.min.css">
  <link rel="stylesheet" href="/assets/rhds.min.css">

  <link rel="stylesheet" href="/assets/css/style.css" id="">


  <noscript>
    <link type="text/css" href="/assets/pfe--noscript.min.css">
  </noscript>

  <script type="module" src="/assets/rhds.min.js"></script>
</head>




  


<body class="page page--call-to-action" id="top" unresolved="">

  <div class="body-inner">

    


<script>
  window.onUsersnapCXLoad = function(api) {
    api.init();
  }
  var script = document.createElement('script');
  script.async = 1;
  script.src = 'https://widget.usersnap.com/load/64471a95-72fe-4239-b16d-ebcf8b1219f7?onload=onUsersnapCXLoad';
  document.getElementsByTagName('head')[0].appendChild(script);
</script>

<header class="l-header">

  <div class="l-header__logo-bar">
    <a href="/"><img class="l-header__logo" src="/assets/red-hat-digital-design-system.svg" alt="Red Hat digital design system" style="max-width:240px;min-width:240px;"></a>
  </div>

  <input id="mobile-menu-toggle" class="menu-toggle element-invisible" type="checkbox" aria-controls="mobile-menu-menu-container">

  <label class="menu-toggle__button l-header__mobile-menu-toggle" for="mobile-menu-toggle" data-controls="mobile-menu-menu-container">
    <span class="l-header__burger-icon"></span>
    <span class="menu-toggle-assistive-text element-invisible">Toggle menu visibility</span>
  </label>

  <div class="menu-toggle__toggleable site-navigation__outer-wrapper">
    <nav class="l-header__site-navigation site-navigation menu-toggle__toggleable-content-wrapper">
      <ul class="site-navigation__wrapper">
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/">
    Home
  </a>

        </li>

        <!-- About

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/about/">
    About this website
  </a>

        </li> -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">About</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/about/">
    About this website
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/about/how-we-build/">
    How we build
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Get started -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Get started</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/">
    Overview
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/design-system-kit/">
    Design system kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/fts-starter-kit/">
    FTS starter kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/icon-library/">
    Brand icon library
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/logo-library/">
    Product logo library
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Foundations -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Foundations</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/">
    Overview
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

              </li>
              <!--<li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

                </li>-->
            </ul>
          </details>
        </li>

        <!-- Components -->

        <li class="site-navigation__item">
          
          
            
          
          <details open="">
            <summary class="site-navigation__heading">Components</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/components/">
    All components
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/accordion/">
    Accordion
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/alert/">
    Alert
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/announcement/">
    Announcement
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/audio-player/">
    Audio player
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/avatar/">
    Avatar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/button/">
    Button
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
    
  
  <a class="site-navigation__sub-menu__link site-navigation__sub-menu__link--active" href="/components/call-to-action/">
    Call to action
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/card/">
    Card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/dialog/">
    Dialog
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/disclosure/">
    Disclosure
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/filter/">
    Filter
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/footer/">
    Footer
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/form/">
    Form
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/jump-links/">
    Jump links
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link/">
    Link
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link-with-icon/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/navigation-primary/">
    Navigation (primary)
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/navigation-secondary/">
    Navigation (secondary)
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/popover/">
    Popover
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/progress-steps/">
    Progress steps
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/promo/">
    Promo
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/quote/">
    Quote
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/search-bar/">
    Search bar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/skip-navigation/">
    Skip navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-banner/">
    Sticky banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-card/">
    Sticky card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tabs/">
    Tabs
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tooltip/">
    Tooltip
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/video-thumbnail/">
    Video thumbnail
  </a>

                </li></ul>
          </details>
        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/design-code-status/">
    Design/code status
  </a>

        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/release-notes/">
    Release notes
  </a>

        </li>

        <!--

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/get-started/">
    Get started
  </a>

        </li>

        -->

      </ul>
    </nav>
  </div>
</header>


<main class="l-main">
  <article class="l-main__inner">
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 id="call-to-action" class="page-title">Call to action</h1>
      </div>
    </header>
    <div class="l-main__content">
      <div class="container">
        
        
<!--

Temporary Default alert until web component release
<p style="background-color: #f2f9f9; border-top: 2px solid #009596; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#003737"><strong>Default</strong></span><br />Text here</p>

Temporary Info alert until web component release
<p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Info</strong></span><br />Text here</p>

Temporary Warning alert until web component release
<p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br />Text here</p>

-->




  <section class="section section--palette-default container">
    <a id="Overview"></a>
    <h2 id="overview" class="section-title pfe-jump-links-panel__section">Overview</h2>
    <p>A Call to action is a styled link that directs a user to other pages or sometimes displays hidden content.</p>
  </section>



  <section class="section section--palette-default container">
    <a id="Sample%20components"></a>
    <h2 id="sample-components" class="section-title pfe-jump-links-panel__section">Sample components</h2>
    <img src="/assets/cta/cta-sample.svg" alt="Call to action component sample" style="--inline-img-max-width: 529px;">
  </section>


<!-- To make a table, component="" must list the exact componenent name from column A here: https://docs.google.com/spreadsheets/d/1OfyP6KZcijXMAX7DvN7KYxlUmp8pqH2WQqQ-ndSc4uc/edit?usp=sharing -->


<section class="section section--palette-default container component-status-table-container">
  <a id="Component status"></a>
  <h2 id="component-status" class="section-title pfe-jump-links-panel__section">Component status</h2>
  <table class="component-status-table">
    <thead>
      <tr><th>Component name</th>
<th>Not coded yet</th>
<th>Studio repo</th>
<th>PFE repo</th>
<th>Drupal/FTS repo</th>
<th>Adobe Target repo</th>
<th>Other repo</th>
<th>Row last updated</th>
<th>Notes/pattern/usage</th>
<th>Component doc</th>
      </tr>
    </thead>
    <tbody><tr>
        <th>Call to action - primary</th><td></td>
<td>x</td>
<td>x</td>
<td>x</td>
<td></td>
<td></td>
<td>6/10/20</td>
<td></td>
<td>CTA</td>
      </tr>
<tr>
        <th>Call to action - primary video</th><td></td>
<td>x</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>6/10/20</td>
<td></td>
<td></td>
      </tr>
<tr>
        <th>Call to action - primary disabled</th><td></td>
<td></td>
<td>x</td>
<td></td>
<td></td>
<td></td>
<td>6/10/20</td>
<td></td>
<td></td>
      </tr>
<tr>
        <th>Call to action - secondary (ghost)</th><td></td>
<td></td>
<td>x</td>
<td>x</td>
<td></td>
<td></td>
<td>6/10/20</td>
<td></td>
<td></td>
      </tr>
<tr>
        <th>Call to action - secondary (ghost blue)</th><td>x</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>6/10/20</td>
<td></td>
<td></td>
      </tr>
<tr>
        <th>Call to action - default</th><td></td>
<td></td>
<td>x</td>
<td>x</td>
<td></td>
<td></td>
<td>6/10/20</td>
<td></td>
<td></td>
      </tr>
<tr>
        <th>Call to action - default video</th><td></td>
<td>x</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>6/10/20</td>
<td></td>
<td></td>
      </tr>
<tr>
        <th>Call to action - brick</th><td></td>
<td>x</td>
<td></td>
<td>x</td>
<td></td>
<td></td>
<td>6/10/20</td>
<td></td>
<td></td>
      </tr>
<tr>
        <th>Call to action - brick with icon</th><td>x</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>6/10/20</td>
<td></td>
<td></td>
      </tr>
    </tbody>
  </table>
  <small>Last updated: 6/10/2020</small>
</section>





  <section class="section section--palette-default container">
    <a id="Demo"></a>
    <h2 id="demo" class="section-title pfe-jump-links-panel__section">Demo</h2>
    <p>View a live version of this component and see how it can be customized.</p>

  <pfe-cta>
    <a href="https://patternflyelements.org/components/cta/">View the PatternFly Elements component</a>
  </pfe-cta>
  </section>


<hr class="margin-top--2 margin-bottom--10">


  <section class="section section--palette-default container">
    <a id="Style"></a>
    <h2 id="style" class="section-title pfe-jump-links-panel__section">Style</h2>
    
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/cta/cta-blueprint.svg" alt="Call to action component blueprint" style="--inline-img-max-width: 758px;">
  </div>


  <h4 id="variants">Variants</h4>

  <p>There are several call to action variants available for use depending on what you want a user to select.</p>

  <div class="multi-column--min-400-wide">
    <div>
      <h4 id="primary">Primary</h4>
      <p>Use for the primary or most important link. This variant is the highest in hierarchy and can also be used to play a video in a <a href="https://ux.redhat.com/components/modal/" target="_blank">Modal</a> or large container.</p>
      <img src="/assets/cta/cta-variant-primary.svg" alt="Call to action component, Primary variant" style="--inline-img-max-width: 141px;">
    </div>
    <div>
      <h4 id="primary-video">Primary (video)</h4>
      <p>Used only to play an important video in a <a href="https://ux.redhat.com/components/modal/" target="_blank">Modal</a> or large container. Do not use without a background underneath or use the <strong>Primary</strong> or <strong>Default, video</strong> variants instead.</p>
      <img src="/assets/cta/cta-variant-primary-video.svg" alt="Call to action component, Primary (video) variant" style="--inline-img-max-width: 153px;">
    </div>
    <div>
      <h4 id="primary-white">Primary (white)</h4>
      <p>Use if the red variant conflicts with other elements or violates accessibility standards. Use on dark backgrounds, otherwise use the <strong>Secondary</strong> variant instead.</p>
      <img src="/assets/cta/cta-variant-primary-white.svg" alt="Call to action component, Primary (white) variant" style="--inline-img-max-width: 157px;">
    </div>
    <div>
      <h4 id="secondary">Secondary</h4>
      <p>Use for secondary or general links. This variant is lower in hierarchy than the Primary variant and can be used multiple times in the same container or layout.</p>
      <img src="/assets/cta/cta-variant-secondary.svg" alt="Call to action component, Secondary variant" style="--inline-img-max-width: 162px;">
    </div>
    <div>
      <h4 id="brick">Brick</h4>
      <p>Use to group links together. Only the Brick variant can stretch to fit a container or grid, otherwise the text label padding in other variants stays the same.</p>
      <img src="/assets/cta/cta-variant-brick.svg" alt="Call to action component, Brick variant" style="--inline-img-max-width: 116px;">
    </div>
    <div>
      <h4 id="brick-icon">Brick (icon)</h4>
      <p>Use to group links with icons together. Only the Brick variant can stretch to fit a container or grid, otherwise the text label padding in other variants stays the same.</p>
      <img src="/assets/cta/cta-variant-brick-icon.svg" alt="Call to action component, Brick (icon) variant" style="--inline-img-max-width: 156px;">
    </div>
    <div>
      <h4 id="default">Default</h4>
      <p>Use for tertiary or the least important links. This variant is the lowest in hierarchy and can be used multiple times in the same container or layout.</p>
      <img src="/assets/cta/cta-variant-default.svg" alt="Call to action component, Default variant" style="--inline-img-max-width: 102px;">
    </div>
    <div>
      <h4 id="default-video">Default (video)</h4>
      <p>Use to play less important videos in a <a href="https://ux.redhat.com/components/modal/" target="_blank">Modal</a> only. This variant is the lowest in hierarchy and can be used multiple times in the same container or layout.</p>
      <img src="/assets/cta/cta-variant-default-video.svg" alt="Call to action component, Default (video) variant" style="--inline-img-max-width: 95px;">
    </div>
  </div>
  </section>



  <section class="section section--palette-default container">
    <a id="Theme"></a>
    <h2 id="theme" class="section-title pfe-jump-links-panel__section">Theme</h2>
    <h4 id="light-theme">Light theme</h4>

  
  <div class="example example--palette-light">
    
    
    <img src="/assets/cta/cta-theme-light.svg" alt="Call to action component, light theme" style="--inline-img-max-width: 670px;">
  </div>


  <h4 id="dark-theme">Dark theme</h4>

  
  <div class="example example--palette-darkest">
    
    
    <img src="/assets/cta/cta-theme-dark.svg" alt="Call to action component, dark theme" style="--inline-img-max-width: 818px;">
  </div>

  </section>



  <section class="section section--palette-default container">
    <a id="Usage"></a>
    <h2 id="usage" class="section-title pfe-jump-links-panel__section">Usage</h2>
    <p>Call to action links are best used to entice a user to make a selection. For example, use the Primary variant to <strong>bring attention to an important link</strong> or use the Brick variant to <strong>group links together in a grid</strong>.</p>

  <h4 id="hierarchy">Hierarchy</h4>

  <p>Call to action links are ordered by hierarchy from left to right (large screens) or left to right and top to bottom (small screens). They can be used multiple times in the same container except for the Primary variants.</p>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/cta/cta-usage-hierarchy.svg" alt="Call to action component usage, hierarchy" style="--inline-img-max-width: 552px;">
  </div>


  <h4 id="navigation-vs-action">Navigation vs. action</h4>

  <p>Even though they look similar, call to action links and buttons have important differences. Call to action links are navigational elements whereas buttons perform actions.</p>

  <!-- Temporary Default alert until web component release -->
  <p style="background-color: #f2f9f9; border-top: 2px solid #009596; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#003737"><strong>Learn more</strong></span><br>Visit the <a href="https://ux.redhat.com/components/button/" target="_blank">Button</a> component page to learn more about how to use buttons.</p>

  <ul>
    <li>Call to action links are used in layouts (like the home page) whereas buttons are used in components (like a <a href="https://ux.redhat.com/components/form/" target="_blank">Form</a>).</li>
    <li>Call to action link text labels are larger and thicker than button text labels.</li>
    <li>Call to action links with containers include more padding than buttons with containers.</li>
    <li>Call to action link colors have different meanings than button colors.</li>
  </ul>

  <div class="margin-top--6 margin-bottom--0">
    <h4 id="content">Content</h4>
  </div>

  <p>Call to action links are navigational elements, so any text needs to <strong>accurately communicate the destination</strong>. Inconsistent experiences might lead to distrust, lessening the satisfaction of a user during their journey. Call to action link text labels should be <strong>action-oriented yet straightforward</strong> so a user will feel comfortable making a selection.</p>

  <!-- Temporary Warning alert until web component release -->
  <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br>Call to action link text labels need to be written clearly in order to be understood, therefore write <strong>no more than four or five words</strong> per link.</p>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/cta/cta-usage-content.svg" alt="Call to action component usage, content" style="--inline-img-max-width: 706px;">
  </div>


  <h4 id="character-count">Character count</h4>

  <p>Call to action link text labels should have fewer characters in order for their message to remain impactful for a user.</p>

  <!-- Temporary Warning alert until web component release -->
  <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br>Do not write long text labels because they might break to two lines on small screens or weaken an impactful message.</p>

  <section class="section">
    <table width="100%;">
      <thead>
        <tr>
          <th>Style</th>
          <th>Maximum characters</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Primary</td>
          <td>30</td>
        </tr>
        <tr>
          <td>Secondary</td>
          <td>35</td>
        </tr>
        <tr>
          <td>Brick</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>45</td>
        </tr>
      </tbody>
    </table>
  </section>

  <h4 id="variant-grouping">Variant grouping</h4>

  <p>Variants can be grouped together if there are different kinds of links that need to be displayed in the same container.</p>

  <!-- Temporary Info alert until web component release -->
  <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Helpful tip</strong></span><br>If there are more than three links that can be grouped together <strong>in a grid instead</strong>, use the Brick variants.</p>

  <div class="margin-top--4 margin-bottom--4">
    <!-- Temporary Warning alert until web component release -->
    <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br>Do not group <strong>more than three</strong> Primary, Secondary, or Default variants together otherwise a user might have trouble making a selection.</p>
  </div>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/cta/cta-usage-variant-grouping.svg" alt="Call to action component usage, variant groups" style="--inline-img-max-width: 650px;">
  </div>


  <h4 id="buttons">Buttons</h4>

  <p>Do not use a call to action link to trigger an action, like submitting a form or changing a state.</p>

  <!-- Temporary Default alert until web component release -->
  <p style="background-color: #f2f9f9; border-top: 2px solid #009596; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#003737"><strong>Learn more</strong></span><br>Visit the <a href="https://ux.redhat.com/components/button/" target="_blank">Button</a> or <a href="https://ux.redhat.com/components/form/" target="_blank">Form</a> component pages to learn more about how to use buttons and forms.</p>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/cta/cta-usage-buttons.svg" alt="Call to action component usage, buttons" style="--inline-img-max-width: 800px;">
  </div>


  <h4 id="brick-icon">Brick (icon)</h4>

  <p>When grouping Brick (icon) variants, different icons can be used to communicate different topics, but they all must be the same style, color, and height.</p>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/cta/cta-usage-brick-icon.svg" alt="Call to action component usage, Brick (icon) variant" style="--inline-img-max-width: 684px;">
  </div>


  <div class="margin-top--7 margin-bottom--0">
    <h4 id="primary-white">Primary (white)</h4>
  </div>

  <p>The Primary (white) variant can be used if the red variant conflicts with other elements or violates accessibility standards.</p>
  </section>



  <section class="section section--palette-default container">
    <a id="Behavior"></a>
    <h2 id="behavior" class="section-title pfe-jump-links-panel__section">Behavior</h2>
    <h4 id="brick">Brick</h4>

  <p>Similar to an <a href="https://ux.redhat.com/components/accordion/" target="_blank">Accordion</a>, Brick variants have the ability to hide or reveal content when selected. Otherwise, the Brick variants function like regular links if no content needs to be hidden.</p>

  <div class="margin-top--4 margin-bottom--7">
    <img src="/assets/cta/cta-brick-variant.svg" alt="Call to action component usage, Brick variant" style="--inline-img-max-width: 1000px;">
  </div>
  </section>



  <section class="section section--palette-default container">
    <a id="Interaction%20states"></a>
    <h2 id="interaction-states" class="section-title pfe-jump-links-panel__section">Interaction states</h2>
    <p>All call to action link variants have interaction states.

  <!-- Primary variant -->
  </p><h4 id="primary-and-primary-video">Primary and Primary (video)</h4>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/cta/cta-interaction-states-primary.svg" alt="Call to action component interaction states, Primary variant" style="--inline-img-max-width: 872px;">
  </div>


  <div style="margin-top: -32px;">
    <section class="section">
      <table width="100%;">
        <thead>
          <tr>
            <th>Variant</th>
            <th>Interaction state</th>
            <th>Element</th>
            <th>Specs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Primary</td>
            <td>All states</td>
            <td>Text</td>
            <td>Red Hat Display, Bold, 16pt/24 (1.5), #FFF</td>
          </tr>
          <tr>
            <td>Primary (video)</td>
            <td>All states</td>
            <td>Icon</td>
            <td>#FFF</td>
          </tr>
          <tr>
            <td>Both</td>
            <td>Link, Focus</td>
            <td>Fill</td>
            <td>3px rounded corners, #E00</td>
          </tr>
          <tr>
            <td>Both</td>
            <td>Hover, Active</td>
            <td>Fill</td>
            <td>3px rounded corners, #D40000</td>
          </tr>
          <tr>
            <td>Both</td>
            <td>Focus, Active</td>
            <td>Border</td>
            <td>2px rounded corners, 1px thickness, #FFF</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

  <!-- Primary (white) variant -->
  <h4 id="primary-white">Primary (white)</h4>

  
  <div class="example example--palette-darkest">
    
    
    <img src="/assets/cta/cta-interaction-states-primary-white.svg" alt="Call to action component interaction states, Primary (white) variant" style="--inline-img-max-width: 872px;">
  </div>


  <div style="margin-top: -32px;">
    <section class="section">
      <table width="100%;">
        <thead>
          <tr>
            <th>Interaction state</th>
            <th>Element</th>
            <th>Specs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>All states</td>
            <td>Text</td>
            <td>Red Hat Display, Bold, 16pt/24 (1.5), #151515</td>
          </tr>
          <tr>
            <td>Link, Focus</td>
            <td>Fill</td>
            <td>3px rounded corners, #FFF</td>
          </tr>
          <tr>
            <td>Hover, Active</td>
            <td>Fill</td>
            <td>3px rounded corners, #D2D2D2</td>
          </tr>
          <tr>
            <td>Focus, Active</td>
            <td>Border</td>
            <td>2px rounded corners, 1px thickness, #151515</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

  <!-- Secondary variant, light theme -->
  <h4 id="secondary-light-theme">Secondary, light theme</h4>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/cta/cta-interaction-states-secondary-light-theme.svg" alt="Call to action component interaction states, Secondary variant (light theme)" style="--inline-img-max-width: 872px;">
  </div>


  <div style="margin-top: -32px;">
    <section class="section">
      <table width="100%;">
        <thead>
          <tr>
            <th>Interaction state</th>
            <th>Element</th>
            <th>Specs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Link, Focus</td>
            <td>Text</td>
            <td>Red Hat Display, Bold, 16pt/24 (1.5), #151515</td>
          </tr>
          <tr>
            <td>Hover, Active</td>
            <td>Text</td>
            <td>Red Hat Display, Bold, 16pt/24 (1.5), #FFF</td>
          </tr>
          <tr>
            <td>Link</td>
            <td>Border</td>
            <td>3px rounded corners, 1px thickness, #151515</td>
          </tr>
          <tr>
            <td>Focus</td>
            <td>Outer border</td>
            <td>3px rounded corners, 1px thickness, #151515</td>
          </tr>
          <tr>
            <td>Focus</td>
            <td>Fill</td>
            <td>3px rounded corners, #F0F0F0</td>
          </tr>
          <tr>
            <td>Focus</td>
            <td>Inner border</td>
            <td>2px rounded corners, 1px thickness, #151515</td>
          </tr>
          <tr>
            <td>Hover, Active</td>
            <td>Fill</td>
            <td>3px rounded corners, #151515</td>
          </tr>
          <tr>
            <td>Active</td>
            <td>Border</td>
            <td>2px rounded corners, 1px thickness, #FFF</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

  <!-- Secondary variant, dark theme -->
  <h4 id="secondary-dark-theme">Secondary, dark theme</h4>

  
  <div class="example example--palette-darkest">
    
    
    <img src="/assets/cta/cta-interaction-states-secondary-dark-theme.svg" alt="Call to action component interaction states, Secondary variant (dark theme)" style="--inline-img-max-width: 872px;">
  </div>


  <div style="margin-top: -32px;">
    <section class="section">
      <table width="100%;">
        <thead>
          <tr>
            <th>Interaction state</th>
            <th>Element</th>
            <th>Specs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Link, Focus</td>
            <td>Text</td>
            <td>Red Hat Display, Bold, 16pt/24 (1.5), #FFF</td>
          </tr>
          <tr>
            <td>Hover, Active</td>
            <td>Text</td>
            <td>Red Hat Display, Bold, 16pt/24 (1.5), #151515</td>
          </tr>
          <tr>
            <td>Link</td>
            <td>Border</td>
            <td>3px rounded corners, 1px thickness, #FFF</td>
          </tr>
          <tr>
            <td>Focus</td>
            <td>Outer border</td>
            <td>3px rounded corners, 1px thickness, #FFF</td>
          </tr>
          <tr>
            <td>Focus</td>
            <td>Fill</td>
            <td>3px rounded corners, #3C3F42</td>
          </tr>
          <tr>
            <td>Focus</td>
            <td>Inner border</td>
            <td>2px rounded corners, 1px thickness, #FFF</td>
          </tr>
          <tr>
            <td>Hover, Active</td>
            <td>Fill</td>
            <td>3px rounded corners, #FFF</td>
          </tr>
          <tr>
            <td>Active</td>
            <td>Border</td>
            <td>2px rounded corners, 1px thickness, #151515</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

  <!-- Brick variant -->
  <h4 id="brick">Brick</h4>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/cta/cta-interaction-states-brick.svg" alt="Call to action component interaction states, Brick variant" style="--inline-img-max-width: 872px;">
  </div>


  <div style="margin-top: -32px;">
    <section class="section">
      <table width="100%;">
        <thead>
          <tr>
            <th>Interaction state</th>
            <th>Element</th>
            <th>Specs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Link, Focus</td>
            <td>Text</td>
            <td>Red Hat Text, Regular, 16pt/24 (1.5), #06C</td>
          </tr>
          <tr>
            <td>Hover, Active</td>
            <td>Text</td>
            <td>Red Hat Text, Regular, 16pt/24 (1.5), Underline, #004080</td>
          </tr>
          <tr>
            <td>Link, Hover</td>
            <td>Border</td>
            <td>3px rounded corners, 1px thickness, #D2D2D2</td>
          </tr>
          <tr>
            <td>Focus</td>
            <td>Outer border</td>
            <td>3px rounded corners, 1px thickness, #D2D2D2</td>
          </tr>
          <tr>
            <td>Focus</td>
            <td>Inner border</td>
            <td>2px rounded corners, 1px thickness, #D2D2D2</td>
          </tr>
          <tr>
            <td>Hover, Active</td>
            <td>Fill</td>
            <td>3px rounded corners, #F5F5F5</td>
          </tr>
          <tr>
            <td>Active</td>
            <td>Outer border</td>
            <td>3px rounded corners, 1px thickness, #D2D2D2</td>
          </tr>
          <tr>
            <td>Active</td>
            <td>Inner border</td>
            <td>2px rounded corners, 1px thickness, #D2D2D2</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

  <!-- Brick (icon) variant -->
  <h4 id="brick-icon">Brick (icon)</h4>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/cta/cta-interaction-states-brick-icon.svg" alt="Call to action component interaction states, Brick (icon) variant" style="--inline-img-max-width: 872px;">
  </div>


  <div style="margin-top: -32px;">
    <section class="section">
      <table width="100%;">
        <thead>
          <tr>
            <th>Interaction state</th>
            <th>Element</th>
            <th>Specs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>All states</td>
            <td>Icon</td>
            <td>#D2D2D2</td>
          </tr>
          <tr>
            <td>Link, Focus</td>
            <td>Text</td>
            <td>Red Hat Text, Regular, 16pt/24 (1.5), #06C</td>
          </tr>
          <tr>
            <td>Hover, Active</td>
            <td>Text</td>
            <td>Red Hat Text, Regular, 16pt/24 (1.5), Underline, #004080</td>
          </tr>
          <tr>
            <td>Link, Hover</td>
            <td>Border</td>
            <td>3px rounded corners, 1px thickness, #D2D2D2</td>
          </tr>
          <tr>
            <td>Focus</td>
            <td>Outer border</td>
            <td>3px rounded corners, 1px thickness, #D2D2D2</td>
          </tr>
          <tr>
            <td>Focus</td>
            <td>Inner border</td>
            <td>2px rounded corners, 1px thickness, #D2D2D2</td>
          </tr>
          <tr>
            <td>Hover, Active</td>
            <td>Fill</td>
            <td>3px rounded corners, #F5F5F5</td>
          </tr>
          <tr>
            <td>Active</td>
            <td>Outer border</td>
            <td>3px rounded corners, 1px thickness, #D2D2D2</td>
          </tr>
          <tr>
            <td>Active</td>
            <td>Inner border</td>
            <td>2px rounded corners, 1px thickness, #D2D2D2</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

  <!-- Default and Default (video) variant, light theme -->
  <h4 id="default-and-default-video-light-theme">Default and Default (video), light theme</h4>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/cta/cta-interaction-states-default-light-theme.svg" alt="Call to action component interaction states, Default and Default (video) variant (light theme)" style="--inline-img-max-width: 872px;">
  </div>


  <div style="margin-top: -32px;">
    <section class="section">
      <table width="100%;">
        <thead>
          <tr>
            <th>Interaction state</th>
            <th>Element</th>
            <th>Specs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Link, Focus</td>
            <td>Text</td>
            <td>Red Hat Display, Bold, 18pt/27 (1.5), #06C</td>
          </tr>
          <tr>
            <td>Hover, Active</td>
            <td>Text</td>
            <td>Red Hat Display, Bold, 18pt/27 (1.5), #004080</td>
          </tr>
          <tr>
            <td>Link, Focus</td>
            <td>Icon</td>
            <td>#06C</td>
          </tr>
          <tr>
            <td>Hover, Active</td>
            <td>Icon</td>
            <td>#004080</td>
          </tr>
          <tr>
            <td>Focus</td>
            <td>Background</td>
            <td>3px rounded corners, #06C, 10% opacity</td>
          </tr>
          <tr>
            <td>Active</td>
            <td>Background</td>
            <td>3px rounded corners, #004080, 10% opacity</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

  <!-- Default and Default (video) variant, dark theme -->
  <h4 id="default-and-default-video-dark-theme">Default and Default (video), dark theme</h4>

  
  <div class="example example--palette-darkest">
    
    
    <img src="/assets/cta/cta-interaction-states-default-dark-theme.svg" alt="Call to action component interaction states, Default and Default (video) variant (dark theme)" style="--inline-img-max-width: 872px;">
  </div>


  <div style="margin-top: -32px;">
    <section class="section">
      <table width="100%;">
        <thead>
          <tr>
            <th>Interaction state</th>
            <th>Element</th>
            <th>Specs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Link, Focus</td>
            <td>Text</td>
            <td>Red Hat Display, Bold, 18pt/27 (1.5), #73BCF7</td>
          </tr>
          <tr>
            <td>Hover, Active</td>
            <td>Text</td>
            <td>Red Hat Display, Bold, 18pt/27 (1.5), #BEE1F4</td>
          </tr>
          <tr>
            <td>Link, Focus</td>
            <td>Icon</td>
            <td>#73BCF7</td>
          </tr>
          <tr>
            <td>Hover, Active</td>
            <td>Icon</td>
            <td>#BEE1F4</td>
          </tr>
          <tr>
            <td>Focus</td>
            <td>Background</td>
            <td>3px rounded corners, #73BCF7, 25% opacity</td>
          </tr>
          <tr>
            <td>Active</td>
            <td>Background</td>
            <td>3px rounded corners, #BEE1F4, 25% opacity</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
  </section>



  <section class="section section--palette-default container">
    <a id="Accessibility"></a>
    <h2 id="accessibility" class="section-title pfe-jump-links-panel__section">Accessibility</h2>
    <table style="width:100%;">
    <tbody>
      <tr>
        <th>Key</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>Tab</td>
        <td>Moves the focus to the next call to action link if within a group.</td>
      </tr>
      <tr>
        <td>Shift + Tab</td>
        <td>Moves the focus to the previous call to action link if within a group.</td>
      </tr>
      <tr>
        <td>Enter</td>
        <td>Selects the call to action link.</td>
      </tr>
    </tbody>
  </table>
  </section>



  <section class="section section--palette-default container">
    <a id="Responsive%20design"></a>
    <h2 id="responsive-design" class="section-title pfe-jump-links-panel__section">Responsive design</h2>
    <h4 id="ordering">Ordering</h4>

  <p>When call to action links are grouped together, they are ordered by hierarchy from left to right. On small screens, the order changes to <strong>left to right and top to bottom</strong> if there are call to action links that fall into a second row.</p>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/cta/cta-responsive-design-ordering.svg" alt="Call to action component responsive design, ordering" style="--inline-img-max-width: 750px;">
  </div>


  <h4 id="long-text-labels">Long text labels</h4>

  <p>Long text labels will wrap to two lines on small screens or when translated to certain languages. This can be avoided by writing less text or revising existing text to be shorter.</p>

  <!-- Temporary Warning alert until web component release -->
  <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br>The Default call to action link arrow should not appear by itself, it should always be connected to at least one word on the same line.</p>

  
  <div class="example example--palette-lightest">
    
    
    <img src="/assets/cta/cta-responsive-design-long-text-labels.svg" alt="Call to action component responsive design, long text labels" style="--inline-img-max-width: 360px;">
  </div>


  <h4 id="brick">Brick</h4>

  <p>The Brick variants will move around the grid to accommodate different container sizes.</p>

  <!-- Temporary Warning alert until web component release -->
  <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br>Long text labels might break to two lines which adds height and disrupts the grid, therefore write <strong>no more than two or three words</strong> per link.</p>

  <div class="margin-top--4 margin-bottom--0">
    <img src="/assets/cta/cta-responsive-design-brick.svg" alt="Call to action component responsive design, ordering" style="--inline-img-max-width: 1000px;">
  </div>
  </section>



  <section class="section section--palette-default container">
    <a id="Best%20practices"></a>
    <h2 id="best-practices" class="section-title pfe-jump-links-panel__section">Best practices</h2>
    <h4 id="changing-styles">Changing styles</h4>

  <p>Do not modify the styles of any variant for any reason.</p>

  
  <div class="example example--palette-wrong">
    
    
    <img src="/assets/cta/cta-bestpractice-1.svg" alt="Call to action component, best practice 1" style="--example-img-max-width: 598px;">
  </div>


  <h4 id="too-many-links">Too many links</h4>

  <p>Do not group more than three variants together otherwise a user might have trouble making a selection if there are too many link choices.</p>

  
  <div class="example example--palette-wrong">
    
    
    <img src="/assets/cta/cta-bestpractice-2.svg" alt="Call to action component, best practice 2" style="--example-img-max-width: 635px;">
  </div>


  <h4 id="using-multiple-primary-variants">Using multiple Primary variants</h4>

  <p>Do not use multiple Primary variants in the same group, use of that variant is reserved to represent the most important link.</p>

  
  <div class="example example--palette-wrong">
    
    
    <img src="/assets/cta/cta-bestpractice-3.svg" alt="Call to action component, best practice 3" style="--example-img-max-width: 305px;">
  </div>


  <h4 id="mixing-variant-groups">Mixing variant groups</h4>

  <p>Do not group more than two variants together anywhere.</p>

  
  <div class="example example--palette-wrong">
    
    
    <img src="/assets/cta/cta-bestpractice-4.svg" alt="Call to action component, best practice 4" style="--example-img-max-width: 405px;">
  </div>


  <h4 id="mixing-bricks">Mixing Bricks</h4>

  <p>Do not group different Brick variants together anywhere, use one only.</p>

  
  <div class="example example--palette-wrong">
    
    
    <img src="/assets/cta/cta-bestpractice-5.svg" alt="Call to action component, best practice 5" style="--example-img-max-width: 552px;">
  </div>


  <h4 id="changing-hierarchy">Changing hierarchy</h4>

  <p>Do not change the hierarchy when grouping, variants that are higher in hierarchy should go first.</p>

  <!-- Temporary Warning alert until web component release -->
  <p style="background-color: #fdf7e7; border-top: 2px solid #f0ab00; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#795600"><strong>Warning</strong></span><br>Do not change the hierarchy when grouping unless the change is to accommodate right-to-left languages.</p>

  
  <div class="example example--palette-wrong">
    
    
    <img src="/assets/cta/cta-bestpractice-6.svg" alt="Call to action component, best practice 6" style="--example-img-max-width: 690px;">
  </div>


  <h4 id="stretching">Stretching</h4>

  <p>Do not stretch any other variants to fit a container or grid, only the Brick variants can stretch.</p>

  
  <div class="example example--palette-wrong">
    
    
    <img src="/assets/cta/cta-bestpractice-7.svg" alt="Call to action component, best practice 7" style="--example-img-max-width: 664px;">
  </div>

  </section>



  <section class="section section--palette-default container">
    <a id="Spacing"></a>
    <h2 id="spacing" class="section-title pfe-jump-links-panel__section">Spacing</h2>
    <p>Call to action links use <a href="https://www.patternfly.org/v4/guidelines/spacers" target="_blank">PatternFly 4 spacers</a> to define spacing values between elements.</p>

  <!-- Temporary Info alert until web component release -->
  <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Helpful tip</strong></span><br>The same variants across <strong>both themes</strong> share the same spacing values, for example Primary, Secondary, and Default variants.</p>

  
  <div class="example example--palette-light">
    
    
    <img src="/assets/cta/cta-spacing.svg" alt="Call to action component spacing" style="--example-img-max-width: 664px;">
  </div>

  </section>


<div class="multi-column--min-300-wide">

  
  <section class="section section--palette-default container">
    <a id="Feedback"></a>
    <h2 id="feedback" class="section-title pfe-jump-links-panel__section">Feedback</h2>
    <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  </section>


  
  <section class="section section--palette-default container">
    <a id="Foundations"></a>
    <h2 id="foundations" class="section-title pfe-jump-links-panel__section">Foundations</h2>
    <p>To learn how to use our other components in your designs, visit the <a href="/components">Components</a> section.</p>
  </section>


</div>

      </div>
    </div>
  </article>
    

  <footer class="main-footer">
    <img style="max-width: 135px;" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark.svg" alt="Red Hat">
    <p>Copyright © 2021-2022 Red Hat, Inc.</p>
    <div class="main-footer--list">
      <ul>
        <li><a href="https://www.redhat.com/en/about/privacy-policy">Privacy statement</a></li>
        <li><a href="https://www.redhat.com/en/about/terms-use">Terms of use</a></li>
        <li><a href="https://www.redhat.com/en/about/all-policies-guidelines">All policies and guidelines</a></li>
      </ul>
    </div>

    <a id="netlify-badge" href="https://www.netlify.com" target="_blank" rel="noreferrer noopener">
      <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" alt="Deploys by Netlify">
    </a>
  </footer>

<div class="back-to-top">
    <a href="#top" class="back-to-top-link">
        <img src="/assets/back-to-top.svg" alt="Scroll back to the top">
    </a>
</div>

</main>


  </div>



</body></html>