:host {
  display: block;
  overflow: hidden;
  will-change: height;

  --_panel-body-padding-block-start: var(--rh-space-lg, 16px);
  --_panel-body-padding-inline-end: var(--rh-space-xl, 24px);
  --_panel-body-padding-block-end: var(--rh-space-lg, 16px);
  --_panel-body-padding-inline-start: var(--rh-space-xl, 24px);
}

/* Hide panels when not expanded, only when scripting is available */
@media (scripting: enabled) {
  :host(:not([expanded])) {
    display: none;
  }
}

::slotted(*:not(rh-accordion)) {
  display: block;
  margin: unset;
  background-color: transparent;
}

:host ::slotted(*:not(:first-child)) {
  padding-block-start: var(--rh-space-xl, 24px);
}

.large {
  --_panel-body-padding-block-start: var(--rh-space-xl, 24px);
  --_panel-body-padding-inline-end: var(--rh-space-xl, 24px);
  --_panel-body-padding-block-end: var(--rh-space-xl, 24px);
  --_panel-body-padding-inline-start: var(--rh-space-xl, 24px);
}

.body {
  position: relative;
  overflow: hidden;
  display: block;
  padding:
    var(--_panel-body-padding-block-start, var(--rh-space-md, 8px))
    var(--_panel-body-padding-inline-end, var(--rh-space-lg, 16px))
    var(--_panel-body-padding-block-end, var(--rh-space-md, 8px))
    var(--_panel-body-padding-inline-start, var(--rh-space-lg, 16px));
}

:host([fixed]) {
  overflow-y: auto;
  max-height: 9.375rem;
}

:host([expanded]) {
  display: block;
  position: relative;
  position: unset;
}

#container {
  border-inline-end: 1px solid var(--rh-color-border-subtle);
  background-color: var(--_accordion-background);
}

.body:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--rh-border-width-lg, 3px);
  background-color: var(--rh-color-accent-brand);
  inset-block: 0;
  inset-inline-start: 0;
}

.content {
  color: var(--rh-color-text-primary);
  font-size: var(--_panel-font-size);
}
