:host {
  --_rh-accordion-header-background-color: #ffffff;
  --_rh-accordion-header-font-size: var(--rh-font-size-body-text-md, 1rem);
  --pfe-icon--size: 16px;

  color: var(--rh-color-text-primary-on-light, #151515);
  background-color: var(--_rhds-background-color, var(--rh-color-surface-lightest, #ffffff));
}

:host([on="dark"]) {
  --_rh-accordion-header-color: var(--rh-color-white, #ffffff);
  --_rh-accordion-header-background-color: var(--rh-color-surface-darkest, #151515);
  --_rh-accordion-header-active-background-color: var(--rh-color-surface-darkest, #151515);
  --_rh-accordion-header-active-text-color: var(--rh-color-text-primary-on-dark, #ffffff);
  --_rh-accordion-header-expanded-background-color: var(--rh-color-brand-red-on-dark, #ff3333);
  --_rh-accordion-header-border-right-color: var(--rh-color-black-600, #6a6e73);

  color: var(--rh-color-text-primary-on-dark, #ffffff);
  background-color: var(--rh-color-surface-darkest, #151515);
}

:host([large]) {
  --_rh-accordion-header-font-size: var(--rh-font-size-body-text-lg, 1.125rem);
  --_rh-accordion-header-padding-top: var(--rh-space-lg, 16px);
  --_rh-accordion-header-padding-right: var(--rh-space-xl, 24px);
  --_rh-accordion-header-padding-bottom: var(--rh-space-lg, 16px);
  --_rh-accordion-header-padding-left: var(--rh-space-xl, 24px);
  --_rh-accordion-header-active-text-color: var(--rh-color-text-primary-on-light, #151515);
}

:host([expanded]) {
  border-right: 1px solid var(--_rh-accordion-header-border-right-color, #d2d2d2);
}

:host(.animating) .toggle,
:host([expanded]) .toggle {
  border-right-color: var(--rh-color-border-subtle-on-light, #d2d2d2);
  border-left-color: var(--rh-color-border-subtle-on-light, #d2d2d2);
}

#heading {
  font-weight: var(--rh-font-weight-heading-medium, 500);
}

.toggle,
.toggle:before,
.toggle:after {
  background-color: var(--_rh-accordion-header-background-color, transparent);
}

.icon {
  transition: 0.2s ease-in 0s;
}

.toggle {
  padding:
    var(
      --_rh-accordion-header-padding-top,
      var(
        --rh-space-lg,
        16px
      )
    )
    var(
      --_rh-accordion-header-padding-right,
      var(
        --rh-space-xl,
        24px
      )
    )
    var(
      --_rh-accordion-header-padding-bottom,
      var(
        --rh-space-lg,
        16px
      )
    )
    var(
      --_rh-accordion-header-padding-left,
      var(
        --rh-space-xl,
        24px
      )
    );
  font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Overpass, Helvetica, Arial, sans-serif);
  font-size: var(--_rh-accordion-header-font-size, var(--rh-font-size-body-text-md, 1rem));
  font-weight: var(--rh-font-weight-heading-medium, 500);
  color: var(--_rh-accordion-header-color, var(--rh-color-text-primary-on-light, #151515));
}

.toggle[aria-expanded="true"] {
  --_rh-accordion-header-after-background-color:
    var(
      --_rh-accordion-header-expanded-background-color,
      var(
        --rh-color-text-brand-on-light,
        #ee0000
      )
    );
}

.toggle:after {
  top: -1px;
  width: var(--rh-border-width-lg, 3px);
  background-color: var(--_rh-accordion-header-after-background-color, transparent);
}

span {
  max-width: calc(100% - var(--rh-space-xl, 24px));
  overflow: auto;
  text-overflow: unset;
  white-space: normal;
  text-align: start;
}

.toggle[aria-expanded="true"] .icon {
  rotate: var(--_rh-accordion-header-expanded-icon-rotate, -180deg);
}

.toggle:hover,
.toggle:active,
.toggle:focus {
  background-color:
    var(
      --_rh-accordion-header-active-background-color,
      var(
        --_rhds-background-color,
        #f0f0f0
      )
    );
}

.toggle:hover span,
.toggle:focus span,
.toggle:active span {
  color:
    var(
      --_rh-accordion-header-active-text-color,
      var(
        --rh-color-text-primary-on-light,
        #151515
      )
    );
}

.toggle:focus span,
.toggle:active span {
  font-weight:
    var(
      --rh-font-weight-heading-bold,
      700
    );
}
