:host {
  color: var(--rh-color-surface-darkest, #151515);
  background-color:
    var(
      --_rhds-c-accordion--BackgroundColor,
      var(--rh-color-white, #ffffff)
    );
  border-right: 1px solid var(--_rhds-c-accordion__panel--BorderRight--Color, var(--rh-color-black-300, #d2d2d2));

  --_rhds-c-accordion__panel--Color: var(--rh-color-surface-darkest, #151515);
  --_rhds-c-accordion__panel--FontSize: var(--rh-font-size-body-text-md, 1rem);
  --_rhds-c-accordion__panel--content-body--before--BackgroundColor: var(--rh-color-border-danger-on-light, #ee0000);
  --_rhds-c-accordion__panel-body--PaddingTop: var(--rh-space-lg, 16px);
  --_rhds-c-accordion__panel-body--PaddingRight: var(--rh-space-xl, 24px);
  --_rhds-c-accordion__panel-body--PaddingBottom: var(--rh-space-lg, 16px);
  --_rhds-c-accordion__panel-body--PaddingLeft: var(--rh-space-xl, 24px);
}

.body {
  padding:
    var(--_rhds-c-accordion__panel-body--PaddingTop, var(--rh-space-md, 8px))
    var(--_rhds-c-accordion__panel-body--PaddingRight, var(--rh-space-lg, 16px))
    var(--_rhds-c-accordion__panel-body--PaddingBottom, var(--rh-space-md, 8px))
    var(--_rhds-c-accordion__panel-body--PaddingLeft, var(--rh-space-lg, 16px));
}

.body:after {
  width: var(--_rhds-c-accordion__panel-body--before--Width, var(--rh-border-width-lg, 3px));
  background-color: var(--_rhds-c-accordion__panel-body--before--BackgroundColor, transparent);
}

:host([on="dark"]) {
  --_rhds-c-accordion--BackgroundColor: #151515;
  --_rhds-c-accordion__panel--Color: #ffffff;
  --_rhds-c-accordion__panel--content-body--before--BackgroundColor: #ff3333;
  --_rhds-c-accordion__panel--BorderRight--Color: #6a6e73;
}

:host ::slotted(*) {
  display: block;
  padding-top: var(--rh-space-xl, 24px);
  background-color: transparent;
}

:host([large]) {
  --_rhds-c-accordion__panel-body--PaddingTop: var(--rh-space-xl, 24px);
  --_rhds-c-accordion__panel-body--PaddingRight: var(--rh-space-xl, 24px);
  --_rhds-c-accordion__panel-body--PaddingBottom: var(--rh-space-xl, 24px);
  --_rhds-c-accordion__panel-body--PaddingLeft: var(--rh-space-xl, 24px);
  --_rhds-c-accordion__panel--FontSize: var(--rh-font-size-body-text-md, 1rem);
}

:host([large]) .body:last-child {
  --_rhds-c-accordion__panel-body--PaddingBottom: var(--rh-space-xl, 24px);
}

.content {
  color: var(--_rhds-c-accordion__panel--Color, var(--rh-color-surface-darkest, #151515));
  font-size: var(--_rhds-c-accordion__panel--FontSize, var(--rh-font-size-body-text-sm, 0.875rem));
}

:host([fixed]) {
  max-height: 9.375rem;
}

.content[expanded],
:host([expanded]) .content {
  --_rhds-c-accordion__panel-body--before--BackgroundColor:
    var(
      --_rhds-c-accordion__panel--content-body--before--BackgroundColor,
      var(--rh-color-accent-base-on-light, #0066cc)
    );
}
