:host {
  --_border-color: var(--rh-color-border-subtle-on-light, #c7c7c7);

  color: var(--rh-color-text-primary-on-light, #151515);
  background-color: var(--rh-color-surface-white, #ffffff);
}

:host([on="dark"]) {
  --_border-color: var(--rh-color-border-subtle-on-dark, #707070);
}

#container { display: contents; }

::slotted(rh-accordion-header:first-child) {
  display: block;
  border-block: 1px solid var(--_border-color);
}

::slotted(rh-accordion-header:not(:first-child)) {
  display: block;
  border-block-end: 1px solid var(--_border-color);
}

::slotted(rh-accordion-header:is([expanded])) {
  display: block;
  border-block-end: 0;
  box-shadow: var(--rh-box-shadow-sm, 0 2px 4px 0 rgba(21, 21, 21, 0.2));
}

::slotted(rh-accordion-panel:is([expanded])) {
  display: block;
  border-block-end: 1px solid var(--_border-color);
  box-shadow: var(--rh-box-shadow-sm, 0 2px 4px 0 rgba(21, 21, 21, 0.2));
}
