:host {
  --_rhds-c-accordion__toggle--BackgroundColor: #ffffff;
  --_rhds-c-accordion__toggle--FontSize: var(--rh-font-size-body-text-md, 1rem);
  --pfe-icon--size: 16px;

  color: var(--rh-context-light-color-text, #151515);
  background-color: var(--_rhds-background-color, var(--rh-color-surface-lightest, #ffffff));
}

:host([on="dark"]) {
  --_rhds-c-accordion__toggle--Color: #ffffff;
  --_rhds-c-accordion__toggle--BackgroundColor: #151515;
  --_rhds-c-accordion__toggle--active--BackgroundColor: #151515;
  --_rhds-c-accordion__toggle--active-text--Color: #ffffff;
  --_rhds-c-accordion__toggle--expanded--before--BackgroundColor: #ff3333;
  --_rhds-c-accordion__toggle--BorderRight--Color: #6a6e73;

  color: #ffffff;
  background-color: var(--rh-color-surface-darkest, #151515);
}

:host([large]) {
  --_rhds-c-accordion__toggle--FontSize: var(--rh-font-size-body-text-lg, 1.125rem);
  --_rhds-c-accordion__toggle--PaddingTop: var(--rh-space-lg, 16px);
  --_rhds-c-accordion__toggle--PaddingRight: var(--rh-space-xl, 24px);
  --_rhds-c-accordion__toggle--PaddingBottom: var(--rh-space-lg, 16px);
  --_rhds-c-accordion__toggle--PaddingLeft: var(--rh-space-xl, 24px);
  --_rhds-c-accordion__toggle--active-text--Color: var(--rh-color-text-primary-on-light, #151515);
}

:host([expanded]) {
  border-right: 1px solid var(--_rhds-c-accordion__toggle--BorderRight--Color, #d2d2d2);
}

:host(.animating) .toggle,
:host([expanded]) .toggle {
  border-right-color: var(--rh-color-border-subtle-on-light, #d2d2d2);
  border-left-color: var(--rh-color-border-subtle-on-light, #d2d2d2);
}

#heading {
  font-weight: var(--rh-font-weight-heading-medium, 500);
}

.toggle,
.toggle:before,
.toggle:after {
  background-color: var(--_rhds-c-accordion__toggle--BackgroundColor, transparent);
}

.icon {
  transition: 0.2s ease-in 0s;
}

.toggle {
  padding:
    var(
      --_rhds-c-accordion__toggle--PaddingTop,
      var(
        --rh-space-lg,
        16px
      )
    )
    var(
      --_rhds-c-accordion__toggle--PaddingRight,
      var(
        --rh-space-xl,
        24px
      )
    )
    var(
      --_rhds-c-accordion__toggle--PaddingBottom,
      var(
        --rh-space-lg,
        16px
      )
    )
    var(
      --_rhds-c-accordion__toggle--PaddingLeft,
      var(
        --rh-space-xl,
        24px
      )
    );
  font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Overpass, Helvetica, Arial, sans-serif);
  font-size: var(--_rhds-c-accordion__toggle--FontSize, var(--rh-font-size-body-text-md, 1rem));
  font-weight: var(--rh-font-weight-heading-medium, 500);
  color: var(--_rhds-c-accordion__toggle--Color, var(--rh-color-text-primary-on-light, #151515));
}

.toggle[aria-expanded="true"] {
  --_rhds-c-accordion__toggle--after--BackgroundColor:
    var(
      --_rhds-c-accordion__toggle--expanded--before--BackgroundColor,
      var(
        --rh-color-text-brand-on-light,
        #ee0000
      )
    );
}

.toggle:after {
  top: -1px;
  width: var(--rh-border-width-lg, 3px);
  background-color: var(--_rhds-c-accordion__toggle--after--BackgroundColor, transparent);
}

span {
  max-width: calc(100% - var(--rh-space-xl, 24px));
  overflow: auto;
  text-overflow: unset;
  white-space: normal;
  text-align: start;
}

.toggle[aria-expanded="true"] .icon {
  rotate: var(--rhds-c-accordion__toggle--expanded-icon--Rotate, -180deg);
}

.toggle:hover,
.toggle:active,
.toggle:focus {
  background-color:
    var(
      --_rhds-c-accordion__toggle--active--BackgroundColor,
      var(
        --_rhds-background-color,
        #f0f0f0
      )
    );
}

.toggle:hover span,
.toggle:focus span,
.toggle:active span {
  color:
    var(
      --_rhds-c-accordion__toggle--active-text--Color,
      var(
        --rh-color-text-primary-on-light,
        #151515
      )
    );
}

.toggle:focus span,
.toggle:active span {
  font-weight:
    var(
      --rh-font-weight-heading-bold,
      700
    );
}
