:host {
  --pf-c-accordion__toggle--before--BackgroundColor: #ee0000;
  --_pf-c-accordion__toggle--BorderColor: #d2d2d2;
}

:host([on="dark"]) {
  --pf-c-accordion__toggle--before--BackgroundColor: #ff3333;
  --_pf-c-accordion__toggle--BorderColor: #6A6E73;
}

:host ::slotted(rh-accordion-header:first-child) {
  display: block;
  border-top: 1px solid var(--_pf-c-accordion__toggle--BorderColor);
  border-bottom: 1px solid var(--_pf-c-accordion__toggle--BorderColor);
}

:host ::slotted(rh-accordion-header:not(:first-child)) {
  display: block;
  border-bottom: 1px solid var(--_pf-c-accordion__toggle--BorderColor);
}

:host ::slotted(rh-accordion-header:is([expanded])) {
  display: block;
  border-bottom: 0;
  box-shadow: 0 2px 4px #15151533;

  --pf-c-accordion__toggle--BackgroundColor: var(--pf-global--BackgroundColor--200, #ffffff);
}

:host ::slotted(rh-accordion-panel:is([expanded])) {
  display: block;
  border-bottom: 1px solid var(--_pf-c-accordion__toggle--BorderColor);
  box-shadow: 0 2px 4px #15151533;

  --pf-c-accordion__toggle--BackgroundColor: var(--pf-global--BackgroundColor--200, #ffffff);
}
