:host {
  --_padding-block-start: var(--rh-space-lg, 16px);
  --_padding-inline-end: var(--rh-space-xl, 24px);
  --_padding-block-end: var(--rh-space-lg, 16px);
  --_padding-inline-start: var(--rh-space-xl, 24px);
  --_after-background-color: transparent;
  --_expanded-background-color: var(--rh-color-accent-brand);
  --rh-this-is-not-a-known-token: 100px;
}

button,
a {
  cursor: pointer;
}

.large {
  --_padding-block-start: var(--rh-space-lg, 16px);
  --_padding-inline-end: var(--rh-space-xl, 24px);
  --_padding-block-end: var(--rh-space-lg, 16px);
  --_padding-inline-start: var(--rh-space-xl, 24px);
}

:host([expanded]) {
  border-inline-end:
    var(--rh-border-width-sm, 1px)
    solid
    var(--rh-color-border-subtle);
}

:host(.animating) #button,
:host([expanded]) #button {
  border-inline-end-color: var(--rh-color-border-subtle);
  border-inline-start-color: var(--rh-color-border-subtle);
}

#icon {
  width: 16px;
  height: 16px;
  will-change: rotate;
  transition: rotate 0.2s ease-in 0s;
}

span {
  overflow: hidden;
  text-align: start;
}

#button {
  color: var(--rh-color-text-primary);
  background-color: var(--_accordion-background);
  font-weight: var(--rh-font-weight-body-text-medium, 500);
  width: 100%;
  padding:
    var(--_padding-block-start)
    var(--_padding-inline-end)
    var(--_padding-block-end)
    var(--_padding-inline-start);
  font-family: var(--rh-font-family-body-text, RedHatText, 'Red Hat Text', Helvetica, Arial, sans-serif);
  font-size: var(--_header-font-size);

  & #icon {
    fill: currentcolor;
  }

  &:is(:hover,:active,:focus) {
    background-color:
      light-dark(var(--rh-color-surface-lighter),
        oklch(from var(--rh-color-surface-dark, #383838) calc(l * 0.82) c h));

    & span {
      color: var(--rh-color-text-primary);
    }
  }

  &:focus {
    outline: 2px solid var(--rh-color-interactive-primary-default);
  }

  &:after {
    inset-block-start: -1px;
    width: var(--rh-border-width-lg, 3px);
    background-color: var(--_after-background-color);
  }

  &.expanded {
    --_after-background-color: var(--rh-color-accent-brand);

    & #icon {
      rotate: -180deg;

      &:dir(rtl) {
        rotate: 180deg;
      }
    }
  }
}

#header-container {
  display: flex;
  gap: var(--rh-space-md, 8px);

  &.bottom {
    flex-direction: column;
  }
}

#header-text {
  font-weight: var(--rh-font-weight-body-text-medium, 500);
}

[part='accents'] {
  display: flex;
  flex-wrap: wrap;
  gap: var(--rh-space-md, 8px);
}

.toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;

  &,
  &:before,
  &:after {
    padding: 0;
    margin: 0;
  }

  &:after {
    content: '';
    position: absolute;
    inset-block: 0;
    inset-inline-start: 0;
  }
}

@container (min-width: 576px) {
  #header-container:not(.bottom) {
    flex-direction: row;
  }
}
