:host {
  --pf-c-accordion__toggle--BackgroundColor: transparent;
  --pf-c-accordion__toggle--PaddingTop: var(--rh-space-lg, 16px);
  --pf-c-accordion__toggle--PaddingLeft: var(--rh-space-xl, 24px);
  --pf-c-accordion__toggle--PaddingBottom: var(--rh-space-lg, 16px);
  --pf-c-accordion__toggle--PaddingRight: var(--rh-space-xl, 24px);
  --pf-c-accordion__toggle--FontSize: var(--rh-font-size-body-text-md, 1rem);
  --pf-c-accordion__toggle--FontFamily: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif);
  --pf-c-accordion__toggle--FontWeight: var(--rh-font-weight-heading-medium, 500);
  --pf-c-accordion__toggle--expanded--before--BackgroundColor: #ee0000;
  --pf-c-accordion__toggle--hover--BackgroundColor: #ffffff;
  --pf-c-accordion__toggle--hover-text--Color: #151515;
  --pf-c-accordion__toggle--focus--BackgroundColor: #ffffff;
  --pf-c-accordion__toggle--focus-text--Color: #151515;
  --pf-c-accordion__toggle--active-text--Color: #151515;
  --pf-c-accordion__toggle--expanded-text--Color: #151515;
  --pf-c-accordion__toggle--expanded-icon--Rotate: 180deg;
}

:host([on="dark"]) {
  --pf-c-accordion__toggle--Color: #ffffff;
  --pf-c-accordion__toggle--BackgroundColor: #151515;
  --pf-c-accordion__toggle--hover--BackgroundColor: #151515;
  --pf-c-accordion__toggle--hover-text--Color: #ffffff;
  --pf-c-accordion__toggle--focus--BackgroundColor: #151515;
  --pf-c-accordion__toggle--focus-text--Color: #ffffff;
  --pf-c-accordion__toggle--active--BackgroundColor: #151515;
  --pf-c-accordion__toggle--active-text--Color: #ffffff;
  --pf-c-accordion__toggle--expanded--before--BackgroundColor: #ff3333;
  --pf-c-accordion__toggle--expanded-text--Color: #ffffff;
  --pf-global--BackgroundColor--200: #151515;
}

:host([large]) {
  --pf-c-accordion__toggle--FontSize: var(--rh-font-size-body-text-lg, 1.125rem);
}

:host([expanded]) {
  border-right: 1px solid rgb(210, 210, 210);

  --pf-c-accordion__toggle--BackgroundColor: #ffffff;
}

:host([disclosure]:not([disclosure="false"])) .toggle {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  gap: calc(var(--pfe-theme--container-padding,1rem) / 2);
  font-family: var(--pfe-theme--font-family, "Red Hat Text", "RedHatText", "Overpass", Overpass, Arial, sans-serif);
  font-size: var(--pfe-accordion--FontSize--header, var(--pf-global--FontSize--md, 1rem));

  --pf-c-accordion__toggle--FontWeight: var(--rh-font-weight-heading-regular, 300);
  --pf-c-accordion__toggle--focus-text--FontWeight: var(--rh-font-weight-heading-regular, 300);
  --pf-c-accordion__toggle--active-text--FontWeight: var(--rh-font-weight-heading-regular, 300);
  --pf-c-accordion__toggle--expanded-text--FontWeight: var(--rh-font-weight-heading-regular, 300);
}

:host(.animating) .toggle, 
:host([disclosure]:not([disclosure="false"])) .toggle, 
:host([expanded]) .toggle {
  border-right-color: var(--pfe-accordion--BorderColor,var(--pfe-theme--color--surface--border,#d2d2d2));
  border-left-color: var(--pfe-accordion--BorderColor,var(--pfe-theme--color--surface--border,#d2d2d2));
}

:host([disclosure]:not([disclosure="false"])) .icon {
  order: -1;
}