#container {
  color: var(--rh-color-text-primary);
  background-color: var(--rh-color-surface);

  &.expanded {
    box-shadow: var(--rh-box-shadow-sm, 0 2px 4px 0 rgba(21, 21, 21, 0.2));
  }
}

::slotted(rh-accordion-header:first-child) {
  display: block;
  border-block: 1px solid var(--rh-color-border-subtle);
}

::slotted(rh-accordion-header:not(:first-child)) {
  display: block;
  border-block-end: 1px solid var(--rh-color-border-subtle);
}

::slotted(rh-accordion-header:is([expanded])) {
  display: block;
  border-block-end: 0;
}

::slotted(rh-accordion-panel:is([expanded])) {
  display: block;
  border-block-end: 1px solid var(--rh-color-border-subtle);
  box-shadow: var(--rh-box-shadow-sm, 0 2px 4px 0 rgba(21, 21, 21, 0.2));
}
