
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Link with icon | Red Hat Design System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177008280-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-177008280-1');
  </script>
  <script src="/js/global.js"></script>

  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" rel="stylesheet" href="//static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css" media="all" />
  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  
  <link rel="stylesheet" href="/node_modules/@patternfly/pfelement/dist/pfelement.min.css">
  <noscript>
    <link type="text/css" href="/node_modules/@patternfly/pfelement/dist/pfelement--noscript.min.css">
  </noscript>

  <script type="module" src="/node_modules/@patternfly/pfe-cta/dist/pfe-cta.min.js"></script>
</head>




  


<body class="page page--link-with-icon" id="top" unresolved>
  <div class="body-inner">

    



<script type="text/javascript">
(function() { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = '//api.usersnap.com/load/4a8eca9f-e612-466c-ba21-5c98236daf99.js';
var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();
</script>

<header class="l-header">
  <div class="l-header__logo-bar">
    <img class="l-header__logo" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--hat-only.svg" alt="Red Hat" style="max-width:50px" />
  </div>
  <input id="mobile-menu-toggle" class="menu-toggle element-invisible" type="checkbox" aria-controls="mobile-menu-menu-container">
  <label class="menu-toggle__button" for="mobile-menu-toggle" data-controls="mobile-menu-menu-container">
    Menu
    <span class="menu-toggle-assistive-text element-invisible">, Toggle visibility</span>
  </label>
  <div class="menu-toggle__toggleable">
    <nav class="l-header__site-navigation site-navigation menu-toggle__toggleable-content-wrapper">
      <ul class="site-navigation__wrapper">
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/">
    Home
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/about/">
    About this website
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/design-code-status/">
    Design/code status
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/release-notes/">
    Release notes
  </a>

        </li>
        <li class="site-navigation__item">
          
          
            
          
          <details  open>
            <summary class="site-navigation__heading">Components</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/components">
    All components
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/accordion/">
    Accordion
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/alert/">
    Alert
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/announcement-banner/">
    Announcement banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/audio-player/">
    Audio player
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/blockquote/">
    Blockquote
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/button/">
    Button
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/cta/">
    Call to action
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/card/">
    Card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/cookie-banner/">
    Cookie banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/avatar/">
    Default avatar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/disclosure/">
    Disclosure
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/filter/">
    Filter
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/footer_group/">
    Footer group
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/form/">
    Form
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/jump-links/">
    Jump links
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link-with-icon/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
    
  
  <a class="site-navigation__sub-menu__link site-navigation__sub-menu__link--active" href="/components/link-with-icon 2/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/modal/">
    Modal
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/navigation/">
    Navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/promo-banner/">
    Promo banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/search_bar/">
    Search bar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/skip-to-main/">
    Skip to main
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/skip-to-main 2/">
    Skip to main
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-banner/">
    Sticky banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-card/">
    Sticky card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tabs/">
    Tabs
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tooltip/">
    Tooltip
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/video-thumbnail/">
    Video thumbnail
  </a>

                </li></ul>
          </details>
        </li>

        <li class="site-navigation__item">
          
          
          <details >
            <summary class="site-navigation__heading">Foundations</summary>
            <ul class="site-navigation__sub-menu"><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

                </li></ul>
          </details>
        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/get-started/">
    Get started
  </a>

        </li>

      </ul>
    </nav>
  </div>
</header>


<main class="l-main">
  <article class="l-main__inner">
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 class="page-title">Link with icon</h1>
      </div>
    </header>
    <div class="l-main__content">
      <div class="container">
        



  <section class="section section--palette-default container">
    <h2 class="section-title">Overview</h2>
    <p>Link with icon features an icon that adds context to the link itself. It’s positioned to the left or on top of a link, depending on orientation.</p>
  </section>



  <section class="section section--palette-default container">
    <h2 class="section-title">Sample component</h2>
    <div class="margin-top--4 margin-bottom--4">
      <img src="/assets/link-with-icon/link-with-icon.svg" alt="Link with icon" style="--inline-img-max-width: 484px;">
    </div>
  </section>



  <section class="section section--palette-default container">
    <h2 class="section-title">Component status</h2>
    <rhds-component-status component="Link with icon"></rhds-component-status>
  </section>





  
  <section class="section section--palette-default container">
    <h2 class="section-title">Style</h2>
    <p>Link with icon is available in light and dark themes. It’s a grouping of a small icon near a link, similar to how a list item is a grouping of a bullet point near text. The icon chosen should represent what a user will get when they click on or tap the link. It acts as a functional addition instead of only visual.</p>
    
  
  <div class="example example--palette-light">
    
    
    <div class="margin-top--4 centered margin-bottom--4">
      <img src="/assets/link-with-icon/link-with-icon-style.svg" alt="Link with icon specs" style="--inline-img-max-width: 484px;">
    </div>
  </div>


  <h3>Theme</h3>
    
  <div class="example example--palette-light">
    
    
        <div class="margin-top--4 centered margin-bottom--4">
          <img src="/assets/link-with-icon/link-with-icon-theme-light.svg" alt="Link with icon theme light" style="--inline-img-max-width: 484px;">
        </div>
  </div>


    
  <div class="example example--palette-darkest">
    
    
      <div class="margin-top--4 centered margin-bottom--4">
        <img src="/assets/link-with-icon/link-with-icon-theme-dark.svg" alt="Link with icon theme dark" style="--inline-img-max-width: 484px;">
      </div>
  </div>

  </section>



<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Usage</h2>
    <p>Use link with icon to increase the visual interest of a link without using a call to action style. Link with icon can replace links that are used on their own, but not in a paragraph of text.</p>
  </section>


<hr class="margin-top--2 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Best practices</h2>
    <p>Don't increase the icon size because the link text size will appear smaller.</p>

  
  <div class="example example--palette-wrong">
    
    
      <div class="margin-top--4 centered margin-bottom--4">
        <img src="/assets/link-with-icon/link-with-icon-best-practices.svg" alt="Link with icon icon size issue" style="--inline-img-max-width: 516px;">
      </div>
  </div>

  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Behavior</h2>
    <h3>Responsive design</h3>
  <p>Link with icon can be used on large and small screens. When the width of the link exceeds the width of its container, the text will break to two lines.</p>

  <img src="/assets/link-with-icon/link-with-icon-responsive.svg" alt="Link with icon responsive desktop" style="">

  <img src="/assets/link-with-icon/link-with-icon-responsive-mobile.svg" alt="Link with icon responsive mobile" style="--inline-img-max-width: 360px;">

  <p class="footnote">Some text styles reduce in size on small screens. Learn more about typography on mobile.</p>



  <h3>Alignment</h3>
  <p>The icon and the link are always vertically-aligned.</p>

  
  <div class="example example--palette-light">
    
    
  <div class="multi-column--min-200-wide margin-top--1 margin-bottom--1">
    <img src="/assets/avatar/avatar-responsive-1.png">
    <img src="/assets/avatar/avatar-responsive-2.png">
  </div>
  </div>

  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Interaction states</h2>
    <p>The link has the same interaction states as a Link [add link] whereas the icon doesn’t have any interaction states.</p>

  
  <div class="example example--palette-light">
    
    
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="/assets/avatar/avatar-spacing-1.png">
        <img src="/assets/avatar/avatar-spacing-2.png">
    </div>
  </div>

  </section>




  <section class="section section--palette-default container">
    <h2 class="section-title">Spacing</h2>
    <p>Link with icon uses <a href="https://www.patternfly.org/v4/design-guidelines/styles/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

  
  <div class="example example--palette-light">
    
    
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="/assets/avatar/avatar-spacing-1.png">
    </div>
  </div>

  </section>


<hr class="margin-top--10 margin-bottom--10">

<div class="multi-column--min-300-wide">
  
  <section class="section section--palette-default container">
    <h2 class="section-title">Related components</h2>
    <p><a href="#">Call to action</a></p> <!-- future link -->
    <p><a href="#">Link</a></p> <!-- future link -->
    <p><a href="#">Typography</a></p> <!-- future link -->
  </section>


  
  <section class="section section--palette-default container">
    <h2 class="section-title">Feedback</h2>
    <p>For feedback and bug reports, create an issue <a href="https://github.com/patternfly/patternfly-elements"> in our GitHub repository.</p>
  </section>

</div>

      </div>
    </div>
  </article>
  <footer class="main-footer">
    <img style="max-width: 135px;" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark.svg" alt="Red Hat" />
</footer> 

<div class="back-to-top">
    <a href="#top" class="back-to-top-link">
        <img src="/assets/back-to-top.svg" alt="Scroll back to the top">
    </a>
</div>
</main>


  </div>
</body>

</html>
