---
title: All elements
layout: layouts/pages/has-toc.njk
summaries:
  audio-player: Plays audio clips and includes other features
  jump-links: Moves users to specific content when a link is selected
  navigation-primary: Organizes content representing global web properties
  popover: Overlays an area of information without blocking users
  progress-steps: Guides users through a task with sequential steps
  breadcrumb: Keeps track of location as users move through pages
  footnote: Provides additional information or a source for content
  tile: A form of selection that can be used in place of a link, checkbox, or radio button
---

<link rel="stylesheet"
      href="/assets/packages/@rhds/elements/elements/rh-tile/rh-tile-lightdom.css"
      data-helmet>

<script type="module" data-helmet>
  import '@rhds/elements/rh-tile/rh-tile.js';
</script>

<style data-helmet>
  rh-tile h3 {
    margin: 0 !important;
  }
</style>

{# NOTE: all images in this view need to be 340 by 200 px in order to maintain same ratio. #}

<section aria-labelledby="aria__heading-overview">
  <h2 id="aria__heading-overview">Overview</h2>
  <p>Red Hat design system's elements are custom HTML elements - interactive
  building blocks of our design system. Each element was created to meet a
  specific UI and accessibility need. Elements should be used harmoniously
  together in the same space to create more intuitive user interfaces and
  experiences.</p>


<nav class="grid xs-two-columns sm-three-columns" aria-label="Elements">
  {%- for tagName, docs in collections.elementDocs | groupby('tagName') -%}
    {%- set doc = docs[0] -%}
    {%- set slug = doc.slug -%}
    {%- set title = tagName | getPrettyElementName | makeSentenceCase -%}
    {%- set comingSoon = tagName in comingSoonItems  -%}
    {%- set hiddenComponent = doc.hidden  -%}
    {%- set summary = doc.docsPage.summary -%}
    {% if not summary %}
      {%- set summary = summaries[slug] -%}
    {% endif %}
    {% if not hiddenComponent %}
      <rh-tile compact bleed {% if comingSoon %}disabled{% endif %}>
        <uxdot-example slot="image" no-border transparent><img src="{{ doc.screenshotPath }}" alt="{{ title }}"></uxdot-example>
        <h3 slot="headline"><a href="{{ doc.overviewHref | url }}">{{ title }}</a></h3>
        <p>{{ summary }}</p>
        {% if comingSoon %}<div slot="footer">Coming Soon</div>{% endif %}
      </rh-tile>
    {% endif %}
  {% endfor %}
</nav>
</section>

<section aria-labelledby="aria__heading-make-a-request">
  <h2 id="aria__heading-make-a-request">Make a request</h2>
  To request a new element or if updates need to be made to an existing element, <a href="https://github.com/RedHat-UX/red-hat-design-system/issues/new/choose" target="_blank">create a GitHub issue</a>.
</section>

<uxdot-feedback>
  <h2>Elements</h2>
  <p>To learn how to use our elements in your designs, visit the <a href="/elements/">Elements</a> section.</p>
</uxdot-feedback>
