---
layout: layout-basic.njk
title: About this website
---

{% import 'component/components.njk' as components %}

<section class="featured-overview centered">

  <h2 class="feature-headline">We create Red&nbsp;Hat digital experiences</h2>

  <p>Our teams work across the world in a range of disciplines, from UX research and digital design to web development and content strategy. We collaborate to make every digital interaction with Red&nbsp;Hat reflect our core brand traits which are open, authentic, helpful, and brave.</p>

</section>

<hr class="margin-top--10 margin-bottom--10">

<section class="main">
  <div class="centered">
    <h2 class="pfe-headline-alpha">Our approach</h2>
  </div>
  <div class="alternating section">
    <div class="alternating--item">
      <h2>Brand standards</h2>
      <p><a href="https://www.redhat.com/en/about/brand/standards">Red Hat brand standards</a> are the source code for our identity. They govern how we look and sound in all types of media. We follow brand standards to unify Red&nbsp;Hat digital experiences and stay up-to-date with our brand as it grows, improves, and adapts to meet new challenges.</p>
    </div>
    <div class="alternating--item">
      <img src="{{ '/assets/about/brand.svg' | url }}" alt="Red Hat brand standards">
    </div>
    <div class="alternating--item">
      <img src="{{ '/assets/about/patternfly.svg' | url }}" alt="PatternFly">
    </div>
    <div class="alternating--item">
      <h2>PatternFly collaboration</h2>
      <p>We collaborate with <a href="https://www.patternfly.org">PatternFly</a>, an open source design system for enterprise product experiences. Using PatternFly as a foundation, we create intuitive and scalable Red&nbsp;Hat digital experiences the open source way.</p>
    </div>
    <div class="alternating--item">
      <h2>Shared language and vision</h2>
      <p>We leverage similar elements as PatternFly, so designers no longer need to reinvent the wheel when choosing components. For example, an <a href="/components/accordion/">Accordion</a> used in a Red&nbsp;Hat web application will look the same when used on a website.</p>
    </div>
    <div class="alternating--item">
      <img src="{{ '/assets/about/shared-language.svg' | url }}" alt="Shared language">
    </div>
    <div class="alternating--item">
      <img src="{{ '/assets/about/web-components.svg' | url }}" alt="Web components">
    </div>
    <div class="alternating--item">
      <h2>Web components</h2>
      <p>Our team is building an open source web component-driven development system to build scalable UI elements. This <a href="https://patternflyelements.com/" target="_blank">open source community project</a> supports many components in our design system.</p>
    </div>
  </div>
</section>

<hr class="margin-top--10 margin-bottom--10">

<section class="main">
  <div class="centered">
    <h2 class="pfe-headline-alpha">Fundamentals</h2>
  </div>
  <div class="multi-column--2-1-1 margin-top--10">
    <div>
      <img src="{{ '/assets/about/icon-flexible.svg' | url }}" alt="Flexibility" style="--inline-img-max-width: 70px;">
      <h3>Flexible</h3>
      <p>Our components can be arranged in a number of ways and CSS variables can be used for further customization.</p>
    </div>
    <div>
      <img src="{{ '/assets/about/icon-accessible.svg' | url }}" alt="Accessibility" style="--inline-img-max-width: 70px;">
      <h3>Accessible</h3>
      <p>The goal of our design system is to create meaningful experiences that work for everyone, regardless of ability.</p>
    </div>
    <div>
      <img src="{{ '/assets/about/icon-consistent.svg' | url }}" alt="Consistency" style="--inline-img-max-width: 70px;">
      <h3>Consistent</h3>
      <p>Our documentation and tools streamline collaboration so teams can create consistent and on-brand experiences.</p>
    </div>
    <div>
      <img src="{{ '/assets/about/icon-scalable.svg' | url }}" alt="Scalability" style="--inline-img-max-width: 70px;">
      <h3>Scalable</h3>
      <p>Our system enables teams to work concurrently across the Red&nbsp;Hat system of websites and beyond.</p>
    </div>
  </div>
  <div class="centered">
    <div class="margin-top--6">
    <rh-cta variant="secondary">
      <a href="/get-started">Get started</a>
    </rh-cta>
    </div>
  </div>
</section>
