---
layout: layout-basic.njk
title: Foundations
---

{% import 'component/foundations.njk' as foundations %}

{% call foundations.section("Overview") -%}

  <p>Foundations are the visual and structural elements of our design system. Foundations were created as the building blocks of all user interface elements. Foundations should be used as blueprints that all components and layouts are created from.</p>

{%- endcall %}

<div class="margin-bottom--10">
  <div class="stacked-group">
    <a href="../foundations/color">
      <img src="{{ '/assets/foundations/color.svg' | url }}" alt="Color">
    </a>
    <h3><a href="../foundations/color">Color</a></h3>
    <p>Unifies our brand while bringing accessibility and consistency to our digital experiences</p>
    <rh-cta>
      <a href="../foundations/color">View colors</a>
    </rh-cta>
  </div>

  <div class="stacked-group margin-top--8">
    <a href="../foundations/grid">
      <img src="{{ '/assets/foundations/grid.svg' | url }}" alt="Grid">
    </a>
    <h3><a href="../foundations/grid">Grid</a></h3>
    <p>Provides guidance and structure when positioning elements and components in a layout</p>
    <rh-cta>
      <a href="../foundations/grid">View grids</a>
    </rh-cta>
  </div>

  <div class="stacked-group margin-top--8">
    <a href="../foundations/spacing">
      <img src="{{ '/assets/foundations/spacing.svg' | url }}" alt="Spacing">
    </a>
    <h3><a href="../foundations/spacing">Spacing</a></h3>
    <p>Defines fixed amounts of space between elements and makes it easy to maintain consistency</p>
    <rh-cta>
      <a href="../foundations/spacing">View spacing</a>
    </rh-cta>
  </div>

  <div class="stacked-group margin-top--8">
    <a href="../foundations/typography">
      <img src="{{ '/assets/foundations/typography.svg' | url }}" alt="Typography">
    </a>
    <h3><a href="../foundations/typography">Typography</a></h3>
    <p>A system of fonts that creates hierarchies and helps guide a user through an experience</p>
    <rh-cta>
      <a href="../foundations/typography">View typography</a>
    </rh-cta>
  </div>
</div>

{% call foundations.section("Make a request") -%}

  <p>To request a new foundation or if updates need to be made to an existing foundation, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>

{%- endcall %}

{% include 'feedback.html' %}
