---
layout: layout-basic.njk
title: Overview
order: 0
---

<!-- Body -->

{% import 'component/get-started.njk' as getstarted %}

{% call getstarted.section("Introduction to libraries") -%}

  <p>We have several Adobe XD libraries that serve the consumers of the Red Hat Design System and other web tools. Depending on your needs, you may request an invite to access any or all of our libraries. Each library is updated regularly so rest assured you will always be working with the latest colors, character styles, components, patterns, assets, and more. To learn how to use libraries, watch the following video.</p>

  <iframe width="1000" height="563" src="https://www.youtube.com/embed/tyzx6ijfshQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{%- endcall %}

{% call getstarted.section("Using libraries") -%}

  <p>Our libraries require access to Adobe Creative Cloud through a Red Hat account. These libraries are intended for designers who regularly use Adobe CC apps as part of their role at Red Hat. Access will not be granted to accounts that are not part of the Red Hat domain.</p>

  <rh-cta variant="secondary">
    <a href="https://url.corp.redhat.com/adobecc" target="_blank">Request a Creative Cloud license</a>
  </rh-cta>

{%- endcall %}

{% call getstarted.section("Available libraries") -%}

  <p>The following libraries are available to use.</p>

  <ul>
    <li><strong>Design system kit</strong> - Themed components and patterns you can use to build Red Hat web properties</li>
    <li><strong>FTS starter kit</strong> - Flexible Template System (FTS) patterns you can use to design websites and then build them in Drupal</li>
    <li><strong>Icon libraries</strong> - Standard, UI, and Product icon libraries created and maintained by the Brand team</li>
    <li><strong>Product logo library</strong> - Current product logo library created and maintained by the Brand team</li>
  </ul>

{%- endcall %}

{% call getstarted.section("Request access") -%}

  <p>To request access to any of the above Adobe CC libraries, navigate to the page of the desired library you wish to access on the left. Once we accept your request, you will receive invites in the form of Adobe CC alerts or e-mails or both. These libraries will then sync to your Adobe CC design programs and you can view the assets in the <em>Libraries</em> panel.</p>

  <img src="{{ '/assets/get-started/get-started-request-access.png' | url }}" alt="Request access to our libraries" style="--example-img-max-width: 1000px;">

{%- endcall %}

<!-- Cross links -->

<div class="multi-column--min-300-wide">
  <div>
    {% call getstarted.section("Feedback") -%}
      <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
    {%- endcall %}
  </div>
  <div>
    {% call getstarted.section("Explore") -%}
      <p>Our libraries include <a href="../components">components</a>, <a href="fts-starter-kit">patterns</a>, <a href="icon-libraries">icons</a>, and <a href="product-logo-library">product logos</a> to help you design Red Hat experiences.</p>
    {%- endcall %}
  </div>
</div>
