---
layout: layouts/pages/home.njk
title: Home
---
<link rel="stylesheet" data-helmet href="/assets/packages/@rhds/elements/elements/rh-tile/rh-tile-lightdom.css">
<link rel="stylesheet" data-helmet href="/styles/pages/home.css">

<script type="module" data-helmet>
  import '@rhds/elements/rh-card/rh-card.js';
  import '@rhds/elements/rh-cta/rh-cta.js';
  import '@rhds/elements/rh-tile/rh-tile.js';
</script>

<div class="container">
  <uxdot-hero>
    <h1 slot="header">Red Hat design system</h1>
    <p slot="tagline">Open source meets open design</p>
    <img src="/assets/home/element-examples.svg" 
        slot="image"
        alt="Element examples"
        width="1000"
        height="560">
  </uxdot-hero>

  <rh-card id="feature">
    <h2 slot="header">Designing Red Hat digital experiences?</h2>
    <p>You are at the right place. We rely on this design system to create consistent Red Hat® digital experiences. Using <a href="https://brand.redhat.com">Red Hat brand standards</a> and <a href="https://www.patternfly.org/v4/">PatternFly</a> as our foundational design language, we enable designers and developers to concurrently build branded experiences across <a href="https://www.redhat.com/">redhat.com</a>, <a href="https://access.redhat.com/">Red Hat Customer Portal</a>, and beyond.</p>
    <rh-cta variant="secondary" slot="footer">
      <a href="/about">Learn more about the design system</a>
    </rh-cta>
    <rh-cta slot="footer">
      <a href="https://www.patternfly.org">Designing Red Hat products? Visit PatternFly</a>
    </rh-cta>
  </rh-card>

  <section id="get-started" aria-labelledby="aria__heading-get-started">
    <h2 id="aria__heading-get-started">Get started</h2>
    <p>Principles and documentation to help you start creating Red Hat digital experiences</p>

    <div class="grid xs-two-columns">
      <rh-tile>
        <img src="/assets/home/foundations.svg"
            slot="image"
            alt="Foundations"
            width="300"
            height="131">
        <h2 slot="headline"><a href="/foundations">Foundations</a></h2>
        <p>Design principles to help you create engaging layouts</p>
      </rh-tile>

      <rh-tile>
        <img src="/assets/home/elements.svg"
            slot="image"
            alt="Elements"
            width="300"
            height="131">
        <h2 slot="headline"><a href="/elements">Elements</a></h2>
        <p>Guidance to help you create interactive user interfaces</p>
      </rh-tile>

      <rh-tile>
        <img src="/assets/home/code-status.svg"
            slot="image"
            alt="Code status"
            width="300"
            height="131">
        <h2 slot="headline"><a href="/design-code-status">Code status</a></h2>
        <p>Track the status of our components and patterns</p>
      </rh-tile>

      <rh-tile>
        <img src="/assets/home/release-notes.svg"
            slot="image"
            alt="Release notes"
            width="300"
            height="131">
        <h2 slot="headline"><a href="/release-notes">Release notes</a></h2>
        <p>Track the updates we're making to the design system</p>
      </rh-tile>
    </div>
  </section>

  <rh-card id="contribute">
    <h2 slot="header">Contribute</h2>
    <p>We welcome feedback in order to produce the best experiences for our users</p>

    <rh-cta variant="secondary" slot="footer">
      <a href="https://github.com/RedHat-UX/red-hat-design-system/discussions">Join the discussion</a>
    </rh-cta>
  </rh-card>
</div>


