---
layout: layout-home.njk
title: Home
---

<div class="container l-main__content">
  <div class="centered">
    <div class="margin-top--12">
      <h1 class="section-headline">Red&nbsp;Hat design system</h1>
      <h2 class="pfe-headline-xxl" style="margin: 16px 0;">Open&nbsp;source meets open&nbsp;design</h2>
      <img class="margin-top--8" src="{{ '/assets/home/element-examples.svg' | url }}" alt="Element examples">
    </div>
  </div>

<div class="centered feature-box">
  <h2 class="feature-headline">Designing Red&nbsp;Hat digital experiences?</h2>
  <p>You are at the right place. We rely on this design system to create consistent Red Hat® digital experiences. Using <a href="https://brand.redhat.com">Red&nbsp;Hat brand standards</a> and <a href="https://www.patternfly.org/v4/">PatternFly</a> as our foundational design language, we enable designers and developers to concurrently build branded experiences across <a href="https://www.redhat.com/">redhat.com</a>, <a href="https://access.redhat.com/">Red Hat Customer Portal</a>, and beyond.</p>
  <rh-cta variant="secondary">
    <a href="/about">Learn more</a>
  </rh-cta>
  <br />
  <rh-cta style="margin-top:48px;">
    <a href="https://www.patternfly.org">Designing Red Hat products? Visit PatternFly</a>
  </rh-cta>
</div>

<div class="">
  <div class="margin-top--10 margin-bottom--2 centered">
    <h2 class="pfe-headline-alpha">Get started</h2>
    <p>Principles and documentation to help you start creating Red Hat digital experiences</p>
</div>

<div class="multi-column--2-1-1">
  <div class="description-box">
    <a href="/foundations">
      <div class="asset-header">
        <img src="{{ '/assets/home/foundations.svg' | url }}" alt="Foundations" style="--inline-img-max-width: 255px;">
      </div>
    </a>
    <h4><a href="/foundations">Foundations</a></h4>
    <p>Design principles to help you create engaging layouts</p>
    <rh-cta>
      <a href="/foundations">View foundations</a>
    </rh-cta>
  </div>

<div class="description-box">
  <a href="/elements">
    <div class="asset-header">
      <img src="{{ '/assets/home/elements.svg' | url }}" alt="Elements" style="--inline-img-max-width: 308px;">
    </div>
  </a>
  <h4><a href="/elements">Elements</a></h4>
  <p>Guidance to help you create interactive user interfaces</p>
  <rh-cta>
    <a href="/elements">View elements</a>
  </rh-cta>
</div>

<div class="description-box">
  <a href="/design-code-status">
    <div class="asset-header">
      <img src="{{ '/assets/home/code-status.svg' | url }}" alt="Code status" style="--inline-img-max-width: 308px;">
    </div>
  </a>
  <h4><a href="/design-code-status">Code status</a></h4>
  <p>Track the status of our components and patterns</p>
  <rh-cta>
    <a href="/design-code-status">View code status</a>
  </rh-cta>
</div>

<div class="description-box">
  <a href="/release-notes">
    <div class="asset-header">
      <img src="{{ '/assets/home/release-notes.svg' | url }}" alt="Release notes" style="--inline-img-max-width: 308px;">
    </div>
    <h4><a href="/release-notes">Release notes</a></h4>
    <p>Track the updates we're making to the design system</p>
    <rh-cta>
      <a href="/release-notes">View release notes</a>
    </rh-cta>
    </a>
  </div>
  </div>
</div>

<hr class="margin-top--10 margin-bottom--10">

<div class="centered">
  <div class="margin-top--10">
    <h2 class="pfe-headline-alpha">Contribute</h2>
    <p>We welcome feedback in order to produce the best experiences for our users</p>
  </div>
</div>

<div class="centered">
  <div class="margin-top--6">
    <rh-cta variant="secondary">
      <a href="/get-started#contact-info">Submit feedback</a>
    </rh-cta>
  </div>
</div>
</div>
