---
layout: layouts/pages/home.njk
title: Home

importElements:
  - rh-card
---

<script type="module" src="{{ '/assets/elements/uxdot-hero.js' | url }}"></script>

<style>
/* Homepage */

main {
  container-type: inline-size;
  container-name: main;
}

.container {
  padding-block-start: var(--rh-space-4xl, 64px);
}

#feature {
  display: block;
  padding-block: var(--rh-space-3xl, 48px);
}

#feature::part(container),
#feature::part(header),
#feature::part(body),
#feature::part(footer) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#feature::part(header) {
  font-size: var(--rh-font-size-heading-xl, 2.5rem);
  color: var(--rh-color-text-brand-on-light, #ee0000);
  margin-block-start: var(--rh-space-3xl, 48px);
  margin-inline: var(--rh-space-3xl, 48px);
  text-align: center;
}

#feature::part(body) {
  justify-content: center;
  text-align: center;
  font-size: var(--rh-font-size-body-text-lg, 1.125rem);
  max-width: 55rem;
}

#feature::part(footer) {
  gap: var(--rh-space-3xl, 48px);
  margin-block-end: var(--rh-space-3xl, 48px);
}

#get-started {
  container-type: inline-size;
  container-name: get-started;
}

#get-started > h2 {
  text-align: center;
  font-size: var(--rh-font-size-heading-lg, 2.25rem);
  font-weight: var(--rh-font-weight-heading-medium, 500);
  margin-block-start: var(--rh-space-3xl, 48px);
  margin-block-end: var(--rh-space-xl, 24px);
}

#get-started > p {
  text-align: center;
  font-size: var(--rh-font-size-body-text-lg, 1.125rem);
  max-width: 55rem;
  margin: 0 auto var(--rh-space-3xl, 48px);
}

#get-started .card-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--rh-space-2xl, 32px);
  max-width: 100%;
}

#get-started rh-card img {
  width: 100%;
}

#get-started rh-card .stylized-image {
  display: flex;
  align-items: center;
  padding: var(--rh-space-4xl, 64px);
  background-color: var(--rh-color-surface-light, #e0e0e0);
}

#get-started rh-card::part(header) {
  margin: 0;
}

#get-started rh-card h2 {
  margin-block-start: var(--rh-space-2xl, 32px) !important;
  margin-inline: var(--rh-space-xl, 24px) !important;
}

@media (min-width: 768px) {
  #get-started rh-card h2 {
    margin-block-start: var(--rh-space-2xl, 32px) !important;
    margin-inline: var(--rh-space-2xl, 32px) !important;
  }
}

#contribute::part(header),
#contribute::part(body),
#contribute::part(footer) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contribute {
  display: block;
  margin-block-start: var(--rh-space-5xl, 80px);
}

#contribute::part(container) {
  border: none;
}

#contribute::part(header) {
  font-family: var(--rh-font-family-heading, RedHatDisplay, 'Red Hat Display', 'Noto Sans Arabic', 'Noto Sans Hebrew', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans Malayalam', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans Thai', Helvetica, Arial, sans-serif);
  font-size: var(--rh-font-size-heading-lg, 2.25rem);
}

#contribute::part(body) {
  font-size: var(--rh-font-size-body-text-lg, 1.125rem);
}

#contribute::part(footer) {
  padding-block-start: var(--rh-space-xl, 24px);
}

@container get-started (min-width: 768px) {
  #get-started .card-group {
    grid-template-columns: 1fr 1fr;
  }
}

@container get-started (min-width: 992px) {
  #get-started .card-group {
    gap: var(--rh-space-4xl, 64px);
  }
}

@container main (min-width: 567px) {
  .container {
    padding-block-start: var(--rh-space-5xl, 80px);
  }
}

</style>

<div class="container">
  <uxdot-hero>
    <h1 slot="header">Red Hat design system</h1>
    <p slot="tagline">Open source meets open design</p>
    <img slot="image" src="{{ '/assets/home/element-examples.svg' | url }}" alt="Element examples">
  </uxdot-hero>

  <rh-card id="feature">
    <h2 slot="header">Designing Red Hat digital experiences?</h2>
    <p>You are at the right place. We rely on this design system to create consistent Red Hat® digital experiences. Using <a href="https://brand.redhat.com">Red Hat brand standards</a> and <a href="https://www.patternfly.org/v4/">PatternFly</a> as our foundational design language, we enable designers and developers to concurrently build branded experiences across <a href="https://www.redhat.com/">redhat.com</a>, <a href="https://access.redhat.com/">Red Hat Customer Portal</a>, and beyond.</p>
    <rh-cta variant="secondary" slot="footer">
      <a href="/about">Learn more</a>
    </rh-cta>
    <rh-cta slot="footer">
      <a href="https://www.patternfly.org">Designing Red Hat products? Visit PatternFly</a>
    </rh-cta>
  </rh-card>

  <section id="get-started" class="test">
    <h2>Get started</h2>
    <p>Principles and documentation to help you start creating Red Hat digital experiences</p>

    <div class="card-group">
      <rh-card>
        <div class="stylized-image" slot="header">
          <img src="{{ '/assets/home/foundations.svg' | url }}" alt="Foundations" >
        </div>
        <h2 slot="header">Foundations</h2>
        <p>Design principles to help you create engaging layouts</p>
        <rh-cta slot="footer" priority="primary">
          <a href="/foundations">Foundations</a>
        </rh-cta>
      </rh-card>
        
      <rh-card>
        <div class="stylized-image" slot="header">
          <img src="{{ '/assets/home/elements.svg' | url }}" alt="Elements" slot="header">
        </div>
        <h2 slot="header">Elements</h2>
        <p>Guidance to help you create interactive user interfaces</p>
        <rh-cta slot="footer" priority="primary">
          <a href="/elements">Elements</a>
        </rh-cta>
      </rh-card>

      <rh-card>
        <div class="stylized-image" slot="header">
          <img src="{{ '/assets/home/code-status.svg' | url }}" alt="Code status" slot="header">
        </div>
        <h2 slot="header">Code status</h2>
        <p>Track the status of our components and patterns</p>
        <rh-cta slot="footer" priority="primary">
          <a href="/design-code-status">Code status</a>
        </rh-cta>
      </rh-card>

      <rh-card>
        <div class="stylized-image" slot="header">
          <img src="{{ '/assets/home/release-notes.svg' | url }}" alt="Release notes" slot="header">
        </div>
        <h2 slot="header">Release notes</h2>
        <p>Track the updates we're making to the design system</p>
        <rh-cta slot="footer" priority="primary">
          <a href="/release-notes">Release notes</a>
        </rh-cta>
      </rh-card>
    </div>
  </section>

  <rh-card id="contribute">
    <h2 slot="header">Contribute</h2>
    <p>We welcome feedback in order to produce the best experiences for our users</p>

    <rh-cta variant="secondary" slot="footer">
      <a href="https://github.com/RedHat-UX/red-hat-design-system/discussions">Join the discussion</a>
    </rh-cta>
  </div>  
</div>


