---
layout: layout-basic.njk
title: Release notes
---

{% import 'component/components.njk' as components %}

{% call components.section("Overview") -%}

  <p>We are continually making changes to improve and grow the Red Hat Design System. If you think changes need to be made to a component or anything else, <a href="mailto:digital-design-system@redhat.com">contact us</a> or submit a <a href="https://github.com/RedHat-UX/red-hat-design-system/issues">GitHub issue</a>.</p>

{%- endcall %}

{% call components.section("December 2022") -%}

  <h4>Added</h4>

  <section class="section">
    <table width="100%;">
    <col style="width: 30%">
  	<col style="width: 70%">
      <thead>
        <tr>
          <th>Component name</th>
          <th>Release notes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Alert</td>
          <td>Added <a href="https://github.com/RedHat-UX/red-hat-design-system/tree/main/elements/rh-alert#readme">README</a> to GitHub and <a href="https://ux.redhat.com/components/alert/demo/">demo</a> to website</td>
        </tr>
        <tr>
          <td>Blockquote</td>
          <td>Added <a href="https://github.com/RedHat-UX/red-hat-design-system/tree/main/elements/rh-blockquote#readme">README</a> to GitHub and <a href="https://ux.redhat.com/components/blockquote/demo/">demo</a> to website</td>
        </tr>
        <tr>
          <td>Footer</td>
          <td>Added <a href="https://github.com/RedHat-UX/red-hat-design-system/blob/main/elements/rh-footer/README.md">README</a> to GitHub and <a href="https://ux.redhat.com/components/footer/demo/">demo</a> to website</td>
        </tr>
        <tr>
          <td>Pagination</td>
          <td>Added <a href="https://github.com/RedHat-UX/red-hat-design-system/tree/main/elements/rh-pagination#readme">README</a> to GitHub and <a href="https://ux.redhat.com/components/pagination/demo/">demo</a> to website</td>
        </tr>
        <tr>
          <td>Secondary navigation</td>
          <td>Added <a href="https://github.com/RedHat-UX/red-hat-design-system/tree/main/elements/rh-secondary-nav#readme">README</a> to GitHub and <a href="https://ux.redhat.com/components/secondary-nav/demo/">demo</a> to website</td>
        </tr>
        <tr>
          <td>Spinner</td>
          <td>Added <a href="https://github.com/RedHat-UX/red-hat-design-system/tree/main/elements/rh-spinner#readme">README</a> to GitHub and <a href="https://ux.redhat.com/components/spinner/demo/">demo</a> to website</td>
        </tr>
        <tr>
          <td>Statistic</td>
          <td>Added <a href="https://github.com/RedHat-UX/red-hat-design-system/tree/main/elements/rh-stat#readme">README</a> to GitHub and <a href="https://ux.redhat.com/components/statistic/demo/">demo</a> to website</td>
        </tr>
        <tr>
          <td>Tag</td>
          <td>Added <a href="https://github.com/RedHat-UX/red-hat-design-system/tree/main/elements/rh-tag#readme">README</a> to GitHub and <a href="https://ux.redhat.com/components/tag/demo/">demo</a> to website</td>
        </tr>
      </tbody>
    </table>
  </section>

{%- endcall %}

{% call components.section("September 2022") -%}

  <h4>Added</h4>

  <section class="section">
    <table width="100%;">
    <col style="width: 30%">
    <col style="width: 70%">
      <thead>
        <tr>
          <th>Component name</th>
          <th>Release notes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Blockquote</td>
          <td>Added component to <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/f5c8e80c-83cb-4ae9-8e92-5991c39e738b/">library</a></td>
        </tr>
        <tr>
          <td>Footer</td>
          <td>Added component to <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/28560f95-47ec-4519-a35a-0430a1a8305a/">library</a> and <a href="https://ux.redhat.com/components/footer/">website</a></td>
        </tr>
        <tr>
          <td>Secondary navigation</td>
          <td>Added component to <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/f299cd25-fb04-482f-bd7c-95f8eb064fb4/">library</a> and <a href="https://ux.redhat.com/components/navigation-secondary/">website</a></td>
        </tr>
        <tr>
          <td>Statistic</td>
          <td>Added component to <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/bd052e4c-7be0-4066-a0f1-cf21ceb2d974/">library</a> and <a href="https://ux.redhat.com/components/statistic/">website</a></td>
        </tr>
      </tbody>
    </table>
  </section>

  <h4>Changed</h4>

  <section class="section">
    <table width="100%;">
    <col style="width: 30%">
    <col style="width: 70%">
      <thead>
        <tr>
          <th>Component name</th>
          <th>Release notes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Blockquote</td>
          <td>Changed component name from <span style="font-family: RedHatMono, 'Red Hat Mono', monospace;">Quote</span> to <span style="font-family: RedHatMono, 'Red Hat Mono', monospace;">Blockquote</span> for improved consistency</td>
        </tr>
        <tr>
          <td>Primary navigation</td>
          <td>Updated documentation page with better UX writing and better image examples</td>
        </tr>
      </tbody>
    </table>
  </section>

{%- endcall %}

{% call components.section("February 2022") -%}

  <h4>Added</h4>

  <section class="section">
    <table width="100%;">
    <col style="width: 30%">
    <col style="width: 70%">
      <thead>
        <tr>
          <th>Component name</th>
          <th>Release notes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Button</td>
          <td>Added large version of component to <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/ab2fd16c-2d1d-49a4-8805-ff2c118e2f83">library</a></td>
        </tr>
        <tr>
          <td>Header navigation</td>
          <td>Added component to <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/bd052e4c-7be0-4066-a0f1-cf21ceb2d974/">library</a></td>
        </tr>
        <tr>
          <td>Link</td>
          <td>Added component to <a href="https://ux.redhat.com/components/statistic/">website</a></td>
        </tr>
        <tr>
          <td>Popover</td>
          <td>Added component to <a href="https://ux.redhat.com/components/popover/">website</a></td>
        </tr>
      </tbody>
    </table>
  </section>

  <h4>Changed</h4>

  <section class="section">
    <table width="100%;">
    <col style="width: 30%">
    <col style="width: 70%">
      <thead>
        <tr>
          <th>Component or page name</th>
          <th>Release notes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Alert</td>
          <td>Updated documentation page with better UX writing, better image examples, and cross-links to related component pages</td>
        </tr>
        <tr>
          <td>Call to action</td>
          <td>Updated documentation page with better UX writing, better image examples, cross-links to related components, accessibility best practices, and interaction states</td>
        </tr>
        <tr>
          <td>Form</td>
          <td>Updated documentation page with better UX writing, better image examples, cross-links to related components, accessibility best practices, and interaction states</td>
        </tr>
        <tr>
          <td>Personalization patterns</td>
          <td>Updated documentation page with better image examples and clearer usage guidelines</td>
        </tr>
        <tr>
          <td>Search bar</td>
          <td>Updated documentation page with better UX writing, better image examples, and cross-links to related component pages</td>
        </tr>
        <tr>
          <td>Tooltip</td>
          <td>Updated documentation page with better UX writing, better image examples, and cross-links to related component pages</td>
        </tr>
      </tbody>
    </table>
  </section>

{%- endcall %}

{% call components.section("June 2021") -%}

  <h4>Added</h4>

  <section class="section">
    <table width="100%;">
    <col style="width: 30%">
    <col style="width: 70%">
      <thead>
        <tr>
          <th>Component name</th>
          <th>Release notes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Form</td>
          <td>Added dark theme components <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/24aeec5a-e499-4cc5-a172-e8d16d736e4a/">with container</a> and <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/817e121f-1226-47df-8e3a-89147bfc7425/">without container</a> to library</td>
        </tr>
        <tr>
          <td>Progress steps</td>
          <td>Added component to <a href="https://ux.redhat.com/components/progress-steps/">website</a></td>
        </tr>
      </tbody>
    </table>
  </section>

{%- endcall %}

{% call components.section("March 2021") -%}

  <h4>Added</h4>

  <section class="section">
    <table width="100%;">
    <col style="width: 30%">
    <col style="width: 70%">
      <thead>
        <tr>
          <th>Component name</th>
          <th>Release notes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Breadcrumb</td>
          <td>Added <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/4258979a-9123-4567-98e6-5b5406e58cca/">light theme</a> and <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/f3488c16-522f-4cd2-a987-357feec0d8a9/">dark theme</a> components to library</td>
        </tr>
        <tr>
          <td>External link icon</td>
          <td>Added <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/6854705a-0b13-4be2-8c86-55b5dfcef818/">light theme</a> and <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/36ac6d65-31b9-46d5-b445-c182a9975dc8/">dark theme</a> icons to library</td>
        </tr>
        <tr>
          <td>Jump links</td>
          <td>Added horizontal <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/6ca27f98-95d9-492d-a511-bf6729460bfb/">light theme</a> and <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/eae7f769-916b-4a4d-8c8c-0f82c82f1128/">dark theme</a> components to library</td>
        </tr>
        <tr>
          <td>Link</td>
          <td>Added <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/a554c129-dbb0-40c0-a72d-440cee9d5fb1/">light theme</a> and <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/8f879244-899f-403d-857a-8e2bfe486ea3/">dark theme</a> components to library</td>
        </tr>
        <tr>
          <td>Popover</td>
          <td>Added <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/e94b3fb8-e620-4444-8531-9914cdbe09ca">light theme</a> and <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/6e602f56-5d52-4883-88b0-08aee536f890/">dark theme</a> components to library</td>
        </tr>
        <tr>
          <td>Primary navigation</td>
          <td>Added a <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/bb1916f3-fe96-460a-9053-8b2f607bddb6/">full tray</a> component to library
          <br />
          Added <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/3c9df26c-20b6-418e-a73b-d4cbb4670639/">two-column</a> and <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/4b0d2a2f-bc04-4a37-bfd6-5ede6134b465/">three-column</a> components to library
          <br />
          Added a <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/3c9df26c-20b6-418e-a73b-d4cbb4670639/">logged in</a> component to library
          </td>
        </tr>
        <tr>
          <td>Stateful button</td>
          <td>Added <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/3b793334-4bd3-4208-9366-bba9b8deca8c/">light theme</a> and <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/4488a985-8cf8-4b2b-88c7-116cff3eea32/">dark theme</a> components to library</td>
        </tr>
        <tr>
          <td>Switch</td>
          <td>Added components <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/4074c4b7-04ae-441e-80fd-21210d7680d2/">with and without labels</a> to library</td>
        </tr>
      </tbody>
    </table>
  </section>

{%- endcall %}

{% call components.section("October 2020") -%}

  <h4>Added</h4>

  <section class="section">
    <table width="100%;">
    <col style="width: 30%">
    <col style="width: 70%">
      <thead>
        <tr>
          <th>Component name</th>
          <th>Release notes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Avatar</td>
          <td>Added a <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/d59009c8-65fb-44af-b70a-8d74f2922db8/">dark theme</a> component to library</td>
        </tr>
        <tr>
          <td>Label</td>
          <td>Added <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/6a1953ee-4519-43d3-b02e-13453611c015/">filled and outlined</a> components to library</td>
        </tr>
        <tr>
          <td>Sticky card</td>
          <td>Added <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/ab37d0fd-94c5-423a-ac5e-fe69951d492c/">light theme</a> and <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/49d8b24d-de69-46ca-b099-d8a62b4ef7bd/">dark theme</a> components to <a href="https://ux.redhat.com/foundations/personalization/">Personalization patterns</a> page</td>
        </tr>
        <tr>
          <td>Tooltip</td>
          <td>Added top, right, bottom, and left <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/cf92070b-72bb-4810-963b-4008d575131e/">light theme</a> components to library</td>
        </tr>
        <tr>
          <td>Typography</td>
          <td>Added dark theme text and <a href="https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/aa382e47-858d-4dc3-8bcc-9921cb46069c/">list styles</a> to library</td>
        </tr>
      </tbody>
    </table>
  </section>

{%- endcall %}

<!-- Cross links -->

<div class="multi-column--min-300-wide">
  {% call components.section("Feedback") -%}
    <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  {%- endcall %}
  {% call components.section("Design and code status") -%}
    <p>To check the design and code status of a foundation or component, visit <a href="../design-code-status">this page</a>.</p>
  {%- endcall %}
</div>
