:host {
  display: inline-block;
}

#container {
  display: inline-flex;

  /** Spacing container padding */
  padding: var(--rh-space-lg, 16px);

  /** Border radius container */
  border-radius: var(--rh-border-radius-default, 3px);
  min-width: 150px;

  &.success {
    /** Operational state background color */
    background-color:
      light-dark(var(--rh-color-surface-status-success),
        var(--rh-color-surface-dark, #383838));
  }

  &.warning {
    /** Degraded state background color */
    background-color:
      light-dark(var(--rh-color-surface-status-warning),
        var(--rh-color-surface-dark, #383838));
  }

  &.danger {
    /** Critical state background color */
    background-color:
      light-dark(var(--rh-color-surface-status-danger),
        var(--rh-color-surface-dark, #383838));
  }

  &.loading {
    /** Loading background color */
    background-color:
      light-dark(var(--rh-color-surface-light, #e0e0e0),
        var(--rh-color-surface-dark, #383838));
  }
}

a {
  display: inline-flex;

  /** Link font size */
  font-size: var(--rh-font-size-body-text-sm, 0.875rem);
  text-decoration: none;
  align-items: center;

  /** Link gap between text and icon */
  gap: var(--rh-space-md, 8px);

  /** Link font color */
  color: var(--rh-color-text-primary);
  text-transform: lowercase;
}

span:first-letter {
  text-transform: uppercase;
}

a:focus {
  outline:
    /** Link focus outline */
    var(--rh-border-width-md, 2px)
    solid
    /** Link focus outline color */
    var(--rh-color-border-interactive);

  /** Link focus border radius */
  border-radius: var(--rh-border-radius-default, 3px);
}

a:is(:hover,:focus) {
  text-decoration: underline;
}

rh-icon {
  /** Status Icon width */
  width: var(--rh-size-icon-01, 16px);

  /** Status Icon height  */
  height: var(--rh-size-icon-01, 16px);

  /** Status Icon color */
  color: var(--rh-color-white, #ffffff);

  /** Operational state icon status color */
  &.success { color: var(--rh-color-status-success); }

  /** Degraded state icon status color  */
  &.warning { color: var(--rh-color-status-warning); }

  /** Critical state icon status color  */
  &.danger { color: var(--rh-color-status-danger); }
}
