:host {
  display: contents;
}

a {
  display: inline-flex;
  font-size: var(--rh-font-size-body-text-sm, 0.875rem);
  text-decoration: none;
  padding: var(--rh-space-lg, 16px);
  align-items: center;
  gap: var(--rh-space-md, 8px);
  background: var(--_context-background-color, var(--rh-color-surface-dark, #383838));
  border-radius: var(--rh-border-radius-default, 3px);
  color: var(--_context-text, var(--rh-color-text-primary-on-dark, #ffffff));
  min-width: 150px;
  text-transform: lowercase;
}

span:first-letter {
  text-transform: uppercase;
}
