<!DOCTYPE html><html class="no-js" lang=""><head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Statistic | Red Hat digital design system</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://www.redhat.com/misc/favicon.ico" type="image/x-icon">

  <script src="/js/global.js"></script>

  <link rel="preconnect" href="https://static.redhat.com">
  <link rel="preconnect" href="https://unpkg.com">
  <meta property="og:title" content="Red Hat digital design system">
  <meta property="og:site_name" content="Red Hat digital design system">
  <meta property="og:url" content="ux.redhat.com">
  <meta property="og:description" content="This is Red Hat's digital design system. Using Red Hat brand standards and PatternFly as our foundational design language, we enable designers and developers to concurrently build branded experiences across redhat.com, Red Hat Customer Portal, and beyond.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://ux.redhat.com/assets/opengraph.png">

  <meta name="pfe-auto-reveal" content="true">

  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css" media="all">

  <link rel="stylesheet" href="/assets/prism.css">
  <link rel="stylesheet" href="/assets/pfe.min.css">
  <link rel="stylesheet" href="/assets/rhds.min.css">

  <link rel="stylesheet" href="/assets/css/style.css" id="">


  <noscript>
    <link type="text/css" href="/assets/pfe--noscript.min.css">
  </noscript>

  <script type="module" src="/assets/rhds.min.js"></script>
</head>




  


<body class="page page--statistic" id="top" unresolved="">

  <div class="body-inner">

    


<script>
  window.onUsersnapCXLoad = function(api) {
    api.init();
  }
  var script = document.createElement('script');
  script.async = 1;
  script.src = 'https://widget.usersnap.com/load/64471a95-72fe-4239-b16d-ebcf8b1219f7?onload=onUsersnapCXLoad';
  document.getElementsByTagName('head')[0].appendChild(script);
</script>

<header class="l-header">

  <div class="l-header__logo-bar">
    <a href="/"><img class="l-header__logo" src="/assets/red-hat-digital-design-system.svg" alt="Red Hat digital design system" style="max-width:240px;min-width:240px;"></a>
  </div>

  <input id="mobile-menu-toggle" class="menu-toggle element-invisible" type="checkbox" aria-controls="mobile-menu-menu-container">

  <label class="menu-toggle__button l-header__mobile-menu-toggle" for="mobile-menu-toggle" data-controls="mobile-menu-menu-container">
    <span class="l-header__burger-icon"></span>
    <span class="menu-toggle-assistive-text element-invisible">Toggle menu visibility</span>
  </label>

  <div class="menu-toggle__toggleable site-navigation__outer-wrapper">
    <nav class="l-header__site-navigation site-navigation menu-toggle__toggleable-content-wrapper">
      <ul class="site-navigation__wrapper">
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/">
    Home
  </a>

        </li>

        <!-- About

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/about/">
    About this website
  </a>

        </li> -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">About</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/about/">
    About this website
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/about/how-we-build/">
    How we build
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Get started -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Get started</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/">
    Overview
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/design-system-kit/">
    Design system kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/fts-starter-kit/">
    FTS starter kit
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/icon-library/">
    Brand icon library
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/get-started/logo-library/">
    Product logo library
  </a>

                </li></ul>
          </details>
        </li>

        <!-- Foundations -->

        <li class="site-navigation__item">
          
          
          <details>
            <summary class="site-navigation__heading">Foundations</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/">
    Overview
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

              </li>
              <!--<li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/color/">
    Color
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/grid/">
    Grid
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/personalization/">
    Personalization patterns
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/spacing/">
    Spacing
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/foundations/typography/">
    Typography
  </a>

                </li>-->
            </ul>
          </details>
        </li>

        <!-- Components -->

        <li class="site-navigation__item">
          
          
            
          
          <details open="">
            <summary class="site-navigation__heading">Components</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/components/">
    All components
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/accordion/">
    Accordion
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/alert/">
    Alert
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/announcement/">
    Announcement
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/audio-player/">
    Audio player
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/avatar/">
    Avatar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/blockquote/">
    Blockquote
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/button/">
    Button
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/call-to-action/">
    Call to action
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/card/">
    Card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/dialog/">
    Dialog
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/disclosure/">
    Disclosure
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/filter/">
    Filter
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/footer/">
    Footer
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/form/">
    Form
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/jump-links/">
    Jump links
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link/">
    Link
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/link-with-icon/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/navigation-primary/">
    Navigation (primary)
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/navigation-secondary/">
    Navigation (secondary)
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/popover/">
    Popover
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/progress-steps/">
    Progress steps
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/promo/">
    Promo
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/search-bar/">
    Search bar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/skip-navigation/">
    Skip navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
    
  
  <a class="site-navigation__sub-menu__link site-navigation__sub-menu__link--active" href="/components/statistic/">
    Statistic
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-banner/">
    Sticky banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/sticky-card/">
    Sticky card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tabs/">
    Tabs
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/tooltip/">
    Tooltip
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/components/video-thumbnail/">
    Video thumbnail
  </a>

                </li></ul>
          </details>
        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/design-code-status/">
    Design/code status
  </a>

        </li>

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/release-notes/">
    Release notes
  </a>

        </li>

        <!--

        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/get-started/">
    Get started
  </a>

        </li>

        -->

      </ul>
    </nav>
  </div>
</header>


<main class="l-main">
  <article class="l-main__inner">
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 id="statistic" class="page-title">Statistic</h1>
      </div>
    </header>
    <div class="l-main__content">
      <div class="container">
        
        



  <section class="section section--palette-default container">
    <a id="Overview"></a>
    <h2 id="overview" class="section-title pfe-jump-links-panel__section">Overview</h2>
    <p>A Statistic showcases a data point or quick fact in a way that visually stands out. It consists of a number/percentage and body text in its simplest form. It can also include an icon, title, and a call to action.</p>
  </section>



  <section class="section section--palette-default container">
    <a id="Sample%20component"></a>
    <h2 id="sample-component" class="section-title pfe-jump-links-panel__section">Sample component</h2>
    <div style="max-width: 344px;">
    <rh-stat>
        <span slot="statistic">80%</span>
        <span>of Fortune Global 500 telecom companies<sup>1</sup></span>
    </rh-stat>
</div>
  </section>



<!--
-->

<!--

  <section class="section section--palette-default container">
    <a id="Demo"></a>
    <h2 id="demo" class="section-title pfe-jump-links-panel__section">Demo</h2>
    <p>View a live version of this component to see how it can be customized.</p>
<pfe-cta>
    <a href="https://patternfly.github.io/patternfly-elements/demo/?path=/story/navigation--pfe-navigation">View this component in action</a>
</pfe-cta>
  </section>

-->

<hr class="margin-top--2 margin-bottom--10">


  <section class="section section--palette-default container">
    <a id="Anatomy"></a>
    <h2 id="anatomy" class="section-title pfe-jump-links-panel__section">Anatomy</h2>
    <p>Each stat is composed of a number or percentage and body text. A title, icon, or call to action are optional elements that can provide additional information.</p>

<div class="margin-bottom--7 centered">
    <img src="/assets/statistic/stat-anatomy.svg" alt="A stat's anatomy consists of an icon, title, number, body text, and call to action, in that order." style="--inline-img-max-width: 590px;">
</div>

<div class="multi-column--min-400-wide">
    <div>
        <h4 id="title">Title</h4>
        <p>If there's supporting text for the number, the words can be added as a title. For example, in the phrase “more than 90%,” the words "more than” are added as a title.</p>
    </div>
    <div>
        <h4 id="number">Number</h4>
        <p>This slot should include only digits, a percentage symbol, periods, or commas.</p>
    </div>
    <div>
        <h4 id="body-text">Body text</h4>
        <p>Every stat should have body text that explains the context around the number.</p>
    </div>
    <div>
        <h4 id="additional-elements">Additional elements</h4>
        <p>A stat can contain a relevant icon and/or call to action.</p>
    </div>
</div>
  </section>



  <section class="section section--palette-default container">
    <a id="Style"></a>
    <h2 id="style" class="section-title pfe-jump-links-panel__section">Style</h2>
    <h4 style="margin-top: -4px;" id="theme">Theme</h4>


  <div class="example example--palette-light">
    
    
    <div class="centered">
        <rh-stat>
            <span slot="statistic">80%</span>
            <span>of Fortune Global 500 telecom companies<sup>1</sup></span>
        </rh-stat>
    </div>
  </div>

<!---UPDATE IMAGE: DOES DARK THEME NEED TO BE ADDED THROUGH PFE-BAND?-->
<pfe-band size="smallest" color-palette="darkest" style="border-radius: var(--rh-border-radius-default, 3px);">
    <div class="centered">
        <rh-stat>
            <span slot="statistic">80%</span>
            <span>of Fortune Global 500 telecom companies<sup>1</sup></span>
        </rh-stat>
    </div>
</pfe-band>

<h4 id="color">Color</h4>

  <div class="example example--palette-light">
    
    
    <div class="centered">
        <img src="/assets/statistic/stat-colors.svg" alt="Statistic component styling - color" style="--inline-img-max-width: 590px;">
    </div>
  </div>


<h4 id="sizes">Sizes</h4>
<p>The default size uses 36pt for the number and 40px for an icon. A large stat uses 48pt for the number and 64px for an icon. Both size variations use 18pt for body text and 20pt for titles.</p>

  <div class="example example--palette-light">
    
    
    <div class="centered">
        <img src="/assets/statistic/stat-sizes.svg" alt="Examples of stat in the default and large sizes" style="--inline-img-max-width: 752px;">
    </div>
  </div>


<h4 id="configurationsvariants">Configurations/variants</h4>
<p>An icon can be added as the first element in a statistic.</p>
<p><pfe-cta>
    <a href="/get-started/icon-library/">Learn more about using icons</a> 
</pfe-cta>
</p>

  <div class="example example--palette-light">
    
    
    <div class="centered">
        <rh-stat icon="rh-telecom-vertical">
            <span slot="statistic">80%</span>
            <span>of Fortune Global 500 telecom companies<sup>1</sup></span>
        </rh-stat>
    </div>
  </div>

<p>A call to action can be added as the last element in a statistic.</p>

  <div class="example example--palette-light">
    
    
    <div class="centered">
        <rh-stat>
            <span slot="statistic">80%</span>
            <span>of Fortune Global 500 telecom companies<sup>1</sup></span>
            <pfe-cta slot="cta">
                <a href="#">Learn more</a>
            </pfe-cta>
        </rh-stat>
    </div>
  </div>

<p>A stat can be placed inside a card.</p>

  <div class="example example--palette-medium">
    
    
    <div class="centered">
        <img src="/assets/statistic/stat-config-in-card.svg" alt="Example of a stat centered in a card" style="--inline-img-max-width: 406px;">
    </div>
  </div>


<h4 id="alignment">Alignment</h4>
<p>All content in a stat should use the same alignment. Currently all stat content is centered.</p>

  <div class="example example--palette-light">
    
    
    <div class="centered">
        <rh-stat>
            <span slot="title">More than</span>
            <span slot="statistic">90%</span>
            <span>of Fortune 500 companies rely on Red Hat<sup>1</sup></span>
        </rh-stat>
    </div>
  </div>

  </section>




  <section class="section section--palette-default container">
    <a id="Usage"></a>
    <h2 id="usage" class="section-title pfe-jump-links-panel__section">Usage</h2>
    <h4 style="margin-top: -4px;" id="layout">Layout</h4>

<p>The minimum width of a stat is three columns and the maximum number of cards that can be used in a row is four.</p>
<div class="centered">
        <img src="/assets/statistic/stat-usage-layout.svg" alt="Example of four stats in one row" style="--inline-img-max-width: 1000px;">
    </div>

<h4 id="pairing-statistics-with-footnotes">Pairing statistics with footnotes</h4>

<p>Include a footnote on the same page if you're making a claim, especially if the statistic comes from an external source. This can increase the credibility of the statistic and can better integrate the data with the page content.</p>

  <div class="example example--palette-light">
    
    
    <div class="centered">
        <img src="/assets/statistic/stat-usage-with-footnote.svg" alt="Example of a stat paired with a footnote that explains where the stat came from" style="--inline-img-max-width: 555px;">
    </div>
  </div>

  </section>



  <section class="section section--palette-default container">
    <a id="Behavior"></a>
    <h2 id="behavior" class="section-title pfe-jump-links-panel__section">Behavior</h2>
    <h4 style="margin-top: -4px;" id="vertical-height">Vertical height</h4>
<p>If there are multiple stats in a row, the height of the row will be determined by the tallest stat.</p>


  <div class="example example--palette-light">
    
    
    <div class="centered">
        <img src="/assets/statistic/stat-behavior-vertical-height.svg" alt="A group of five stats arranged in two rows" style="--inline-img-max-width: 789px;">
    </div>
  </div>

  </section>



  <section class="section section--palette-default container">
    <a id="Accessibility"></a>
    <h2 id="accessibility" class="section-title pfe-jump-links-panel__section">Accessibility</h2>
    <h4 style="margin-top: -4px;" id="color-contrast">Color contrast</h4>

<p>A stat's colors may change based on the theme. This is done to ensure that the color contrast meets WCAG AA standards.</p>

<h4 id="light-theme-primary-background">Light theme - primary background</h4>

  <div class="example example--palette-light">
    
    
    <div class="centered">
        <img src="/assets/statistic/stat-accessibility-light-theme-primary-bg.svg" alt="A stat against a white background has a red title and number, black body text, and a blue CTA." style="--inline-img-max-width: 590px;">
    </div>
  </div>


<h4 id="dark-theme-primary-background">Dark theme - primary background</h4>

  <div class="example example--palette-darkest">
    
    
    <div class="centered">
        <img src="/assets/statistic/stat-accessibility-dark-theme-primary-bg.svg" alt="A stat against a black background has a white title, white number, white body text, and a light blue CTA." style="--inline-img-max-width: 590px;">
    </div>
  </div>


<h4 id="light-theme-secondary-background">Light theme - secondary background</h4>
<div class="example" style="background: var(--rh-color-surface-light, #f0f0f0); border-radius: var(--rh-border-radius-default, 3px);">
    <div class="centered">
        <img src="/assets/statistic/stat-accessibility-light-theme-secondary-bg.svg" alt="A stat against a white background has a red title and number, black body text, and a blue CTA." style="--inline-img-max-width: 590px;">
    </div>
</div>

<h4 id="dark-theme-secondary-background">Dark theme - secondary background</h4>
<div class="example" style="background: var(--rh-color-surface-darker, #212427); border-radius: var(--rh-border-radius-default, 3px);">
    <div class="centered">
        <img src="/assets/statistic/stat-accessibility-dark-theme-secondary-bg.svg" alt="A stat against a dark grey background has a white title and number, very light grey body text, and a light blue CTA." style="--inline-img-max-width: 590px;">
    </div>
</div>
  </section>




  <section class="section section--palette-default container">
    <a id="Responsive%20design"></a>
    <h2 id="responsive-design" class="section-title pfe-jump-links-panel__section">Responsive design</h2>
    <h4 style="margin-top: -4px;" id="large-screens">Large screens</h4>

<p>A single stat will span a maximum of 6 columns.</p>

    <div class="margin-bottom--7">
        <img src="/assets/statistic/stat-responsive-desktop.svg" alt="Example of a stat centered in a card" style="--inline-img-max-width: 1000px;">
    </div>

<h4 id="small-screens">Small screens</h4>

<p>Stats in a row on large screens will stack on smaller screens. Font sizes will adjust based on the <a href="/foundations/typography/">mobile typography scale</a>.</p>

    <div class="margin-bottom--7">
        <img src="/assets/statistic/stat-responsive-mobile.svg" alt="Three stats stacked in a 328px container with 16px margins on either side" style="--inline-img-max-width: 360px;">
    </div>
  </section>




  <section class="section section--palette-default container">
    <a id="Best%20practices"></a>
    <h2 id="best-practices" class="section-title pfe-jump-links-panel__section">Best practices</h2>
    <h4 style="margin-top: -4px;" id="including-additional-elements">Including additional elements</h4>

<p>Don't use inconsistent amounts of content in stats that are grouped together.</p>

  <div class="margin-bottom--3">
    <p style="background-color: #e7f1fa; border-top: 2px solid #2b9af3; padding: 16px 16px 16px 24px; font-size: 14px; letter-spacing: 0.2px;"><span style="color:#002952"><strong>Helpful tip</strong></span><br>A call to action does not have to appear under every stat in a group. Since it appears at the end, omitting it does not disrupt the visual flow of elements in the other stats.</p>
  </div>


  <div class="example example--palette-wrong">
    
    
    <div class="centered">
        <img src="/assets/statistic/stat-best-practice-inconsistent-content.svg" alt="Group containing a stat with icon only, stat without icon or title, and stat with title only" style="--inline-img-max-width: 789px;" class="margin-top--2">
    </div>
  </div>



<h4 id="choosing-icons">Choosing icons</h4>

<p>Don't use an icon that is unrelated to the body text.</p>


  <div class="example example--palette-wrong">
    
    
    <div class="centered">
        <img src="/assets/statistic/stat-best-practice-unrelated-icon.svg" alt="Stat about telecom companies paired with a crab icon" style="--inline-img-max-width: 360px;">
    </div>
  </div>


<h4 id="title">Title</h4>

<p>Avoid character counts that cause the title to break into two lines at any screen size.</p>


  <div class="example example--palette-wrong">
    
    
    <div class="centered">
        <img src="/assets/statistic/stat-best-practice-long-title.svg" alt="Stat with a title that wraps to two lines" style="--inline-img-max-width: 381px;">
    </div>
  </div>


<p>If a title is used for one stat in a group, write a title for each stat. Ensure the title appears in the same slot for each grouped stat to keep formatting consistent.</p>


  <div class="example example--palette-wrong">
    
    
    <div class="centered">
        <img src="/assets/statistic/stat-best-practice-title-placement.svg" alt="One row containing a stat with a title above the number, stat with no title, and stat with a title below number" style="--inline-img-max-width: 789px;">
    </div>
  </div>


<h4 id="number">Number</h4>
<p>Avoid character counts that cause the number to break into two lines at any screen size. If the number is a percentage, round up to avoid using decimals that would increase the character count.</p>


  <div class="example example--palette-wrong">
    
    
    <div class="centered">
        <img src="/assets/statistic/stat-best-practice-long-number.svg" alt="Stat with a number that wraps to two lines" style="--inline-img-max-width: 320px;">
    </div>
  </div>


<p>Avoid using 100% for more than one statistic in a group or on a page, unless you are able to cite a source and include footnotes.</p>


  <div class="example example--palette-wrong">
    
    
    <div class="centered">
        <img src="/assets/statistic/stat-best-practice-100-percent-no-footnote.svg" alt="Three stats with 100% and no footnote" style="--inline-img-max-width: 789px;">
    </div>
  </div>


<h4 id="body-text">Body text</h4>

<p>Keep the body text as short and consumable as possible. Be mindful of lengthy character counts, especially when stats are grouped. In general, it is not recommended to have the stat's body text span more than 5 lines on small screens.</p>


  <div class="example example--palette-wrong">
    
    
    <div class="centered">
        <img src="/assets/statistic/stat-best-practice-long-body-text.svg" alt="Stat with body text that is six lines long at mobile screen sizes" style="--inline-img-max-width: 328px;">
    </div>
  </div>

  </section>





  <section class="section section--palette-default container">
    <a id="Spacing"></a>
    <h2 id="spacing" class="section-title pfe-jump-links-panel__section">Spacing</h2>
    <h4 style="margin-top: -4px;" id="within-the-component">Within the component</h4>

<p>The Statistic component uses <a href="/foundations/spacing">spacers</a> to define space values between elements. The default and large variations use the same spacing.</p>


  <div class="example example--palette-light">
    
    
    <div class="centered">
        <img src="/assets/statistic/stat-spacing.svg" alt="Stat uses 8px of space below icon, 8px of space below number, and 24px of space below body text." style="--inline-img-max-width: 348px;">
    </div>
  </div>


<h4 id="within-groups-of-stats">Within groups of stats</h4>

<p>Spacing between vertically stacked stats should be 48px.</p>


  <div class="example example--palette-light">
    
    
    <div class="centered">
        <img src="/assets/statistic/stat-vertical-spacing.svg" alt="Example of two stats stacked with a 48px spacer in between." style="--inline-img-max-width: 360px;">
    </div>
  </div>

  </section>


<!--hiding jumplinks layout for now
    </pfe-jump-links-panel>

    <section class="jump-links--layout">
        <pfe-jump-links-nav id="jumplinks" sr-text="Page navigation" pfelement="" class="PFElement" type="content" on="light" autobuild sticky>
        </pfe-jump-links-nav>
    </section>

</div>
-->


<div class="multi-column--min-300-wide">

  
  <section class="section section--palette-default container">
    <a id="Feedback"></a>
    <h2 id="feedback" class="section-title pfe-jump-links-panel__section">Feedback</h2>
    <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  </section>


  
  <section class="section section--palette-default container">
    <a id="Components"></a>
    <h2 id="components" class="section-title pfe-jump-links-panel__section">Components</h2>
    <p>To learn how to use our other components in your designs, visit the <a href="/components">Components</a> section.</p>
  </section>


</div>
      </div>
    </div>
  </article>
    

  <footer class="main-footer">
    <img style="max-width: 135px;" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark.svg" alt="Red Hat">
    <p>Copyright © 2021-2022 Red Hat, Inc.</p>
    <div class="main-footer--list">
      <ul>
        <li><a href="https://www.redhat.com/en/about/privacy-policy">Privacy statement</a></li>
        <li><a href="https://www.redhat.com/en/about/terms-use">Terms of use</a></li>
        <li><a href="https://www.redhat.com/en/about/all-policies-guidelines">All policies and guidelines</a></li>
      </ul>
    </div>

    <a id="netlify-badge" href="https://www.netlify.com" target="_blank" rel="noreferrer noopener">
      <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" alt="Deploys by Netlify">
    </a>
  </footer>

<div class="back-to-top">
    <a href="#top" class="back-to-top-link">
        <img src="/assets/back-to-top.svg" alt="Scroll back to the top">
    </a>
</div>

</main>


  </div>



</body></html>