/* Decrease CLS  */
uxdot-hero:not(:defined) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

uxdot-hero:not(:defined) [slot='header'] {
  color: var(--rh-color-text-brand-on-light);
  margin-block-end: 0;
  text-transform: uppercase;
  font-weight: var(--rh-font-weight-code-medium);
  font-size: var(--rh-font-size-code-lg) !important;
}

uxdot-hero:not(:defined) [slot='tagline'] {
  font-size: var(--rh-font-size-heading-2xl) !important;
  margin-block: var(--rh-space-lg) !important;
  text-align: center;
}

uxdot-hero:not(:defined) [slot='image'] {
  width: 100%;
  margin-block-start: var(--rh-space-4xl);
}

uxdot-example:not(:defined) img {
  max-width: 100%;
}

rh-subnav:not(:defined) {
  display: flex;
  flex-direction: row;
  gap: var(--rh-space-md);
  margin-block-start: var(--rh-space-2xl);
  max-width: 100%;
  overflow-x: scroll;
}

rh-subnav:not(:defined) a {
  display: block;
  white-space: nowrap;
  padding: var(--rh-space-lg);
  text-decoration: none;
  color: var(--rh-color-text-secondary-on-light);
  position: relative;
}

rh-subnav:not(:defined) a[active] {
  border-block-end: 3px solid var(--rh-color-accent-brand-on-light);
}
