{% macro menuLink (text, linkUrl, className) %}
  {% set classes = className %}
  {% if page.url == linkUrl %}
    {% set classes = classes + " " + className + "--active" %}
  {% endif %}
  <a class="{{ classes }}" href="{{ linkUrl | url }}">
    {{ text }}
  </a>
{% endmacro %}

<script type="text/javascript">
(function() { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = '//api.usersnap.com/load/4a8eca9f-e612-466c-ba21-5c98236daf99.js';
var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();
</script>

<header class="l-header">
  <div class="l-header__logo-bar">
    <img class="l-header__logo" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark.svg" alt="Red Hat" />
  </div>
  <input id="mobile-menu-toggle" class="menu-toggle element-invisible" type="checkbox" aria-controls="mobile-menu-menu-container">
  <label class="menu-toggle__button" for="mobile-menu-toggle" data-controls="mobile-menu-menu-container">
    Menu
    <span class="menu-toggle-assistive-text element-invisible">, Toggle visibility</span>
  </label>
  <div class="menu-toggle__toggleable">
    <nav class="l-header__site-navigation site-navigation menu-toggle__toggleable-content-wrapper">
      <ul class="site-navigation__wrapper">
        <li class="site-navigation__item">
          {{ menuLink('Home', '/', 'site-navigation__link') }}
        </li>
        <li class="site-navigation__item">
          {% set extraAttributes = "" %}
          {% if 'components/' in page.url %}
            {% set extraAttributes = " open" %}
          {% endif %}
          <details {{ extraAttributes }}>
            <summary class="site-navigation__heading">Components</summary>
            <ul class="site-navigation__sub-menu">
              {%- for component in collections.component -%}
                <li class="site-navigation__sub-menu__item">
                  {{ menuLink(component.data.title, component.url, 'site-navigation__sub-menu__link') }}
                </li>
              {%- endfor -%}
            </ul>
          </details>
        </li>

        <li class="site-navigation__item">
          {% set extraAttributes = "" %}
          {% if 'foundations/' in page.url %}
            {% set extraAttributes = " open" %}
          {% endif %}
          <details {{ extraAttributes }}>
            <summary class="site-navigation__heading">Foundations</summary>
            <ul class="site-navigation__sub-menu">
              {%- for foundation in collections.foundations -%}
                <li class="site-navigation__sub-menu__item">
                  {{ menuLink(foundation.data.title, foundation.url, 'site-navigation__sub-menu__link') }}
                </li>
              {%- endfor -%}
            </ul>
          </details>
        </li>

        <li class="site-navigation__item">
          {{ menuLink('Example Nunjucks Page', '/example/', 'site-navigation__link') }}
        </li>
        <li class="site-navigation__item">
          {{ menuLink('Example Markdown Page', '/documentation/example/', 'site-navigation__link') }}
        </li>
      </ul>
    </nav>
  </div>
</header>
