<header class="l-header">
  <img class="l-header__logo" src="/assets/logo-redhat--reversed.png" alt="Red Hat" />
  <nav class="l-header__site-navigation site-navigation">
    <ul class="site-navigation__wrapper">
      <li class="site-navigation__item">
        <a class="site-navigation__link" href="/">Home</a>
      </li>
      <li class="site-navigation__item">
        <span class="site-navigation__link">Components</span>
        <ul>
          <li>
            <a class="site-navigation__link" href="/components/cta">Call to Action</a>
          </li>
        </ul>
      </li>
      <li class="site-navigation__item">
        <a class="site-navigation__link" href="/example">Example Nunjucks Page</a>
      </li>
      <li class="site-navigation__item">
        <a class="site-navigation__link" href="/documentation/example">Example Markdown Page</a>
      </li>
    </ul>
  </nav>
</header>
