#container {
  display: block;
  z-index: 1000;
}

a#container {
  position: fixed;
}

div#container {
  position: relative;
}

a,
::slotted(a) {
  background-color: var(--rh-color-surface-lightest, #ffffff) !important;
  border-block-start-width: 0 !important;
  border-block-end:
    var(--rh-border-width-sm, 1px)
    solid
    var(--rh-color-border-interactive-on-light, #0066cc) !important;
  border-inline-start:
    var(--rh-border-width-sm, 1px)
    solid
    var(--rh-color-border-interactive-on-light, #0066cc) !important;
  border-inline-end:
    var(--rh-border-width-sm, 1px)
    solid
    var(--rh-color-border-interactive-on-light, #0066cc) !important;
  border-end-start-radius: var(--rh-border-radius-default, 3px) !important;
  border-end-end-radius: var(--rh-border-radius-default, 3px) !important;
  clip: rect(0, 0, 0, 0) !important;
  color: var(--rh-color-interactive-primary-default-on-light, #0066cc) !important;
  font-family: var(--rh-font-family-heading, RedHatDisplay, 'Red Hat Display', Helvetica, Arial, sans-serif) !important;
  font-size: var(--rh-font-size-body-text-md, 1rem) !important;
  font-weight: var(--rh-font-weight-heading-bold, 700) !important;
  height: 1px !important;
  left: 50% !important;
  margin: -1px !important;
  outline: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  text-decoration: none !important;
  top: -40px !important;
  transform: translateX(-50%) !important;
  transition: top 0.05s ease-in !important;
  white-space: nowrap !important;
  width: 1px !important;
}

::slotted(a) {
  position: fixed !important;
}

a:is(:active, :focus),
::slotted(a:is(:active, :focus)) {
  border-width: var(--rh-border-width-md, 2px) !important;
  clip: auto !important;
  height: auto !important;
  margin: 0 !important;
  overflow: visible !important;
  padding: var(--rh-space-lg, 16px) var(--rh-space-2xl, 32px) !important;
  top: 0 !important;
  white-space: inherit !important;
  width: auto !important;
}

a:is(:active, :hover),
::slotted(a:is(:active, :hover)) {
  text-decoration: underline !important;
  text-decoration-style: dashed !important;
  text-decoration-color: inherit !important;
  text-decoration-thickness: 1px !important;
  text-underline-offset: max(5px, 0.28em) !important;
  transition: ease all 0.3s !important;
}

@media (prefers-reduced-motion: reduce) {
  a,
  ::slotted(a) {
    transition-duration: 0.001ms !important;
  }
}
