:host {
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--rh-space-md, 8px) var(--rh-space-lg, 16px);
  margin-inline-end: var(--rh-space-lg, 16px);
  margin-bottom: var(
    --rh-space-md,
    16px
  );
}
