[data-demo] {
  padding: var(--rh-space-xl, 24px);
  min-height: 100%;
  height: 100%;
}

main {
  display: block;
  position: relative;
  max-height: initial;
}

#nav {
  height: 100%;
}

#main-header {
  --pf-theme--color--surface--accent: black;
  --pf-theme--color--accent: black;
}

#main-header a img {
  margin-right: 0;
}

/* offset the padding on the demo container from above */
rh-context-demo {
  height: calc(100% + 2 * var(--rh-space-xl, 24px));
  margin: calc(-1 * var(--rh-space-xl, 24px));
}
