uxdot-masthead {
  container-type: inline-size;
  container-name: uxdot-masthead;
}

uxdot-masthead a[slot='links'] {
  color: var(--rh-color-text-primary-on-dark, #ffffff) !important;
}

uxdot-masthead a[slot='links']:is(:hover, :focus) {
  color: var(--rh-color-icon-subtle-hover, #a3a3a3) !important;
}

uxdot-masthead [slot='links'] span.display-xs {
  display: none;
}

uxdot-masthead a[slot='links']:last-of-type {
  margin-inline-end: var(--rh-space-md, 8px);
}

@container uxdot-masthead (min-width: 576px) {
  uxdot-masthead [slot='links'] span.display-xs {
    display: inline;
  }
}
