name: GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    # Do not run on forks
    if: github.repository == 'RedHat-UX/red-hat-design-system'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: npm

      - name: Install
        run: npm ci --prefer-offline

      - name: Build
        run: npm run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
