name: Compressed Size

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: npm
      - uses: preactjs/compressed-size-action@v2
        with:
          build-script: build
          clean-script: clean
          pattern: ./**/*.js
          exclude: ./{scripts/**/*,elements/*/demo/**/*,docs/**/*,_site/**/*,node_modules/**/*,*.config.js}
