.code-tabs {
  border: var(--rh-border-width-sm) solid var(--rh-color-border-subtle);
  border-radius: var(--rh-border-radius-default);
  max-width: 56rem; /* warning: magic number */
  overflow: hidden;

  & rh-tab-panel {
    padding: 0;
    border-radius: 0;
  }

  & rh-code-block {
    --rh-border-radius-default: 0;
    --rh-border-width-sm: 0px;

    border-width: 0;
  }
}
