rh-navigation-vertical {
  & rh-navigation-link:has(a[aria-current='page']) {
    --_navigation-link-background-color:
      light-dark(var(--rh-color-surface-lighter, #f2f2f2),
        var(--rh-color-surface-dark, #383838));
    --_navigation-link-before-border-inline-start-width: var(--rh-border-width-lg, 3px);
    --_navigation-link-before-border-inline-start-color: var(--rh-color-brand-red);
  }
}
