:host {
  display: block;
}

#container {
  & a,
  & ::slotted(a) {
    color: var(--rh-color-text-primary);
    text-decoration: none;
    display: block;
    padding: var(--rh-space-lg, 16px) var(--rh-space-2xl, 32px);
    position: relative;
  }

  & a:before,
  & ::slotted(a):before {
    content: '';
    border-inline-start: var(--rh-border-width-sm, 1px) solid transparent;
    position: absolute;
    z-index: 1;
    inset: 0;
  }

  & a:is(:hover, :focus, :active),
  & ::slotted(a:is(:hover, :focus, :active)) {
    background-color:
      light-dark(var(--rh-color-surface-lighter, #f2f2f2),
        var(--rh-color-surface-dark, #383838));
  }

  & a:active:before,
  & ::slotted(a:active):before {
    border-inline-start-color: var(--rh-color-brand-red);
  }

  & a:focus,
  & ::slotted(a:focus) {
    outline:
      var(--rh-border-width-md, 2px)
      solid
      var(--rh-color-interactive-primary-default);
    border-radius: var(--rh-border-radius-default, 3px);
  }

  & a[aria-current],
  & ::slotted(a[aria-current]) {
    background:
      light-dark(var(--rh-color-surface-lighter, #f2f2f2),
        var(--rh-color-surface-dark, #383838));
  }

  & a[aria-current]:before,
  & ::slotted(a[aria-current]):before {
    border-inline-start-width: var(--rh-border-width-lg, 3px);
    border-inline-start-color: var(--rh-color-brand-red);
  }

  &[data-depth]:not([data-depth='1']) {
    & a,
    & ::slotted(a) {
      font-size: var(--rh-font-size-body-text-sm, 0.875rem);
      padding-inline: var(--rh-space-lg, 16px) var(--rh-space-2xl, 32px);
    }

    &.inline-start {
      & a,
      & ::slotted(a) {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          width: 1px;
          inset: 0;
          border-inline-start: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle);
        }
      }
    }
  }
}
