:host {
  display: block;
}

details {
  & summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--rh-space-lg, 16px) var(--rh-space-2xl, 32px);
    list-style: none;
    cursor: pointer;

    &::-webkit-details-marker,
    &::marker {
      display: none;
    }

    &:is(:hover, :active, :focus) {
      background:
        light-dark(var(--rh-color-surface-lighter, #f2f2f2),
          var(--rh-color-surface-dark, #383838));
    }

    &:is(:active, :focus-visible) {
      outline: var(--rh-border-width-md, 2px) solid;
      outline-color: var(--rh-color-interactive-primary-default);
      border-radius: var(--rh-border-radius-default, 3px);
      position: relative;
      z-index: 2;
    }

    & ::slotted([slot='summary']) {
      font-family: var(--rh-font-family-body-text);
      font-size: var(--rh-font-size-body-text-md, 1rem) !important;
      font-weight: var(--rh-font-weight-body-text-regular, 400);
    }

    & rh-icon {
      inline-size: var(--rh-space-lg, 16px);
      block-size: var(--rh-space-lg, 16px);
      transition: 0.2s;
      will-change: rotate;
      position: relative;
      inset-block-start: 3px;
      margin-inline-end: var(--rh-space-md, 8px);
    }
  }

  & ::slotted(rh-navigation-link) {
    --_navigation-link-display: flex;
    --_navigation-link-align-items: center;
    --_navigation-link-inline-size: 100%;
    --_navigation-link-padding: var(--rh-space-lg, 16px) var(--rh-space-2xl, 32px);
    --_navigation-link-font-size: var(--rh-font-size-body-text-md);
    --_navigation-link-text-decoration: none;
    --_navigation-link-text-decoration-style: none;
    --_navigation-link-text-decoration-line: none;
    --_navigation-link-color: var(--rh-color-text-primary);
    --_navigation-link-color-hover: var(--rh-color-text-primary);
    --_navigation-link-hover-background-color:
      light-dark(var(--rh-color-surface-lighter, #f2f2f2),
        var(--rh-color-surface-dark, #383838));
    --_navigation-link-container-display: flex;
    --_navigation-link-container-align-items: center;
    --_navigation-link-container-position: relative;
    --_navigation-link-container-inline-size: 100%;
  }

  & ::slotted(rh-navigation-link:active) {
    --_navigation-link-before-border-inline-start-width: var(--rh-border-width-sm, 1px);
    --_navigation-link-before-border-inline-start-color: var(--rh-color-brand-red);
  }

  & ::slotted(rh-navigation-link[current-page]) {
    --_navigation-link-background-color:
      light-dark(var(--rh-color-surface-lighter, #f2f2f2),
        var(--rh-color-surface-dark, #383838));
    --_navigation-link-before-border-inline-start-width: var(--rh-border-width-lg, 3px);
    --_navigation-link-before-border-inline-start-color: var(--rh-color-brand-red);
  }

  &[open] {
    & rh-icon {
      transform: rotate(-180deg);
    }
  }

  &.inline-start {
    #subtree {
      & slot::slotted(rh-navigation-link):before {
        content: '';
        position: absolute;
        inset: 0;
        inline-size: var(--rh-border-width-sm, 1px);
        border-inline-start: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle);
        z-index: 1;
      }
    }
  }

  #subtree {
    & slot::slotted(rh-navigation-link) {
      --_navigation-link-font-size: var(--rh-font-size-body-text-sm, 0.875rem);
      --_navigation-link-padding:
        var(--rh-space-lg, 16px)
        var(--rh-space-2xl, 32px)
        var(--rh-space-lg, 16px)
        var(--rh-space-lg, 16px) !important;

      display: block;
      position: relative;
    }

    & slot::slotted(rh-navigation-link:active):before {
      content: '';
      position: absolute;
      display: block;
      block-size: 100%;
      inline-size: 100%;
      border-inline-start: var(--rh-border-width-sm, 1px) solid var(--rh-color-brand-red);
      pointer-events: none;
      z-index: 1;
    }
  }

  &[data-depth='1'] {
    & #subtree {
      margin-inline-start: var(--rh-space-2xl, 32px);

      & slot::slotted(rh-navigation-link) {
        --_navigation-link-padding:
          var(--rh-space-lg, 16px)
          var(--rh-space-2xl, 32px)
          var(--rh-space-lg, 16px)
          var(--rh-space-lg, 16px) !important;
      }

      & slot::slotted(rh-navigation-link:focus),
      & slot::slotted(rh-navigation-link:hover) {
        --_navigation-link-background-color:
          light-dark(var(--rh-color-surface-lighter, #f2f2f2),
            var(--rh-color-surface-dark, #383838));
      }
    }
  }

  &[data-depth]:not([data-depth='1']) {
    & summary {
      padding-block: var(--rh-space-lg, 16px);
      padding-inline: var(--rh-space-lg, 16px) var(--rh-space-2xl, 32px);

      & slot[name='summary'] {
        font-size: var(--rh-font-size-body-text-sm, 0.875rem) !important;
      }
    }

    &.inline-start {
      & summary {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          inset: 0;
          inline-size: var(--rh-border-width-sm, 1px);
          border-inline-start: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle);
        }
      }
    }

    & #subtree {
      margin-inline-start: var(--rh-space-lg, 16px);
    }
  }
}
