---
layout: _templates/layout-basic.njk
title: Accordion
tags:
  - component
---

{% import '_templates/component/components.njk' as components %}

{% call components.section("Overview") -%}
<p>Accordions toggle the visibility of sections of content. They feature panels that consist of a section text label and a caret icon that collapses or expands to reveal more information.</p>
{%- endcall %}

{% call components.section("Sample component") -%}
<!-- in case we use an image here -->
<div class= "margin-top--8 margin-bottom--8">
  <img src="{{ '/assets/accordion/accordion-sample-1@2x.png' | url }}" alt="Example of an accordion component">
</div>

<!-- in case we use a component here -->
<!--<pfe-tabs pfe-variant="wind">
    <pfe-tab slot="tab" role="heading">Consequat nisi</pfe-tab>
    <pfe-tab-panel slot="panel" role="region">
        <p>Ea veniam ea et enim aute. Reprehenderit non incididunt ad sit. Amet cillum ullamco tempor excepteur mollit magna est veniam proident veniam laboris. Duis et ex ea fugiat nisi excepteur labore in aute officia. Eiusmod amet ad amet deserunt qui irure pariatur fugiat laborum labore aliqua consectetur nisi amet. Incididunt duis minim pariatur ullamco consectetur non dolor.</p>
        <pfe-cta>
            <a href="#">Learn more</a>
        </pfe-cta>
    </pfe-tab-panel>
    <pfe-tab slot="tab" role="heading">Minim elit</pfe-tab>
    <pfe-tab-panel slot="panel" role="region">
        <p>Fugiat ullamco qui occaecat Lorem qui pariatur quis cillum. Duis commodo dolor ad anim cillum. Incididunt elit ullamco in laborum in. Dolor ipsum laborum nisi exercitation do aute velit. Elit veniam velit qui ex ullamco.</p>
        <pfe-cta>
            <a href="#">Learn more</a>
        </pfe-cta>
    </pfe-tab-panel>
    <pfe-tab slot="tab" role="heading">Officia duis</pfe-tab>
    <pfe-tab-panel slot="panel" role="region">
        <p>Occaecat deserunt culpa Lorem esse. Irure proident culpa deserunt duis anim enim consequat occaecat eu adipisicing laboris. Aute aute ex sint proident in nulla ex culpa dolore exercitation enim sit exercitation. Consequat ea velit reprehenderit mollit cillum incididunt. Tempor commodo Lorem ipsum aliqua occaecat ea. Aliquip laboris ea ad commodo pariatur sit ipsum. Ea laborum ullamco mollit aliqua culpa laborum cupidatat adipisicing officia.</p>
        <pfe-cta>
            <a href="#">Learn more</a>
        </pfe-cta>
    </pfe-tab-panel>
</pfe-tabs>
-->
{%- endcall %}

{% call components.section("Component status") -%}
<rhds-component-status component="Tabs"></rhds-component-status>
{%- endcall %}

{% call components.section("Demo") -%}
<p>View live versions of these components and see how they can be customized.</p>
<pfe-cta>
    <a href="https://patternfly.github.io/patternfly-elements/demo/?path=/story/tabs--pfe-tabs">View component</a>
  </pfe-cta>
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Style") -%}
  <p>Accordions can be used in light and dark themes. They consist of vertically-stacked panels that are separated by a thin line when collapsed. Every panel contains a section text label and a caret icon that rotates to indicate if a panel is collapsed or expanded. When a panel is expanded, it includes different styling that consists of an active border on the left and a slight drop shadow, also used for a <a href="../disclosure">Disclosure</a>.</p>

  {% call components.example(palette='light') %}
    <div class="margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/accordion/accordion-style-1@2x.png' | url }}" alt="Expanded accordion panel with labels">
    </div>
  {%- endcall %}

  <h3>Theme</h3>

  {% call components.example(palette='light') %}
    <div class="margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/accordion/accordion-theme-1@2x.png' | url }}" alt="Expanded accordion panel with labels">
    </div>
  {%- endcall %}

  {% call components.example(palette='darkest') %}
    <div class="margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/accordion/accordion-theme-2@2x.png' | url }}" alt="Expanded accordion panel with labels">
    </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Usage") -%}
  <p>Accordions are used for organizing blocks of content into sections in a contained space, like product information. This enables users to hide or reveal information as needed without being directed to another page unless they select an interactive element. Accordions are optimal components for comparing content because a user can expand multiple panels simultaneously.</p>

  <p>Accordions are great for organizing content while reducing page scrolling at the same time, but a user could miss critical information if it’s hidden or if they have to expand too many panels. Consider if an accordion really needs to be used. If content is critical or if it requires more focus to read, don’t use an accordion.<p>

  <h3>Usage vs. Disclosure</h3>

  <p>Accordions need to have at least two section panels. If only one panel is needed, use a <a href="../disclosure">Disclosure</a> instead. Accordions are used to organize more important information whereas a disclosure is used to store supplementary content that might not be a crucial part of the user experience.</p>

  <p>Accordions feature slightly different styles than a disclosure. Accordions have the caret icon placed on the right after the section text label whereas a disclosure has the caret icon positioned on the left before the section text label.</p>
  <div class="multi-column--min-400-wide">
    {% call components.example(palette='light') %}
      <div style="--example-img-max-width: 340px;" class="centered margin-top--4 margin-bottom--4">
        <img src="{{ '/assets/accordion/accordion-usage-1@2x.png' | url }}" alt="Example of a collapsed accordion component">
      </div>
    {%- endcall %}

    {% call components.example(palette='light') %}
      <div style="--example-img-max-width: 340px;" class="centered margin-top--2 margin-bottom--2">
        <img src="{{ '/assets/accordion/accordion-usage-2@2x.png' | url }}" alt="Example of a collapsed disclosure">
      </div>
    {%- endcall %}
  </div>

  <h3>Label formatting</h3>
  <p>Section text labels should be written concisely and be representative of the content within. Be mindful of lengthy character counts and how they’ll impact the appearance of accordions, especially on smaller screens or if they’re translated.</p>

  <h3>Content area</h3>
  <p>When a panel is expanded, it contains a content area under the section text label and the caret icon. It may contain the same elements that can also be used in other sections of a page, like text, cards, images, etc. Text shouldn’t exceed eight grid columns to maintain optimal readability.</p>
{%- endcall %}

<hr class="margin-bottom--10">

{% call components.section("Best practices") -%}
  <p>Accordions require at least two panels. If only one panel is needed, use a disclosure instead.</p>

  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/accordion/accordion-bestpractice-1@2x.png' | url }}" alt="Accordion with one collapsed panel">
  </div>
  {%- endcall %}

  <p>Text inside panels shouldn’t exceed eight grid columns to maintain optimal readability.</p>

  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/accordion/accordion-bestpractice-2@2x.png' | url }}" alt="Accordion with one collapsed panel">
  </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--8">

{% call components.section("Behavior") -%}
<h3>States</h3>
<p>Accordions can be collapsed and expanded to hide or reveal information when toggled. By default, they load with all panels collapsed (this can be customized), allowing users to get a high-level overview of the content.</p>

<h3>Collapsing and expanding</h3>
<p>Accordion panels can be collapsed or expanded by clicking on or tapping the container where the section text label and the caret icon are positioned. When a panel is collapsed, the caret icon points to the right. When a panel expands, the caret icon rotates 90º and points down, revealing the content inside.</p>

  {% call components.example(palette='light') %}
  <div class="multi-column--min-300-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/accordion/accordion-behavior-1@2x.png' | url }}" alt="Accordion with one panel expanded and cursors over the clickable zones">
  </div>
  {%- endcall %}

  <h3>Multiple panels</h3>
  <p>Multiple panels can be expanded simultaneously or they can stack. Expanding one panel doesn’t collapse another which makes it easy to compare content in the same view.</p>

  {% call components.example(palette='light') %}
  <div class="multi-column--min-300-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/accordion/accordion-behavior-2@2x.png' | url }}" alt="Accordion with one panel expanded and cursors over the clickable zones">
  </div>
  {%- endcall %}

  <h3>Tab order</h3>
  <p>When the Tab key is pressed repeatedly, the focus indicator moves from top to bottom. When a user expands a panel by pressing the <i>Enter</i> or <i>Space</i> keys, any interactive elements inside are added to the tab order before the focus indicator reaches the next panel.</p>
  {% call components.example(palette='light') %}
  <div class="multi-column--min-300-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/accordion/accordion-behavior-3@2x.png' | url }}" alt="Accordion with one panel expanded and cursors over the clickable zones">
  </div>
  {%- endcall %}
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Responsive design") -%}
  <p>Accordions work well when used on both large and small screens.</p>

  <h3>Breakpoints</h3>
  <p>Accordions can be used on smaller screens, but the limited screen space makes content taller which might make users scroll more, so be careful about how much content is included.</p>

  <h3>Desktop</h3>
    <div class="margin-top--1 margin-bottom--1">
      <img src="{{ '/assets/accordion/accordion-responsive-1@2x.png' | url }}" alt="Expanded accordion on desktop">
    </div>


  <h3>Tablet</h3>
    <div class="margin-top--1 margin-bottom--1" style="max-width: 732px;">
      <img src="{{ '/assets/accordion/accordion-responsive-2@2x.png' | url }}" alt="Expanded accordion on tablet">
    </div>


  <h3>Mobile</h3>
    <div class="margin-top--1" style="max-width: 352px;">
      <img src="{{ '/assets/accordion/accordion-responsive-3@2x.png' | url }}" alt="Expanded accordion on mobile">
    </div>

{%- endcall %}

<hr class="margin-top--6 margin-bottom--9">

{% call components.section("Spacing") -%}
  <p>Accordions use <a href="https://www.patternfly.org/v4/design-guidelines/styles/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

  <div class="margin-top--4">
    <img src="{{ '/assets/accordion/accordion-spacing-1@2x.png' | url }}" alt="Accordion with spacers">
  </div>

  <div class="margin-top--7 margin-bottom--7">
    <img src="{{ '/assets/accordion/accordion-spacing-2@2x.png' | url }}" alt="Nestled accordion with spacers">
  </div>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

<div class="multi-column--min-300-wide">
  {% call components.section("Related components") -%}
    <ul>
      <li><a href="../disclosure">Disclosure</a></li>
      <li><a href="../filter">Filter</a></li>
      <li><a href="../tabs">Tabs</a></li>
    </ul>
  {%- endcall %}

  {% call components.section("Feedback") -%}
    <p>For feedback and bug reports, create an issue <a href="https://github.com/patternfly/patternfly-elements"> in our GitHub repository.</p>
  {%- endcall %}
</div>
