---
layout: _templates/layout-basic.njk
title: Alert
tags:
  - component
---

{% import '_templates/component/components.njk' as components %}

{% call components.section("Overview") -%}
    <p>Alerts are banners used to notify a user about a change in status or communicate other information. They can appear with or without a user triggering a specific action.</p>
{%- endcall %}

{% call components.section("Sample component") -%}
  <div>
    <img src="{{ '/assets/alert/alert-sample-1.svg' | url }}" alt="Example of an inline alert and a toast alert" style="--inline-img-max-width: 587px;">
  </div>
{%- endcall %}

{% call components.section("Component status") -%}
  <rhds-component-status component="Alert"></rhds-component-status>
{%- endcall %}

  {# {% call components.section("Demo") -%}
  <p>View a live version of this component and see how it can be customized.</p>
  <pfe-cta>
      <a href="https://patternfly.github.io/patternfly-elements/demo/?path=/story/avatar--pfe-avatar">View component</a>
    </pfe-cta>
  {%- endcall %} #}

{% call components.section("Style") -%}
  <p>Alerts can be used in the light theme only. There are two alert variants that feature multiple styles, depending on the severity of the message that's being communicated.</p>

  {% call components.example(palette='light') %}
  <div class="centered margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/alert/alert-style-1.svg' | url }}" alt="Anatomy of an alert" style="--example-img-max-width: 591px;">
  </div>
  {%- endcall %}

  <h3>Inline</h3>
  <p>Inline alerts can be placed in a container or a component and shouldn’t block other content. The required elements include a bar or a border, an icon, a title, and a container. Text that provides more information about the alert may or may not be included. Sometimes a close button is required if an inline alert needs to be dismissible.</p>

  {% call components.example(palette='light') %}
  <div class="centered margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/alert/alert-style-2.svg' | url }}" alt="Example of a simple and complex inline alert element" style="--example-img-max-width: 555px;">
  </div>
  {%- endcall %}

  <p>The alternate inline alert style features a border instead of a horizontal line on top which is used to express more urgency or to grab the attention of a user.</p>

  <h3>Toast</h3>
  <p>Toast alerts slide into view in the top right corner of the page and rest on top of content. The required elements include a bar, an icon, a title, a close button, and a white container with a drop shadow. Text that provides more information about the alert may or may not be included.</p>

  {% call components.example(palette='light') %}
  <div class="centered margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/alert/alert-style-3.svg' | url }}" alt="Example of a simple and complex Toast alert element" style="--example-img-max-width: 597px;">
  </div>
  {%- endcall %}

{%- endcall %}


{% call components.section("Usage") -%}
  <p>Alerts are notifications that appear or are generated to communicate with users.</p>

  <h3>Inline</h3>
  <p>Use to present simple information or a local notification, like after a user submits a form with errors. Inline alerts should be informational or identify any actions that are required before a user can continue. They should also have the option to be dismissible.<p>

  <h3>Toast</h3>
  <p>Use to present a notification about an important global event or a change. Toast alerts shouldn’t interrupt a user’s workflow therefore they should always be dismissible.</p>

  <h3>Severity</h3>
  <p>Severity communicates the urgency of an alert. The combination of a status icon, a title, and the container style all help to clarify severity levels of alerts.</p>
  <div class="multi-column--min-400-wide">
    {% call components.example(palette='light') %}
    <div class="centered margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/alert/alert-usage-1.svg' | url }}" alt="Levels of severity for inline alert elements" style="--example-img-max-width: 340px;">
    </div>
    {%- endcall %}
    {% call components.example(palette='light') %}
    <div class="centered margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/alert/alert-usage-2.svg' | url }}" alt="Levels of severity for toast alert elements" style="--example-img-max-width: 340px;">
    </div>
    {%- endcall %}


  </div>

      <div class="multi-column--min-400-wide margin-top--4">
        <div>
            <h4>Default</h4>
            <p>Use to indicate generic information or a message with no severity.</p>
        </div>
        <div>
            <h4>Info</h4>
            <p>Use to indicate helpful information or a message with little to no severity.</p>
        </div>
        <div>
            <h4>Success</h4>
            <p>Use to indicate success information, like if a task was completed successfully.</p>
        </div>
        <div>
            <h4>Warning</h4>
            <p>Use to indicate a cautious severity, like a non-blocking error.</p>
        </div>
        <div>
            <h4>Danger</h4>
            <p>Use to indicate a critical severity, like a blocking error.</p>
        </div>
      </div>

{%- endcall %}

<hr class="margin-top--2 margin-bottom--10">

{% call components.section("Positioning") -%}

  <h3>Inline</h3>
  <p>Inline alerts appear at the top of a container or a component and push other content down. Inline alerts also have no fixed width, they conform to the width of whatever container they’re placed in and they persist until a user dismisses them or navigates away from the page.</p>

  <div class="centered margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/alert/alert-positioning-1.svg' | url }}" alt="Inline alert in context on a page">
  </div>

  <h3>Toast</h3>
  <p>Toast alerts slide in from the top right edge of the screen under the navigation and overlay content. Toast alerts also have a fixed width of 600px and they persist until they time out after eight seconds or when a user dismisses them.</p>

  <div class="centered margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/alert/alert-positioning-2.svg' | url }}" alt="Toast alert in context on a page">
  </div>

{%- endcall %}

<hr class="margin-top--2 margin-bottom--10">

{% call components.section("Best practices") -%}

  <p>Don't use inline alerts to communicate messages about an important global event or a change.</p>
  {% call components.example(palette='wrong') %}
  <div class="centered margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/alert/alert-bestpractice-1.svg' | url }}" alt="Inline alert in the top right corner of a page">
  </div>
  {%- endcall %}

  <p>Don’t use Toast alerts to present simple information or a local notification.</p>
  {% call components.example(palette='wrong') %}
  <div class="centered margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/alert/alert-bestpractice-2.svg' | url }}" alt="Toast alert positioned at the top of a page">
  </div>
  {%- endcall %}


  <p>Don’t use different alert variants in the same area.</p>
  {% call components.example(palette='wrong') %}
  <div class="centered margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/alert/alert-bestpractice-3.svg' | url }}" alt="Inline alert and Toast alert stacked on top of each other">
  </div>
  {%- endcall %}
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Behavior") -%}
  <h3>Stacking</h3>
  <p>If the same alert variant appears in the same area, they stack. The most recent alert should appear at the top of the stack and push other alerts down. When stacked alerts are dismissed or time out, the remaining alerts will move up and fill the empty space.</p>

  <div class="centered margin-top--4 margin-bottom--4" >
    <img src="{{ '/assets/alert/alert-behavior-1.svg' | url }}" alt="Example of multiple stacked Toast alerts">
  </div>

  <h3>Responsive design</h3>
  <p>On small screens, both alert variants will span the full column and be positioned in the center of the layout. Toast alerts will continue to stack on top of each other, so be mindful of how much vertical space the group will occupy if there are multiple alerts.</p>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Breakpoints") -%}

  <p>Alerts are banners that respond to changes in screen size just like other layouts.</p>

  <h3>Large screens</h3>

  <div class="margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/alert/alert-breakpoints-1.svg' | url }}" alt="Example of an inline and Toast alert on desktop">
  </div>

  <p class="footnote">The maximum width of a Toast alert on all screens is six grid columns.</p>

  <h3>Small screens</h3>

  <div class="margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/alert/alert-breakpoints-2.svg' | url }}" alt="Example of an inline and Toast alert on mobile" style="--inline-img-max-width: 368px;">
  </div>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Interaction states") -%}

  <p>The only interactive elements in both alert variants are buttons and links.</p>

  <h3>Default</h3>
  {% call components.example(palette='light') %}
  <div class="centered margin-top--4 margin-bottom--4" style="--example-img-max-width: 595px;">
    <img src="{{ '/assets/alert/alert-interaction-1.svg' | url }}" alt="Example of a default toast alert">
  </div>
  {%- endcall %}

  <h3>Focus</h3>
  {% call components.example(palette='light') %}
  <div class="centered margin-top--4 margin-bottom--4" style="--example-img-max-width: 595px;">
    <img src="{{ '/assets/alert/alert-interaction-2.svg' | url }}" alt="Example of a Toast alert with focus indicator">
  </div>
  {%- endcall %}

  <h3>Hover</h3>
  {% call components.example(palette='light') %}
  <div class="centered margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/alert/alert-interaction-3.svg' | url }}" alt="Example of a Toast alert with hover state" style="--example-img-max-width: 595px;">
  </div>
  {%- endcall %}
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Spacing") -%}
<p>Both alert variants use <a href="https://www.patternfly.org/v4/design-guidelines/styles/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

{% call components.example(palette='light') %}
<div class="centered margin-top--4 margin-bottom--4">
  <img src="{{ '/assets/alert/alert-spacing-1.svg' | url }}" alt="Inline alert with spacers" style="--example-img-max-width: 595px;">
</div>
{%- endcall %}

<img class="margin-top--1" src="{{ '/assets/alert/alert-spacing-2.svg' | url }}" alt="Toast alert with edge spacers">

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

<div class="multi-column--min-300-wide">

  {% call components.section("Related components") -%}
    <ul>
      <li><a href="../form">Form</a></li>
    </ul>
  {%- endcall %}

  {% call components.section("Feedback") -%}
    <p>For feedback and bug reports, create an issue <a href="https://github.com/patternfly/patternfly-elements">in our GitHub repository</a>.</p>
  {%- endcall %}
</div>
