---
layout: _templates/layout-basic.njk
title: Block quote
tags:
  - component
---

{% import '_templates/component/components.njk' as components %}

{% call components.section("Overview") -%}
<p>A block quote consists of a quote icon, larger styled text, and attribution. It can also feature additional elements or components above or to the right.</p>
{%- endcall %}

{% call components.section("Sample component") -%}

  <div class="margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/blockquote/blockquote-sample-1.svg' | url }}" alt="Example of a left-aligned block quote" style="--inline-img-max-width: 623px;">
  </div>

{%- endcall %}

{% call components.section("Component status") -%}
  <rhds-component-status component="Quote"></rhds-component-status>
{%- endcall %}

{% call components.section("Style") -%}
  <p>A default block quote consists of three required elements, a quote icon, text, and attribution. It can be left- or center-aligned on large and small screens. A left-aligned block quote can also feature additional elements, like large text styles and components on top or to the right whereas a center-aligned block quote can’t include anything else.</p>

  {% call components.example(palette='light') %}
    <div class="centered margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/blockquote/blockquote-style-1.svg' | url }}" alt="block quote breakdown" style="--example-img-max-width: 623px;">
    </div>
  {%- endcall %}
  <p class="footnote">Only the left-aligned block quote can include these additional elements.</p>

  <h3>Theme</h3>

  {% call components.example(palette='light') %}
    <div class="centered margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/blockquote/blockquote-theme-1.svg' | url }}" alt="Example of a left-aligned block quote" style="--example-img-max-width: 652px;">
    </div>
  {%- endcall %}

    {% call components.example(palette='darkest') %}
    <div class="centered margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/blockquote/blockquote-theme-2.svg' | url }}" alt="Example of a left-aligned block quote" style="--example-img-max-width: 623px;">
    </div>
  {%- endcall %}

  <h3>Quote icon</h3>
  <p>A red quote icon is always placed above the quote text in both themes.</p>

  <h3>Attribution</h3>
  <p>A block quote always has attribution text underneath that gives credit to whoever the quote is from.</p>

  <h3>Additional elements</h3>
  <p>A left-aligned block quote can feature additional elements on top, like large text styles or a logo. If these optional elements are used, a thin vertical bar is added to the left of a block quote to maintain focus with readers. These additional elements can be used without including a component to the right.</p>

  {% call components.example(palette='light') %}
    <div class="centered margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/blockquote/blockquote-additional-elements-1.svg' | url }}" alt="Example of a left-aligned block quote" style="--example-img-max-width: 632px;">
    </div>
  {%- endcall %}

  {% call components.example(palette='light') %}
    <div class="centered margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/blockquote/blockquote-additional-elements-2.svg' | url }}" alt="Example of a left-aligned block quote" style="--example-img-max-width: 632px;">
    </div>
  {%- endcall %}


{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Usage") -%}
  <h3>Layout</h3>
  <p>The width of a block quote on large screens is determined by alignment and if they’re used with a component. <!--For more information about layout configurations, see Layout <!-- future link-->.</p>

  <div class="centered margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/blockquote/blockquote-layout-1.svg' | url }}" alt="Block quote layout" class="margin-bottom--2">
  </div>
  <p class="footnote">When used on its own or with large text styles or a logo on top, a left-aligned block quote is seven grid columns wide.</p>

  <div class="centered margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/blockquote/blockquote-layout-2.svg' | url }}" alt="Block quote layout" class="margin-bottom--2">
    </div>
  <p class="footnote">A center-aligned block quote is eight grid columns wide and can’t be used with other components.</p>

  <div class="centered margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/blockquote/blockquote-layout-3.svg' | url }}" alt="block quote layout" class="margin-bottom--2">
    </div>
  <p class="footnote">When used with a <a href="../card">Card</a>, a left-aligned block quote is seven grid columns wide (7-1-4 layout).</p>

  <div class="centered margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/blockquote/blockquote-layout-4.svg' | url }}" alt="Block quote layout" class="margin-bottom--2">
    </div>
  <p class="footnote">When used with a <a href="../video-thumbnail">Video thumbnail</a>, a left-aligned block quote is five grid columns (5-1-6 layout).</p>
{%- endcall %}

<hr class="margin-top--2 margin-bottom--10">

{% call components.section("Best practices") -%}
  <p>Don’t omit attribution from a block quote.</p>

  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/blockquote/blockquote-bestpractice-1.svg' | url }}" alt="block quote without attribution" class="margin-bottom--2" style="--example-img-max-width: 573px;">
  </div>
  {%- endcall %}

  <p>Don’t add a thin vertical bar to a left-aligned block quote that’s used by itself.</p>

  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/blockquote/blockquote-bestpractice-2.svg' | url }}" alt="Bar block quote wrong usage" class="margin-bottom--2" style="--example-img-max-width: 632px;">
  </div>
  {%- endcall %}

  <p>Don’t place components next to a center-aligned block quote.</p>

  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/blockquote/blockquote-bestpractice-3.svg' | url }}" alt="Centered block quote next to video" class="margin-bottom--2" style="--example-img-max-width: 870px;">
  </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Responsive design") -%}
  <p>A block quote can be used on large and small screens, but content will get longer as space reduces.</p>

  <h3>Breakpoints</h3>
  <p>When breakpoints get smaller, a left-aligned block quote will stay left-aligned, same with a center-aligned block quote. If a left-aligned Block quote is used with components, they drop underneath the quote and all elements are then organized in one column.</p>

  <h3>Desktop</h3>
  <div class="inline-flex margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/blockquote/blockquote-breakpoint-1.svg' | url }}" alt="block quote on desktop" class="margin-bottom--2" style="">
  </div>

  <div class="inline-flex margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/blockquote/blockquote-breakpoint-2.svg' | url }}" alt="Centered block quote on desktop" class="margin-bottom--2" style="">
  </div>

  <div class="margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/blockquote/blockquote-breakpoint-3.svg' | url }}" alt="block quote on tablet" class="margin-bottom--2">
  </div>

  <div class="margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/blockquote/blockquote-breakpoint-4.svg' | url }}" alt="block quote on tablet centered" class="margin-bottom--2" style="--inline-img-max-width: 768px;">
  </div>

  <h3>Tablet</h3>

  <div class="margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/blockquote/blockquote-breakpoint-5.svg' | url }}" alt="block quote on tablet with titles" class="margin-bottom--2" style="--inline-img-max-width: 768px;">
  </div>

  <div class="margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/blockquote/blockquote-breakpoint-6.svg' | url }}" alt="block quote on tablet with titles" class="margin-bottom--2" style="--inline-img-max-width: 768px;">
  </div>

  <div class="margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/blockquote/blockquote-breakpoint-7.svg' | url }}" alt="block quote on tablet with titles" class="margin-bottom--2" style="--inline-img-max-width: 768px;">
  </div>

  <div class="margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/blockquote/blockquote-breakpoint-8.svg' | url }}" alt="block quote on tablet with titles" class="margin-bottom--2" style="--inline-img-max-width: 768px;">
  </div>


  <h3>Mobile</h3>

  <div class="multi-column--400-wide margin-top--1 margin-bottom--1">
    <div>
      <img src="{{ '/assets/blockquote/blockquote-breakpoint-mobile-1.svg' | url }}" alt="block quote on mobile" class="margin-bottom--2" style="--inline-img-max-width: 360px;">
    </div>

    <div>
      <img src="{{ '/assets/blockquote/blockquote-breakpoint-mobile-2.svg' | url }}" alt="block quote on mobile" class="margin-bottom--2" style="--inline-img-max-width: 360px;">
    </div>

    <div>
      <img src="{{ '/assets/blockquote/blockquote-breakpoint-mobile-3.svg' | url }}" alt="block quote on mobile" class="margin-bottom--2" style="--inline-img-max-width: 360px;">
    </div>

    <div>
      <img src="{{ '/assets/blockquote/blockquote-breakpoint-mobile-4.svg' | url }}" alt="block quote on mobile" class="margin-bottom--2" style="--inline-img-max-width: 360px;">
    </div>
  </div>
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Interaction states") -%}
<p>A block quote should be text only and shouldn’t include any links that might distract a user from reading.<!-- For more information about link interaction states, see future linkLink.--></p>
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Spacing") -%}
<p>A block quote uses <a href="https://www.patternfly.org/v4/design-guidelines/styles/spacers">PatternFly 4 spacers</a> to define the spacing values between elements.
</p>

  {% call components.example(palette='light') %}
    <div class="centered margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/blockquote/blockquote-spacing.svg' | url }}" alt="Spacing used in block quote component" style="--example-img-max-width: 652px;">
    </div>
  {%- endcall %}
{%- endcall %}

<hr class="margin-top--10 margin-bottom--7">

<div class="multi-column--min-300-wide">
  {% call components.section("Related components") -%}
    <section class="related">
      <!--<p><a href="#">Layout</a></p> future link -->
      <ul>
        <li><a href="../link_with_icon">Link with icon</a></li>
        <li><a href="../../foundations/typography">Typography</a></li>
      </ul>
    </section>
  {%- endcall %}

  {% call components.section("Feedback") -%}
    <p>For feedback and bug reports, create an issue <a href="https://github.com/patternfly/patternfly-elements">in our GitHub repository</a>.</p>
  {%- endcall %}
</div>
