---
layout: _templates/layout-basic.njk
title: Cookie banner
tags:
  - 
---

{% import '_templates/component/components.njk' as components %}

{% call components.section("Overview") -%}
  <p>A Cookie banner is a notification banner that appears at the bottom of a Red Hat website indicating that Red Hat collects cookie data from a user.</p>
{%- endcall %}

{% call components.section("Sample component") -%}
  [cookie banner image]
{%- endcall %}

{% call components.section("Component status") -%}
  <rhds-component-status component="Cookie banner"></rhds-component-status>
{%- endcall %}

{# {% call components.section("Demo") -%}
<p>View live versions of these components and see how they can be customized.</p>
<pfe-cta>
    <a href="https://patternfly.github.io/patternfly-elements/demo/?path=/story/navigation--pfe-navigation">View component via PatternFly Elements</a>
  </pfe-cta>
{%- endcall %} #}


{% call components.section("Style") -%}
  <p>A cookie banner can be used in light and dark themes. It features legal text, a close button, and a very slightly transparent background container.</p>

  <!-- Anatomy image with sketch -->

{% call components.example(palette='darkest') %}
  <img src="{{ 'http://www.placehold.it/1200x400' | url }}" alt="Examples of dark avatar appearance">
{%- endcall %}

  <h3>Theme</h2>
    <img src="http://www.placehold.it/1200x300"/>

  <h3>Close button</h3>
  <p>The close button is always placed in the top right corner of a cookie banner for familiarity, similar to other components.</p>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Usage") -%}

  <p>A cookie banner informs visitors that the website they’re browsing uses cookie data. A cookie banner is required to be displayed for all users that have not previously closed the banner on other pages of the website. Cookie banner rules are standardized per country and must meet all regulations for cookie compliance. Rules of using the cookie banner exist outside of the design system and should be managed by a third party.</p>

  <h3>Grid</h3>
  <p>A cookie banner doesn’t fall within the grid, it spans almost the entire width of a browser window on any screen size.<p>

  <h3>Layout</h3>
  <p>A cookie banner contains legal information that should be placed on the bottom of a page so it doesn’t take away from the more important content on top. It’s still important enough to warrant persistence in order to ensure that visitors see it.</p>

  <img src="http://www.placehold.it/1200x300"/>

{%- endcall %}

<hr class="margin-top--2 margin-bottom--10">

{% call components.section("Best practices") -%}

  <p>Don’t use a light gray cookie banner in the light theme.</p>
  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-wrong-without-text.png' | url }}">
  </div>
  {%- endcall %}

  <p>Don't replace the legal content, use the Announcement banner or the Persistent banner components for other content needs instead.</p>
  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-wrong-theme.png' | url }}">
  </div>
  {%- endcall %}

  <p>Don't omit the close button, it’s needed for accessibility.</p>
  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-wrong-text.png' | url }}">
  </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Behavior") -%}
  <h3>Overlay</h3>
  <p>A cookie banner will overlay the bottom of the page and content will scroll underneath it until it’s dismissed by a user.</p>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Responsive design") -%}

  <p>A cookie banner can be used on smaller screens, but the limited screen space makes the banner taller.</p>

    <h3>Desktop</h3>

    {% call components.example(palette='light') %}
    <div class="multi-column--min-300-wide margin-top--1 margin-bottom--1">
      <img src="{{ '/assets/avatar/avatar-behavior-1.png' | url }}">
    </div>
    {%- endcall %}

    <h3>Tablet</h3>

    {% call components.example(palette='light') %}
      <div class="multi-column--min-300-wide margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/avatar/avatar-behavior-1.png' | url }}">
      </div>
    {%- endcall %}  

    <h3>Mobile</h3>

    {% call components.example(palette='light') %}
      <div class="multi-column--min-300-wide margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/avatar/avatar-behavior-1.png' | url }}">
      </div>
    {%- endcall %}
  
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">


{% call components.section("Interaction states") -%}
  <p>The only interactive element in a cookie banner is the close button. For more information about button interaction states, see Button.</p>

  {% call components.example(palette='light') %}
  <div class="multi-column--min-300-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-behavior-1.png' | url }}">
    <img src="{{ '/assets/avatar/avatar-behavior-2.png' | url }}">
  </div>
  {%- endcall %}

  
{%- endcall %}

  <hr class="margin-top--10 margin-bottom--10">

{% call components.section("Spacing") -%}
  <p>A cookie banner uses <a href="https://www.patternfly.org/v4/guidelines/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/avatar/avatar-spacing-1.png' | url }}">
    </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

<div class="multi-column--min-300-wide">
  {% call components.section("Related components") -%}

    <ul>
        <li><a href="#">Announcement banner</a></li>
        <li><a href="#">Button</a></li>
        <li><a href="#">Logo banner</a></li>
        <li><a href="#">Persistent banner</a></li>
        <li><a href="#">Promo banner</a></li>
    </ul>

  {%- endcall %}

  {% call components.section("Feedback") -%}
    <p>For feedback and bug reports concerning PatternFly Elements components, create an issue <a href="https://github.com/patternfly/patternfly-elements">in the GitHub repository</a>. </p>
  {%- endcall %}
</div>
