---
layout: _templates/layout-basic.njk
title: Call to Action - NJK
tags:
  - component
---
<!-- see XD for reference: https://xd.adobe.com/view/65bbdd01-22a8-4027-aa59-077544f6ed50-30e8/ -->

{% import '_templates/component/band.njk' as band %}

{% call band.output("Overview") -%}
<p>A Call to action is a link that directs users to other pages or displays extra content when selected. Call to action styles feature a text label, a background or a border, and icons.</p>
{%- endcall %}

{% call band.output("Sample components") -%}
<!-- Add Primary, Disabled, Secondary, Brick and Default button components -->
<div>
  {# @todo Replace inline styles #}
  <pfe-cta pfe-priority="primary" style="margin-right: 16px;">
    <a href="#">Primary</a>
  </pfe-cta>
  <pfe-cta pfe-priority="secondary" style="margin-right: 16px;">
    <a href="#">Secondary</a>
  </pfe-cta>
  <pfe-cta>
    <a href="#">Default</a>
  </pfe-cta>
</div>
{%- endcall %}

{% call band.output("Component status") -%}
<rhds-component-status component="Call to action"></rhds-component-status>
{%- endcall %}

{% call band.output("Demo") -%}
<p>View a live version of this component and see how it can be customized.</p>
<p><a href="https://patternfly.github.io/patternfly-elements/demo/?path=/story/call-to-action--pfe-cta]">View component -> </a></p>
<!-- "View a component" should be default button style -->
{%- endcall %}

<hr>

{% call band.output("Style") -%}
  <p>
      Calls to action can be used in light and dark themes. There are a variety of styles to choose from depending on what users are trying to do, but some styles aren’t available in certain themes.
  </p>
  <!-- This will be a Light theme | Dark theme dropdown as shown in XD (https://xd.adobe.com/view/65bbdd01-22a8-4027-aa59-077544f6ed50-30e8/). Light theme will use #fafafa as its background color and show "cta-style-light.png" and Dark theme will use #151515 as its background color and show "cta-style-dark.png". -->

  <img src="/assets/cta/cta-style-light.png" alt="Examples of light call to action appearance">
  <img src="/assets/cta/cta-style-dark.png" alt="Examples of dark call to action appearance">

<!-- This content is formatted as 2 columns as shown in the XD -->
  <p><strong>Primary</strong></p>
  <p>Use for the primary or the most important link. The white style should be used if the red style can’t be used in the dark theme only. Don’t use this style multiple times in the same area.</p>

  <p><strong>Primary, video</strong></p>
  <p>Use to trigger an important video that will play in a Modal <!-- link to modal component once built -->. Don’t use this style without a background underneath or use the Default, video style instead. This style can be used in both themes.</p>

  <p><strong>Secondary</strong></p>
  <p>Use for secondary or general links. This style is lower in hierarchy than the Primary style and it can be used multiple times in the same area.</p>

  <p><strong>Secondary, blue</strong></p>
  <p>Use instead of the Secondary style only if the design contains more blue than usual. Use in the light theme only.</p>

  <p><strong>Brick</strong></p>
  <p>Use to group a list of links together in a grid. Only Brick styles can stretch to fit a container or a grid, otherwise the label padding stays the same in all other styles.</p>

  <p><strong>Bricks with icon</strong></p>
  <p>Use to group a list of links with icons together in a grid. Only Brick styles can stretch to fit a container or a grid, otherwise the label padding stays the same in all other styles.</p>

  <p><strong>Default</strong></p><p>Use for tertiary or the least important links. This style is the lowest in hierarchy and it can be used multiple times in the same area.</p>

  <p><strong>Default, video</strong></p>
  <p>Use to trigger a less important video that will play in a modal. This style is the lowest in hierarchy and it can be used multiple times in the same area.</p>
{%- endcall %}

<hr>

{% call band.output("Usage") -%}
  <p>
    A Call to action is used to entice users to select a link or display hidden content, depending on the style. For example, use the Primary style to bring attention to an important link or use the Brick style to organize links in a grid that also display hidden content.
  </p>

  <h3>Navigation vs. action</h3>

  <p>
    Use Calls to action only as navigational elements and use <a href="#">Buttons</a> <!-- future link --> to perform actions.
  </p>

  <h3>Labels</h3>

  <p>
    Call to action labels are written differently than Button labels. Call to action labels should be more creative or expressive to better entice users to make a selection.
  </p>

  <h3>Hierarchy</h3>
  <p>Calls to action are ordered by hierarchy from left to right or sometimes <a href="#">top to bottom</a> (<!-- future link to responsive design content -->. Similar styles can be used multiple times in the same area except for the Primary and Primary, disabled styles.</p>

  <div class="multi-column--200-wide margin-top--3">
    <div>
      <img src="/assets/cta/cta-primary.png"><br>
      <strong>Primary</strong><br>
          High emphasis
    </div>
    <div>
      <img src="/assets/cta/cta-secondary.png"><br>
      <strong>Secondary</strong><br>
          Medium emphasis
    </div>
    <div>
      <img src="/assets/cta/cta-brick.png"><br>
      <strong>Brick</strong><br>
          Low emphasis
    </div>
    <div>
      <img src="/assets/cta/cta-default.png"><br>
      <strong>Default</strong><br>
          Lowest emphasis
    </div>
  </div>


{%- endcall %}

<hr>

{% call band.output("Best practices") -%}
<p>Don’t use more than three Calls to action in a row because too many choices will make it hard for users to decide which link to select.</p>
<img src="/assets/cta/cta-bp-over-3.png">

<p>Don’t use multiple Primary styles in the same area, that style is reserved to represent the one most important link.</p>
<img src="/assets/cta/cta-bp-multiple-primary.png">

<p>Don’t stretch the other styles to fit a container or a grid. Only the Brick styles can stretch, otherwise the label padding stays the same in all other styles.</p>
<img src="/assets/cta/cta-bp-stretch.png">
{%- endcall %}

<hr>

{% call band.output("Behavior") -%}
<h3>Call to action vs. Button</h3>
<p>A Call to action directs users to other pages or sometimes displays hidden content whereas a Button performs an action. For example, a Button shouldn’t be used as a link and a Call to action shouldn’t be used to submit a form. Calls to action and Buttons can be used in the same area as long as the styles are used properly and perform the right functions.</p>

<h3>Bricks</h3>
<p>Sometimes the Brick styles can act like <a href="#">Accordions</a> <!--future link --> where they slide vertically to reveal hidden content when selected. Otherwise, they act like a list of links that are grouped together in a grid.</p>

<img src="/assets/cta/cta-brick-list.png"><img src="/assets/cta/cta-brick-accordion.png">

<h3>Responsive design</h3>
<p>Calls to action maintain the same scale on desktop and mobile. If they stack, the alignment and the order of hierarchy stays the same, which is left to right and top to bottom. If a Call to action contains a background or a border, the label stays centered if it’s really long and if it breaks to two lines.</p>
{%- endcall %}

<hr>

{% call band.output("Interaction states") -%}
<p>All styles have interaction states except the Primary, disabled style.</p>
[Interaction states dbl dropdown goes here]
<!-- This is where the tricky theme and style dropdowns will go. The plan is to insert components. So at this point we'd be able to insert CTA primary, CTA secondary (ghost) and CTA default in light and dark versions. -->

{%- endcall %}

{% call band.output("Spacing") -%}
<p>Calls to action use <a href="https://www.patternfly.org/v4/design-guidelines/styles/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>
<img src="/assets/cta/cta-spacing.png">
{%- endcall %}

{% call band.output("Related components") -%}
<p><a href="#">Button</a></p> <!-- future link -->
{%- endcall %}
