---
layout: _templates/layout-basic.njk
title: Call to action
tags:
  - component
---
<!-- see XD for reference: https://xd.adobe.com/view/65bbdd01-22a8-4027-aa59-077544f6ed50-30e8/ -->

{% import '_templates/component/components.njk' as components %}

{% call components.section("Overview") -%}
<p>Calls to action are styled links that direct users to other pages or sometimes display hidden content. They feature a text label, a background or a border, and icons.</p>

{%- endcall %}

{% call components.section("Sample components") -%}
<div class="inline-flex-left">
  <pfe-cta pfe-priority="primary">
    <a href="#">Primary</a>
  </pfe-cta>
  <pfe-cta pfe-priority="secondary">
    <a href="#">Secondary</a>
  </pfe-cta>
  <pfe-cta pfe-priority="secondary" pfe-variant="wind">
    <a href="#">Brick</a>
  </pfe-cta>
  <pfe-cta>
    <a href="#">Default</a>
  </pfe-cta>
</div>
{%- endcall %}

{% call components.section("Component status") -%}
<rhds-component-status component="Call to action"></rhds-component-status>
{%- endcall %}

{% call components.section("Demo") -%}
<p>View a live version of this component and see how it can be customized.</p>
  <pfe-cta>
    <a href="https://patternfly.github.io/patternfly-elements/demo/?path=/story/call-to-action--pfe-cta">View component</a>
  </pfe-cta>
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Style") -%}
  <p>Calls to action can be used in light and dark themes. There are a variety of styles to choose from depending on what users need to accomplish, but some styles aren’t available in certain themes.</p>

  {% call components.example(palette='light') %}
    <div class="inline-flex margin-top--4 margin-bottom--4" style="--example-img-max-width: 600px;">
      <img src="{{ '/assets/cta/cta-style-1@2x.png' | url }}" alt="Diagram of CTA styles">
    </div>
  {%- endcall %}
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Theme") -%}

  {% call components.example(palette='light') %}
    <div class="inline-flex margin-top--4 margin-bottom--4" style="--example-img-max-width: 404px;">
      <img src="{{ '/assets/cta/cta-theme-1@2x.png' | url }}" alt="CTAs in a light theme">
    </div>
  {%- endcall %}

<div class="multi-column--min-400-wide">
    <div>
        <h4>Primary</h4>
        <p>Use for the primary or the most important link. The white style should be used if the red style can’t be used (dark theme only). Don’t use this style multiple times in the same area.</p>
    </div>

    <div>
        <h4>Primary, video</h4>
        <p>Use to trigger an important video that will play in a <a href="../modal">Modal</a>. Don't use this style without some kind of background underneath or use the Default, video style instead. This style can be used in both themes.</p>
    </div>

    <div>
        <h4>Secondary</h4>
        <p>Use for secondary or general links. This style is lower in hierarchy than the Primary style and it can be used multiple times in the same area.</p>
    </div>

    <div>
        <h4>Secondary, blue</h4>
        <p>Use instead of the Secondary style only if the design contains more blue than usual. Use in the light theme only.</p>
    </div>

    <div>
        <h4>Brick</h4>
        <p>Use to group a list of links together in a grid. Only Brick styles can stretch to fit a container or a grid, otherwise the text label padding stays the same in all other styles.</p>
    </div>

    <div>
        <h4>Bricks with icon</h4>
        <p>Use to group a list of links with icons together in a grid. Only Brick styles can stretch to fit a container or a grid, otherwise the text label padding stays the same in all other styles.</p>
    </div>

    <div>
        <h4>Default</h4>
        <p>Use for tertiary or the least important links. This style is the lowest in hierarchy and it can be used multiple times in the same area.</p>
    </div>
    <div>
        <h4>Default, video</h4>
        <p>Use to trigger a less important video that will play in a modal. This style is the lowest in hierarchy and it can be used multiple times in the same area.</p>
    </div>
</div>
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Usage") -%}

  <p>A call to action is used to entice users to select a link or display hidden content, depending on the style. For example, use the Primary style to bring attention to an important link or use the Brick style to organize links in a grid that can also display hidden content.</p>

  <h3>Navigation vs. action</h3>

  <p>Use calls to action only as navigational elements and use <a href="../button">Buttons</a> to perform actions. Calls to action and buttons have stylistic differences, even though they look similar.</p>

  <ul>
    <li>Calls to action are used more in <i>layouts</i> whereas buttons are used more in <i>components</i>.</li>
    <li>The text labels in calls to action are larger and thicker than the text labels in buttons.</li>
    <li>A call to action background container has more padding than a button background container.</li>
    <li>A Primary call to action has a red background whereas a Primary button has a blue background.</li>
  </ul>

  <h3>Text labels</h3>

  <p>Call to action text labels are written differently than button text labels. Call to action text labels should be more creative or expressive to better entice users to make a selection.</p>

  {% call components.example(palette='light') %}
    <div class="centered margin-top--4 margin-bottom--4" style="--example-img-max-width: 462px;">
      <img src="{{ '/assets/cta/cta-usage-1@2x.png' | url }}" alt="Examples of a CTA label vs a button label">
    </div>
  {%- endcall %}

  <h3>Hierarchy</h3>
  <p>Calls to action are ordered by hierarchy from left to right or sometimes top to bottom. Similar styles can be used multiple times in the same area except for the Primary style.</p>

  {% call components.example(palette='light') %}
    <div class="multi-column--4-2-1 centered margin-top--4 margin-bottom--4" style="--example-img-max-width: 140px;--example-img-max-height: 54px;">
      <div class="example--descriptor">
        <pfe-cta pfe-priority="primary">
          <a href="#">Primary</a>
        </pfe-cta><br>
        <strong>Primary</strong><br>
        High emphasis
      </div>
      <div class="example--descriptor">
        <pfe-cta pfe-priority="secondary">
          <a href="#">Secondary</a>
        </pfe-cta><br>
        <strong>Secondary</strong><br>
        Medium emphasis
      </div>
      <div class="example--descriptor">
        <pfe-cta pfe-priority="secondary" pfe-variant="wind">
          <a href="https://www.redhat.com">Brick</a>
        </pfe-cta><br>
        <strong>Brick</strong><br>
        Low emphasis
      </div>
      <div class="example--descriptor">
        <pfe-cta>
          <a href="#">Default</a>
        </pfe-cta><br>
        <strong>Default</strong><br>
        Lowest emphasis
      </div>
    </div>
    {%- endcall %}
  {%- endcall %}

  <h3>Character count guidance</h3>
  <p>Calls to action should have limited character counts in order for the messaging to remain impactful. Avoid writing long calls to action because the text will break to two lines on smaller screens.</p>

<section class="section">
  <table width="50%;">
    <thead>
      <tr>
        <th>Style</th>
        <th>Maximum characters</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Primary</td>
        <td>30</td>
      </tr>
      <tr>
        <td>Secondary</td>
        <td>35</td>
      </tr>
      <tr>
        <td>Brick</td>
        <td>25</td>
      </tr>
      <tr>
        <td>Default</td>
        <td>45</td>
      </tr>
    </tbody>
  </table>
</section>

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Best practices") -%}
  <p>Don’t use more than three calls to action in a row because too many choices will make it hard for a user to decide which link to select.</p>
  {% call components.example(palette='wrong') %}
    <div class="centered margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/cta/cta-bestpractice-1@2x.png' | url }}" alt="Four primary and secondary CTAs in a row" style="--example-img-max-width: 659px;">
    </div>
  {%- endcall %}

  <p>Don’t use multiple Primary styles in the same area— that style is reserved to represent the one most important link.</p>
  {% call components.example(palette='wrong') %}
    <div class="centered margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/cta/cta-bestpractice-2@2x.png' | url }}" alt="Multiple primary CTAs in a row" style="--example-img-max-width: 313px;">
    </div>
  {%- endcall %}

  <p>Don’t stretch the other styles to fit a container or a grid. Only the Brick styles can stretch, otherwise the text label padding stays the same in all other styles.</p>
  {% call components.example(palette='wrong') %}
    <div class="centered margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/cta/cta-bestpractice-3@2x.png' | url }}" alt="CTAs that are stretched due to extra left and right padding" style="--example-img-max-width: 655px;">
    </div>
  {%- endcall %}
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Behavior") -%}
  <h3>Call to action vs. Button</h3>
  <p>A call to action directs users to other pages or sometimes displays hidden content whereas a button performs an action. For example, a button shouldn’t be used as a link and a call to action shouldn’t be used to submit a form. Calls to action and buttons can be used in the same area as long as the styles are used properly and perform the correct functions.</p>

  <h3>Bricks</h3>
  <p>Sometimes the Brick styles can act like an <a href="../accordion">Accordion</a> where they slide vertically to reveal hidden content when triggered. Otherwise, they act like a list of links that are grouped together in a grid.</p>

  <div class="margin-top--4 margin-bottom--1">
    <img src="{{ '/assets/cta/cta-behavior-1@2x.png' | url }}" alt="Example of bricks being used as an accordion">
  </div>

  <h3>Responsive design</h3>
  <p>Calls to action maintain the same scale on all screen sizes. If they stack on mobile, the alignment and the order of hierarchy stays the same, which is left to right and top to bottom. If a call to action contains a background or a border, the text label stays centered if it’s really long and if it breaks to two lines.</p>
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Interaction states") -%}
  <p>All styles have interaction states.</p>

  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
      <pfe-cta pfe-priority="primary">
        <a href="#">Primary</a>
      </pfe-cta>
    </div>
  {%- endcall %}
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Spacing") -%}
  <p>Calls to action use <a href="https://www.patternfly.org/v4/design-guidelines/styles/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>
  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--4 margin-bottom--4" style="--example-img-max-width: 643px;">
      <div>
        <img src="{{ '/assets/cta/cta-spacing-1@2x.png' | url }}">
      </div>
    </div>
  {%- endcall %}
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

<div class="multi-column--min-300-wide">
  {% call components.section("Related components") -%}
    <p><a href="../accordion">Accordion</a></p> <!-- future link -->
    <p><a href="../button">Button</a></p> <!-- future link -->
  {%- endcall %}

  {% call components.section("Feedback") -%}
    <p>For feedback and bug reports, create an issue <a href="https://github.com/patternfly/patternfly-elements"> in our GitHub repository.</p>
  {%- endcall %}
</div>
