---
layout: _templates/layout-basic.njk
title: Disclosure
tags:
  - component
includeComponent:
  - pfe-accordion
---

{% import '_templates/component/components.njk' as components %}

{% call components.section("Overview") -%}
    <p>A Disclosure toggles the visibility of sections of content. It features one panel that consists of a caret icon and a section text label that collapses or expands to reveal more information.</p>
{%- endcall %}

{% call components.section("Sample component") -%}
  <pfe-accordion>
      <pfe-accordion-header>
          <h2>Results from Customer Portal</h2>
      </pfe-accordion-header>
      <pfe-accordion-panel>
        <p>Amet dolor deserunt consectetur enim. Amet irure esse est minim sint eu aliquip officia nulla dolore proident. Voluptate dolore nisi aute ut amet quis elit. Id voluptate et ipsum commodo aute do. Eu excepteur sunt ex nostrud sit cillum eu excepteur aliqua fugiat. Tempor ad exercitation amet ad tempor esse.</p>
        <p>Aliqua aliqua do fugiat incididunt voluptate eiusmod. Pariatur laborum aliquip cupidatat esse amet. Velit fugiat irure amet enim proident labore qui eu excepteur. Sit tempor officia ex nisi dolor. Culpa exercitation ad aliquip duis mollit ipsum.</p>
      </pfe-accordion-panel>
  </pfe-accordion>
{%- endcall %}


{% call components.section("Component status") -%}
  <rhds-component-status component="Disclosure"></rhds-component-status>
{%- endcall %}

{% call components.section("Style") -%}
  <p>A disclosure can be used in light and dark themes. It consists of one panel that features a border around the entire container when collapsed and expanded. The panel contains a text label for the section and a caret icon that rotates to indicate if a panel is collapsed or expanded. When the panel is expanded, it includes different styling that consists of an active border on the left and a slight drop shadow, similar to an <a href="../accordion">Accordion</a>.</p>

  {% call components.example(palette='light') %}
  <div class="centered">
    <img src="{{ '/assets/disclosure/disclosure-style-1.svg' | url }}" alt="Anatomy of a disclosure" style="--example-img-max-width: 872px;">
  </div>
  {%- endcall %}

    <h3>Theme</h3>

  {% call components.example(palette='light') %}
  <div class="centered" style="--example-img-max-width: 872px;">
    <img src="{{ '/assets/disclosure/disclosure-theme-1.svg' | url }}" alt="A disclosure in a light theme">
  </div>
  {%- endcall %}

  {% call components.example(palette='darkest') %}
  <div class="centered" style="--example-img-max-width: 872px;">
    <img src="{{ '/assets/disclosure/disclosure-theme-2.svg' | url }}" alt="A disclosure in a dark theme">
  </div>
  {%- endcall %}

{%- endcall %}


{% call components.section("Usage") -%}

    <p>A disclosure is used for storing <em>supplementary</em> content in a contained space, like extra search results. It enables a user to collapse or expand information as needed on the current page.</p>

    <p>A disclosure is great for hiding extra information that’s not a crucial part of the user experience, it’s also beneficial because it reduces page scrolling. Consider whether a disclosure should be used. If content is crucial or requires more focus to read, don’t use a disclosure.</p>

    {% call components.example(palette='light') %}
    <div class="centered" style="--example-img-max-width: 872px;">
      <img src="{{ '/assets/disclosure/disclosure-usage-1.svg' | url }}" alt="A disclosure in a dark theme">
    </div>
    {%- endcall %}

  <h3>Usage vs. Accordion</h3>

  <p>A disclosure only has one section panel. If more than one panel is needed, use an accordion instead. A disclosure is used to store supplementary content that might not be a crucial part of the user experience whereas accordions are used to organize more important information.<p>

  <p>A disclosure features slightly different styles than accordions. A disclosure has the caret icon positioned on the left before the section text label whereas accordions have the caret icon placed on the right after the section text label.</p>

    <div class="multi-column--min-400-wide margin-top--4 margin-bottom--4">
      {% call components.example(palette='light') %}
        <div class="centered" style="--example-img-max-width: 340px;">
          <img src="{{ '/assets/disclosure/disclosure-usage-2.svg' | url }}" alt="Example of a disclosure">
        </div>
      {%- endcall %}

      {% call components.example(palette='light') %}
        <div class="centered" style="--example-img-max-width: 340px;">
          <img src="{{ '/assets/disclosure/disclosure-usage-3.svg' | url }}" alt="Example of an accordion">
        </div>
      {%- endcall %}
    </div>

    <h3>Label formatting</h3>

    <p>Section text labels should be written concisely and be representative of the content within. Be mindful of lengthy character counts and how they’ll impact the appearance of a disclosure, especially on smaller screens or if they’re translated.</p>

    <h3>Content area</h3>

    <p>When the panel is expanded, it contains a content area under the caret icon and section text label. It may contain the same elements that can also be used in other sections of a page, like text, cards, images, etc. To maintain optimal readability, text shouldn’t exceed eight grid columns.</p>

    <h3>Jump links</h3>

    <p>On small screens, vertical <a href="../jump-links-vertical">Jump links</a> can be wrapped in a disclosure and act as persistent navigation.</p>

    {% call components.example(palette='light') %}
      <div class="centered">
        <img src="{{ '/assets/disclosure/disclosure-usage-4.svg' | url }}" alt="Example of Jump links wrapped in a disclosure" style="--example-img-max-width: 872px;">
      </div>
    {%- endcall %}

{%- endcall %}


{% call components.section("Best practices") -%}

  <p>A disclosure consists of one panel only. If more than one panel is needed, use an accordion instead.</p>

  {% call components.example(palette='wrong') %}
  <div class="centered">
    <img src="{{ '/assets/disclosure/disclosure-bestpractice-1.svg' | url }}" alt="Inline alert in the top right corner of a page" style="--example-img-max-width: 872px;">
    <img class="margin-top--3" src="{{ '/assets/disclosure/disclosure-bestpractice-1.svg' | url }}" alt="Inline alert in the top right corner of a page" style="--example-img-max-width: 872px;">
  </div>
  {%- endcall %}

  <p>Text inside the panel shouldn’t exceed eight grid columns to maintain optimal readability.</p>
  {% call components.example(palette='wrong') %}
  <div class="centered">
    <img src="{{ '/assets/disclosure/disclosure-bestpractice-2.svg' | url }}" alt="Inline alert in the top right corner of a page" style="--inline-img-max-width: 872px;">
  </div>
  {%- endcall %}

  <p>Don’t wrap other complex components inside of a disclosure unless absolutely necessary, like jump links.</p>
  {% call components.example(palette='wrong') %}
  <div class="centered">
    <img src="{{ '/assets/disclosure/disclosure-bestpractice-3.svg' | url }}" alt="Inline alert in the top right corner of a page" style="--inline-img-max-width: 872px;">
  </div>
  {%- endcall %}
{%- endcall %}


{% call components.section("Behavior") -%}
  <h3>States</h3>
  <p>A disclosure can be collapsed and expanded to hide or reveal information when toggled. By default, it loads with its panel collapsed (this can be customized), allowing users to get a quick preview of the content inside.</p>

  <h3>Collapsing and expanding</h3>

  <p>The disclosure panel can be collapsed or expanded by clicking on or tapping the caret icon, the  section text label, or anywhere inside the container. When the panel is collapsed, the caret icon points to the right toward the text. When the panel expands, the caret icon rotates 90º and points down, revealing the content inside.</p>

  {% call components.example(palette='light') %}
  <div class="centered">
    <img src="{{ '/assets/disclosure/disclosure-behavior-1.svg' | url }}" alt="Disclosure with the expand/collapse panel highlighted" style="--inline-img-max-width: 872px;">
  </div>
  {%- endcall %}

  <h3>Tab order</h3>

  <p>When the Tab key is pressed, the focus indicator highlights the collapsed disclosure. When a user expands the panel by pressing the <i>Enter</i> or <i>Space</i> keys, any interactive elements inside are added to the tab order before the focus indicator moves away to the next section of content.</p>

  {% call components.example(palette='light') %}
  <div class="centered">
    <img src="{{ '/assets/disclosure/disclosure-behavior-2.svg' | url }}" alt="Disclosure showing links with the focus style" style="--inline-img-max-width: 872px;">
  </div>
  {%- endcall %}

{%- endcall %}


{% call components.section("Responsive design") -%}

  <p>A disclosure works well when used on both large and small screens.</p>

  <h3>Breakpoints</h3>

  <p>Disclosures can be used on smaller screens, but the limited screen space makes content taller which might make users scroll more, so be careful about how much content is included.</p>

  <h3>Desktop</h3>

  <div class="margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/disclosure/disclosure-responsive-1.svg' | url }}" alt="Example of a disclosure on desktop">
  </div>

  <h3>Tablet</h3>

  <div class="margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/disclosure/disclosure-responsive-2.svg' | url }}" alt="Example of a disclosure on tablet" style="--inline-img-max-width: 768px;">
  </div>

  <h3>Mobile</h3>

  <div class="margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/disclosure/disclosure-responsive-3.svg' | url }}" alt="Example of a disclosure on mobile" style="--inline-img-max-width: 360px;">
  </div>

{%- endcall %}


{% call components.section("Interaction states") -%}

  <p>The interaction states in the collapsed state are the same as the expanded state.</p>

  <pfe-accordion>
      <pfe-accordion-header>
          <h2>Officia eu id pariatur enim exercitation ipsum laboris irure reprehenderit</h2>
      </pfe-accordion-header>
      <pfe-accordion-panel>
        <p>Amet dolor deserunt consectetur enim. Amet irure esse est minim sint eu aliquip officia nulla dolore proident. Voluptate dolore nisi aute ut amet quis elit. Id voluptate et ipsum commodo aute do. Eu excepteur sunt ex nostrud sit cillum eu excepteur aliqua fugiat. Tempor ad exercitation amet ad tempor esse.</p>
        <p>Aliqua aliqua do fugiat incididunt voluptate eiusmod. Pariatur laborum aliquip cupidatat esse amet. Velit fugiat irure amet enim proident labore qui eu excepteur. Sit tempor officia ex nisi dolor. Culpa exercitation ad aliquip duis mollit ipsum.</p>
      </pfe-accordion-panel>
  </pfe-accordion>
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Spacing") -%}
  <p>A disclosure uses <a href="https://www.patternfly.org/v4/guidelines/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

  {% call components.example(palette='light') %}
  <div class="centered">
    <img src="{{ '/assets/disclosure/disclosure-spacing-1.svg' | url }}" alt="Disclosure showing with spacing blocks" style="--inline-img-max-width: 872px;">
  </div>
  {%- endcall %}
{%- endcall %}


<div class="multi-column--min-300-wide">
  {% call components.section("Related components") -%}
    <section class="related">
        <ul>
        <li><a href="../accordion">Accordion</a></li>
        <li><a href="../filter">Filter</a></li>
        <li><a href="../tabs">Tabs</a></li>
        </ul>
    </section>
  {%- endcall %}

  {% call components.section("Feedback") -%}
    <p>For feedback and bug reports concerning PatternFly Elements components, create an issue <a href="https://github.com/patternfly/patternfly-elements">in the GitHub repository</a>. </p>
  {%- endcall %}
</div>
