---
layout: _templates/layout-basic.njk
title: Footer group
tags:
  - 
---

{% import '_templates/component/components.njk' as components %}

{% call components.section("Overview") -%}
<p>The Footer group provides users with supplementary information at the bottom of a page. It features two stacked layouts that contain different content, depending on where they’re used.</p>
{%- endcall %}

{% call components.section("Sample component") -%}
<img src="{{ '/assets/avatar/avatar-sample-white.png' | url }}" alt="Example of an avatar with attribution">
{%- endcall %}

{% call components.section("Component status") -%}
<rhds-component-status component="Footer"></rhds-component-status>
{%- endcall %}

{# {% call components.section("Demo") -%}
<p>View a live version of this component and see how it can be customized.</p>
<pfe-cta>
    <a href="https://patternfly.github.io/patternfly-elements/demo/?path=/story/avatar--pfe-avatar">View component via PatternFly Elements</a>
  </pfe-cta>
{%- endcall %} #}


  {% call components.section("Style") -%}
    <p>There are two different layouts in the footer group, Modular and Global. Content in a modular footer relates to the specific website that it’s used on whereas content in the global footer relates to Red Hat as an organization.</p>

  {% call components.example(palette='light') %}
    <img src="{{ '/assets/avatar/avatar-sample-light.png' | url }}" alt="Examples of light avatar appearance">
  {%- endcall %}

  {%- endcall %}


<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Usage") -%}

  <h3>Layout</h3>
  <p>A footer group is the lowest in hierarchy and should be used at the very bottom of every page.</p>

  <h3>Modular footer</h3>
  <p>Global footer content is boilerplate and relates to Red Hat as an organization. It should be used on every website, even without a modular footer. Content that is unique and has the potential to change should not appear in the global footer.</p>

  <h3>Global footer</h3>
  <p>Modular footer content is customizable and should relate closely to the specific website that it’s used on.</p>

  <h3>Vertical height</h3>
  <p>Including too much content in either layout will increase the vertical height of the footer group, especially on small screens.</p>

{%- endcall %}

<hr class="margin-top--2 margin-bottom--10">

{% call components.section("Best practices") -%}

  <p>Don’t put any unique content in the global footer that can’t be used on every website.</p>

  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-wrong-without-text.png' | url }}">
  </div>
  {%- endcall %}

    <p>Don’t change the stacking order of layouts in the footer group.</p>

  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-wrong-without-text.png' | url }}">
  </div>
  {%- endcall %}

  <p>A modular footer can’t live on its own, but the global footer can. Don’t omit the global footer from the footer group.</p>

  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-wrong-without-text.png' | url }}">
  </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Behavior") -%}

  <h3>States</h3>
  <p>When a modular footer displays accordions on small screens, they have collapsed and expanded states that hide or reveal content when toggled. By default, they load with all panels collapsed, enabling users to get a high-level overview of the content.</p>

  <h3>Multiple panels</h3>
  <p>When a modular footer contains multiple accordion panels, they can be expanded simultaneously or they can stack. Expanding one panel doesn’t collapse another which makes it easy for users to see content in the same view.</p>

  {% call components.example(palette='light') %}
  <div class="multi-column--min-200-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-responsive-2.png' | url }}">
  </div>
  {%- endcall %}

  <h3>Responsive design</h3>
  <p>Content in a modular footer will move into an accordion on smaller screens whereas content in the global footer will stack.</p>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Breakpoints") -%}

  <p>When scaled down, the footer group has a variety of layout arrangements because of the placement of elements, like links, text, social media icons, and select lists.</p>

  <h3>Desktop</h3>
  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/avatar/avatar-spacing-1.png' | url }}">
    </div>
  {%- endcall %}

  <h3>Tablet</h3>
  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/avatar/avatar-spacing-1.png' | url }}">
    </div>
  {%- endcall %}

  <h3>Mobile</h3>
  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/avatar/avatar-spacing-1.png' | url }}">
    </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Interaction states") -%}

  <p>Since the footer group can consist of a variety of styles and components, refer to the specific interaction states of each of those elements for more information.</p>

  <h3>Tab order</h3>
  <p>When the Tab key is pressed repeatedly, the focus indicator moves from top to bottom and then left to right.</p>
  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/avatar/avatar-spacing-1.png' | url }}">
    </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Spacing") -%}

  <p>The footer group <a href="https://www.patternfly.org/v4/guidelines/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/avatar/avatar-spacing-1.png' | url }}">
    </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

<div class="multi-column--min-300-wide">
  {% call components.section("Related components") -%}
    <ul>
      <li><a href="../foundations/typography">Typography</a></li>
    </ul>
  {%- endcall %}

  {% call components.section("Feedback") -%}
    <p>For feedback and bug reports concerning PatternFly Elements components, create an issue <a href="https://github.com/patternfly/patternfly-elements">in the GitHub repository</a>. </p>
  {%- endcall %}
</div>
