---
layout: _templates/layout-basic.njk
title: Form
tags:
  - component
---

{% import '_templates/component/components.njk' as components %}

{% call components.section("Overview") -%}

  <p>A form is a group of elements that are used to collect information from users. It features a combination of text labels, fields, data inputs, and buttons.</p>

{%- endcall %}

{% call components.section("Sample component") -%}
  <div class="multi-column--400-wide">
    <div>
      <img src="{{ '/assets/form/form.svg' | url }}" alt="Form" style="--inline-img-max-width: 360px;">
    </div>
    <div>
      <img src="{{ '/assets/form/form2.svg' | url }}" alt="Form" style="--inline-img-max-width: 360px;">
    </div>
  </div>

{%- endcall %}

{% call components.section("Component status") -%}
  <rhds-component-status component="Form"></rhds-component-status>
{%- endcall %}

{# {% call components.section("Demo") -%}
<p>View a live version of this component and see how it can be customized.</p>
<pfe-cta>
    <a href="https://patternfly.github.io/patternfly-elements/demo/?path=/story/avatar--pfe-avatar">View component via PatternFly Elements</a>
  </pfe-cta>
{%- endcall %} #}


  {% call components.section("Style") -%}
    <p>There are a variety of elements that can be used in a form depending on the kind of information that needs to be collected from users.</p>

  {% call components.example(palette='light') %}
    <div class="centered">
      <img src="{{ '/assets/form/form-style.svg' | url }}" alt="Form specs" style="--inline-img-max-width: 640px;">
    </div>
  {%- endcall %}

  <div class="multi-column--min-400-wide">
    <div>
        <h4>Text labels</h4>
        <p>Text labels tell a user what information they need to enter in each field or input.</p>
    </div>

    <div>
        <h4>Fields</h4>
        <p>Fields provide spaces for a user to enter text.</p>
    </div>

    <div>
        <h4>Data inputs</h4>
        <p>Data inputs provide additional ways for a user to submit information that isn’t text.</p>
    </div>

    <div>
        <h4>Buttons</h4>
        <p>Buttons enable a user to submit or exit a form.</p>
    </div>
  </div>

  {%- endcall %}


<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Usage") -%}

  <p>Forms guide users through a task while gathering information from them.</p>

  <h3>Standard form</h3>
  <p>A standard form is positioned in a card that usually spans four columns.</p>
 
  <img src="{{ '/assets/form/form-usage-standard.svg' | url }}" alt="Standard form" style="">

  <h3>Dynamic form</h3>
  <p>A dynamic form can be used without a card. It spans a maximum of eight columns and it can be positioned in different parts of a page layout.</p>
  
  <img src="{{ '/assets/form/form-usage-dynamic.svg' | url }}" alt="Standard form" style="">

  <h3>Content</h3>
  <p>Form content is how you speak to users. They can submit a form faster if all elements are clearly labeled.</p>

  {% call components.example(palette='light') %}
    <div class="centered">
      <img src="{{ '/assets/form/form-usage-content.svg' | url }}" alt="Content usage in form" style="--inline-img-max-width: 360px;">
    </div>
  {%- endcall %}


    <div class="multi-column--min-400-wide">
      <div>
          <h4>Field text labels</h4>
          <p>A field text label can be used for critical information, like a user’s name or phone number.</p>
      </div>

      <div>
          <h4>Form field</h4>
          <p>Placeholder text can be used in a field as an example of required or recommended text.</p>
      </div>

      <div>
          <h4>Helper text</h4>
          <p>Helper text can be used to provide clarity about what exactly a user needs to input.</p>
      </div>

      <div>
          <h4>Tooltips</h4>
          <p>Tooltips can be used to provide additional context or helpful information.</p>
      </div>
    </div>

    <h3 class="margin-top--10">Required fields</h3>

    <p>A required field features an asterisk (*) to the right of the field text label.</p>

    <p>If all fields are required, don’t use an asterisk above every field. Instead, put a message at the top of the form stating All fields are required. If all fields are optional, the message should state All fields are optional.</p>

    <div class="multi-column--min-400-wide margin-top--4 margin-bottom--4">

      {% call components.example(palette='light') %}
      <div class="centered">
        <img src="{{ '/assets/form/form-fields-required-1.svg' | url }}" alt="Required fields in form" style="--inline-img-max-width: 340px;">
      </div>
    {%- endcall %}

      {% call components.example(palette='light') %}
        <div class="centered">
        <img src="{{ '/assets/form/form-fields-required-2.svg' | url }}" alt="Optional fields in form" style="--inline-img-max-width: 340px;">
      </div>
      {%- endcall %}
    
    </div>

    <h3>Data inputs</h3>

    <p>Data inputs provide additional ways for users to submit information that isn’t text. Each data input serves a different purpose and they can all be used in the same area.</p>

    <div class="multi-column--min-400-wide margin-top--4 margin-bottom--4">

      {% call components.example(palette='light') %}
      <div class="centered">
        <img src="{{ '/assets/form/form-data-inputs-selected-1.svg' | url }}" alt="Data inputs selected radio" style="--inline-img-max-width: 320px;">
      </div>
    {%- endcall %}

      {% call components.example(palette='light') %}
        <div class="centered">
        <img src="{{ '/assets/form/form-data-inputs-selected-2.svg' | url }}" alt="Data inputs selected checkbox" style="--inline-img-max-width: 320px;">
      </div>
      {%- endcall %}

            {% call components.example(palette='light') %}
      <div class="centered">
        <img src="{{ '/assets/form/form-data-inputs-selected-3.svg' | url }}" alt="Data inputs selected select list" style="--inline-img-max-width: 340px;">
      </div>
    {%- endcall %}

      {% call components.example(palette='light') %}
        <div class="centered">
        <img src="{{ '/assets/form/form-data-inputs-selected-4.svg' | url }}" alt="Data inputs selected switch" style="--inline-img-max-width: 340px;">
      </div>
      {%- endcall %}
    
    </div>

    <h3>Arranging data inputs</h3>
    <p>Radio buttons and checkboxes can be arranged horizontally or vertically depending on how much space there is.</p>
    <ul>
      <li>If maintaining vertical space is important and there are fewer than three options, arrange data inputs horizontally</li>
      <li>If there are more than three options, arrange data inputs vertically</li>
      <li>If there are no space constraints and the text labels are short enough, arrange data inputs in multiple columns, but only if there are three or more options</li>
    </ul>

    <div class="multi-column--min-400-wide margin-top--4 margin-bottom--4">

      {% call components.example(palette='light') %}
        <div class="centered">
          <img src="{{ '/assets/form/form-data-inputs-1.svg' | url }}" alt="Data inputs arrangement" style="--inline-img-max-width: 320px;">
        </div>
      {%- endcall %}

      {% call components.example(palette='light') %}
        <div class="centered">
          <img src="{{ '/assets/form/form-data-inputs-2.svg' | url }}" alt="Data inputs arrangement" style="--inline-img-max-width: 320px;">
        </div>
      {%- endcall %}
    
    </div>

    <h3>Placement</h3>
    <p>A form can be used on different kinds of pages, but placed away from blocks of content if there’s enough space. The width of a form should reflect the amount of content that needs to be collected, but it should never exceed 750px to maintain optimal readability. For example, if a user is expected to submit lots of text, the form should be wider.</p>

    <div class="margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/form/form-placement-1.svg' | url }}" alt="Centering a form" style="">
    </div>

    <div class="margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/form/form-placement-2.svg' | url }}" alt="Centering a wide form" style="">
    </div>

{%- endcall %}


{% call components.section("Best practices") -%}

  <p>Buttons should always be placed on the bottom left and be aligned to the left edge of fields. They should also be arranged by hierarchy from left to right.</p>

  {% call components.example(palette='wrong') %}
    <div class="inline-flex centered">
      <img src="{{ '/assets/form/form-best-practices-1.svg' | url }}" alt="Wrong button placement" style="--inline-img-max-width: 360px;">
    </div>
  {%- endcall %}

  <p>Don't use multiple Primary buttons in a form.</p>

  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered">
    <img src="{{ '/assets/form/form-best-practices-2.svg' | url }}" alt="Multiple primary buttons in form" style="--inline-img-max-width: 360px;">
  </div>
  {%- endcall %}

{%- endcall %}


{% call components.section("Behavior") -%}

  <h3>Errors</h3>
  <p>It's important that error state messages explain to users how they can fix the errors beyond only stating that there are errors.</p>

  <div class="multi-column--min-400-wide">
    <div>
          {% call components.example(palette='light') %}
            <div class="centered">
              <img src="{{ '/assets/form/form-behavior-error-1.svg' | url }}" alt="Error state" style="--inline-img-max-width: 340px;">
            </div>
          {%- endcall %}
          <p class="footnote">Errors are displayed after an incomplete field or data input loses focus</p>
      </div>

      <div>
          {% call components.example(palette='light') %}
            <div class="centered">
              <img src="{{ '/assets/form/form-behavior-error-2.svg' | url }}" alt="Error state" style="--inline-img-max-width: 330px;">
            </div>
          {%- endcall %}
          <p class="footnote">Errors are displayed when a user submits a form without correcting any errors first</p>
      </div>
  </div>

  <h3>Responsive design</h3>
  <p>If a form is wide enough, field text labels can be placed to the left of fields. When a form scales down on smaller screens, field text labels move above fields and are aligned to the left edge.</p>

  {% call components.example(palette='light') %}
  <div class="centered">
    <img src="{{ '/assets/form/form-responsive-design.svg' | url }}" alt="Form responding to breakpoint" style="--inline-img-max-width: 640px;">
  </div>
  {%- endcall %}

{%- endcall %}


{% call components.section("Interaction states") -%}

  <p>All elements within a form have interaction states except if they’re disabled.</p>

{%- endcall %}


<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Spacing") -%}

  <p>A form uses <a href="https://www.patternfly.org/v4/guidelines/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

  {% call components.example(palette='light') %}
    <div class="inline-flex centered">
        <img src="{{ '/assets/form/form-spacing.svg' | url }}" alt="Form spacing breakdown" style="--inline-img-max-width: 360px;">
    </div>
  {%- endcall %}

{%- endcall %}

<div class="multi-column--min-300-wide">
  {% call components.section("Related components") -%}

  <section class="related">
    <ul>
      <li><a href="../button">Button</a></li>
    </ul>
  </section>

  {%- endcall %}

  {% call components.section("Feedback") -%}
    <p>For feedback and bug reports concerning PatternFly Elements components, create an issue <a href="https://github.com/patternfly/patternfly-elements">in the GitHub repository</a>. </p>
  {%- endcall %}
</div>
