---
layout: _templates/layout-basic.njk
title: Jump links
tags:
  - component
includeComponent:
  - pfe-jump-links
---
{% import '_templates/component/components.njk' as components %}

{# <section class="page-jump-links">
  <div class="sticky">
    <pfe-jump-links-nav id="jumplinks-page" sr-text="Page navigation" pfe-c-autobuild>
      <p slot="pfe-jump-links-nav--heading">Jump to section</p>
    </pfe-jump-links-nav>
  </div>
</section> #}

{% call components.section("Overview") -%}

  <p>Jump links act as persistent navigation that consists of a vertical list of anchor links. Selecting a link moves a user to content that corresponds with the link selected. A link is displayed as active when the content it links to is visible in the browser window.</p>

{%- endcall %}

{% call components.section("Sample component") -%}

<img src="{{ '/assets/jump-links/jump-links-sample.svg' | url }}" alt="Jump links sample component" style="--inline-img-max-width: 128px;">

<!--<div class="margin-bottom--10" style="display:block;clear:both;float:left;">
  <section class="sticky" style="float:left;width:25%;">
      <pfe-jump-links-nav style="position:sticky" id="jumplinks1" sr-text="Page navigation">
        <p slot="pfe-jump-links-nav--heading">Jump to section</p>
        <ul>
          <li> <a href="#Asection1">Section 1</a> </li>
          <li> <a href="#Asection2">Section 2</a> </li>
          <li> <a href="#Asection2.1">Section 2.1</a> </li>
          <li> <a href="#Asection3">Section 3</a> </li>
        </ul>
      </pfe-jump-links-nav>
    </section>
    <section style="width:75%;float:left;">

      <pfe-jump-links-panel class="special PFElement" pfe-c-scrolltarget="jumplinks1" pfelement="" pfe-type="content" on="light" style="--pfe-jump-links-nav--Height--actual:447px;">
        <div>
          <h2 class="pfe-jump-links-panel__section" id="Asection1">Section 1</h2>
          <p>Lorem ipsum dolor amet umami vaporware actually church-key keytar, hell of roof party unicorn helvetica williamsburg butcher woke lorem whatever squid. </p>
          <h2 class="pfe-jump-links-panel__section" id="Asection2">Section 2</h2>
          <p>Lorem ipsum dolor amet umami vaporware actually church-key keytar, hell of roof party unicorn
            seitan readymade vinyl snackwave four dollar toast neutra. In ipsum blog tbh. Authentic la croix bespoke</p>
          <h2 class="pfe-jump-links-panel__section sub-section" id="Asection2.1">Section 2.1</h2>
          <p>Lorem ipsum dolo he hoodie wolf. DIY veniam elit bushwick pok pok. Esse voluptate cillum, cred</p>
          <h2 class="pfe-jump-links-panel__section" id="Asection3">Section 3</h2>
          <p>Lorem ipsum dolor amet umami vaporware actually church-key keytar, hell of roof party unicorn helvetica</p>
        </div>
      </pfe-jump-links-panel>
  </section><br><br>
</div>
    {# <div class="margin-top--4 margin-bottom--4">
        <img src="{{ '/assets/jump-links/jump-links.svg' | url }}" alt="Jump links" style="--inline-img-max-width: 129px;">
    </div> #}-->

{%- endcall %}

<pfe-jump-links-panel pfe-c-scrolltarget="jumplinks-page">

{% call components.section("Component status") -%}
  <rhds-component-status component="Jump links"></rhds-component-status>
{%- endcall %}

{% call components.section("Demo") -%}

  <p>View a live version of this component and see how it can be customized.</p>

  <pfe-cta>
    <a href="https://patternflyelements.org/components/jump-links/">View the PatternFly Elements component</a>
  </pfe-cta>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Style") -%}
  <p>
    Jump links are fixed on the page and follow a user as they scroll. It moves them to a section of content when the corresponding link is selected. It looks visually similar to <a href="../tabs">Open tabs</a>, the only difference is the uppercase label on top.
  </p>

  {% call components.example(palette='light') %}
    <div class="inline-flex centered">
        <img src="{{ '/assets/jump-links/jump-links-style.svg' | url }}" alt="Jump links specs" style="--inline-img-max-width: 537px;">
    </div>
  {%- endcall %}

  <h4>Theme</h4>
  {% call components.example(palette='light') %}
    <div class="inline-flex centered">
        <img src="{{ '/assets/jump-links/jump-links-theme-light.svg' | url }}" alt="Jump links theme light" style="--inline-img-max-width: 385px;">
    </div>
  {%- endcall %}

    {% call components.example(palette='darkest') %}
    <div class="inline-flex centered">
        <img src="{{ '/assets/jump-links/jump-links-theme-dark.svg' | url }}" alt="Jump links theme dark" style="--inline-img-max-width: 385px;">
    </div>
  {%- endcall %}

  <h4>Label</h4>
  <p>Jump links display a label at the top indicating there are section links that a user can select. This label isn’t interactive.</p>

  <h4>Section links</h4>
  <p>Jump links feature links that float to the right of an anchor line, they represent the different sections that are available to select.</p>

  <h4>Nested section links</h4>
  <p>Sections that contain lots of content can be broken into nested sections for better organization and hierarchy. Nested section links are positioned under their parent section link and indented slightly. There are guidelines about how many section links can be included, but no guidelines about how many nested section links can be included.</p>

  {% call components.example(palette='light') %}
    <div class="inline-flex centered">
        <img src="{{ '/assets/jump-links/jump-links-nested.svg' | url }}" alt="Jump links nested section" style="--inline-img-max-width: 129px;">
    </div>
  {%- endcall %}

  <h4>Active indicator bar</h4>
  <p>A red indicator bar highlights what the active section is. It’s positioned on top of the anchor line, not adjacent.</p>

    {% call components.example(palette='light') %}
    <div class="inline-flex centered">
        <img src="{{ '/assets/jump-links/jump-links-indicator.svg' | url }}" alt="Jump links active indicator bar" style="--inline-img-max-width: 206px;">
    </div>
  {%- endcall %}

{%- endcall %}


{% call components.section("Usage") -%}
  <h4>Content</h4>
  <p>Jump links are used to help a user navigate through large sections of content. Blocks of content that use jump links should be displayed in full and not hidden in other components, unless absolutely necessary. Sections that contain additional content can include nested sections for better organization. Nested sections shouldn’t be visible under a parent section by default, they’re displayed when a user scrolls past them or if they select the specific parent section link.</p>

  <h4>Positioning</h4>

  <p>Jump links are placed on the left edge of the grid on large screens so content can scroll freely on the right without interruption. Ensure there’s ample space between jump links and the content.<p>

  <div class="inline-flex centered">
      <img src="{{ '/assets/jump-links/jump-links-positioning.svg' | url }}" alt="Jump links positioning" style="">
  </div>

{%- endcall %}

<hr class="margin-top--2 margin-bottom--10">

{% call components.section("Best practices") -%}
  <p>Jump links should contain at least two section links.</p>

  {% call components.example(palette='wrong') %}
    <div class="inline-flex centered">
      <img src="{{ '/assets/jump-links/jump-links-best-practices-1.svg' | url }}" alt="Jump links not enough links issue" style="--inline-img-max-width: 129px;">
    </div>
  {%- endcall %}

  <p>Don’t include section links that are really long, they can be customized to be shorter when added to a group of jump links.</p>

  {% call components.example(palette='wrong') %}
    <div class="inline-flex centered">
      <img src="{{ '/assets/jump-links/jump-links-best-practices-2.svg' | url }}" alt="Jump links too long titles" style="--inline-img-max-width: 361px;">
      </div>
  {%- endcall %}

  <p>Don’t overload jump links with too many section links, but including lots of nested section links is acceptable.</p>

  {% call components.example(palette='wrong') %}
    <div class="inline-flex centered">
      <img src="{{ '/assets/jump-links/jump-links-best-practices-3.svg' | url }}" alt="Jump links too many top level links issue" style="--inline-img-max-width: 146px;">
    </div>
  {%- endcall %}

  <p>Don’t nest section links within nested section links.</p>

  {% call components.example(palette='wrong') %}
    <div class="inline-flex centered">
      <img src="{{ '/assets/jump-links/jump-links-best-practices-4.svg' | url }}" alt="Jump links nesting issue" style="--inline-img-max-width: 141px;">
    </div>
  {%- endcall %}

  {# <p>Don’t place jump links on the right side of the page.</p>

  {% call components.example(palette='wrong') %}
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
      <img src="{{ 'http://www.placehold.it/300x291' | url }}" alt="Example of a jump link">
      </div>
  {%- endcall %} #}

{%- endcall %}


{% call components.section("Behavior") -%}

  <h4>Positioning</h4>
  <p>When a page loads, jump links are anchored to the top edge of content that it applies to before it becomes persistent.</p>

  <h4>Active section</h4>
  <p>When a page loads, jump links are anchored to the top edge of content that it applies to before it becomes persistent.</p>

  <h4>Selecting sections</h4>
  <p>When a user selects a section link, the content moves up or down and lands on the top edge of the section they chose. The red indicator bar highlights the active section link and the link changes color before the section comes into view.</p>

  <h4>Mobile</h4>
  <p>Jump links can be used on large and small screens. There’s not enough space to use jump links in a mobile layout, so it’s wrapped in a <a href="../disclosure">Disclosure</a> and anchored above the content instead. It becomes persistent when a user scrolls past the top edge of the content.</p>

  {% call components.example(palette='light') %}
    <div class="inline-flex centered">
        <img src="{{ '/assets/jump-links/jump-links-behavior-mobile.svg' | url }}" alt="Jump links on mobile" style="--inline-img-max-width: 872px;">
    </div>
  {%- endcall %}

{%- endcall %}


{% call components.section("Responsive design") -%}
  <p>Jump links can be used on all screen sizes.<p>

  <h4>Breakpoints</h4>
  <p>Jump links are displayed in layout on large screens, but on small screens it’s wrapped in a disclosure which is collapsed until a user expands the panel.</p>

  <h4>Desktop</h4>
    <div class="margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/jump-links/jump-links-responsive-desktop.svg' | url }}" alt="Jump links on desktop" style="">
    </div>
    <p class="footnote">On large screens, jump links are displayed in the layout</p>

  <h4>Tablet</h4>
  <div class="margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/jump-links/jump-links-responsive-tablet.svg' | url }}" alt="Jump links on tablet" style="--inline-img-max-width: 768px;">
    </div>
  <p class="footnote">Section links reduce in width as breakpoints get smaller</p>

  <h4>Mobile</h4>
  <div class="margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/jump-links/jump-links-responsive-mobile.svg' | url }}" alt="Jump links on mobile" style="--inline-img-max-width: 360px;">
    </div>
  <p class="footnote">On small screens, jump links are wrapped in a collapsed disclosure</p>
{%- endcall %}

</pfe-jump-links-panel>

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Interaction states") -%}
  <p>Jump links have the same interaction states as vertical <a href="../tabs">Open tabs</a>.</p>

<div class="margin-bottom--10" style="display:block;clear:both;float:left;">
    <section class="sticky" style="float:left;width:25%;">
      <pfe-jump-links-nav style="position:sticky" id="jumplinks1" sr-text="Page navigation">
        <p slot="pfe-jump-links-nav--heading">Jump to section</p>
        <ul>
          <li> <a href="#Asection1-2">Section 1</a> </li>
          <li> <a href="#Asection2-2">Section 2</a> </li>
        </ul>
      </pfe-jump-links-nav>
    </section>
    <section style="width:75%;float:left;">

      <pfe-jump-links-panel class="special PFElement" pfe-c-scrolltarget="jumplinks1" pfelement="" pfe-type="content" on="light" style="--pfe-jump-links-nav--Height--actual:200px;">
        <div>
          <h2 class="pfe-jump-links-panel__section" id="Asection1-2">Section 1</h2>
          <p>Lorem ipsum dolor amet umami vaporware actually church-key keytar, hell of roof party unicorn helvetica williamsburg butcher woke lorem whatever squid. </p>
          <h2 class="pfe-jump-links-panel__section" id="Asection2-2">Section 2</h2>
          <p>Lorem ipsum dolor amet umami vaporware actually church-key keytar, hell of roof party unicorn
            seitan readymade vinyl snackwave four dollar toast neutra. In ipsum blog tbh. Authentic la croix bespoke</p>
        </div>
      </pfe-jump-links-panel>
  </section>
</div>

  <div style="float:left;">
  <h4>Tab order</h4>
  <p>For accessibility, jump links are required to be focused. Any interactive elements above jump links will be focused first until jump links stick to the top edge of content. Once jump links come into view and are persistent, the first section link is focused and the tab order becomes top to bottom.</p>
  </div>

  {% call components.example(palette='light') %}
    <div class="inline-flex centered">
        <img src="{{ '/assets/jump-links/jump-links-tab-order.svg' | url }}" alt="Jump links tab order" style="--inline-img-max-width: 872px;">
    </div>
  {%- endcall %}
{%- endcall %}


{% call components.section("Spacing") -%}

  <p>Jump links use <a href="https://www.patternfly.org/v4/guidelines/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>
  {% call components.example(palette='light') %}
    <div class="inline-flex centered">
        <img src="{{ '/assets/jump-links/jump-links-spacing.svg' | url }}" alt="Jump links spacing on desktop" style="--inline-img-max-width: 385px;">
    </div>
  {%- endcall %}

  {% call components.example(palette='light') %}
    <div class="inline-flex centered">
        <img src="{{ '/assets/jump-links/jump-links-spacing-2.svg' | url }}" alt="Jump links spacing on mobile" style="--inline-img-max-width: 872px;">
    </div>
  {%- endcall %}

{%- endcall %}

<div class="multi-column--min-300-wide">

  {% call components.section("Feedback") -%}
    <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  {%- endcall %}

  {% call components.section("Foundations") -%}
    <p>To learn how to use our other components in your designs, visit the <a href="/components">Components</a> section.</p>
  {%- endcall %}

</div>
