---
layout: _templates/layout-basic.njk
title: Jump links - vertical
tags:
  - component
---
{% import '_templates/component/components.njk' as components %}

{% call components.section("Overview") -%}
<p>Jump links act as persistent navigation that consists of a vertical list of anchor links. Selecting a link moves a user to content that corresponds with the link selected. A link is displayed as active when the content it links to is visible in the browser window.</p>
{%- endcall %}

<!-- live component here if possible -->

{% call components.section("Sample component") -%}
<img src="{{ 'http://www.placehold.it/126x291' | url }}" alt="Example of jump links">
{%- endcall %}

{% call components.section("Component status") -%}
<rhds-component-status component="Jump links - vertical"></rhds-component-status>
{%- endcall %}

{% call components.section("Demo") -%}
<p>View a live version of this component and see how it can be customized.</p>
<pfe-cta>
    <a href="https://patternfly.github.io/patternfly-elements/demo/?path=/story/jump-links--pfe-jump-links">View component</a>
  </pfe-cta>
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Style") -%}
  <p>
    Jump links are fixed on the page and follow a user as they scroll. It moves them to a section of content when the corresponding link is selected. It looks visually similar to <a href="../accordion">Open tabs</a>, the only difference is the uppercase label on top.
  </p>

  {% call components.example(palette='light') %}
    <div class="multi-column--min-100-wide centered margin-top--4 margin-bottom--4">
      <img src="{{ 'http://www.placehold.it/126x291' | url }}" alt="Example of a jump link">
      <img src="{{ 'http://www.placehold.it/126x291' | url }}" alt="Example of a jump link">
      </div>
  {%- endcall %}

  <h3>Theme</h3>
  {% call components.example(palette='light') %}
    <div class="multi-column--min-300-wide centered margin-top--4 margin-bottom--4">
      <img src="{{ 'http://www.placehold.it/300x291' | url }}" alt="Example of a jump link">
      <img src="{{ 'http://www.placehold.it/300x291' | url }}" alt="Example of a jump link">
      </div>
  {%- endcall %}

  <h3>Label</h3>
  <p>Jump links display a label at the top indicating there are section links that a user can select. This label isn’t interactive.</p>

  <h3>Section links</h3>
  <p>Jump links feature links that float to the right of an anchor line, they represent the different sections that are available to select.</p>

  <h3>Nested section links</h3>
  <p>Sections that contain lots of content can be broken into nested sections for better organization and hierarchy. Nested section links are positioned under their parent section link and indented slightly. There are guidelines about how many section links can be included, but no guidelines about how many nested section links can be included.</p>

  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
      <img src="{{ 'http://www.placehold.it/300x291' | url }}" alt="Example of a jump link">
      </div>
  {%- endcall %}

  <h3>Active indicator bar</h3>
  <p>A red indicator bar highlights what the active section is. It’s positioned on top of the anchor line, not adjacent.</p>

  {% call components.example(palette='light') %}
    <div class="multi-column--min-300-wide centered margin-top--4 margin-bottom--4">
      <img src="{{ 'http://www.placehold.it/300x291' | url }}" alt="Example of a jump link">
      <img src="{{ 'http://www.placehold.it/300x291' | url }}" alt="Example of a jump link">
      </div>
  {%- endcall %}
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Usage") -%}
  <h3>Content</h3>
  <p>Jump links are used to help a user navigate through large sections of content. Blocks of content that use jump links should be displayed in full and not hidden in other components, unless absolutely necessary. Sections that contain additional content can include nested sections for better organization. Nested sections shouldn’t be visible under a parent section by default, they’re displayed when a user scrolls past them or if they select the specific parent section link.</p>

  <h3>Positioning</h3>

  <p>Jump links are placed on the left edge of the grid on large screens so content can scroll freely on the right without interruption. Ensure there’s ample space between jump links and the content.<p>

    {% call components.example(palette='light') %}
      <div class="inline-flex centered margin-top--4 margin-bottom--4">
        <img src="{{ 'http://www.placehold.it/300x291' | url }}" alt="Example of a jump link">
        </div>
    {%- endcall %}

  <h3>Alternate positioning</h3>
  <p>Sometimes jump links can be placed inside the grid. For layouts that occupy eight or less columns, jump links can be placed in the first few columns.</p>
  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
      <img src="{{ 'http://www.placehold.it/300x291' | url }}" alt="Example of a jump link">
      </div>
  {%- endcall %}
{%- endcall %}

<hr class="margin-top--2 margin-bottom--10">

{% call components.section("Best practices") -%}
  <p>Jump links should contain at least two section links.
</p>

{% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--4 margin-bottom--4">
    <img src="{{ 'http://www.placehold.it/300x291' | url }}" alt="Example of a jump link">
    </div>
{%- endcall %}

  <p>Don’t include section links that are really long, they can be customized to be shorter when added to a group of jump links.</p>

  {% call components.example(palette='wrong') %}
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
      <img src="{{ 'http://www.placehold.it/300x291' | url }}" alt="Example of a jump link">
      </div>
  {%- endcall %}

  <p>Don’t overload jump links with too many section links, but including lots of nested section links is acceptable.</p>

  {% call components.example(palette='wrong') %}
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
      <img src="{{ 'http://www.placehold.it/300x291' | url }}" alt="Example of a jump link">
      </div>
  {%- endcall %}

  <p>Don’t nest section links within nested section links.</p>

  {% call components.example(palette='wrong') %}
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
      <img src="{{ 'http://www.placehold.it/300x291' | url }}" alt="Example of a jump link">
      </div>
  {%- endcall %}

  <p>Don’t place jump links on the right side of the page.</p>

  {% call components.example(palette='wrong') %}
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
      <img src="{{ 'http://www.placehold.it/300x291' | url }}" alt="Example of a jump link">
      </div>
  {%- endcall %}
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Behavior") -%}
<h3>Positioning</h3>
<p>When a page loads, jump links are anchored to the top edge of content that it applies to before it becomes persistent.</p>

<h3>Active section</h3>
<p>When a page loads, jump links are anchored to the top edge of content that it applies to before it becomes persistent.</p>

<h3>Selecting sections</h3>
<p>When a user selects a section link, the content moves up or down and lands on the top edge of the section they chose. The red indicator bar highlights the active section link and the link changes color before the section comes into view.</p>

<h3>Mobile</h3>
<p>Jump links can be used on large and small screens. There’s not enough space to use jump links in a mobile layout, so it’s wrapped in a <a href="../disclosure">Disclosure</a> and anchored above the content instead. It becomes persistent when a user scrolls past the top edge of the content.</p>

  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
      <img src="{{ 'http://www.placehold.it/300x291' | url }}" alt="Example of a jump link">
      </div>
  {%- endcall %}
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Responsive design") -%}
  <p>Jump links can be used on all screen sizes.<p>

  <h3>Breakpoints</h3>
  <p>Jump links are displayed in layout on large screens, but on small screens it’s wrapped in a disclosure which is collapsed until a user expands the panel.</p>

  <h3>Desktop</h3>
  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
      <img src="{{ 'http://www.placehold.it/300x291' | url }}" alt="Example of a jump link">
      </div>
  {%- endcall %}
  <p>On large screens, jump links are displayed in the layout.</p>

  <h3>Tablet</h3>
  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
      <img src="{{ 'http://www.placehold.it/300x291' | url }}" alt="Example of a jump link">
      </div>
  {%- endcall %}
  <p>Section links reduce in width as breakpoints get smaller.</p>

  <h3>Mobile</h3>
  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
      <img src="{{ 'http://www.placehold.it/300x291' | url }}" alt="Example of a jump link">
      </div>
  {%- endcall %}
  <p>On small screens, jump links are wrapped in a collapsed disclosure.</p>
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Interaction states") -%}
  <p>Jump links have the same interaction states as vertical <a href="../tabs">Open tabs</a>.<p>

  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
      <img src="{{ 'http://www.placehold.it/300x291' | url }}" alt="Example of a jump link">
      </div>
  {%- endcall %}

  <h3>Tab order</h3>
  <p>For accessibility, jump links are required to be focused. Any interactive elements above jump links will be focused first until jump links stick to the top edge of content. Once jump links come into view and are persistent, the first section link is focused and the tab order becomes top to bottom.</p>

  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
      <img src="{{ 'http://www.placehold.it/300x291' | url }}" alt="Example of a jump link">
      </div>
  {%- endcall %}
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Spacing") -%}
  <p>Jump links use <a href="https://www.patternfly.org/v4/design-guidelines/styles/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>
  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
      <img src="{{ 'http://www.placehold.it/300x291' | url }}" alt="Example of a jump link">
      </div>
  {%- endcall %}
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

<div class="multi-column--min-300-wide">
  {% call components.section("Related components") -%}
    <p><a href="../disclosure">Disclosure</a></p>
    <p><a href="../tabs">Tabs - Open</a></p>
  {%- endcall %}

  {% call components.section("Feedback") -%}
    <p>For feedback and bug reports, create an issue in our <a href="https://github.com/patternfly/patternfly-elements"> GitHub repository.</p>
  {%- endcall %}
</div>
