---
layout: _templates/layout-basic.njk
title: Modal
tags:
  - component
---
{% import '_templates/component/components.njk' as components %}

{% call components.section("Overview") -%}
<p>Modals display information in a window or help a user focus on a task without navigating them away from the page. A user can’t perform other actions until the modal is dismissed.</p>
{%- endcall %}

{% call components.section("Sample component") -%}
<img src="{{ 'http://www.placehold.it/640x360' | url }}" alt="Example of a modal">
{%- endcall %}

{% call components.section("Component status") -%}
<rhds-component-status component="Content modal"></rhds-component-status>
{%- endcall %}

{% call components.section("Demo") -%}
<p>View a live version of this component and see how it can be customized.</p>
<pfe-cta>
    <a href="https://patternfly.github.io/patternfly-elements/demo/?path=/story/modal--pfe-modal">View component</a>
  </pfe-cta>
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Style") -%}
  <p>
      Modals can be used in the light theme only. There are two modal variants that feature different styles, depending what’s being presented to a user. Modals include a content container or a video player and are placed in the center of a background overlay that covers the entire browser window.
  </p>

{% call components.example(palette='light') %}
  <div class="margin-top--4 margin-bottom--4 centered">
    <img src="{{ 'http://www.placehold.it/640x360' | url }}" alt="Example of small content modal with labels">
    <img src="{{ 'http://www.placehold.it/640x360' | url }}" alt="Example of video player modal with labels">
  </div>
{%- endcall %}

<h3>Content</h3>
<p>A content modal can include different kinds of information and interactive elements. A basic content modal should include at least a headline, content, a button or a call to action, and a close button.</p>
{% call components.example(palette='light') %}
  <div class="margin-top--4 margin-bottom--4 centered">
    <img src="{{ 'http://www.placehold.it/640x360' | url }}" alt="Example of a modal with content">
  </div>
{%- endcall %}

<h3>Video player</h3>
<p>A video player modal showcases a video at a large size for easy viewing. It includes a video, playback controls, and a close button.</p>

{% call components.example(palette='light') %}
  <div class="margin-top--4 margin-bottom--4 centered">
    <img src="{{ 'http://www.placehold.it/640x360' | url }}" alt="Example of a video player modal">
  </div>
{%- endcall %}

<h3>Background overlay</h3>
<p>The background overlay is a black solid with opacity that’s positioned under a modal container. It eliminates distractions and helps a user focus on the content in the modal.</p>

{% call components.example(palette='light') %}
  <div class="margin-top--4 margin-bottom--4 centered">
    <img src="{{ 'http://www.placehold.it/640x360' | url }}" alt="Example of a modal with background">
  </div>
{%- endcall %}
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Usage") -%}
  <p>Modals can be used when critical information requires immediate user attention or for hiding extra content that can’t be displayed due to layout constraints. Modals interrupt user workflows or hide secondary content by design, but should be used sparingly to limit user disruption.</p>

  <h3>Size</h3>

  <p>Container heights and widths will shift responsively depending on the screen size and the amount of content that’s included.<p>

    {% call components.example(palette='light') %}
      <div class="margin-top--4 margin-bottom--4 centered">
        <img src="{{ 'http://www.placehold.it/640x360' | url }}" alt="Example of modal with long content on desktop">
        <img src="{{ 'http://www.placehold.it/640x360' | url }}" alt="Example of modal with little content on tablet, landscape">
      </div>
    {%- endcall %}

  <h3>Content vs. video</h3>
  <p>Modals can either organize content that a user can interact with or they can display a large video that a user can watch. A content modal can include smaller videos if they’re placed inline with other elements whereas a video player modal features one large video only.</p>
{%- endcall %}

<hr class="margin-top--2 margin-bottom--10">

{% call components.section("Best practices") -%}
  <p>Don’t use other components inside of a content modal container unless absolutely necessary.</p>

  {% call components.example(palette='wrong') %}
  <div class="centered margin-top--4 margin-bottom--4">
    <img src="{{ 'http://www.placehold.it/640x360' | url }}" alt="Example of a modal that contains an accordion">
  </div>
  {%- endcall %}

  <p>Don’t bury too much information or multiple screens in a content modal, it’s not an optimal component for lengthy reading.</p>

  {% call components.example(palette='wrong') %}
  <div class="centered margin-top--4 margin-bottom--4">
    <img src="{{ 'http://www.placehold.it/640x360' | url }}" alt="Example of a modal with tabs and text">
  </div>
  {%- endcall %}

  <p>Don’t displey a video alone in a content modal, use a video player modal instead.</p>

  {% call components.example(palette='wrong') %}
  <div class="centered margin-top--4 margin-bottom--4">
    <img src="{{ 'http://www.placehold.it/640x360' | url }}" alt="Example of a modal containing only a video">
  </div>
  {%- endcall %}

  <p>Don’t omit the close button from either modal variant, it’s needed for accessibility.</p>

  {% call components.example(palette='wrong') %}
    <div class="margin-top--4 margin-bottom--4 centered">
      <img src="{{ 'http://www.placehold.it/640x360' | url }}" alt="Example of a content modal without a close button">
      <img src="{{ 'http://www.placehold.it/640x360' | url }}" alt="Example of a video modal without a close button">
    </div>
  {%- endcall %}
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Behavior") -%}
<h3>Accessibility</h3>
<p>Modals cover the entire page and browser window, so the ability to dismiss them quickly and easily with any input is required.</p>

<table>
  <tr>
    <td><strong>Key</strong></td>
    <td><strong>Interaction</strong></td>
  </tr>
  <tr>
    <td>Space or Enter (if the modal trigger is focused)</td>
    <td>Triggers a modal.</td>
  </tr>
  <tr>
    <td>Space or Enter (if the modal is displayed)</td>
    <td>Triggers the focused interactive element or dismisses the modal if the close button is still focused.</td>
  </tr>
  <tr>
    <td>Tab (if the modal is open)</td>
    <td>Focuses the next interactive element in the tab order until the close button is focused again, it shouldn’t leave the content modal container.</td>
  </tr>
  <tr>
    <td>Esc</td>
    <td>Dismisses a modal without any further actions taking place.</td>
  </tr>
  </table>

  <h3>Close button</h3>
  <p>Both modal variants require a close button which is the most direct way to dismiss a modal. A user needs to actively dismiss a modal, it shouldn’t close on its own.</p>

  <h3>overlay</h3>
  <p>A user can click on or tap anywhere in the background overlay to dismiss a modal.</p>

  <h3>Tab order</h3>
  <p>The close button is focused when a modal appears and is therefore always the first interactive element in the tab order. When the Tab key is pressed repeatedly, the focus indicator moves off of the close button and any interactive elements below it are added to the tab order.</p>
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Responsive design") -%}
<p>Both modal variants occupy eight columns on large screens and span the entire browser window on small screens.<p>

<h3>Desktop</h3>
{% call components.example(palette='light') %}
  <div class="margin-top--4 margin-bottom--4 centered">
    <img src="{{ 'http://www.placehold.it/1440x900' | url }}" alt="Example of a content modal without a close button">
    <img src="{{ 'http://www.placehold.it/1440x900' | url }}" alt="Example of a video modal without a close button">
  </div>
{%- endcall %}

<h3>Tablet</h3>
{% call components.example(palette='light') %}
  <div class="margin-top--4 margin-bottom--4 centered">
    <img src="{{ 'http://www.placehold.it/992x768' | url }}" alt="Example of a content modal without a close button">
    <img src="{{ 'http://www.placehold.it/992x768' | url }}" alt="Example of a video modal without a close button">
  </div>
{%- endcall %}

<h3>Mobile</h3>
{% call components.example(palette='light') %}
  <div class="margin-top--4 margin-bottom--4 centered">
    <img src="{{ 'http://www.placehold.it/640x360' | url }}" alt="Example of a content modal without a close button">
    <img src="{{ 'http://www.placehold.it/640x360' | url }}" alt="Example of a video modal without a close button">
  </div>
{%- endcall %}
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Interaction states") -%}
<p>The interaction states in the content modal and the video player modal are slightly different.<p>

  {% call components.example(palette='light') %}
    <div class="margin-top--4 margin-bottom--4 centered">
      <img src="{{ 'http://www.placehold.it/992x768' | url }}" alt="Example of a content modal without a close button">
      <img src="{{ 'http://www.placehold.it/992x768' | url }}" alt="Example of a video modal without a close button">
    </div>
  {%- endcall %}
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Spacing") -%}
<p>Both modal variants use <a href="https://www.patternfly.org/v4/design-guidelines/styles/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>
  {% call components.example(palette='light') %}
    <div class="margin-top--4 margin-bottom--4 centered">
      <img src="{{ 'http://www.placehold.it/992x768' | url }}" alt="Example of a content modal without a close button">
      <img src="{{ 'http://www.placehold.it/992x768' | url }}" alt="Example of a video modal without a close button">
    </div>
  {%- endcall %}

  <h3>Content padding</h3>
  <p>Content padding defines how far away elements are from each other.</p>
  {% call components.example(palette='light') %}
    <div class="margin-top--4 margin-bottom--4 centered">
      <img src="{{ 'http://www.placehold.it/992x768' | url }}" alt="Example of a content modal with spacers">
    </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

<div class="multi-column--min-300-wide">
  {% call components.section("Related components") -%}
    <ul>
      <li><a href="../alert">Alert</a></li>
      <li><a href="../card">Card</a></li>
    </ul>
  {%- endcall %}

  {% call components.section("Feedback") -%}
    <p>For feedback and bug reports, create an issue in our <a href="https://github.com/patternfly/patternfly-elements"> GitHub repository.</p>
  {%- endcall %}
</div>
