---
layout: _templates/layout-basic.njk
title: Navigation
tags:
  - component
---

{% import '_templates/component/components.njk' as components %}

{% call components.section("Overview") -%}

  <p>Navigation consists of a menu and utility section meant to help a user orient themselves and move through the website. It’s persistent on every page to ensure a consistent experience across Red Hat’s system of websites.</p>

{%- endcall %}

{% call components.section("Sample component") -%}

    <div class="inline-flex centered">
      <img src="{{ '/assets/navigation/navigation.svg' | url }}" alt="Navigation" style="">
    </div>

{%- endcall %}

{% call components.section("Component status") -%}
<rhds-component-status component="Navigation"></rhds-component-status>
{%- endcall %}

{% call components.section("Demo") -%}

  <p>View a live version of this component and see how it can be customized.</p>

  <pfe-cta>
    <a href="https://patternflyelements.org/components/navigation/">View the PatternFly Elements component</a>
  </pfe-cta>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Style") -%}
  <p>Navigation is theme-agnostic since it’s used on every page. It’s divided into three discrete sections consisting of a logo, menus, and utilities all wrapped in a background. When menus and utilities are selected, a dropdown tray expands to display various elements.</p>

{% call components.example(palette='light') %}
      <div class="inline-flex centered">
      <img src="{{ '/assets/navigation/navigation-style.svg' | url }}" alt="Navigation specs" style="--inline-img-max-width: 872px;">
    </div>
  {%- endcall %}

  <h4>Bar</h2>
  <p>Elements in the navigation are wrapped in a thin bar on a dark background. Menu and utility text labels and icons are white for increased contrast.</p>

  <h4>Logo</h4>
  <p>The Red Hat logo can be replaced with another logo as long as spacing, size, and aspect ratio guidelines are maintained.</p>

    <div class="inline-flex centered">
      <img src="{{ '/assets/navigation/navigation-logo.svg' | url }}" alt="Navigation logo" style="">
    </div>

  <h4>Content</h4>
  <p>The menu area is composed of text labels positioned to the right of the logo whereas the utility area is composed of smaller text text labels and icons that are positioned at the far right of the component. Menus and utilities both contain dropdown trays that feature different content, but in some rare cases, a link is used instead.</p>

  <h4 id="tray">Dropdown trays</h4>
  <p>When a menu or utility dropdown tray is expanded, content is organized on a white background. A dropdown tray can either span the width of the browser window or have a fixed width, depending on the content. Below the dropdown tray, a background overlay covers the content of the page.</p>
  <div class="inline-flex centered margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/navigation/navigation-dropdown-tray.svg' | url }}" alt="Navigation dropdown-tray" style="">
  </div>
  <p class="footnote">A <em>full-width</em> dropdown tray spans the width of the browser window</p>

  <div class="inline-flex centered margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/navigation/navigation-dropdown-skinny-tray.svg' | url }}" alt="Navigation dropdown tray skinny" style="">
  </div>
  <p class="footnote">A <em>compact</em> dropdown tray has a fixed width that’s determined by the amount of content</p>

  <h4>Tabs</h4>
  <p>When a dropdown tray is expanded, the text label and icon color is reversed and a white tab appears behind each selected menu or utility. It contains a red bar on top and a small gray arrow underneath the text label.</p>
  <div class="inline-flex centered margin-top--4 margin-bottom--8">
    <img src="{{ '/assets/navigation/navigation-tabs.svg' | url }}" alt="Navigation tabs" style="">
  </div>

{%- endcall %}


{% call components.section("Usage") -%}

  <h4>Layout</h4>

  <p>On very large screens, content in the navigation isn’t limited to the 12-column grid, but content in a dropdown tray is limited to a 12-column grid.</p>

  <div class="inline-stacked">
    <img src="{{ '/assets/navigation/navigation-usage-1.svg' | url }}" alt="Navigation layout" style="">

    <img src="{{ '/assets/navigation/navigation-usage-2.svg' | url }}" alt="Navigation layout" style="">

    <img src="{{ '/assets/navigation/navigation-usage-3.svg' | url }}" alt="Navigation layout" style="">
  </div>

  <h4>Positioning</h4>

  <p>Navigation is always persistent and is located at the very top of the page on all screens. In certain situations, other components can be placed above the navigation, like an <a href="../announcement-banner">Announcement banner</a>.</p>

  <div class="inline-stacked">

    <img src="{{ '/assets/navigation/navigation-positioning-1.svg' | url }}" alt="Navigation positioning" style="">

    <img src="{{ '/assets/navigation/navigation-positioning-2.svg' | url }}" alt="Navigation positioning with banner" style="">

  </div>

  <h4>Menu vs. utility</h4>
  <p>Menus feature content related to the website that the navigation is placed on, no two websites should have the same list of menus. Utilities feature content related to Red Hat as an organization, all websites should share roughly the same order of utilities.<p>

  <h4>Utility ordering</h4>
  <p>Utilities follow a certain order to maintain consistency across websites. If a website doesn’t need one of these utilities, remove or replace it, but keep the same ordering.</p>

  <div class="inline-stacked margin-top--4">

    <img src="{{ '/assets/navigation/navigation-utility-ordering-1.svg' | url }}" alt="Navigation utility ordering" style="">
    <img src="{{ '/assets/navigation/navigation-utility-ordering-2.svg' | url }}" alt="Navigation utility ordering" style="">
    <img src="{{ '/assets/navigation/navigation-utility-ordering-3.svg' | url }}" alt="Navigation utility ordering" style="">
    <img src="{{ '/assets/navigation/navigation-utility-ordering-4.svg' | url }}" alt="Navigation utility ordering" style="">

  </div>

  <h4>Custom utility slot</h4>
  <p>A different utility can be used in the custom slot, like Help or Language. Be careful of how many utilities are used so it doesn’t overload the navigation. If a custom utility requires a new icon, contact the <a href="https://brand.redhat.com/">Brand team</a>.</p>

  <div class="inline-stacked margin-top--4">
    <img src="{{ '/assets/navigation/navigation-custom-utility-slot.svg' | url }}" alt="Navigation custom utility" style="">
  </div>

{%- endcall %}


{% call components.section("Best practices") -%}

  <p>Don’t overload the navigation with too many menus and utilities.</p>

  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/navigation/navigation-best-practices-1.svg' | url }}" alt="Components above navigation" style="--inline-img-max-width: 872px;">
  </div>
  {%- endcall %}

  <p>Don’t hide menus and utilities or use the Menu utility in larger breakpoints.</p>
  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/navigation/navigation-best-practices-2.svg' | url }}" alt="Don't hide menus" style="--inline-img-max-width: 872px;">
  </div>
  {%- endcall %}

  <p>Don’t change the spacing between elements.</p>
  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/navigation/navigation-best-practices-3.svg' | url }}" alt="Navigation spacing" style="--inline-img-max-width: 872px;">
  </div>
  {%- endcall %}

{%- endcall %}


{% call components.section("Behavior") -%}
  <h4>Accessibility</h4>
  <p>Navigation is one of the most important components on any page which makes accessibility paramount.</p>

  <div class="section">
    <table width="100%;">
      <tr>
        <th>Key</th>
        <th>Interaction</th>
      </tr>
      <tr>
        <td>Tab</td>
        <td>A user reveals the Skip to main content link.</td>
      </tr>
      <tr>
        <td>Tab + Tab</td>
        <td>A user skips the skip to main content link. The focus indicator moves from left to right, starting with the logo.</td>
      </tr>
      <tr>
        <td>Space or Enter (if the logo is focused)</td>
        <td>Selects the logo which returns a user back to a home page.</td>
      </tr>
      <tr>
        <td>Space or Enter (if a menu is focused)</td>
        <td>Expands a menu dropdown tray or in rare cases, selects a menu link.</td>
      </tr>
      <tr>
        <td>Space or Enter (if a utility is focused)</td>
        <td>Expands a utility dropdown tray or in rare cases, selects a utility link.</td>
      </tr>
      <tr>
        <td>Esc (if a menu or utility is focused and if a dropdown tray is open)</td>
        <td>Collapses a dropdown tray.</td>
      </tr>
    </table>
  </div>

    <h4>Collapsing and expanding</h4>
    <p>Menu or utility dropdown trays can be expanded or collapsed by selecting the text label and icon areas.</p>

    {% call components.example(palette='medium') %}
      <div class="inline-flex centered">
      <img src="{{ '/assets/navigation/navigation-behavior.svg' | url }}" alt="Navigation behavior" style="--inline-img-max-width: 872px;">
    </div>
  {%- endcall %}

    <h4>Multiple panels</h4>
    <p>Multiple dropdown trays can’t be expanded simultaneously. If a dropdown tray is open and a user selects another one, the first dropdown tray collapses.</p>

    <h4>Overlay</h4>
    <p>A user can click on or tap anywhere in the background overlay to collapse a dropdown tray.</p>

    <h4>Persistence</h4>
    <p>Navigation and expanded dropdown trays are always persistent. When a tray is expanded, a user can still scroll, but a lot of content will be blocked by the tray and the overlay.</p>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Responsive design") -%}

  <p>Navigation works well when used on all screen sizes.</p>

  <h4>Breakpoints</h4>

  <p>Navigation can be used on large and small screens, but the number of menus and utilities reduces as breakpoints get smaller. More breakpoints have been added specifically for the navigation component due to the number of elements that can be included.</p>

    <h4>Desktop</h4>

    <div class="inline-flex centered">
      <img src="{{ '/assets/navigation/navigation-responsive-desktop.svg' | url }}" alt="Navigation desktop" style="">
    </div>

    <h4>Tablet</h4>

    <div class="margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/navigation/navigation-responsive-tablet.svg' | url }}" alt="Navigation tablet" style="--inline-img-max-width: 768px;">
    </div>

    <h4>Mobile, landscape</h4>

    <div class="margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/navigation/navigation-responsive-mobile-landscape.svg' | url }}" alt="Navigation mobile landscape" style="--inline-img-max-width: 640px;">
    </div>

    <h4>Mobile, portrait</h4>

    <div class="margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/navigation/navigation-responsive-mobile-portrait.svg' | url }}" alt="Navigation mobile portrait" style="--inline-img-max-width: 360px;">
    </div>


{%- endcall %}


{% call components.section("Interaction states") -%}

  <p>Collapsed and expanded menu and utility dropdown trays share the same interaction states.</p>

{%- endcall %}

  <hr class="margin-top--10 margin-bottom--10">

{% call components.section("Spacing") -%}

  <p>Navigations use <a href="https://www.patternfly.org/v4/guidelines/spacers">PatternFly 4 spacers</a> to define spacing values between elements. For more information about spacing guidelines in a dropdown tray, see <a href="#tray">Navigation dropdown tray</a>.</p>

    <h4>Desktop</h4>

    <div class="inline-flex centered">
      <img src="{{ '/assets/navigation/navigation-spacing-desktop.svg' | url }}" alt="Navigation spacing on desktop" style="">
    </div>

    <h4>Tablet</h4>

    <div class="margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/navigation/navigation-spacing-tablet.svg' | url }}" alt="Navigation spacing on tablet" style="--inline-img-max-width: 768px;">
    </div>

    <h4>Mobile</h4>

    <div class="margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/navigation/navigation-spacing-mobile.svg' | url }}" alt="Navigation spacing on tablet" style="--inline-img-max-width: 640px;">
    </div>

{%- endcall %}

<div class="multi-column--min-300-wide">

  {% call components.section("Feedback") -%}
    <p>To give feedback about anything on this page, <a href="mailto:digital-design-system@redhat.com">contact us</a>.</p>
  {%- endcall %}

  {% call components.section("Foundations") -%}
    <p>To learn how to use our other components in your designs, visit the <a href="/components">Components</a> section.</p>
  {%- endcall %}

</div>
