---
layout: _templates/layout-basic.njk
title: Search bar
tags:
  - component
---

{% import '_templates/component/components.njk' as components %}

{% call components.section("Overview") -%}
<p>A Search bar is a grouping of a form field and a search button. It’s a modular component that can be used in a variety of layouts.</p>
{%- endcall %}

{% call components.section("Sample component") -%}
  <img src="{{ '/assets/search-bar/search-bar.svg' | url }}" alt="Search" style="">
{%- endcall %}

{% call components.section("Component status") -%}
<rhds-component-status component="Search bar"></rhds-component-status>
{%- endcall %}

{# {% call components.section("Demo") -%}
<p>View a live version of this component and see how it can be customized.</p>
<pfe-cta>
    <a href="https://patternfly.github.io/patternfly-elements/demo/?path=/story/avatar--pfe-avatar">View component via PatternFly Elements</a>
  </pfe-cta>
{%- endcall %} #}


  {% call components.section("Style") -%}
    <p>Search bars can be used in light and dark themes. They consist of a form field with placeholder text inside and a search button that’s placed on the right.</p>

  {% call components.example(palette='light') %}
    <div class="margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/search-bar/search-bar-style.svg' | url }}" alt="Search specs" style="--inline-img-max-width: 872px;">
    </div>
  {%- endcall %}

  <h3>Theme</h3>
    {% call components.example(palette='light') %}
      <div class="margin-top--4 margin-bottom--4">
        <img src="{{ '/assets/search-bar/search-bar-theme-light.svg' | url }}" alt="Search bar light theme" style="--inline-img-max-width: 872px;">
      </div>
    {%- endcall %}

    {% call components.example(palette='darkest') %}
      <div class="margin-top--4 margin-bottom--4">
        <img src="{{ '/assets/search-bar/search-bar-theme-dark.svg' | url }}" alt="Search bar dark theme" style="--inline-img-max-width: 872px;">
      </div>
    {%- endcall %}

  {%- endcall %}


<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Usage") -%}
  <p>A search bar allows users to search for something by entering text in the form field and then clicking on or tapping the search button. Search results are displayed on another page or below the search bar.</p>

  <h3>Layout</h3>
  <p>Search bars can be used in large and small layouts. They have a minimum width, but no maximum width other than the boundaries of the container that it’s placed in or the grid.</p>

  {% call components.example(palette='medium') %}
      <div class="margin-top--4 margin-bottom--4">
        <img src="{{ '/assets/search-bar/search-bar-layout.svg' | url }}" alt="Search bar layout in nav" style="--inline-img-max-width: 872px;">
      </div>
    {%- endcall %}

    <div class="margin-top--4 margin-bottom--4">
      <img src="{{ '/assets/search-bar/search-bar-layout-2.svg' | url }}" alt="Search bar layout in nav" style="">
    </div>

  <h3>Placeholder text</h3>
  <p>Search bars contain placeholder text that indicates how broad or specific the search results will be. For example, placeholder text might state Search all Red Hat if the search results aren’t specific to one page.</p>

  <div class="multi-column--min-400-wide margin-top--6">
    <div>
      {% call components.example(palette='lightest') %}
        <div class="margin-top--4 margin-bottom--4">
          <img src="{{ '/assets/search-bar/search-bar-placeholder-text-1.svg' | url }}" alt="Search bar placeholder text" style="--inline-img-max-width: 340px;">
        </div>
      {%- endcall %}
        <p class="footnote">Generic placeholder text will yield more broad search results</p>
    </div>

    <div>
        {% call components.example(palette='lightest') %}
          <div class="margin-top--4 margin-bottom--4">
            <img src="{{ '/assets/search-bar/search-bar-placeholder-text-2.svg' | url }}" alt="Search bar descriptive placeholder text" style="--inline-img-max-width: 340px;">
          </div>
        {%- endcall %}
        <p class="footnote">More specific placeholder text will yield more tailored search results</p>
    </div>
  </div>

{%- endcall %}

<hr class="margin-top--2 margin-bottom--10">

{% call components.section("Best practices") -%}

  <p>Don’t replace the search button with a call to action.</p>

  {% call components.example(palette='wrong') %}
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
      <img src="{{ '/assets/search-bar/search-bar-best-practices-1.svg' | url }}" alt="Search vs call to action" style="--inline-img-max-width: 872px;">
    </div>
  {%- endcall %}

    <p>Don’t use a different button style, even if the text is the same.</p>

  {% call components.example(palette='wrong') %}
      <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/search-bar/search-bar-best-practices-2.svg' | url }}" alt="Search button style" style="--inline-img-max-width: 872px;">
      </div>
  {%- endcall %}

  <p>Don't use the search button by itself.</p>

  {% call components.example(palette='wrong') %}
      <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/search-bar/search-bar-best-practices-3.svg' | url }}" alt="Search button only" style="--inline-img-max-width: 81px;">
      </div>
  {%- endcall %}

  <p>Don't place the search button below the form field or change its aspect ratio, even on small screens.</p>
  {% call components.example(palette='wrong') %}
      <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/search-bar/search-bar-best-practices-4.svg' | url }}" alt="Search button placement" style="--inline-img-max-width: 328px;">
      </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Behavior") -%}

  <h3>Form field</h3>
  <p>When you click or tap inside the form field, the placeholder text and its styling will remain the same. When a user starts typing new text, the styling changes.</p>

  {% call components.example(palette='lightest') %}
  <div class="multi-column--min-200-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/search-bar/search-bar-form-field.svg' | url }}" alt="Search button behavior when typing" style="--inline-img-max-width: 872px;">
  </div>
  {%- endcall %}

  <h3>Typeahead</h3>
  <p>In some search bars, when a user begins to type their search term, a pattern appears below the form field that gives suggestions as to what a user might be searching for.</p>

    {% call components.example(palette='dark') %}
      <div class="multi-column--min-200-wide margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/search-bar/search-bar-type-ahead.svg' | url }}" alt="Search button behavior of typeahead" style="--inline-img-max-width: 872px;">
      </div>
  {%- endcall %}

  <h3>Responsive design</h3>
  <p>Search bars can stretch horizontally to fit any container, but only the form field stretches whereas the button always stays the same size.</p>

  {% call components.example(palette='light') %}
  <div class="multi-column--min-200-wide margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/search-bar/search-bar-responsive.svg' | url }}" alt="Search button responsive behavior" style="--inline-img-max-width: 872px;">
  </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Interaction states") -%}

  <p>Both the form field and the search button have interaction states.</p>
  
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Spacing") -%}

  <p>Search bars use <a href="https://www.patternfly.org/v4/design-guidelines/styles/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/search-bar/search-bar-spacing.svg' | url }}" alt="Search bar spacing" style="--inline-img-max-width: 872px;">
    </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

<div class="multi-column--min-300-wide">
  {% call components.section("Related components") -%}

    <section class="related">
      <ul>
        <li><a href="../button">Button</a></p>
        <li><a href="../form">Form</a></li>
      </ul>
    </section>
  {%- endcall %}

  {% call components.section("Feedback") -%}
    <p>For feedback and bug reports concerning PatternFly Elements components, create an issue <a href="https://github.com/patternfly/patternfly-elements">in the GitHub repository</a>. </p>
  {%- endcall %}
</div>
