---
layout: _templates/layout-basic.njk
title: Skip to main
tags:
  - component
---

{% import '_templates/component/components.njk' as components %}

{% call components.section("Overview") -%}
<p>Skip to main content is a styled link that appears at the top of a page when the Tab key is pressed. It bypasses the navigation and jumps users down to the main content when selected.</p>
{%- endcall %}

{% call components.section("Sample component") -%}
<img src="{{ '/assets/avatar/avatar-sample-white.png' | url }}" alt="Example of an avatar with attribution">
{%- endcall %}

{% call components.section("Component status") -%}
<rhds-component-status component="Skip to main content"></rhds-component-status>
{%- endcall %}

{# {% call components.section("Demo") -%}
<p>View a live version of this component and see how it can be customized.</p>
<pfe-cta>
    <a href="https://patternfly.github.io/patternfly-elements/demo/?path=/story/avatar--pfe-avatar">View component</a>
  </pfe-cta>
{%- endcall %} #}


  {% call components.section("Style") -%}
    <p>Skip to main content is a styled link that consists of a text label and a background container. Even though it looks like a Button, it functions more like a jump link.</p>
    
    {% call components.example(palette='light') %}
      <img src="{{ '/assets/avatar/avatar-sample-light.png' | url }}" alt="Examples of light avatar appearance">
    {%- endcall %}


  {%- endcall %}


<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Usage") -%}
  <p>A skip to main content link helps some users browse the web more effectively. It should be invisible on every page as a commitment to accessibility.</p>

{%- endcall %}

<hr class="margin-top--2 margin-bottom--10">

{% call components.section("Best practices") -%}
  <p>Don’t apply the skip to main content link style to other components.</p>

  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-wrong-without-text.png' | url }}">
  </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Behavior") -%}

  <p>When a user presses the Tab key upon page load, the skip to main content link will appear centered at the top above the navigation. When a user presses the Enter key, the page will move down and the focus indicator should highlight the main content.</p>

  {% call components.example(palette='light') %}
  <div class="multi-column--min-200-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-responsive-1.png' | url }}">
  </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">


{% call components.section("Spacing") -%}
<p>A skip to main content link uses <a href="https://www.patternfly.org/v4/design-guidelines/styles/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/avatar/avatar-spacing-1.png' | url }}">
    </div>
  {%- endcall %}
  
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

<div class="multi-column--min-300-wide">
  {% call components.section("Related components") -%}
    <p><a href="#">Call to action</a></p> <!-- future link -->
    <p><a href="#">Button</a></p> <!-- future link -->
  {%- endcall %}

  {% call components.section("Feedback") -%}
    <p>For feedback and bug reports, create an issue <a href="https://github.com/patternfly/patternfly-elements"> in our GitHub repository.</p>
  {%- endcall %}
</div>
