---
layout: _templates/layout-basic.njk
title: Tabs
tags:
  - component
includeComponent:
  - pfe-tabs
---

{% import '_templates/component/components.njk' as components %}

{% call components.section("Overview") -%}
<p>Tabs are used to organize and navigate between sections of content. They feature a horizontal or a vertical list of section text labels with a content panel below or to the right of the component.</p>
{%- endcall %}

{% call components.section("Sample component") -%}

<h3>Open tabs</h3>
<pfe-tabs pfe-variant="wind">
    <pfe-tab slot="tab" role="heading">Consequat nisi</pfe-tab>
    <pfe-tab-panel slot="panel" role="region">
        <h3 style="padding:0;margin:0 0 24px;">Tab heading 1</h3>
        <p style="padding:0;margin:0 0 24px;">Mi ut adipiscing nec porttitor a dis tempor mauris maecenas ullamcorper nisi vulputate mus massa augue et parturient felis luctus adipiscing.Vivamus suspendisse fringilla a dictum justo diam vestibulum et mollis magna mus natoque a potenti nam.</p>
        <pfe-cta>
            <a href="#">Learn more</a>
        </pfe-cta>
    </pfe-tab-panel>
    <pfe-tab slot="tab" role="heading">Minim elit</pfe-tab>
    <pfe-tab-panel slot="panel" role="region">
        <h3 style="padding:0;margin:0 0 24px;">Tab heading 2</h3>
        <p style="padding:0;margin:0 0 24px;">Fugiat ullamco qui occaecat Lorem qui pariatur quis cillum. Duis commodo dolor ad anim cillum. Incididunt elit ullamco in laborum in. Dolor ipsum laborum nisi exercitation do aute velit. Elit veniam velit qui ex ullamco.</p>
        <pfe-cta>
            <a href="#">Get started</a>
        </pfe-cta>
    </pfe-tab-panel>
    <pfe-tab slot="tab" role="heading">Officia duis</pfe-tab>
    <pfe-tab-panel slot="panel" role="region">
        <h3 style="padding:0;margin:0 0 24px;">Tab heading 3</h3>
        <p style="padding:0;margin:0 0 24px;">Erat malesuada a nisl ornare nam per urna in nam conubia vulputate ullamcorper felis vestibulum leo massa massa tincidunt adipiscing porttitor cubilia mattis semper ultrices felis habitasse a semper a.Condimentum ridiculus nisl ullamcorper adipiscing natoque adipiscing quam litora a suspendisse a torquent tincidunt diam ornare at.</p>
        <pfe-cta>
            <a href="#">View the info</a>
        </pfe-cta>
    </pfe-tab-panel>
</pfe-tabs>

<h3>Box tabs</h3>
<pfe-tabs pfe-variant="earth">
    <pfe-tab slot="tab" role="heading">Consequat nisi</pfe-tab>
    <pfe-tab-panel slot="panel" role="region">
        <h3 style="padding:0;margin:0 0 24px;">Tab heading 1</h3>
        <p style="padding:0;margin:0 0 24px;">Mi ut adipiscing nec porttitor a dis tempor mauris maecenas ullamcorper nisi vulputate mus massa augue et parturient felis luctus adipiscing.Vivamus suspendisse fringilla a dictum justo diam vestibulum et mollis magna mus natoque a potenti nam.</p>
        <pfe-cta>
            <a href="#">Learn more</a>
        </pfe-cta>
    </pfe-tab-panel>
    <pfe-tab slot="tab" role="heading">Minim elit</pfe-tab>
    <pfe-tab-panel slot="panel" role="region">
        <h3 style="padding:0;margin:0 0 24px;">Tab heading 2</h3>
        <p style="padding:0;margin:0 0 24px;">Fugiat ullamco qui occaecat Lorem qui pariatur quis cillum. Duis commodo dolor ad anim cillum. Incididunt elit ullamco in laborum in. Dolor ipsum laborum nisi exercitation do aute velit. Elit veniam velit qui ex ullamco.</p>
        <pfe-cta>
            <a href="#">Get started</a>
        </pfe-cta>
    </pfe-tab-panel>
    <pfe-tab slot="tab" role="heading">Officia duis</pfe-tab>
    <pfe-tab-panel slot="panel" role="region">
        <h3 style="padding:0;margin:0 0 24px;">Tab heading 3</h3>
        <p style="padding:0;margin:0 0 24px;">Erat malesuada a nisl ornare nam per urna in nam conubia vulputate ullamcorper felis vestibulum leo massa massa tincidunt adipiscing porttitor cubilia mattis semper ultrices felis habitasse a semper a.Condimentum ridiculus nisl ullamcorper adipiscing natoque adipiscing quam litora a suspendisse a torquent tincidunt diam ornare at.</p>
        <pfe-cta>
            <a href="#">View the info</a>
        </pfe-cta>
    </pfe-tab-panel>
</pfe-tabs>

{%- endcall %}

{% call components.section("Component status") -%}
<rhds-component-status component="Tabs"></rhds-component-status>
{%- endcall %}

{% call components.section("Demo") -%}
<p>View live versions of these components and see how they can be customized.</p>
<pfe-cta>
    <a href="https://patternfly.github.io/patternfly-elements/demo/?path=/story/tabs--pfe-tabs">View component via PatternFly Elements</a>
  </pfe-cta>
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Style") -%}
  <p>
      Tabs can be used in light and dark themes and there are two variants to choose from. Open tabs feature a more understated or cleaner visual style whereas Box tabs feature a familiar box or container visual style.
  </p>
  <!-- Anatomy image with sketch -->

{% call components.example(palette='light') %}
  <div class="margin-top--4 centered margin-bottom--4">
    <img src="{{ '/assets/tabs/tabs-style.svg' | url }}" alt="Examples of tabs style">
  </div>
{%- endcall %}


<h2>Theme</h2>

{% call components.example(palette='light') %}
  <div class="margin-top--4 centered margin-bottom--4">
    <img src="{{ '/assets/tabs/tabs-theme-light.svg' | url }}" alt="Light theme tabs" style="--inline-img-max-width: 872px;">
  </div>
{%- endcall %}

{% call components.example(palette='darkest') %}
  <div class="margin-top--4 centered margin-bottom--4">
    <img src="{{ '/assets/tabs/tabs-theme-dark.svg' | url }}" alt="Dark theme tabs" style="--inline-img-max-width: 872px;">
  </div>
{%- endcall %}

{% call components.example(palette='light') %}
  <div class="margin-top--4 centered margin-bottom--4">
    <img src="{{ '/assets/tabs/tabs-box-light.svg' | url }}" alt="Light theme box tabs" style="--inline-img-max-width: 872px;">
  </div>
{%- endcall %}

{% call components.example(palette='darkest') %}
  <div class="margin-top--4 centered margin-bottom--4">
    <img src="{{ '/assets/tabs/tabs-box-dark.svg' | url }}" alt="Dark theme box tabs" style="--inline-img-max-width: 872px;">
  </div>
{%- endcall %}

<h2>Orientation</h2>

<p>Both Tab variants have horizontal and vertical orientations. The styles are the same between orientations, only the arrangement of elements is different.</p>

<p>Open tabs feature section text labels that float above the anchor line in the horizontal orientation or to the right of the anchor line in the vertical orientation.</p>

{% call components.example(palette='lightest') %}
  <div class="margin-top--4 inline-stacked margin-bottom--4">
    <img src="{{ '/assets/tabs/tabs-orientation-center.svg' | url }}" alt="Open tabs orientation" style="--inline-img-max-width: 872px;">
    <img src="{{ '/assets/tabs/tabs-orientation-overflow.svg' | url }}" alt="Open tabs orientation" style="--inline-img-max-width: 708px;">
    <img src="{{ '/assets/tabs/tabs-orientation-vertical.svg' | url }}" alt="Open tabs orientation" style="--inline-img-max-width: 85px;">
  </div>
{%- endcall %}

<p>Box tabs feature section text labels that are contained in a background and are aligned to the bottom of the anchor line in the horizontal orientation or to the left of the anchor line in the vertical orientation.</p>

  {% call components.example(palette='lightest') %}
    <div class="margin-top--4 inline-stacked margin-bottom--4">
      <img src="{{ '/assets/tabs/tabs-orientation-box.svg' | url }}" alt="Box tabs orientation" style="--inline-img-max-width: 872px;">
      <img src="{{ '/assets/tabs/tabs-orientation-box-overflow.svg' | url }}" alt="Box tabs orientation" style="--inline-img-max-width: 708px;">
      <img src="{{ '/assets/tabs/tabs-orientation-box-vertical.svg' | url }}" alt="Box tabs orientation" style="--inline-img-max-width: 102px;">
    </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Usage") -%}
  <p>Tabs are used for navigating between sections of content in a contained view while staying on the same page. Tabs aren't an optimal component for comparing content simultaneously, use an Accordion instead.</p>

  <h3>Navigation</h3>

  <p>Navigating through each section should display different blocks of content, but not direct users to another page, unless they select a link in the content area.<p>

  <h3>Label formatting</h3>

  <p>Section text labels should be written concisely and be representative of the content within. Be mindful of lengthy character counts and how they can impact the appearance of both variants, especially on smaller screens or if they're translated.</p>

  <h3>Content area</h3>

  <p>A content panel is located below or to the right of the component, depending on horizontal or vertical orientation. It may contain the same elements that can also be used in other sections of the page, like text, cards, images, etc. Text shouldn’t exceed eight grid columns to maintain optimal readability.</p>

    <div class="margin-top--4 inline-stacked margin-bottom--4">
      <img src="{{ '/assets/tabs/tabs-usage-content-desktop.svg' | url }}" alt="Aligning content in tabs">

      <img src="{{ '/assets/tabs/tabs-usage-content-overflow.svg' | url }}" alt="Aligning content in tabs" style="--inline-img-max-width: 708px;">

      <img src="{{ '/assets/tabs/tabs-usage-content-vertical.svg' | url }}" alt="Aligning content in tabs">
    </div>

{%- endcall %}

<hr class="margin-top--2 margin-bottom--10">

{% call components.section("Best practices") -%}
  <p>Tabs require at least two sections be available for users to navigate through.</p>

  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/tabs/tabs-best-practices-1.svg' | url }}" alt="Tab issue, not enough labels" style="--inline-img-max-width: 872px;">
  </div>
  {%- endcall %}

  <p>Don’t use more than five section text labels in the horizontal orientation.</p>

  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/tabs/tabs-best-practices-2.svg' | url }}" alt="Tab issue, too many" style="--inline-img-max-width: 872px;">
  </div>
  {%- endcall %}

  <p>Don’t add extra spacing in between section text labels.</p>
  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/tabs/tabs-best-practices-3.svg' | url }}" alt="Tab issue, extra spacing" style="--inline-img-max-width: 872px;">
  </div>
  {%- endcall %}

  <p>Don’t change the alignment of section text label groups.</p>
  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/tabs/tabs-best-practices-4.svg' | url }}" alt="Tab issue, wrong alignment" style="--inline-img-max-width: 872px;">
  </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Behavior") -%}
<h3>Section text labels</h3>
<p>When a different section is clicked on or tapped, the active indicator bar highlights the chosen section and the content below or to the right of the component changes at the same time.</p>

<h3>Overflow scroll buttons</h3>
<p>Overflow scroll buttons can only be used in the horizontal orientation. They help users view any section text labels that are cut off. Don’t use lengthy or too many section text labels and be mindful of how they can impact the appearance of tabs, especially on smaller screens or if they’re translated.</p>

{% call components.example(palette='lightest') %}
  <div class="centered margin-top--4 margin-bottom--4">
    <img src="{{ '/assets/tabs/tabs-behavior-overflow.svg' | url }}" alt="Overflow scroll buttons" style="--inline-img-max-width: 708px;">
  </div>
{%- endcall %}

<p class="footnote">Overflow scroll buttons will appear if the number of section text labels exceeds the width of either horizontal variant.</p>

<h3>Responsive design</h3>
<p>Default avatars with text can be used on desktop and mobile. If text that's positioned on the right becomes too compressed, it will flow under and its alignment will change to centered. On mobile, Default avatars with text always stack vertically.</p>

<h3>Mobile</h3>
<p>Tabs can’t be used on screens that are less than 576px wide because the limited space will cause too many section text labels to get cut off. In this environment, tabs will convert to an accordion.</p>

    <div class="multi-column--min-300-wide">

      {% call components.example(palette='light') %}
          <div class="margin-top--4 centered margin-bottom--4">
            <img src="{{ '/assets/tabs/tabs-behavior-overflow-mobile-wrong.svg' | url }}" alt="Overflow scroll buttons wrong" style="--inline-img-max-width: 340px;">
          </div>
      {%- endcall %}

      {% call components.example(palette='light') %}
          <div class="margin-top--4 centered margin-bottom--4">
            <img src="{{ '/assets/tabs/tabs-behavior-overflow-mobile-right.svg' | url }}" alt="Overflow scroll buttons accordion" style="--inline-img-max-width: 340px;">
          </div>
      {%- endcall %}

    </div>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Breakpoints") -%}
<p>Tabs can be used on a variety of screen sizes, but be mindful of how the group of section text labels will scale down on smaller screens.</p>

 <h3>Desktop</h3>

 <div class="inline-stacked">

   <img src="{{ '/assets/tabs/tabs-responsive-desktop.svg' | url }}" alt="Desktop width for tabs">

  <img src="{{ '/assets/tabs/tabs-responsive-vertical-desktop.svg' | url }}" alt="Desktop width for tabs">

  </div>

<p class="footnote margin-top--4">Large screens have lots of space where all of the section text labels can be seen.</p>
  

 <h3>Tablet</h3>

    <div class="inline-stacked">

   <img src="{{ '/assets/tabs/tabs-responsive-tablet.svg' | url }}" alt="Desktop width for tabs" style="--inline-img-max-width: 768px;">

  <img src="{{ '/assets/tabs/tabs-responsive-vertical-tablet.svg' | url }}" alt="Tablet width for tabs" style="--inline-img-max-width: 768px;">

  </div>

<p class="footnote margin-top--4">Sometimes one or two section text labels will get cut off or break to two lines, which is acceptable.</p>
  

 <h3>Mobile</h3>

<div class="multi-column--min-300-wide">

  <div>
      <img src="{{ '/assets/tabs/tabs-responsive-mobile.svg' | url }}" alt="Tabs on mobile" style="--inline-img-max-width: 360px;">
  </div>

  <div>
      <img src="{{ '/assets/tabs/tabs-responsive-vertical-mobile.svg' | url }}" alt="Tabs on mobile vertical" style="--inline-img-max-width: 360px;">
  </div>

</div>
  
<p class="footnote margin-top--4">Don’t use tabs on mobile because too many section text labels will get cut off or severely compressed.</p>
  
{%- endcall %}


{% call components.section("Interaction states") -%}
<p>The interaction states in the horizontal orientation are the same as the vertical orientation of the same variant. View the live components below to experience their various interaction states.</p>

<h3>Open tabs</h3>
<pfe-tabs pfe-variant="wind">
    <pfe-tab slot="tab" role="heading">Consequat nisi</pfe-tab>
    <pfe-tab-panel slot="panel" role="region">
        <h3 style="padding:0;margin:0 0 24px;">Tab heading 1</h3>
        <p style="padding:0;margin:0 0 24px;">Mi ut adipiscing nec porttitor a dis tempor mauris maecenas ullamcorper nisi vulputate mus massa augue et parturient felis luctus adipiscing.Vivamus suspendisse fringilla a dictum justo diam vestibulum et mollis magna mus natoque a potenti nam.</p>
        <pfe-cta>
            <a href="#">Learn more</a>
        </pfe-cta>
    </pfe-tab-panel>
    <pfe-tab slot="tab" role="heading">Minim elit</pfe-tab>
    <pfe-tab-panel slot="panel" role="region">
        <h3 style="padding:0;margin:0 0 24px;">Tab heading 2</h3>
        <p style="padding:0;margin:0 0 24px;">Fugiat ullamco qui occaecat Lorem qui pariatur quis cillum. Duis commodo dolor ad anim cillum. Incididunt elit ullamco in laborum in. Dolor ipsum laborum nisi exercitation do aute velit. Elit veniam velit qui ex ullamco.</p>
        <pfe-cta>
            <a href="#">Get started</a>
        </pfe-cta>
    </pfe-tab-panel>
    <pfe-tab slot="tab" role="heading">Officia duis</pfe-tab>
    <pfe-tab-panel slot="panel" role="region">
        <h3 style="padding:0;margin:0 0 24px;">Tab heading 3</h3>
        <p style="padding:0;margin:0 0 24px;">Erat malesuada a nisl ornare nam per urna in nam conubia vulputate ullamcorper felis vestibulum leo massa massa tincidunt adipiscing porttitor cubilia mattis semper ultrices felis habitasse a semper a.Condimentum ridiculus nisl ullamcorper adipiscing natoque adipiscing quam litora a suspendisse a torquent tincidunt diam ornare at.</p>
        <pfe-cta>
            <a href="#">View the info</a>
        </pfe-cta>
    </pfe-tab-panel>
</pfe-tabs>

<h3>Box tabs</h3>
<pfe-tabs pfe-variant="earth">
    <pfe-tab slot="tab" role="heading">Consequat nisi</pfe-tab>
    <pfe-tab-panel slot="panel" role="region">
        <h3 style="padding:0;margin:0 0 24px;">Tab heading 1</h3>
        <p style="padding:0;margin:0 0 24px;">Mi ut adipiscing nec porttitor a dis tempor mauris maecenas ullamcorper nisi vulputate mus massa augue et parturient felis luctus adipiscing.Vivamus suspendisse fringilla a dictum justo diam vestibulum et mollis magna mus natoque a potenti nam.</p>
        <pfe-cta>
            <a href="#">Learn more</a>
        </pfe-cta>
    </pfe-tab-panel>
    <pfe-tab slot="tab" role="heading">Minim elit</pfe-tab>
    <pfe-tab-panel slot="panel" role="region">
        <h3 style="padding:0;margin:0 0 24px;">Tab heading 2</h3>
        <p style="padding:0;margin:0 0 24px;">Fugiat ullamco qui occaecat Lorem qui pariatur quis cillum. Duis commodo dolor ad anim cillum. Incididunt elit ullamco in laborum in. Dolor ipsum laborum nisi exercitation do aute velit. Elit veniam velit qui ex ullamco.</p>
        <pfe-cta>
            <a href="#">Get started</a>
        </pfe-cta>
    </pfe-tab-panel>
    <pfe-tab slot="tab" role="heading">Officia duis</pfe-tab>
    <pfe-tab-panel slot="panel" role="region">
        <h3 style="padding:0;margin:0 0 24px;">Tab heading 3</h3>
        <p style="padding:0;margin:0 0 24px;">Erat malesuada a nisl ornare nam per urna in nam conubia vulputate ullamcorper felis vestibulum leo massa massa tincidunt adipiscing porttitor cubilia mattis semper ultrices felis habitasse a semper a.Condimentum ridiculus nisl ullamcorper adipiscing natoque adipiscing quam litora a suspendisse a torquent tincidunt diam ornare at.</p>
        <pfe-cta>
            <a href="#">View the info</a>
        </pfe-cta>
    </pfe-tab-panel>
</pfe-tabs>

<h3>Tab order</h3>
<p>When the Tab key is pressed repeatedly, the focus indicator highlights each section text label from left to right in the horizontal component or from top to bottom in the vertical component.</p>

  {% call components.example(palette='light') %}
  <div class="multi-column--min-300-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/tabs/tabs-interaction-states.svg' | url }}" alt="Tabs tab order" style="--inline-img-max-width: 872px;">
  </div>
  {%- endcall %}
  
  {%- endcall %}

  <hr class="margin-top--10 margin-bottom--10">

{% call components.section("Spacing") -%}
<p>Tabs use <a href="https://www.patternfly.org/v4/design-guidelines/styles/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

<h3>Open tabs</h3>

    {% call components.example(palette='light') %}
  <div class="multi-column--min-300-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/tabs/tabs-open-spacing.svg' | url }}" alt="Open tabs spacing" style="--inline-img-max-width: 872px;">
  </div>
  {%- endcall %}

  <h3>Box tabs</h3>

    {% call components.example(palette='light') %}
  <div class="multi-column--min-300-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/tabs/tabs-spacing-box.svg' | url }}" alt="Box tabs spacing" style="--inline-img-max-width: 872px;">
  </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

<div class="multi-column--min-300-wide">
  {% call components.section("Related components") -%}
    <section class="related">
      <ul>
        <li><a href="../accordion">Accordion</a></li>
        <li><a href="../jump-links">Jump links</a></li>
      </ul>
    </section>
  {%- endcall %}

  {% call components.section("Feedback") -%}
    <p>For feedback and bug reports concerning PatternFly Elements components, create an issue <a href="https://github.com/patternfly/patternfly-elements">in the GitHub repository</a>. </p>
  {%- endcall %}
</div>
