---
layout: _templates/layout-basic.njk
title: Tabs
tags:
  - component
---

{% import '_templates/component/components.njk' as components %}

{% call components.section("Overview") -%}
<p>Accordions toggle the visibility of sections of content. They feature panels that consist of a section text label and a caret icon that collapses or expands to reveal more information.</p>
{%- endcall %}

{% call components.section("Sample component") -%}

<pfe-accordion>
    <pfe-accordion-header>
        <h2>In qui laboris ex consequat et anim commodo nostrud</h2>
    </pfe-accordion-header>
    <pfe-accordion-panel>
        <p>Nostrud amet excepteur in culpa voluptate nulla cillum fugiat voluptate. Eiusmod ad fugiat minim qui Lorem Lorem veniam nulla cupidatat incididunt adipisicing incididunt mollit ut. Est laboris eiusmod consectetur laborum fugiat pariatur consectetur exercitation proident. Est adipisicing eiusmod consequat exercitation ipsum. Fugiat quis nulla cupidatat duis deserunt exercitation velit sint magna cillum. Ut cillum do ea nulla irure ipsum magna proident.</p>
        <p>Proident aliqua ut velit occaecat. Laboris est Lorem labore adipisicing anim esse ipsum tempor in quis sit enim est aliquip. Magna dolor aliqua deserunt excepteur duis laborum culpa deserunt anim nulla anim dolore irure in.</p>
        <p>Veniam incididunt exercitation sunt pariatur nisi in consequat sunt aliquip qui ullamco dolore Lorem eiusmod. Dolor magna cillum mollit est ut eu cillum id ea enim amet. Ullamco eiusmod adipisicing quis ut non minim pariatur irure. Cillum ut ex consequat veniam Lorem sunt ut aliqua.</p>
        <p>Amet fugiat ullamco sunt nisi culpa esse reprehenderit enim Lorem quis. Id veniam excepteur enim reprehenderit pariatur deserunt esse enim ipsum. Anim proident incididunt occaecat magna magna eu esse commodo. Ad adipisicing nulla cupidatat id excepteur proident fugiat irure incididunt mollit sit enim anim est.</p>
        <p>Proident aliqua minim laboris non. Aliqua enim commodo cupidatat quis. Commodo excepteur qui laboris eu do. Irure eu ex ullamco eiusmod sint fugiat adipisicing pariatur et eu cupidatat adipisicing. Id nulla proident incididunt aute aute officia proident duis tempor id adipisicing est nulla in. Aute aute labore voluptate labore eu. Eiusmod laboris cupidatat sit in ipsum ea voluptate nostrud culpa labore esse pariatur irure amet.</p>
        <p>Non aliquip exercitation proident laborum anim anim. Incididunt incididunt proident fugiat dolore cillum culpa in. Voluptate ea ex nulla dolor exercitation aute anim proident eiusmod cillum. Laboris ullamco eu amet Lorem amet consequat cupidatat mollit excepteur. Duis officia tempor deserunt et in non et ut.</p>
        <p>Tempor incididunt fugiat amet nisi magna elit aliqua veniam non adipisicing. Consectetur enim ut ad aute esse. Aliqua exercitation nulla ut sit esse cillum aliquip excepteur consectetur ex ipsum sit labore. Proident eu ex veniam sunt aliquip laborum ex tempor non velit duis adipisicing consequat eiusmod.</p>
    </pfe-accordion-panel>
    <pfe-accordion-header>
        <h2>Velit occaecat excepteur esse sint ad amet</h2>
    </pfe-accordion-header>
    <pfe-accordion-panel>
        <p>Deserunt nostrud do enim consequat occaecat minim reprehenderit duis reprehenderit veniam aliquip. Occaecat qui ex ad irure Lorem anim ad consequat ad eu irure commodo excepteur anim. Consectetur laborum ex magna do proident.</p>
        <p>Id do veniam aute laborum duis non officia officia sint enim. Eu esse Lorem esse incididunt labore labore. Velit pariatur reprehenderit nostrud eu veniam dolor irure sint nostrud tempor elit. Aute laborum do cillum voluptate est reprehenderit officia nostrud voluptate irure adipisicing esse tempor adipisicing. Minim incididunt enim elit eiusmod commodo dolor quis in duis. Incididunt cupidatat aute nisi laboris nisi occaecat anim pariatur voluptate consectetur esse excepteur enim laborum.</p>
        <p>Nostrud mollit amet consequat aliqua laborum velit cupidatat laboris adipisicing nulla consectetur ullamco deserunt. Eiusmod veniam velit aliquip nostrud incididunt ipsum ullamco occaecat quis est laboris commodo. Laborum adipisicing dolor ad velit amet id incididunt.</p>
    </pfe-accordion-panel>
    <pfe-accordion-header>
        <h2>Exercitation cupidatat occaecat ut eiusmod eu aliqua Lorem tempor nostrud dolor voluptate duis</h2>
    </pfe-accordion-header>
    <pfe-accordion-panel>
        <p>Labore ipsum minim exercitation commodo reprehenderit. Velit excepteur aliqua ut consectetur. Eiusmod velit elit sit aliquip. Sint id cupidatat commodo ad ea laboris aliqua veniam magna cupidatat occaecat anim commodo. Laboris dolor esse excepteur sunt et. Cillum aliquip eiusmod exercitation proident eu ullamco qui magna fugiat elit tempor deserunt aliqua. Qui sint dolor est do sunt ut ex est dolor consequat.</p>
        <p>Voluptate dolore nulla irure dolor eiusmod. Sunt do consectetur sit aute sit ea sint ea aute aute sit Lorem veniam. Id duis sit amet voluptate ipsum commodo excepteur. Eiusmod consequat laboris proident enim duis Lorem magna.</p>
        <p>Cillum amet cillum aute enim. Dolor eu laborum elit laborum proident ex eiusmod labore aliqua nostrud veniam proident. Aute enim deserunt culpa ea aliqua est esse ea eu occaecat. Ipsum voluptate sit dolore veniam deserunt labore do id laboris fugiat eu. Officia aute minim sint exercitation ipsum mollit ex anim dolor culpa consectetur non. Cillum id Lorem consectetur amet irure cillum eiusmod reprehenderit ut fugiat dolor ea mollit est.</p>
        <p>Magna cillum sint Lorem sint amet anim do qui laboris. Proident irure consequat exercitation enim labore ullamco occaecat qui nulla. Ut fugiat in sit elit velit id voluptate laborum exercitation ipsum aliqua consectetur sint. Voluptate do reprehenderit aliqua esse dolore dolor adipisicing consectetur consequat cillum aute sint. Exercitation amet do mollit in dolore qui magna mollit dolore elit esse.</p>
        <p>Ipsum eiusmod adipisicing ullamco irure adipisicing ad exercitation magna. Eiusmod ex Lorem velit qui laboris labore quis in sunt. Deserunt duis incididunt do officia dolore ullamco irure ullamco nostrud esse Lorem eiusmod velit. Enim non do proident cupidatat officia qui labore laboris in velit.</p>
    </pfe-accordion-panel>
    <pfe-accordion-header>
        <h2>Lorem occaecat exercitation pariatur esse non anim magna Lorem</h2>
    </pfe-accordion-header>
    <pfe-accordion-panel>
        <p>Enim labore fugiat irure amet reprehenderit sint ipsum nulla id non Lorem excepteur esse. Dolor ullamco ad voluptate in ut anim laborum nulla occaecat commodo nulla aliqua et laborum. Dolore fugiat culpa dolore nostrud irure aliquip magna occaecat cillum. Proident irure deserunt magna deserunt mollit nisi. Ad dolore nulla et amet sunt aute.</p>
        <p>Labore duis ullamco amet ut et aliquip Lorem. Culpa commodo occaecat deserunt ad nostrud ipsum incididunt incididunt. Ullamco nulla id officia aliquip cupidatat ea. Nulla aliquip culpa ipsum laborum. Fugiat in anim cupidatat anim minim sint anim deserunt pariatur irure veniam.</p>
        <p>Adipisicing laborum ut occaecat culpa ea fugiat ut mollit nostrud magna. Et eiusmod non ut ut exercitation et mollit. Tempor adipisicing aliqua aliqua aute adipisicing Lorem irure id. Velit magna cupidatat nisi cupidatat est pariatur sint voluptate consequat cillum officia non non. Anim in do commodo amet laboris nisi cupidatat excepteur excepteur Lorem qui aliquip occaecat. Quis exercitation labore occaecat dolor aute laboris labore sit minim. Cillum excepteur quis ea consectetur labore nulla veniam sint Lorem Lorem sit.</p>
        <p>Nulla ut sit fugiat sit ipsum eu consectetur quis ut aliquip duis consequat quis. Ipsum aliquip officia tempor culpa sint consequat consectetur excepteur sunt commodo irure deserunt. Non mollit esse in qui exercitation aliqua id laboris excepteur laboris sunt ullamco. Incididunt sit do est veniam esse sint minim reprehenderit. Do ea exercitation Lorem esse aute in nostrud exercitation. Cillum excepteur ea officia Lorem in minim id exercitation elit commodo. Aliqua do nisi ipsum ipsum est sint.</p>
    </pfe-accordion-panel>
    <pfe-accordion-header>
        <h2>Mollit labore amet occaecat adipisicing dolore esse consectetur mollit</h2>
    </pfe-accordion-header>
    <pfe-accordion-panel>
        <p>Magna aute voluptate id commodo in commodo qui quis tempor fugiat magna amet anim sint. Voluptate aliqua excepteur labore enim aliqua esse nostrud anim deserunt ut ipsum sit ullamco. Mollit aliquip mollit enim excepteur adipisicing. Non ea ad deserunt aute aliquip dolore est do laborum consequat mollit. Ex ad cupidatat excepteur nulla commodo proident esse elit duis pariatur id enim irure. Dolor anim officia sint officia ad labore.</p>
        <p>Mollit non veniam ipsum culpa tempor Lorem. Dolor elit minim minim et sint dolor ipsum incididunt deserunt. Excepteur dolore laboris eu ea eiusmod duis commodo ut. Adipisicing sit ea in enim dolore. Ullamco dolor exercitation consectetur enim. Aute non laborum deserunt esse cillum sit id sit pariatur occaecat. Ipsum nulla sunt fugiat eu duis aliquip exercitation fugiat et pariatur non pariatur.</p>
        <p>Pariatur pariatur laborum anim in ad. Velit dolore Lorem nostrud elit amet tempor anim. Ad laboris adipisicing velit officia qui id adipisicing velit exercitation.</p>
        <p>Cupidatat enim irure ipsum eu minim enim ea excepteur commodo commodo qui fugiat in nisi. Ut sit exercitation mollit est in ipsum exercitation. Officia irure cupidatat sunt aliquip ea dolor fugiat id qui qui officia dolor qui do. Amet reprehenderit sit cillum excepteur cillum fugiat et quis quis deserunt voluptate esse excepteur. Ipsum deserunt aute reprehenderit mollit pariatur fugiat voluptate dolor aute non laboris labore dolor ad. Aute dolor officia voluptate laboris nisi culpa excepteur enim duis qui consequat laboris.</p>
    </pfe-accordion-panel>
</pfe-accordion>

{%- endcall %}

{% call components.section("Component status") -%}
<rhds-component-status component="Accordion"></rhds-component-status>
{%- endcall %}

{% call components.section("Demo") -%}
<p>View a live version of this component and see how it can be customized.</p>
<pfe-cta>
    <a href="https://patternfly.github.io/patternfly-elements/demo/?path=/story/accordion--pfe-accordion">View component</a>
  </pfe-cta>
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Style") -%}
  <p>Accordions can be used in light and dark themes. They consist of vertically-stacked panels that are separated by a thin line when collapsed. Every panel contains a section text label and a caret icon that rotates to indicate if a panel is collapsed or expanded. When a panel is expanded, it includes different styling that consists of an active border on the left and a slight drop shadow, also used for a Disclosure.</p>
  <!-- Anatomy image with sketch -->

{% call components.example(palette='light') %}
  <img src="{{ '/assets/avatar/avatar-sample-light.png' | url }}" alt="Examples of light avatar appearance">
{%- endcall %}

{% call components.example(palette='darkest') %}
  <img src="{{ '/assets/avatar/avatar-sample-dark.png' | url }}" alt="Examples of dark avatar appearance">
{%- endcall %}

<h2>Theme</h2>

<img src="http://www.placehold.it/1200x300"/>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Usage") -%}
  <p>Accordions are used for organizing blocks of content into sections in a contained space, like product information. This enables users to hide or reveal information as needed without being directed to another page unless they select an interactive element. Accordions are optimal components for comparing content because a user can expand multiple panels simultaneously.</p>

  <p>Accordions are great for organizing content while reducing page scrolling at the same time, but a user could miss critical information if it’s hidden or if they have to expand too many panels. Consider if an accordion really needs to be used. If content is critical or if it requires more focus to read, don’t use an accordion.</p>

  <h3>Usage vs. Disclosure</h3>

  <p>Accordions need to have at least two section panels. If only one panel is needed, use a Disclosure instead. Accordions are used to organize more important information whereas a disclosure is used to store supplementary content that might not be a crucial part of the user experience.</p>

  <p>Accordions feature slightly different styles than a disclosure. Accordions have the caret icon placed on the right after the section text label whereas a disclosure has the caret icon positioned on the left before the section text label.<p>

  <h3>Label formatting</h3>

  <p>Section text labels should be written concisely and be representative of the content within. Be mindful of lengthy character counts and how they’ll impact the appearance of accordions, especially on smaller screens or if they’re translated.</p>

  <h3>Content area</h3>

  <p>When a panel is expanded, it contains a content area under the section text label and the caret icon. It may contain the same elements that can also be used in other sections of a page, like text, cards, images, etc. Text shouldn’t exceed eight grid columns to maintain optimal readability.</p>

{%- endcall %}

<hr class="margin-top--2 margin-bottom--10">

{% call components.section("Best practices") -%}
  <p>Accordions require at least two panels. If only one panel is needed, use a disclosure instead.</p>

  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-wrong-without-text.png' | url }}">
  </div>
  {%- endcall %}

  <p>Text inside panels shouldn’t exceed eight grid columns to maintain optimal readability.</p>

  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-wrong-theme.png' | url }}">
  </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Behavior") -%}

  <h3>States</h3>
  <p>Accordions can be collapsed and expanded to hide or reveal information when toggled. By default, they load with all panels collapsed (this can be customized), allowing users to get a high-level overview of the content.</p>

  <h3>Collapsing and expanding</h3>
  <p>Accordion panels can be collapsed or expanded by clicking on or tapping the container where the section text label and the caret icon are positioned. When a panel is collapsed, the caret icon points to the right. When a panel expands, the caret icon rotates 90º and points down, revealing the content inside.</p>

  {% call components.example(palette='light') %}
  <div class="multi-column--min-300-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-behavior-1.png' | url }}">
  </div>
  {%- endcall %}

  <h3>Multiple panels</h3>
  <p>Multiple panels can be expanded simultaneously or they can stack. Expanding one panel doesn’t collapse another which makes it easy to compare content in the same view.</p>

  {% call components.example(palette='light') %}
  <div class="multi-column--min-100-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-responsive-1.png' | url }}">
  </div>
  {%- endcall %}

  <h3>Tab order</h3>
  <p>When the Tab key is pressed repeatedly, the focus indicator moves from top to bottom. When a user expands a panel by pressing the Enter or Space keys, any interactive elements inside are added to the tab order before the focus indicator reaches the next panel.</p>

  {% call components.example(palette='light') %}
  <div class="multi-column--min-100-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-responsive-1.png' | url }}">
  </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Responsive design") -%}
  <p>Accordions work well when used on both large and small screens.</p>

 <h3>Breakpoints</h3>
 <p>Accordions can be used on smaller screens, but the limited screen space makes content taller which might make users scroll more, so be careful about how much content is included.</p>

 <h3>Desktop</h3>
   {% call components.example(palette='light') %}
  <div class="multi-column--min-300-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-behavior-1.png' | url }}">
  </div>
  {%- endcall %}  

 <h3>Tablet</h3>

   {% call components.example(palette='light') %}
  <div class="multi-column--min-300-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-behavior-1.png' | url }}">
  </div>
  {%- endcall %}  

 <h3>Mobile</h3>

   {% call components.example(palette='light') %}
  <div class="multi-column--min-300-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-behavior-1.png' | url }}">
  </div>
  {%- endcall %}
  
{%- endcall %}


{% call components.section("Interaction states") -%}
<p>The interaction states in the collapsed state are the same as the expanded state.</p>

  {% call components.example(palette='light') %}
  <div class="multi-column--min-300-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-behavior-1.png' | url }}">
    <img src="{{ '/assets/avatar/avatar-behavior-2.png' | url }}">
  </div>
  {%- endcall %}
  
  {%- endcall %}

  <hr class="margin-top--10 margin-bottom--10">

{% call components.section("Spacing") -%}
<p>Accordions use <a href="https://www.patternfly.org/v4/design-guidelines/styles/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/avatar/avatar-spacing-1.png' | url }}">
    </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

<div class="multi-column--min-300-wide">
  {% call components.section("Related components") -%}
    <p><a href="#">Disclosure</a></p> <!-- future link -->
    <p><a href="#">Filter</a></p> <!-- future link -->
    <p><a href="#">Tabs</a></p> <!-- future link -->
  {%- endcall %}

  {% call components.section("Feedback") -%}
    <p>For feedback and bug reports, create an issue <a href="https://github.com/patternfly/patternfly-elements"> in our GitHub repository.</p>
  {%- endcall %}
</div>
