---
layout: _templates/layout-basic.njk
title: Tabs
tags:
  - component
includeComponent:
  - pfe-tabs
---

{% import '_templates/component/components.njk' as components %}

{% call components.section("Overview") -%}
<p>Tabs are used to organize and navigate between sections of content. They feature a horizontal or a vertical list of section text labels with a content panel below or to the right of the component.</p>
{%- endcall %}

{% call components.section("Sample component") -%}
<pfe-tabs pfe-variant="wind">
    <pfe-tab slot="tab" role="heading">Consequat nisi</pfe-tab>
    <pfe-tab-panel slot="panel" role="region">
        <p>Ea veniam ea et enim aute. Reprehenderit non incididunt ad sit. Amet cillum ullamco tempor excepteur mollit magna est veniam proident veniam laboris. Duis et ex ea fugiat nisi excepteur labore in aute officia. Eiusmod amet ad amet deserunt qui irure pariatur fugiat laborum labore aliqua consectetur nisi amet. Incididunt duis minim pariatur ullamco consectetur non dolor.</p>
        <p>Amet sunt non amet officia aliqua ad officia dolor nisi dolor deserunt minim ex ad. Tempor enim esse incididunt pariatur occaecat esse eiusmod irure laboris minim duis proident enim velit. Sunt est deserunt proident cupidatat officia. Officia velit in duis ut et qui quis laborum aliqua elit.</p>
        <p>Amet eu cillum id ea pariatur occaecat excepteur occaecat fugiat ullamco. Veniam ea aliqua anim quis ad veniam proident sunt occaecat tempor ea reprehenderit aliqua qui. Consectetur magna non veniam labore laboris irure exercitation non enim exercitation Lorem deserunt aute. Irure Lorem quis sint tempor ex id officia tempor. Duis elit incididunt ex quis nisi Lorem.</p>
        <p>Veniam aliquip sunt occaecat irure nostrud enim. Commodo dolor aliquip sunt magna sit sint est pariatur culpa enim consectetur cupidatat. Officia commodo exercitation cillum velit et deserunt sint. Pariatur sunt nisi eu ad reprehenderit. Veniam occaecat est laborum consequat. Ad ea in ex nostrud enim et pariatur laboris.</p>
        <p>Est commodo tempor excepteur adipisicing eu et. Deserunt incididunt consectetur minim mollit eu adipisicing consequat enim incididunt. Laboris est dolore laboris sunt non ea Lorem. Cillum velit magna id aliqua incididunt reprehenderit pariatur irure. Deserunt elit nostrud nostrud magna deserunt sit do consequat reprehenderit do officia id. Cupidatat enim laborum ex proident. Ullamco deserunt elit sit voluptate pariatur excepteur minim.</p>
        <pfe-cta>
            <a href="#">Learn more</a>
        </pfe-cta>
    </pfe-tab-panel>
    <pfe-tab slot="tab" role="heading">Minim elit</pfe-tab>
    <pfe-tab-panel slot="panel" role="region">
        <p>Fugiat ullamco qui occaecat Lorem qui pariatur quis cillum. Duis commodo dolor ad anim cillum. Incididunt elit ullamco in laborum in. Dolor ipsum laborum nisi exercitation do aute velit. Elit veniam velit qui ex ullamco.</p>
        <p>Pariatur mollit elit duis aliquip pariatur commodo reprehenderit tempor culpa non mollit culpa. Magna magna eu eu ad laborum. Cupidatat et velit consequat tempor irure cillum minim aute nisi ullamco sint. Quis duis esse commodo nostrud elit sunt ea consectetur elit aliqua. In sint anim labore velit dolore eiusmod do laborum dolore ea pariatur est eu.</p>
        <p>Non occaecat cupidatat magna ut non dolore ea incididunt. Adipisicing enim consequat est pariatur fugiat ipsum cillum. Aute incididunt do nisi ad velit sit ullamco.</p>
        <p>Qui minim amet sint anim velit non incididunt cillum dolore exercitation. Ex pariatur fugiat officia culpa fugiat occaecat fugiat pariatur occaecat amet aliquip excepteur. Exercitation in Lorem est proident enim dolor laborum in officia fugiat magna deserunt pariatur aliquip. Dolore dolore commodo nulla in ut cillum anim amet occaecat adipisicing fugiat. Duis culpa eu sint sunt eu.</p>
        <p>Ex amet ea exercitation est ex nostrud exercitation culpa laboris eiusmod. Ut cillum ullamco enim aute cupidatat duis aute eiusmod adipisicing quis excepteur excepteur. Ullamco Lorem culpa laborum labore nulla proident esse officia ipsum est sint voluptate fugiat. Ut quis cupidatat ea nostrud sit voluptate nostrud.</p>
        <pfe-cta>
            <a href="#">Learn more</a>
        </pfe-cta>
    </pfe-tab-panel>
    <pfe-tab slot="tab" role="heading">Officia duis</pfe-tab>
    <pfe-tab-panel slot="panel" role="region">
        <p>Occaecat deserunt culpa Lorem esse. Irure proident culpa deserunt duis anim enim consequat occaecat eu adipisicing laboris. Aute aute ex sint proident in nulla ex culpa dolore exercitation enim sit exercitation. Consequat ea velit reprehenderit mollit cillum incididunt. Tempor commodo Lorem ipsum aliqua occaecat ea. Aliquip laboris ea ad commodo pariatur sit ipsum. Ea laborum ullamco mollit aliqua culpa laborum cupidatat adipisicing officia.</p>
        <p>Nisi consectetur officia nostrud ex in sunt aliquip sit anim officia ullamco. Anim adipisicing id laborum incididunt reprehenderit sit duis commodo ad quis elit dolore. Sint ex ut id ullamco ipsum proident eu. Ipsum consequat qui in cupidatat fugiat mollit tempor mollit. Enim dolor amet fugiat aliquip laborum eiusmod mollit magna minim qui consectetur id. Ad labore mollit sit commodo.</p>
        <p>Anim sint consequat sit dolore adipisicing occaecat dolore anim culpa proident proident dolore deserunt. Eiusmod excepteur deserunt tempor qui deserunt. Excepteur exercitation laborum sunt incididunt esse ea reprehenderit commodo eiusmod amet tempor. Do elit mollit magna consequat et exercitation in eu consequat sint fugiat eu.</p>
        <p>Est excepteur excepteur ea sunt ipsum. Ut veniam pariatur ad nostrud ipsum dolor sint eiusmod excepteur do amet laborum. Et dolore laborum aliquip aliquip labore voluptate eu dolore fugiat officia. Eu aliqua qui in commodo ea aute laborum ea nulla non sint sit. Quis veniam sit incididunt est.</p>
        <p>Aliquip aliqua fugiat ut et. Culpa adipisicing ut duis deserunt consectetur sint quis quis ullamco consectetur. Pariatur ea magna et sint tempor laboris Lorem consequat est. Aliqua tempor adipisicing reprehenderit fugiat sit cupidatat. In ex minim tempor reprehenderit anim veniam qui fugiat culpa nisi excepteur excepteur ullamco. Nulla deserunt ut ut non ex dolor adipisicing aute ex non velit exercitation incididunt labore. In culpa proident culpa ex laborum mollit laboris.</p>
        <pfe-cta>
            <a href="#">Learn more</a>
        </pfe-cta>
    </pfe-tab-panel>
</pfe-tabs>
{%- endcall %}

{% call components.section("Component status") -%}
<rhds-component-status component="Tabs"></rhds-component-status>
{%- endcall %}

{% call components.section("Demo") -%}
<p>View live versions of these components and see how they can be customized.</p>
<pfe-cta>
    <a href="https://patternfly.github.io/patternfly-elements/demo/?path=/story/tabs--pfe-tabs">View component</a>
  </pfe-cta>
{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Style") -%}
  <p>
      Tabs can be used in light and dark themes and there are two variants to choose from. Open tabs feature a more understated or cleaner visual style whereas Box tabs feature a familiar box or container visual style.
  </p>
  <!-- Anatomy image with sketch -->

{% call components.example(palette='light') %}
  <img src="{{ '/assets/avatar/avatar-sample-light.png' | url }}" alt="Examples of light avatar appearance">
{%- endcall %}

{% call components.example(palette='darkest') %}
  <img src="{{ '/assets/avatar/avatar-sample-dark.png' | url }}" alt="Examples of dark avatar appearance">
{%- endcall %}

<h2>Theme</h2>

<img src="http://www.placehold.it/1200x300"/>

<h2>Orientation</h2>

<p>Both Tab variants have horizontal and vertical orientations. The styles are the same between orientations, only the arrangement of elements is different.</p>

<p>Open tabs feature section text labels that float above the anchor line in the horizontal orientation or to the right of the anchor line in the vertical orientation.</p>

<img src="http://www.placehold.it/1200x300"/>
<img src="http://www.placehold.it/1200x300"/>

<p>Box tabs feature section text labels that are contained in a background and are aligned to the bottom of the anchor line in the horizontal orientation or to the left of the anchor line in the vertical orientation.</p>

<img src="http://www.placehold.it/1200x300"/>
<img src="http://www.placehold.it/1200x300"/>

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Usage") -%}
  <p>Tabs are used for navigating between sections of content in a contained view while staying on the same page. Tabs aren't an optimal component for comparing content simultaneously, use an Accordion instead.</p>

  <h3>Navigation</h3>

  <p>Navigating through each section should display different blocks of content, but not direct users to another page, unless they select a link in the content area.<p>


  <h3>Label formatting</h3>

  <p>Section text labels should be written concisely and be representative of the content within. Be mindful of lengthy character counts and how they can impact the appearance of both variants, especially on smaller screens or if they're translated.</p>

  <h3>Content area</h3>

  <p>A content panel is located below or to the right of the component, depending on horizontal or vertical orientation. It may contain the same elements that can also be used in other sections of the page, like text, cards, images, etc. Text shouldn’t exceed eight grid columns to maintain optimal readability.</p>

{%- endcall %}

<hr class="margin-top--2 margin-bottom--10">

{% call components.section("Best practices") -%}
  <p>Tabs require at least two sections be available for users to navigate through.</p>

  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-wrong-without-text.png' | url }}">
  </div>
  {%- endcall %}

  <p>Don’t use more than five section text labels in the horizontal orientation.</p>

  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-wrong-theme.png' | url }}">
  </div>
  {%- endcall %}

  <p>Don’t add extra spacing in between section text labels.</p>
  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-wrong-text.png' | url }}">
  </div>
  {%- endcall %}

  <p>Don’t change the alignment of section text label groups.</p>
  {% call components.example(palette='wrong') %}
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-wrong-text.png' | url }}">
  </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Behavior") -%}
<h3>Section text labels</h3>
<p>When a different section is clicked on or tapped, the active indicator bar highlights the chosen section and the content below or to the right of the component changes at the same time.</p>

<h3>Overflow scroll buttons</h3>
<p>Overflow scroll buttons can only be used in the horizontal orientation. They help users view any section text labels that are cut off. Don’t use lengthy or too many section text labels and be mindful of how they can impact the appearance of tabs, especially on smaller screens or if they’re translated.</p>

  {% call components.example(palette='light') %}
  <div class="multi-column--min-300-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-behavior-1.png' | url }}">
    <img src="{{ '/assets/avatar/avatar-behavior-2.png' | url }}">
  </div>
  {%- endcall %}

<p class="footnote">Overflow scroll buttons will appear if the number of section text labels exceeds the width of either horizontal variant.</p>

<h3>Responsive design</h3>
<p>Default avatars with text can be used on desktop and mobile. If text that's positioned on the right becomes too compressed, it will flow under and its alignment will change to centered. On mobile, Default avatars with text always stack vertically.</p>

<h3>Mobile</h3>
<p>Tabs can’t be used on screens that are less than 576px wide because the limited space will cause too many section text labels to get cut off. In this environment, tabs will convert to an accordion.</p>

  {% call components.example(palette='light') %}
  <div class="multi-column--min-100-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-responsive-1.png' | url }}">
    <img src="{{ '/assets/avatar/avatar-responsive-2.png' | url }}">
    <img src="{{ '/assets/avatar/avatar-responsive-3.png' | url }}">
  </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

{% call components.section("Breakpoints") -%}
<p>Tabs can be used on a variety of screen sizes, but be mindful of how the group of section text labels will scale down on smaller screens.</p>

 <h3>Desktop</h3>

   {% call components.example(palette='light') %}
  <div class="multi-column--min-300-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-behavior-1.png' | url }}">
    <img src="{{ '/assets/avatar/avatar-behavior-2.png' | url }}">
  </div>
  {%- endcall %}

<p class="footnote">Large screens have lots of space where all of the section text labels can be seen.</p>
  

 <h3>Tablet</h3>

   {% call components.example(palette='light') %}
  <div class="multi-column--min-300-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-behavior-1.png' | url }}">
    <img src="{{ '/assets/avatar/avatar-behavior-2.png' | url }}">
  </div>
  {%- endcall %}

<p class="footnote">Sometimes one or two section text labels will get cut off or break to two lines, which is acceptable.</p>
  

 <h3>Mobile</h3>

   {% call components.example(palette='light') %}
  <div class="multi-column--min-300-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-behavior-1.png' | url }}">
    <img src="{{ '/assets/avatar/avatar-behavior-2.png' | url }}">
  </div>
  {%- endcall %}

<p class="footnote">Don’t use tabs on mobile because too many section text labels will get cut off or severely compressed.</p>
  
{%- endcall %}


{% call components.section("Interaction states") -%}
<p>The interaction states in the horizontal orientation are the same as the vertical orientation of the same variant.</p>

  {% call components.example(palette='light') %}
  <div class="multi-column--min-300-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-behavior-1.png' | url }}">
    <img src="{{ '/assets/avatar/avatar-behavior-2.png' | url }}">
  </div>
  {%- endcall %}

<h3>Tab order</h3>
<p>When the Tab key is pressed repeatedly, the focus indicator highlights each section text label from left to right in the horizontal component or from top to bottom in the vertical component.</p>

{% call components.example(palette='light') %}
  <div class="multi-column--min-300-wide margin-top--1 margin-bottom--1">
    <img src="{{ '/assets/avatar/avatar-behavior-1.png' | url }}">
    <img src="{{ '/assets/avatar/avatar-behavior-2.png' | url }}">
  </div>
  {%- endcall %}
  
  {%- endcall %}

  <hr class="margin-top--10 margin-bottom--10">

{% call components.section("Spacing") -%}
<p>Tabs use <a href="https://www.patternfly.org/v4/design-guidelines/styles/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

<h3>Open tabs</h3>

  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/avatar/avatar-spacing-1.png' | url }}">
        <img src="{{ '/assets/avatar/avatar-spacing-2.png' | url }}">
    </div>
  {%- endcall %}

  <h3>Box tabs</h3>

  {% call components.example(palette='light') %}
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="{{ '/assets/avatar/avatar-spacing-1.png' | url }}">
        <img src="{{ '/assets/avatar/avatar-spacing-2.png' | url }}">
    </div>
  {%- endcall %}

{%- endcall %}

<hr class="margin-top--10 margin-bottom--10">

<div class="multi-column--min-300-wide">
  {% call components.section("Related components") -%}
    <p><a href="#">Accordion</a></p> <!-- future link -->
    <p><a href="#">Scrollspy</a></p> <!-- future link -->
  {%- endcall %}

  {% call components.section("Feedback") -%}
    <p>For feedback and bug reports, create an issue <a href="https://github.com/patternfly/patternfly-elements"> in our GitHub repository.</p>
  {%- endcall %}
</div>
